div.beta-footer {
  border-bottom: 0;
  margin-bottom: 15px; }
  div.beta-footer > .beta-footer-inner {
    padding-top: 15px;
    background-color: #fffaf2;
    border: 2px solid #fe9f34;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px; }

div.footer-top {
  padding-top: 25px;
  border-top: 1px solid #e2e2e2; }

.beta-footer > .beta-footer-inner {
  padding: 10px; }

/*# sourceMappingURL=main_beta-highlight.css.map */