.kf-flows{
	&.no-flow{
		overflow: hidden !important;
	}
	&.gigya-login{
		margin: 0;
	}
	.hidden {
		padding: 0 !important;
		margin: 0 !important;
		display: none !important;
		height: 0 !important;
	}

	.kf-log-in {
		.gigya-composite-control-label.promp-mess {
			display: block;
		}
		.gigya-composite-control-label.label-divider {
			margin-top: 20px;
		}
		.gigya-composite-control-label.email-add-prompt {
			display: block;
		}
		.gigya-composite-control-textbox.krsflyer-email-bar {
			display: block;
		}
		.gigya-composite-control-label.krisflyer.login {
			display: block;
		}
		.gigya-composite-control.gigya-composite-control-link.login-help {
		    width: 100%;
			position: absolute;
			float: unset !important;
			right: 0;
		}
		.gigya-composite-control-captcha-widget.captha.gigya-v1 {
			padding: 0 !important;
		}
		.gigya-composite-control.gigya-composite-control-link.not-yet-member {
		    position: relative;
		    float: left;
		    color: #0254ec;

		    .arrow-right {
		    	font-size: 9px;
    			color: #0254ec;
		    }
		}
	}
	.log-in-error {
		.alert-block.error-alert {
			margin-bottom: 20px;
		}
	}
	.log-in-email {
		label.gigya-composite-control.gigya-composite-control-label.login-social-media-link {
			position: relative;
			width: 100%;
			margin-left: 0;
			font-size: 14px !important;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		}
		label.gigya-composite-control.gigya-composite-control-label.krisflyer.login {
			color: #000;
		}
	
		.gigya-composite-control-textbox.krisflyer-number-input-bar {
			margin-bottom: 0px;
		}
		
		.social-media-mess {
			p {
				font-size: 12px;
				color: #000;
			}
		}
		.login-krisflyer-number {
			position: absolute;
			top: 57%;
			left: 6%;
		}
		.gigya-composite-control-label.email-add-prompt {
			display: block;
			padding: 20px;
			background: #e5e9f0;
			color: #00266b;
			font-size: 14px;
			margin-bottom: 20px;

			em{
				font-size: 30px;
				float: left;
				/* width: 50%; */
				display: block;
				height: 80px;
				color: #00266b;
			}

			.prompt-message{
				width: 80%;
				display: block;
				margin-left: 50px;

				.message{
					margin-top: 5px;
					font-size: 14px;
					color: #00266b;
					line-height: 1.5em;
					display: block;
				}
	
				b {
					line-height: 1.2em;
					color: #00266b;
					font-size: 16px;
					font-weight: 600 !important;
				}
			}
		}
	}
	.kf-not-verified {
		.gigya-composite-control-label.email-add-prompt {
			display: block;
			padding: 10px 20px 10px 60px;
			background: #e5e9f0;
			color: #00266b;
			font-size: 14px;
			margin-bottom: 20px;

			b {
				color: #00266b;
				 line-height: 1.5em;
			}
		}
	}

	.kf-wrong-sm{
		h2.gigya-composite-control.gigya-composite-control-header.link-accounts-main-header {
			padding: 15px;
			background-color: #e5e9f0;
			margin-bottom: 20px;
			em{
				float: left;
				font-size: 30px;
				color: #00266b;
				margin-left: -5px;
			}
			p.link-accounts-msg {
				font-size: 14px !important;
				margin-left: 45px;
				color: #00266b;
				font-weight: 400;
			}
		}
	}

	 .mute .gigya-label span {
	 	color: #777 !important;
	 }


	.popup-window-login  {
		position: relative;
		.gigya-login-form {
			width: 95%;
		}
		.sub-heading-1--blue {
			margin-bottom: 20px;
		}
		.gigya-composite-control-label.label-divider {
		    margin-top: 40px;
		}
		.gigya-composite-control-checkbox.remember-checkbox {
			width: 110px;
		}
		.gigya-composite-control-link.login-help {
			width: 100%;
			position: absolute;
			right: 10px;
		}
		.gigya-composite-control-submit.submit-wrapper.login-btn {
		    padding: 0;
		    margin-bottom: 10px;
		}
		.gigya-composite-control-link.sign-up {
			float: left;
			width: 100%;
		    font-size: 14px;
		    color: #0254ec;
		    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;

		    .arrow-right {
		    	font-size: 8px;
    			color: #0254ec;
		    }
		}
	}

	.join-krisflyer-tab{
		.gigya-composite-control.gigya-composite-control-checkbox{
			span.gigya-label-text.gigya-checkbox-text{
				color: #000;
			}
		}
	}
	.valid-promo-code {
		background-color: #f7f7f7;
		padding: 5px 20px 20px;
		.promo-message-container {
			background-color: #cdf0d0;
			padding: 5px 15px;
		}
		em.ico-success {
			color: #07b110;
			font-size: 30px;
			float: left;
		}

		.success-message{
			width: 70%;
			margin-top: 12px;
			margin-bottom: 12px;
			font-size: 14px;
			color: #000;
		}
	}
	.invalid-promo-code {
		display: block;
		position: relative;

		background-color: #f7f7f7;
		padding: 5px 20px 5px;
		.promo-message-container {
			background-color: #fff1f0;
			padding: 5px 15px;
		}
		em.ico-close-round-fill{
			color: #ff0000;
			font-size: 30px;
			float: left;
		}

		.error-message{
			width: 70%;
			margin-top: 12px;
			margin-bottom: 12px;
			font-size: 14px;
			color: #000;
		}
	}

	.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown input, 
	.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown select, 
	.gigya-screen .gigya-composite-control.gigya-composite-control-password input, 
	.gigya-screen .gigya-composite-control.gigya-composite-control-password select, 
	.gigya-screen .gigya-composite-control.gigya-composite-control-textbox input, 
	.gigya-screen .gigya-composite-control.gigya-composite-control-textbox select {
		border-radius: 2px !important;
	}
	
	.gigya-multi-choice-item {
		width: 70px;
		margin: 0;
	}
	
	.gigya-composite-control.gigya-composite-control-multi-choice {
		position: relative;
		clear: both;
	}
	
	.gigya-composite-control.gigya-spacer {
		height: 4px !important;
	}
	
	select#gigya-dropdown-80957577032288340 {
		width: 41vw;
	}
	
	// Gigya notify bg block
	//   - T&C
	.gigya-composite-control.gigya-composite-control-checkbox.krisflyer-terms-conditions-block,
	 {
		padding: 20px 10px 25px !important;
		background-color: #e5e9f0;
		
		input + label {
			width: 90% !important;
		}
	}
	

	// Gigya Header styles
	.gigya-composite-control-label.links-header,
	.kf-label-kf-com-pref,
	.kf-label-mailing-information {
		letter-spacing: 0.4px !important;
		color: #00226b !important;
		font-size: 18px !important;
		margin-top: 20px !important;
		padding-bottom: 15px !important;
		font-weight: 600 !important;
		margin-bottom: 15px;
	}

	// Require text style	
	.required-text {
		font-size: 12px !important;
		color: #666666 !important;
		line-height: 15px
	}
		

	// KF Password instruction style
	.gigya-composite-control.gigya-composite-control-label.password-block {
		font-style: italic;
		color: #666 !important;
		font-size: 14px;
		line-height: 20px;
	}

	// Make it closer <3
	.promocode-input-field .gigya-input-text {
		margin-bottom: 5px !important;
	}

	// Apply button on promo code
	.apply-promocode-btn  {
		position: relative;
		cursor: pointer;
		border-radius: 2px;
		border-color: #1371b9;
		box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
		color: #fff;
		background-color: #1d87ff;
		-ms-flex-line-pack: center;
		align-content: center;
		text-align: center;
		background-color: #00266b;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		padding: 14px 0 !important;
		margin: 0 auto 5px;
		display: block !important;
		
		b {
			color: #fff;
			display: block;
			font-size: 12px !important;
			text-align: center;
		}
	}
	
	// ToC checkbox block
	.gigya-composite-control.gigya-composite-control-checkbox.krisflyer-terms-conditions-block.gigya-terms-valid {
		width: auto !important;
		label {
			width: 74.9vw;
		}
	}

	// kf-registration-completion.html - Social media prompt
	.gigya-composite-control-label.social-prompt-profile-completion,
	.gigya-composite-control-label.social-prompt-profile-nonexistent {
		background-color: #E5EAF0;
		padding: 20px !important;
		font-size: 14px !important;
		font-weight: 400 !important;
		line-height: 21px;
		margin-bottom: 15px;
		color: #00226b;
	} 	

	// 'Partner promotions' in default state disabled style effect .
	.mute .gigya-label span {
		color: #777 !important;
	}

	
	// Referral section and coupon

	.kf-referral-heading,
	.kf-referral-copy,
	.kf-referral-membership-number-field,
	.kf-coupon-heading,
	.kf-coupon-copy,
	.kf-coupon-code-field  {
		background: #f7f7f7 !important;
		margin: 0 !important;
	}
	
	.kf-referral-heading {
		margin-top: 5px !important;
	}

	.kf-referral-heading,
	.kf-coupon-heading {
		padding: 25px 20px 10px!important;
		width: auto !important;
		display: block !important;
	}
	
	.kf-referral-copy,
	.kf-coupon-copy {
		padding-left: 20px !important;
		padding-right: 20px !important;
		padding-bottom: 10px !important; 
	}
	
	.kf-coupon-code-field  {
		position: relative;
		padding: 0 20px 5px !important;
		.gigya-input-text {
			margin-bottom: 5px !important;
		}
	}

	.kf-referral-membership-number-field {
		padding: 0 20px 15px !important;
		margin-bottom: 5px !important;
	}

	.apply-promocode-btn {
		position: relative;
		z-index: 1;
		width: auto;
		margin: 10px 20px 20px;
		
		&:before {
			content: '';
			display: block;
			background: #f7f7f7 !important;
			width: calc(100% + 40px);
			height: 82px;

			position: absolute;
			top: -15px;
			left: -20px;
			z-index: -1;
		}

		&:after {
			content: '';
			display: block;
			background: #00266b;
			width: 100%;
			height: 100%;

			border-radius: 2px;
			border-color: #1371b9;
			box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
			color: #fff;

			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
		}

		b {
			position: relative;
			z-index: 1;
		}
	}
	// .kf-coupon-code-field:after {
	// 	content: ' ';
	// 	display: block;
	// 	background: #f7f7f7;
	// 	width: auto;
	// 	height: 70px;
	// 	top: 60px;
	// 	right: 0px;
	// 	z-index: 0;

	// 	.apply-promocode-btn {
	// 		margin: -130px 0px 80px 0px;
	// 	}
	// }

	.gigya-composite-control.gigya-composite-control-checkbox  {
		
		input + label:not(.krisflyer-terms-conditions-block .gigya-label){
			width: 80% !important;
		}
	}
	.gigya-composite-control.gigya-composite-control-checkbox {
		.ico-info-round-fill {
			    color: #999 !important;
		}
	}

	.gigya-composite-control.gigya-composite-control-label.password-block {
		    font-style: italic;
		    font-size: 14px;
		    color: #666 !important;
		    line-height: 20px;
	}

	.gigya-multi-choice-item {
		position: relative;

		input {
			position: absolute;
			top: 3px;
			opacity: 0;
			z-index: 4;
			cursor: pointer;

			&:checked + label:after {
				width: 8px;
				height: 8px;
				top: 4px;
				left: 3px;
				background-color: #f99f1c;
			}
		}

		label {
			position: relative;
			padding-left: 25px;
			margin-left: 0 !important;

			&:before {
				width: 12px;
				height: 12px;
				top: 1px;
				left: 0;
				border: solid 1px #bdbdbd;
				background: #fff;

				content: '';
				border-radius: 100%;
				position: absolute;
			}

			&:after {
				content: '';
				border-radius: 100%;
				position: absolute;
			}
		}


	}
}

@import "./modules/smii-kf-flows";
