.ru-flows {
	.gigya-composite-control.gigya-composite-control-checkbox.silk-air-tooltip.gigya-terms-valid label{
		span{
			color: #000000;
		}
	}

	.tabs-component .tabs--1 .tab-wrapper .gigya-composite-control.gigya-composite-control-checkbox.partners-tooltip{
		span.gigya-label-text.gigya-checkbox-text{
			color: #777777;
		}
		&.tc-partners{
			span.gigya-label-text.gigya-checkbox-text{
				color: #000000;
			}
		}
	}
	.ru-profile-edit-container{
		.gigya-screen .gigya-composite-control.gigya-composite-control-textbox input{
			margin-bottom: 5px;
		}
		label.gigya-composite-control.gigya-composite-control-label.cancel-btn{
			position: absolute;
			-webkit-transform: translateY(205px);
			transform: translateY(205px);
			border-radius: 3px;
			width: 114%;
			letter-spacing: 0.8px;
			text-align:center;
			padding-top: 13px;
			padding-bottom: 13px;
			left: 0;
			margin-left: -20px;
			b{
				font-size: 12px;
			}
		}
		.gigya-composite-control.gigya-composite-control-submit.save-btn{
			width: 114%;
			transform: translateY(140px);
			border-radius: 3px;
			
			input[type=submit]{
				border: none;
				border-radius: 3px;
			}
		}
		.gigya-register-form{
			&:last-child{
				position: relative;
				.gigya-composite-control.gigya-composite-control-checkbox.terms-conditions-promt{
					position: absolute;
					margin-left: 0;
					width: 100%;
					top: 102%;
	
					span{
						width: 95%;
						display: inline-block;
						font-size: 14px;
						color: #000000;
						margin-left: 6px;
						a{
							font-size: 14px;
							color: #0254ec;
						}
					}

					input{
						position: relative;
						margin-left: -8px;
					}
				}
			}
		}
		label.gigya-composite-control.gigya-composite-control-label.title-silk-air{
			margin-right: -10px;
		}
		label.gigya-composite-control.gigya-composite-control-label.reminder-message{
			font-size: 15px;
		}
		label.gigya-composite-control.gigya-composite-control-label.communication-header{
			font-size: 18px;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown select{
			border-radius: 2px;
			border: 1px solid #cccccc;
		}
		.gigya-composite-control.gigya-composite-control-dropdown.drop-down-selection{
			span{
				font-size: 13.5px !important;
			}
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-checkbox .gigya-label{
			span{
				font-size: 14px !important;
				color: #777777;
			}
		}
		span.gigya-label-text{
			color: #333333;
			font-size: 15px !important;
		}
		label.gigya-composite-control.gigya-composite-control-label.text-info{
			margin-top: 10px;
		}
		label.gigya-composite-control.gigya-composite-control-label.links-header.pref-text{
			margin-top: 0;
			font-size: 18px;
		}
		.gigya-composite-control.gigya-composite-control-multi-choice.european-custom-radio{
			margin-bottom: 25px;
			span{
				font-size: 15px;
				color: #333333;
				a{
					font-size: 15px;
					color: #5a688d;
				}
			}
		}
		.gigya-multi-choice-item {
			display: inline;
			float: left;
			width: 50%;
			padding-top: 0;
			
			label{
				font-size: 14px;
				color: #333333;
			}
		}
	}
		.gigya-layout-row{

		.gigya-composite-control.gigya-composite-control-label.gigya-message{
			padding-bottom: 0px !important;
			a{
				color: #084bf2;
			}
		}
	}
	aside.popup.popup-3.popup--login.ru-login.animated{
		.gigya-screen .gigya-composite-control{
			padding-bottom: 20px;

			&.login-link {
				width: 100%;
				text-align: center;

				a {
					font-size: 14px;
					color: #084bf2;
				}
			}
		}
	}
	.gigya-composite-control.gigya-composite-control-label.sub-heading-1--blue{
		//padding-top: 18px;
		padding-bottom: 10px;

	}
	.gigya-composite-control.gigya-composite-control-label.comm-pref-text{
		font-size: 15px !important;
		color: #333333 !important;
		padding-bottom: 16px !important;
	}

	&.gigya-registration {
		label.gigya-composite-control.gigya-composite-control-label.sub-heading-1--blue.comm-pref-text{
			color: #00266b !important;
			font-size: 18px !important;
			margin-top: 16px;
		}
		.gigya-composite-control.gigya-composite-control-checkbox.terms-conditions{
			label.gigya-label{
			 span.gigya-label-text.gigya-checkbox-text{
			  font-size: 14px;
			  color: #000;
			  a{
			   font-size: 14px;
			  }
			 }
			}
		}

		.gigya-screen .gigya-composite-control.gigya-composite-control-textbox .gigya-label-text{
			display: inline-block !important;
		}

		.create-account-tab .gigya-screen .gigya-composite-control.gigya-composite-control-password {
			padding-bottom: 5px;
		}
	}
	.gigya-composite-control.gigya-composite-control-checkbox.partners-tooltip{
		padding-bottom: 30px;
	}
	.gigya-composite-control.gigya-composite-control-multi-choice.custom-radio.custom-radio--1.gdpr-block {
		.gigya-label{
			padding-left: 0px !important;
			padding-bottom: 0px !important;
			span{
				font-size: 15px !important;
				a{
					color: #566a8f !important;
					font-size: 15px !important;
				}
			}
		}
		.gigya-multi-choice-item{
			display: inline-block;
			padding-top: 23px;
			label{
				// margin-bottom: 30px;
				margin-left: 0px;
				margin-right: 23px;

				font-size: 14px;
			}
		}
	}

	.gigya-composite-control.gigya-composite-control-label.sign-up-description{
		font-size: 12px !important;
		color: #666666 !important;
		padding-bottom: 30px !important;
	}

	table.gigya-login-providers-container {
    	margin-left: 20px;
	}

	.gigya-screen .gigya-social-login-container{
		height: 49px !important;
	}
	
	.gigya-composite-control.gigya-composite-control-label.resend-btn {
		display: block;
	    background-color: #00266b;
	    border-radius: 3px;
	    width: 100%;
	    text-align: center;
	    padding: 14px 0;
	    position: relative;
	    text-transform: uppercase;

	    b {
	    	color: #fff;
	    	font-size: 12px;
	    }
	}


	.gig-edit-connections {}
	label.gigya-composite-control.gigya-composite-control-label.pin-eye-description {
		text-align: left;
		float: left;
		font-style: italic;
		color: #6e6f70;
		margin-top: -5px;
		font-size: 12px;
	}
	.ui-autocomplete [data-value="No results found."] {
		&:hover,
		&:active {
			background: transparent;
			color: black;
		}
		.autocomplete-link {
			color: black;
		}
	}
	input.gigya-input-submit.disabled {
		background-color: #999 !important;
		color: #ddd !important;
		cursor: default;
		border: none;
	}
	.join-krisflyer-tab {
		.input-1.capitalize-input.firstname-disabled {
			background-color: #efefef;
			border: 1px solid #cccccc;
		}
		.gigya-error-msg.gigya-error-msg-active {
			font-size: 14px;
			margin: 4px 0px;
		}
		.input-1.capitalize-input.input-error {
			background-color: #fef5f4;
			border: 1px solid #ff0000;
			color: #ff0000;
			.gigya-error-msg.gigya-error-msg-active {
				margin-left: -13px;
				margin-top: 8px;
			}
		}
		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		.phone-numbers {
			.grid-inner {
				padding-right: 5px;
				padding-left: 3px;
			}
		}
		.grid-col.full.additonal-address-line {
			margin-top: 10px;
		}
		.terms-conditions .custom-checkbox label a {
			display: inline;
		}
		.form-registration .sub-text-1 {
			font-weight: bold;
			margin-top: 10px;
		}
		label {
			color: #000000;
		}
		.form-group .custom-radio {
			margin-right: 20px;
		}
		.block-4 {
			border: none;
			padding-bottom: 0;
			margin-bottom: 35px;
			&.accordion {
				background-color: #f0f0f0;
			}
			.add-address {
				margin-left: 5px;
				em {
					font-size: 8px;
					margin-top: -2px;
				}
			}
		}
		.block-2 {
			background: #f0f0f0;
			border: none;
			zoom: 1;
		}
		.accordion__control {
			padding: 5px 18px 0px 0px;
			.ico-point-d {
				margin-top: 0px;
				color: #0254ec;
			}
			.sub-text-1 {
				font-size: 16px;
			}
		}
		.accordion {
			padding: 0 5px;
		}
		.form-registration .terms-conditions {
			margin: 20px 0;
			padding: 20px 15px;
			input+label {
				color: #000000;
			}
		}
		.btn-1 {
			padding: 14px 32px;
		}
	}
	.create-account-tab,
	.create-account-tab-completion {
		.gigya-screen .gigya-composite-control.gigya-composite-control-password {
			padding-bottom: 0;
			span.gigya-error-msg.gigya-error-msg-active {
				margin-bottom: 0px;
				line-height: 1.0;
				padding-bottom: 0; // min-height: 35px;
			}
			.gigya-screen .gigya-error-msg {
				height: auto;
			}
		}
		.gigya-screen input.gigya-input-password.gigya-input-password.gigya-error {
			margin-bottom: 5px;
		}
		label.gigya-composite-control.gigya-composite-control-label.pin-eye-description {
			margin-top: 0px;
			position: relative;
		}
		.gigya-required-display.gigya-conditional.gigya-reset {
			&.hidden-asterisk {
				opacity: 0;
			}
		}
		.gigya-composite-control.gigya-composite-control-subscription-widget.terms-conditions {
			.gigya-input-checkbox:checked~label {
				// font-weight: 600;
			}
		}
		.gigya-composite-control.gigya-composite-control-dropdown.select-country {
			margin-top: 6px;
		}
		.gigya-composite-control.gigya-composite-control-link.social-icons {
			width: 100%;
		} // .gigya-composite-control.gigya-composite-control-checkbox.terms-conditions {
		//     width: 93%;
		// }
		.gigya-screen .gigya-composite-control.gigya-composite-control-textbox .gigya-error-msg-active {
			padding-top: 0;
			padding-bottom: 0px;
		}
		.gigya-composite-control.gigya-composite-control-header.sub-heading-1--blue,
		.gigya-composite-control.gigya-composite-control-label.sub-heading-1--blue {
			font-size: 18px;
			font-weight: 600;
			color: #00266b;
			text-align: left;
			line-height: 1.3;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown select.gigya-error {
			background-color: #fef5f4 !important;
			border-color: #ff0000;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown input,
		.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown select,
		.gigya-screen .gigya-composite-control.gigya-composite-control-password input,
		.gigya-screen .gigya-composite-control.gigya-composite-control-password select,
		.gigya-screen .gigya-composite-control.gigya-composite-control-textbox input,
		.gigya-screen .gigya-composite-control.gigya-composite-control-textbox select {
			margin-bottom: 4px;
		}
		.gigya-screen .gigya-error-msg,
		.gigya-screen .gigya-error-msg-active.gigya-form-error-msg {
			// height: 20px;
		}
		.pin-eye-icon {
			top: 36px;
			right: 5px;
		}
		.gigya-screen .label-divider {
			span {
				margin-top: 20px;
				background-color: #f7f7f7;
				border-radius: 50%;
				padding: 10px
			}
		}
		.gigya-composite-control-dropdown {
			select {
				border-radius: 2px;
			}
		}
		.gigya-composite-control.gigya-composite-control-subscription-widget.terms-conditions {
			.subs-widget-container {
				input {
					+label {
						padding-left: 23px !important;
						a {
							color: #0254ec;
							font-size: 14px;
							font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
						}
					}
				}
			}
		}
		.gigya-composite-control.gigya-composite-control-checkbox.terms-conditions,
		.gigya-composite-control.gigya-composite-control-subscription-widget.terms-conditions {
			padding: 20px;
			background-color: #e5e9f0;
			input {
				+label {
					// padding-left: 40px;
					&::before {
						// margin-left: 20px;
					}
					span {
						a {
							color: #0254ec;
							font-size: 14px;
						}
					}
				}
			}
			input:checked+label::after {
				// left: 21px;
			}
		}
		.gigya-screen input[type=submit] {
			float: right;
			height: 35px;
			border-radius: 3px;
			margin-top: 20px;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-checkbox .gigya-label {
			width: 87%;
		}
		.gigya-composite-control.gigya-composite-control-dropdown {
			width: 100%;
		}
		.gigya-layout-row {
			.gigya-layout-cell:first-child {
				width: 49%;
				padding-right: 18px;
			}
			.gigya-layout-cell:nth-child(2) {
				width: 49%;
			}
		}
		.gigya-composite-control.gigya-spacer {
			padding-bottom: 0px;
			margin-top: 2px;
		}
		.gigya-screen.portrait .gigya-composite-control {
			// padding-left: 0;
			// width: 100%;
			&.alert-message {
				background-color: #e5eaf0;
				padding: 20px;
				color: #00266b;
				margin-bottom: 15px;
				margin-top: 10px;
				font-size: 14px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			}
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-header {
			padding-bottom: 10px;
			margin-top: 20px;
		}
		.gigya-screen.portrait {
			width: auto;
			max-width: none !important;
		}
		.gigya-screen .gigya-layout-row {
			text-align: left;
		}
	} // .ru-ico-close {
	// }
	// .ru-form-error {
	// }
	// .ru-form-error-txt {
	// }
	.change-password {
		position: relative;
		label.gigya-composite-control.gigya-composite-control-label.pin-eye-description {
			margin-top: -10px;
			font-style: italic;
			font-size: 12px;
			width: 100%;
		}
		.gigya-error-msg.gigya-form-error-msg.gigya-error-code-403005.gigya-error-msg-active {
			color: #000000 !important;
		}
		.gigya-error-msg.gigya-form-error-msg.gigya-error-code-403005.gigya-error-msg-active {
			margin-top: 9px;
		}
		.gigya-screen input.gigya-input-password.gigya-input-password.gigya-error {
			margin-bottom: 5px;
		}
		.gigya-screen.portrait .gigya-error-msg-active.gigya-form-error-msg,
		.gigya-screen.portrait .gigya-error-msg.gigya-error-msg-active {
			font-size: 14px;
			color: #ff0000;
			font-weight: 400; // margin-left: 10px;
			//     margin-top: 9px;
		}
		.gigya-input-password {
			// margin-bottom: 0px !important;
		}
		.gigya-composite-control-submit {
			margin-top: 15px;
		}
		.gigya-composite-control-form-error .gigya-form-error-msg {
			// position: initial !important;
			font-size: 14px;
			text-align: left;
			font-weight: 400;
			padding: 0;
			margin-top: 4px;
			color: #ff0000;
		}
		.gigya-composite-control-form-error {
			padding: 14px 8px;
			background-color: #fff1f0;
			margin-bottom: 10px;
		}
		.ico-close-round-fill {
			float: left;
			color: #ff0000;
			font-size: 25px;
			margin-left: 5px;
		}
	}
	.logged-in.profile-pic {
		padding-bottom: 25px;
		.img-prof-pic {
			width: 40px;
			border-radius: 50%;
			position: absolute;
			top: 2px;
		}
		.btn-1.btn-full {
			line-height: 18px;
		}
		.ico-point-r {
			margin-top: -4px;
		}
		.status-content {
			margin-left: 50px;
			color: #ffffff;
		}
		a {
			padding-top: 5px;
		}
		.popup__heading .pax-type {
			font-weight: 400;
			margin-bottom: 0;
			line-height: 1.5;
		}
		.btn-1 {
			padding: 12px;
			font-weight: 700;
		}
	}
	.gigya-screen .gigya-required-display {
		color: #000000;
	}
	.gigya-screen .gigya-required-display {
		padding: 0 2px;
	}
	.welcome-page,
	.activate-error {
		.vf-sent-text {
			color: #000000;
			font-size: 16px;
		}
		.alert-block {
			padding: 10px 18px;
			margin-bottom: 20px;
		}
	}
	.kf-signup {
		&.popup--confirmation-error {
			.popup__inner {
				max-width: 400px;
			}
		}
		.main-heading {
			font-size: 26px;
		}
		.kf-desc {
			color: #000000;
			font-size: 16px;
		}
		.button-group {
			position: relative;
			height: 40px;
			width: 100%;
			margin-top: 30px;
			.btn-1 {
				float: right;
			}
		}
	}
	.popup.popup-3.popup--login.ru-login .verification-pending .gigya-screen .gigya-composite-control.resend-btn {
		padding: 12px 0;
	}
	.verification-pending {
		.gigya-screen .gigya-composite-control.gigya-composite-control-textbox input {
			margin-bottom: 4px;
		}
		.gigya-screen.portrait {
			padding-bottom: 0;
		}

		.gigya-screen {
			.gigya-message a {
				font-size: 14px;
			}
		}

		

		.gigya-label-text.gigya-composite-control.gigya-composite-control-label {
			background-color: #e5eaf0;
			padding: 20px;
			.ico-info-round-fill {
				float: left;
				font-size: 31px;
				color: #00266b;
				line-height: 0.9em;
				text-align: left;
				width: 31px;
				display: block;

				&:before {
					margin:0;
				}
			}
			.alert-text {
				font-size: 14px;
				font-weight: 400;
				line-height: 1em;
				color: #00266b;
				margin-left: 48px;
				
				.heading {
					font-size: 16px;
					line-height: 1em;
					color: #00266b;
					font-weight: 600;

					display: block;
				}
				.sub-text {
					font-size: 14px;
					line-height: 1em;
					color: #00266b;
				}
			}
		}
	}
	&.link-accounts {
		.gigya-screen .gigya-composite-control.gigya-composite-control-textbox input {
			margin-bottom: 4px;
		}
		.gigya-composite-control.gigya-composite-control-header.sub-heading-1--blue {
			color: #00266b;
			font-size: 26px;
			font-family: "baker-signet-web", serif;
			line-height: 1.2;
			text-align: left;
			padding-bottom: 10px;
		}
		.gigya-composite-control.gigya-composite-control-header.sub-heading-1--blue.success-msg {
			color: #00266b;
			font-size: 26px;
			font-family: "baker-signet-web", serif;
			line-height: 1.2;
			text-align: left;
		}
		.gigya-screen.portrait {
			margin: 0;
			padding-top: 0px; // width: 715px;
			.gigya-composite-control.gigya-composite-control-label {
				color: #000000;
				padding-bottom: 12px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				&.reset-desc {
					font-size: 16px;
				}
			}
		}
		.gigya-screen .gigya-layout-row {
			text-align: left;
		}
		.gigya-input-submit,
		.ru-flows .gigya-screen input[type=submit] {
			background-color: #00266b;
			width: 110px;
			float: right;
			height: 42px;
			border-radius: 3px;
		}
	}
	.gigya-screen.portrait.mobile {
		padding: 0;
	}
	.login-social-media {
		.gigya-screen .gigya-composite-control.gigya-composite-control-textbox input {
			margin-bottom: 4px;
		}
		.gigya-screen.portrait.mobile .gigya-composite-control-label {
			float: left;
			font-size: 16px;
		}
		.gigya-composite-control.gigya-composite-control-link.sign-up {
			margin-top: 10px;
		}
		.gigya-label,
		.gigya-label-text.gigya-checkbox-text {
			font-size: 14px;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		}
		.gigya-screen .gigya-composite-control {
			&.gigya-composite-control-header {
				color: #000000;
				text-align: left;
				font-size: 14px;
				padding-bottom: 15px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			}
			&.gigya-composite-control-submit {
				padding-bottom: 5px;
				font-size: 14px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			}
			&.gigya-composite-control-label.log-in-text {
				color: #000000;
				width: 100%;
				font-size: 14px;
				font-weight: 500;
				padding-bottom: 10px;
			}
		}
		.gigya-layout-row {
			.sign-up {
				width: 100%;
				font-size: 14px;
				color: #0254ec;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				span {
					font-size: 8px;
					color: #0254ec;
				}
			}
		}
		.gigya-composite-control.gigya-composite-control-label.link-accounts-main-header {
			background-color: #e5eaf0;
			padding: 15px;
			margin-bottom: 20px;
			.ico-info-round-fill {
				float: left;
				font-size: 30px;
				color: #00266b;
			}
			.alert-text {
				font-size: 14px;
				color: #00266b;
				margin-left: 50px;
				.heading {
					font-size: 16px;
					color: #00266b;
					font-weight: 600;
				}
				.sub-text {
					font-size: 14px;
					color: #00266b;
				}
			}
		}
	}
	.profile-update {
		img.pin-eye-icon {
			top: 38px;
		}
		.gigya-screen.portrait.mobile .gigya-label-text {
			font-size: 16px;
		} // .gigya-screen.portrait.mobile .gigya-composite-control-label{
		// 	font-size: 16px;
		// }
		.gigya-screen .gigya-composite-control .gigya-composite-control-password input {
			margin-bottom: 30px;
		}
		.gigya-input-submit,
		.ru-flows .gigya-screen input[type=submit] {
			background-color: #00266b;
			height: 42px;
			border-radius: 3px;
		}
		.gigya-screen.portrait {
			padding-left: 0;
			padding-right: 0;
			margin: 0;
			padding-top: 0;
		}
		.main-text.gigya-message.letter-spacing-s.sub-heading-1--blue {
			color: #00266b;
			font-size: 26px;
			font-family: "baker-signet-web", serif;
			font-weight: 400;
			padding-bottom: 20px;
		}
		.gigya-composite-control.gigya-composite-control-label {
			text-align: left !important;
			color: #000000;
		}
		.gigya-screen .gigya-layout-row {
			text-align: left;
		}
	}
	.registration-intermediate {
		.gigya-screen .gigya-composite-control.gigya-composite-control-textbox {
			padding-bottom: 0;
			margin-top: 5px;
		}
		label.gigya-composite-control.gigya-composite-control-label.pin-eye-description {
			margin-top: 5px;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-textbox input {
			margin-bottom: 0px;
		}
		.gigya-screen .gigya-form-error .gigya-composite-control.gigya-composite-control-form-error.gigya-error-display-active {
			padding: 10px;
			background-color: #fff1f0;
			margin-bottom: 10px;
		}
		.ico-close-round-fill {
			float: left;
			color: #ff0000;
			font-size: 25px;
			margin-top: -4px;
		}
		.gigya-error-msg.gigya-form-error-msg.gigya-error-code-403005.gigya-error-msg-active {
			color: black !important;
		}
		.gigya-screen.portrait .gigya-error-msg-active.gigya-form-error-msg,
		.gigya-screen.portrait .gigya-error-msg.gigya-error-msg-active {
			font-size: 13px;
			text-align: left;
			font-weight: 400;
			padding: 5px 0px 0px;
			margin-bottom: -5px;
			color: #ff0000;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-header {
			text-align: left;
			font-family: "baker-signet-web", serif;
			font-size: 26px;
			color: #00266b;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-submit {
			padding-bottom: 0;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-label.main-text {
			font-size: 16px;
			color: #000000;
			padding-bottom: 20px;
			font-weight: 400;
		}
		.pin-eye-icon {
			top: 36px;
		}
	}
	label.gigya-composite-control.gigya-composite-control-label.text-info {
		float: left;
		font-size: 12px;
		line-height: 15px;
	}
	.gigya-composite-control.gigya-composite-control-checkbox.check-box {
		width: 85%;
		margin-right: 0;
		position: relative;
		float: left;
	}
	.gigya-composite-control.gigya-composite-control-multi-choice.european-custom-radio {
		.gigya-label-text {
			text-align: left;
		}
		.gigya-multi-choice-item .gigya-composite-control.gigya-composite-control-textbox.first-name-input{
			display: inline;
			margin: 0;
			label {
				display: inline;
				margin-left: 0;
				padding-right: 100px;
				margin-top: 2px;
			}
			input[type=radio] {
				margin-top: -3px !important;
			}
		}

		a {
			color: #566a8f;
		}
	}
	.gigya-composite-control.gigya-spacer.space-1 {
		padding: 0;
	}

	.gigya-composite-control.gigya-composite-control-textbox.first-name-input {
		padding-bottom: 10px;
		.gigya-input-text {
			margin-bottom: 0;
		}
	}
	label.gigya-composite-control.gigya-composite-control-label.communication-header {
		float: left;
		color: #00266b;
		font-weight: 600;
	}
	label.gigya-composite-control.gigya-composite-control-label.title-singapore {
		text-align: left;
		margin-right: 20px;
		margin-left: 33px;
		font-weight: 600;
		color: #000;
		padding-bottom: 15px;
		font-size: 14px;
	}
	label.gigya-composite-control.gigya-composite-control-label.title-silk-air {
		float: right;
		position: relative;
		font-weight: 600;
		color: #000;
		padding-bottom: 15px;
		font-size: 14px;
	}
	label.gigya-composite-control.gigya-composite-control-label.promotions-1 {
		padding-bottom: 19px;
		display: block;
		font-size: 14px !important;
	}
	label.gigya-composite-control.gigya-composite-control-label.news-1 {
		float: left;
		padding-bottom: 21px;
		display: block;
		font-size: 14px !important;
	}
	.gigya-composite-control.gigya-composite-control-label.partner-promotions-1 {
		font-size: 14px !important;
	}
	.gigya-composite-control.gigya-composite-control-checkbox.checkbox-1 {
		margin-bottom: 18px;
		margin-left: 40px;
	}
	label.gigya-composite-control.gigya-composite-control-label.engagement-1 {
		padding-bottom: 21px;
		float: left;
		font-size: 14px;
	}
	.gigya-composite-control.gigya-composite-control-checkbox.checkbox-2 {
		margin-left: 41px;
		margin-top: 31px;
	}
	.gigya-composite-control.gigya-composite-control-checkbox.checkbox-2.partner-promo-checkbox{
		margin-left: 48px
	}
	.gigya-composite-control.gigya-composite-control-checkbox.checkbox-3 {
		margin-bottom: 18px;
		margin-left: 48px;
	}
	.gigya-composite-control.gigya-composite-control-checkbox.sortable-drag.terms-conditions-promt {
		padding-top: 20px;
		padding-left: 15px;
		padding-right: 25px;
		padding-bottom: 15px;
		float: left;
		width: 99%;
		left: -18px;
		top: 115px;
		background-color: #e5e9f0;
		.ru-flows .gigya-screen .gigya-composite-control.gigya-composite-control-checkbox .gigya-label {
			&::before {
				top: 2px;
			}
		}
	}
	label.gigya-composite-control.gigya-composite-control-label.cancel-btn {
		position: absolute;
		transform: translateY(285px);
		background: #a0afb3;
		border-radius: 4px;
	}
	.gigya-composite-control.gigya-composite-control-submit.save-btn {
		position: absolute;
		transform: translateY(217px);
		display: block;
		margin-left: -20px;
		font-size: 12px;
		input[type=submit] {
			border-radius: 4px;
		}
		.disabled {
			background-color: #6c7577 !important;
			color: #ddd !important;
			cursor: default;
			border: none;
		}
	}
	&.how-to-earn-page-1 {
		.gigya-screen.portrait {
			width: auto;
			max-width: none !important;
		}
	}
	.gigya-composite-control.gigya-composite-control-dropdown.drop-down-selection {
		display: block;
		margin-bottom: 7px;
		padding-bottom: 0;
		select.gigya-error {
			background-color: #fef5f4 !important;
		}
	}
	.gigya-composite-control.gigya-composite-control-label.reminder-message{
		padding-bottom: 30px;
	}
	.ru-profile-edit-container {
		margin-bottom: 265px;
		width: 88% !important;
	}
	.edit-profile-container {
		.description-1 {
			li {
				line-height: 26px;
			}
		}
	}
	/*******************GLOBAL*********************/
	.sub-heading-1--blue {
		color: #00266b;
		font-size: 33px;
		font-family: "baker-signet-web", serif;
		&.basic-head {
			width: 50%;
		}
	}
	.gigya-screen,
	.gigya-screen * {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16px;
	}
	.gigya-show-checkmark.gigya-valid {
		background-image: none;
	}
	.form-group.form-group--tooltips {
		margin-bottom: 15px;
	}
	.required-text {
		font-size: 12px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}
	.links-header {
		color: #00266b;
		font-size: 18px;
		text-align: left;
		font-weight: 600;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		&.pref-text {
			margin-top: 20px;
		}
		&+.smii-sub-title {
			color: black;
			margin: 11px 0 0;
		}
	}
	.link-4 {
		margin-top: 10px;
	}
	.tabs-component {
		.tabs--1>.tab .tab-item {
			width: calc(100%/2);
			height: 75px;
			background-color: #efefef;
			a {
				text-transform: none;
				padding: 10px 15px;
				width: 82%;
				.main-label {
					margin: 0;
					font-size: 18px;
					color: #00266b;
					line-height: 1.2;
				}
				.label {
					margin: 0;
					line-height: 1.5;
					font-weight: 500;
					width: 80%;
					display: none;
				}
			}
			&.active {
				a {
					height: 70%;
					border-top: 5px solid #ff9f00;
					border-left: none;
					border-right: none;
					background-color: #fff;
					padding: 7px 15px 10px;
				}
			}
		}
		.tabs--1 .tab-wrapper {
			background-color: white;
			padding: 15px 12px 25px;
			.label {
				margin: 0;
				color: black;
				margin-bottom: 20px;
			}

			.gigya-composite-control.gigya-composite-control-checkbox.singapore-airlines-tooltip {
				.gigya-label-text.gigya-checkbox-text{
					color: black;
				}
			}
			.gigya-composite-control.gigya-composite-control-checkbox.singapore-airlines-tooltip {
				.gigya-label-text.gigya-checkbox-text{
					color: black;
				}
			}

			.gigya-composite-control.gigya-composite-control-checkbox.partners-tooltip {
				.gigya-label-text.gigya-checkbox-text{
					color: black;
				}
			}

		}
	}
	.ru-flows-wrapper {
		.heading-1 {
			color: #000000;
			width: 85%;
		}
		.tabs-component {
			background-color: #efefef;
		}
	}
	.sub-heading-1--blue {
		font-size: 26px;
		&.basic-head {
			width: 50%;
		}
	}
	.gigya-error-msg.gigya-error-msg-active {
		text-align: left;
		color: #ff0000;
		font-weight: 400;
	}
	.popup__heading {
		&.ru-blue-text {
			color: #00266b;
			font-size: 33px;
		}
	}
	.social-icons {
		button {
			border-radius: 3px;
			img {
				padding: 0 62px;
				width: 145px;
				border-radius: 3px;
			}
			margin-bottom: 10px;
		}
		&.si-facebook {
			button {
				background-color: #39579a;
				img {
					// background-color: #39579a;
					border: 1px solid #39579a;
				}
			}
		}
		&.si-google {
			button {
				background-color: #ffffff;
				img {
					// background-color: #ffffff;
					border: 1px solid #d8d8d8;
				}
			}
		}
		&.si-linkedin {
			button {
				background-color: #0076b7;
				img {
					// background-color: #0076b7;
					border: 1px solid #0076b7;
				}
			}
		}
	}
	.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown .gigya-error-msg-active,
	.gigya-screen .gigya-composite-control.gigya-composite-control-password .gigya-error-msg-active,
	.gigya-screen .gigya-composite-control.gigya-composite-control-textbox .gigya-error-msg-active {
		color: #ff0000;
		font-weight: 400;
	}
	.gigya-composite-control.gigya-composite-control-checkbox {
		label.gigya-label {
			::after {
				span.gigya-label-text.gigya-checkbox-text {
					color: red;
				}
			}
		}
	}
	.gigya-screen .gigya-composite-control.gigya-composite-control-checkbox,
	.gigya-composite-control.gigya-composite-control-subscription-widget {
		position: relative;
		.gigya-label {
			margin-left: 0;
		}
		input {
			position: absolute;
			top: 3px;
			opacity: 0;
			cursor: pointer;
			width: 14px;
			height: 14px;
			z-index: 0;
			+label {
				display: inline-block;
				padding-left: 23px;
				margin-right: 10px;
				line-height: 16px;
				font-size: 14px;
				cursor: pointer;
				position: relative;
				width: 97%;
				&::before {
					content: '';
					width: 12px;
					height: 12px;
					border: 1px solid #ccc;
					position: absolute;
					top: 0;
					left: 0;
					background-color: #fff;
					z-index: 1;
				}
			}
		}
		input:checked {
			+label::after {
				content: '\e610';
				font-family: 'sia';
				font-weight: bold;
				color: #ef9a1a;
				position: absolute;
				top: -1px;
				left: 2px;
				font-size: 14px;
				z-index: 1;
			}
		}
	}

		.gigya-composite-control.gigya-composite-control-checkbox.first-name-checkbox{
		span{
			color: #666 !important;
		}
	}
	.gigya-composite-control.gigya-composite-control-checkbox.sortable-drag.first-name-checkbox.gigya-terms-valid {
		position: relative;
		.gigya-label {
			margin-left: 0;
		}
		input {
			position: absolute;
			top: 3px;
			opacity: 0;
			cursor: pointer;
			width: 14px;
			height: 14px;
			z-index: 0;
			+label {
				display: inline-block;
				padding-left: 23px;
				margin-right: 10px;
				line-height: 16px;
				font-size: 14px;
				cursor: pointer;
				position: relative;
				color: #666;
				&::before {
					content: '';
					width: 12px;
					height: 12px;
					border: 1px solid #ccc;
					position: absolute;
					top: 0;
					left: 0;
					background-color: #fff;
					z-index: 1;
				}
			}
		}
		input:checked {
			+label{
				span{
					color: #000 !important;
				}
				&::after {
					content: '\e610';
					font-family: 'sia';
					font-weight: bold;
					color: #ef9a1a;
					position: absolute;
					top: -1px;
					left: 2px;
					font-size: 14px;
					z-index: 1;

				}
			}
		}
	}
	.gigya-composite-control.gigya-composite-control-checkbox.check-box.gigya-terms-valid{
		span{
			color: #666 !important;
		}
	}
	.gigya-composite-control.gigya-composite-control-checkbox.check-box.gigya-terms-valid{
		position: relative;
		.gigya-label {
			margin-left: 0;
		}
		input {
			position: absolute;
			top: 3px;
			opacity: 0;
			cursor: pointer;
			width: 14px;
			height: 14px;
			z-index: 0;
			+label {
				display: inline-block;
				padding-left: 23px;
				margin-right: 10px;
				line-height: 16px;
				font-size: 14px;
				cursor: pointer;
				position: relative;
				color: #666;
				&::before {
					content: '';
					width: 12px;
					height: 12px;
					border: 1px solid #ccc;
					position: absolute;
					top: 0;
					left: 0;
					background-color: #fff;
					z-index: 1;
				}
			}
		}
		input:checked {
			+label{
				span{
					color: #000 !important;
				}
				&::after {
					content: '\e610';
					font-family: 'sia';
					font-weight: bold;
					color: #ef9a1a;
					position: absolute;
					top: -1px;
					left: 2px;
					font-size: 14px;
					z-index: 1;

				}
			}
		}
	}
	.gigya-input-submit,
	.gigya-screen input[type=submit] {
		background-color: #00266b;
		text-transform: uppercase;
		margin-top: 10px;
		font-size: 12px;
		letter-spacing: 0.1em;
		font-weight: 600;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}
	.gigya-screen .gigya-label-text {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
	}
	.gigya-screen input,
	.gigya-screen input.gigya-input-text,
	.gigya-screen input.gigya-input-password {
		border-radius: 2px;
		box-shadow: none;
		border: 1px solid #cccccc;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		&.gigya-input-text.gigya-error,
		&.gigya-input-password.gigya-error {
			border: 1px solid #ff0000;
			border-radius: 2px;
			font-size: 14px;
			background-color: #fef5f4;
			&.firstname-disabled {
				background-color: #efefef;
				border: 1px solid #cccccc;
			}
		}
		&.firstname-disabled {
			background-color: #efefef;
			border: 1px solid #cccccc;
		}
	}
	.gigya-screen-caption {
		display: none;
	}
	.gigya-screen .label-divider {
		span {
			text-transform: uppercase;
			font-weight: 600;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		}
	}
	.pin-eye-icon {
		position: absolute;
		top: 35px;
		right: 12px;
		width: 22px;
		height: auto !important;
		opacity: 0.6;
	}
	.gigya-input-checkbox:checked~.gigya-label span {
		// font-weight: 600;
	}
	.ico-cancel-thin.add-clear-text {
		display: none !important;
	}
	.ico-cancel-thin.add-clear-text.gigya-error-msg-active {
		display: none !important;
	}
	/*******************GLOBAL*********************/
	.gigya-screen.portrait .gigya-error-msg-active.gigya-form-error-msg,
	.gigya-screen.portrait .gigya-error-msg.gigya-error-msg-active {
		font-size: 13px;
		text-align: left;
		color: #ff0000;
	}
	.gigya-layout-cell {
		.login-help {
			width: 100%;
			text-align: right;
			color: #0254ec;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		}
	}
	.gigya-screen .gigya-composite-control.gigya-composite-control-submit {
		padding-bottom: 0px;
	}
	.gigya-screen .gigya-layout-row {
		text-align: left;
	}
	.gigya-screen .gigya-composite-control-dropdown select {
		background: none;
		padding-left: 10px;
		background-image: url('http://sia.tbwa-group.com.sg/sia-turbo-enhancement/mobile/images/drop-down.png');
		background-repeat: no-repeat;
		background-position: 98.5% 50%;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
	.verification-sent {
		.gigya-screen .gigya-composite-control.gigya-composite-control-label.main-text {
			color: #000000;
		}
		.gigya-screen.portrait {
			width: auto;
			font-size: 15px;
			padding: 0;
		}
		.vf-sent-text {
			color: #000000;
		}
	}
	.popup__heading {
		&.ru-blue-text {
			color: #00266b;
			font-size: 26px;
		}
	} // 	.login-container{
	// }
	.login-container {
		.gigya-screen .gigya-composite-control.gigya-composite-control-password input {
			margin-bottom: 4px;
		}
		.ru-flows .gigya-screen input[type=submit] {
			margin-top: 0;
		}
		a.gigya-composite-control.gigya-composite-control-link.login-help {
			float: right;
		}
		.gigya-screen .gigya-layout-row {
			text-align: center;
			&.txt-center {
				text-align: left;
			}
		}
		.gigya-composite-control.gigya-composite-control-link.sign-up {
			text-align: left;
		}
		.gigya-screen input.gigya-input-submit {
			border-radius: 3px;
		}
		.gigya-composite-control.gigya-composite-control-textbox input {
			margin-bottom: 4px;
		}
		.login-header {
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-checkbox {
			position: relative;
			.gigya-label {
				margin-left: 0;
			}
			input {
				position: absolute;
				top: 3px;
				opacity: 0;
				cursor: pointer;
				width: 14px;
				height: 14px;
				z-index: 0;
				+label {
					display: inline-block;
					padding-left: 23px;
					margin-right: 10px;
					line-height: 16px;
					font-size: 14px;
					cursor: pointer;
					position: relative;
					&::before {
						content: '';
						width: 12px;
						height: 12px;
						border: 1px solid #ccc;
						position: absolute;
						top: 0;
						left: 0;
						background-color: #fff;
						z-index: 1;
					}
				}
			}
			input:checked {
				+label::after {
					content: '\e610';
					font-family: 'sia';
					font-weight: bold;
					color: #ef9a1a;
					position: absolute;
					top: -1px;
					left: 2px;
					font-size: 14px;
					z-index: 1;
				}
			}
		}
		.ico-cancel-thin.add-clear-text {
			display: none !important;
		}
		.ico-cancel-thin.add-clear-text.gigya-error-msg-active {
			display: none !important;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-password select {
			margin-bottom: 5px;
		}
		.ru-flows .login-container span.gigya-label-text.gigya-checkbox-text {
			font-size: 14px;
		}
		.gigya-show-checkmark.gigya-valid {
			background-image: none;
		}
		.gigya-screen input,
		.gigya-screen input.gigya-input-text,
		.gigya-screen input.gigya-input-password,
			{
			border-radius: 2px;
			box-shadow: none;
			border: 1px solid #cccccc;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			&.gigya-input-text.gigya-error,
			&.gigya-input-password.gigya-error {
				border: 1px solid #ff0000;
			}
		}
		span.gigya-error-msg.gigya-error-msg-active {
			text-align: left;
			color: #ff0000;
			font-weight: 400;
		}
		.gigya-screen .label-divider {
			height: 65px;
			span {
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 600;
				margin-top: 25px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			}
		}
		.main-heading {
			font-size: 30px;
		}
		.gigya-layout-row {
			position: relative;
			.sign-up {
				color: #0254ec;
				span {
					font-size: 9px;
					color: #0254ec;
				}
			}
		}
		.gigya-input-submit {
			background-color: #00266b;
			text-transform: uppercase;
			font-size: 13px;
		}
		.gigya-screen.portrait.mobile {
			padding-left: 0;
			padding-right: 0;
			.gigya-composite-control.gigya-composite-control-header {
				text-align: left;
				padding-bottom: 10px;
				font-size: 14px;
				line-height: 1.5;
				color: #000000;
				&.login-form-header {
					margin-bottom: 10px;
					font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				}
				&.log-in-text {
					width: 100%;
					color: #000000;
				}
			}
		}
	}
	.ru-flows-wrapper {
		.heading-1 {
			color: black;
			font-size: 16px;
			width: 90%;
		}
		.sub-heading-1--blue {
			margin-bottom: 0px;
			font-size: 34px;
		}
	}
	.popup.popup-3.popup--login.ru-login {
		.main-heading {
			font-size: 26px;
			margin-bottom: 20px;
		}
		.gigya-error-display-active {
			background-color: #fff1f0;
			position: relative;
			margin-bottom: 21px;
			.ico-close-round-fill {
				color: #fc0d1b;
				position: absolute;
				top: 15%;
				left: 10px;
				font-size: 30px;
			}
			.gigya-error-msg.gigya-form-error-msg.gigya-error-code-403042.gigya-error-msg-active {
				text-align: left;
				padding-top: 20px;
				margin-left: 45px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				color: #000000;
				font-weight: normal;
			}
		}
		.popup__content {
			padding: 25px;
		}
		.form-group.form-group--tooltips {
			.custom-radio label {
				padding-left: 20px;
			}
			.custom-radio.custom-radio--1 {
				display: inline-block;
				margin-left: 0;
				margin-right: 10px;
			}
			:nth-child(3).custom-radio.custom-radio--1 {
				margin-left: 0;
			}
		}
	}
	.ru-profile-edit-link-social {
		padding: 30px 10px;
		position: relative;
		.links-header {
			line-height: 1em;
		}
		.smii-sub-title:last-child {
			margin-bottom: 0;
		}
		.p.smii-sub-title {
			width: 90%;
		}
		
	}
	[data-toggle-screenset] {
		position: relative;
		margin-top: 20px;
		width: 100%;
	}
	.smii-sm-link {
		.gig-edit-connections {
			height: auto;
			&:first-of-type {
				margin-top: 17px;
			}
			ul {
				display: block;
				width: 100%;
				height: auto;
			}
			li {
				position: relative;
				width: 100%;
				height: 100%;
				padding: 0;
				display: block;
				max-height: 50px;
				border-spacing: 0;
				border: 0;
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				} // padding: 0 0 0 10px;
				background-color: #f2f2f2;
				strong {
					display: none;
				}
				.gig-edit-connections-identity-information-profile-image,
				.gig-edit-connections-provider-apps {
					display: none;
				}
				.gig-edit-connections-social-provider {
					display: inline-block;
					vertical-align: middle;
					height: calc(100% - 20px);
					padding: 10px 20px;
					background-color: #f2f2f2;
					.gig-edit-connections-social-provider-image {
						float: none;
						padding: 0;
						vertical-align: middle;
						img {
							width: 30px;
							height: auto;
						}
					}
					&+.gig-edit-connections-identity-information {
						display: inline-block;
						height: auto;
						margin: 0 0 0 -20px;
						overflow: hidden;
						.gig-edit-connections-information-details {
							padding-left: 0;
							float: none;
						}
					}
				}
				.gig-edit-connections-identity-information {
					display: inline-block;
					vertical-align: middle;
					text-align: left;
				}
				.gig-edit-connections-information-details {
					display: inline-block;
				}
				.gig-edit-connections-connectLink,
				.gig-edit-connections-disconnectLink {
					display: inline-block;
					vertical-align: middle;
					padding-left: 17px;
					position: relative;
					font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
					font-size: 14px;
					font-weight: 700;
					line-height: 1em;
					color: #0254ec;
					&:before {
						content: '›';
						position: absolute;
						left: 7px;
						top: 40%;
						transform: translateY(-50%);
						display: block;
						line-height: 1em;
					}
				}
			}
		}
		.gig-edit-connections ul li .gig-edit-connections-identity-information .gig-edit-connections-information-details .gig-edit-connections-information-details-row {
			display: none;
		}
	}
	.screenset-container {
		position: relative;

		.input-heading {
			margin-bottom: 5px;
		}
		.error-message {
			border: 1px solid #ff0000;
			background-color: #fef5f4;
		}
		.form-group.form-group--tooltips.old-pass-input {
			width: 100%;
			margin-top: 10px;
			.input-1 input {
				color: #666 !important;
			}
		}
		.form-group.new-pass-input {
			width: 100%;
			margin-top: 10px;
			display: block;
			.input-1 {
				margin-top: 10px;
			}
			.message-error {
				color: #ff0000;
				font-size: 14px;
			}
		}
		.form-group.confirm-pass-input {
			width: 100%;
			display: block;
			.input-1 {
				margin-top: 10px;
			}
			.message-error {
				color: #ff0000;
				font-size: 14px;
			}
		}
		
		.terms-and-conditions-promt {
			.payment-currency {
				padding: 20px 10px 20px !important;
				width: 93%;
				.custom-checkbox--1 label {
					font-size: 14px !important;
					line-height: normal;
					color: #000 !important;
				}
			}
		}
.payment-currency .custom-checkbox--1 input + label:before, .payment-currency .custom-checkbox--1 input + label:after {
	top: 0 !important;
}
		.save-btn-1 {
			background-color: #00266b;
			position: absolute;
			right: 0;
			bottom: 40px;
			width: 100%;
			margin-bottom: 10px;
		}
		.see-more-btn {
			width: 100%;
			background-color: #6c7577;
			font-size: 12px;
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
	[data-create-password] {
		.pin-eye-icon {
			top: 12px;
		}
		.message-error {
			margin-top: 10px;
			position: relative;
			display: block;
		}
		.form-group {
			margin-bottom: 28px;
			&:last-of-type {
				margin-bottom: 0;
			}
			&.submit-btn {
				position: relative;
				float: none;
				display: block;
				margin-top: 0;
				margin-bottom: 10px;
				.save-btn-1 {
					position: relative;
					bottom: auto;
				}
				.see-more-btn {
					position: relative;
					bottom: auto;
					margin-top: 0;
				}
				.disabled {
					background-color: #999;
					color: #dddddd !important;
				}
			}
		}
		.terms-and-conditions-prompt {
			position: relative;
			margin-top: 50px;
			margin-bottom: 30px;
			.payment-currency {
				padding: 20px 15px;
			}
			label {
				font-size: 13px;
				color: black;

				&:before {
					top: 0;
				}
			}
		}
	}
	[data-update-password] {
		padding: 30px 0 10px;
		height: auto;

		.gigya-layout-cell:empty {
			display: none;
		}

		.reminder-password {
			width: 100%;
			margin-bottom: 50px;
			padding: 0;
			margin-top: 0;
			font-style: italic;
			color: #666666;
			p {
				margin: 0;
				font-size: 12px;
			}
		}

		.gigya-composite-control.gigya-composite-control-checkbox.check-box-promt {
			position: relative;
			bottom: auto;
			margin-bottom: 30px;
			padding: 20px;

			background-color: #e5e9f0;
			width: calc(100% - 40px);
		}
		.gigya-composite-control.gigya-composite-control-submit.btn-submit {
			display: block;
			width: 100%;
			max-height: 40px;

			margin-bottom: 10px;
			input.gigya-input-submit {
				display: block;
				width: 100%;
				border-radius: 3px;
			}
		}
		.gigya-composite-control.gigya-composite-control-label.btn-cancel {
			display: block;
			background-color: #666;
			border-radius: 3px;
			width: 100%;
			text-align: center;
			padding: 14px 0;

			position: relative;
			
			text-transform: uppercase;
			
			b {
				font-size: 12px;
				color: #fff;
				font-weight: 700;
			}
		}
	}
}


// [Mon: 24 July 2018]
//    Let's do an isolated clearfix for now
//    "micro" clearfix
//    https://css-tricks.com/snippets/css/clear-fix/
.kf-clearfix:before,
.kf-clearfix:after {
  content: "";
  display: table;
} 
.kf-clearfix:after {
  clear: both;
}
.kf-clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


// Let's do an isolated box-sizing for now
.kf-boxsizing *,
.kf-boxsizing *:before, 
.kf-boxsizing *:after {
	box-sizing: border-box;
}

// [Mon: 24 July 2018]
//    Most of the classes below have kf- prefix to isolate affected DOM
.kf-form__wrapper {
	background-color: white;
	padding: 20px 25px;
	margin-top: 40px;
}

.kf-form__notif {
	padding: 20px;
	margin: 10px 0;
	background-color: #e5e9f0;
	color: #00266b;
}

.kf__sub-heading {
	font-size: 16px;
}

.communication-block .kf-form__checkbox,
.kf-form__checkbox {
	float: none
}

.kf-form__checkbox .ico-info-round-fill {
	color: #999; 
	vertical-align: top;
}

.kf-form__checkbox label {
	margin-right: 0 !important; 
	color: #000; 
}

.kf-form__accordion .block-2 {
	background: #f7f7f7;
	border: none;
	zoom: 1;
	padding: 0; 
}

.kf-form__accordion__title {
	padding-right: 25px; 
}

.kf-form__accordion {
	border: none;
	padding-bottom: 0;
	margin-bottom: 35px;
	&.accordion {
		background-color: #f7f7f7;
	}
	.content {
		position: relative;
		.add-address {
			.ico-plus {
				font-size: 10px;
				margin-top: -4px;
			}
		}
	}
}

.kf-form__accordion .accordion__control.active .ico-point-d {
	color: #0254ec; 
}

.kf-form__p-no-margin-top {
	margin-top: 0;  
}

.kf-form__label-bottom-space {
	margin-bottom: 5px;  
}

// KF custom classes for plain pages 
.kf-activ__membr-box {
	border-bottom: lightgray solid 3px;  
	position: relative;
	background: white; 
}

.kf-activ__membr-box__item {
}

.kf-activ__membr-box__photo {
	width: 100%; 
	height: 240px; 
	background-color: lightgray; 
	background-image: url('../images/kf-activation.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.kf-activ__membr-box__info {
	background-color: white;  
	padding: 25px 30px 20px 30px; 
}

@media screen and ( min-width: 400px ) {
	.kf-activ__membr-box__photo {
		height: 300px; 
	}
}

@media screen and ( min-width: 568px ) {
	.kf-activ__membr-box__item {
		float: left; 
		min-height: 200px; 
	}
	.kf-activ__membr-box__photo {
		width: 40%; 
		height: 200px; 
	}
	.kf-activ__membr-box__info {
		width: 60%; 
	}
}

.kf-activ__info__item {
	display: block;
	font-size: 16px;  
}

.kf-activ__info__value {
	color: #000; 
}

.kf-form__promo-code__span.input-error {
	background-color: #fef5f4;
	border: 1px solid #ff0000;
	color: #ff0000;
}

.kf-form__input-number::-webkit-outer-spin-button,
.kf-form__input-number::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.kf-form__input-btn,
.kf-form__promo-code__btn {
	padding: 14px 32px;
}

.kf-form__label--black {
	color: #000;
}

.kf-acct__form__pin-span .pin-eye-icon {
	top: 11px;
}

@media screen and ( min-width: 1020px ) {
	// overwrite styles without using !important
	.kf-acct__popup__inner.kf-acct__popup__inner {
		min-width: 990px; 
	}
}

.kf-acct__sub-title {
	margin-bottom: 10px
}

// Mobile Specific
.kf-form__no-padding--m {
  padding: 0;
}

.kf-form__margin-top-25--m {
  margin-top: 25px;
}

.kf-form__accordion--m .one-half {
  width: 100%;
}

.kf-form__accordion--m .width-2 {
	width: 100%; 
}

.kf-form__accordion--m .kf-form__promo-code__btn {
	margin-top: 10px; 
}

.kf-form__accordion--m .gigya-error-msg.gigya-error-msg-active {
	margin: 10px 0 0; 
}

.kf-form__checkbox label,
.kf-form__checkbox a {
	display: inline !important;
}

@import "smii-kf";