.kf-flows{
	&.no-flow{
		overflow: hidden !important;
	}
	// &.ru-flows .popup.popup-3.popup--login.ru-login.animated .gigya-screen .gigya-composite-control{
	// 	padding-bottom: 5px !important;
	// }
	.popup.popup-3.popup--login.ru-login.kf-log-in.log-in-email.animated .gigya-screen .gigya-composite-control{
		padding-bottom: 5px !important;
	}

	.third-party-login{
		.gigya-social-login.gigya-reset {
			width: 0px;
			margin-left: -27px;
		}
	}
	.kf-log-in {
		.gigya-composite-control.gigya-composite-control-textbox.gigya-composite-control-loginID.krsflyer-email-bar {
			padding-bottom: 10px !important;
		}
		label.gigya-composite-control.gigya-composite-control-label.label-divider {
			margin-bottom: 0 !important;
		}
		label.gigya-composite-control.gigya-composite-control-label {
			padding-bottom: 0px !important;
		}
		.gigya-composite-control.gigya-composite-control-textbox.krisflyer-number-input-bar {
			padding-bottom: 0 !important;
		}
		.gigya-composite-control.gigya-composite-control-social-login {
			padding-bottom: 5px !important;
		}
		.gigya-composite-control.gigya-composite-control-submit.login-btn {
			margin-top: 10px;
		}
		label.gigya-composite-control.gigya-composite-control-label.email-add-prompt{
			padding: 20px !important;
		}

		div#KfLogin_social_3 {
			width: 130px !important;
			height: 100px;
			text-align: left;
			margin: 0 -15px;
		}

		.gigya-composite-control-label.prompt-mess {
			display: block;
		}
		.gigya-composite-control-label.email-add-prompt {
			display: block;
			padding: 20px;
			background: #e5e9f0;
			color: #00266b;
			font-size: 14px;

			em{
				font-size: 30px;
				float: left;
				/* width: 50%; */
				display: block;
				height: 80px;
				color: #00266b;
			}

			.prompt-message{
				width: 90%;
				display: block;
				margin-left: 50px;

				.message{
					margin-top: 5px;
					font-size: 14px;
					color: #00266b;
					line-height: 1.5em;
					display: block;
					margin-bottom: 10px;
				}
	
				b {
					line-height: 1.2em;
					color: #00266b;
					font-size: 16px;
					font-weight: 600 !important;
				}
			}
		}
		.gigya-composite-control-label.label-divider {
			margin-bottom: 10px;
			span {
				margin-top: 6px;
			}
		}
		.gigya-composite-control-textbox.gigya-composite-control-loginID.krsflyer-email-bar {
			display: block;
		}
		.gigya-composite-control-label.krisflyer-login {
			display: block;
		}
		.gigya-composite-control-textbox.krisflyer-number-input-bar {
			padding-bottom: 0;
		}
		.gigya-composite-control.gigya-composite-control-password.password {
			padding-bottom: 0;
		}
		.gigya-composite-control.gigya-composite-control-link.login-help {
			width: 135px;
			position: relative;
			left: 105px;
		}
		.gigya-composite-control.gigya-composite-control-submit.login-btn {
			width: 100%;
			padding-top: 0;
			padding-bottom: 10px !important;
			margin-right: 15px;
		}
		.gigya-composite-control.gigya-composite-control-captcha-widget.gigya-v1 {
			padding: 0!important;
		}
	}
	.kf-verification-pending {
		label.gigya-composite-control.gigya-composite-control-label.resend-btn {
			padding: 12px 0 !important;
		}
		.gigya-label-text.gigya-composite-control.gigya-composite-control-label{
			.alert-text{
				.heading{
					font-size: 16px;
				}
				.message{
					font-size: 14px;
					color: #00266b;
					margin-top: -8px;
					display: block;
					line-height: 1.2em;
					margin-bottom: -18px;
				}
				.sub-text{
					line-height: 1.2em;
				}
			}
		}

		.gigya-composite-control.gigya-spacer.first-spacer{
			padding: 0!important;
		}
		.gigya-composite-control.gigya-spacer.second-spacer {
			padding: 0!important;
		}
	}
	.log-in-error {
		.error-alert {
			margin-bottom: 20px;
			padding: 16px 18px;
			.alert-block .alert__message {
			    color: #000;
				font-size: 14px;
			}
			.alert__icon{
				padding: 0 10px 0px 0px;
			}
		}
		 .gigya-composite-control-label.label-divider {
		 	margin-bottom: 0 !important;
		 }

		.gigya-composite-control-label.email-add-prompt {
			display: block;
		}
	}
	.log-in-email {
		label.gigya-composite-control.gigya-composite-control-label.email-add-prompt {
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
		}
		label.gigya-composite-control.gigya-composite-control-label {
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			font-size: 14px;
			color: #000;
			margin-bottom: 10px;
		}
		.popup__inner {
			top: 110px !important;
		}
		.gigya-composite-control-label.email-add-prompt {
			margin-bottom: 25px;
			display: block !important;
		}
		.popup__content {
			position: relative;
		}
	}
	.kf-wrong-sm {
		label.gigya-composite-control.gigya-composite-control-label.label-divider {
			margin-bottom: 0 !important;
		}
		label.gigya-composite-control.gigya-composite-control-label {
			padding-bottom: 0px !important;
		}
		.gigya-composite-control.gigya-composite-control-textbox.krisflyer-number-input-bar {
			padding-bottom: 0 !important;
		}
		h2.gigya-composite-control.gigya-composite-control-header.link-accounts-main-header {
			padding: 15px;
			background-color: #e5e9f0;
			margin-bottom: 20px;
			em{
				float: left;
				font-size: 30px;
				color: #00266b;
				margin-left: -5px;
			}
			p.link-accounts-msg {
				font-size: 14px !important;
				margin-left: 45px;
				color: #00266b;
				font-weight: 400;
			}
		}
		.popup__inner {
			top: 115px !important;
		}
		.gigya-composite-control.gigya-composite-control-header.link-accounts-main-header {
			display: block;
		}
		.gigya-composite-control.gigya-composite-control-header.social-login-title {
			display: block;
		}
		.gigya-composite-control.gigya-composite-control-header.account-existing {
			display:block;
		}
		.gigya-composite-control-label.label-divider {
			margin-bottom: 10px;
			span {
				margin-top: 6px;
			}
		}
		.alert-block {
			margin-bottom: 20px;
			.alert__message {
				color: #00266b;
				display: block;
				.heading {
					display: block;
					color: #00266b;
					font-size: 16px;
					margin-bottom: 5px;
				}
			}
		}
	}
	.kf-not-verified {
		.gigya-composite-control-label.email-add-prompt {
			display: block;
		}
	}
	.kf-third-party-login-container{
		label.gigya-composite-control.gigya-composite-control-label.label-divider{
			height: 65px !important;
			span{
				margin-top: 12px;
				font-size: 14px;
			}
		}
	}
	.popup-window-login {
		position: relative;

		.gigya-login-form {
			width: 74% !important;
			margin: 0 !important;
		}

		.sub-heading-1--blue {
			line-height: 1em;
			margin-bottom: 20px;
		}
		.gigya-composite-control-social-login.social-media-icon {
			width: 100% !important;
			right: 0 !important;
			position: relative;
			margin: 0 !important;
		}
		.gigya-composite-control-checkbox.remember-checkbox {
			margin: 0 !important;
			width: 125px;
		}
		.gigya-composite-control-link.login-help {
			margin: 0 !important;
		    width: 150px;
		    position: relative;
		    left: 35px;
		}
		.gigya-composite-control-submit.login-btn {
			padding: 0;
			margin-bottom: 5px;
		    width: 100%;
		    position: relative;
		    right: 3px;
		}
		.gigya-composite-control-link.sign-up {
			float: left;
			width: 100%;
		    font-size: 14px;
		    color: #0254ec;
		    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;

		    .arrow-right {
		    	font-size: 8px;
    			color: #0254ec;
		    }
		}
	}
}


@media screen and (max-width: 1023px){
	.kf-flows {
		.log-in-email {
			.login-krisflyer-number {
				top: 54%;
			}
		}
	}
}

// KF Gigya form styles
.kf-flows {
	.registration{
		.gigya-composite-control.gigya-composite-control-dropdown.state-dropdown {
			width: 420px;
		}
		.gigya-composite-control.gigya-composite-control-dropdown.parent-guardian-group{
			margin-bottom: 25px;
			position: relative;
			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
				top: 75px;
			}
		}
		.gigya-composite-control.gigya-spacer.block-spacer-1.spacer-1{
			height: 168px !important;

			&.guardian-section-active{
				height: 280px !important;
			}
		}
		.gigya-composite-control.gigya-spacer.first-spacer.last-name-spacer.parent-guardian-group.spacer-2{
			height: 34px !important;
		}
		.gigya-composite-control.gigya-composite-control-dropdown.user-ccp{
			margin-bottom: 25px;
			position: relative;
			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
				top: 75px;
			}
		}
		.gigya-composite-control.gigya-composite-control-textbox.gigya-composite-control-loginID.field-email-address{
			position: relative;
			margin-bottom: 25px;

			input#gigya-loginID-6085015311664540{
				margin-bottom: 25px;
			}

			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
				top: 75px;
			}
		}

		.gigya-composite-control.gigya-spacer.block-spacer-2.spacer-5{
			height: 91px !important;
		}

		.gigya-composite-control.gigya-spacer.block-spacer-3.spacer-6{
			height: 225px !important;
		}

		.gigya-composite-control.gigya-composite-control-dropdown.field-country{
			position: relative;
			margin-bottom: 25px;

			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
				top: 75px;
			}
		}

		.gigya-composite-control.gigya-composite-control-dropdown.field-city{
			position: relative;
			margin-bottom: 25px;

			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
				top: 75px;
			}
		}
	}
	.valid-promo-code {
		background-color: #f7f7f7;
		padding: 5px 20px 20px;
		.promo-message-container {
			background-color: #cdf0d0;
			padding: 5px 20px;
		}
		em.ico-success {
			color: #07b110;
			font-size: 30px;
			float: left;
		}

		.success-message{
			width: 86%;
			margin-top: 12px;
			margin-bottom: 12px;
			font-size: 14px;
			color: #000;
		}
	}

	.gigya-composite-control.gigya-composite-control-textbox.user-lastname {
		margin-bottom: 25px !important;
	}

	.invalid-promo-code {
		background-color: #f7f7f7;
		padding: 5px 20px 20px;
		.promo-message-container {
			background-color: #fff1f0;
			padding: 5px 20px;
		}
		em.ico-close-round-fill{
			color: #ff0000;
			font-size: 30px;
			float: left;
		}

		.error-message{
			width: 86%;
			margin-top: 12px;
			margin-bottom: 12px;
			font-size: 14px;
			color: #000;
		}
	}
	//registration completion
	.registration-completion{
		.gigya-composite-control.gigya-composite-control-dropdown.state-dropdown {
			width: 420px;
		}
		.gigya-composite-control.gigya-spacer.spacer-2.parent-guardian-group{
			height: 51px !important;
		}
		.gigya-composite-control.gigya-composite-control-dropdown.parent-guardian-group{
			position: relative;
			margin-bottom: 25px;

			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
				top: 70px;
			}
		}
		.gigya-composite-control.gigya-composite-control-textbox.parent-guardian-group{
			position: relative;
			margin-bottom: 25px;

			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
				top: 70px;
			}
		}
		.gigya-composite-control.gigya-composite-control-textbox.gigya-composite-control-loginID.field-email-address{
			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
			}
		}
		.spacer-5{
			height: 72px !important;
		}
	}

	.gigya-screen .gigya-composite-control.gigya-composite-control-checkbox .gigya-label {
		// width: 500px !important;
		color: #000 !important;
		
	}

	.gigya-registration .tabs-component .tab-wrapper .gigya-composite-control.gigya-composite-control-checkbox .gigya-label-text.gigya-checkbox-text {
		color: #000 !important;
	}		

	.join-krisflyer-tab {
		.gigya-screen.portrait {
			padding: 25px;
			width: auto;
		}
		.gigya-multi-choice-item {
			width: 70px;
			margin: 0;
			float: left;
			display: block;
		}

		.gigya-layout-cell {
			padding-right: 0;
		}

		.gigya-screen.portrait .gigya-composite-control {
			padding-right: 15px;
		}
		.gigya-composite-control-label.kf-label-login-details-password-guide {
			// font-weight: 700;
			font-size: 12px !important;
			font-style: italic;
		}

		.gigya-composite-control.gigya-composite-control-textbox.state {
			padding-top: 8px;
		}
		
		.kf-flows .gigya-composite-control.gigya-spacer.spacer-6 {
			height: 195px !important;
		}

		.gigya-composite-control.gigya-spacer.spacer-5 {
			height: 66px !important;
    		padding-bottom: 0;
		}
	}

	// 'No First/Given Name' Checkbox width layout bugfix
	.gigya-composite-control-checkbox.gigya-terms-valid,
	.gigya-composite-control.gigya-composite-control-checkbox .gigya-label[for="gigya-checkbox-84647441806501540"],
	.gigya-composite-control.gigya-composite-control-checkbox .gigya-label[for="gigya-checkbox-108301622942524940"] {
		width: 260px !important;
		margin: 0;
		.gigya-checkbox-text {
			color: #666666 !important;
		}
		
	}

	// kf-registration-completion.html - Social media prompt
	.gigya-composite-control-label.links-header.social-prompt-profile-completion,
	.gigya-composite-control-label.links-header.social-prompt-profile-nonexistent {
		background-color: #E5EAF0;
		padding: 20px !important;
		font-size: 14px !important;
		font-weight: 400 !important;
		line-height: 21px;
	}

	// Nudge up a bit Last/Family name field positioning
	.user-lastname {
		margin-top: -2px;
	}
	
	
	// Contact information: width fix
	.field {
		&-email-address,
		&-city,
		&-country,
		&-state, {
		width: 428px !important;
		}

		&-mobile-default {
			position: absolute;
			right: 368px;
			width: 110px;
		}

		&-mobile-area {
			width: 90px;
			margin-left: 121px;
		}

		&-mobile-number {
			width: 206px;
		}

	}
	.state {
		width: 428px !important;
	}
	

	// Communication preferences: Nudge up checkbox pref. info. 
	.tabs-component .tab-wrapper .gigya-composite-control.gigya-composite-control-checkbox a.ico-info-round-fill {
		margin-top: -4px;
	}

	// 'Partner promotions' in default state disabled style effect .
	.mute .gigya-label span {
		color: #777!important;
	}


	// Password style and coarse positioning fix
	.gigya-composite-control.gigya-composite-control-password.user-pin {
		&.createpass,
		&.confirmpass {
			width: 428px;
			display: block;
			margin-left: 0;
			margin-right: 0;
		}
	}

	// Page divider
	.gigya-composite-control.gigya-composite-control-label.label-divider {
		background-image: url(data:image/gif;base64,R0lGODlhBQABAHAAACwAAAAABQABAIHq6uoAAAAAAAAAAAACAoRdADs=);

		span {
			background: #ffffff;
			border-radius: 100%;
			height: 20px;
			/* width: 12px; */
			background-position: top;
			padding: 12px;
			font-weight: bold;
			margin-top: 6px;
		}
	}

	.gigya-composite-control.gigya-composite-control-checkbox .gigya-label {
		width: 272px;
	}

	&.gigya-registration .gigya-composite-control.gigya-composite-control-dropdown select {
		border-radius: 2px !important;
		border-color: #cccccc !important;
	}

	.gigya-screen.portrait.mobile input[type=email],
	.gigya-screen.portrait.mobile input[type=password],
	.gigya-screen.portrait.mobile input[type=text],
	.gigya-screen.portrait.mobile select {
		height: 48px;
	}

	#gigya-textbox {

		&-63076820371857790 {
			width: 90px;
		}

		&-55990380147675110 {
			width: 206px;
		}

		&-15249043799037952 {
			width: 429px;
		}

		&-74091525809889070 {
			width: 429px;
		}
	}

	.gigya-composite-control.gigya-composite-control-checkbox.first-name-checkbox {
		width: 260px;
		margin: 0;
		font-size: 14px;
		color: #777777;
	}
	
	// Spacers for 'kf-registration.html'
	.gigya-composite-control.gigya-spacer {
		
		&.spacer-area-top,
		&.spacer-region-top {
			height: 6px !important;
		}

		
		&.spacer-1 {
			height: 0px !important;
		}

		// &.spacer-2 {
		// 	height: 50px !important;
		// }

		&.spacer-3,
		&.spacer-4  {
			height: 8px !important;
		}

		&.spacer-5  {
			height: 66px !important;
		}
		
		&.spacer-6 {
			height: 195px !important;
		}

		&.spacer-7 {
			height: 6px !important;
		}
	}

	// Spacers for 'kf-registration-complete'
	#gigya-complete-registration-screen {
		.kf-user-title-field {
			width: 50%; 
			margin: 0;
			position: relative;
			margin-bottom: 20px;

			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
				top: 70px;
			}
		}
		.spacer-1 {
			height: 168px !important;
			&.guardian-section-active{
				height: 317px !important;
			}
		}

		// .spacer-2 {
		// 	height: 136px !important;
		// }
		
		.spacer-3,
		.spacer-4 {
			height: 6px !important;
		}

		.spacer-5  {
			height: 72px !important;
		}

		.spacer-8{
			height: 85px !important;
		}
		
	}
	
	.gigya-composite-control.gigya-composite-control-dropdown.select-region {
		position: absolute;
		right: 368px;
		width: 110px;
	}

	#gigya-dropdown {
		&-8654064035575587 {
			width: 429px;
		}
		&-121862640951327330 {
			width: 429px;
		}
	}
	
	.kf-label {

		&-kf-password-instruction {
			width: 730px;
		}

		&-login-details-password-guide {
			font-style: italic;
			color: #666 !important;
			font-size: 14px !important;
			line-height: 20px;
		}
	}

	.gigya-label-text.gigya-checkbox-text {
		color: #000 !important;
	}

	// Set zero height for hidden items
	.gigya-composite-control.gigya-composite-control-checkbox.parent-guardian-group.hidden {
		padding: 0 !important;
		margin: 0 !important;
		height: 0 !important;
	}

	// KF Terms and Condition checkbox
	.krisflyer-terms-conditions-block {
		a {
			color: #0254ec !important;
		}
	}

	.kf-privacy {
		&-policy-terms {
			margin: 10px 0 0 0;
			width: 858px !important;
			background-color: #E6EAF1;

			&.terms-conditions {
				width: 858px !important;
				padding: 15px !important;
				a {
					color: #0254ec;
				}
			}

		}
	
		&-policy-terms .gigya-label {
			width: 93% !important;
			line-height: 20px !important;
		}
	}

	.gigya-composite-control.gigya-composite-control-checkbox.krisflyer-terms-conditions-block.gigya-terms-valid {
		width: auto !important;
	}

	.gigya-composite-control {
		&.gigya-composite-control-submit {
			width: 150px;
			float: right;
			right: -14px;
			position: relative;
			padding-top: 20px;
		}

		&.gigya-composite-control-multi-choice .gigya-multi-choice-item label {
			font-size: 14px;
			margin-bottom: 20px;
			margin-left: 0px;
			margin-right: 23px;
		}

	}

	.gigya-social-login {

		#joinKrisflyerTabKF_social_5 {
			margin: 5px 0 0;
			&_uiContainer {
				height: 50px !important;
				width: auto !important;
			}
		}

		.gigya-login-provider-row {
			float: left;
			display: block;
			clear: none;
			padding-top: 0;
		}

		.gigya-login-providers {
			height: 50px !important;
			
		}	

		.gigya-login-provider {
			margin-right: 10px !important;
			padding: 0 !important;
		}

		.gigya-login-providers-list-container {
			width: 440px !important;
		}

		.gigya-composite-control.gigya-composite-control-social-login {
			display: block;
			width: 260px !important;
			margin: 0;
		}

		.gigya-login-providers-container {
			width: 500px !important;
		}

	}

	
	// Gigya notify bg block
	//   - T&C
	//   - Social media notification	
	.gigya-composite-control.gigya-composite-control-checkbox.krisflyer-terms-conditions-block,
	.gigya-composite-control.gigya-composite-control-label[data-screenset-element-id=__gig_template_element_349_1533291861748],
	.gigya-composite-control.gigya-composite-control-label[data-screenset-element-id=__gig_template_element_350_1533291433774]
	 {
		padding-top: 20px;
		padding-left: 15px;
		padding-right: 25px;
		padding-bottom: 15px;
		background-color: #e5e9f0;
		padding: 20px;

		label {
			width: 97% !important;
		}
		
	}

	.gigya-composite-control.gigya-composite-control-label[data-screenset-element-id=__gig_template_element_349_1533291432303],
	.gigya-composite-control.gigya-composite-control-label[data-screenset-element-id=__gig_template_element_350_1533291433774]
	 {
		line-height: 20px;
		color: #00226b;
		font-weight: 400;
	 }
	
	// Gigya Header styles
	.gigya-composite-control-label.links-header,
	.kf-label-kf-com-pref,
	.kf-label-mailing-information {
		letter-spacing: 0.4px !important;
		color: #00226b !important;
		font-size: 18px !important;
		margin-top: 20px !important;
		padding-bottom: 15px !important;
		font-weight: 600 !important;
		margin-bottom: 15px;
	}

	// 'Required' text style	
	.required-text,
	.gigya-composite-control-label.links-header.links-header.required-text {
		font-size: 12px !important;
		color: #666 !important;
		line-height: 15px;
		font-weight: 500 !important;
	}
	
	// GDPR Copy
	.gdpr-copy {
		.gigya-label-text {
			line-height: 1.3em !important;
			a {
				color: #5a688d !important;
			}
		}

	}

	// KF Password instruction style
	.gigya-composite-control.gigya-composite-control-label.password-block {
		font-style: italic;
		color: #666 !important;
		font-size: 14px;
		line-height: 20px;
	}

	// Referral section and coupon

	.kf-referral-heading,
	.kf-referral-copy,
	.kf-referral-membership-number-field,
	.kf-coupon-heading,
	.kf-coupon-copy,
	.kf-coupon-code-field  {
		background: #f7f7f7;
		margin: 0 !important;
	}
	
	.kf-referral-heading {
		margin-top: 20px !important;
	}

	.kf-referral-heading,
	.kf-coupon-heading {
		padding: 25px 20px 10px!important;
		width: auto !important;
	}
	
	.kf-referral-copy,
	.kf-coupon-copy {
		padding-left: 20px !important;
		padding-right: 20px !important;
		padding-bottom: 10px !important; 
		width: auto !important;
	}
	
	.kf-referral-membership-number-field,
	.kf-coupon-code-field  {
		padding: 0 20px 15px !important;
		width: auto;
	}

	.kf-coupon-code-field {
		input.gigya-input-text {
			width: 424px !important;
		}
	}

	.kf-referral-membership-number-field {
		input.gigya-input-text {
			width: 50% !important;
		}
	}

	// Rough fix up of the background for apply btn. Hidden technique THIS IS NOT A GOOD PRACTICE. May break when viewport resizes
	// Use :after psuedo code then create a rectangle elemen then patch background
	// TODO: Propose for a html structure reorganization
	.apply-promocode-btn {
		left: 20px !important;
		position: relative;
		z-index: 1;
	}
	.kf-coupon-code-field {
		position: relative;
	}
	.kf-coupon-code-field:after {
		content: ' ';
		display: block;
		background: #f7f7f7;
		position: absolute;
		width: 444px;
		height: 96px;
		top: -1px;
		right: -444px;
		z-index: 0;
	}

	// Apply button on promo coupon
	.apply-btn,
	.apply-promocode-btn,
	.gigya-composite-control.gigya-composite-control-label[data-screenset-element-id=__gig_template_element_566_1533291034900] {
		line-height: 12px;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 0.1em;
		cursor: pointer;
		border: none;
		padding: 15px 20px !important;
		overflow: visible;
		outline: none;
		font-weight: 700;
		transition: all 400ms ease 0s;
		border-radius: 2px !important;
		background-color: #00266b !important;
		margin: 0 !important;
		width: 110px;
		
		b {
			color: #fff;
			display: block;
			font-size: 12px !important;
			text-align: center;
		}	
	} 	


	&.gigya-registration {
		.gigya-composite-control.gigya-composite-control-dropdown.field-mobile-default {
			select {
				padding-right: 30px;
				overflow: hidden;
				position: relative;
			}

			&:after {
				content: '...';
				display: block;
				position: absolute;
				top: 35px;
    			right: 30px;
			}
		}

		.gigya-multi-choice-item {
			position: relative;

			input {
				position: absolute;
				top: 3px;
				opacity: 0;
				z-index: 4;
				cursor: pointer;

				&:checked + label:after {
					width: 8px;
					height: 8px;
					top: 4px;
					left: 3px;
					background-color: #f99f1c;
				}
			}

			label {
				position: relative;
				padding-left: 25px;
				margin-left: 0 !important;

				&:before {
					width: 12px;
					height: 12px;
					top: 1px;
					left: 0;
					border: solid 1px #bdbdbd;
					background: #fff;

					content: '';
					border-radius: 100%;
					position: absolute;
				}

				&:after {
					content: '';
					border-radius: 100%;
					position: absolute;
				}
			}


		}
	}

}

@import "./modules/smii-kf-flows";
