.ru-flows {
	&.gigya-login {
		margin:0;
	}
	.ru-profile-edit-container{
		margin-bottom: 220px;
		.gigya-screen {
			padding-bottom: 0;
		}
		.gigya-composite-control.gigya-composite-control-checkbox.sortable-drag.first-name-checkbox.gigya-terms-valid input:checked + label span{
			display: block;
    		margin-bottom: 2px;
		}
		.gigya-composite-control.gigya-spacer.tc-spacer {
			padding-bottom: 0;
			height: 0;
		}
		.gigya-composite-control.gigya-composite-control-checkbox.checkbox-1{
			margin-bottom: 6px;
		}
		.gigya-composite-control.gigya-composite-control-checkbox.sortable-drag.checkbox-1{
			margin-bottom: 6px;
			margin-top: 2px;
		}
		.gigya-composite-control.gigya-composite-control-checkbox.checkbox-2{
			margin-bottom: 6px;
    		margin-top: 2px;
		}
		.gigya-composite-control.gigya-spacer.top-most-spacer{
			padding-bottom: 10px;
		}

		.gigya-profile-form{
			&:last-child{
				position: relative;
				.gigya-composite-control.gigya-composite-control-checkbox.terms-conditions-promt{
					position: absolute;
					margin-left: 0;
					margin-top: 10px;
					top: 102%;
					span{
						font-size: 14px;
						a{
							font-size: 14px;
							color: #0254ec;
						}
					}

					input{
						position: relative;
					}
				}

				label.gigya-composite-control.gigya-composite-control-label.cancel-btn{
					transform: translateY(135px);
					text-transform: uppercase;
					margin-right: -4px;
					// padding: 14px 28px 15px 28px;
				}
				.gigya-composite-control.gigya-composite-control-submit.save-btn{
					transform: translateY(135px);
					right: -18px;
				}
			}
		}
		label.gigya-composite-control.gigya-composite-control-label.communication-header{
			padding-bottom: 3px;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown select {
			border-radius: 2px;
			border: 1px solid #cccccc;
		}
		.gigya-composite-control.gigya-spacer.spacer-2{
			height: 0.72em !important;
		}
		.gigya-composite-control.gigya-composite-control-textbox.first-name-input{
			input[type="text"]:disabled{
				margin-top: 1px;
				margin-bottom: 9px;
			}
			span.gigya-label-text{
				margin-bottom: 2px;
			}
			span.gigya-error-msg {
				height: 21px;
				&.gigya-error-msg-active{
					height: 27px;
				}
			}
		}
		.gigya-composite-control.gigya-composite-control-checkbox.sortable-drag.check-box-message.first-name-checkbox.gigya-terms-valid{
			padding-bottom: 17px;
		}

		.gigya-composite-control.gigya-composite-control-textbox.last-name-input{
			span.gigya-label-text{
				margin-bottom: 2px;
			}
			span.gigya-error-msg {
				height: 18px;
				&.gigya-error-msg-active{
					height: 27px;
				}
			}
		}
		.gigya-composite-control.gigya-composite-control-checkbox.sortable-drag.check-box-message{
			span{
				font-size: 14px;
				color: #777;
			}
		}

		.gigya-composite-control.gigya-composite-control-multi-choice.european-custom-radio{
			padding-bottom: 5px;
			span.gigya-label-text{
				color: #000;
			}
		}

		.gigya-label-text{
			color: #333;
		}
	}

	.popup--login.ru-login {
		.gigya-screen.portrait{
			padding-top: 0px !important;
		}
	}
	.popup--login.ru-login{
		.gigya-layout-row{
			.gigya-composite-control.gigya-composite-control-label.gigya-message{
				padding-bottom: 0px !important;
				a{
					color: #084bf2;
				}
			}
		}
	}
	.popup--login.ru-login{
		.gigya-screen .gigya-composite-control{
			padding-bottom: 20px;
		}
	}

	table.gigya-login-providers-container {
    	margin-left: 28px;
	}

	.gigya-screen .gigya-social-login-container{
		height: 45px !important;
	}
	.gigya-composite-control.gigya-composite-control-label.resend-btn {
		display: block;
	    background-color: #00266b;
	    border-radius: 3px;
	    width: 100%;
	    text-align: center;
	    padding: 14px 0;
	    position: relative;
		text-transform: uppercase;
		cursor: pointer;

	    b {
	    	color: #fff;
	    	font-size: 12px;
	    }
	}
	label.gigya-composite-control.gigya-composite-control-label.pin-eye-description {
		text-align: left;
		float: left;
		font-style: italic;
		color: #6e6f70;
		margin-top: -5px;
		font-size: 15px;
	}
	input.gigya-input-submit.disabled {
		background-color: #999 !important;
		color: #ddd !important;
		cursor: default;
		border: none;
	}
	.ui-autocomplete [data-value="No results found."] {
		&:hover,
		&:active {
			background: transparent;
			color: black;
		}
		.autocomplete-link {
			color: black;
		}
	}
	.ru-ico-close {
		float: left;
		color: #ff0000;
		font-size: 25px;
		margin-top: -8px;
	}
	.ru-form-error {
		padding: 15px 10px 5px;
		background-color: #fff1f0;
		margin-bottom: 10px;
	}
	.ru-form-error-txt {
		font-size: 14px;
		text-align: left;
		font-weight: 400;
		padding: 0;
		margin-top: 0px;
		color: #ff0000;
	}
	.change-password {
		position: relative;
		label.gigya-composite-control.gigya-composite-control-label.pin-eye-description {
			// text-align: left;
			//    float: left;
			//    font-style: italic;
			color: #6e6f70;
			margin-top: 0px; // font-size: 15px;
		}
		.gigya-screen.portrait .gigya-error-msg-active.gigya-form-error-msg,
		.gigya-screen.portrait .gigya-error-msg.gigya-error-msg-active {
			font-size: 14px;
			text-align: left;
			color: #ff0000;
			font-weight: 400;
			padding-bottom: 0;
			margin-top: 5px;
		}
		.gigya-input-password {
			margin-bottom: 0px !important;
		}
		.gigya-composite-control-submit {
			margin-top: 15px;
		}
		.gigya-composite-control-form-error .gigya-form-error-msg {
			position: initial !important;
			@extend .ru-form-error-txt;
			color: #000 !important;
		}
		.gigya-composite-control-form-error {
			@extend .ru-form-error;
		}
		.ico-close-round-fill {
			float: left;
			color: #ff0000;
			font-size: 25px;
			margin-top: -4px;
		}
		.gigya-error-display.gigya-composite-control.gigya-composite-control-form-error.sortable-drag.gigya-error-code-403005.gigya-error-display-active {
			padding-left: 12px;
		}
	}
	.join-krisflyer-tab {
		.phone-numbers {
			.grid-inner {
				margin-right: 0;
			}
		}
		.grid-inner {
			padding-right: 10px;
		}
		.input-1.capitalize-input.firstname-disabled {
			background-color: #efefef;
			border: 1px solid #cccccc;
		}
		.gigya-error-msg.gigya-error-msg-active {
			font-size: 14px;
			margin: 4px 0px;
		}
		.input-1.capitalize-input.input-error {
			background-color: #fef5f4;
			border: 1px solid #ff0000;
			color: #ff0000;
			.gigya-error-msg.gigya-error-msg-active {
				margin-left: -13px;
				margin-top: 8px;
			}
		}
		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		.no-padding-left {
			padding-left: 0;
		}
		.no-padding-right {
			padding-right: 0;
		}
		.grid-col.full.additonal-address-line {
			margin-top: 13px;
			margin-left: 5px;
		}
		.grid-col.one-half.city-province {
			margin-top: 25px;
		}
		label {
			color: #000000;
		}
		.form-registration .sub-text-1 {
			font-weight: bold;
			margin-top: 22px;
		}
		.grid-col.form-group.full.name-checkbox {
			margin-top: 15px;
		}
		.form-registration.form-global .form-wrapper .custom-checkbox label {
			margin-bottom: 0;
			width: 62%;
		}
		.radio-group--left {
			margin-top: 8px;
		}
		.form-group .custom-radio {
			margin-right: 20px;
		}
		.form-group.grid-row.add-address-line {
			margin-top: 15px;
		}
		.block-4 {
			border: none;
			padding-bottom: 0;
			margin-bottom: 35px;
			&.accordion {
				background-color: #f0f0f0;
			}
			.content {
				position: relative;
				.add-address {
					// position: absolute;
					// 			bottom: -10px;
					.ico-plus {
						font-size: 10px;
						margin-top: -4px;
					}
				}
			}
		}

		.block-2 {
			background: #f0f0f0;
			border: none;
			zoom: 1;
		}
		.accordion__control {
			padding: 5px 27px 15px 0;
			.ico-point-d {
				color: #0254ec;
				top: 50%;
			}
			.sub-text-1 {
				font-size: 18px;
			}
		}
		.accordion {
			padding: 0 10px;
		}
		.form-registration .terms-conditions {
			margin: 20px 0;
			padding: 20px;
			input+label {
				color: #000000;
			}
		}
		.btn-1 {
			padding: 14px 32px;
		}
	}
	.gigya-screen .gigya-required-display {
		color: #000000;
	}
	.gigya-screen .gigya-required-display {
		padding: 0 2px;
	}
	.popup.popup--logged-profile {
		&.prof-pic {
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			min-width: 178px;
			font-size: 14px;
			.popup__heading {
				padding: 18px 20px 28px;
				.sub-heading-3--dark {
					font-size: 16px;
				}
				.pax-type {
					line-height: 1.5;
					font-size: 14px;
				}
				.btn-full {
					margin-top: 10px;
					letter-spacing: 0.3px;
				}
			}
			.popup__arrow {
				top: -6px; // left: 150px !important;
			}
		}
	}
	.logged-in.profile-pic {
		margin-top: -6px;
		.img-prof-pic {
			width: 40px;
			border-radius: 50%;
		}
	}
	.popup.popup--logged-profile {
		img.img-prof-pic {
			width: 40px;
		}
		.logged-in.profile-pic {
			.popup__arrow {
				// left: 108px !important;
			}
			.popup--logged-profile {
				min-width: 185px;
			}
		}
	}
	.gigya-screen .gigya-composite-control-dropdown select {
		background: none;
		padding-left: 10px;
		background-image: url('http://sia-turbo.tbwa-group.com.sg/sia-turbo-enhancement/mobile/images/drop-down.png');
		background-repeat: no-repeat;
		background-position: 98.5% 50%;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.popup.popup-3.popup--login.ru-login .verification-pending .gigya-screen .gigya-composite-control.resend-btn {
		padding: 12px 0;
	}

	.verification-pending {
		.gigya-screen.portrait {
			width: 420px;
			padding-bottom: 0;
		}
		.gigya-screen {
			.gigya-message a {
				font-size: 14px;
			}
		}
		.gigya-label-text.gigya-composite-control.gigya-composite-control-label {
			background-color: #e5eaf0;
			padding: 20px;
			.ico-info-round-fill {
				float: left;
				font-size: 31px;
				color: #00266b;
				line-height: 0.9em;
				text-align: left;
				width: 31px;
				display: block;

				&:before {
					margin:0;
				}
			}
			.alert-text {
				font-size: 14px;
				font-weight: 400;
				color: #00266b;
				margin-left: 48px;
				line-height: 1em;

				.heading {
					font-size: 16px;
					color: #00266b;
					font-weight: 600;
					line-height: 1em;

					display: block;
				}

				.sub-text {
					font-size: 14px;
					line-height: 1em;
					color: #00266b;
				}
			}
		}
	}
	.welcome-page,
	.activate-error {
		width: 70%;
		.vf-sent-text {
			color: #000000;
			font-size: 16px;
		}
		.alert-block {
			padding: 10px 18px;
			margin-bottom: 20px;
		}
	}
	&.link-accounts {
		.gigya-screen.portrait {
			margin: 0;
			padding-top: 0px;
			width: 715px;
			h2 {
				text-align: left;
				margin-bottom: 15px;
				&.success-msg {
					margin-bottom: 0;
				}
			}
			.gigya-composite-control.gigya-composite-control-label {
				color: #000000;
				padding-bottom: 12px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				&.reset-desc {
					width: 85%;
					line-height: 1.6;
					font-size: 16px;
				}
			}
		}
		.gigya-screen .gigya-layout-row {
			text-align: left;
		}
		.gigya-input-submit,
		.ru-flows .gigya-screen input[type=submit] {
			background-color: #00266b;
			width: 110px;
			float: right;
			height: 42px;
			border-radius: 3px;
		}
	}
	.kf-signup {
		&.popup--confirmation-error {
			.popup__inner {
				max-width: 400px;
			}
		}
		.main-heading {
			font-size: 33px;
		}
		.kf-desc {
			color: #000000;
		}
		.button-group {
			position: relative;
			height: 40px;
			width: 100%;
			margin-top: 30px;
			.btn-1 {
				float: right;
			}
		}
	}
	.profile-update {
		label.gigya-composite-control.gigya-composite-control-label {
			color: #000000;
		}
		img.pin-eye-icon {
			top: 40px;
		}
		&.reset-password-success {
			.gigya-screen.portrait {
				width: 485px;
			}
			.gigya-screen.portrait .gigya-error-msg-active.gigya-form-error-msg,
			.gigya-screen.portrait .gigya-error-msg.gigya-error-msg-active {
				font-size: 14px;
				text-align: left;
				color: #ff0000;
				font-weight: 400;
			}
		}
		.gigya-screen .gigya-composite-control .gigya-composite-control-password input {
			margin-bottom: 30px;
		}
		.gigya-screen .gigya-layout-row {
			text-align: left !important;
		}
		.gigya-input-submit,
		.ru-flows .gigya-screen input[type=submit] {
			background-color: #00266b;
			width: 110px;
			float: right;
			height: 42px;
			border-radius: 3px;
		}
		.gigya-screen.portrait {
			width: 715px;
			margin: 0;
			padding-top: 0;
		}
		.main-text.gigya-message.letter-spacing-s.sub-heading-1--blue {
			font-weight: 400;
			padding-bottom: 20px;
			color: #00266b;
			font-size: 33px;
			font-family: "baker-signet-web", serif;
		}
		.gigya-screen .gigya-label-text {
			font-size: 15px;
		}
	}
	.login-social-media {
		label.gigya-composite-control.gigya-composite-control-label.login-header {
			float: left;
			color: #000000;
		}
		.social-icons button img {
			width: 130px;
			height: 35px;
		}
		.gigya-screen.portrait.mobile .gigya-composite-control-label {
			text-align: left;
		}
		.gigya-composite-control.gigya-composite-control-link.sign-up {
			margin-top: 10px;
		}
		.social-icons {
			&.si-google {
				padding-left: 8px;
				padding-right: 8px;
			}
		}
		.gigya-label,
		.gigya-label-text.gigya-checkbox-text {
			font-size: 14px;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		}
		.gigya-screen .gigya-composite-control {
			&.gigya-composite-control-header {
				color: #000000;
				text-align: left;
				font-size: 14px;
				padding-bottom: 15px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			}
			&.gigya-composite-control-submit {
				padding-bottom: 5px;
				font-size: 14px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			}
			&.gigya-composite-control-label.log-in-text {
				color: #000000;
				width: 100%;
				font-size: 14px;
				font-weight: 500;
				padding-bottom: 10px;
			}
		}
		.gigya-screen.portrait {
			width: 420px;
		}
		.gigya-layout-cell {
			.login-help {
				color: #0254ec;
				font-size: 14px;
				float: right;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			}
		}
		.gigya-layout-row {
			.sign-up {
				width: 100%;
				font-size: 14px;
				color: #0254ec;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				span {
					font-size: 8px;
					color: #0254ec;
				}
			}
		}
		.gigya-screen .label-divider {
			height: 50px;
			span {
				color: #747474;
				margin-top: 18px;
				font-size: 12px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			}
		}
		.gigya-screen input[type=submit] {
			width: 100%;
			float: right;
			height: 38px;
			border-radius: 3px;
			margin-top: 0;
		}
		.gigya-composite-control.gigya-composite-control-label.link-accounts-main-header {
			background-color: #e5eaf0;
			padding: 16px;
			margin-bottom: 20px;
			.ico-info-round-fill {
				float: left;
				font-size: 30px;
				color: #00266b;
			}
			.alert-text {
				font-size: 14px;
				color: #00266b;
				margin-left: 50px;
				.heading {
					font-size: 16px;
					color: #00266b;
					font-weight: 600;
				}
				.sub-text {
					font-size: 14px;
					color: #00266b;
				}
			}
		}
	}
	.registration-intermediate {
		.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown select.gigya-error {
			background-color: #fef5f4;
			border-color: #ff0000;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-textbox {
			padding-bottom: 5px;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-textbox input {
			margin-bottom: 4px;
		}
		.gigya-screen .gigya-form-error .gigya-composite-control.gigya-composite-control-form-error.gigya-error-display-active {
			@extend .ru-form-error;
		}
		.ico-close-round-fill {
			@extend .ru-ico-close;
		}
		.gigya-error-msg.gigya-form-error-msg.gigya-error-code-403005.gigya-error-msg-active {
			color: black !important;
		}
		.gigya-screen.portrait .gigya-error-msg-active.gigya-form-error-msg,
		.gigya-screen.portrait .gigya-error-msg.gigya-error-msg-active {
			@extend .ru-form-error-txt;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-header {
			text-align: left;
			font-family: "baker-signet-web", serif;
			font-size: 26px;
			color: #00266b;
		}
		.gigya-screen.portrait {
			width: 420px;
			padding: 0;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-submit {
			padding-bottom: 0;
			margin-top: 10px;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-label.main-text {
			font-size: 16px;
			color: #000000;
			padding-bottom: 20px;
			font-weight: 400;
		}
		.pin-eye-icon {
			top: 40px;
		}
	}
	.create-account-tab,
	.create-account-tab-completion {
		label.gigya-composite-control.gigya-composite-control-label.pin-eye-description {
			margin-top: -10px;
			font-style: italic;
			font-size: 12px;
			width: 100%;
		}
		.gigya-required-display.gigya-conditional.gigya-reset {
			&.hidden-asterisk {
				opacity: 0;
			}
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown select.gigya-error {
			background-color: #fef5f4;
			border-color: #ff0000;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown input,
		.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown select,
		.gigya-screen .gigya-composite-control.gigya-composite-control-password input,
		.gigya-screen .gigya-composite-control.gigya-composite-control-password select,
		.gigya-screen .gigya-composite-control.gigya-composite-control-textbox input,
		.gigya-screen .gigya-composite-control.gigya-composite-control-textbox select {
			margin-bottom: 3px;
		}
		.gigya-screen .gigya-error-msg,
		.gigya-screen .gigya-error-msg-active.gigya-form-error-msg {
			height: 23px;
		}
		.pin-eye-icon {
			top: 40px;
		}
		.gigya-screen .label-divider {
			span {
				margin-top: 20px;
				background-color: #f7f7f7;
				border-radius: 50%;
				padding: 10px
			}
		}
		.gigya-composite-control-dropdown {
			select {
				border-radius: 2px;
			}
		}
		.gigya-composite-control.gigya-composite-control-checkbox.terms-conditions {
			padding: 20px;
			background-color: #e5e9f0;
			input {
				+label {
					padding-left: 40px;
					&::before {
						margin-left: 20px;
					}
					span {
						a {
							color: #0254ec;
							font-size: 15px;
						}
					}
				}
			}
			input:checked+label::after {
				left: 21px;
			}
		}
		.gigya-screen input[type=submit] {
			width: 14%;
			float: right;
			height: 35px;
			border-radius: 3px;
			margin-top: 20px;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-checkbox .gigya-label {
			width: 65%;
		}
		.gigya-composite-control.gigya-composite-control-dropdown {
			width: 100%;
		}
		.gigya-layout-row {
			.gigya-layout-cell:first-child {
				width: 49%;
				padding-right: 18px;
			}
			.gigya-layout-cell:nth-child(2) {
				width: 49%;
			}
		}
		.gigya-composite-control.gigya-spacer {
			padding-bottom: 0px;
			margin-top: 2px;
		}
		.gigya-screen.portrait .gigya-composite-control {
			padding-left: 0;
			&.alert-message {
				background-color: #e5eaf0;
				padding: 20px;
				color: #00266b;
				margin-bottom: 15px;
				margin-top: 10px;
				font-size: 14px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			}
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-header {
			padding-bottom: 10px;
			margin-top: 20px;
		}
		.gigya-screen.portrait {
			width: auto;
			max-width: none !important;
		}
		.gigya-screen .gigya-layout-row {
			text-align: left;
		}
		.gigya-layout-row {
			.social-icons {
				margin-left: 10px; // img{
				// 	padding: 0 18px;
				// }
				&.si-facebook {
					margin-left: 0;
				}
			}
		}
	}
	.verification-sent {
		width: 68%;
		.gigya-screen .gigya-composite-control.gigya-composite-control-label.main-text {
			color: #000000;
			font-size: 16px;
		}
		.gigya-screen.portrait {
			width: auto;
			font-size: 15px;
		}
		.vf-sent-text {
			color: #000000;
			font-size: 16px;
			width: 100%;
			line-height: 1.6;
		}
	}
	.login-container {
		.social-icons button img {
			width: 126px;
			height: 35px;
		}
		.gigya-screen {
			padding-bottom: 10px;
		}
		.gigya-screen input.gigya-input-submit {
			border-radius: 3px;
			height: 42px;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-password select {
			margin-bottom: 5px;
		}
		.ru-flows .login-container span.gigya-label-text.gigya-checkbox-text {
			font-size: 14px;
		}
		.gigya-show-checkmark.gigya-valid {
			background-image: none;
		}
		.social-icons {
			img {
				padding: 0 3px;
			}
			&.si-google {
				padding-left: 8px;
				padding-right: 8px;
			}
		}
		.gigya-screen {
			font-size: 14px;
		}
		.gigya-label,
		.gigya-label-text.gigya-checkbox-text {
			font-size: 14px;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		}
		.gigya-screen .gigya-composite-control {
			&.gigya-composite-control-header {
				color: #000000;
				text-align: left;
				font-size: 14px;
				padding-bottom: 15px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			}
			&.gigya-composite-control-submit {
				padding-bottom: 5px;
				font-size: 14px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			}
			&.gigya-composite-control-label.log-in-text {
				color: #000000;
				width: 100%;
				font-size: 14px;
				font-weight: 500;
				padding-bottom: 10px;
			}
		}
		.gigya-screen.portrait {
			width: 420px;
		}
		.gigya-layout-cell {
			.login-help {
				color: #0254ec;
				font-size: 14px;
				float: right;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			}
		}
		.gigya-layout-row {
			.sign-up {
				width: 100%;
				font-size: 14px;
				color: #0254ec;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				span {
					font-size: 8px;
					color: #0254ec;
				}
			}
		}
		.gigya-screen .label-divider {
			height: 50px;
			span {
				color: #747474;
				margin-top: 18px;
				font-size: 12px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			}
		}
	}
	.popup.popup-3.popup--login.ru-login {
		.main-heading {
			font-size: 26px;
			margin-bottom: 20px;
		}
		.gigya-screen.portrait {
			padding-top: 12px;
		}
		.gigya-error-display-active {
			background-color: #fff1f0;
			position: relative;
			bottom: 21px;
			.ico-close-round-fill {
				color: #fc0d1b;
				position: absolute;
				top: 15%;
				left: 10px;
				font-size: 30px;
			}
			.gigya-error-msg.gigya-form-error-msg.gigya-error-code-403042.gigya-error-msg-active {
				text-align: left;
				padding-top: 20px;
				padding-left: 0;
				margin-left: 55px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				color: #000000;
				font-weight: normal;
			}
		}
		.form-group.form-group--tooltips {
			// top: 15px;
			.custom-radio label {
				padding-left: 18px;
				cursor: pointer;
				font-size: 13px;
			}
		}
	}
	label.gigya-composite-control.gigya-composite-control-label.text-info {
		float: left;
		font-size: 12px;
		width: 100%;
		line-height: 1em;
		padding-bottom: 26px;
	}
	label.gigya-composite-control.gigya-composite-control-label.links-header.pref-text{
		line-height: 1em;
		padding-bottom: 28px;

	}
	.gigya-composite-control.gigya-composite-control-multi-choice.european-custom-radio {
		.gigya-label-text {
			text-align: left;
		}
		.gigya-multi-choice-item {
			display: inline;
			margin: 0;

			label {
				display: inline;
				margin-left: 0;
				padding-right: 30px;
				margin-top: 2px;
			}
			input[type=radio] {
				margin-top: -3px !important;
			}
		}
			a {
				color: #566a8f;
			}
	}

	.gigya-composite-control-checkbox.sortable-drag.check-box-message {
		font-size: 14px;
		color: #000;
	}


	.gigya-composite-control.gigya-composite-control-textbox.first-name-input {
		width: 95%;
		margin-left: 0;
		padding-bottom: 0;

		.gigya-input-text {
			margin-bottom: 10px;
		}
	}
	.gigya-composite-control.gigya-composite-control-textbox.user-lastname {
		width: 95%;
		margin-left: 10px;
	}
	.gigya-composite-control.gigya-spacer.spacer-1 {
		padding: 0;
		height: 0 !important;
	}
	.gigya-composite-control.gigya-spacer.spacer-2 {
		height: 7px !important;
		padding: 0;
	}
	.gigya-composite-control.gigya-composite-control-textbox.date-field {
		width: 95%;
		margin-left: 0;
	}
	label.gigya-composite-control.gigya-composite-control-label.communication-header {
		float: left;
		color: #00266b;
		font-weight: 600;
		margin-top: 20px;
	}
	.gigya-composite-control.gigya-composite-control-dropdown.country-selection {
		margin: 0;
		padding: 0;
		width: 95%;
		select.gigya-error {
			background-color: #fef5f4 !important;
		}

	}
	label.gigya-composite-control.gigya-composite-control-label.email-notification {
		float: left;
		margin: 0;
		padding-bottom: 0;
		margin-top: 17px;
		margin-bottom: 2px;
	}
	.gigya-screen .gigya-composite-control.gigya-composite-control-label {
		display: block;
	}
	label.gigya-composite-control.gigya-composite-control-label.title-singapore {
		margin-top: 17px;
		font-weight: 700;
		margin-left: -60px !important;
		font-size: 14px;
		padding-bottom: 15px;
	}
	label.gigya-composite-control.gigya-composite-control-label.title-silk-air {
		margin-top: 17px;
		font-weight: 700;
		margin-left: -134px !important;
		font-size: 14px;
		padding-bottom: 15px;
	}
	.gigya-composite-control.gigya-composite-control-checkbox.sortable-drag.checkbox-1 {
		margin-bottom: 8px;
	}
	.gigya-composite-control.gigya-composite-control-checkbox.checkbox-1 {
		margin-bottom: 8px;
	}
	.gigya-composite-control.gigya-composite-control-checkbox.checkbox-2 {
		margin-left: -122px;
	}
	label.gigya-composite-control.gigya-composite-control-label.promotions-1 {
		margin-top: 34px;
		padding-bottom: 5px;
		font-size: 14px !important;
	}
	label.gigya-composite-control.gigya-composite-control-label.news-1 {
		padding-bottom: 7px;
		font-size: 14px;
	}
	label.gigya-composite-control.gigya-composite-control-label.engagement-1 {
		padding-bottom: 7px;
		font-size: 14px;
	}
	label.gigya-composite-control.gigya-composite-control-label.partners-1 {
		font-size: 14px;
	}
	.gigya-composite-control.gigya-composite-control-dropdown.user-ccp {
		width: 100%;
		margin-left: 0;
	}
	.gigya-composite-control.gigya-composite-control-checkbox.terms-conditions-promt,
	.gigya-composite-control.gigya-composite-control-checkbox.terms-and-conditions-prompt {
		padding-top: 20px;
		padding-left: 15px;
		padding-right: 25px;
		padding-bottom: 15px;
		float: left;
		width: 100%;
		left: -20px;
		top: 125px;
		background-color: #e5e9f0;
		padding: 20px;
		.ru-flows .gigya-screen .gigya-composite-control.gigya-composite-control-checkbox .gigya-label {
			&::before {
				top: 2px;
			}
		}
	}
	.gigya-composite-control.gigya-composite-control-submit.save-btn {
		position: absolute;
		transform: translateY(220px);
		right: 0;
		width: 100px;
		height: auto;
		padding: 0;
		input[type=submit] {
			// padding: 0px 12px;
			border-radius: 4px;
		}
		.disabled {
			background-color: #999;
			color: #ddd !important;
			cursor: default;
			border: none;
			height: 45px;
		}
	}
	label.gigya-composite-control.gigya-composite-control-label.cancel-btn {
		position: absolute;

		transform: translateY(220px);
		right: 100px !important;
		padding: 13px 28px;
		background: #6c7577;
		color: #fff;
		text-transform: uppercase;
		margin-right: 10px;
		border-radius: 4px;
		b {
			color: #fff;
			font-size: 12px;
		}
	}
	.screenset-container {
		position: relative;
		.input-heading {
			margin-bottom: 5px;
		}
		.error-message {
			border: 1px solid #ff0000;
			background-color: #fef5f4;
		}
		.form-group.new-pass-input {
			width: 30%;
			margin-top: 10px;
			display: inline-block;
			.input-1 {
				margin-top: 10px;
			}
			.message-error {
				color: #ff0000;
				font-size: 14px;
			}
		}
		.form-group.confirm-pass-input {
			width: 30%;
			display: inline-block;
			margin-left: 10px;
			.input-1 {
				margin-top: 10px;
			}
			.message-error {
				color: #ff0000;
				font-size: 14px;
			}
		}
		.reminder-password {
			p {
				width: 61%;
				margin-top: 0;
			}
		}
		.terms-and-conditions-promt {
			margin-top: 30px;
			.payment-currency {
				padding: 20px 10px 20px !important;
				width: 60%;
				.custom-checkbox--1 label {
					font-size: 14px !important;
					line-height: normal;
					color: #000 !important;
				}
			}
		}
		.save-btn-1 {
			background-color: #00266b;
			position: absolute;
			right: 0;
			bottom: 0;
			width: 58px;
		}
		.see-more-btn {
			width: 58px;
			background-color: #6c7577;
			font-size: 12px;
			position: absolute;
			right: 99px;
			bottom: 0;
			margin-right: 10px;
		}
	}
	/*****************************************GLOBAL**********************************************8***/
	.gigya-screen.portrait .gigya-error-msg-active.gigya-form-error-msg,
	.gigya-screen.portrait .gigya-error-msg.gigya-error-msg-active {
		font-size: 15px;
		text-align: left;
		color: #ff0000;
	}
	.gigya-screen {
		padding-bottom: 10px;
	}
	.gigya-screen,
	.gigya-screen * {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16px;
	}
	.gigya-input-submit,
	.ru-flows .gigya-screen input[type=submit] {
		letter-spacing: 0.1em;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16px;
		font-weight: 600;
	}
	.gigya-screen.portrait {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
	}
	.gigya-show-checkmark.gigya-valid {
		background-image: none;
	}
	.form-group.form-group--tooltips {
		margin-bottom: 15px;
	}
	.required-text {
		font-size: 12px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}
	.links-header {
		color: #00266b;
		font-size: 18px;
		text-align: left;
		font-weight: 600;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		&.pref-text {
			// margin-top: 20px;
		}
		&+.smii-sub-title {
			color: black;
			margin: 11px 0 0;
		}
	}
	.link-4 {
		margin-top: 10px;
	}
	.tabs-component {
		.tabs--1>.tab .tab-item {
			width: calc(100%/2);
			height: 140px;
			margin-bottom: -2px;
			background-color: #efefef;
			a {
				text-transform: none;
				padding: 20px 25px 0;
				height: 88%;
				.main-label {
					margin: 0;
					font-size: 20px;
					color: #00266b;
				}
				.label {
					margin: 0;
					line-height: 1.5;
					font-weight: 500;
					width: 100%;
					font-size: 14px;
				}
			}
			&.active {
				a {
					border-top: 5px solid #ff9f00;
					border-left: none;
					border-right: none;
					background-color: #fff;
				}
			}
		}
		.tab-wrapper {
			background-color: white;
			padding: 20px 25px;
			margin-top: 6px;
			.tab-content {
				.label {
					display: none;
				}
			}
			.gigya-composite-control.gigya-composite-control-checkbox.user-cp-raio {
				a.ico-info-round-fill {
					color: #999;

						&:before {
						margin-left: 8px;
					}
				}

				span.gigya-label-text.gigya-checkbox-text {
					color: black;
				}
			}

			.gigya-composite-control.gigya-composite-control-checkbox {
				a.ico-info-round-fill {
					color: #999;

						&:before {
						margin-left: 8px;
					}
				}

				.gigya-label-text.gigya-checkbox-text {
					color: black;
				}
			}
		}
	}
	.ru-flows-wrapper {
		.heading-1 {
			color: #000000;
			width: 85%;
		}
		.tabs-component {
			background-color: #efefef;
		}
	}
	.sub-heading-1--blue {
		color: #00266b;
		font-size: 33px;
		font-family: "baker-signet-web", serif;
		&.basic-head {
			width: 50%;
		}
	}
	.gigya-error-msg.gigya-error-msg-active {
		text-align: left;
		color: #ff0000;
		font-weight: 400;
	}
	.popup__heading {
		&.ru-blue-text {
			color: #00266b;
			font-size: 33px;
		}
	}
	.social-icons {
		button {
			border-radius: 3px;
			img {
				width: 165px;
				border-radius: 3px;
			}
		}
		&.si-facebook {
			button {
				background-color: #39579a;
				img {
					border: 1px solid #39579a;
				}
			}
		}
		&.si-google {
			button {
				background-color: #ffffff;
				img {
					border: 1px solid #d8d8d8;
				}
			}
		}
		&.si-linkedin {
			button {
				background-color: #0076b7;
				img {
					border: 1px solid #0076b7;
				}
			}
		}
	}
	.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown .gigya-error-msg-active,
	.gigya-screen .gigya-composite-control.gigya-composite-control-password .gigya-error-msg-active,
	.gigya-screen .gigya-composite-control.gigya-composite-control-textbox .gigya-error-msg-active {
		color: #ff0000;
		font-weight: 400;
		font-size: 14px;
		// height: auto;
	}
	.gigya-composite-control.gigya-composite-control-checkbox {
		label.gigya-label {
			::after {
				span.gigya-label-text.gigya-checkbox-text {
					color: red;
				}
			}
		}
	}
	.gigya-screen .gigya-composite-control.gigya-composite-control-checkbox {
		position: relative;
		.gigya-label {
			margin-left: 0;
		}
		input {
			position: absolute;
			top: 3px;
			opacity: 0;
			cursor: pointer;
			width: 14px;
			height: 14px;
			z-index: 0;
			+label {
				display: inline-block;
				padding-left: 23px;
				margin-right: 10px;
				line-height: 16px;
				font-size: 14px;
				cursor: pointer;
				position: relative;
				color: #666;
				&::before {
					content: '';
					width: 12px;
					height: 12px;
					border: 1px solid #ccc;
					position: absolute;
					top: 0;
					left: 0;
					background-color: #fff;
					z-index: 1;
				}
			}
		}
		input:checked {

			+label{
				&::after {
					content: '\e610';
					font-family: 'sia';
					font-weight: bold;
					color: #ef9a1a;
					position: absolute;
					top: -1px;
					left: 2px;
					font-size: 14px;
					z-index: 1;

				}
			}



		}

	}
	.gigya-composite-control.gigya-composite-control-checkbox.first-name-checkbox{
		span{
			color: #666 !important;
		}
	}
		.gigya-composite-control.gigya-composite-control-checkbox.check-box-message{
		span{
			color: #666 !important;
		}
	}

	.gigya-composite-control.gigya-composite-control-checkbox.sortable-drag.check-box-message{
		position: relative;
		.gigya-label {
			margin-left: 0;
		}
		input {
			position: absolute;
			top: 3px;
			opacity: 0;
			cursor: pointer;
			width: 14px;
			height: 14px;
			z-index: 0;
			+label {
				display: inline-block;
				padding-left: 23px;
				margin-right: 10px;
				line-height: 16px;
				font-size: 14px;
				cursor: pointer;
				position: relative;
				color: #666;
				&::before {
					content: '';
					width: 12px;
					height: 12px;
					border: 1px solid #ccc;
					position: absolute;
					top: 0;
					left: 0;
					background-color: #fff;
					z-index: 1;
				}
			}
		}
		input:checked {
			+label{
				span{
					color: #000 !important;
				}
				&::after {
					content: '\e610';
					font-family: 'sia';
					font-weight: bold;
					color: #ef9a1a;
					position: absolute;
					top: -1px;
					left: 2px;
					font-size: 14px;
					z-index: 1;

				}
			}
		}
	}
	.gigya-composite-control.gigya-composite-control-checkbox.sortable-drag.first-name-checkbox.gigya-terms-valid {
		position: relative;
		.gigya-label {
			margin-left: 0;
		}
		input {
			position: absolute;
			top: 3px;
			opacity: 0;
			cursor: pointer;
			width: 14px;
			height: 14px;
			z-index: 0;
			+label {
				display: inline-block;
				padding-left: 23px;
				margin-right: 10px;
				line-height: 16px;
				font-size: 14px;
				cursor: pointer;
				position: relative;
				color: #666;
				&::before {
					content: '';
					width: 12px;
					height: 12px;
					border: 1px solid #ccc;
					position: absolute;
					top: 0;
					left: 0;
					background-color: #fff;
					z-index: 1;
				}
			}
		}
		input:checked {
			+label{
				span{
					color: #000 !important;
				}
				&::after {
					content: '\e610';
					font-family: 'sia';
					font-weight: bold;
					color: #ef9a1a;
					position: absolute;
					top: -1px;
					left: 2px;
					font-size: 14px;
					z-index: 1;

				}
			}
		}
	}

	.gigya-input-submit,
	.gigya-screen input[type=submit] {
		background-color: #00266b;
		text-transform: uppercase;
		font-size: 12px;
	}
	.gigya-screen .gigya-label-text {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 15px;
	}
	.gigya-screen input,
	.gigya-screen input.gigya-input-text,
	.gigya-screen input.gigya-input-password {
		border-radius: 2px;
		box-shadow: none;
		border: 1px solid #cccccc;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		&.gigya-input-text.gigya-error,
		&.gigya-input-password.gigya-error {
			border: 1px solid #ff0000;
			border-radius: 2px;
			margin-bottom: 4px;
			font-size: 14px;
			background-color: #fef5f4;
			&.firstname-disabled {
				background-color: #efefef;
				border: 1px solid #cccccc;
			}
		}
		&.firstname-disabled {
			background-color: #efefef;
			border: 1px solid #cccccc;
		}
	}
	.gigya-screen-caption {
		display: none;
	}
	.gigya-screen .label-divider {
		span {
			text-transform: uppercase;
			font-weight: 600;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		}
	}
	.pin-eye-icon {
		position: absolute;
		top: 39px;
		right: 26px;
		width: auto;
		height: 15px;
		opacity: 0.6;
	}
	
	.popup-3 .popup__inner,
	.popup--confirmation-error .popup__inner {
		max-width: 505px;
	}
	// .gigya-input-checkbox:checked~.gigya-label span {
	// 	font-weight: 600;
	// }
	.ico-cancel-thin.add-clear-text {
		display: none !important;
	}
	.ico-cancel-thin.add-clear-text.gigya-error-msg-active {
		display: none !important;
	}
	&.how-to-earn-page-1 {
		.gigya-screen.portrait {
			width: auto;
			max-width: none !important;
		}
	}
	.ru-profile-edit-link-social {
		padding: 30px 20px;
		position: relative;
		.links-header {
			line-height: 1em;
		}
		.smii-sub-title:last-child {
			margin-bottom: 0;
		}
	}
	[data-toggle-screenset] {
		position: absolute;
		min-width: 50px;
		right: 20px;
		top: 34px;
	}
	.smii-sm-link {
		.gig-edit-connections {
			height: auto;
			&:first-of-type {
				margin-top: 17px;
			}
			ul {
				display: flex;
				width: 100%;
				height: auto;
				min-height: 50px;
				overflow: hidden;
			}
			li {
				position: relative;
				height: 100%;
				padding: 0;
				max-height: 50px;
				border-spacing: 0;
				border: 0;
				flex-grow: 1; // padding: 0 0 0 10px;
				background-color: #f2f2f2;
				&:last-child {
					&:after {
						content: '';
						display: none;
					}
				}
				&:after {
					content: '';
					display: block;
					width: 10px;
					height: 100%;
					background-color: white;
					position: absolute;
					top: 0;
					right: 0;
				}
				strong {
					display: none;
				}
				.gig-edit-connections-identity-information-profile-image,
				.gig-edit-connections-provider-apps {
					display: none;
				}
				.gig-edit-connections-social-provider {
					display: inline-block;
					vertical-align: middle;
					height: calc(100% - 20px);
					padding: 10px 20px;
					background-color: #f2f2f2;
					.gig-edit-connections-social-provider-image {
						float: none;
						padding: 0;
						vertical-align: middle;
						img {
							width: 30px;
							height: auto;
						}
					}
					&+.gig-edit-connections-identity-information {
						display: inline-block;
						height: auto;
						margin: 0 0 0 -20px;
						overflow: hidden;
						.gig-edit-connections-information-details {
							padding-left: 0;
							float: none;
						}
					}
				}
				.gig-edit-connections-identity-information {
					display: inline-block;
					vertical-align: middle;
					text-align: left;
				}
				.gig-edit-connections-information-details {
					display: inline-block;
				}
				.gig-edit-connections-connectLink,
				.gig-edit-connections-disconnectLink {
					display: inline-block;
					vertical-align: middle;
					padding-left: 17px;
					position: relative;
					font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
					font-size: 14px;
					font-weight: 700;
					line-height: 1em;
					color: #0254ec;
					&:before {
						content: '›';
						position: absolute;
						left: 7px;
						top: 40%;
						transform: translateY(-50%);
						display: block;
						line-height: 1em;
					}
				}
			}
		}
		.gig-edit-connections ul li .gig-edit-connections-identity-information .gig-edit-connections-information-details .gig-edit-connections-information-details-row {
			display: none;
		}
	}
	[data-create-password] {
		position: relative;
		.terms-and-conditions-prompt {
			position: relative;
			width: 65%;
			.payment-currency {
				padding: 20px;
			}
			label {
				font-size: 14px;
				color: black;
				line-height: 1.1em;
				&:before, &:after {
					top: 0;
				}
			}
		}
		.form-group {
			&.submit-btn {
				position: absolute;
				right: 0;
				bottom: 0;
				float: none;
				margin: 0;
				.disabled {
					background-color: #999 !important;
					color: #dddddd !important;
				}
			}
			&.new-pass-input,
			&.confirm-pass-input {
				width: calc(33.65% - 24px);
				display: inline-block;
				vertical-align: top;
				margin: 0 20px 10px 0;
				.input-1 {
					margin-top: 10px;
				}
				.message-error {
					color: #ff0000;
					font-size: 14px;
					margin-top: 10px;
					display: block;
				}
			}
			&.confirm-pass-input {
				margin-right: 0;
			}
			.pin-eye-icon {
				top: 11px
			}
		}
		.reminder-password {
			margin-bottom: 30px;
			font-style: italic;
			font-size: 12px;
			color: #666666;
		}
		.form-general {
			padding-top: 30px;
		}
	}
	[data-update-password] {
		position: relative;
		padding: 30px 0 0;
		.gigya-layout-row {
			text-align: left;
		}
		.gigya-layout-cell {
			float: none;
			display: inline-block;
			vertical-align: top;
			width: auto;
			.pin-eye-icon {
				top: 39px;
			}
		}
		.ru-input-grp,
		.gigya-layout-cell {
			width: calc(33.65% - 24px);
			padding-bottom: 0;
			display: inline-block;

			.gigya-label .gigya-label-text {
				color: #666;
			}
		}
		.gigya-layout-cell:first-child {
			margin-right: 20px;
		}
		.terms-and-conditions-prompt {
			position: relative;
			width: 65%;
		}
		.reminder-password {
			margin-bottom: 30px;
			font-style: italic;
			font-size: 12px;
			color: #666666;
			position: relative;
			width: 65%;
		}
		.old-pass-input {
			margin-bottom: 25px;
			.pin-eye-icon {
				top: 37px;
			}
		}
		.gigya-composite-control.gigya-composite-control-label {
			display: inline-block;
			padding: 0;
		}
		.gigya-layout-cell:empty,
		.gigya-layout-row:empty {
			display: none;
		}
		.gigya-composite-control {
			&.gigya-composite-control-password {
				padding: 0;
				input {
					margin: 0;
				}
			}
			&.terms-and-conditions-prompt {
				float: none;
				top: 0;
				left: 0;
				padding: 20px;
				width: calc(65% - 40px);
				display: inline-block !important;

				label {
					&:before {
						margin-top: 1px;

					}
				}
			}
			&.btn-submit {
				position: relative;
				padding-bottom: 0;
				display: inline-block !important;
				vertical-align: top;
				width: 95px;
				margin-left: 10px;
				input[type=submit] {
					border-radius: 3px;
					padding: 16px 20px;
					line-height: 1em;
					width: calc(100% - 40px);
					height: auto;
					border: 0;
				}
			}
			&.gigya-composite-control-label.btn-cancel {
				color: #ffffff !important;
				background: #666;
				padding: 12px 20px;
				border-radius: 3px;
				width: 74px;
				text-align: center;
				position: relative;
				text-transform: uppercase;
				display: inline-block;
				vertical-align: top;
				border: 0;
				b {
					font-size: 12px;
					color: #fff !important;
					line-height: 1em;
				}
			}
		}
		.gigya-error-msg-active {
			margin: 10px 0 0;
			padding: 0;
		}
		.gigya-layout-row:nth-of-type(6) {
			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
			text-align: right;
		}
		.gigya-layout-row:nth-of-type(5) {
			display: none;
		}
		.gigya-label-text {
			font-size: 14px;
			color: black;
			line-height: 1.3em;
		}
		.gigya-screen {
			margin: 0;
			padding: 0;
		}
	}

	&.gigya-registration {
		.gigya-composite-control.gigya-composite-control-label.required-text.ru-gdpr-label-update {
			font-size: 12px;
			padding-bottom: 28px;
			color: #666;
		}
		.gigya-composite-control.gigya-composite-control-label.links-header{
			font-size: 18px;
			padding-bottom: 10px;
		}
		.gigya-composite-control.gigya-composite-control-label.links-header.pref-text {

			font-size: 18px;
			padding-bottom: 15px;
			line-height: 1em;
		}
		label.gigya-composite-control.gigya-composite-control-label.comm-pref-text{
			color: #333;
		}

		.gigya-composite-control.gigya-spacer.first-spacer.last-name-spacer {
			font-size: 16px;
		}
		.gigya-composite-control.gigya-composite-control-multi-choice.custom-radio.custom-radio--1.gdpr-block {
			a{
				color: #566a8f;
			}
			.gigya-multi-choice-item .gigya-input-radio{
				margin-top: 40px;
			}
			.gigya-label-text{
				cursor: default;
			}
			.gigya-label{
				padding-left: 0px !important;
				padding-bottom: 0px;
			}
			.gigya-multi-choice-item{
				float: left;
				padding-top: 0px;

				label{
					font-size: 14px;
					margin-bottom: 20px;
					margin-left: 0px;
					margin-right: 23px;
				}
			}
		}

		.gigya-composite-control.gigya-composite-control-dropdown.user-ccp{
			option{
				font-size: 14px;
			}
		}
		.tabs-component .tab-wrapper .gigya-composite-control.gigya-composite-control-checkbox.tc-partners{
			span.gigya-label-text.gigya-checkbox-text{
				color: #000000;
			}
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown select{
			font-size: 14px;
		}
		.gigya-composite-control.gigya-composite-control-label {
			font-size: 15px;
		}
		.create-account-tab .gigya-screen .gigya-composite-control.gigya-composite-control-checkbox .gigya-label {
			// width:calc(100% - 40px);
			// display: block;

			// &.gigya-checkbox-text{
			// 	color: #4e515e;
			// 	font-size: 12px;
			// }
		}

		.tabs-component .tab-wrapper .gigya-composite-control.gigya-composite-control-checkbox .gigya-label-text.gigya-checkbox-text{
			color: #777777;
			font-size: 14px;
		}

		.gigya-composite-control.gigya-composite-control-textbox.user-lastname{
			width: auto;
			margin-left: 0;
		}
		.create-account-tab .gigya-composite-control.gigya-composite-control-checkbox.terms-conditions input + label span {
			font-size: 12px;
		}
		.gigya-composite-control.gigya-composite-control-checkbox.terms-conditions{
			margin-top: 10px;
			label.gigya-label{
				width: 95%;
			 span.gigya-label-text.gigya-checkbox-text{
			  font-size: 14px;
			  color: #000;
			  top: -1px;
			  position: relative;
			  a{
			   font-size: 14px;
			  }
			 }
			}
		}
	}
}

@media screen and (max-width: 1023px) {
	.ru-flows {
		&.smii-ru-profile-page{
			.gigya-screen.portrait.mobile{
				padding: 0;
			}
			.ru-profile-edit-container{
				.gigya-composite-control.gigya-composite-control-textbox.first-name-input{
					input[type="text"]:disabled{
						margin-top: 1px;
					}
				}
				.gigya-composite-control.gigya-composite-control-checkbox.sortable-drag.check-box-message{
					label{
						width: 88%;
					}
				}
				.gigya-composite-control.gigya-spacer.spacer-2{
					height: 1.75em !important;
				}
				.gigya-profile-form:last-child .gigya-composite-control.gigya-composite-control-checkbox.terms-conditions-promt input{
					margin-left: -10px;
				}
			}
		}
		&.gigya-registration{
			.date-picker-placeholder{
				top: 26px;
			}
			.gigya-composite-control.gigya-composite-control-checkbox.terms-conditions{
				float: left;
				width: 97%;
				left: 0;
				top: 0;
				position: relative;
			}
			.gigya-composite-control.gigya-composite-control-checkbox.terms-conditions{
				label.gigya-label{
					width: 94%;
				}
			}
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-password .gigya-error-msg-active {
			padding-bottom: 4px;
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown .gigya-error-msg-active,
		.gigya-screen .gigya-composite-control.gigya-composite-control-password .gigya-error-msg-active,
		.gigya-screen .gigya-composite-control.gigya-composite-control-textbox .gigya-error-msg-active {
			height: 23px;
		}
		.join-krisflyer-tab .form-registration.form-global .form-wrapper .custom-checkbox label {
			width: 80%;
		}
		&.link-accounts .gigya-screen.portrait .gigya-composite-control.gigya-composite-control-label.reset-desc {
			width: 100%;
		}
		.logged-in.profile-pic {
			padding-bottom: 25px;
			.img-prof-pic {
				width: 40px;
				border-radius: 50%;
				position: absolute;
				top: 2px;
			}
			.ico-point-r {
				margin-top: -4px;
			}
			.status-content {
				margin-left: 50px;
				color: #ffffff;
			}
			a {
				padding-top: 5px;
			}
			.popup__heading .pax-type {
				font-weight: 400;
				margin-bottom: 0;
				line-height: 1.5;
			}
			.btn-1 {
				padding: 12px;
				font-weight: 700;
			}
		}
		.hidden-mb {
			display: block !important;
		}
		.verification-pending {
			.gigya-label-text.gigya-composite-control.gigya-composite-control-label {
				padding: 20px 25px;
			}
		}
		.welcome-page,
		.activate-error {
			width: 100%;
		}
		.verification-sent {
			width: 100%;
			.vf-sent-text {
				width: 100%;
			}
		}
		.tabs-component .tabs--1>.tab .tab-item a {
			padding: 12px 18px;
			.main-label {
				font-size: 18px;
			}
			.label {
				width: 98%;
				font-size: 13px;
			}
		}
		.create-account-tab,
		.create-account-tab-completion {
			.gigya-layout-row {
				.gigya-layout-cell:first-child {
					width: 48%;
				}
				.gigya-layout-cell:nth-child(2) {
					width: 48%;
				}
			}
		}
		.gigya-composite-control.gigya-composite-control-checkbox.terms-conditions {
			padding-top: 20px;
			padding-left: 15px;
			padding-right: 25px;
			padding-bottom: 15px;
			float: left;
			width: 100%;
			left: -20px;
			top: 100px;
			.ru-flows .gigya-screen .gigya-composite-control.gigya-composite-control-checkbox .gigya-label {
				&::before {
					top: 2px;
				}
			}
		}
		.create-account-tab .gigya-screen .gigya-composite-control.gigya-composite-control-checkbox .gigya-label {
			width: 80%;
		}
		.gigya-composite-control.gigya-spacer.spacer-2 {
			height: 21px !important;
		}
		.ru-flows .gigya-screen .gigya-composite-control.gigya-composite-control-checkbox .gigya-label {
			&::before {
				top: 2px;
			}
		}
		.gigya-composite-control.gigya-composite-control-submit.save-btn {
			right: 0;
			input[type=submit] {
				border-radius: 4px;
			}
		}
		label.gigya-composite-control.gigya-composite-control-label.cancel-btn {
			transform: translateY(220px);
			b {
				color: #fff;
			}
		}
		label.gigya-composite-control.gigya-composite-control-label.title-silk-air {
			margin-top: 17px;
			font-weight: 700;
			margin-left: -82px !important;
		}
		.gigya-composite-control.gigya-composite-control-checkbox.checkbox-2 {
			margin-left: -74px;
		}
		.ru-profile-edit-link-social {
			// .gigya-composite-control.gigya-composite-control-password.confirm-pass-input {
			// 	left: 225px;
			// }
			// .gigya-composite-control.gigya-composite-control-label.btn-cancel {
			// 	right: 105px;
			// }
		}

		[data-create-password] {
			.form-group {
				&.new-pass-input,
				&.confirm-pass-input {
					width: calc(33.8% - 21px);
				}
			}
		}

		[data-update-password] {
			.gigya-composite-control.gigya-composite-control-checkbox .gigya-label {
				margin:0;
				padding-right: 0;

				width: calc(100% - 20px);
			}

			.ru-input-grp, .gigya-layout-cell {
				width: 30.7%;
			}
		}
	}

}


// [Mon: 24 July 2018]
//    Let's do an isolated clearfix for now
//    "micro" clearfix
//    https://css-tricks.com/snippets/css/clear-fix/
.kf-clearfix:before,
.kf-clearfix:after {
  content: "";
  display: table;
} 
.kf-clearfix:after {
  clear: both;
}
.kf-clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


// Let's do an isolated box-sizing for now
.kf-boxsizing *,
.kf-boxsizing *:before, 
.kf-boxsizing *:after {
	box-sizing: border-box;
}

// [Mon: 24 July 2018]
//    Most of the classes below have kf- prefix to isolate affected DOM
.kf-form__wrapper {
	background-color: white;
	padding: 20px 25px;
	margin-top: 40px;
}

.kf-form__notif {
	padding: 20px;
	margin: 10px 0;
	background-color: #e5e9f0;
	color: #00266b;
}

.kf__sub-heading {
	font-size: 16px;
}

.communication-block .kf-form__checkbox,
.kf-form__checkbox {
	float: none
}

.kf-form__checkbox .ico-info-round-fill {
	color: #999; 
	vertical-align: top;
}

.kf-form__checkbox label {
	margin-right: 0 !important; 
	color: #000; 
}

.kf-form__accordion .block-2 {
	background: #f7f7f7;
	border: none;
	zoom: 1;
	padding: 0; 
}

.kf-form__accordion__title {
	padding-right: 25px; 
}

.kf-form__accordion {
	border: none;
	padding-bottom: 0;
	margin-bottom: 35px;
	&.accordion {
		background-color: #f7f7f7;
	}
	.content {
		position: relative;
		.add-address {
			.ico-plus {
				font-size: 10px;
				margin-top: -4px;
			}
		}
	}
}

.kf-form__accordion .accordion__control.active .ico-point-d {
	color: #0254ec; 
}

.kf-form__p-no-margin-top {
	margin-top: 0;  
}

.kf-form__label-bottom-space {
	margin-bottom: 5px;  
}

// KF custom classes for plain pages 
.kf-activ__membr-box {
	border-bottom: lightgray solid 3px;  
	position: relative;
	background: white; 
}

.kf-activ__membr-box__item {
}

.kf-activ__membr-box__photo {
	width: 100%; 
	height: 240px; 
	background-color: lightgray; 
	background-image: url('../images/kf-activation.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.kf-activ__membr-box__info {
	background-color: white;  
	padding: 25px 30px 20px 30px; 
}

@media screen and ( min-width: 400px ) {
	.kf-activ__membr-box__photo {
		height: 300px; 
	}
}

@media screen and ( min-width: 568px ) {
	.kf-activ__membr-box__item {
		float: left; 
		min-height: 200px; 
	}
	.kf-activ__membr-box__photo {
		width: 40%; 
		height: 200px; 
	}
	.kf-activ__membr-box__info {
		width: 60%; 
	}
}

.kf-activ__info__item {
	display: block;
	font-size: 16px;  
}

.kf-activ__info__value {
	color: #000; 
}

.kf-form__promo-code__span.input-error {
	background-color: #fef5f4;
	border: 1px solid #ff0000;
	color: #ff0000;
}

.kf-form__input-number::-webkit-outer-spin-button,
.kf-form__input-number::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.kf-form__input-btn,
.kf-form__promo-code__btn {
	padding: 14px 32px;
}

.kf-form__label--black {
	color: #000;
}

.kf-acct__form__pin-span .pin-eye-icon {
	top: 11px;
}

@media screen and ( min-width: 1020px ) {
	// overwrite styles without using !important
	.kf-acct__popup__inner.kf-acct__popup__inner {
		min-width: 990px; 
	}
}

.kf-acct__sub-title {
	margin-bottom: 10px
}

@import "smii-kf";