p {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    margin: 0;
    line-height: 1.4em;
}

.title {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
}

.sub-title {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1em;
}

h1, h2, h3, h4, h5, h6{
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
}

.primary-color-black {
    color: #222222;
}

.text-confirm-color {
    color: #1D760C;
}

.text-economy-color {
    color: #1C5D49;
}

.semi-bold {
    font-weight: 600;
}

.text-bold {
    font-weight: 700;
}

.button--inline.btn-disabled {
    // color:  #E5E5E5;
    color: #A8A8A8;
    // background: #A8A8A8;
}

.tabs-component_tab-item.text-transform {
    text-transform: none;
}