.airport-od {
	.airport--country {
        margin: 17px 0 5px 0;

	    ul {
	    	overflow-y: auto;
	    	height: 465px;

			li {
		    	border-bottom: 1px solid #cccccc;
	    		padding: 11px 0;
	    		vertical-align: middle;
		    }

		    .airport--country-name {
		    	vertical-align: middle;
	    		color: #0254ec;
		    }

		    .airport--logo {
			    float: right;
			    margin-top: -2px;

			    img {
			    	left: 10px;
	    			width: 20px;
	    			height: 20px;
			    }
		    }
	    }
	}

	.popup--airport-list {

		.popup__text-intro {
		    margin-top: 26px;
		    margin-bottom: 5px;
		    color: #000000;
		}
		.custom-select--2 {
		    .select__text {
		    	input {
			    	padding-left: 15px;
		    	}
	    	} 
		}	
	}

	.ui-autocomplete [data-value="No results found."] {
		&:hover, &:active {
			background: transparent;
			color: black;
		}	

		.autocomplete-link {
			color: black;
		}
	}	
}