.bsp-total-fare {
	.bsp-flights-cost, .bsp-total-fare .cta-group, .bsp-total-fare .less-detail {
		visibility: hidden;
		display: block;
		position: absolute;
		bottom: -100%;

		opacity: 0;

		-webkit-transition: opacity 0.3s; 
		-moz-transition: opacity 0.3s; 
		-o-transition: opacity 0.3s; 
    	transition: opacity 0.3s;
	}

	&.expand-bsp {
		.bsp-flights-cost, .bsp-total-fare .cta-group, .bsp-total-fare .less-detail {
			visibility: visible;
			position: relative;
			bottom: auto;
			opacity: 1;
		}
	}
}