.bsp-bubble {
	.tooltip-bsp {
		position: fixed;
		right: 248px;
		right: 16%;
		margin-top: 11px;
		opacity: 0;

		@include prefix(transition, opacity 0.7s ease-in-out, webkit moz ms o);

		&.fade-in {
			opacity:1;
		}
	}

	.tooltip-3 {
	    color: #fff;
	    height: auto;
	    width: auto;
	    clear: both;
		display: inline-block;
		background-color: #00266b !important;
		@include prefix(border-radius, 6px, webkit moz ms o);
	    padding: 5px 10px !important;
	    z-index: 999;

	    .unit-small {
	    	font-size: 18px;
	    }

	    .tooltip__arrow {
			position: absolute;
		    top: 100%;
		    left: 50%;
		    margin: -8px 0 0 -9px;
		    font-family: "sia";
		    font-size: 18px;
		    line-height: 1;
		    color: #00266b;

		    &.type-top {
		    	margin: 0 0 0 -8px;
		    	top: -11px;
		    }

		    &:before {
				display: inline-block;
			    position: relative;
			    z-index: -1;
			    content: "\e61c";
			    font-style: normal;
			    font-weight: normal;
			    speak: none;
			    text-shadow: 2px 2px 6px rgba(99, 99, 99, 0.2);
			    -webkit-transform: rotate(180deg);
			    transform: rotate(180deg);
			    text-shadow: -2px 2px 8px rgba(99, 99, 99, 0.275);
			}
		}
	}
}

.bsp-w-bbl {
	.bsp-booking-summary {
		border-bottom: 0;
	}

	.bsp-booking-summary__content {
		border-bottom: 2px solid #d4d4d4;
	}

	.bsp-booking-summary__content-control.expanded-bsp {
		.station-stop:before {
			background-color: #cacdd4;
		}
	}

	.bsp-booking-summary__content-control {
		.station-stop:before {
			background-color: transparent;
		}
	}

}

@media only screen and (min-width: 1024px) {
	.bsp-bubble {
		.tooltip-bsp {
			right: 16%;
		}
	}
}

@media only screen and (min-width: 1440px) {
	.bsp-bubble {
		.tooltip-bsp {
			right: 26%;
		}
	}
}
