.destination-list-page {
	.block-2 {
		padding-top: 32px;
		padding-left: 30px;
		padding-right: 10px;
		border-bottom: none;
		padding-bottom: 20px;
		box-shadow: 0 2px 3px 0 rgba(0,0,0,0.05);
	}
	.ui-autocomplete [data-value="No results found."]:hover {
		overflow: hidden;
		height: 100%;
	}
	.search-result {
		margin-top: 20px;
		margin: 0px 30px 0px 30px;
		padding-top: 23px;
		padding-bottom: 23px;
		border-top: 1px solid #F0F2F5;
		border-bottom: 1px solid #F0F2F5;
		h3 {
			padding: 23px auto 23px;
			color: #000;
			line-height: 1em;
			font-size: 14px;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            position: relative;
			.reset-filter {
                position: absolute;
                top: 0;
                left: 135px;
				color: #0254EC;
                a{
                	font-size:14px;
                    em {
						transform: scaleX(-1) rotate(-30deg) translateY(-2px);
                          color: #3375f0;
						
					}
                }

			}

			.show-favourites-filter {
                position: absolute;
                top: -2px;
                right: 0px;
                .custom-checkbox.custom-checkbox--1{
                    .show-fav-text{
                        margin-right: 0px;
                        color: #000;
                        font-size: 14px;
                    }
                }
            }
			.search-found{
                 span{
                 	font-size:14px;
                 }
                 .no-search {
                    font-weight: 700;
                    font-size:14px;
                }   
            }
		}
	}
	.main-content-destination-categories.block-2 {
		padding: 0px;
		margin-bottom: 0px;

        .inspire-heading{
            
            padding-top: 32px;
            padding-left:30px;
            font-weight: 600;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            font-size: 11px;
            color: #000;
            line-height: 1em;
        }
	}
	.no-search-found {
		padding-top: 43px;
		text-align: center;
		p {
			font-size: 20px;
			line-height: 1em;
			text-align: center;
			font-weight: 700;
			color: #CCCCCC;
			margin: 0px;
			padding-bottom: 11px;

		}
		.btn-1 {
			font-weight: 600;
			font-size: 11px;
			letter-spacing: 1.5px;
			padding-top: 15px;
			margin-top: 21px;
			padding-top: 15px;

		}
	}
    .sia-breadcrumb--3{
        background-color: transparent;
    }
	.main-heading {
		font-weight: 700;
		line-height: 1em;
		margin-bottom: 20px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 24px;
	}
	.destination-main-container {
		max-width: 988px;
		margin: 55px auto 0px; // background-color: white;
		position: relative;
		.destination-inner-description {
			max-width: 650px;
			font-size: 16px;
			max-width: 650px;
			margin: 0;
			line-height: 1.3em;
		}
		.dest-city-form {
			position: absolute;
			top: 0;
			right: 0;
			width: 252px;
			.form-group {
				margin: 0;
			}
			.custom-select {
				background-color: transparent;
				border: 0;
				.select__text {
					.ui-autocomplete-input {
						padding: 0px;
						line-height: 20px;
						font-size: 16px;
						font-weight: 400;
						padding-bottom: 12px;
						border-bottom: 2px solid #ccc;
						&::-webkit-input-placeholder {
							color: black;
						}
					}
				}
				.btn-search {
					bottom: auto;
					.ico-search {
						font-size: 15px;
						line-height: 1em;
						color: #000;
						display: block;
						width: 20px;
						height: 20px;
						top: 2px;
						margin: 0;
					}
					input {
						width: 15px;
						height: 20px;
						position: absolute;
						right: 0;
						top: 0;
					}
				}
			}
			.search-city-custom {
				float: none;
			}
			.grid-inner {
				padding: 0;
			}
		}
	}
	.search-city-custom .custom-select .select__text .ico-cancel-thin {
		right: 24px;
		top: 9px;
	}
	.main-content-destination-categories {
		max-width: 988px;
		margin: 45px auto;
		padding: 32px 30px 0px 30px;
	}
	
	.static-block-2 {
		.static-block--item {
			width: 100%;
			.static-item.col-mb-3,
			.static-item.col-mb-6 {
				width: 33.3%;
				.static-item__info {
					margin-bottom: 20px;
				}
			}
		}
		.static-item__info {
			height: 300px;
			border-bottom: none;
			.first-phase-description-container {
				position: relative;
				display: block;
				height: 100%;
            }
            
			.hover-overlay-container {
				background-size: auto 114%;
				background-position: center center;
				height: 100%;
				width: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 3px;
				overflow: hidden;
				img {
					display: block;
					width: 100%; // height: auto;
					height: 100%;
					opacity: 0;
					backface-visibility: hidden;
                }
                
				.hover-overlay-border {
					box-sizing: border-box;
					border: 1px solid grey;
					height: 100%;
					width: 100%;
					border-radius: 2px;
					display: block;
					position: relative;
					color: #fff;
					font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				}
				.hover-overlay-region {
					font-size: 12px;
					font-weight: 600;
					position: relative;
					text-transform: uppercase;
					width: 100%;
					padding-top: 30px;
					padding-bottom: 35px;
					text-align: center;
					letter-spacing: 1px;
				}
				.hover-overlay-description {
					box-sizing: border-box;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					height: 100%;
					width: 100%;
					opacity: 0;
					transition: .5s ease;
					padding: 10px;
				}
				.hover-overlay-region-border {
					border-bottom: 3px solid #f79e32;
					top: 53px;
					position: absolute;
					left: 50%;
					@include prefix(transform,
					translateX(-50%),
					wbkit moz ms o);
					width: 20px;
				}
				.hover-overlay-read-more {
					font-size: 11px;
					font-weight: 600;
					position: absolute;
					bottom: 25px;
					text-transform: uppercase;
					/* background-color: red; */
					width: 100%;
					text-align: center;
				}
				.hover-overlay-title {
					position: relative;
					width: 100%;
					text-align: center;
					margin-bottom: 5px;
					h2 {
						font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
						font-weight: 600;
						line-height: 1em;
					}
				}
				.hover-overlay-info {
					font-size: 14px;
					position: relative;
					max-width: 250px;
					margin: 0 auto;
					text-align: center;
					
					p {
						margin: 0;
						overflow: hidden;
					}
				}
			}
			.container-static-item__region {
				padding-top: 26px;
				text-align: center;
				position: relative;
				width: 100%;
				color: #fff;
				font-weight: 600;
				font-size: 12px;
				letter-spacing: 1px;
				text-transform: uppercase;
				.static-item__region {
					padding: 0 4px;
					position: relative;
				}
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 45px;
					left: 50%;
					width: 20px;
					height: 3px;
					background-color: #f79e32;
					@include prefix(transform,
					translateX(-50%),
					moz webkit ms o);
				}
			}
			.static-item__detail {
				padding: 0 20px;
				bottom: 24px;
				width: 257px;
				hr {
					opacity: 0.5;
					width: 100%;
					border: 0;
					border-bottom: 2px solid rgba(255, 255, 255, 0.8);
					margin: 0;
				}
			}
			.static-item__name {
				padding: 0;
				margin-bottom: 18px;
				font-size: 30px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				font-weight: 500;
				line-height: 0.9em;
			}
			.container-static-item__city {
				font-size: 14px;
				color: #fff;
				margin-bottom: 12px;
				padding-left: 4px;
				border-left: 3px solid #f79e32;
				line-height: 0.9em;
			}
            .static-item__region-border {}
            
			.anchor-tag-destination-img {
				border-radius: 6px;
				overflow: hidden;
				&:hover {
					.hover-overlay-container {
						img {
							opacity: 0.6;
							background-color: #000;
						}
						.hover-overlay-description {
							opacity: 1;
						}
					}
					.first-phase-description-container {
						opacity: 0;
                    }
                    
                    & + .favourite-star {
                        display: none;
                    }
                }
                
                &:before {
                    box-shadow: inset -1px -57px 17px -17px rgba(0, 0, 0, 0);
                }
			}
		}
	}
	.main-inner {
		margin-top: 0px;
		.block-search {
			.country-button {
				// display: inline;
				
				padding-bottom: 20px;
				.country-button-border {
					border: 1px solid #ccc;
					width: 27%;
					margin-top: 18px;
					opacity: 0.5;
					margin-bottom: 10px;
				}
				.border-left {
					// float: left;
					display: inline-block;
					width: 31%;
				}
				.country-button-middle {
					display: inline;
					margin-left: 13px;
					margin-right: 13px;
					.see-more-btn {
					
						.text-show{
							font-weight: 700;
							text-transform: none;
							font-size: 12px;
							line-height: 1em;
							margin: 0;
							margin-bottom: 2px;
						}
						.text-load{
							font-weight: 400;
							text-transform: none;
							font-size: 12px;
							line-height: 1em;
							margin: 0;
						}
					}
				}
				.border-right {
					// float: right;
					width: 31%;
					display: inline-block;
				}
			}
			.see-more-btn {
				background-color: #2375d3;
				width: 28%;
				margin-top: 0;
				display: inline-block; // margin-left: 18px;
				line-height: 8px;
				&:hover{
					background-color:#0C62C3 ;
				}
			}
		}
	}
	.destination-regions-categories {
		
        padding: 34px 30px 5px 30px;
		h2 {
			padding-bottom: 17px;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			font-size: 11px;
			color: #000;
			line-height: 1em;
			font-weight: 600;
		}
		.unordered-list-destination-categories {
			margin-bottom: 15px; //margin-left: 6px;
			li {
				display: inline-block;
				padding-right: 15px;
				.btn-1 {}
				.btn-1:hover {
					background-color: #00266b;
					color: #fff;
					overflow: hidden;
					height: 100%;
				}
				.custom--region input + label {
					display: inline-block;
					padding-left: 4px;
					padding-right: 14px;
					margin-right: 0px;
					line-height: 16px;
					font-size: 14px;
					cursor: pointer;
					padding: 8px 15px;
					border-radius: 25px;
					color: #00266B;
					transition: background-color 0.5s, color 0.5s;
                    background: #E5E9F0;
                    border-radius: 20px;
					
					&:hover{
						background: #2375d3;
						border-radius: 20px;
						color: #fff;
					}
					


				}
				.custom--region input:checked + label {
					padding: 8px 12px;
					color: white !important;

                    background-image: linear-gradient(89deg, #00266B  0%, #254A8E 100%);
                    border-radius: 20px;                        
                    
				}
				.custom--region input:checked + label:after {
					color: white;
					position: relative;
					top: auto;
					left: auto; // float: right;
					margin-left: 6px;
					display: inline-block;
					font-size: 12px;
					font-weight: 500;
				}
                .custom--region:hover input:checked + label:after {
                    color: white;
                    position: relative;
                    top: auto;
                    left: auto; // float: right;
                    margin-left: 6px;
                    display: inline-block;
                    font-size: 12px;
                    font-weight: 500;
                    content: '\e613'

                }
				.custom--region input+label:before {
					content: '';
					width: 44px;
					height: 19px;
					border: 1px solid transparent;
					position: absolute;
					top: -3px;
					left: -6px;
					background-color: transparent;
					display: none;
				}
			}
		}
		// .unordered-list-destination-categories li:first-child {
		// 	font-weight: 700;
		// 	color: #000;
		// 	font-size: 14px;
		// 	padding-right: 20px;
		// }
	}
	a.ico-cancel-thin.add-clear-text:before{
		content: '\e613';
		color: #ccc;
		font-size: 14px;
	}
	.destination-inspireme-category {
		padding: 22px 30px 0px 30px;
		.sort-filter {
			.inspireme-radio-filter {
				overflow: hidden;
				input {
					margin: 0 0 0 20px;
				}
				input[type=radio] {
					position: absolute;
					visibility: hidden;
					display: none;
				}
				label {
					display: inline-block;
					cursor: pointer;
					padding: 5px 4px 2px;
					color: #383535;
					font-weight: 500;
					font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
					font-size: 14px;
					margin-right: 12px;
					
					&:hover{
						font-weight: 700;
					}
				}
				input[type=radio]:checked+label {
					color: #000;
					border-bottom: 4px solid #f79e32;
					font-size: 14px;
					font-weight: 600;
				}
				ul {
					li {
						display: inline-block;
						margin-right: 5px;
					}
				}
			}
		}
    } // eto yung date --end
    
    .favourite-star {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin:0;

        z-index: 10;
		width: 45px;
		height: 45px;

        border: 0;
        background: none;
		background-image: url("../images/fav-star.png");
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: right bottom;
    }
    
    .dest-vignette {
        position: absolute;
        top: 0;
        left: 0;
        
        // z-index: 10;
        width: 100%;
        height: 100%;

        &:before, &:after {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
        }

        &:before {
            background-image: linear-gradient(0, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.41) 100%);
            height: 70px;
            top:0;
        }

        &:after {
            background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 13%, rgba(0,0,0,0.75) 60%);
            height: 150px;
            bottom: 0;
        }
    }
}

@media screen and (max-width: 768px) {
	.destination-list-page {
		.destination-inspireme-category {
			background-color: #fff;
			overflow-x: scroll;
			margin: 0 -30px;
			margin-left: -25px; // height: auto;
			.sort-filter {
				width: 100%;
				margin-bottom: 0px;
				.inspireme-radio-filter {
					padding: 11px;
					overflow: scroll;
					ul {
						position: relative;
						display: flex;
						flex-direction: row;
						li {
							display: block;
							flex-shrink: 0;
							margin-right: 20px;
							width: auto;
							position: relative;
							padding: 0 2px;
							&:last-child {
								padding-right: 30px;
							}
						}
					}
				}
			}
		}
		.destination-inspireme-categories .unordered-list-destination-categories li {
			padding-right: 8px;
		}
		.destination-inspireme-categories .unordered-list-destination-categories li:first-child {
			display: block;
			margin-bottom: 10px;
		}
		.country-button-border{
			margin-bottom: 15px;
		}
	}
}

@media screen and (max-width: 1040px) {
	.destination-list-page {
		.destination-main-container {
			.destination-inner-description {
				max-width: 60%;
				font-size: 16px;
				margin: 0;
				line-height: 1.3em;
			}
		}
	}
}

@media screen and (max-width: 1085px) {
	.destination-list-page .main-inner .block-search .see-more-btn {
		width: 27%;
	}
}

@media screen and (max-width: 1000px) {
	.destination-list-page .main-inner .block-search .see-more-btn {
		width: 26%;
	}
}

@media screen and (max-width: 909px) {
	.destination-list-page .main-inner .block-search .see-more-btn {
		width: 25%;
	}
}
