.booking-widget {
	margin: 60px auto;
	border-radius: 4px;
	box-shadow: 0 2px 3px 0 rgba($color: #000000, $alpha: 0.1);

	&__heading {
		display: flex;
		align-items: center;

		& .sub-heading-2--blue {
			font-family: 'sigvar', Arial, Helvetica, sans-serif;
			font-size: 20px;
			color: #00266b;
			width: 50%;
			line-height: 36px;
			padding: 0 !important;
			border-bottom: none !important;
		}
	}

	&__content {
		padding-top: 12px !important;
		padding-bottom: 0 !important;
	}

	&-static {
		height: 205px !important;
	}

	& .btn-1 {
		font-weight: 600 !important;
		letter-spacing: 1.5px !important;
	}

	& .form-booking-widget-destination {
		padding-top: 10px !important;
	}

	&__links {
		width: 50%;
		text-align: right;
	}

	&__link {
		font-size: 13px;
		line-height: 10px;
    display: inline-block;

		&:first-child {
			padding-right: 15px;
			border-right: 1px solid #222;
		}

		&:last-child {
			padding-left: 11px;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	& .from-select {
		border-right: 0;
	}

	& .to-select {
		& .select__label {
			left: 22px !important;
		}
	}

	& .grid-col {
		&:first-of-type {
			& .input-3 {
				border-right: 0;
			}
		}
	}

	& .ico-point-d:before {
		color: #DDDDDD;
	}
}
