.faqs-chatbot{

	.bubble-wrap-m, .bot-avatar-m, .ask-bot{
		display: none;
	}

	/**backup logo**/
	.bot-avatar-2{
		position: absolute;
	    width: 41px;
	    top: 17px;
	    left: 18px;
	}

	.sia-icon-2{
	    width: 28px;
	    height: 100%;
	}

 	/**end of backup**/

	.sia-icon{
		width: 22px;
		margin-top: 2px;
		height: 100%;
	}

	.bot-avatar{
		width: 30px;
	}

	.popup--cookie{
		bottom: 145px;
		z-index: 11;
	}

	.wc-chatview-panel {
	  background-color: white;
	}
	.hidden {
	  display: none;
	}
	.show {
	  display: block;
	}
	.close_icon {
	 float: right;
	    margin-top: 1em;
	    margin-right: 0.5em;
	    cursor: pointer;
	}
	.chat-popup-dialog.pull-up{
	  opacity: 1;
	  transform: translateY(-5%);
	  visibility: visible;
	}
	.chat-popup-dialog.pull-down{
	  transition: ease-in 0.3s;
	  transform: translateY(100%);

	}
	.chat-popup-dialog {
	  overflow: hidden;
	  position: fixed;
	  right: 13px;
	  bottom: 0;
	  width: 500px;
	  height: 90%;
	  max-height: 640px;
	  border-radius: 1%;
	  box-shadow: 0 0 4px #c5c4c4;
	  border: 1px solid #adadad;
	  opacity: 0;
	  transition: all 0.3s;
	  z-index: 12;
	  visibility: hidden;
	}
	.chat-icon{
	    width: 70px;
	}
	.chat-label{
	  float: left;
	  margin-top: -3px;
	}

	.chat-label span{
		margin-left: 8px;
	    margin-top: 6px;
	    float: right;
	    font-weight: 700;
	    color: white;
	    /* font-weight: bold; */
	    letter-spacing: 0px;
	    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}

	.launch-window{
	      height: 100%;
	       padding: 0 21%;
	    position: relative;
	    z-index: 200;
	    background: #ffffff;
	        margin-top: 48px;
	}

	.launch-window-cont{
	    width: 285px;
	        transform: translateY(30vh);
	}
	.launch-window-cont p{
	  line-height: 1.5;
	  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}

	.launch-window-cont button{
	  float: right;
	    margin-top: 10px;
	    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}

	.chatbot-label{
	      z-index: 1;
	    position: absolute;
	    margin-top: 13px;
	    padding-left: 10px;
	}

	.chatbot-close-btn{
	    position: relative;
	        z-index: 100;
	}

	.privacy-terms {
	   z-index: 100;
	    position: absolute;
	    padding: 8px 16px;
	    margin-top: 48px;
	    background-color: #e5e9f0;
	}

	.privacy-terms p {
	 color: #00266b;
	    font-size: 12px;
	    margin: 0 auto;
	    line-height: 1.5;
	    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}

	.privacy-terms span a {
	  color: #0254ec;
	    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}

	.term-links {
	      z-index: 0;
	    position: absolute;
	    transform: translateY(96%);
	    height: 100%;
	    background: transparent;
	    padding-left: 12px;
	     font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}

	.term-links span {
	 padding-right: 15px;
	    font-size: 12px;
	    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}

	.close-message {
	  color: #0254ec;
	  cursor: pointer;
	}
	/***************************SIA BOT OVERRIDE**************************************/

	.wc-message-groups {
	  overflow-y: scroll;
	  bottom: 70px;
	}

	.hero {
	  height: auto;
	}

	.sia-bot .wc-header{
	  background-color: #00236d;
	  height: 40px;
	}
	.sia-bot .wc-header span:first-child{
	  display: none;
	}
	.sia-bot .wc-message-from-me svg.wc-message-callout path {
	  fill: #efefef;
	}
	.sia-bot .wc-message-from-me .wc-message-content{
	  background-color: #efefef;
	  color: black;
	  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}
	.sia-bot .wc-card button {
	  background-color: #ffffff;
	  color: #002467;
	  font-weight: bold;
	  min-height: 32px;
	  width: 100%;
	  padding: 0 16px;
	  border: 1px solid #002467;
	}
	.sia-bot .wc-suggested-actions .wc-hscroll > ul > li button {
	  background-color: #ffffff;
	    color: #1a3970;
	    border: 1px solid #1a3970;
	    border-radius: 2px;
	    font-weight: bold;
	}
	.sia-bot .wc-suggested-actions button.scroll svg {
	  fill: white;
	}
	.sia-bot .wc-suggested-actions button.scroll {
	  
	}
	.sia-bot .wc-carousel button.scroll {
	    background-color: #566a8f;
	    /* padding: 10px; */
	    width: 30px;
	    height: 40px;
	    border-radius: 3px;
	}

	.sia-bot .wc-carousel button.scroll svg {
	    fill: #ffffff;
	    transform: translate(0px,5px);
	}
	.sia-bot .wc-suggested-actions button.scroll {
	  background-color: #566a8f;
	    border: 3px solid white;
	    border-radius: 4px;
	    width: 30px;
	    height: 40px;
	}


	.sia-bot .wc-card{
	  border:none;
	}
	.sia-bot .wc-message-from-bot .wc-message-content {
	  background-color: #edf3ff;
	  color: #000000;
	  padding: 12px;
	  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}

	.sia-bot .wc-message-from-bot svg.wc-message-callout path {
	  fill: #edf3ff;
	}

	.sia-bot .wc-message-from {
	    color: #00236d;
	    font-size: 11px;
	    font-weight: bold;
	    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}
	.sia-bot .wc-message-from .wc-message-from-me span{
	    color: #e47305;
	}


	.sia-bot .wc-suggested-actions button.scroll svg path {
	    transform: translate(-2px, 4px);
	}
	.sia-bot .wc-carousel li .wc-adaptive-card p {
	    min-height: initial;
	    color: #000000;
	    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}

	.sia-bot .hero .ac-container div:nth-child(3) p:nth-child(1) {
	   /* display: none;*/
	}
	.sia-bot .hero .ac-container div:nth-child(4) p:nth-child(1) {
	    color: #00226b;
	    font-weight: bold;
	}
	.sia-bot .hero .ac-container div:nth-child(5) p:nth-child(1) {
	    color: black;
	}

	.sia-bot .thumbnail .ac-container .ac-container div div.ac-container div:nth-child(1) p:nth-child(1) {
	/*    display: none;*/
	}
	.sia-bot .thumbnail .ac-container .ac-container div div.ac-container div:nth-child(3) p:nth-child(1) {
	    color: #00226b;
	    font-weight: bold;
	}
	/*.sia-bot .thumbnail .ac-container div:nth-child(7) p:nth-child(1) {
	    color: black;
	}*/

	.sia-bot .wc-adaptive-card {
	    width: 250px;
	}

	.sia-bot .wc-app button {
	  border: 1px solid #566a8f;
	  box-sizing: border-box;
	  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}

	.sia-bot .wc-console{
	  border-top: 1px solid #b1b1b1;
	  border: 1px solid #dbdee1;
	      height:80px;

	  background-color: white;
	}

	.sia-bot .wc-console label.wc-upload svg{
	  display:none;
	}

	.sia-bot .wc-console textarea, .wc-console input[type=text] {
	    border: none;
	    height: 40px;
	    outline: none;
	    padding-left: 8px;
	    resize: none;
	    width: 100%;
	    background-color: #efefef;
	    border-radius: 3px;
	    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}

	.sia-bot .wc-textbox {
	    bottom: 0;
	    left: 0;
	    right: 135px;
	    padding: 10px;
	    background: white;
	}

	.sia-bot .wc-app .wc-message-group-content ::-webkit-scrollbar-thumb {
	    background-color: white !important;
	}

	.sia-bot .wc-suggested-actions {
	    background-color: #ffffff;
	    bottom: 50px;
	    height: 0;
	    left: 0;
	    overflow: hidden;
	    position: absolute;
	    right: 0;
	    transition: height 0.2s cubic-bezier(0, 0, 0.5, 1);
	}

	.sia-bot .wc-message-pane.show-actions .wc-suggested-actions {
	       height: 74px;
	}

	.sia-bot .wc-send svg {
	    height: 15px;
	    width: 95px;
	    position: relative;

	    z-index: 0;
	}

	.sia-bot .wc-send {
	  display: block;

	  cursor: pointer;
	  display: inline-block;
	  /* height: 40px; */
	  background: #002261;
	  /* margin: 0 auto; */
	  border-radius: 3px;
	  margin-top: 10px;
	  margin-right: 8px;

	  width: 118px;
	}

	.sia-bot .wc-send:before {
	  display: block;
	  content: 'Send';
	  text-align: center;
	  text-transform: uppercase;

	  color: white;
	  line-height: 38px;
	  height: 100%;

	  font-weight: 700;
	  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}


	.sia-bot .wc-console svg {
	  display: none;
	  fill: #002261;
	  margin: 11px;
	}

	.sia-bot .wc-console.has-text .wc-send {
	  background-color: #0254ec;
	}

	.sia-bot div.wc-message-from.wc-message-from-me span{
	  color:#e47305;
	}

	/*.sia-bot .wc-console.has-text .wc-send {
	  display: block;
	  position: relative;
	}*/

	/*.sia-bot .wc-console.has-text .wc-send:after {
	    color: white;
	    content:'Send';
	    text-transform: uppercase;
	    display: block;
	    width: 100%;
	    height: 100%;

	    text-align:center; 

	    position: absolute;
	    top:10px;
	    z-index: 100;

	}*/


	/******************grid*********************/
	.row {
	  float: left;
	  box-sizing: border-box;
	  max-width: 988px;
	  margin: 0 auto;
	}

	.row:after {
	  clear: both;
	}

	.column {
	  float: left;
	  margin: 0 1em;
	}


	/* chatbot prompt dialog box */
	.chatbot-prompt-dialog-box {
	    position: fixed;
	    bottom: 30px;
	    right: 0;
	    width: 215px;
	    box-sizing: border-box;
	    z-index: 12;
	    cursor: pointer;

	    .row{
	    	position: relative;

	    	.bubble-wrap{
	    		width: 200px;
	    		height: 100%;
	    	}

	    	.bot-avatar{
	    		position: absolute;
			    top: 20px;
			    left: 25px;
	    	}

	    	.ask-bot-text{
	    		position: absolute;
			    top: 4px;
			    right: 20px;
			    font-size: 16px;
			    color: #00266b;
			    font-weight: 600;
	    	}
	    	.chatbot-prompt-dialog-btn{
	    		position: absolute;
			    top: 40px;
			    right: 60px;
			    font-weight: 500;

			    em{
			    	font-size: 7px;
			    	color: #0254ec;
			    	margin-top: -5px;
			    }

			    span{
			    	color: #0254ec;
			    	font-size: 16px;
			    	letter-spacing: 0.02em;
			    }
	    	}
	    }
	}

	// .chatbot-prompt-dialog-wrapper {
	//   width: 998px;
	//   margin: 0 auto;
	// }

	// .chatbot-prompt-dialog-img {
	//   border-radius: 50%;
	//   width: 50px;
	//   height: 50px;

	//   background-color: #adadad;
	// }

	// .chatbot-prompt-dialog-content {
	//     color: #00266b;
	// }
	// .chatbot-prompt-dialog-content h5 {
	//   margin: 3px 0 0 0;
	//   font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	//   font-size:18px;

	// }

	// .chatbot-prompt-dialog-content p {
	//   margin: 6px 0 0 0;
	//   font-size: 14px;
	//   font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	// }

	// .chatbot-prompt-dialog-btn {
	//   background-color: #1a3970;
	//   padding: 8px 23px;
	//     text-transform: uppercase;
	//     color: white;
	//     font-weight: bold;
	//     border-radius: 2px;
	//   font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	// }

	// .chatbot-prompt-dialog-btn span{
	//   display: none;
	// }

	// .chatbot-prompt-dialog-btn:hover {
	//   cursor: pointer;
	// }


	
}