.fare-deal {
	position: relative;
	margin-top: -135px;

	&__container {
		margin-right: auto;
		margin-left: auto;
		max-width: 988px;
	}

	&__content {
		background-color: #FFF;
		padding: 60px 40px 33px 40px;
		border-radius: 4px;
		box-shadow: 0px 2px 6px 0px rgba($color: #000000, $alpha: 0.05);
	}

	&__intro {
		width: 700px;
		margin: auto;

		&-title {
			color: #000000;
			font-size: 20px;
			line-height: 28px;
			text-align: center;
			font-weight: 300;
		}

		&-descrition {
			color: #222222;
			font-size: 16px;
			line-height: 28px;
			text-align: left;
			margin-top: 35px;
			display: none;
		}
	}

	&__read-more {
		display: table;
		margin: 20px auto;
		position: relative;
		padding-top: 5px;
		border-top: 1px solid #E5e9F0;

		&:focus {
			outline: none;
		}

		&:before {
			content: url('../images/svg/icon-down.svg');
			width: 7px;
			height: 4px;
			position: absolute;
			top: 5px;
			right: -12px;

			& path {
				fill: white;
			}
		}

		&.active:before {
			top: 20px;
			right: -14px;
			transform: rotate(180deg);
		}
	}

	&__header {
		display: flex;
		padding-top: 15px;

		&-text {
			font-family: 'sigvar', Helvetica, Arial, sans-serif;
			font-size: 20px;
			line-height: 29px;
			color: #00266B;
			font-weight: 400;
			line-height: 20px;
			margin: 0;
			width: 50%;
		}
	}

	&__view-all {
		text-align: right;
		font-size: 14px;
		color: #0254EC;
		line-height: 19px;
		width: 50%;

		&:hover {
			text-decoration: underline;
		}
	}

	&__content-item {
		margin-top: 15px;
		margin-left: -10px;
		margin-right: -10px;
	}

	&__item {
		border: 1px solid #E5E9F0;
		line-height: 19px;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
		border-radius: 4px;
		padding: 20px;
		margin: 10px;
		display: inline-block;
		width: calc(100%/3 - 20px);
		box-sizing: border-box;

		&-title {
			font-weight: 600;
			font-size: 16px;
			color: #222222;
			line-height: 21px;
			position: relative;

			&:before {
				content: '';
				width: 3px;
				height: 15px;
				position: absolute;
				top: 2px;
				left: -20px;
				background-color: #FF9F00;
			}
		}

		&-time {
			font-size: 14px;
			color: #222222;
			line-height: 19px;
		}

		&-link {
			margin-bottom: 5px;
			display: block;

			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
}
