.edit-search-bsp-toggle {
	text-align: center;
	width: 100%;
	z-index: 3;
	margin-top: -3px;
	position: absolute;
	bottom: 0;
	@include prefix(transition, all 0.35s ease-in-out, webkit moz ms o);
	&.bsp-sticky {
		position: sticky;
		top: 100px;
		&.booking-widget--open,
		&.booking-widget--open.bsp-no-select {
			top: 256px;
		}
	}
	&.booking-widget--open {
		top: 155px;
		&.bsp-no-select {
			top: 172px;
		}
	}
	.edit-search-toggle--element {
		position: relative;
		display: inline-block;
		font-size: 0;
		vertical-align: text-top;
		margin: 0 -2px;
	}
	.esbt-txt {
		font-size: 10px;
		letter-spacing: 1px;
		color: #0254ec;
		height: 30px;
		background-color: #e5e9f0;
		font-weight: 600;
	}
	.esbt-btn {
		padding: 10px;
		font-weight: 700;
		font-size: 10px;
		text-transform: uppercase;
		background: none;
		border: 0;
		letter-spacing: 1px;
	}
}

.edit-search-bsp-toggle-1 {
	text-align: center;
	width: 100%;
	z-index: 3;
	margin-top: -3px;
	position: relative;
	top: 3px;
	&.booking-widget--open {
		top: 155px;
		&.bsp-no-select {
			top: 172px;
		}
	}
	.edit-search-toggle--element {
		position: relative;
		display: inline-block;
		font-size: 0;
		vertical-align: text-top;
		margin: 0 -2px;
	}
	.esbt-txt {
		font-size: 10px;
		letter-spacing: 1px;
		color: #0254ec;
		height: 30px;
		background-color: #e5e9f0;
		font-weight: 600;
	}
	.esbt-btn {
		padding: 10px;
		font-weight: 700;
		font-size: 10px;
		text-transform: uppercase;
		background: none;
		border: 0;
		letter-spacing: 1px;
	}
}

.fs-economy-page {
	.promo-code-message {
		background-color: #2275D3;
		border-radius: 2px;
		// margin-bottom: 45px;
		margin-bottom: 39px;
		padding: 5px 25px;
		.inner-promo-message {
			margin: 0 auto;
		}
		.alert__icon {
			padding: 4px 2px 4px 0;
		}
		.alert__message {
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			font-size: 14px;
			color: #fff;
			font-weight: 200;
		}
		.ico-success {
			color: #fff;
			font-size: 20px;
			line-height: 1.3;
		}
	}
	.col-price-original {
		font-family: "baker-signet-web", serif;
		font-size: 12px;
		text-decoration: line-through; // margin-bottom: 10px;
		margin-bottom: 5px;
		margin-top: -4px;
		text-align: center;
		color: #666;

		&.empty {
			text-decoration: none;
			color: transparent;
			text-indent: -200vw;
		}
	}
	.btn-prev {
		border-bottom-left-radius: 2px;
		border-top-left-radius: 2px;
	}
	.btn-next {
		border-bottom-right-radius: 2px;
		border-top-right-radius: 2px;
	}
	&.bsp-w-bbl {
		.change-flight-item.bgd-white.has-choose {
			.flight-station-info .station-stop:before {
				top: 0;
			}
		}
		.sort-filter {
			.sort-by {
				color: #00266b;
			}
		}
		.flights-station__info--detail .country-name {
			margin-bottom: 3px;
		}
		.economy-slider .slide-item .price {
			font-size: 20px;
			.large-price {
				font-size: 20px;
			}
		}
		.bsp-booking-summary {
			background-color: transparent;
		}
		.bsp-booking-summary__content {
			padding: 15px 0;
			&.all-transition {
				.station-stop-detail {
					.ico-airplane-2 {
						top: -13px;
						line-height: 1em;
					}
				}
			}
			.time {
				padding-bottom: 0px;
				padding-top: 0px;
				font-size: 12px;
				margin-bottom: 5px;
				line-height: 1em;
				display: block;
			}
			.flight-date-title {
				font-size: 12px;
				line-height: 1em;
				margin-bottom: 6px;
				margin-top: 0;
			}
			.hour {
				padding-top: 0px;
				line-height: 1em;
				margin-top: 0;
				margin-bottom: 2px;
			}
			.flight-station-info {
				padding-top: 0;
				margin-bottom: 14px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.bsp-booking-summary__content-wrap {
				.flight-station-info {
					padding: 0;
					.station-stop {
						top: 24px;
					}
				}
				&.none-select {
					.flight-station-info {
						margin-bottom: 0;
						padding: 0;
						.station-stop {
							top: 40px;
						}
					}
					.station-stop-detail {
						.ico-airplane-2 {
							left: 4px;
							top: -28px;
						}
					}
				}
			}
			.bsp-booking-summary__content-control {
				.bsp-total-fare .flight-date-title {
					font-size: 12px;
				}
				&.expanded-bsp {
					.bsp-total-fare .flight-date-title {
						font-size: 12px;
					}
					.bsp-flights__info--group .flight-date-title {
						font-size: 12px;
						margin-bottom: 6px;
					}
					.flight-station-info {
						margin-bottom: 0;
						.station-stop {
							.time {
								display: block;
							}
						}
					}
				}
				.flight-station-info {
					.station-stop {
						left: 105px;
						.time {
							display: none;
						}
					}
				}
			}
		}
		.bsp-booking-summary {
			position: relative;
			z-index: 20;
		}
		.booking-widget.booking-widget-destination {
			position: absolute;
			bottom: auto;
			top: 176px;
			max-width: 100%;
			width: 100%;
			z-index: 30;
			padding: 0;
			margin: 0;
			overflow: hidden;
			display: block;
			background-color: transparent;
			border-bottom: 0;
			&.es-sticky {
				position: sticky;
				top: 0;
			}
			@include prefix(transition, height 0.4s ease-in-out, webkit moz ms o);
			&.collapse {
				border-bottom: 0;
			}
			.booking-widget__inner {
				display: block;
				position: relative;
				background-color: transparent;
				.booking-widget__content {
					border-bottom: 2px solid #ccc;
				}
			}
			.booking-widget-booking-summary {
				display: block;
				max-width: 968px;
				margin: 0 auto;
			}
		}
	}
	.flight-search-filter-economy {
		background-color: transparent;
	}
	.sort-filter {
		text-align: right;
		height: 30px;
		padding-top: 10px;
		margin-right: 3px;
	}
	.sort-by {
		color: #3333ff;
		font-size: 12px;
	}
	.sort-price,
	.travel-duration,
	.arrival-time,
	.departure-time {
		color: #666666;
		font-size: 12px;
	}
	.sort-by,
	.travel-duration,
	.sort-price,
	.arrival-time,
	.departure-time {
		margin: 0 0 0 15px;
		padding-top: 5px;
		font-weight: 600;
	}
	.sort-active {
		border-bottom: 3px solid #ff8c1a;
		color: #000;
		font-size: 12px;
		padding-bottom: 5px;
	}
	.fare-summary {
		.title {
			font-size: 22px;
			margin-bottom: 25px;
		}
		.des {
			font-size: 14px;
			margin: 12px 0;
		}
	}
	.table-fare-summary {
		border-right: 1px solid #e5e9f0;
		font-size: 14px;
		.row-select {
			font-size: 13px;
		}
		.economy-fs--green-1,
		.economy-fs--green-2,
		.economy-fs--green-3,
		.economy-fs--green-4 {
			background-color: #276753;
		}
		.economy-fs--pey-1,
		.economy-fs--pey-2 {
			background-color: #5e6c6d;
		}
		.business-fs--blue-1,
		.business-fs--blue-2,
		.business-fs--blue-3 {
			background-color: #2A578A;
		}
		.business-fs--red-1 {
			background-color: #93311D;
		}
		.col-select {
			.fare-icon {
				em {
					font-size: 20px;
				}
			}
		}
		.name-header {
			font-weight: 700;
		}
		.fare-condition-th {
			border: 0px;
		}
		.head-wrapper {
			box-sizing: border-box;
			min-height: 50px;
			margin: 0;
			padding: 0 20px;
			&.fare-condition {
				span {
					padding-top: 16px;
				}
			}
			span {
				padding-top: 8px;
			}
		}
		.last-row {
			.col-select {
				padding-bottom: 0px;
				border-bottom: 0px;
				background-color: #fff;
				border-left: 1px solid #e5e9f0;
			}
		}
		.first-row {
			.cancel-sgd150-sgdastirisk {
				background-color: #f7f7f7 !important;
			}
			.col-select {
				padding-top: 15px;
				background-color: #fff;
				border-left: 1px solid #e5e9f0;
			}
		}
		.row-select:last-child {
			.col-select {
				padding-bottom: 13px;
				border-bottom: 1px solid #e5e9f0;
			}
		}
		.row-select {
			font-size: 13px;
			.col-select {
				border-left: 1px solid #e5e9f0;
			}
		}
		.row-head-select {
			font-weight: 400;
		}
	}
	.border-fare-family {
		border-left: 1px solid #fff;
		border-top: 0;
		border-right: 0;
		border-bottom: 0;
	}
	.fare-summary {
		padding: 0;
		background-color: transparent;
		color: #000;
		width: 72%;
		.full-fare-link {
			margin-top: 0px;
			margin-bottom: 20px;
			background-color: #fff;
			padding: 10px 0px 30px 20px;
			border-bottom: 1px solid #e5e9f0;
			border-left: 1px solid #e5e9f0;
			border-right: 1px solid #e5e9f0;
			.fare-complete {
				font-size: 14px;
				font-weight: 600;
				margin-top: 0;
			}
		}
		.note-fare {
			background: #fff;
			padding: 15px 15px 0;
			margin: 0 0 0 0;
			border-top: 1px solid #e5e9f0;
			border-left: 1px solid #e5e9f0;
			border-right: 1px solid #e5e9f0;
			.note-fare-desc {
				font-size: 12px;
				margin: 0;
			}
		}
	}
	.fare-summary-group {
		.button-group-1 {
			position: relative;
			padding-bottom: 20px;
			width: 72%;
		}
	}
	.fs-economy-scoot {
		.fare-condition-th {
			border: 1px solid #e5e9f0;
			background-color: #ddd;
		}
	}
	.optim-close {
		position: absolute;
		right: 6px;
		font-size: 12px;
		color: black;
	}
}

.flight-search {
	.economy-flight-bgd .col-info-select[data-target-cabinclass="First"] {
		color: #87220B;

		.head-col {
			background-color: #87220B;
		}

		&.active {
			background-color: #87220B;
			color: white;
		}
	}

	.economy-fs--pey-1[data-cc-name="First"], .name-header-family[data-cc-name="First"] {
		background-color: #93311D;
	}

	.recommended-flight-block.single-result {
		margin-top: 20px;
	}

	.table-fare-summary .economy-fs--pey-1[data-class-selected*="first"], 
	.table-fare-summary .economy-fs--pey-2[data-class-selected*="first"],
	.table-fare-summary .economy-fs--pey-1[data-class-selected*="suites"], 
	.table-fare-summary .economy-fs--pey-2[data-class-selected*="suites"] {
		background-color: #93311D;
	}

	.change-flight-item .flight-station {
		width: 75%;
	}

	.flight-station-item .airline-info .link-4 {
		margin-top: 0;
	}
	&.fs-business {
		.economy-flight-bgd {
			.select-fare-block.business-flight--red {
				border: 1px solid #87220B;
			}
		}
	}

	.layover-time-block {
		padding-top: 12px;

		&:before {
			top: 19px;
		}
	}
}

@media screen and (max-width: 1023px) {
	.fs-economy-page.bsp-w-bbl {
		&.fs-economy-page {
			.fare-summary {
				width: 100%;
			}
			.fare-summary-group .button-group-1 {
				width: 100%;
			}
		}
		.bsp-booking-summary__content-control.expanded-bsp {
			.flight-station-info {
				.station-stop .time {
					width: 50%;
					margin: 18px 0 0;
					padding: 0;
					text-align: center;
					display: inline-block;
				}
			}
		}
	}
	.edit-search-bsp-toggle {
		&.bsp-sticky {
			position: sticky;
			top: 120px;
			&.booking-widget--open {
				top: 356px
			}
		}
		&.booking-widget--open {
			top: 242px;
			&.bsp-no-select {
				top: 166px;
			}
		}
	}
	.edit-search-bsp-toggle-1 {
		&.bsp-sticky {
			top: 136px;
		}
	}

	.change-flight-item .flight-station {
		width: 68%;
	}
}

@media screen and (max-width: 987px) {
	.fs-economy-page.bsp-w-bbl {
		.bsp-booking-summary__content-control {
			.bsp-flights__info--group {
				&:last-child {
					.flight-station-info {
						.station-stop {
							left: 109px;
						}
					}
				}
			}
		}
		.bsp-booking-summary__content-wrap {
			&.none-select {
				.flight-station-info {
					.station-stop {
						top: 40px;
					}
				}
				.station-stop-detail {
					.ico-airplane-2 {
						left: 4px;
					}
				}
				.bsp-flights__info--group {
					&:first-child {
						.station-stop-detail {
							.ico-airplane-2 {
								left: 12px;
							}
						}
					}
				}
			}
		}
	}
}
