.fs-business{
	.popup-6 .popup__inner, .popup--payment-faqs .popup__inner{
		// transform: translateY(50%);
		max-width: 510px;
	}

	.link-view-benefit{
		position: relative;
	    padding: 13px;
	    padding-left: 40px;
	    background: #e9f1ff;
	    font-size: 13px;
	}

	.oal-prompt{
	    padding: 4px;
	    background-color: #e5e9f0;
	    margin: 15px 0px;
		img{
			width: 56px;
		    position: absolute;
		    top: 22px;
		    left: 25px;
		}

		p{
			width: 89%;
		    display: inline-block;
		    margin-left: 95px;
		    color: #00266b;
		}
	}

	.popup .popup__content {
	    padding: 30px 40px 20px;
	}

	.oal-conditions{

		.sub-heading-3--dark{
			color: #00266b;
			margin: 0;
		}

		p{
			margin-bottom: 25px;
			font-size: 13px;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			color: black;
		}
	}

	.mix{
	    color: #ba5400;
	    text-transform: none;
	    display: block;
    }


	.change-flight-item {
		.flight-station {
			width: 70%;
		}
	}
	.flight-station-item {
		.flight-station-info {
			width: 60%;
		}
	}
	.title-slider{
		margin-bottom: 10px;
	}

	.selected-fare-type .label-pey {
	    width: 126px;
	    display: inline-block;
	    font-size: 12px;
	}
}