.fs-economy-scoot {
    .scoot {
        margin-right: 56px;

        p {
            color: #000;
        }
    }
    .scoot-info{
        background: #fff;

        .group-title {
            position: relative;
        }

        .scoot-thumb {
            top: 0px;
            left: 0px;
        }

        .scoot-content  {
            .content {
                padding-top: 10px;
            }
        }
    }

    .mixed-cabin-txt {
        text-transform: none;
        display: block;
        font-size: 12px;
    }

    .mix {
        color: #ba5400;

        @extend .mixed-cabin-txt;
    }

    .active .mix {
        color: #ff9f00;

        @extend .mixed-cabin-txt;
    }

    p.fare-font {
        color: #000;
        width: 98%;
    }

    .fare-summary {
        .has-note-fare {
            margin-top: 0px;
        }
    }
}

.fs-economy {
    .mixed-cabin-txt {
        text-transform: none;
        display: block;
        font-size: 12px;
    }

    .mix {
        color: #ba5400;

        @extend .mixed-cabin-txt;
    }

    .active .mix {
        color: #ff9f00;
        @extend .mixed-cabin-txt;
    }
}

.selected-fare-type {
    width: 100%;
    margin-top: -20px;
    margin-bottom: 5px;
    display: block;
    text-align: center;

    span {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        width: 135px;
    }

    .label-economy {
        color: #176e54;
    }

    .label-pey {
        color: #435151;
    }

    .label-first {
        color: #87220B;
    }

    .label-bus {
        color: #053A76;
    }
}

.button-group-5 {
    margin-right: 5px;
    margin-left: -5px;
}

.oal-wrapper {
    padding: 5px;
    background-color: #e5e9f0;
    margin-bottom: 15px;
    position: relative;

    img {
        width: 50px;
        position: absolute;
        top: 30px;
        left: 25px;
    }

    p {
        width: 89%;
        display: inline-block;
        margin-left: 84px;
        color: #00266b;
    }
}

.fs-business, .fs-economy, .fs-economy-scoot {

    .mix {
        font-size: 12px;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-weight: 600;
    }

    .link-view-benefit {
        position: relative;
        padding: 13px;
        padding-left: 40px;
        background: #e9f1ff;
        font-size: 13px;
    }

    .wrap-content-fs + .wrap-content-fs {
        margin-top: 0px;
    }

    .link-4  {
        margin-top: 4px;
    }

    .carret-symbol {
        float: left;
        margin-top: 2px;
        padding-right: 5px;
    }

    .note-fare {
        background: #f5f8fc;
        padding: 15px;
        margin: 30px 0;

        .has-note-fare-1, .has-note-fare {
            line-height: 1.4;

            .note-fare-desc {
                margin-left: 10px;
            }
        }
    }

    .selected-fare-type .label-pey {
      width: 126px;
      display: inline-block;
      font-size: 12px;
  	}

    .title-slider {
      margin-bottom: 10px;
    }

    .recommended-flight-block {
      &.collapsed {
        margin-bottom: 20px;

        .flight-list-item {
          margin: 0;
        }
      }
    }

    .flight-list-item {

       .airline-info {

            .link-4 {
                .ico-point-r {
                    top: 9px;
                }
            }
       }
    }

    .link-4-1 {
        &.link-view-benefit-1 {
            background: #e9f1ff;
            display: table;
            padding-top: 5px;
            padding-right: 8px;
            padding-bottom: 5px;

            .ico-bow {
                font-size: 30px;
                vertical-align: middle;
                display: table-cell;
            }

            .view-pps {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    .has-note-fare {
         margin-top: 0;
    }

    .notification-panel {
        .alert__icon {
            .ico-info-round-fill {
                font-size: 25px;
            }
        }

        .ico-info-round-fill, .alert__message {
            color: #00266B;

        }
    }

    .oal-prompt:only-child {
      margin-bottom: 0;
    }

    .col-select {
        &.fare-condition-th {
            border: 5px solid #e5e9f0;
            background-color: #ddd;
        }
    }

    .flight-station-item {
      .airline-info {
        .airline-detail {
            position: relative;
            line-height: 25px;
            img {
                top: -2px;
                left: -30px;
            }
        }
      }
    }

    .flight-station-info {
        .station-stop {
            .time {
                margin-left: -7px;
            }
        }
    }

/*    .bsp-booking-summary__content-wrap {
        .flight-station-info {
            min-height: 70px;
        }
    }*/

    .btn-price {
      position: relative;
      font-size: 12px;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
      font-weight: 700;

      &:before {
        content: attr(data-default);
        position: relative;
      }

      &:hover {
        background-color: #3B6CC8;
        color: white;
      }

      &.active {
        background-color: #00266b;

        &:before {
          content: attr(data-selected);
          position: relative;
        }
      }

      .ie-copy {
        position: relative;
        display: none;
      }
    }

    .col-select-price {
      background-color: #f7f8fa;
    }

    .bef-price {
      .col-select {
        padding-bottom: 18px;
      }
    }

    .one-column {
      .col-select-price {
        background-color: white;
      }
    }

    .col-price {
      font-family: "baker-signet-web", serif;
      font-size: 22px;
      color: #00226b;
      line-height: 0.8em;
      letter-spacing: 0;
      text-align: center;

      margin-bottom: 10px;

    }

    .recommended-table {
      .not-available {
        opacity: 1;
      }

      .flight-price {
        .from {
          font-size: 10px;
          font-weight: 600;
          display: block;
          line-height: 1.5em;
        }
      }
    }

    .select-fare-table {
      &.one-fare {
        .col-item--3 {
          padding-top: 50px;
        }
      }

      .row-select.row-footer-select {
        .col-select {
            padding-bottom: 20px;
        }
      }
    }

    .flight-price .price small {
      font-size: 24px;
    }

    .fare-summary-group {
        opacity: 1;
        transition: opacity 0.3s ease-in;
        transition-delay: 0.1s;

        &.hide {
            opacity: 0;
        }
    }
}

@media screen and (max-width: 1023px) {
    .fs-economy {
        .price {
            small {
              font-size: 23px;
            }
        }
        .mix {
            transform:translateY(-2px);
            font-size:0.8em;

        }
    }

    .fs-business, .fs-economy, .fs-economy-scoot {
        .airline-info {
            .multistops-airline-info {
                .airline-detail, .name-plane , .cabin-color {
                    display: block;
                    padding-left: 30px;
                }
            }
        }
    }

    .flight-station-item .airline-info .airline-detail img {
        left: -1px;
        top: -5px;
    }
    .flight-station-item .airline-info .inner-info {
        padding-top: 24px;
    }

    .fs-business, .fs-economy, .fs-economy-scoot {

        .flight-list-item {
            .link-4 {

                em {

                    &::before {
                        vertical-align: middle;
                    }
                }
            }
        }

        .airline-info {
            width: 100%;
            display: inline-block;

            .name-plane {
                display: inline-block;
            }

            .link-4 {
                float: right;
                display: inline-block;
                margin-top: -1px;
            }

            .multistops-airline-info {
                display: block;
                padding-top: 25px;

                .airline-detail {
                    img {
                        left: -1px;
                        top: -5px;
                    }
                }
            }
        }

        .flight-station-item .flight-station-info {
            width: 100%;
        }
    }
}


