.popup--group-booking{
    &.after-login{
        .custom-select--2 .select__text {
            input {
                padding-right: 40px;
                padding-left: 10px;
            }

            .ico-cancel-thin{
                right: 22px;
            }

            &.error {
                overflow: initial;

                input::placeholder {
                    color: #ff0000;
                }
            }
            .error{
                margin-top: 1px;
            }
        }
        .popup__inner{
            width: 500px;
        }
        .form-group{
            margin-top: 29px;
            .input-1{
                margin-top: 0;
                margin-bottom: 0;
            }
            .error .input-1{
                background: black;
            }
        }
        .grid-col{
            .grid-inner{
                margin-right: 0;
            }
        }
        .button-group-1{
            margin-right: 0;
            margin-bottom: 10px;
            margin-top: 30px;
        }
    }
    .popup__inner{
        min-width: 442px;
        width: 442px;
    }
    .description{
        color: #000;
        font-size: 16px;
        line-height: 25px;
    }
    .popup__heading{
        font-size: 28px;
    }
    .form-group{
        .input-1{
            margin-top: 25px;
            margin-bottom: 18px;
            width: inherit;
        }

        .error {
            background-color: #fef5f4 !important;
            border: 1px solid #ff0000;
            color: #ff0000;
            position: relative;
            // margin-bottom: 34px !important;
        }

        label.error {
            position: absolute;
            left: 0px;
            top: 42px;
            border: none;
            color: #ff0000;
            background-color: transparent !important;
            display: inline-block;
            // margin-bottom: 10px;
        }
    }
    .btn-full {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .popup__close {
        font-size: 12px;
        padding: 10px;
        font-weight: 500;
    }

    .form-contact-detail--1 { 
        .form-group {
            label {
                margin-bottom: 5px;
               
            }
        }
     }
 }