.favourites-page {
	.add-destination-block{
		.button-group-1{
			bottom: 65px;
    		right: 15px;
		}
	}
	.booking-widget-block{
		.sub-text-4{
			color: #00226b;
		}
	}
	.booking-widget .booking-widget__inner, .booking-widget:before{
		background-image: url('../images/search-flight-bg.png');
		background-color: #f6f9ff;
	}

	.promotion-item--2 .promotion-item__content{
		min-height: 65px;
	}
	.promotion-result--enhance .editor table{
		tr{
			&:last-child{
				td{
					border-bottom: none;
				}
			}
			td{
				border-bottom: 1px solid #cccccc;
			}
		}
	}
	.promotion-item__detail .close-btn .ico-close{
		margin-top: -5px;
	}
	
	.add-destination-wrap {
		display: block;
	}
	.static-item-1 {
		.static-item-1__info {
			.overlay-delete {
				.right-point {
					position: absolute;
					top: 50%;
					right: 48%;
				}
				.button-group-1 {
					position: absolute;
					top: 52%;
				}
			}
		}
	}

	.expiring-deals-content, .promotion-item{
		.promotion-item__inner{
			margin-bottom: 0;
		}
	}

	.masthead{
		 .menu-block{
		 	 .menu__items{
		 	 	 .menu__item{
		 	 	 	.new-badge {
						background-color: #ff9f00;
						color: #00266b;
						font-size: 11px;
						border-radius: 2px;
						padding-left: 5px;
						padding-right: 5px;
						padding-bottom: 2px;
						padding-top: 2px;
						margin-left: 2px;
						font-weight: 700;
					}
		 	 	 }
		 	 }
		 }
	}

	.add-destination-btn {
		margin: 20px 0;
		height: 40px;
		position: relative;
	}
	.ico-container {
		height: 30px;
		width: 30px;
		position: absolute;
		bottom: 15px;
		right: 17px;
		background-image: url("../images/combine-star-icon.png");
		background-position: 0 0;
		z-index: 10;

		&.active {
			background-position: 30px 0;
		}
		
		@include prefix(transition, unset, webkit moz ms o);
	}
	.ico-5-star {
		position: absolute;
		right: 15px;
		z-index: 99999999999999;
		font-size: 28px;
		color: #fff;
		bottom: 10px;
	}
	.ico-5-clock_1 {
		color: #00266b;
		font-size: 21px;
	}
	.add-favourites {
		background: transparent;
		border: none;
		color: #0254ec;
		top: 10px;
		.star-container {
			height: 20px;
			width: 20px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
			overflow: hidden;
			.star-guide {
				height: 20px;
				background-image: url("../images/city-guide-star-icon.png");
				background-position: 0 0;
				.active-guide {
					background-position: 20px 0;
				}
			}
		}
	}
	.right-arrow {
		font-size: 6px;
		vertical-align: middle;
		margin-right: 2px;
		position: relative;
		bottom: 2px;
	}
	.mc-toggle {
		width: 263px;
		.miles-return-one-way {
			li {
				box-sizing: border-box;
				cursor: pointer;
				list-style: none;
				display: inline-block;
				padding: 0 20px;
				width: 50%;
				text-align: center;
				border-bottom-right-radius: 2px;
				border-top-right-radius: 2px;
				border: 1px solid #00226b;
				float: left;
				a {
					color: #00226b;
					text-decoration: none;
					height: 3px;
					line-height: 38px;
					padding-left: 6px;
				}
				&:first-child {
					border-top-left-radius: 2px;
					border-bottom-left-radius: 2px;
					border-bottom-right-radius: 0;
					border-top-right-radius: 0;
				}
				&.miles-cta-active {
					background-color: #00226b;
					a {
						color: #fff;
					}
				}
			}
		}
	}
	.promotion-item.promotion-item--2 {
		position: relative;

		.promotion-item__inner {
			text-align: left;
			border: 0;
			border-bottom: 2px solid #ccc;
			padding: 0;
		}
		&.two-third {
			width: 66.66666%;
		}
		&.one-third {
			width: 33.3333%;
		}
		&.active {
			.promotion-item__inner {
				border: none;
			}
		}
		img {
			height: 180px;
		}
		.country-name {
			position: absolute;
			bottom: 0;
			color: white;
			padding: 10px 15px;
			.main-heading {
				font-size: 28px;
			}
		}
		.promotion-item__desc {
			position: absolute;
			top: 50%;
			width: calc(100% - 30px);
			@include prefix(transform, translateY(-50%), webkit moz ms o);

			.css-accordion-pointer {
				top: auto;
				bottom: 1px;
			}

			.expiring-deals, .avail-fare-deals, p {
				font-size: 12px;
				line-height: 1em;
				display: block;
				margin-bottom: 6px;
			}

			p {
				font-size: 14px;
			}
		}
		.ico-container {
			position: absolute;
			bottom: 15px;
			right: 16px;
		}
	}
	.promotion-item__content {
		position: relative;
		.promotion-item__desc {
			.price {
				color: #00266b;
				span {
					color: #00266b;
					font-size: 14px;
					position: absolute;
					top: 34%;
				}
			}
		}
	}
	.font-align {
		position: absolute;
		top: -41px;
		right: 120px;
	}
	.description {
		color: #000000;
		font-size: 16px;
		margin-bottom: 25px;
	}
	.title-5--blue {
		font-size: 18px;
		clear: both;
	}
	.static-item-1 img {
		height: 180px;
	}
	.static-item-1__info,
	.dropdown-link {
		height: auto;
		position: relative;
		.ico-star {
			position: absolute;
			right: 18px;
			color: #ffffff;
			z-index: 100;
			font-size: 28px;
			top: 50%;
		}
		.country-name {
			position: absolute;
			bottom: 85px;
			color: white;
			padding: 10px 15px;
			.main-heading {
				font-size: 28px;
			}
		}
		
	}
	.block-2.static-item-1__detail {
		height: 66px;
		h3 {
			color: #00266b;
			position: relative;
			span {
				font-size: 14px;
				top: 4px;
				position: absolute;
			}
		}
	}
	.static-item-1__detail {
		padding: 10px 30px 17px 20px;
	}
	.static-item-1__info .country-name {
		bottom: 100px;
		left: 17px;
	}
	.button-group-1 {
		.btn-2 {
			float: right;
			margin-top: 0;
		}
	}
	.custom-select--2 {
		.select__text {
			z-index: 0;

			.add-clear-text {
				z-index: 0;
			}

			.dropdown-text-align {
				padding-left: 15px;
			}
		}
	}
	.add-destination-block {
		background-color: #ffffff;
		padding: 15px;
		margin-top: 20px;
	}
	.mc-toggle {
		width: 360px;
		float: right;
	}
	.avail-fare-deals {
		text-transform: uppercase;
		color: #ba5400;
		font-size: 10px;
		letter-spacing: 0.05em;
		font-weight: 700;
	}
	.static-item-1__info {
		.ico-star {
			color: #ff9f00;
			right: 15px;
			margin-top: -10px;
		}
	}
	.blk-heading .promotion-heading {
		float: left;
	}
	.static-item-1__info {
		.remove-favourites {
			display: block;
		}
	}
	.expiring-deals {
		text-transform: uppercase;
		color: #e41d1e;
		font-size: 10px;
		letter-spacing: 0.05em;
		font-weight: 700;
	}
	.expiring {
		text-transform: uppercase;
		color: #e41d1e;
		font-size: 10px;
		letter-spacing: 0.05em;
		font-weight: 700;
		display: block;
	}
	.add-destination-btn {
		margin: 30px 0;
	}
	.expiring-deals-head {
	    padding: 20px 0;
	    margin-left: 18px;
	    border-top: 1px solid #ccc;
		.expiring-header {
			font-size: 24px;
			display: inline-block;
			color: #00266b;
			vertical-align: middle;
		}
		.ico-flight-history {
			display: inline-block;
			font-size: 21px;
			color: #00266b;
		}
	}
	.btm-border {
		border-bottom: 1px solid #e2e2e2;
		padding-bottom: 20px;
		margin-bottom: 40px;
	}
	.city-guide {
		margin-top: 5px;
		.ico-star {
			display: inline-block;
			background: transparent;
			color: #00266b;
			font-size: 23px;
			vertical-align: text-top;
			margin-left: -3px;
		}
		.city-ribbon {
			color: #00266b;
			vertical-align: bottom;
		}
	}
	.tooltips--blue {
		margin-bottom: 25px;
		.radio-tooltips {
			.radio-tooltips__text {
				color: #000;
				line-height: 1.5em;
			}
		}
		.title-5--blue {
			margin: 0;
			margin-left: 11px;
		}
		.two-four {
			width: 53%;
		}
		.width-3 {
			width: 44%;
		}
		.button-group-1 {
			position: relative;
			top: 8px;
		}
	}
	.alert-block {
		padding: 15px 5px;
	}
	.button-group-1 {
		overflow: hidden;
		clear: both;
		zoom: 1;
		position: absolute;
		bottom: 92px;
		right: 8px;
	}

	.add-to-fave-controls {
		@include prefix(transition, transform 0.4s ease-in-out, webkit moz ms o);
		@include prefix(transform, translate(110%, 0), webkit moz ms o);

		&.active {
			@include prefix(transform, translate(0, 0), webkit moz ms o);
		}
	}

	.overlay-delete {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: #ffffff;
		z-index: 100;
		top: 0;
		margin: 0 auto;
		
		.title-5--blue {
			text-align: center;
			margin-top: 25%;
			line-height: 1.4em;
		}
		&.two-thirds {
			width: 95%;
			.title-5--blue {
				margin-top: 25%;
				line-height: 1.5em;
			}
		}
		.button-group-1 {
			margin-right: 16%;
			a {
				width: auto;
				&.promotion-item__content {
					padding-top: 0;
				}
			}
		}
	}

	.expiring-deals-content, .promotion-list{
		.two-third{
			.dest-blk-content-wrap{
				.overlay-delete {
					.title-5--blue{
						text-align: left;
						margin-top: 15%;
					}

					.button-group-1{
						position: relative;
					    top: 0;
					    float: left;
					    margin-left: 24px;
					}
				}
			}
		}
	}

	.fave-list-wrap {
		.two-third{
			.dest-blk-content-wrap{
				.overlay-delete {
					.title-5--blue{
						text-align: left;
						margin-top: 15%;
					}

					.button-group-1{
						position: relative;
					    top: 0;
					    float: left;
					    margin-left: 24px;
					}
				}
			}
		}
	}

	.add-destination-trigger {
		clear:both;
		margin-bottom: 20px;
	}

	.dest-block {
		.dest-blk-content-wrap {
			position: relative;			
			display: block;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		.promotion-item__inner {
			&.css-accordion-trigger {
				display: block;

				@include prefix(transition, padding 0.3s ease-in-out, webkit moz ms o);

				&.active {
					padding-bottom: 20px;
					margin-bottom: 0;
					border-bottom: 0;
					.css-accordion-pointer {
						@include prefix(transform, rotate(90deg), webkit moz ms o);
					}
				}
				.css-accordion-pointer {
					@include prefix(transition, transform 0.6s ease-in-out, webkit moz ms o);
				}
			}
		}
		.css-accordion-content {
			display: block;
			min-width: 944px;
			padding: 0 20px;
			overflow: hidden;
			border-bottom: 0;
			@include prefix(transition, all 0.3s ease-in-out, webkit moz ms o);
			&.active {
				padding-top: 20px;
				padding-bottom: 20px;
				border-bottom: 2px solid #ccc;
			}
			.editor {
				table {
					.dest-booknow {
						width: 100%;
						padding: 15px 0;
					}
				}
			}
		}
		.min-pax-hide {
			display: none;
		}
	}

	.booking-widget.sticky {
		@include prefix(transition, bottom 0.6s ease-in-out, webkit moz ms o);
		bottom: -100%;

		&.active {
			bottom: 0;
		}
	}

	.search-flight-container {
		position: absolute;
		top: 50%;
		@include prefix(transform, translateY(-50%), webkit moz ms o);

		.no-fare {
			text-transform: uppercase;
			color: #666666;
			font-size: 12px;
			line-height: 1em;
			letter-spacing: 0.05em;
			font-weight: 700;
			position: relative;
			margin-bottom: 6px;
			display: block;
		}

		.flight-search {
			position: relative;
			font-size: 14px;
			margin: 0;
			.link-8{
				margin-left: -2px;
			}
			.ico-point-r{
				position: relative;
				color: #0254ec;
				font-size: 7px;
				margin-top: -4px;
				margin-left: -2px;
			}
		}
	}
}

.favourites-initial-login {
	.add-destination-block{
		padding: 0 0 10px;
		margin-top: 20px;
		background-color: transparent;
        .button-group-1{
            bottom: 60px;
            right: 570px;
            input {
                padding: 15px 28px 13px;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
	.favourites-initial-login {
		.add-destination-wrap {
			.one-third {
				width: 33.33333%;
			}
		}
	}
}

.favourites-complete {
	.add-destination-block{
		padding: 0 0 15px;
		margin-top: 20px;
		background-color: transparent;
        .button-group-1{
            bottom: 99px;
            right: 570px;
            input {
                padding: 15px 28px 13px;
            }
        }
	}
	.add-to-fave-controls {
		.button-group-1 > a {
			float: none;
		}
	}
}
@media screen and (max-width: 1023px) {
	.favourites-complete {
		.add-destination-wrap {
			.one-third {
				width: 33.33333%;
			}
		}
	}
}

.favourites-disabled {
	.add-destination-block{
		padding: 0 0 15px;
		margin-top: 20px;
		background-color: transparent;
        .button-group-1{
            bottom: 99px;
            right: 570px;
            input {
                padding: 15px 28px 13px;
            }
		}
		.fav-disabled-info-max {
			font-size: 14px;
			color: #000;
			font-style: italic;
			font-weight: 500;
			margin-top: -8px;
		}
	}
	.add-to-fave-controls {
		.button-group-1 > a {
			float: none;
		}
	}
	.disabled-button {
		pointer-events: none;
		// opacity: 0.4;
	}
	.add-bottom-px {
		bottom: 126px !important;
		// background-color: red;
	}
	.add-city-placeholder-disable {
		background-color: #e5e5e5;
	}
	.add-btn-disable {
		background-color: #000;
		opacity: 0.3;
	}
}
@media screen and (max-width: 1023px) {
	.favourites-disabled {
		.add-destination-wrap {
			.one-third {
				width: 33.33333%;
			}
		}
	}
}

.add-tofavourites {
	position: absolute;
	bottom: 16px;
	right: 16px;
	width: 30px;
	height: 30px;
	background: none;
	background-image: url("../images/combine-star-icon.png");
	background-position: 0 0;
	border: 0;
	z-index: 10;
	overflow: hidden;
	padding: 0;

	@include prefix(transition, unset !important, webkit moz ms o);

	&.active {

		background-position: 30px 0;
	}

	&.inline-w-copy {
		position: relative;
		top: 10px;
		left: 0px;
		bottom: auto;
		right: auto;
		width: auto;
		height: 20px;
		padding-left: 25px;
		color: #0254ec;
		background-image: url(../images/favourites-star-blue.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		&.active {
			background-position: 0 -20px;
		}
	}
}

.fares-details-enhancement-page{
	.blk-heading{
		margin-bottom: 60px;
	}
	.sub-text-4 {
	    position: absolute;
    	top: 10%;
	    color: #00266b;
	}
}

.auto-complete-close {
	cursor: pointer;
    position: absolute;
    top: 50%;
    right: 26px;
    font-size: 12px;
    margin-top: -6px;
    line-height: 1;
	color: #000;
	z-index: 100;
}

@media screen and (max-width: 768px) {
	.favourites-page {
		.tooltips--blue {
            .grid-col.width-3 {
                width: 61%;
                float: right;
                clear: both;
            }

            .button-group-1 {
                margin: 0;
                width: 100%;

                .btn-1, .btn-4 {
                    display: inline-block;
                    width: 167px;
                    clear: none;
                    float: none;
                }
            }

            .radio-tooltips {
                .radio-tooltips__text {
                    width: 95%;
                }
            }
        }


		.promotion-item__detail {
			width: 685px;
		}
		.static-item-1__info .country-name {
			left: 17px;
		}
		.mc-toggle {
			margin-bottom: 20px;
		}
		.promotion-item.promotion-item--2 {
			&.one-third, &.two-third {
				width: 50%;

				.css-accordion-trigger {
					width: calc(100% - 20px);
				}

				.add-to-fave-controls {
					
				}

				.overlay-delete {
					width: 100%;
					height: 100%;

					.title-5--blue {
						text-align: center;
					}

					.button-group-1 {
						position: absolute;
						top: 50%;
						bottom: auto;
						right: auto;
						left: 50%;
						margin: 20px 0 0;
						padding: 0;

						width: 218px;
	
						@include prefix(transform, translate(-50%, -40%), webkit moz ms o);

						.btn-2 {
							margin-left: 0;
						}
	
					}
				}
			}
		}

		.static-item-1__info .overlay-delete .button-group-1 {
			margin-right: 0;
		}
		
		.dest-block  {
			.css-accordion-content {
				min-width: 688px;
				.editor {
					table {
						.dest-booknow {
							min-width: 90px;
							padding: 15px 20px 13px;
							margin-bottom: 15px;
							margin-top: 15px;
							width: auto;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1023px) {
	.favourites-page {
		.two-third {
			width: 50%;
			.overlay-delete {
				width: 95%;
				.title-5--blue {
					margin-top: 25%;
				}
				&.two-thirds {
					width: 95%;
				}
			}
		}

		.one-third {
			width: 50%;
		}

		.dest-block  {
			.css-accordion-content {
				min-width: 90vw;

				.editor {
					table {
						.dest-booknow {
							min-width: 90px;
							padding: 15px 20px 13px;
							margin-bottom: 15px;
							margin-top: 15px;
							width: auto;
						}
					}
				}
			}
		}
		 .tooltips--blue {
            .grid-col.width-3 {
                width: 61%;
                float: right;
                clear: both;
            }

            .button-group-1 {
                margin: 0;
                width: 100%;

                .btn-1, .btn-4 {
                    display: inline-block;
                    width: 200px;
                    clear: none;
                    float: none;
                }
            }

            .radio-tooltips {
                .radio-tooltips__text {
                    width: 95%;
                }
            }
        }
	}

	.fares-details-enhancement-page{
		.blk-heading{
			margin-bottom: 0px;
		}
		.sub-text-4 {
		    top: 7.8%;
		}
	}
}

.promotion-enhancement.app-excl-fares {
	.promotion-item__inner {
		min-height: 270px;
	}

	.promotion-item__desc {
		margin-top: 8px;
	}

	.ribbon-wrapper {
		margin-bottom: -15px;
	}
}

@media screen and (max-width: 768px) {
	.promotion-enhancement.app-excl-fares {
		.promotion-item__inner {
			min-height: 296px;
		}
	}
}