.kf-security{
	.field-group-col {
		width: 40%;
	}
	.form-group-security {
		margin-top: 0;
		margin-left: 5px;

		.custom-radio:first-child{
			display: inline-block;
		}
		.custom-radio{
			display: inline-block;
		}
	}
	.popup--confirmation-error {
			.popup__inner{
				max-width: 535px;
		}
		.popup__inner_contact {
			max-width: 450px;
		}
		.popup__heading{
			margin-bottom: 15px;
		    font-size: 26px;
		}
		.form-group {
				margin-bottom: 0;
			}

		.sms-container {
			position: relative;
			height: 93px;
			margin-bottom: 20px;

		   .verification-code {
			font-size: 16px;
			color: #000;
			display: inline;
			}
			.code-resend{
				display: block;
				font-size: 14px;		
			}
			.resend-otp {
				display: block;
				font-size: 14px;
			}

				.ico-container{
			width: 20%;
			display: inline-block;
			float: left;
			height: 93px;

			.ico-phone{
				color: #00266b;
				font-size: 90px;
				transform: translateY(-15px);

				&:before{
					margin-left: -10px;
				}
			}
			.ico-5-email {
				color: #00266b;
				font-size: 90px;
				transform: translateY(-15px);

				&:before{
					margin-left: 0;
				}
			}

			.ico-sms{
				color: #e67300;
				font-size: 30px;
				position: absolute;
				top: 23px;
				left: 14px;
			}

			.ico-mail {
				color: #e67300;
			    font-size: 45px;
			    position: absolute;
			    top: 9px;
			    left: 36px;
			}
		}
			.email-container {
				width: 59%;
			    float: right;
			    display: inline-block;
			    line-height: 23px;
			    position: absolute;
			    transform: translateX(69px);
			}

			.font-container{
				width: 79%;
				float: right;
				display: inline-block;
				line-height: 25px;
			}

		}
		.security-input-form{
			margin-bottom: 10px;
			width: 76%;
			display: inline-block;

				.input-text{
					color: #666;
			}	
				.input-text-error {
					color: #e20000;
				}
		}
		.btn-full{
			margin-bottom: 15px;
			margin-top: 30px;
		}
		.left {
			float: left;
			color: #e20000;
			font-size: 14px;
			margin-right: 5px;
		
		}
	
		.text{
			color: #000;
		}

		.form-error {
			border-color: #ff1010;
			background: #fff1f0;

		}
		.form-general {
			padding-top: 0;
		}

		.alert-block {
			padding: 13px 20px;
			// padding-right: 40px;
		}
		.success-alert {
		margin-bottom: 20px;
		}
		.alert__message {
			color: #000;	
		}
		.error-alert {
			.alert__message {
				line-height: 22px;
			}
		}
	}
	.character-container {
		letter-spacing: 1px;
	}

	.Krisflyer-membership-text {
		color: #000;
	    line-height: 1.5em;
	    font-size: 14px;
	    margin-right: 5px;
	    display: inline-block;
	    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	    margin-top: 0;
	}

	.hide-span{
		display: none;
	  }
}
	

@media screen and (max-width: 1023px) {
	.kf-security {
		.field-group-col {
			width: 55%;
		}
	}
}