.manage-booking {
  margin-bottom: 40px;

  &.manage-booking--desktop {
    display: block !important;
    visibility: visible !important;
  }

  &__heading {
    display: block;
    font-weight: 700;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 20px;
    color: #00266b;
    margin-top: 5px;
  }

  &__content {
    margin-top: 17px;
  }

  &__icon {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 8px;
      width: 35px;
      height: 35px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--double {
      &:before {
        background-image: url('../images/icon-2x.png');
      }
    }

    &--seat {
      &:before {
        background-image: url('../images/icon-seat-upgrade.png');
      }
    }
  }

  &__group {
    margin-top: 12px;
    box-shadow: 1px 1px 1px #f5eded;

    &__error {
      margin-bottom: 10px;
      background-color: #fff1f0;
      padding: 10px 20px;

      .ico-close-round-fill:before{
          color: red;
      }

      & .alert__icon {
        padding: 0px 20px 4px 0;
      }
    }

    &__detail {
      position: relative;
      background-color: #fff;
      padding: 20px;

      &__voucher {
        padding-left: 70px;
      }

      &__use-voucher {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        padding-right: 40px;
        width: 155px;

        & .btn-1 {
          width: 115px;
          font-weight: 600;
        }
      }

      &__voucher-disable {
        position: absolute;
        top: 50%;
        transform: translateY(0);
        right: 0;
        padding-right: 40px;
        width: 155px;

        & .btn-2 {
          width: 115px;
          font-weight: 600;
        }
      }

      &__time {
        margin: 10px 0 5px;
        font-size: 13px;
        text-align: center;
        color: #022a67;
        margin-top: 0;
      }

      &__title {
        color: #00266b;
        font-size: 20px;
        font-weight: 600;
        display: block;

        br {
          display: none;
        }
      }

      &__voucher-code {
        text-transform: uppercase;
        background-color: #e5eaf0;
        font-size: 12px;
        padding: 4px 14px;
        border-radius: 3px;
        color: #00266b;
        font-weight: 600;
        margin-top: 3px;
        display: inline-block;
      }

      &__link {
        margin-top: 10px;

        .ico-point-r::before {
          font-size: 6px;
          margin-bottom: 3px;
        }

        & a:first-child {
          padding-right: 30px;
        }
      }
    }
  }

  &__show-all {
    text-align: center;
    display: table;
    margin: 18px auto 0;
  }

  &__btn {
    &--disabled {
      background-color: #a8a8a8;
      color: #e5e5e5;
      pointer-events: none;
    }
  }
}

.popup {
  &__heading {
    &__list {
      margin-left: 20px;
      & li {
        padding: 5px 0;
        color: #000;
      }
    }
  }

  &__description {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 16px;
  }

  &__sub-heading {
    font-size: 18px;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-weight: bold;
    color: #00226b;
    margin-top: 35px;
    margin-bottom: 15px;
  }

  &__table {
    background-color: #f2f2f2;
    font-size: 14px;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    width: 100%;
    margin: 25px 0;

    tr:first-child {
      td {
        padding-top: 20px;
      }
    }

    tr:last-child {
      td {
        padding-bottom: 20px;
      }
    }

    td {
      padding: 10px 20px;
    }

    &-text {
      color: #666666;
    }

    &-value {
      color: black;
      font-weight: bold;
    }
  }
}
