
.masthead-banner {
	width: 100%;
	margin: 0 auto;

	&__wrapper {
		background-image: url('../images/masthead-london.png');
		background-position: top center;
		height: 420px;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		margin-top: -1px;

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba($color: #000000, $alpha: 0.5);
			top: 0;
			left: 0;
		}
	}

	&__content {
		text-align: center;
		width: 350px;
		position: absolute;
		left: 50%;
		top: 80px;
		transform: translateX(-50%);
		z-index: 1;

		&-country {
			color: #FFFFFF;
			font-size: 15px;
			line-height: 20px;
			letter-spacing: 1.5px;
			text-transform: uppercase;
		}

		&-dash {
			width: 52px;
			height: 3px;
			background-color: #FF9F00;
			display: table;
			margin: auto;
			margin-top: 10px;
		}

		&-capital {
			font-family: 'sigvar';
			font-size: 57px;
			line-height: 76px;
			color: #FFFFFF;
		}

		&-favourites {
			font-size: 12px;
			line-height: 16px;
			color: #FFFFFF;
			position: relative;
			text-transform: uppercase;
			padding-left: 30px;
			font-weight: 600;
			letter-spacing: 1px;

			&::before {
				content: '';
				background-image: url('../images/svg/star-grey.svg');
				background-size: 20px 20px;
				display: inline-block;
				width: 20px;
				height: 20px;
				background-repeat: no-repeat;
				position: absolute;
				top: -4px;
				left: -3px;
			}
		}
	}
}
