.cancel-redemption-booking{
	.main-inner{
		.btn-1{
			float: right;
			margin-top: 30px;
			margin-bottom: 40px;
			border-radius: 2px;
			padding-left: 30px;
			padding-right: 30px;
			padding-top: 17px;
			padding-bottom: 17px;
		}
		.block-2-warpper{
			padding-right: 40px;
			padding-left: 40px;
		}
		margin-top: 40px;
		.btn-back{
			margin-bottom: 50px;
		}
		.main-details{
			font-size: 16px;
			margin-top: 0px;
			margin-bottom: 33px;
			line-height: 1.4em;
			color: #000000;
		}
		.main-details-last{
			font-size: 16px;
			margin-top: 0px;
			margin-bottom: 36px;
			color: #000000;
		}
		.main-inner-instruction{

			font-size: 12px;
			color: #666666;
			padding-top: 30px;
		}
	}
	.passenger-information{
		margin-top: 30px;
		.passenger-heading{
			font-size: 18px;
			color: #00266B;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			padding-bottom: 6px;
			font-weight: 600;
		}
		.text-error.passengers-box-error{
			padding-left: 0px;
		}
		.passenger-details{
			display: block;
			color: #222222;
			font-size: 16px;
			border-bottom: 1px solid #EAEAEA;
			padding: 20px 0;
			text-align: left;
			.passenger-name{
				label{
					font-weight: 600;
					font-size: 16px;
					color: #222222;
				}
				width: 35%;
				display: inline-block;
				vertical-align: top;
			}
			.passenger-ticket-no{
				width: 29%;
				vertical-align: top;
				display: inline-block;
			}
			.passenger-krisflyer-no{
				width: 	35%;
				vertical-align: top;
				display: inline-block;
			}
		}
	}
	.booking-information{
		h2{
			font-weight: 600;
			font-size: 18px;
			color: #00266B;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			padding-bottom: 27px;
			padding-top: 40px;
			line-height: 1em;
		}
		.booking-information-details{
			height: 37px;
		}
		.booking-payment-title{
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			font-size: 15px;
			color: #707070;
			padding-bottom: 8px;
			line-height: 1em;
		}
		p{
			font-size: 14px;
			color: #222222;
			line-height: 1em;
			margin: 0px;
			
		}
		.booking-information-payment,.booking-information-country{
			float: left;
			width: 50%;
		}
	}
	.your-information{
		h2{
			font-weight: 600;
			padding-top: 30px;
			font-size: 18px;
			color: #00266B;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			padding-bottom: 27px;
			line-height: 1em;
		}
		.your-information-info{
			height: 101px;
		}
		.your-information-title{
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			font-size: 15px;
			color: #707070;
			padding-bottom: 8px;
			line-height: 1em;
		}
		p{
			font-size: 14px;
			color: #222222;
			line-height: 1em;
			margin: 0px;
		}
		.your-information-details{
			float: left;
			width: 50%;
		}
		.details--margintop{
			margin-top: 30px;
			width: 100%;
		}
	}
	.contact-information{
		
		h2{
			font-weight: 600;
			padding-top: 30px;
			font-size: 18px;
			color: #00266B;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			padding-bottom: 27px;
			line-height: 1em;
		}
		
		.contact-information-details{
			width: 100%;
			height: 69px;
			.contact-details-email{
				width: 50%;
				display: inline-block;
				float: left;
				span{
					margin-top: 12px;
					margin-right: 20px;
				}
			}
			
			
			.contact-details-contact{
				width: 50%;
				display: inline-block;
				
				.contact-details--width{
					width: 100%;
					margin-top: 12px;
					.contact-col--1{
						width: 33%;
						display: inline-block;
						input{
							padding-left: 10px;
						}
						.ico-cancel-thin.add-clear-text{
							width: 0px;
						}
						
					}
					.contact-col--2{
						vertical-align: top;
						width: calc(30% - 16px);
						display: inline-block;
						margin-right: 8px;
						margin-left: 8px;
					}
					.contact-col--3{
						width: 34%;
						display: inline-block;
						vertical-align: top;
					}
				}
			}
			.input-1{
				
				color: #222222;
				font-size: 14px;
				line-height: 1em;
			}
			label{
				font:15px;
				color: #707070;
				line-height: 1em;
			}
			
		}
	}
	.acknowledgement{

		padding-top: 40px;
		.acknowledgement-details{
			background-color: #E5E9F0;
			border-radius: 2px;
			padding: 24px 20px;
			label{
				font-size: 14px;
				color: #000;
				padding-left: 30px;
				margin:0;


				span{
					text-transform: none;
					font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
					line-height: 1.4em;
				}
			}
			label::before{
				top: 2px;
			}
			label::after{
				top: 1px;
			}
			.p--second{
				display: block;
				padding-top: 18px;
				line-height: 1.4em;
			}
		}
	}
	
	.block-2{
		border: none;		
	}
	.main-heading{
		line-height: 1em;
		font-size: 33px;
		margin-bottom: 26px;
		letter-spacing: 0.2px;
		font-family: "baker-signet-web", serif;
	}	
	.main-info{
		width: 70%;
		margin-top: 37px;
		font-size: 16px;
		color: #000;
		margin-bottom: 36px;
		line-height: 1.4em;
	}
	.button-group-1{
		width: 65%;
	}
	.custom-select--2 .select__text input{
		padding-right: 20px;
	}
	
}