.mb-trip-info-page {
    .trip-info-banner-heading {
        position: relative;

        .trip-info-banner-img {
            width: 100%;
        }
        img {
            height: 250px;
            width: 100%;
        }
    }
    .trip-info-banner-heading{
		background-image: url("../desktop/images/banner-london.png");
		height: 300px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		// background-color: #666;
		position: relative;
	
		.main--inner{
				
		margin-top: 0px;
	
		}
	}
		.manage-booking-container{
            position: absolute;
            max-width: 988px;
            margin: 0 auto;
            top: 62px;
            left: 0;
            bottom: 0;
            right: 0;
			.manage-booking-heading{
				float: left;
				a{
					color: #ffffff;
					font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				}
			}
			.booking-reference{
				float: right;
			}
		}
	.manage-trip{
		padding-top: 50px;
				.your-booking-heading{
					border-left: 5px solid #FF9F00;
					padding-left: 24px;
					color: #ffffff;
				
					.manage-flight-header{
						font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
						letter-spacing: 0px;
						font-weight: 900;
						font-size: 24px;
	
					}
					.manage-flight-date{
						font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
						letter-spacing: 0px;
						font-size: 16px;
	
					}
				}
	}
	
	.booking-reference{
		
		background-color: white;
	
		text-align: center;
		float: right;
		.booking-text{
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			padding-bottom: 5px;
			border-bottom: 1px solid #FF9F00;
			font-size: 12px;
			color: #00266B;
			font-weight: 900;
			padding-top: 16px;
	
	
		}
		.booking-number{
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			padding: 10px;
			font-weight: 900;
			font-size: 40px;
			color: #000000;
		}
		.print-booking-reference{
			
			padding-left:0px;
			padding-right:55px;
			padding-top: 16px;
			padding-bottom: 16px;
			background-color: #00266B;
	
			.booking-reference-font{
				color: #ffffff;
				font-size: 12px;
			}
		}
	}
	.print-icon{
		padding-left:50px;
		padding-right: 12px;
		font-size: 13px;
	}
	.back-to{
		padding-bottom:50px;
		margin-top: 50px;
	}
	
	
	.tabs--1{
		> .tab{
			.tab-item{
				width: 50%;
				font-size: 14;
				font-weight: 900;
				color: #222222;
				text-align: center;
				background-color: #ffffff;
				border-radius: 2px;
				a{
					border-top: 2px solid #D3DBE8;
					
				}
			}
		}
	} 
	.fare-tabs{
			.tab{
				.tab-item.active {
					a{
						border-top: 2px solid #FF9F00;
						border-left: none;
						border-right: none;
						
					}
				}
			}
		} 
	
	.main-position{
		padding-bottom: 50px;
	}
	
	.tab-inner{
		padding: 30px;
		border-bottom: none;
		
		.your-flights-heading{
			padding-bottom:50px;
			.header-1{
				font-size: 20px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				color: #00266B;
				font-weight: 900;
				float: left;
				
			}
			ul{
				list-style-type: none;
	
				li{
					float: right;
					a{
						background-color: #2275D3;
						font-size: 14px;
						color: #ffffff;
						padding: 5px;
						padding-right: 10px;
		
						margin-left: 10px;
						border-radius: 2px;
						em{
							font-size: 14px;
							padding-right: 5px;
							padding-left: 10px;
						}
	
					}
				}
			}
		}	
	}
	
	.booking-passenger-content {
			padding: 28px;
			background-color: #F0F2F6;
		}
	.booking-heading-place{
		  color: #00266b;
		  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		  font-size: 14px;
		  font-weight: 700;
		  text-align: left;
	}
	
}