.miles-calculator-page {
	hr {
		border-top: 1px solid #ccc;
	    border-width: 1px 0 0 0;
	    margin: 30px 0;
	    height: 1px;
	}

	.mc-toggle {
		width: 263px;

		.miles-return-one-way {
			li {
				box-sizing: border-box;
				cursor: pointer;
			    list-style: none;
			    display: inline-block;
			    float: left;
			    padding: 0 20px;
			    
			    width: 50%;

			    text-align: center;

			    
				border-bottom-right-radius:2px;
				border-top-right-radius:2px;
				border: 1px solid #00226b;

				a {
				    color: #00226b;
				    text-decoration: none;
				    height: 3px;
				    line-height: 38px;
				    padding-left: 6px;
				}

				&:first-child {
					border-top-left-radius: 2px;
					border-bottom-left-radius: 2px;
					border-bottom-right-radius:0;
					border-top-right-radius:0;
				}

				&.miles-cta-active {
					background-color:#00226b;
					
					a {
						color:#fff;
					}
				}
			}
		}
	}

	.redeem-miles tbody tr td:first-child {
			width: 310px;
	}

	.mc-bold{
		font-weight: 700;
	}

	.miles-calculator-form{
		position: relative;
		height: 100px;
		.mc-calculate-btn{
			position: absolute;
		    right: 0;
		    top: 62px;
			input{
				width: 105px;
				margin-right: 2px;
			}
		}
	}



	.heading-wrap{
		margin-bottom: 20px;
	}

	.main-container {
		background-color: #f7f7f7;
		border-top:0 solid transparent;

		.main-intro {
			padding:0;
			margin: 28px 0px 7px 0;
		}
	}
	.krisflyer-earn-rates{
		.table-1 td{
			vertical-align: text-top;
		}
	}

	.miles-calculator-selection {
		position:relative;

		.tab-select{
			display: none;
		}

		.btn-arrow-down {
		  	background-color: #99a8c4;
		    position: absolute;
		    z-index: 1;
		    height: 49px;
		    right: 0;
		    top: 0;
		    border: 0;
		    color: #fff;
		    width: 30px;
		    display: none;
		}

		.miles-calculation-service-tab {
			overflow: hidden;
		    position: relative;

			li {
				list-style: none;
				float: left;
				border-right:1px solid #ddd;
				 width: 328.3px;
				width: calc(100% / 3 - 2px);
				background-color:#ddd;
				text-align: center;
				height: 50px;
				position: relative;
				border-left:solid 1px #ccc;
				border-bottom:solid 1px #ccc;
				
				a {
					color: #00226b;
					text-decoration: none;
					text-transform: uppercase;
					text-align: center;

					span.miles-tab-span {
					  	line-height: 49px;
					    // letter-spacing: 2px;
					    font-weight: 600;

					}
				}
			}

			li:first-child {
				border-left: 1px solid  #ddd;
				

			&.active {
			border-left:1px solid #00226b;
				
				}
			}

			.active  {
				background-color:#00226b;
				border-right: 1px solid #00226b;
				border-bottom:1px solid #00226b;
				border-left:1px solid #00226b;

				a {
					color: #fff;
				}
			}
		}
	}

	.miles-calculator-content {
		overflow: hidden;
		border-bottom: 1px solid #ccc;

		.miles-calculator-block-inner{
			padding: 30px 20px 40px;
			// height: 220px;

			.miles-calculator-component {
				.alert-block {
					background-color: #fff1f0;
				}
				.ico-close-round-fill{
					width: 30px;
				    height: 30px;
				    color: #f90000;
				    font-size: 30px;
				    line-height: 1;
				}
				.checkin-alert {
					display: none;
				}

				.custom-width-calculate {
					width: 63.2%;
				}
				
				// .btn-calculate-custom {
				// 	width: 97px;
				// }
			}
			.miles-calculator-bottom-text {
				p {
					color:#000;
					font-size: 14px;
				}
			}
			.book-now {
				.start-earnings {
				    margin-top: 10px;
				    margin-right: 15px;
				    color: #000;
				    font-size: 16px;
				    font-weight: bold;
				}
			}

			.miles-form-group {
				
			 	.custom-select{
				 	height: 38px;
				    line-height: 38px;
				    background-color: #fff;
				    border: solid 1px #00226b;
				    border-top-left-radius: 2px;
				    border-top-right-radius: 2px;
				    border-bottom-left-radius: 2px;
				    border-bottom-right-radius: 2px;
				   
				   .select__label{
			 			color: #000;
			 			
			 		}

			 		input:placeholder-shown {
	 			 	color:#000;
					}

					::placeholder {
						color:#000;
					}		    
			 	}

			 	.custom-select--3 {
		 		    border: solid 1px #ccc;
		 		    // margin-top: 10px;
			 	}
			 	 
			 	.grid-col.mc-dropdown {
				    float: left;
				    width: 35%;
				    margin-right: 11px;
				}
			}	
		}

		.cabin-class-tab-control {
			.title-4--blue {
				margin-bottom:5px;
				font-size: 20px;
			}
			.miles-flown-text {
			    color: #666;
			    font-size: 16px;
			    margin-bottom: 30px;
			    display: block;
			}
			.fare-family-title {
			    display: block;
			    color: #000;
			    font-size: 16px;
			}

			.fare-family-codes {
				display: block;
				color: #666;
			    font-size: 14px;
			    // letter-spacing: 2px;
			}

			.miles-num-text {
	    		color: #000;
			}


			.terms-condition-text{
				em.ico-point-r{
					right: 10px;
		   		    font-size: 7px;
		   		    margin-bottom: 4px;
	   		    }
			}
		}

		.miles-calculator-table {
			margin-top: 30px; 

			.fare-family-text {
				font-size: 16px;
			}

			.strong-text {
				color: #000;
			}

			table { 
			  width: 100%; 
			  border-collapse: collapse; 
			}

			.th-width {
	    		width: 29%;
			}

			tr.odd { 
			  	background: #E8E8E8; 
			}

			tr.even {
				background: #ffffff; 
			}
		
			th { 
			  background: #002261; 
			  color: white; 
			  font-weight: bold; 
			}

			td, th { 
			  padding: 20px; 
			  text-align: left; 
			  span{
			  	display: block;
			  }

			  span:nth-child(2){
			  	// letter-spacing: 2px;
			  }
			}

			.ico-tooltips-custom {
				color: #989898;
				font-size: 14px;

				&:before {
					vertical-align: top;
				}
			}
		}
	}

	.redeem-miles, .upgrade-flight{

		.miles-calculator-page{
			.miles-calculator-content{
				.miles-calculator-block-inner{
					height: 220px;
				}
			}
		}

		form.r-miles{
			position:relative;
			height: 120px;
		}
		.mc-calculate-btn{
			position: absolute;
		    color: black;
		    right: 0;
		    top: 62px;
		    width: 50%;
		    margin-top: auto;
		    input{
		    	width: 105px;

		    }
		}

		.ru-cabin-class, .uf-trip-type{
			position: absolute;
		    width: 100%;
		    top: 62px;
		    right: 0;
		}
	}

	.upgrade-flight{

		.miles-form-group{
			.custom-select--2{
				.select__label{
					top: 0;
				    max-width: 60%;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				}
			.select__text{
				padding-left: 98px;
				}	
			}
		}

		.miles-calculator-table{
			margin-top: 0px;
			table{
				th{
					.fare-family-text{
						font-size: 14px;
						font-weight: 200;
					}
				}
			}
		}

		.miles-calculator-result {
			th {
				&:first-child {
					width: 284px;
				}
			}
		}

		.upgrade-table-intro{
			font-size: 18px;
			color: black;
			margin-top: 25px;
		}

		.end-note{
			font-size: 14px;
			margin-bottom: 0px;
			color: black;
		}
		.terms-condition-text{
			font-size: 14px;
			margin-top: 5px;
		}
	}

	.form-fees-tools {

		.last-child {
			border-bottom: 0;
			padding: 0;
			margin-top: 3px;

			.btn-miles {
				padding: 17px 0px 17px 15px;
				background-color: #e5eaef;
				display: inline-block;
				width: 100%;
			}

			img {
				margin-right: 10px;
			}

			text {
				color: #00226b;
				font-weight: 600;
				font-size: 16px;
			}
		}
	}
}


@media screen and (max-width: 1023px){
	.miles-calculator-page{
		.earn-miles {
			form.miles-calculator-form{
				position: relative;
				min-height: 100px;
				div.mc-calculate-btn{
					position: absolute;
					top: 62px;
					right: 0;
					margin-top: auto;
				}
			}

			.mc-toggle {
				width: 49.3%;
				position: absolute;
			    top: 62px;
				z-index: 12;
				margin-top: auto;
			}

			&.haserror {
				height: 180px;
			}
		}
		
		.miles-calculation-service-tab {
			overflow: hidden;
		    position: relative;

			li {
				a {
					color: #00226b;
					text-decoration: none;
					text-transform: uppercase;
					text-align: center;
				}
			}

			.active  {
				background-color:#00226b;
				border-right: 1px solid #00226b;

				a {
					color: #fff;
				}
			}
		}

		.miles-calculator-content {
		    overflow: hidden;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;

			.calcBtn {
				width: 88px!important;
				margin-top: 10px;
			}
		}

		.miles-calculator-content .miles-calculator-block-inner .miles-form-group .grid-col.mc-dropdown {
		    width: 50%;
		    margin-right: 0px;
		}

		.grid-col.mc-toggle {
			// margin-top: 20px;

			li:first-child {
			   	 border-top-left-radius: 2px;
			   	 border-bottom-left-radius: 2px;
			}

			li:last-child {
				border-left: 0 solid #fff;
				border-bottom-right-radius:2px;
				border-top-right-radius:2px;
			}
		}

		.heading-wrap{
			margin-bottom: 22px;
		}

		.miles-calculator-component {
			.miles-form-group{
				div:nth-child(1){
					.grid-inner{
						margin-right: 5px;
					}
				}

				div:nth-child(2){
					.grid-inner{
						margin-left: 5px;
					}
				}
			}

			// .mc-toggle{
			// 	margin-top: 22px;
			// 	z-index: 99999;
			// }
		}
	
		.form-fees-tools {

			.last-child {
				border-bottom: 0;
				padding: 0;
				margin-top: 30px;
			}
		}
	}

	.redeem-miles, .upgrade-flight{
		&.haserror {
			height: 218px;
		}

		.miles-calculator-component {
			height: 150px;
			.mc-toggle{
				width: 49.3%;
				position: absolute;
			    top: 62px;
				z-index: 12;
				margin-top: auto;
			}
		}

		.miles-calculator-form{
			position: relative;
				
			.mc-calculate-btn{
				position: absolute;
				top: 118px;
				right: 0;
				width: 100%;
				margin-top: auto;
			}
			
			.col-expand{
				&:nth-child(3){
					position: absolute;
					right: -5px;
				    width: 50%;
				    top: 62px;

				    .miles-form-group{
						.mc-dropdown{
							float: right;
							width: 100%;

							.grid-inner{
								margin-left: 5px;
							}
						}
					}
				}
			}
		}
	}
}