.notification-dm{
	
	.main-heading-1 {
	    font-size: 33px;
	    line-height: 1.3;
	    color: #00266b;
	    margin-bottom: 22px;
	    margin-top: -9px;
	}

	.mobile-device {
		font-size: 18px;
   		font-weight: 700;
	}

	.main-info-1-1 {
		font-size: 16px;
		margin-top: 31px;
   		 margin-bottom: 37px;
	}
	.main-info-1-2 {
		margin-bottom: 37px;
		width: 100%;
    	font-size: 16px;
	}


	.QR-code {
		font-size: 18px;
    	font-weight: 700;
    	color: #000;
	}

	.flight {
	    width: 88%;
	    font-size: 14px;
	    color: #000;
	}

	.block-2.paid-block-sales {
	    margin-right: 356px;
	    border: 1.5px solid #bbbbbb;
	}


	.line{
		margin-left: 13px;
	    margin-top: -33px;
	    margin-bottom: -15px;
	}


	
	.updates{
		margin-top: 48px;
    	margin-left: 10px;
	}

	.form-group.form-group--tooltips {
		zoom: 1;
	    position: relative;
	    margin-bottom: 31px;
	    margin-top: 27px;
	}

	.icon-1{
		margin-left: 10px;
		margin-right: 25px;
		height: 28px;
    	width: 28px;
	}

	.icon-2{
		display: none;
	}

	.QR-code-1 {
    	display: none;
	}

	.icon-group {
		display: none;
	}

	/*.form-group .custom-radio {
		float: left;
    	margin-left: 40px;
	}*/

	.full-banner--img {
		background: url(../images/notification-dm-apps.png) no-repeat center center;
		background-size: cover;

		min-height: 290px;

		img {
			display: none;
		}
	}
}