.pass-through-page {
    .ribbon-wrapper-pass {
        margin-top: 50px;
        float: initial;
        .ico-5-sq {
            display: inline;
            color: rgb(186, 84, 0);
            vertical-align: top;
            font-size: 18px;
            margin-left: -6px;
            margin-right: -8px;
        }
        .app-title {
            color: rgb(186, 84, 0);
            display: inline-block;
            margin-top: 4px;
            vertical-align: middle;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 0.05em;
            font-weight: 700;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        }
    }
    .ribbon-wrapper-error {
        margin-top: 48px;
    }
    .info-box {
        margin-bottom: 10px;
        margin-top: 15px;
        padding: 16px 15px;
        .alert__message {
            font-weight: 700;
            color: #00266b;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        }
        .alert__icon {
            padding: 0px 15px 4px 5px;
        }
    }
    .error-alert {
        margin-bottom: 10px;
        margin-top: 15px;
        padding: 16px 15px;
        .alert__message {
            color: #000;
        }
        .alert__icon {
            padding: 0px 15px 4px 5px;
        }
    }
    .sub-text-4 {
        margin-top: 7px;
    }
    .sub-text-error {
        margin-top: -78px;
        position: static;
        margin-bottom: 60px;
    }
    .sub-heading-2--dark {
        margin-bottom: 20px;
    }
    .revert-error {
        margin-top: 20px;
    }
    .text-pass-through {
        margin-top: 0px;
        position: static;
    }
    .promotion-book-flight {
        margin-top: -76px;
    }
    .promotion-book-error {
        margin-top: -80px;
    }
    .flight-item {
        height: 276px;
        margin-top: 40px;
        .image-source {
            height: 100%;
        }
    }
    .flight-item-error {
        height: 273px;
        margin-top: 57px;
    }
    .disable-widget {
        pointer-events: none;
    }
    .btn-error {
        background-color: #a6a6a6;
    }
    .input-error {
        background-color: #e6e6e680;
    }
    .popup__heading-pass-through {
        margin-bottom: 0px;    
    }
    .btn-pass-through {
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .link-pass-through {
        font-size: 14px;
    }
    .ico-container-login {
        position: absolute;
        bottom: 16px;
        right: 16px;
        width: 30px;
        height: 30px;
        background: none;
        background-image: url(../images/combine-star-icon.png);
        background-position: 0 0;
        border: 0;
        z-index: 10;
        overflow: hidden;
        padding: 0;
    }
    .text-share-through {
        margin-top: 4px;
    }
}
@media screen and (max-width: 1023px) {
    .pass-through-page {
        .promotion-book-flight{
            margin-top: -25px;
        }
        .ribbon-wrapper-pass {
            margin-top: 0px;
        }
        .text-pass-through {
            margin-bottom: -20px;
        }
        .flight-item {
            height: 280px;
            margin-top: 7px;
            .image-source {
                height: 100%;
            }
        }
        .promotion-book-flight-error {
            margin-top: 0;
        }
        .flight-item-error {
            margin-top: 10px;
            height: 288px;
        }
        .sub-text-error {
            margin-top: -106px;
            position: static;
        }
        .ribbon-wrapper-error {
            margin-top: 2px;
        }
        .revert-error {
            margin-top: 0px;
        }
    }
}