.staggered-seat-page{
    &.business-seatmap-page{
        .tooltip{
            .tooltip__content{
                border-right: 1px solid #cccccc;
                border-left: 1px solid #cccccc;
                border-top: 1px solid #cccccc;
            }

            .tooltip__close {
                padding: 12px;
                font-size: 14px;
            }
            p{
                font-size: 14px;
                margin-bottom: 0;
            }
            &.tooltip--info{
                .tooltip__close{
                    padding: 8px;
                    font-size: 10px;
                }
            }
        }
        .seat-status{
            li{
                margin-top: 10px;
                margin-bottom: 16px;
            }
            li:nth-child(6){
                margin-top: 25px;
                margin-bottom: 10px;
            }
            .seat{
                width:30px;
                border: none;
                background-color: transparent;
            }
            .seat-selected{
                margin-top: 0px;
                background: url('../images/staggered-seat-legend-selected.png') no-repeat;
                &.seat{
                    &:hover{
                        background: url('../images/staggered-seat-legend-selected.png') no-repeat;
                        background-color: transparent;
                    }
                }
            }
            .seat-free{
                &.left-console{
                    background: url('../images/staggered-seat-legend-left.png') no-repeat;
                    &:hover{
                        background: url('../images/staggered-seat-legend-left.png') no-repeat;
                    }
                }
                &.right-console{
                    background: url('../images/staggered-seat-legend-right.png') no-repeat;
                    &:hover{
                        background: url('../images/staggered-seat-legend-right.png') no-repeat;
                    }
                }
            }
            .seat-occupied{
                margin-top: 0;
                background: url('../images/staggered-seat-legend-not-available.png') no-repeat;
            }
            .l-text{
                width:82%;
                line-height: 20px;
            }
            .ico-1-bassinet{
                width: 30px;
            }
        }
    }
    .seatmap--business .seat{
        margin-left: unset;
        margin-right: unset;
    }
    .seatmap-facility-lift.has-staggered{
        .seatmap-rownum{
            top:30px;
        }
    }
    .staggered-details{
        .ico-preferred{
            font-size: 42px;
            float: left;
            margin-top: 2px;

            &:before{
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    .seatmap-row-block.colgrp-nofacil{
        .seat{
            margin-left:0;
            margin-right:0;
        }
    }
    .seat.seat-occupied.seat-char-bassinet.seat-char-staggered{
        &:before{
            top: -95%;
        }
    }
    .seatmap-cabin-row.seatmap-row--empty.seatmap-facility-row.seat-inner-galley.has-space-forbass{
        margin-bottom: 20px;
    }
    div[data-seatchar*="L"][data-seattype*="Staggered seat"]{
        background-image: url('../images/staggered-left.png');
        &.seat-char-staggered{
            height: 50px;
            width: 65px;
            background-size: 95%;
            background-repeat: no-repeat;
            border: none;
            padding-left: 17px;
            padding-top: 3px;
            background-color: transparent;
        }
        &.seat-free{
            background-color: transparent;
        }
        &.seat-selected{
            background-image: url('../images/staggered-left-selected.png');
            background-color: transparent;
            &:hover{
                background-color: transparent;
                color: #00266b;
            }
        }
        &.seat-occupied{
            background-image: url('../images/staggered-left-occupied.png');
        }
    }
    div[data-seatchar*="R"][data-seattype*="Staggered seat"]{
        background-image: url('../images/staggered-right.png');
        &.seat-char-staggered{
            height: 50px;
            width: 65px;
            background-size: 95%;
            background-repeat: no-repeat;
            border: none;
            padding-right: 28px;
            padding-top: 3px;
            background-color: transparent;
        }
        &.seat-free{
            background-color: transparent;
        }
        &.seat-selected{
            background-image: url('../images/staggered-right-selected.png');
            background-color: transparent;
            &:hover{
                background-color: transparent;
                color: #00266b;
            }
        }
        &.seat-occupied{
            background-image: url('../images/staggered-right-occupied.png');
        }
    }
}

@media screen and (max-width: 1023px){
    .staggered-seat-page{
        &.business-seatmap-page{
            .seat-status{
                li:nth-child(6){
                    margin-top: 10px;
                }
                li:last-child{
                    margin-top: 2px;
                }
            }
            .tooltip{
                p{
                    margin-bottom: 10px;
                }
                .staggered_tooltip_msg{
                    font-size: 14px;
                    color: #000;
                    margin-top: 0;
                }
            }
        }
    }
}

.focus-outline.seat:focus {
    outline: 0;
    position: relative;

    &:after {
        content: '';
        display: block;
        width: 126%;
        height: 126%;
        outline:  #0254EC solid 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}