.seatmap-double-bed{
    .business-seatmap-page .seat-free{
        background-color: transparent;
    }
    .seat{
        transition-property: background-color, border-color, color;
        transition-duration: 0.4s;
        transition-timing-function: ease;

        font-weight: 600;
        line-height: 1.8em;

        &:hover {
            background-color: #0254ec;
            color: #ffffff;
        }
        &.seat-preselected:hover {
            background-color: #0254ec;
            color: #ffffff;
        }

        &.seat-occupied {
            background-color: #cccccc;
            &:hover {
                background-color: #cccccc;
            }
        }

        &.seat-preselected.seat-free {
            font-weight: 400;
            font-size: 0;
        }

        &.seat-selected{
            background-color: #fff;
            border: 3px solid #2e76fc;
            color: #00266b;
    
            span{
                color: #00266b;
            }

            &:hover {
                background-color: #0254ec;
                color: #fff;
            }
        }
    }
    .blk-heading .btn-2 {
        margin-left: 30px;
        margin-top: 0;
        float: right;
    }
    .tooltip.tooltip--info{
        .tooltip__close {
            padding: 8px;
            font-size: 8px;
        }
    }
    .cabin-highlights{
        img{
            width: 300px;
        }

        .tile-heading{
            font-size: 16px;
            color: #00266b;
            font-weight: 600;
            margin: 0;
        }
        .tile-text{
            top: 20%;
            color: black;
            line-height: 19px;
        }

        .text-block{
            width: 48%;
            background-color: transparent;
            border: none;
            float: right;
            padding: 0;
            height: auto;
            margin-top: 0;
        }

        hr {
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
    .blk-heading{
        .dot {
            height: 4px;
            width: 4px;
            background-color: #403f3f;
            border-radius: 50%;
            position: relative;
            display: inline-block;
            margin: 2px 5px;
        }
    }
    .tooltip.tooltip-2.tooltip--seat-1.double-bed-seat{
        .ico-preferred{
            &::before{
                content: "";
            }
            background-image: url('../images/svg/doublebed-icon.svg');
            background-size: 30px 35px;
            background-repeat: no-repeat;
            background-position: 50%;
            margin-top: -4px;
            color: transparent;
        }
    }
    .tooltip--seat-1 .form-group{
        width: auto;
    }
    .tooltip .tooltip__content{
        padding: 20px;
    }
    .tooltip__text-2{
        position: relative;
        .double-bed-details{
            height: 52px;
        }
        .seat{
            border: none;
        }
        .seat-free-w-divider.double-bed{
            width: 34px;
            height: 38px;
            margin-left: 0px;
            margin-top: 4px;
            background-size: 30px 36px;
            float: left;
        }
        .seat-class{
            font-size: 14px;
        }
        .seat-number{
            display: block;
            font-size: 26px;
            font-weight: 600;
            color: #333333;
            margin-top: 5px;
        }
        .main-description{
            font-size: 14px;
            font-weight: 700;
            margin: 0;

            & ~ p{
                font-size: 12px;
                margin: 2px 0 0 0;
            }
        }
    }
    
    &.business-seatmap-page{
        .seat-status{
            .seat.seat-free{
                &:hover{
                    background-color: #00266b;
                }
            }
            .seat.seat-selected{
                &:hover{
                    background-color: #fff;
                }
            }
        }
        .seat-free-w-divider{
            background-color: #41709e;
        }

        div[data-seatchar*="P"]{
            font-size: 0;
            &.seat-free{
                background-color: #477aaf;
                &:hover{
                    background-color: #0254ec;
                    background-image: url('../images/svg/double-bed-white.svg');
                }
            }
            &.seat-selected{
                background-color: #fff;
                &:hover{
                    border-color: transparent;
                    background-color: #0254ec;
                    background-image: url('../images/svg/double-bed-white.svg');
                }
            }
        }

        .seat.seat-selected{
            background-color: #fff;
            &:hover{
                background-color: #0254ec;
                color: #fff;
            }
        }
        .seat.seat-preselected.seat-free {
            color: #053a76;
            font-size: 0;
        }
    }
    &.first-seatmap-page{
        .seat.seat-preselected.seat-free {
            color: #b08f62;
        }
        .seat-status{
            .seat.seat-free{
                &:hover{
                    background-color: #b08f62;
                }
            }
            .seat.seat-selected{
                &:hover{
                    background-color: #fff;
                }
            }
        }
        .seat-free-w-divider ~ span{
            width: 62%;
        }
        .seat-free {
            background-color: #b08f62;
            border: 3px solid transparent;
        }
        .seat-status li .ico-1-info-round-fill {
            margin-left: 5px;
            margin-top: -3px;
        }

        .seat-status{
            .seat.seat-free{
                &:hover{
                    background-color: #b08f62;
                }
            }
        }
        div[data-seatchar*="P"]{
            font-size: 0;
            &.seat-selected{
                background-color: #fff;
                &:hover{
                    border-color: transparent;
                    background-color: #0254ec;
                    background-image: url('../images/svg/double-bed-white.svg');
                }
            }
            &.seat-free{
                background-color: #b08f62;
                &:hover{
                    background-color: #0254ec;
                    background-image: url('../images/svg/double-bed-white.svg');
                }
            }
        }
    }

    .seat-occupied{
        background-color: #cccccc;
        border: none;
    }
    .passenger-info__seat {
        background-color: #ffffff;
        color: #00266b;
        border: 3px solid #2e76fc;
    }
    .booking-nav__item.active .passenger-info span {
        color: #00266b;
        font-size: 14px;
        font-weight: 600;
    }

    .booking-nav__item .ico-point-r{
        color: #2e76fc;
    } 

    .seat-status{
        .seat-free-w-divider, .seat-free {
            border: 3px solid transparent;
        }

        .legend{
            color: #000;
            font-size:12px;
        }
        
        .l-text{
            color: #000;
        }

        .seat, em{
            margin-left: 0;
            margin-right: 5px;
        }
    }
    .seat-free-w-divider ~ span{
        width: 57%;
        line-height: 20px;
    }

    div[data-seatchar*="P"]{
        background-image: url('../images/svg/doublebed-icon.svg');
        background-size: 20px 28px;
        background-repeat: no-repeat;
        background-position: 50% 36%;
        color: transparent;

        &.seat-selected {
            color: transparent;
        }
       
        span{
            display: none;
        }
    }

    .seat-free-w-divider.double-bed{
        width:20px;
        height:22px;
        vertical-align: middle;
        background-image: url('../images/svg/doublebed-icon.svg');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: 50%;
    }
    .seat-status .ico-1-bassinet{
        line-height: 22px;
        margin-top: -4px;
    }

    .seat-status .ico-1-info-round-fill{
        margin-left: 2px;
        margin-right: 0;
    }
    .view-cabin{
        .ico-point-r{
            font-size: 6px;
            color: #0254ec;
            margin-right: 0;
        }
    }
    .seat-free{
        border: 3px solid transparent;
        &:hover{
            background-color: #0254ec;
        }
    }
}

@media screen and (max-width: 1023px){
    .seatmap-double-bed{
        .blk-heading .btn-2 {
            float: left;
            margin-top: 23px;
        }
        &.first-seatmap-page{
            .seat-free:hover{
                background-color: #b08f62;
            }
            .seat-free-w-divider ~ span{
                width: 80%;
            }
        }
        &.business-seatmap-page{
            .seat-free:hover{
                background-color: #00266b;
            }
            .seat-free-w-divider ~ span{
                width: 85%;
            }
        }

        .seat-status{
            .legend{
                display: block;
                text-align: left;
            }
        }
    }
}