.seatsmap-sk-page-d2 {
    .label-fwz {
        text-transform: uppercase;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 0.01em;
        color: #000;

        position: absolute;
        top: auto;

        &.left {
            transform: rotate(-90deg);
            left: -90px;
        }
        &.right {
            transform: rotate(90deg);
            right: -90px;
        }
    }
    .green-background {
        &:before {
            left: -60px;
            right: -60px;
            background-color: #cde5d7;
        }

        &.last-green-bg {
            &:before {
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }

        &.first-green-bg {
            &:before {
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }
        }

    }

    .forward-zone, .standard-seat {
        background-color: #1c5d49;
        color: #1c5d49;
    }

    .seatmap-cabin-wrapper {
        position: relative;
    }

    .seat-char-preferred, .preferred-seat {
        background-color: #e47305;
    }

    .seat-status {
        .seat, .icon-annotation {
            display: inline-block;
            vertical-align: middle;
            color: #333;

            font-weight: 400;
            line-height: 1.2em;
        }

        .seat {
            margin-right: 16px;
        }

        .ico-1-bassinet {
            margin-right: 14px;
        }

        .icon-amount {
            display: block;
            line-height: 1.2em;
        }

        .forward-zone-bg {
            background-color: #cde5d7;
            width: 32px;
            height: 32px;
            margin-right: 10px;
            padding: 0px 0px 1px 1px;
        }
    }

    .seat-selected {
        background-color: white;
    }
}

@media screen and (max-width: 1023px) {
    .seatsmap-sk-page-d2 .seat-status .forward-zone-bg {
        padding: 1px 0px 0px 1px;
    }
}
