.home-announcement-prompt{

	.popup-pos-dw-rt {
		margin-top: 7px;
		position: fixed;
	 right: 15px;
	 bottom: 20px;
	 z-index: 13;
	 height: auto;
	}

	.heading {
		font-size: 21px;
		color: #fff;
	}

	.description {
		color: #fff;
		font-size: 14px;
		line-height: 20px;
	}

	.border-lt-orange {
		border-left-color: orange;
		border-left-width: 6px;
		border-left-style: solid;
	}

	.popup--announcement-cookies {
		@extend .popup-pos-dw-rt;
		padding-left: 0;
		width: 303px;
		height: 279px;

		.popup--announcement .popup-header {
			margin-top: 8px;
		}

		.popup-header {
			@extend .heading;
			padding-right: 25px;
		}

		.popup-divider {
			margin: 15px;
			border-style: solid;
			border-color: #999999;
			border-width: 1px;	
		}

		.popup--cookies {
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 28px;
	  width: unset;
		}

		.popup-wrapper {
			padding-left: 22px;
		}

		.popup-desc {
			@extend .description
		}

		.popup-desc a {
			color: #c1a474;
		}

		.popup__close {
			background-color: transparent;
		}
	}

	.popup--announcement-solo {
		@extend .popup-pos-dw-rt;
		padding-left: 21px;
		padding-bottom: 20px;
		width: 293px;
	 height: 140px;

		.popup-header {
			@extend .heading;
			margin-top: 8px;
		}

		.popup-desc {
			@extend .description
		}

		.popup-desc a {
			color: #c1a474;
		}

		.popup__close {
			background-color: transparent;
		}
	}

	.sk-announce {
		height: auto !important;
		margin-left: 20px !important;
		margin-bottom: 24px;
	 margin-top: 0;

		.sk-announce-heading {
			font-size: 19px;
			color: #00226b;
		}

		.width-7 {
		    width: 82%;
		    margin-right: 7px;
		}

		.width-2 {
		    width: 15.6%;
		}

		.width-2 .button-group-1 {
			float: left;
		}

		.width-2 input {
			margin-left: 0;
			padding: 14px 31px;
		}

		.radio-tooltips__text {
			line-height: 24px;	
		}
	}

}
