.kf-flows{
    .kf-create-password{
        img.pin-eye-icon {
            top: 11px;
            right: 12px !important;
        }
    }
    .kf-reset-password--heading{
        font-size: 33px;
        color: #09236e;
        padding-bottom: 24px;
        font-family: 'sigvar', serif;
        font-weight: 300;
        letter-spacing: 0.02em;
        
    }
    .kf-reset-password.gigya-style-modern {
        .gigya-screen .gigya-composite-control.gigya-composite-control-label.main-text{
            font-size: 16px;
            padding-bottom: 32px;
            color: #010101;
            line-height: 1em;
        }
        .gigya-screen.portrait{
            width: 75% !important;
            margin: 0px !important;
        }
        .gigya-composite-control.gigya-composite-control-link{
            display: block;
            font-size: 14px;
        }
        .gigya-composite-control.gigya-composite-control-submit.submit-wrapper{
            padding-top: 30px;
            right: 0;
            width: 111px;
            .gigya-input-submit{
                border-radius: 2px;
            }
        } 
        .gigya-screen .gigya-composite-control.gigya-composite-control-textbox .gigya-label{
            line-height: 0.8em;
            padding-bottom: 10px;
        }
        .warning-message-block{

            .ico-info-round-fill{
                padding-left: 20px;
                font-size: 30px;
                color: #00266b;
                line-height: 0.8px;
                
                &:before{
                    margin: 0;
                    top: -2px;
                    margin-right: 18px
                }
            }
            padding-top: 10px;
            padding-bottom: 11px;

            background-color: #e5eaf0;
            font-size: 10px;
            color: #021d6e;
            margin-bottom: 21px;
        }
        .gigya-screen .gigya-label-text{
            font-size: 15px;
            color: #333333;
        }
        .gigya-composite-control.gigya-composite-control-label{
            font-size: 14px;
            color: #001f6d;
        }
        .gigya-composite-control.gigya-composite-control-textbox.email-wrapper{
            padding-bottom: 17px;
            .gigya-input-text{
                margin-bottom: 13px;
            }
        }
        .gigya-screen .gigya-composite-control.gigya-composite-control-textbox input{
            margin-bottom: 5px;
        }
        
    }
    .kf-create-password.gigya-style-modern{
        label.gigya-composite-control.gigya-composite-control-label.main-text.gigya-message.letter-spacing-s.sub-heading-1--blue{
            font-size: 33px;
            color: #09236e;
            padding-bottom: 24px;
            font-family: 'sigvar', serif;
            font-weight: 300;
            letter-spacing: 0.02em;
        
        }
        input.gigya-input-submit{
			border-radius: 2px;
        }
        .gigya-screen.portrait{
            width: 75% !important;
            margin: 0px !important;
            position: relative;
        }
        .gigya-spacer{
            padding: 0px;
            height: 0;
        }
        .gigya-composite-control.gigya-composite-control-password{
            float: left;
            display: inline-block;
            width: 50%
        }
        .gigya-composite-control-password.user-pin.confirmpass{
            width: calc(50% - 20px);
            padding-left: 20px;
        }
        .gigya-label{
            padding-bottom: 7px;
            .gigya-label-text,.gigya-required-display.gigya-reset{
                line-height: 1em;
            }
        }
        .gigya-composite-control.gigya-composite-control-submit{
            right: 0;
            display: block;
            width: 111px;
        }
        label.gigya-composite-control.gigya-composite-control-label.pin-eye-description{
            font-size: 14px;
            padding-bottom: 13px;
            line-height: 1.4em;
            font-family: "proxima-nova", sans-serif;
        }
        .gigya-input-password{
            margin-bottom: 5px;
        }
    }
    .kf-change-password-confirm{
        .gigya-screen.portrait{
            width: 75% !important;
            margin: 0px !important;
            position: relative;
        }
        input.gigya-input-submit{
            background-color: #00266b;
            font-size: 12px;
            line-height: 1em;
            width: 100%;
			border-radius: 2px;
        }
        a.gigya-composite-control.gigya-composite-control-link.resetpin-success-login-button{
            width: 111px;
            right: 195px;
        }
        .gigya-layout-cell{
            width: 100%;
        }
        label.gigya-composite-control.gigya-composite-control-label.main-text.gigya-message.letter-spacing-s.sub-heading-1--blue{
            font-size: 33px;
            color: #09236e;
            padding-bottom: 24px;
            font-family: 'sigvar', serif;
            font-weight: 300;
            letter-spacing: 0.02em;
        }
        label.gigya-composite-control.gigya-composite-control-label{
            font-size: 16px;
            color: #010101;
            padding-bottom: 27px;
        }
    }
    .kf-update-password-success{
        max-width: 1020px;
        margin: 0 auto;
        overflow: hidden;
        padding-top: 30px;
        .update-password-group{
            display: grid;
            grid-template-columns: 5% 95%;
            grid-template-rows: 1fr;
            grid-template-areas: "icon-info password-update";
            padding: 20px;
            background-color: #e5eaef;
        }

        .ico-info-round-fill{
            grid-area: icon-info;
            padding-left: 8px;
            font-size: 30px;
            color: #00266b;
            &:before{
                margin: 0;
                padding-bottom: 5px;
            }
        }
        .ico-point-r{
            font-size: 7px;
            margin-top: -3px;
            &:before{
                margin: 0;
            }
        }
        .update-password-details{
            grid-area: password-details;

            line-height: 1em;
            padding: 0;
            margin: 0;
        }   
        .update-password-close{
            grid-area: closed-back;

            line-height: 1em;
            padding: 0;
            margin: 0;
        }
        .update-password-detals--wrapper{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "password-details" "closed-back";
            grid-row-gap: 10px;
            grid-area: password-update;
        }
    }
    .popup-update-password{
        span.gigya-error-msg.gigya-error-code-400009.gigya-error-msg-active{
            text-align: inherit;

        }
        .gigya-input-password{
            border-radius: 2px !important;
        }
        div#gigya-password-change-required-screen{
            padding-top: 0px;
            margin-top: 37px;
        }
        label.gigya-label-text.gigya-composite-control.gigya-composite-control-label.main-text{
            font-size: 22px;
            font-family: 'sigvar', serif;
            color: #00236d;
            line-height: 1em;
            padding-bottom: 14px;
            padding-top: 30px;
            font-weight: 300;
            letter-spacing: 0.02em;
        }

        .gigya-layout-row:first-child{
            position: relative;
        }
        .update-pin-prompt{
            background-color: #e5e9f0;
            color: #001f6d;
            font-size: 14px;
            line-height: 1.4em;
            padding: 20px; 
            .ico-info-round-fill{
                color: #00266b;
                float: left;
                font-size: 32px;
                margin-top: 5px;
            }
            p{
                margin-left: 52px;
                font-size: 14px;
                color: #00266b;
            }
        }
        .popup__inner{
            max-width: 427px;
        }
        .popup__content{
            padding-top: 70px;
            padding: 0px;
            margin: 0px;
        }
        .gigya-screen.portrait{
            width: 100%;
            padding: 40px;
            padding-top: 72px;
        }
        .kf-update-password {
            .gigya-composite-control.gigya-composite-control-password {
                position: relative;
                .pin-eye-icon {
                    position: absolute;
                    right: 12px;
                    width: auto;
                    height: 15px;
                    opacity: 0.6;
                }
            }

            .gigya-composite-control.gigya-composite-control-password.user-pin.confirmpass{
                position: relative;
                .pin-eye-icon {
                    top: 48px;
                }
            }
            
            .gigya-screen-caption{
                background-color:black;
                display: none;
            }
        }
        .gigya-composite-control.gigya-composite-control-submit{
            right: 0;
            width: 100%;
            padding-bottom: 4px;
            padding-top: 9px;
            input.gigya-input-submit{
                text-transform: uppercase;
                font-size: 12px;
                background-color: #00266b;
                font-weight: 700;
            }
        }
        label.gigya-composite-control.gigya-composite-control-label.pin-eye-description{
            font-style: italic;
            font-size: 14px;
            line-height: 1.4em;
            font-family: "proxima-nova", sans-serif;
            color: #666666;

        }
        .gigya-screen .gigya-composite-control.gigya-composite-control-password{
            padding-bottom: 7px;
            .gigya-label-text{
                color: #333333;
                font-size: 15px;
            }
         
        }
        .gigya-composite-control.gigya-composite-control-password.user-pin.confirmpass{
            width: 100% !important;
            padding-bottom: 7px;
            .gigya-label-text{
                padding-top: 10px;
                color: #333333;
                font-size: 15px;
            }
         
        }
        .gigya-screen .gigya-required-display{
            color: #333333;
            padding: 0;
        }
    }
    .kf-update-phone-pin{
        img.pin-eye-icon{
            top: 10px;
            right: 12px;
        }
        button.btn.btn-1{
            top: 20px;
        }
        .form-group.confirm-pass-input{
            display: block;
            margin-left: 0;
        }
        .terms-and-conditions-prompt{
            position: relative;
            width: 65%;
            label{
                font-size: 14px;
                color: black;
                line-height: 1.1em;
                // &:before{
				// 	top: 0px;
                // }
                // &:after{
                //     content: '\e610';
                //     font-family: 'sia';
                //     font-weight: bold;
                //     color: #ef9a1a;
                //     position: absolute;
                //     top: -1px;
                //     left: 2px;
                //     display: none;
                //     font-size: 14px;
                // }
            }
        }
        .reminder-password{
            p{
                margin-bottom: 30px;
                font-style: italic;
                font-size: 12px;
                color: #666666;
            }
        }
        .submit-btn{
            margin-top: 0;
        }
        .payment-currency{
            padding: 20px;
        }
        
    }
    .kf-act-update-password{
        .gigya-composite-control.gigya-composite-control-checkbox.pwd-checkbox{
            label.gigya-label{
                width: 90% !important;

                span{       
                    line-height: 1.1em;
                }
            }
        }
        .gigya-composite-control.gigya-composite-control-password.new-pwd-field{
            position: relative;
            width: 100%;
            margin-left: 0;
        
        }
        .gigya-composite-control.gigya-composite-control-password.confirm-pws{
            position: relative;
            width: 100%;
        }
        form#gigya-profile-form{
            //extra layout row
            :nth-child(10).gigya-layout-row{
                display: none;
            }
        }
        label.gigya-required-display.gigya-reset{
            margin: -1px;
        }
        img.pin-eye-icon {
            right: 15px;
        }
        .screenset-container.update-password{
            padding-top: 0px;
        }

        .gigya-layout-ro.ui-sortablew {
            margin-bottom: 20px;
        }
        .gigya-composite-control.gigya-composite-control-password.current-pwd-field {
            width: 31%;
            margin: 0;

            span.gigya-label-text{
                color: #666;
            }
        }
        label.gigya-composite-control.gigya-composite-control-label.password-desc {
            width: 62%;
            font-style: italic;
            font-size: 12px;
            margin-bottom: 20px;
            color: #666666;
            margin-top: 10px;
        }
        .gigya-composite-control.gigya-composite-control-checkbox{
            margin: 0;
            width: 60%;
            padding: 20px;
            background-color: #e5e9f0;
            font-size:14px;

            a{
                font-size: 14px;
                color: #0254ec;
            }
        }
        .gigya-composite-control.gigya-composite-control-submit.save-button{
            padding: 0;
            position: absolute;
            bottom: 0px;
            margin: 0;
            height: unset;
            width: unset;
            right: 0;

            input.gigya-input-submit{
                padding: 13px 32px;
                margin: 0;
                width: unset;
                height: unset;
                background-color: #00266b !important;
                font-size: 12px;
                letter-spacing: 0.1em;
                font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                text-transform: uppercase;
                color: #ffffff;
                font-weight: 700;
                border: 0;

                &.disabled{
                    background-color: #999 !important;
                    color: #dddddd !important;
                }
            }
        }
        label.gigya-composite-control.gigya-composite-control-label.cancel-button{
            position: absolute;
            right: 108px;
            padding: 10px 22px;
            /* top: 0; */
            bottom: 0px;
            background-color: #6c7577;
            /* color: #ffffff; */
            border-radius: 2px;

            b{
                font-size: 12px;
                letter-spacing: 0.1em;
                font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                text-transform: uppercase;
                color: #ffffff;
            }
        }
    }
    .create-pwd-block{
        img.pin-eye-icon{
            right: 12px;
        }
    }
}   