.where-we-fly{
    .map{
        margin-bottom: 20px;
        position: relative;
        border: 1px solid#dadada;
        .map-display{
            width:100%;
        } 

        .btn-back{
            position: absolute;
            top: -2px;
            font-weight: 600;
            padding: 10px 12px;
            background-color: white;
        }

        .top-text{
            position: absolute;
            text-align: center;
            width: 100%;
            color: #00266b;
            font-weight: 700;
            top: 4px;
            left: 10px;
        }

        .pacific-wrapper{
            position: absolute;
            width: 185px;
            height: 116px;
            right: 50px;
            bottom: 40px;
        }

        .sea-wrapper{
            position: absolute;
            width: 185px;
            height: 115px;
            right: 98px;
            bottom: 154px;
        }

        .northasia-wrapper{
            position: absolute;
            width: 185px;
            height: 115px;
            top: 155px;
            right: 143px;
            z-index: 1;
        }

        .europe-wrapper{
            position: absolute;
            width: 531px;
            height: 187px;
            top: 28px;
            right: 24px;
            transform: rotate(-2deg);
        }

        .westasia-wrapper{
            position: absolute;
            width: 296px;
            height: 224px;
            top: 224px;
            right: 274px;
        }

        .america-wrapper{
            position: absolute;
            width: 158px;
            height: 80px;
            top: 182px;
            left: 130px;
        }
        .hover-span{
            position: absolute;
            color: #122451;
            font-weight: 700;
        }
        .southeast-asia{
            color: #00266b;
            top: 60px;
            // right: -34px;
            right: -13px;
            font-size: 12px;
        }
        .southwest-pacific{
            color: #00266b;
            top: 85px;
            left: -60px;
            font-size: 12px;
        }
        .north-asia{
            color: #00266b;
            top: 94px;
            right: -24px;
            letter-spacing: 1px;
            font-size: 12px;
        }
        .europe{
            top: 85px;
            left: -8px;
            color: #00266b;
            transform: rotate(2deg);
            font-size: 12px;
        }
        .america{
            top: 43px;
            // top: 23px;
            // right: -51px;
            color: #00266b;
            right: -39px;
            // transform: rotate(-12deg);
            font-size: 12px;
        }
        .africa{
            color: #00266b;
            top: 109px;
            right: 9px;
            font-size: 12px;
        }
    }

    .scoot-legend{
        background-color: #ffdd30;
    }

    .silkair-legend{
        background-color:#037673;
    }

    .sq-legend{
        background-color: #05216b;
    }

    .codeshare-legend{
        background-color: #c27e33
    }
    

    .custom-tooltip{
        position: absolute;
        bottom: 0;
        left: 20px;
        .legend-img{
            width: 12px;
            margin-right: 3px;
        }

        .content{
            background-color: white;
            padding: 20px;
        }

        &.active{
            em.ico-dropdown{
                margin-top: 0;
                transform: rotate(180deg);
                transition-duration: 0.2s;
            }
        }

        .tooltip-header{
            background-color: white;
            padding: 10px;
            width: 140px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            cursor: pointer;
            box-shadow: 2px -1px 5px -3px;

            p{
                margin: 0;
                color: #0254ec;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 1px;
            }

            .ico-dropdown{
                margin-top: -5px;
                transform: rotate(0deg);
                transition-duration: 0.1s;
            }
        }

        .list-of-legend{
            li{
                list-style-type: none;
                margin-bottom: 5px;
            }

            .label{
                margin-left: 10px;
                color: #00226b;
                font-weight: 600;
            }
            .legend-circle{
                display: inline-block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                margin-right: 3px;
            }
        }
    }
    .block-2.accordion{
        cursor: pointer;
    }
    .main-heading{
        font-size: 33px;
    }
    .tooltip .tooltip__content {
        background-color: #fff;
        padding: 20px;
        width: 142px;
    }
    .tooltip__close {
        font-family: "sia";
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 1;
        z-index: 10;
        padding: 8px;
        font-size: 9px;
        color: #000;
        font-weight: 500;
        -webkit-transform: translate3d(0, 0, 0);
    }
    .task-main-container{
        .main-text{
            color: black;
            font-size: 16px;
        }

        .legend-list{
            float: right;
            margin-top: -20px;
            li{
                list-style-type: none;
                display: inline;
                padding-left: 30px;
                font-size: 13px;
                position: relative; 

                span{
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin-right: 3px;
                }
            }
        }

        .view-by-list{
            margin-top: 40px;
            .main-heading{
                font-size: 22px;
            }
        }
        .accordion-list{
            ul{
                float: left;
                width: 25%;
                margin: 0 0 20px;
    
                li{
                    list-style-type: none;
                    margin-bottom: 8px;

                    a{
                        margin-right: 5px;
                    }
                }
    
                span{
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin-right: 3px;
                }
            }
        }

    }
    .accordion-component {
        margin-top: 24px;

        .sub-heading-3--dark{
            color: #00226b;
        }

        em{
            color: #0254ec;
            top: 42%;
        }
    }

    .accordion__control {
        padding: 15px 27px 15px 0;
    }
}

@media screen and (max-width: 1023px){
    .pacific-wrapper{
        position: absolute;
        width: 126px;
        height: 82px;
        right: 44px;
        bottom: 32px
    }

    .sea-wrapper{
        position: absolute;
        width: 128px;
        height: 84px;
        right: 77px;
        bottom: 113px;
    }

    .northasia-wrapper{
        position: absolute;
        width: 140px;
        height: 66px;
        top: 124px;
        right: 98px;
        z-index: 1;
    }

    .europe-wrapper{
        position: absolute;
        width: 414px;
        height: 145px;
        top: 8px;
        right: 21px;
        border-top-left-radius: 100%;
        border-bottom-left-radius: 50%;
        -webkit-transform: rotate(-2deg);
        transform: rotate(-9deg);
    }

    .westasia-wrapper{
        position: absolute;
        width: 215px;
        height: 163px;
        top: 164px;
        right: 206px;
    }

    .america-wrapper{
        position: absolute;
        width: 130px;
        height: 51px;
        border-top-left-radius: 43%;
        top: 134px;
        left: 96px;
        transform: rotate(12deg);
    }
}