<div class="intro-beta beta-bottom">
  <div class="beta-bottom__inner">
    <p>Introducing new enhancements on our beta website! Try now?</p><a href="#" class="btn-1 type-beta">Yes</a>
  </div>
</div>
