<div class="betabar-block beta-bottom sticky">
  <div class="beta-bottom__outer">
    <div class="beta-bottom__inner"><a href="#" class="mini-beta-link"><em class="arrow-right"></em>BETA.Singaporeair.com</a>
      <ul class="button-groups">
        <li><a href="#" class="btn-2 type-beta">Feedback</a>
        </li>
        <li><a href="#" class="btn-1 what-new-btn type-beta">What’s new</a>
        </li>
      </ul>
    </div>
  </div>
</div>
