.bsp-bubble {
	position: absolute;
	z-index: 999;
	top: 285px;

	&.sticky {
		position: fixed;
		top: 110px;
	}

	.tooltip-bsp {
		position: fixed;
		right: 248px;
		right: 16%;
		margin-top: 11px;
		opacity: 0;

		@include prefix(transition, opacity 0.7s ease-in-out, webkit moz ms o);

		&.fade-in {
			opacity:1;
		}
	}

	.tooltip-3 {
	    color: #fff;
	    height: auto;
	    width: auto;
	    clear: both;
			display: inline-block;
			background-color: #00266b !important;
	    @include prefix(border-radius, 6px, webkit moz ms o);
	    padding: 5px 10px !important;
	    z-index: 999;

	    .unit-small {
	    	font-size: 18px;
	    }

	    .tooltip__arrow {
				position: absolute;
		    top: 100%;
		    left: 50%;
		    margin: -8px 0 0 -9px;
		    font-family: "sia";
		    font-size: 18px;
		    line-height: 1;
		    color: #00266b;

		    &.type-top {
		    	margin: 0 0 0 -8px;
		    	top: -11px;
		    }

		    &:before {
					display: inline-block;
			    position: relative;
			    z-index: -1;
			    content: "\e61c";
			    font-style: normal;
			    font-weight: normal;
			    speak: none;
			    text-shadow: 2px 2px 6px rgba(99, 99, 99, 0.2);

			    -webkit-transform: rotate(180deg);
			    transform: rotate(180deg);
			    text-shadow: -2px 2px 8px rgba(99, 99, 99, 0.275);
			}
		}
	}
}

.bsp-w-bbl {
	.bsp-booking-summary {
		border-bottom: 0;
	}

	.bsp-booking-summary__content {
		border-bottom: 2px solid #d4d4d4;
	}

	.bsp-booking-summary__content .bsp-booking-summary__content-detail {
		display: block;
	}

	.bsp-booking-summary__content-control.expanded-bsp {
		.station-stop:before {
			background-color: #cacdd4;
		}
	}

	.bsp-booking-summary__content-control {
		.station-stop:before {
			background-color: transparent;
		}
	}
}

@media screen and (max-width: 987px) and (min-width: 768px) {
	.bsp-w-bbl {
		.bsp-flights__info--group:first-child {
			.flight-station-info .station-stop-detail em {
				left: 10px;
			}
		}

		.bsp-flights__info--group .flights-station__info--detail .hour {
			font-size: 18px;
		}

		.bsp-booking-summary--group.return .bsp-flights__info--group .station-stop-detail,
		.bsp-booking-summary--group.multi-city .bsp-flights__info--group .station-stop-detail {
			width: 40px;
			margin-left: -23px;


		}

		.bsp-booking-summary__content-control.expanded-bsp {
			.station-stop {
				&:before {
					width: 40px;
					left: -20px;
				}
			}

			.bsp-flights__info--group:last-child {
				.station-stop {
					&:before {
						width: 32px;
						right: auto;
						left: -18px;
					}
				}
			}
		}

		.bsp-booking-summary--group.return .bsp-flights__info--group .station-stop-detail,
		.bsp-booking-summary--group.multi-city .bsp-flights__info--group .station-stop-detail {

			.ico-airplane-2 {
				left: 3px;
			}

			.time {
				margin-left: 0;
			}
		}

		.bsp-flights__info--group:first-child {
				.flight-station-info {
						.station-stop-detail {
								em {
										left: 0;
								}
						}

						.station-stop {
								.time {
										margin-left: 0;
								}
						}
				}
		}

		.bsp-flights__info--group:last-child {
				.flight-station-info {
						.station-stop-detail {
								em {
										left: 15px;
								}
						}

						.station-stop {
								.time {
										margin-left: 0;
								}
						}
				}
		}
	}

	.ios {
			&.bsp-w-bbl {
					.bsp-flights__info--group:first-child {
							.flight-station-info {
									.station-stop-detail {
									}

									.station-stop {
											.time {
													margin-left: 10px;
											}
									}
							}
					}

					.bsp-flights__info--group:last-child {
							.flight-station-info {
									.station-stop-detail {
									}

									.station-stop {
											.time {
													margin-left: 12px;
											}
									}
							}
					}
			}
	}
}
