@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .overlay-change-management {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    z-index: 1000;
    color: white;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;

    .close-btn {
      img {
        width: 25px;
      }
    }

    .btn-1 {
      span {
        font-size: 12px;
        padding: 0 5px 0 8px;

        em {
          font-size: 9px;
          margin-left: 5px;
        }
      }
    }

    p {
      font-weight: 200;
      font-size: 18px;

      span {
        font-weight: 700;
      }
    }

    .slick-dots {
      &.hide {
        opacity: 0 !important;
      }

      li {
        margin: 0 2px;

        button {
          width: 8px;
          height: 8px;
        }
      }
    }

    .slick-dots-0 {
      width: 10%;
      position: absolute;
      left: 50%;
      top: 450px;
      -webkit-transform: translateX(-189%);
      transform: translateX(-189%);
    }

    .slick-dots-1 {
      position: relative;
      bottom: 150px;
      left: 69px;
      width: 100px;
      cursor: pointer;
    }

    .slick-dots-2 {
      position: relative;
      bottom: 165px;
      left: 73px;
      width: 100px;
      cursor: pointer;
    }

    .slick-dots-3 {
      position: relative;
      width: 100px;
      left: 42px;
      bottom: 295px;
      cursor: pointer;
    }

    .slick-dots-4 {
      position: relative;
      width: 100px;
      left: 80px;
      top: -69px;
      cursor: pointer;
    }

    .slick-next {
      display: none !important;
    }

    .cm-wrapper {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 1060px;
      height: 1024px;
      text-align: center;
      margin-top: 30px;
    }
  }

  .sk-change-management-slider {
    height: 100%;

    .first-slide {
      min-width: 768px;
      margin-top: 300px;

      .btn-2 {
        background-color: #666;
      }

      .btn-2:hover {
        background-color: #a0afb3;
      }

      .wrapper {
        width: 660px;
        height: 240px;
        margin: 0 auto;
      }

      h3 {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        margin-top: 20px;
        font-weight: 700;
        margin-top: 7px;
        font-size: 23px;
      }

      p {
        font-size: 18px;
        width: 65%;
        margin: 20px auto 30px;
      }

      a.close-btn {
        position: relative;
        right: 0;
        top: 0;
        margin: 0 auto;
        width: 600px;
        display: inline-block;
        z-index: 9999;
      }

      a.close-btn img {
        float: right;
      }

      button.skip-btn {
        margin-top: 30px;
        margin-right: 10px;

        span {
          padding: 0 8px;
        }
      }

      .next-btn-style-0 {
        display: inline-block;
        z-index: 9999999;
        padding: 15px 24px 13px;

        span {
          padding: 0 5px;
        }
      }
    }

    .second-slide {
      min-width: 768px;
      margin-top: 160px;

      .wrapper {
        overflow: unset;
        width: 650px;
        margin: 7px auto 0;
      }

      img.img-2-slider {
        width: 620px;
        margin: 0 auto;
      }

      .wrapper-content {
        width: 610px;
        margin: 0 auto;
        text-align: left;
      }

      .wrapper-content p {
        margin-top: 10px;
        margin-bottom: 30px;
        margin-left: 7px;
        font-size: 18px;
      }

      .close-btn {
        position: relative;
        right: 0;
        top: 0;
        width: 660px;
        margin: 0 auto;
        display: inline-block;
        z-index: 9999;
      }

      .close-btn img {
        float: right;
      }

      .right-content {
        .arrow {
          width: 40px;
          margin-top: 22px;
        }
      }

      .next-btn-style-1 {
        float: right;
      }
    }

    .third-slide {
      min-width: 768px;
      margin-top: 150px;

      .wrapper {
        width: 700px;
        margin: 0 auto;
      }

      img.img-3-slider {
        width: 620px;
        margin-top: 7px;
        margin-left: auto;
        margin-right: auto;
      }

      img.arrow-up {
        width: 25px;
        margin-left: 123px;
        margin-top: -22px;
      }

      .wrapper-content {
        margin-top: 2px;
        margin-left: 86px;
        width: 600px;
        text-align: left;
      }

      .wrapper-content p {
        margin-top: -15px;
        margin-bottom: 30px;
        font-size: 18px;
      }

      .close-btn {
        width: 673px;
        margin: 0 auto;
        display: inline-block;
        z-index: 9999;
      }

      .close-btn img {
        float: right;
      }

      .next-btn-style-2 {
        z-index: 999;
        float: right;
      }
    }

    .fourth-slide {
      min-width: 768px;
      margin-top: 260px;

      .wrapper {
        width: 690px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12px;
      }

      .wrapper-content {
        width: 620px;
        margin: 0 auto;
        text-align: left;
      }

      .wrapper-content p {
        margin-top: -5px;
        margin-bottom: 30px;
        margin-left: -18px;
        font-size: 18px;
      }

      .wrapper-content p span {
        font-weight: 700;
        font-size: 18px;
      }

      img.img-4-slider {
        width: 660px;
        height: 240px;
      }

      .close-btn {
        position: absolute;
        left: 0;
        top: 0;
        width: 740px;
        margin: 0 auto;
        z-index: 9999;
      }

      .close-btn img {
        float: right;
      }

      .next-btn-style-3 {
        float: right;
        z-index: 9999;
      }
    }

    .fifth-slide {
      min-width: 768px;
      margin-top: 20px;

      .wrapper {
        width: 660px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
      }

      .wrapper-content {
        width: 606px;
        position: relative;
        left: 94px;
        text-align: left;
        top: -36px;
      }

      .wrapper-content p {
        font-size: 18px;
      }

      .wrapper-content p span {
        font-weight: 700;
        font-size: 18px;
      }

      img.img-5-slider {
        width: 655px;
        height: 590px;
        margin: 0 auto;
      }

      .close-btn {
        width: 701px;
        margin: 0;
        display: inline-block;
        z-index: 9999;
      }

      .close-btn img {
        float: right;
      }

      .last-text {
        color: #c1a474;
        font-size: 14px;

        em {
          font-size: 6px;
          margin-bottom: 4px;
        }
      }

      .next-btn-style-4 {
        display: inline-block;
        float: right;
        margin-top: 30px;
      }
    }
  }
}
@media only screen and (min-width: 1024px) and (orientation: landscape) {
  .overlay-change-management {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    z-index: 1000;
    color: white;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;

    .close-btn {
      img {
        width: 25px;
      }
    }

    .btn-1 {
      span {
        font-size: 12px;
        padding: 0 5px 0 8px;

        em {
          font-size: 9px;
          margin-left: 5px;
        }
      }
    }

    p {
      font-weight: 200;
      font-size: 18px;

      span {
        font-weight: 700;
      }
    }

    .slick-dots {
      &.hide {
        opacity: 0 !important;
      }

      li {
        margin: 0 2px;

        button {
          width: 8px;
          height: 8px;
        }
      }
    }

    .slick-dots-0 {
      display: block;
      position: absolute;
      top: 280px;
      cursor: pointer;
    }

    .slick-dots-1 {
      position: absolute;
      top: 252px;
      right: 324px;
      width: 100px;
      cursor: pointer;
    }

    .slick-dots-2 {
      position: absolute;
      bottom: 30px;
      left: 335px;
      width: 100px;
      cursor: pointer;
    }

    .slick-dots-3 {
      position: absolute;
      width: 100px;
      left: 650px;
      bottom: 292px;
      cursor: pointer;
    }

    .slick-dots-4 {
      position: absolute;
      right: 335px;
      bottom: 200px;
      width: 100px;
    }

    .first-slide {
      margin-top: 130px;

      .btn-2 {
        background-color: #666;
      }

      .btn-2:hover {
        background-color: #a0afb3;
      }

      .wrapper {
        width: 680px;
        margin: 0 auto;
        height: 240px;
      }

      h3 {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        margin-top: 20px;
        font-weight: 700;
        margin-top: 30px;
      }

      p {
        font-size: 18px;
        width: 65%;
        margin: 20px auto 30px;
      }

      a.close-btn {
        position: absolute;
        right: 185px;
        z-index: 9999;
      }

      button.skip-btn {
        position: absolute;
        left: 182px;
        bottom: 7px;
        margin-right: 5px;

        span {
          padding: 0 8px;
        }
      }

      .next-btn-style-0 {
        position: absolute;
        z-index: 9999999;
        padding: 15px 24px 13px;
        right: 190px;
        bottom: 7px;

        span {
          padding: 0 5px;
        }
      }
    }

    .second-slide {
      margin-top: 50px;
      position: relative;

      img.img-2-slider {
        width: 620px;
      }

      .close-btn {
        position: absolute;
        right: 80px;
        top: 85px;
        z-index: 9999;
      }

      .wrapper {
        width: 620px;
        margin-left: 31px;
      }

      .right-content {
        width: 40%;
        height: 200px;
        position: absolute;
        top: -296px;
        right: -10px;

        .arrow {
          width: 40px;
          margin-top: 22px;
        }

        p {
          position: absolute;
          width: 70%;
          text-align: left;
          top: 20px;
          left: 5px;
          font-size: 18px;
          font-weight: 200;

          span {
            font-weight: 700;
          }
        }
      }

      .next-btn-style-1 {
        position: absolute;
        right: 138px;
        bottom: 30px;
        z-index: 9999999;
      }
    }

    .third-slide {
      .wrapper {
        width: 650px;
        margin: 0 auto;
      }

      .wrapper-content {
        width: 560px;
        position: relative;
        top: 0;
        left: 200px;
      }

      img.img-3-slider {
        width: 620px;
      }

      img.arrow-up {
        width: 25px;
        margin-left: 123px;
        margin-top: -22px;
      }

      p {
        text-align: left;
        margin-left: 150px;
        margin-top: -12px;
        font-size: 18px;
      }

      .close-btn {
        position: absolute;
        right: 235px;
        bottom: 120px;
        z-index: 9999;
      }

      .next-btn-style-2 {
        z-index: 999;
        margin-top: 10px;
        float: right;
      }
    }

    .fourth-slide {
      margin-top: 35px;

      .wrapper {
        width: 95%;
        margin-top: 75px;
      }

      .wrapper-content {
        position: relative;
        top: -243px;
        left: -40px;
      }

      img.img-4-slider {
        width: 660px;
      }

      p {
        width: 30%;
        text-align: left;
        position: absolute;
        right: 38px;
        top: 47px;
        font-size: 18px;
      }

      .close-btn {
        position: absolute;
        right: 55px;
        top: 85px;
        z-index: 9999;
      }

      .next-btn-style-3 {
        position: absolute;
        right: 40px;
        z-index: 9999;
        top: 155px;
      }
    }

    .fifth-slide {
      margin-top: 25px;

      .wrapper-content {
        text-align: left;
        width: 320px;
        position: absolute;
        top: 30px;
        right: 106px;

        p:nth-child(1) {
          font-size: 17px;
        }

        p:nth-child(2) {
          font-size: 17px;
        }
      }

      img.img-5-slider {
        width: 630px;
      }

      .close-btn {
        top: 15px;
        width: 80px;
        margin: 0 auto;
        display: inline-block;
        z-index: 9999;
        position: absolute;
        right: 10px;
      }

      .last-text {
        color: #c1a474;
        font-size: 14px;

        em {
          font-size: 6px;
          margin-bottom: 0;
        }
      }

      .next-btn-style-4 {
        position: absolute;
        right: 0;
        top: 275px;
      }
    }

    .slick-next {
      display: none !important;
    }

    .cm-wrapper {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 1060px;
      height: 525px;
      text-align: center;
    }
  }
}