.no-scroll {
  overflow: hidden;
}

.explore {
  max-width: 988px;
  margin: 60px auto;
  padding: 0 40px;

  & .main-inner {
    min-height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;

    & .block-2 {
      background-color: transparent;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      border: none;
      padding: 0;
      padding-top: 25px;
    }
  }

  &:after,
  &:before {
    content: '';
    display: table
  }

  &:after {
    clear: both;
  }

  &--loading {
    position: relative !important;
    height: 350px !important;
    z-index: 1;
    background-color: transparent !important;
  }

  &--wrapper {
    margin-top: 20px;
  }

  &__header {
    font-family: 'sigvar', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #00266B;
  }

  &__tab {
    margin-top: 35px;
    overflow: hidden;

    ul {
      li:after {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        float: left;
        margin-top: 7px;
        margin-right: 8px;
      }

      li:nth-child(1) {
        &:after {
          background-color: #68B314;
        }
      }

      li:nth-child(2) {
        &:after {
          background-color: #0254EC;
        }
      }

      li:nth-child(3) {
        &:after {
          background-color: #FF9F00;
        }
      }

      li:nth-child(4) {
        &:after {
          background-color: #0EAC89;
        }
      }

      li:nth-child(5) {
        &:after {
          background-color: #AA49FF;
        }
      }

      li:nth-child(6) {
        &:after {
          background-color: #EB5466;
        }
      }
    }

    &-item {
      border: none;
      display: inline-block;
      background-color: transparent;
      padding: 5px 0;
      cursor: pointer;
      color: #383535;
      font-weight: 500;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
      font-size: 14px;
      text-align: left;
      margin-right: 18px;
      outline: none;
      position: relative;

      &.active {
        color: #000;
        border-bottom: 4px solid #F79E32;
        font-size: 14px;
        font-weight: 600;
        padding-left: 0;

        & span {
          display: none;
        }
      }

      &:hover {
        color: #383535;
      }
    }

    &-dot {
      font-family: 'proxima-nova', Arial, Helvetica, sans-serif;
      font-size: 62px;
      color: #000000;
      position: relative;
    }

  }

  &__search {
    &-result {
      margin-top: 10px;
      padding-top: 20px;
      padding-bottom: 10px;
      border-top: 1px solid #F0F2F5;
      margin-bottom: 10px;
    }

    &-found {
      font-size: 14px;

      &--wrapper {
        float: left;
        margin-top: 20px;
      }

      & span {
        font-family: 'proxima-nova', Arial, Helvetica, sans-serif;
        color: #222222;

        &:first-of-type {
          font-weight: 700;
        }
      }
    }
  }

  &__no-result {
    padding-top: 45px;
    text-align: center;

    &-text {
      font-weight: 600;
      font-size: 20px;
      line-height: 1em;
      text-align: center;
      color: #CCCCCC;
      margin: 0px;
      padding-bottom: 5px;
    }

    &-button {
      margin-top: 20px;
    }
  }

  &__date-picker {
    float: right;
    margin-bottom: 20px;
    width: 44% !important;

    & .grid-row {
      margin: 0;
    }

    & .grid-inner {
      padding: 0;
    }

    & .input-3 {
      height: 48px;
    }

    & .calendar {
      right: 0 !important;
    }
  }

  & .static-block--item {
    margin-left: 0;
  }
}
