$gutter: 10px;

.more-destination {
	padding: 0 40px;

	&__content {
		max-width: 988px;
		margin: 0 auto 50px;
	}

	&__header {
		display: flex;
		padding-bottom: 20px;

		&-title {
			font-family: 'sigvar';
			font-size: 20px;
			font-weight: 400;
			width: 50%;
			color: #00266B;
		}
	}

	&__link-all {
		width: 50%;
		font-size: 14px;
		text-align: right;
		line-height: 2;

		&:active {
			border: none;
		}
	}

	&__row {
		margin-left: -$gutter;
		margin-right: -$gutter;

		&:before,
		&:after {
			display: table;
			content: " ";
		}

		&:after {
			clear: both;
		}
	}

	&__col {
		width: 33.333333%;
		padding-left: $gutter;
		padding-right: $gutter;
		float: left;
		box-sizing: border-box;
	}

	&__item {
		display: block;
		overflow: hidden;
		height: 235px;
		width: 100%;
		background-size: cover;
		margin-bottom: 20px;
		border-radius: 4px;
		padding: 20px 20px 25px 20px;
		position: relative;
		box-shadow: 2px 4px 4px rgba($color: #000000, $alpha: 0.1);
		box-sizing: border-box;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 40%;
			background: linear-gradient(to top, #222 3%, transparent);
			background-size: cover;
		}
	}

	&__description {
		&--wrapper {
			position: absolute;
			bottom: 25px;
			left: 20px;
			right: 20px;
			color: #FFFFFF;
			border-bottom: 1px solid rgba($color: #D8D8D8, $alpha: 0.2);
			letter-spacing: 1.2px;
			padding-bottom: 15px;
		}

		&-country {
			text-transform: uppercase;
			font-size: 11px;
			border-left: 2px solid #FF9F00;
			padding-left: 5px;
			line-height: 12px;
			letter-spacing: 1px;
		}

		&-city {
			font-size: 30px;
			line-height: 33px;
		}
	}
}
