$gutter: 10px;

.weather {
	&__content {
		max-width: 988px;
		margin: 60px auto;
		padding: 35px 40px;
		border-radius: 2px;
		background-color: #FFFFFF;
		box-shadow: 0px 2px 3px 0 rgba($color: #000000, $alpha: 0.1);
		box-sizing: border-box !important;
	}

	&__row {
		margin-left: -$gutter;
		margin-right: -$gutter;

		&:before,
		&:after {
			display: table;
			content: " ";
		}

		&:after {
			clear: both;
		}
	}

	&__col {
		box-sizing: border-box !important;

		&-4 {
			width: 33.333333%;
			padding-left: $gutter;
			padding-right: $gutter;
			float: left;
		}

		&-8 {
			width: 66.66666667%;
			padding-left: $gutter;
			padding-right: $gutter;
			float: left;
		}

		&-3 {
			width: 25%;
			padding-left: $gutter;
			padding-right: $gutter;
			float: left;
		}

		&-9 {
			width: 75%;
			padding-left: $gutter;
			padding-right: $gutter;
			float: left;
		}
	}

	&__header {
		font-family: "Sigvar";
		font-size: 20px;
		font-weight: 400;
		color: #00266B;
	}

	&__content {
		box-sizing: border-box;

		&-airport {
			border-right: 1px solid #D9D9D9;
		}

		&-city {
			padding-left: 20px;
		}
	}

	&__title{
		font-family: "Proxima-Nova";
		font-size: 14px;
		font-weight: 700;
		line-height: 21px;
		color: #222222;
		padding-top: 20px;
		margin-bottom: 5px;
	}

	&__name {
		font-family: "Proxima-Nova";
		line-height: 21px;
		font-size: 14px;
		color: #222222;
	}

	&__visa {
		padding-top: 10px;

		&-item {
			font-family: "Proxima-Nova";
			font-size: 14px;
			font-weight: 400;
			color: #0254ec;
			display: block;
			line-height: 20px;
		}
	}

	.icon-visa {
		left: -2px;
		bottom: 2px;
		font-size: 6px;
		position: relative;

		&:before {
			content: "\e63d";
			font-family: "sia";
			font-style: normal;
			display: inline-block;
			width: 1em;
		}
	}

	&__zone {
		padding-top: 10px;
	}

	&__info {
		&-title {
			font-family: "Proxima-Nova";
			font-size: 14px;
			font-weight: 700;
			line-height: 21px;
			color: #222222;
		}

		&-content {
			padding-top: 10px;
		}

		&-item {
			list-style: none;
			display: inline-block;
			width: 25%;
			box-sizing: border-box !important;
		}

		&-img {
			padding-bottom: 5px;
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				position: absolute;
			}
		}

		&-temperature {
			font-family: "Proxima-Nova";
			text-align: center;
			line-height: 17px;
			font-size: 13px;
			color: #222222;
			font-weight: 600;
		}

		&-date {
			font-family: "Proxima-Nova";
			text-align: center;
			line-height: 16px;
			font-size: 12px;
			color: #222222;
		}
	}
}
