.pass-through-promotion-detail-main-container {
	padding: 0 !important;
}

.pass-through-aam-page {
	& .calendar {
		width: 688px !important;

		.calendar_month_left {
			width: 47%;
		}

		.calendar_month_right {
			width: 46.7%;
		}

		& .months-text {
			& .return-date-flight {
				right: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 60px;
			}
		}
	}
}

.booking-widget {
	&__heading {
		display: flex;
		align-items: center;
		margin-top: 10px;

		& .sub-heading-2--blue {
			font-family: "sigvar", serif;
			font-weight: 400;
			font-size: 20px;
			color: #00266b;
			width: 50%;
			line-height: 27px;
			padding: 0 !important;
			border: none !important;
		}
	}

	& .btn-1 {
		font-weight: 400 !important;
	}

	&__content {
		padding: 16px 30px 14px !important;
	}

	& .form-booking-widget-destination {
		padding-top: 15px !important;
	}

	&__links {
		width: 50%;
		text-align: right;
	}

	&__link {
		display: inline-block;
		font-size: 13px;
		line-height: 10px;

		&:first-child {
			padding-right: 15px;
			border-right: 1px solid #222;
		}

		&:last-child {
			padding-left: 10px;
		}
	}

	& .customer-info {
		width: calc(100% - 540px) !important;
	}

	& .flight-info {
		width: 355px !important;
	}
}
