.destination-list-page {

	.block-2 {
		padding-top: 32px;
		padding-left: 30px;
		padding-right: 30px;
		border-bottom: none;
		padding-bottom: 20px;
		
	}
	.main-content-destination-categories.block-2 {
		padding: 0px;
		margin-bottom: 0px;
		margin-top: 0px;
		.inspire-heading{    
            padding-top: 32px;
            padding-left:30px;
            font-weight: 600;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            font-size: 11px;
            color: #000;
            line-height: 1em;
        }

	}
	.no-search-found {
		padding-top: 43px;
		text-align: center;
		p {
			font-size: 20px;
			line-height: 1em;
			text-align: center;
			font-weight: 700;
			color: #CCCCCC;
			margin: 0px;
			padding-bottom: 11px;

		}
		.btn-1 {
			font-weight: 600;
			font-size: 11px;
			letter-spacing: 1.5px;
			padding-top: 15px;
			margin-top: 21px;
			padding-top: 15px;

		}
	}
	.block-search.block-2{
		padding-bottom: 40px;
		box-shadow: 0 2px 3px 0 rgba(0,0,0,0.05);
	}
	.search-result {
		margin-top: 20px;
		margin: 0px 30px 0px 30px;
		padding-top: 23px;
		padding-bottom: 23px;
		border-top: 1px solid #F0F2F5;
		border-bottom: 1px solid #F0F2F5;
		h3 {
			padding: 23px auto 23px;
			color: #000;
			line-height: 1em;
			font-size: 14px;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			position: relative;

			.reset-filter {
                position: absolute;
                top: 0;
                left: 135px;
				color: #0254EC;
                a{
                	font-size:14px;
                    em {
						transform: scaleX(-1) rotate(-30deg) translateY(-2px);
                         color: #3375f0;
                    }
                }

			}

			.show-favourites-filter {
                position: absolute;
                top: -2px;
                right: 0px;
                .custom-checkbox.custom-checkbox--1{
                    .show-fav-text{
                        margin-right: 0px;
                        color: #000;
                        font-size: 14px;
                    }
                }
            }
			.search-found{
                span{
                 	font-size:14px;
                 }
                 .no-search {
                    font-weight: 700;
                    font-size:14px;
                }   
            }
		}
	}
	a.ico-cancel-thin.add-clear-text:before{
		content: '\e613';
		color: #ccc;
		font-size: 14px;
	}
	.sia-breadcrumb--3 {
		padding: 0px;
		
		background-color: transparent;
		.destination-main-container {
			max-width: 988px;
			margin: 55px auto -10px;
			position: relative;
			.destination-description {
				.destination-inner-description {
					max-width: 650px;
					font-size: 16px;
					max-width: 650px;
					margin: 0;
					line-height: 1.3em;
					p {
						font-size: 16px;
					}
				}
				.dest-city-form {
					margin-top: 0px;
					.grid-col {
						float: right;
						margin-top: -77px;
						width: 28%;
						.grid-inner {
							.custom-select {
								background-color: transparent;
								border: none;
								border-bottom: 2px solid #ccc;
								.select__text {
									.ui-autocomplete-input {
										padding-left: 0px;
										font-size: 16px;
                                        font-weight: 400;
                                        
                                        &::-webkit-input-placeholder {
                                        	color: black;
                                        }

                                    }
                                }
                                
                                
								.btn-search {
									width: 20px;
									.ico-search {
										margin-top: -22px;
										font-size: 15px;
										color: #000;
										right: -3px;
										width: 30px;
									}
								}
							}
						}
					}
				}
			}
        }



        .search-city-custom .custom-select .select__text .ico-cancel-thin {
            right: 30px;
             top: 15px;
   		 }
        
        .blk-heading {
        	.main-heading {
        		font-weight: 700;
				line-height: 1em;
				margin-bottom: 20px;
				font-family: "proxima-nova";
				font-size: 24px;
        	}
        }
	}
	.main-content-destination-categories {
		max-width: 988px;
		padding: 0 20px;
		margin: 45px auto 20px;
	}
	.main-inner {
		margin-top: 0px;
		margin: 0px auto 0px ;
		.block-search {
			margin-bottom: 70px;
			.country-button {
				// display: inline;
				margin-top: 0px;
				.country-button-border {
					border: 1px solid #ccc;
					width: 31%;
					margin-top: 18px;
					opacity: 0.5;
					margin-bottom: 10px;
				}
				.border-left {
					// float: left;
					display: inline-block;
				}
				.country-button-middle {
					display: inline;
					margin-left: 19px;
					margin-right: 19px;
					.see-more-btn {
						width: 28%;
						.text-show{
							font-weight: 700;
							text-transform: none;
							font-size: 12px;
							line-height: 1em;
							margin: 0;
							margin-bottom: 2px;
						}
						.text-load{
							font-weight: 400;
							text-transform: none;
							font-size: 12px;
							line-height: 1em;
							margin: 0;
						}
					}
				}
				.border-right {
					// float: right;
					display: inline-block;
				}
			}
			.see-more-btn {
				background-color: #4d92df;
				width: 27.5%;
				margin-top: 0;
				display: inline-block; // margin-left: 12px;
				line-height: 8px;
			}
			.static-block-2 {
				.static-block--item {
					.static-item.col-mb-3,
					.static-item.col-mb-6 {
						width: 33.3%;
						.static-item__name {
							padding-left: 14px;
							margin-bottom: 18px;
							font-size: 30px;
							font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
							font-weight: 500;
						}
						.static-item__info {
							height: 339px; // height: 285px;
                            border-bottom: none;
                            color: #fff;

							a {
                                border-radius: 2px;
                                color: #fff;
							}
							.anchor-tag-destination-img:before {
								box-shadow: inset -1px -68px 17px -17px rgba(0, 0, 0, 0);
							}
							.container-static-item__region {
								top: 20px;
								text-align: center;
								position: absolute;
								width: 100%;
								
								font-weight: 600;
								font-size: 12px;
								letter-spacing: 1px; // border-bottom: 4px solid #ff8c1a;
							}
							.container-static-item__city {
								margin-left: 14px;
								font-size: 14px;
								color: #fff;
								margin-bottom: 14px;
								padding-left: 4px;
								border-left: 3px solid #f79e32;
								line-height: 0.9em;
                            }
                            .static-item__region{
                                text-transform: uppercase;
                            }
							.static-item__region-border {
								border-bottom: 3px solid #f79e32;
								top: 39px;
								position: absolute;
								width: 7%;
								left: 144px;
							}
							.static-item__detail {
								bottom: 17px;
								hr {
									opacity: 0.5;
									width: 90%;
								}
							}
							.hover-overlay-container {
								// background-size: cover;
								background-position: center center;
								height: 100%;
								display: block;
								border-radius: 3px;
								position: relative;
								img {
									display: block;
									width: 100%;
									height: auto;
									opacity: 1;
									backface-visibility: hidden;
								}
								.hover-overlay-border {
									border: 1px solid #fff;
									height: 94%;
									width: 94%;
									margin: 3% 1% 1% 3%;
									border-radius: 2px; // margin: 2%;
									// margin-top: 2%;
									// margin-left: 2%;
								}
								.hover-overlay-description {
									position: absolute;
									top: 0;
									bottom: 0;
									left: 0;
									right: 0;
									height: 100%;
									width: 100%;
									opacity: 0;
									transition: .5s ease; // transition: opacity 1s;
									// -webkit-transition: opacity 1s;
									// background-color: #000;
									// background:#565557;
									// z-index: 200;
									.hover-overlay-region-border {
										border-bottom: 3px solid #f79e32;
										top: 83px;
										position: absolute;
										width: 7%;
										left: 144px;
									}
									.hover-overlay-read-more {
										color: white;
										font-size: 11px;
										font-weight: 600;
										position: absolute;
										bottom: 25px;
										left: 160px;
										text-transform: uppercase;
										max-width: 200px;
										/* background-color: red; */
										-webkit-transform: translate(-50%, -50%);
										transform: translate(-50%, -50%);
										-ms-transform: translate(-50%, -50%);
										text-align: center;
									}
								}
								.hover-overlay-title {
									color: white;
									position: absolute;
									top: 123px;
									left: 160px;
									transform: translate(-50%, -50%);
									-ms-transform: translate(-50%, -50%);
									text-align: center;
									h2 {
										font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
										font-weight: 600;
									}
								}
								.hover-overlay-info {
									color: white;
									font-size: 14px;
									position: absolute; // bottom: 100px;
									bottom: 53px;
									width: 100%;
									left: 160px; // max-width: 200px;
									max-width: 240px; // background-color: red;
									transform: translate(-50%, -50%);
									-ms-transform: translate(-50%, -50%);
									text-align: center;
								}
								.hover-overlay-region {
									color: #fff;
									font-size: 12px;
									font-weight: 600;
									position: absolute;
									top: 70px;
									left: 158px;
									text-transform: uppercase;
									transform: translate(-50%, -50%);
									-ms-transform: translate(-50%, -50%);
									text-align: center;
									font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
									letter-spacing: 1px;
								}
							} // .hover-overlay-container:after {
							//     position:absolute;
							//     z-index:1;
							//     top:0;
							//     left:0;
							//     right:0;
							//     bottom:0;
							//     opacity: 1;
							//     -webkit-transition: opacity 1s;
							//     transition: opacity 1s;
							// }
							// .hover-overlay-container:hover:after .hover-overlay-description {
							//     opacity: 0.6;
							// }
							// .hover-overlay-container:hover .hover-overlay-description {
							//     opacity: 1;
							//     z-index: 200;
							//     border-radius: 2px;
							// }
							// .hover-overlay-container:hover img {
							//     opacity: 0.6;
							//     background-color: #000;
							//     // z-index: 200;
							//     border-radius: 2px;
							// }
						}
					}
				} // .static-item.static-item--large {
				//     .static-item__detail {
				//         bottom: 14px;
				//     }
				// }
			}
		}
	}
	.favourite-star {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin:0;

        z-index: 10;
		width: 45px;
		height: 45px;

        border: 0;
        background: none;
		background-image: url("../images/fav-star.png");
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: right bottom;
    }
	.destination-regions-categories {
		padding: 34px 30px 5px 30px;
		h2 {
			margin-bottom: 17px;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			font-size: 11px;
			color: #000;
			line-height: 1em;
			font-weight: 600;
		}
		.unordered-list-destination-categories {
			// display: table;
			display: inline-block;
			margin-bottom: 15px;
			// margin-left: 14px;
			
			li {
				// display: table-cell;
				display: inline-block;
				padding-right: 9px;
				margin-bottom: 10px;
				.custom--region input+label {
					display: inline-block;
					padding-left: 4px;
					padding-right: 14px;
					margin-right: 0px;
					line-height: 16px;
					font-size: 13px;
					cursor: pointer;
					padding: 8px 15px;
					color: #00266B;
					transition: background-color 0.5s, color 0.5s;
                    background: #E5E9F0;
                    border-radius: 20px;
				}
				.custom--region input:checked+label {
					padding: 8px 12px;
					color: white !important;
                    background-image: linear-gradient(89deg, #00266B  0%, #254A8E 100%);
                    border-radius: 20px;  
				}
				.custom--region input:checked+label:after {
					color: white;
					position: relative;
					top: auto;
					left: auto; // float: right;
					margin-left: 6px;
					display: inline-block;
					font-size: 12px;
					font-weight: 500;
				}
				.custom--region input+label:before {
					content: '';
					width: 44px;
					height: 19px;
					border: 1px solid transparent;
					position: absolute;
					top: -3px;
					left: -6px;
					background-color: transparent;
					display: none;
				}
			}
		}
		// .unordered-list-destination-categories li:first-child {
		// 	font-weight: 700;
		// 	color: #000;
		// 	font-size: 13px;
		// 	padding-right: 15px;
		// 	display: block;
		// 	margin-bottom: 10px;
		// }
	}
	.dest-vignette {
        position: absolute;
        top: 0;
        left: 0;
        
        // z-index: 10;
        width: 100%;
        height: 100%;

        &:before, &:after {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
			left: 0;
			border-radius: 3px;
        }

        &:before {
            background-image: linear-gradient(0, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.41) 100%);
            height: 70px;
            top:0;
        }

        &:after {
            background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 13%, rgba(0,0,0,0.75) 60%);
            height: 150px;
            bottom: 0;
        }
    }
	.destination-inspireme-category {
		padding: 22px 30px 0px 30px;
		.sort-filter {
			.inspireme-radio-filter {
				margin: 0 0 0 0; // display: table;
				// display: inline-block;
				// margin: 20px;
				// border-radius: 10px;
				overflow: hidden;
				input {
					margin: 0 0 0 20px;
				}
				div {
					// display: table-cell;
				}
				input[type=radio] {
					position: absolute;
					visibility: hidden;
					display: none;
				}
				label {
					// color: lighten($bg,40%);
					display: inline-block;
					cursor: pointer; // font-weight: bold;
					padding: 5px 4px 2px;
					color: #383535;
					font-weight: 500;
					font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
					font-size: 13px;
					margin-right: 12px;
				}
				input[type=radio]:checked+label {
					color: #000; // background: $fg;
					border-bottom: 4px solid #f79e32;
					font-size: 13px;
					font-weight: 600; // padding-bottom: 5px;
				}
				ul {
					// display: table;
					li {
						display: inline-block;
					}
				}
			} // a {
			//     color: #383535;
			// }
			// a:hover {
			//     border-bottom: 4px solid #f79e32;
			//     // transition: all 400ms ease 0s;
			//     padding-bottom: 5px;
			// }
		}
	}
	@media screen and (max-width: 768px) {
		.destination-list-page .main-container .main-inner .block-search .country-button .country-button-middle a{
			width: 25%
		}
		.destination-list-page .main-container .main-inner .block-search .country-button .country-button-middle {
		    margin-left: 15px;
		    margin-right: 15px;
		}
		.sia-breadcrumb--3 {
			.destination-main-container {
				margin-right: 30px;
				margin-left: 30px;
				.destination-description {
					.destination-inner-description {
						width: 500px;
					}
				}
			}
		}
		
		.main-content-destination-categories.block-2{
			margin-top:0;
			margin-right: 30px;
			margin-left: 30px;
		}
		.main-container {
			.main-inner {
				margin: 0px 30px 70px 30px;
				padding: 0px;
				.block-2{
					padding-right:30px;
					padding-bottom: 40px;
					box-shadow: 0 2px 3px 0 rgba(0,0,0,0.05);

				}
				.block-search {
					.country-button {
							
						.country-button-border.border-left,
						.country-button-border.border-right {
							// .border-left,.border-right {
							width: 31%; // }
							margin-bottom: 15px;
						}
						.country-button-middle {
							margin-left: 15px;
							margin-right: 15px;
							a {
								width: 25%;
							}
						}
					}
					.static-block-2 {
						.static-block--item {
							.static-item {
								.static-item__info {
									height: 285px;
									a {
										.hover-overlay-container {
											.hover-overlay-description {
												.hover-overlay-border {
													.hover-overlay-region-border {
														left: 104px;
													}
												}
											}
										}
										.first-phase-description-container {
											.static-item__region-border {
												left: 104px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		} // .destination-description {
		//     .destination-inner-description {
		//         max-width: 500px;
		//     }
		// }
		.destination-regions-category {
			background-color: #fff;
			overflow-x: scroll;
			margin: 0 -30px;
			margin-left: -25px; // height: auto;
			.sort-filter {
				width: 100%;
				margin-bottom: 0px;
				.region-radio-filter {
					padding: 11px;
					overflow: scroll;
					ul {
						position: relative;
						display: flex;
						flex-direction: row;
						li {
							display: block;
							flex-shrink: 0;
							margin-right: 20px;
							width: auto;
							position: relative;
							padding: 0 2px;
							&:last-child {
								padding-right: 30px;
							}
						}
					}
				}
			}
		}
	} // .static-block-2 {
	//     .static-block--item {
	//         .static-item {
	//             .static-item__info {
	//                 .container-static-item__region {
	//                     top: 18px;
	//                     text-align: center;
	//                     position: absolute;
	//                     width: 100%;
	//                     color: #fff;
	//                 }
	//                 .container-static-item__city {
	//                     padding-left: 14px;
	//                 }
	//             }
	//         }
	//     }
	// }
}

@media screen and (max-width: 1040px) {
	.destination-list-page {
		.destination-main-container {
			.destination-inner-description {
				max-width: 60%;
				font-size: 16px;
				margin: 0;
				line-height: 1.3em;
			}
		}
	}
}


@media screen and (max-width: 1085px) {
	.destination-list-page .main-inner .block-search .see-more-btn {
		width: 27%;
	}
}

@media screen and (max-width: 1000px) {
	.destination-list-page .main-inner .block-search .see-more-btn {
		width: 26%;
	}
}
@media screen and (max-width:800px){
	.destination-list-page .sia-breadcrumb--3 .destination-main-container .destination-description .destination-inner-description {
	    width: 500px;
	}

	.destination-list-page .sia-breadcrumb--3 .destination-main-container {
	    margin-right: 30px;
	    margin-left: 30px;
	}
	.destination-list-page .main-content-destination-categories.block-2 {
	    margin-top: 0;
	    margin-right: 30px;
	    margin-left: 30px;
	}
	.destination-list-page .main-container .main-inner {
	    margin: 0px 30px 70px 30px;
	    padding: 0px;
	}
	.destination-list-page .main-inner .block-search {
		.country-button-middle{
			.see-more-btn {
				width: 25%;
			}
		}
		.country-button-border.border-right{
			width: 31%;
		}
		.country-button-border.border-left{
			width: 31%;
		}
		

	}

}
@media screen and (max-width: 909px) {
	.destination-list-page .main-inner .block-search {
		.country-button-middle{
			.see-more-btn {
				width: 25%;
			}
		}
		.country-button-border.border-right{
			width: 31%;
		}
		.country-button-border.border-left{
			width: 31%;
		}
		

	}
}
