$gutter: 10px;

.popup {
  &__inner {
    top: 250px;
  }
}

.explore {
  &__row {
    margin-left: -$gutter;
    margin-right: -$gutter;
    box-sizing: border-box;
    clear: both;

    &:before,
    &:after {
      display: table;
      content: " ";
    }

    &:after {
      clear: both;
    }
  }

  &__col {
    width: 50%;
    padding-left: $gutter;
    padding-right: $gutter;
    float: left;
    box-sizing: border-box;
  }

  &__card  {
    display: block;
    border-radius: 4px;
    height: 280px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 15px;

    &-image {
      width: 100%;
      height: 180px;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      &:after {
        content: '';
        height: 40%;
        width: 100%;
        background-image: url('../images/bg-gradient.png');
        background-size: contain;
        position: absolute;
        bottom: 0;
        left: 0;
        background-repeat: repeat-x;
        z-index: 1;
      }
    }

    &-date {
      position: absolute;
      bottom: 20px;
      left: 20px;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      text-transform: uppercase;
      z-index: 2;
    }
  }

  &__tag {
    position: absolute;
    top: 20px;
    left: -2px;
    border-radius: 2px;
    background-color: rgba($color: #000000, $alpha: 0.65);
    padding: 5px 15px;
    letter-spacing: 1px;
    line-height: 10px;
    font-size: 8px;
    color: #FFFFFF;
    text-transform: uppercase;
    z-index: 1;

    &--sight-attraction {
      border-left: 2px solid #68B314;
    }

    &--hotel {
      border-left: 2px solid #0254EC;
    }

    &--tour-activities {
      border-left: 2px solid #0EAC89;
    }

    &--restaurant {
      border-left: 2px solid #FF9F00;
    }

    &--music-art-culture {
      border-left: 2px solid #AA49FF;
    }

    &--event {
      border-left: 2px solid #EB5466;
    }
  }

  &__date {
    &-picker {
      width: 50%;
      float: right;
    }

    & .input-3__label {
      height: 100%;
    }
  }

  &__rating {
    z-index: 2;
    position: absolute;
    bottom: 20px;
    left: 20px;

    &-text {
      font-size: 10px;
      letter-spacing: 1px;
      line-height: 10px;
      margin-bottom: 3px;
      text-transform: uppercase;
      font-weight: 600;
      color: #FFFFFF;
    }

    &-active {
      position: absolute;
    }

    &-star {
      width: 20px;
      height: 20px;
      background-image: url(../images/svg/star-white.svg);
      background-size: cover;
      margin: 0 2px;

      &--wrapper {
        & ul {
          list-style: none;

          & li {
            display: inline-block;
          }
        }
      }

      &.rated {
        background-image: url(../images/svg/star-rated.svg);
      }
    }
  }

  &__content {
    padding: 25px 0 0 20px;

    &-title {
      display: block;
      font-weight: 700;
      font-size: 16px;
      color: #222222;
      margin-bottom: 5px;
      padding-right: 20px;
    }

    &-description {
      & li {
        display: inline-block;
      }
    }

    &-money {
      font-weight: 600;
      font-size: 13px;
      margin-right: 15px;
      color: #CCCCCC;
      position: relative;

      &--active {
        color: #00266B;
        position: absolute;
      }

      &:after {
        position: absolute;
        content: '.';
        font-size: 42px;
        color: #000000;
        transform: translateY(-50%);
        top: -3px;
        right: -15px;
      }
    }

    &-text {
      color: #222222;
      font-size: 13px;
      font-weight: 600;

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }

  &__paginator {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-top: 10px;

    & ul {
      list-style: none;
      text-align: center;
      display: inline-block;

      & li {
        display: inline-block;

        & a {
          display: block;
          padding: 10px 15px;
          color: #999;
          outline: none;

          &.first {
            padding-right: 0;

            &:after {
              content: '...';
              margin-left: 15px;
            }
          }

          &.last {
            padding-left: 0;

            &:before {
              content: '...';
              margin-right: 15px;
            }
          }

          &.current {
            background-color: #DDDDDD;
            color: #000000;
            font-weight: 600;
            border-bottom: 3px solid #FF9F00;
          }
        }
      }
    }

    &-button {
      padding: 10px 15px;
      background-position: center center;
      background-repeat: no-repeat;
      cursor: pointer;
      visibility: visible;

      &.disabled {
        pointer-events: none;
        cursor: default;
      }

      &--prev {
        background-image: url(../images/svg/paginator-prev.svg);

        &:hover,
        &:active {
          background-image: url(../images/svg/paginator-prev-active.svg);
        }
      }

      &--next {
        background-image: url(../images/svg/paginator-next.svg);

        &:hover,
        &:active {
          background-image: url(../images/svg/paginator-next-active.svg);
        }
      }
    }
  }
}

.modal {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 720px;
  border-radius: 4px;

  &.showing {
    position: absolute;
    top: 35px;
    margin-bottom: 25px;
  }

  &-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: auto;
  }

  &__banner {
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__content {
    padding: 20px;

    &-description  {
      width: 95%;
    }

    &--wrapper {
      padding: 0;
      position: relative;
    }
  }

  &__info {
    overflow: hidden;
    padding: 0 0 30px;
    border-bottom: 1px solid #e5e9f0;

    &--wrapper {
      width: 75%;
    }

    &-title {
      color: #222222;
      font-size: 20px;
      text-align: left;
      font-weight: 700;
      line-height: 27px;
    }

    &-address {
      line-height: 29px;
      font-size: 14px;
      color: #666666;
      margin: 5px 0;
    }
  }

  &__cuisine {
    display: inline-block;

    &-icon {
      font-size: 14px;
      line-height: 19px;
      text-align: left;
      letter-spacing: 0.9999999px;
      color: #cccccc;

      & b {
       color: #00266b;
      }
    }

    &-text {
      color: #222222;
      font-size: 14px;
      line-height: 19px;
      text-align: left;

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }

  &__rating {
    float: right;
    margin-right: 40px;

    &--wrapper {
      margin-top: 5px;
    }

    &-text {
      font-size: 10px;
      color: #666666;
      line-height: 13px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &-star {
      width: 20px;
      height: 20px;
      margin: 0 2px;
      background-image: url(../images/svg/star-rating.svg);
      background-size: cover;

      &--wrapper {
        margin-top: 5px;
      }

      & ul {
        list-style: none;
        & li {
          display: inline-block;
        }
      }
    }
  }

  &__button {
    &-book {
      color: #FFFFFF;
      font-size: 11px;
      line-height: 15px;
      text-transform: uppercase;
      padding: 10px;
      float: right;
      background-color: #2275d3;
      letter-spacing: 1.5px;
      border-radius: 2px;
      width: 140px;
      margin-top: -25px;
      text-align: center;

      &:hover {
        color: #FFFFFF;
      }
    }
  }

  &__close {
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 10;
    width: 30px;
    height: 30px;
    background-image: url(../images/svg/close-modal.svg);
  }

  &__description {
    &-text {
      color: #222222;
      font-weight: 300;
      line-height: 24px;
      font-size: 16px;
    }

    &-insider {
      color: #222222;
      font-weight: 300;
      line-height: 24px;
      font-size: 16px;
    }

    & b {
      font-weight: 500;
    }
  }

  &__map {
    width: 100%;
    height: 250px;
  }

  &-map {
    margin-top: 25px;
    overflow: hidden;

    .leaflet-left {
      right: 0;
      left: auto;
      margin-right: 20px;
    }

    .leaflet-top {
      bottom: 0;
      top: auto;
      margin-bottom: 20px;
    }

    .leaflet-control-attribution {
      display: none;
    }
    .leaflet-touch .leaflet-bar {
      border: 1px solid #D8D8D8;
    }

    &__address {
      position: absolute;
      z-index: 401;
      height: auto;
      background-color: #fff;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
      padding: 10px;
      margin-top: 20px;
      margin-left: 20px;
      display: inline-block;
      border-radius: 4px;

      &-text {
        font-size: 14px;
        color: #222222;
        margin-right: 20px;
      }
    }
  }
}
