.elite-rewards {
  &.elite-rewards--desktop {
    display: block !important;
    visibility: visible !important;
  }

  &-inner {
    padding-bottom: 100px !important;
  }

  &__tab {
    & .tab {
      border: 1px solid rgba(#00266b, 0.1);

      &-item {
        outline: none;

        &.active {
          pointer-events: none;

          & .elite-rewards__tab__link {
            background-color: rgba(#00266b, 0.08);
            border-right: 0;
            box-shadow: none;
            color: #00266b;
          }
        }
      }
    }

    &__link {
      border-right: 1px solid rgba(#00266b, 0.1);
      display: block;

      & .text {
        font-weight: 600;
        font-size: 14px;
      }
    }
  }

  &__group-progress {
    min-height: 100px;
    padding-top: 120px;

    & .progress-bar {
      &:after {
        content: '';
        position: absolute;
        width: 9px;
        height: 8px;
        top: 2px;
        right: -9px;
        background-color: #f9f9f9;
        z-index: 2;
      }
    }

    & .progress-bar {
      width: 100%;
      padding-left: 0;
    }

    & .elite-rewards__milestones {
      background-color: #fff;
      height: 12px;
      border-radius: 0;

      &:before {
        content: '';
        position: absolute;
        width: 4px;
        height: 12px;
        top: 0;
        left: 1px;
        background-color: #f9f9f9;
        z-index: 2;
      }

      &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 52px;
        top: -34px;
        left: 0;
        background-color: #999;
        z-index: 2;
      }

      & .time-start {
        left: 0;
        text-align: left;
        width: 200px;
        border-left: 1px solid #999;
        padding: 3px 8px;
        height: 45px;
        font-size: 12px;

        & span {
          display: block;
        }
      }

      & .time-end {
        right: 0;
        text-align: right;
        width: 200px;
        border-right: 1px solid #999;
        padding: 3px 8px;
        height: 45px;
        font-size: 12px;

        span {
          margin-top: 0;
        }
      }

      & .milestones-item {
        &__info {
          top: 12px;
          position: relative;
          left: -53%;

          & .desc {
            width: 200px;
            margin-left: 0;
          }
        }

        &.active {
          & .milestones-item__info {
            & .desc {
              & strong {
                color: #00266b;
              }
            }

            & .icon-elite-rewards {
              border-top-color: #00266b;
            }
          }
        }

        &.milestones-item-1 {
          left: 31.6%;
        }

        &.milestones-item-2 {
          left: 63.6%;
        }

        &.milestones-item-3 {
          right: -197px;
          left: auto;
        }

        &.last-milestones-item {
          & .desc {
            position: relative;
            right: 93px;
            text-align: right;
          }
        }
      }

      & .milestones-animate-wrapper {
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        &.milestones-animate-wrapper-1 {
          width: 32%;
        }

        &.milestones-animate-wrapper-2 {
          width: 64%;
        }

        &.milestones-animate-wrapper-3 {
          width: 100%;
        }

        &.first-milestones-animate-wrapper {
          & .tooltip-progress {
            left: 28% !important;

            &:before {
              display: none;
            }
          }
        }

        &.last-milestones-animate-wrapper {
          & .tooltip-progress {
            left: auto !important;
            right: 5px;

            &:before {
              display: none;
            }
          }
        }
      }
    }
  }

  &__notice {
    margin-bottom: 40px;
  }

  &__vouchers {
    padding-top: 20px;
    &__heading {
      font-size: 20px;
      font-weight: 700;
      color: #00266b;
    }
  }
}
/* -------------------------------------------------------- */

.icon-elite-rewards {
  display: block;
  width: 0;
  height: 0;
  border: 8px solid #fff;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  margin: auto;
}

.text-color-primary {
  color: #00266b;
}

.elite-progress-bar {
  border-radius: 0 !important;

  &:after {
    content: '';
    position: absolute;
    top: -6px;
    right: -6px;
    display: block;
    width: 0;
    height: 0;
    border: 6px solid #00266b;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(45deg);
    margin: auto;
  }
}
