.meals-booking {
	.alc-list {
		margin-left: 68px;
		margin-top: -19px;
		width: 68%;
	}
}

.meals-booking-1 {
	width: 68%;
}

.booking-col.col-3.select-meal {
	margin-top: -32px
}

.booking-col.col-4.select-meal-btn {
	top: 0;
}

@media screen and (max-width: 1023px) {
	.meals-booking {
		width: 66%;
	}

	//dsf
}

/**END OF STATIC UPDATES ***/
.meals-payment {
	&.payments-topup {
		.booking-details .col-2 {
			top: 60%;
		}
	}

	.sub-total {
		.price-2 {
			font-weight: 600;
		}
	}

	.flights-cost__details>li.sub-total>span:first-child {
		font-weight: 600;
	}

	.booking-details .col-2 {
		position: absolute;
		top: 38%;
		left: 65px;
		width: 80px;
		font-size: 16px;
		margin-top: -10px;
	}

	.booking-details .col-1 {
		margin-top: 0;
		top: 12%;

		em {
			font-size: 24px;
		}
	}

	.btn-back {
		.ico-point-r {
			font-size: 6px;
			margin-top: -4px;
			margin-right: 2px;
		}
	}

	.list-desc-extra.list-desc-extra--1 .image-1 {
		position: absolute;
		top: 0;
		right: 20px;
		width: 75px;
	}

	.sia-breadcrumb.sia-breadcrumb-2 {
		background-color: #fff;

		.last .breadcrumb-item__info:after {
			background-color: #fff;
		}
	}

	.accordion-component {
		margin-top: 40px;
		margin-bottom: 40px;

		.accordion-item {
			padding: 10px 0 15px;
			border-bottom: none;

			&.active {
				.ico-point-d {
					top: 20px;
				}
			}

			.ico-point-d {
				top: 15px;
				right: 2px;
				color: #0254ec;
				font-size: 16px;
				bottom: 0;
			}

			.group-title .sub-total {
				position: absolute;
				right: 50px;
				top: 12px;
			}
		}

		.pax-meals-details {
			padding: 20px;
			background-color: #f6f6f6;
			margin-top: 0;
			margin-bottom: 20px;

			p {
				margin: 0;
			}

			.pax-name {
				color: #00266b;
				font-size: 16px;
				font-weight: 600;
			}

			.flight-details-block {
				padding: 20px;
				background-color: white;
				margin-top: 10px;

				.flight-details {
					font-weight: 600;
					font-size: 16px;
					color: #00266b;
				}

				.meals-details-block {
					.booking-details.booking-details--2 {
						margin-top: 0;

						p {
							color: black;
						}

						.col-3 .has-cols {
							padding-left: 20%;
						}

						.target-info {
							color: #666666;
						}

						.col-3 {
							margin: 0 130px 0 145px;
							padding: 10px 0 0;
						}
					}
				}
			}
		}

		.mp-payments-total {
			padding: 20px;
			background-color: #f7f7f7;
			margin-top: 20px;

			.flights-cost {
				padding: 0 20px;
			}

			.flights-cost-title {
				font-size: 16px;
				margin-bottom: 0;
				margin-top: 0;
			}

			.flights-cost__details {
				margin-top: 5px;

				li {
					font-size: 16px;
					color: #000;
					margin-bottom: 0;
					line-height: 2;

					&:first-child span {
						text-transform: uppercase;
					}

					&.sub-total {
						margin-top: 15px;

						span {
							font-size: 16px;
						}

						.price {
							font-size: 28px;
							color: #00266b;
							font-family: "baker-signet-web", serif;
						}
					}

					.tax-label {
						margin-top: 5px;
						font-size: 12px;
					}
				}
			}
		}
	}

	.mp-payments-section {
		margin-top: 20px;

		.total-payment-block .title-5--blue {
			margin-top: 0;
		}

		.payment-method-content .list-desc-extra .desc {
			color: black;
		}
	}
}

.meals-selection-bah {
	a.accordion__control.bah-accordion-block.active+div {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.remove-prompt {
		background-color: #e5e9f0;
		background-color: #e5e9f0;
		margin-left: -20px;
		margin-right: -20px;
		padding: 20px;
		position: relative;

		a.accordion__control {
			padding: 0;
		}

		p {
			width: 70%;
			margin: 0;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			color: #00266b;
			font-size: 14px;
		}

		.button-group-1 {
			width: 45%;
			position: absolute;
			right: 25px;
			top: 28%;

			a.btn-2.btn-cancel {
				width: 22%;
			}

			input.btn-1.btn-proceed {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}

	.load-more {
		height: 50px;
		background: #ffffff;
		border: 1px solid #ccc;
		padding: 0;
		margin-bottom: 0;
		text-align: center;

		.load-more-btn {
			font-weight: 700;
			background: none;
			border: none;
			color: #0254EC;
			width: 100%;
			height: 100%;
		}
	}

	.fm-footnote-txt {
		padding-left: 5px;
	}

	&.meals-selection .confirmation-prompt {
		padding: 10px 20px;
	}

	.bsp-flights-cost__details .sub-total {
		.grand-total__title {
			font-size: 14px;
		}

		:first-child {
			width: 55%;
		}
	}

	span.bsp-addons__flightinfo {
		font-weight: 700;
		margin: 3px 0;
	}

	.premium-meal-modal {
		.sub-heading-1--blue {
			font-weight: 500;
		}

		.popup__inner {
			max-width: 520px;
		}

		.button-group-1 {
			margin-bottom: 20px;
			margin-top: 20px;
		}

		.btn-2 {
			background-color: #566a8f;
			padding: 15px 30px 13px;
			font-size: 13px;
			font-weight: 500;
		}

		.btn-1 {
			padding: 15px 30px 13px;
			font-size: 13px;
			font-weight: 500;
		}
	}

	.meal-of-bah {
		.fm-footnote-txt .fm-dish-text {
			width: auto;
			margin-right: 10px;
			margin-top: 8px;
		}

		.fm-footnote-logo.ico-5-Spicy {
			font-size: 22px;
		}

		.confirmation-prompt {
			background-color: #e5e9f0;

			.button-group-1>* {
				width: 25%;
				font-size: 13px;
			}

			.meal-sub-title-blue {
				width: 65%;
				max-width: auto;
				font-size: 14px;
			}
		}
	}

	.meal-price {
		color: #00266b;
		font-size: 16px;
		font-weight: 700;
		position: absolute;
		right: 20px;
		top: 30px;
	}

	.bah-label-block {
		margin-top: -15px;
		margin-left: -5px;

		.bah-logo {
			width: 28px;
		}

		.bah-text {
			font-size: 12px;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			color: #666666;
		}
	}

	.bah-meals-list {
		.promotion-item--1 {
			width: 100%;
		}

		.promotion-item.promotion-item--1.no-image {
			.meal-label {
				height: auto;

				.meal-category-desc {
					margin-top: 0px;
					width: 76%;
				}

				.ico-point-r {
					font-size: 19px;
					top: 37px;
				}

				.meal-category-title {
					font-size: 24px;
				}
			}

			.pre-order-badge {
				color: #00266b;
				background-color: #ff9f00;
				position: absolute;
				padding: 3px 8px;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 700;
				top: 1px;
				left: 1px;
			}
		}

		.price-range-block {
			position: absolute;
			right: 52px;
			top: 32px;

			.meal-price-label {
				display: block;
				font-size: 12px;
				font-weight: 700;
				margin-bottom: -2px;
			}

			.meal-price {
				font-weight: 700;
				position: relative;
				right: auto;
				top: auto;
			}
		}
	}

	.bah-accordion-block {
		.fm-accordion-label .fm-ico-text.select-change-container {
			top: 35px;
		}

		.fm-accordion-label .ico-point-d {
			top: 36px;
		}

		&.active {
			.fm-ico-text.select-change-container {
				display: none;
			}

			.fm-accordion-label .ico-point-d {
				top: 38px;
			}
		}
	}
}

.meals-selection-bah-long {
	.fm-inf-menu-desc {
		margin-bottom: 0;

		p {
			margin: 3px 0;
		}
	}

	&.meals-selection {
		.fm-inf-menu {
			padding: 25px 20px 10px;

			&.no-dish-icon {
				.fm-footnote-txt {
					margin-top: 0;
					min-height: 26px;

					input {
						margin-top: -5px;
					}
				}
			}
		}

		.fm-footnote-txt {
			margin-top: 0;
			min-height: 38px;

			.fm-footnote-logo {
				font-size: 24px;
				margin-top: 5px;
				margin-bottom: 4px;
			}

			.fm-dish-text {
				margin-top: 5px;
			}
		}
	}
}

.meal-confirmation {
	.booking-details .col-2 {
		position: absolute;
		top: 38%;
		left: 65px;
		width: 80px;
		font-size: 16px;
		margin-top: -10px;
	}

	.booking-details .col-1 {
		margin-top: 0;
		top: 12%;

		em {
			font-size: 24px;
		}
	}

	.popup--flights-details.cost-breakdown-static {
		.text-bold-1 {
			color: #00266b;
			font-weight: 600;
			text-transform: capitalize;
			font-size: 16px;
		}

		.table-cost {
			margin-top: 20px;

			thead th {
				padding: 2px 0 10px;
			}

			.detail {
				font-weight: 700;
			}

			span {
				line-height: 1.5;
			}

			tbody tr:last-child td {
				padding-bottom: 15px;
			}

			tfoot td {
				border-top: 1px solid #dadada;
				border-bottom: 1px solid #dadada;
			}
		}

		.grand-total {
			.total-info {
				margin-bottom: 0px;
			}

			.total-title {
				margin-top: 20px
			}
		}

		.flights-target {
			margin-bottom: 0;
		}
	}

	.sub-heading-1--dark {
		margin-top: 50px;
	}

	.sub-heading-2--dark {
		margin-top: 25px;

		&.pax-label {
			margin-top: 35px;
			margin-bottom: 13px;
		}
	}

	.text-info-3 {
		margin-top: 30px;
	}

	.paid-with-block {
		padding: 17px 20px 18px;
		background-color: white;
		border-bottom: 2px solid #ccc;
		margin-bottom: 20px;
		margin-top: 20px;

		.price {
			font-family: "baker-signet-web", serif;
			font-size: 28px;
			color: #00266b;
			margin-top: 5px;
		}

		.label {
			color: #000000;
		}

		p {
			margin: 0;
		}
	}

	.pax-meals-details {
		background-color: white;
		padding: 20px;
		margin-top: 10px;
		border-bottom: 2px solid #ccc;
		margin-bottom: 20px;

		p {
			margin: 0;
		}

		.pax-name {
			color: #00266b;
			font-size: 16px;
			font-weight: 600;
		}

		.flight-details-block {
			background-color: #f7f7f7;
			padding: 20px;
			margin-top: 10px;

			.flight-details {
				font-weight: 600;
				font-size: 16px;
				color: #00266b;
			}

			.meals-details-block {
				.booking-details.booking-details--2 {
					margin-top: 10px;

					p {
						color: black;
					}

					.col-3 .has-cols {
						padding-left: 20%;
					}

					.target-info {
						color: #666666;
					}
				}
			}
		}
	}

	.button-group-1 {
		margin-top: 40px;
	}
}

.meals-selection {
	.remove-prompt {
		background-color: #fff5e5;
		padding: 10px;
		position: relative;
		margin-bottom: 20px;

		.ico-alert {
			font-size: 30px;
			color: #ffa000;
			float: left;
			margin-top: 10px;
		}

		.meal-sub-title-black {
			font-size: 14px;
			width: 65%;
			margin-left: 55px;

			span {
				font-weight: 700;
			}
		}

		.button-group-1 {
			width: 40%;
			position: absolute;
			right: 25px;
			top: 25%;
		}
	}

	.accordion-wrapper-content {
		position: relative;

		.all-meals-list {
			width: 100%;
		}
	}

	.confirmation-prompt.confirmation-remove--blue {
		.meal-sub-title-black {
			width: 48%;
		}
	}

	.title-4--blue {
		font-weight: 700;
	}

	.accordion__content {
		position: relative;
		outline: none;
		padding-bottom: 42px;
	}

	.meal-label {
		background-color: #f5f5f5;
		padding: 20px;

		span {
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			font-size: 21px;
			color: #00266b;
			font-weight: 600;
		}

		em {
			position: absolute;
			right: 10px;
			font-size: 18px;
		}
	}

	.meal-sub-menu-wrap.book-the-cook {
		min-height: 530px;
	}

	.infant-meal-wrap {
		.meals-list {
			hr {
				margin-top: 25px;
			}
		}

		.fm-backtomeals-btn {
			display: none;
		}

		.infant-meals {
			.fm-title-blue {
				margin-top: 20px;
				margin-bottom: 10px;
			}

			.confirmation-prompt {
				background-color: #E2EBF1;

				.meal-sub-title-blue {
					width: 70%;

					span {
						font-weight: 700;
					}
				}

				.button-group-1 {
					width: 40%;
					position: absolute;
					right: 25px;
					top: 25%;
				}

				&.confirmation-prompt--blue {
					background-color: #E5E9F0;
					border-top: #3A6CC7;
				}
			}
		}
	}

	.a-la-carte {
		.accordion__control {
			.fm-accordion-label {
				margin-bottom: 15px;
			}

			.ico-point-d {}
		}

		.accordion-box {
			background-color: #f7f7f7;
			border: none;
		}

		.accordion-component {
			.fm-inf-menu {
				background: white;
			}
		}
	}

	.book-the-cook,
	.special-meal {
		.search-result-msg {
			font-size: 15px;
			font-weight: 600;
			color: #000000;
			margin-top: 25px;
			margin-bottom: 25px;
		}

		.search-heading {
			font-size: 18px;
			color: #00266b;
			margin: 30px 0 10px;
		}

		.static-content {
			margin-bottom: 20px;
		}

		.tab-select {
			left: auto;
			width: 150px;
			right: 0;
		}

		.more-item {
			display: none;
		}

		.no-result {
			// height: 30px;
		}

		.fm-footnote-txt {
			margin-top: 25px;
			position: relative;
			margin-bottom: -8px;
			min-height: 45px;

			.fm-dish-text {
				display: inline-block;
				vertical-align: middle;
				padding: 2px 0;
				width: 42%;
				font-size: 12px;
				margin-left: -6px;
			}

			.fm-select-btn {
				background: none;
				border: none;
				color: #0254EC;
				font-weight: bold;
				margin-top: 15px;
			}
		}

		.search-results .fm-dish-text {
			width: 30%;
		}

		.search-results .title-4--blue {
			margin-top: 22px;
			margin-bottom: 8px;
			font-size: 16px;
		}

		.load-more {
			height: 50px;
			background: #ffffff;
			border: 1px solid #ccc;
			padding: 0;
			margin-bottom: 0;
			text-align: center;

			input {
				font-weight: 700;
				background: none;
				border: none;
				color: #0254EC;
				width: 100%;
				height: 100%;
			}
		}

		.fm-inf-menu {
			background-color: #ffffff;
			padding: 28px 20px 10px;
			position: relative;

			&.with-image {
				padding: 0;

				.confirmation-prompt.confirmation-remove--blue {
					margin: 0;
				}

				img {
					width: calc(40% - 30px);
				}

				.meal-selection-info {
					float: left;
					width: 60%;
					margin-top: 25px;
					margin-left: 20px;
					margin-right: 10px;
				}

				.fm-footnote-txt {
					position: absolute;
					bottom: 5px;
					margin-top: 0;
					margin-bottom: 0;

					.fm-dish-text {
						width: 65%;
					}
				}

				.fm-select-btn {
					position: absolute;
					right: 38%;
					bottom: 18px;
				}
			}

			.special-badge {
				position: absolute;
				top: 0;
				left: 0;
				background: #FF9F00;
				padding: 4px 7px;
				font-size: 12px;
				font-weight: bold;
				color: #00266b;
			}
		}

		.fm-inf-menu-desc {
			width: 100%;
		}

		.fm-inf-menu-title {
			margin-bottom: -5px;
		}

		.fm-select-btn {
			background: none;
			border: none;
			color: #0254EC;
			font-weight: bold;
			margin-top: 20px;
		}

		.booking-nav__item {
			display: block;
			background-color: #ffffff;
			position: relative;
			width: 90%;
			height: auto;
			border-top: transparent;
			border-bottom: transparent;

			a {
				display: block;
				width: 100%;
				height: 100%;
				padding: 20px;
			}

			&.active {
				background-color: #F6F6F6;
				padding-right: 10px;
				border-bottom-color: transparent !important;
				border-left: #ff9f00 3px solid;

				.passenger-info__text {
					font-weight: 700;
					color: #00266b;
				}
			}
		}

		.booking-nav__shadow {
			display: none;
		}
	}

	.confirmation-prompt {
		background-color: #FFF5E5;
		margin: 15px -20px -10px;
		position: relative;
		padding: 10px 12px;

		.ico-alert {
			font-size: 30px;
			color: #ffa000;
			float: left;
			margin-top: 10px;
		}

		.meal-sub-title-black {
			font-size: 14px;
			width: 84%;
			margin-left: 55px;

			span {
				font-weight: 700;
			}
		}

		.button-group-1 {
			width: 40%;
			position: absolute;
			right: 25px;
			top: 25%;
		}

		.button-group-1>* {
			width: 30%;
		}

		.meal-sub-title-blue {
			font-size: 14px;

			span {
				font-weight: 700;
			}
		}

		&.confirmation-prompt--blue {
			background-color: #E5E9F0;
			border-top: #3A6CC7;
		}
	}

	.tab-wrapper {
		margin-top: 35px;
		min-height: 285px;
	}

	.not-eating-msg {
		margin-left: 22px;
	}

	.seatmap {
		background: #F6F6F6;
		margin-left: 190px;
		min-height: 491px;
		padding: 20px;
		text-align: left;
	}

	.tab-content .blk-heading {
		padding-top: 20px;
	}

	.sidebar {
		width: 180px;
		bottom: unset !important;
	}

	.passenger-info__text {
		text-transform: none;
		color: #000000;
		font-weight: normal;
		font-size: 16px;
	}

	.meal-sub-title-blue {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		color: #00266b;
		font-size: 16px;
		max-width: 59%;
	}

	.meal-sub-title-black {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		color: #000000;
		font-size: 16px;
	}

	.fm-title-4--blue {
		font-weight: 700;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 20px;
		color: #00266b;
		margin-top: 25px;
		margin-bottom: 15px;
	}

	.meal-service-name {
		color: #000;
		font-size: 16px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-weight: bold;
	}

	.flight-ind {
		color: #666;
		font-weight: 400;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16px;
	}

	.m-accordion-wrapper {
		margin-top: 10px;
	}

	.fm-wrap {
		width: 300px;
	}

	.meal-menu {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		display: table;
		width: 88%;
		text-align: left;

		li {
			min-width: 82px;
			padding-right: 10px;
			display: table-cell;

			span {
				display: block;
			}
		}

		li:nth-child(2) {
			width: 25%;
		}

		li:nth-child(3) {
			width: 75%;
			font-weight: 700;
		}

		.title-selected {
			display: inline-block;
			font-weight: normal;
		}
	}

	.meal-info {
		margin-bottom: 50px;
	}

	.flightmeal-control {
		margin-top: 10px;
		margin-bottom: 30px;
	}

	.not-eating-supper {
		margin-top: 30px;
		border: 1px solid #ccc;
		padding: 20px;
		color: #000000;

		label.fm-cbox {
			color: #000000;
			font-size: 16px;
		}
	}

	.accordion-box {
		border-bottom: 0;
		border: 1px solid #ccc;
	}

	.fm-backtomeals-btn {
		height: 50px;

		&.floater {
			position: absolute;
			top: 0;
			width: 100%;
		}

		.btn-back {
			font-weight: 700;
			position: absolute;
			top: 25px;
		}
	}

	.fm-title-blue {
		font-size: 18px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		color: #00266b;
		font-weight: 700;
		margin-bottom: 15px;
		margin-top: 20px;
	}

	.fm-title2-black {
		font-size: 18px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		color: #000000;
		font-weight: 700;
		margin: 5px 0 10px;
	}

	.fm-inf-menu {
		border: 1px solid #ccc;
		padding: 28px 20px 10px;
		margin-bottom: 10px;
		position: relative;

		.fm-inf-menu-select-badge {
			background: #cdf0cf;
			border: none;
			color: #03760B;
			position: absolute;
			top: 0;
			right: 0;
			font-weight: 700;
			padding: 3px 5px 2px 7px;
			display: none;
		}

		&.selected {
			border-color: #03760b;

			.fm-inf-menu-select-badge {
				display: block;
			}
		}

		&.int-prompt {
			border: 1px solid #053885;
		}
	}

	.fm-inf-menu-title {
		font-size: 18px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		color: #00266b;
	}

	.fm-inf-menu-desc {
		color: #000;
		font-size: 14px;
		width: 96%;
	}

	.fm-footnote-txt {
		margin-top: 25px;
		position: relative;
		margin-bottom: -8px;
		min-height: 45px;

		.fm-footnote-logo {
			display: inline-block;
			vertical-align: middle;
			padding: 3px 0;
			line-height: 0;
			margin-left: -10px;
			color: #00266b;
			font-size: 27px;
		}

		.fm-dish-text {
			display: inline-block;
			vertical-align: middle;
			padding: 2px 0;
			width: 30%;
			font-size: 12px;
			margin-left: -6px;
		}

		input {
			margin-top: 10px;
		}

		.btn-wrap-view-only {
			span.btn-small {
				background-color: #d8d9e4;
				font-size: 12px;
				bottom: 16px;
				right: 0;
				position: absolute;
				color: #00266b;
				padding: 4px 8px;
			}

			span.onboard {
				right: 0;
				position: absolute;
				bottom: 2px;
				font-size: 12px;
			}
		}
	}

	.fm-select-btn {
		background: none;
		border: none;
		color: #0254EC;
		font-weight: bold;
		margin-top: 15px;
	}

	.fm-ysh-choice {
		font-weight: 700;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 12px;
		color: #00226B;
		background-color: #FF9F00;
		padding: 5px;
		position: absolute;
		top: 0;
		left: 0;
	}

	.fm-table-wrapper {
		position: relative;
		height: 165px;

		.fm-table-left {
			float: left;
			width: 50%;
		}

		.fm-table-right {
			position: absolute;
			right: 75px;
		}
	}

	.fm-table-inner {
		td {
			padding: 8px 0;
		}

		td:first-child {
			padding-right: 25px;
			font-weight: 700;
			font-size: 12px;
			color: #666666;

			span {
				position: absolute;
				margin-top: -16px;
			}
		}

		td:nth-child(2) {
			font-weight: 700;
			color: #00226B;
			font-size: 14px;

			span {
				display: block;
			}
		}
	}

	.meals-selection-content {
		overflow-x: hidden;
	}

	.promotion-conditions {
		width: 100%;

		.promotion-conditions-text {
			dl {
				dt {
					font-size: 12px;
					font-weight: 700;
					width: 28%;
				}

				dd {
					width: 72%;

					span {
						font-size: 14px;
					}
				}
			}
		}
	}

	.static-content {
		.static-details {
			.btc-search {
				position: relative;

				em.ico-search {
					padding: 10px;
					position: absolute;
					top: 0;
					z-index: 1;
					font-size: 15px;
					color: #00266b;
				}

				button {
					top: 0;
					position: absolute;
					right: 0;
				}

				span {
					width: 76%;

					input {
						padding-left: 25px;
					}
				}
			}

			a.clear-search {
				position: absolute;
				top: 10px;
				right: 135px;
				font-size: 13px;

				em {
					font-size: 7px;
					margin-top: -4px;
					margin-right: 2px;
				}
			}
		}
	}

	.block-inner .flightmeal-control {
		a:hover {
			outline: solid 1px #0254ec;
		}

		&.disable-accordion {
			.accordion__control .fm-accordion-label {
				em {
					display: none;
				}

				span {
					color: #808080;
				}
			}
		}
	}

	.accordion__control {
		.fm-accordion-label {
			margin-bottom: 7px;
		}

		span.fm-ico-text {
			font-size: 14px;
			color: #0254EC;
			font-weight: bold;
			position: absolute;
			top: 24px;
			right: 25px;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;

			&.selected {
				color: #007300;
				width: 78%;
			}
		}

		em {
			color: #0254EC;
			top: 25px;
			margin-top: auto;
		}

		&.active {
			.fm-ico-text {
				display: none;
			}

			em {
				top: 27px;
			}
		}
	}

	.flight-item__info-1 .info-promotions,
	.flight-item__info-2 .info-promotions {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}

	.flight-item__info-2 {
		right: 10px;
		bottom: 12px;

		em.ico-point-r {
			font-size: 15px;
		}
	}

	.promotion-item {
		&.promotion-item--1.no-image {
			.meal-label {
				height: 95px;

				&.epe-meal-container {
					min-height: 52px;
					height: auto;
					line-height: 1em;
					padding-top: 30px;

					.meal-category-desc {
						margin-top: 10px;
					}

					span {
						font-size: 24px;

						&.inflight-badge {
							font-size: 14px;
						}
					}
				}
			}
		}

		.overlay-meal {
			display: none;
		}

		&.meal-not-ready {
			&.no-image {
				.overlay-meal {
					display: none;
				}

				.overlay-not-available {
					display: none;
				}

				.meal-label {
					height: 95px;

					.meal-category-desc {
						display: none;
					}

					.not-available-text {
						display: block;
						background: #E5E9F0;
						padding: 10px;
						position: 0;
						color: #00266b;
						width: 91%;
						border: 1px solid #c9ced8;
						margin-bottom: 0;
						margin-top: 9px;
					}
				}
			}

			.overlay-meal {
				display: block;

				.not-available-text {
					background: #E5E9F0;
					padding: 12px 15px;
					z-index: 100;
					position: absolute;
					left: 15px;
					top: 53px;
					color: #00266b;
					width: 80%;
				}

				.overlay-not-available {
					position: absolute;
					background: #000000;
					width: 100%;
					z-index: 25;
					height: 75%;
					opacity: 0.5;
				}
			}

			.meal-label {

				span,
				em {
					color: #666666;
				}
			}
		}

		.meal-label {
			.meal-category-desc {
				color: #000000;
				margin-bottom: 0;
			}

			.not-available-text {
				display: none;
			}

			.view-only-btn {
				display: none;
			}
		}

		&.view-only {
			.meal-label {
				.view-only-btn {
					display: block;
					position: absolute;
					top: 63%;
					left: 2%;
					padding: 5px 12px;
					border-radius: 4px;
					color: #00266b;
					font-size: 13px;
					font-weight: 600;
					/* text-transform: capitalize; */
					background-color: #c2c2c2;
				}
			}

			&.no-image {
				.view-only-btn {
					display: block;
					position: absolute;
					top: 74%;
					left: 4%;
				}
			}
		}
	}

	.passenger-selection-menu {
		margin-bottom: 0;
	}

	.custom-checkbox input.checked+label,
	.custom-checkbox input:checked+label {
		color: #00266b !important;
		font-weight: 700;
	}

	.pax-list .pax-slider {
		position: relative;
		overflow: hidden;

		&.pax-start {
			button {
				&.slider-btn-left {
					display: none !important;
				}
			}

			ul {
				padding-left: 0;
			}
		}

		&.pax-end {
			ul {
				padding-left: 33px;
			}

			button {
				&.slider-btn-right {
					display: none;
				}
			}
		}

		&.double-pax {
			button {
				display: none;
			}

			ul {
				padding-left: 0;

				li {
					width: calc(50% - 1px);

					&:first-child {
						border-right: 0;
					}

					// box-sizing: border-box;
				}
			}
		}

		&.three-pax {
			ul#paxListWrapper {
				padding-left: 0;
			}
		}

		button {
			height: 100%;
			position: absolute;
			z-index: 1;
			width: 20px;
			background-color: #99a8c4;
			border: solid 1px #99a8c4;

			em {
				color: #ffffff;
				font-size: 13px;
				font-weight: bold;
				margin-top: -5px;
			}

			&.slider-btn-right {
				right: 0;
				position: absolute;
				top: 0;
			}

			&.slick-hidden {
				display: none;
			}
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			height: 70px;
			padding-left: 28px;
			overflow: hidden;
			z-index: 0;
			-webkit-transition: padding 0.6s ease-in-out;
			-moz-transition: padding 0.6s ease-in-out;
			-ms-transition: padding 0.6s ease-in-out;
			-o-transition: padding 0.6s ease-in-out;
			transition: padding 0.6s ease-in-out;

			.pax-nav {
				float: left;
				width: 320px;
				height: 68px;
				background: #e5e9f0;
				position: relative;
				border-right: 1px solid #ccc;
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				-webkit-transition: background-color 0.6s ease-out;
				-moz-transition: background-color 0.6s ease-out;
				-ms-transition: background-color 0.6s ease-out;
				-o-transition: background-color 0.6s ease-out;
				transition: background-color 0.6s ease-out;

				&:first-child {
					border-left: 1px solid #ccc;
				}

				&:hover {
					background-color: rgba(0, 38, 107, 0.2);
				}

				a {
					color: #000000;
					width: 100%;
					height: 100%;
					position: absolute;

					span {
						top: 22px;
						position: absolute;
						left: 25px;
						font-size: 18px;
						font-weight: 700;
						width: 90%;
					}
				}

				&.active {
					background-color: #00266b;
					border-color: #00266b;

					&:hover {
						background-color: rgba(0, 38, 107, 1);
					}

					a {
						color: #ffffff;
					}
				}
			}
		}
	}

	.block-2 {
		.block-inner {
			position: relative;
		}
	}

	.alert-block {
		&.checkin-alert {
			margin-top: 15px;
			margin-bottom: 12px;
			padding: 5px 18px;

			.alert__icon {
				padding: 4px 12px 4px 0;
			}
		}

		&.info-box {
			margin-top: 0;
			margin-bottom: 12px;
			padding: 10px 0 10px 10px;

			.alert__icon {
				padding: 0 12px 0 0;
			}

			.alert__message {
				color: #00266b;
			}
		}
	}

	/* animations */
	.meals-accordion-wrapper {
		display: block;
		position: relative;
		@include prefix(transition, all 0.6s ease-in-out, webkit moz ms o);

		&.pre-slide-out {
			position: absolute;
			top: 30px;
			left: 20px;
			width: calc(100% - 40px);
		}
	}

	.meals-main-menu-wrap {
		position: relative;
		z-index: 0;
		padding: 0 2px;

		transition: opacity 0.3s linear;

		&.sub-menu-on {
			position: absolute;
			opacity: 0;
			max-width: 100%;
		}
	}

	.meal-sub-menu-wrap {
		position: relative;
		background-color: #ffffff;
		z-index: 2;
		/*min-height: 490px;*/
		@include prefix(transition, all 0.4s ease-in-out, webkit moz ms o);

		&.pre-slide-in-left {
			@include prefix(transform, translateX(-108%), webkit moz ms o);
		}

		&.pre-slide-right {
			@include prefix(transform, translateX(108%), webkit moz ms o);
		}
	}

	.slide-out-left {
		@include prefix(transform, translateX(-108%), webkit moz ms o);
	}

	.pre-slide-in-right {
		@include prefix(transform, translateX(108%), webkit moz ms o);
	}

	.spml-confirmation-prompt {
		display: block;
		margin: 0 0 10px;
	}

	.past-meals-wrap {
		display: block;
		position: relative;
		width: 100%;

		// margin-left: -10px;
		// margin-right: -10px;
		.past-meals-slider {
			display: block;
			position: relative;
			width: 100%;
			overflow-x: hidden;
		}

		.past-meals-container {
			display: flex;
			flex-wrap: nowrap;
			justify-items: flex-start;
			align-content: flex-start;
			position: relative;

			&.past-meals-slick {
				display: block;

				.fm-inf-menu {
					display: block;
					float: left;
					min-width: 400px;
					max-width: 400px;
				}
			}
		}

		.remove-prompt.past-meal-prompt {
			display: block;
			position: relative;
			margin-top: 10px;
		}

		.slick-dots {
			position: absolute;
			bottom: -20px;

			li {
				margin: 0 5px;

				button {
					background-color: #D8D8D8;
				}

				&.slick-active {
					button {
						background-color: #FF9F00;
					}
				}
			}
		}

		.fm-inf-menu {
			width: calc(50% - 10px);
			min-height: 156px;
			border-color: #D8D8D8;
			padding: 15px 22px;
			margin: 0 5px;

			&:last-child {
				margin-right: 0;
			}

			&:first-child {
				margin-left: 0;
			}

			.fm-inf-menu-select-badge {
				display: none;
			}

			&.selected {
				border-color: #03760b;

				.fm-inf-menu-select-badge {
					display: block;
				}
			}
		}

		.fm-inf-menu-title {
			line-height: 1.16em;
			margin-bottom: 3px;
		}

		.fm-inf-menu-sub-title {
			font-size: 12px;
			color: #666666;
			font-weight: 400;
			line-height: 1.16em;
			margin-bottom: 12px;
		}

		.fm-inf-menu-desc {
			font-size: 14px;
			font-weight: 400;
			color: black;
			line-height: 1.14em;
			margin-bottom: 22px;
		}

		.fm-footnote-txt {
			margin: 0;
			min-height: 20px;
			text-align: right;

			input {
				display: inline-block;
				float: none;
				margin: 0;
			}
		}
	}

	.hr-line.past-meal {
		border: 0;
		border-top: 1px solid #CCCCCC;
		margin: 20px 0;
	}

	.past-meal__btn {
		border: 0;
		background: none;
		position: absolute;
		// top: 235px;
		// top: 40%;
		top: 60px;
		// transform: translateY(-50%);
		display: block;
		width: 30px;
		height: 60px;
		margin: 0;
		padding: 0;
		background-color: #2275D3;
		z-index: 11;
		transition: 0.3s opacity ease-in-out;
		color: white;

		&:hover {
			opacity: 0.6;
		}

		&.slider-btn-left {
			left: -20px;
			border-top-right-radius: 60px;
			border-bottom-right-radius: 60px;
		}
	
		&.slider-btn-right {
			right: -20px;
			border-top-left-radius: 60px;
			border-bottom-left-radius: 60px;
		}
	}

	.ico-point-l {
		transform: translate(-5px, -2px)
	}

	.ico-point-r {
		transform: translate(5px, -2px)
	}
}

.meals-selection-economy {

	/*--------------------------------Migration starts Here--------------------------*/
	.block-2.block-2-forCss {
		border-bottom: none;
		margin: 0 0 40px 0;
	}

	.promotion-item__inner.book-the-cook-menu {
		&.meals-menu-item {
			margin-bottom: 10px;
		}
	}

	.fm-ico-text {
		display: inline;
	}

	.inflight-confirmation-prompt {
		margin: -18px 0px 29px 20px;
		padding: 8px 14px;

		.inflight-ico-alert {
			margin-top: 2px;
		}
	}

	.meal-menu-remove-button {
		color: #0254EC;
		font-weight: 700;
		margin-left: 7px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}

	.inflight-link-undo {
		font-weight: 700;

		em {
			font-size: 6px;
			margin-bottom: 4px;
		}
	}

	.promotion-item {
		width: 100%;
	}

	.flight-item {
		.meal-label {
			padding: 25px 20px;
			background-color: #fff;
			border: solid 1px #ccc;

			&.selected-border {
				border: 1px solid #03760b;
			}

			&.ml-inflight-container {
				.inflight-inner-container {
					font-size: 16px;

					.pull-right.select-label {
						float: right;
						background: none;
						border: none;
						color: #0254EC;
						font-weight: bold;
						font-size: 14px;
					}
				}
			}

			.inflight-badge {
				background: #cdf0cf;
				border: none;
				color: #03760B;
				position: absolute;
				top: 1px;
				right: 1px;
				font-size: 12px;
				font-weight: 700;
				padding: 3px 5px 2px 7px;
			}

			.ico-point-r {
				display: block;
				margin-right: 10px;
				font-size: 14px;
				vertical-align: middle;
				top: 40px;
			}
		}
	}

	.inflight-economy-hr {
		margin-bottom: 29px;
	}

	.horizontal-line {
		display: block;
		unicode-bidi: isolate;
		-webkit-margin-before: 0.5em;
		-webkit-margin-after: 0.5em;
		-webkit-margin-start: auto;
		-webkit-margin-end: auto;
		overflow: hidden;
		border-style: inset;
		border-width: 1px;
		margin-bottom: 35px;
		margin-left: 20px;
	}

	.hr-line {
		// opacity: 0.4;
		border: 1px solid;
		opacity: 0.15;
	}

	.accordion-box {
		margin: 0 0 10px 0;
	}

	.meals-selection-content {
		padding-bottom: 8px;
		padding-top: 16px;
	}

	.fm-accordion-label {
		.meal-menu {
			li {
				&:nth-child(3) {
					width: 75%;
				}
			}
		}

		.fm-ico-text.select-change-container {
			font-size: 15px;
			top: 21px;
		}
	}

	.accordion__control {
		padding-top: 20px;
		padding-bottom: 20px;

		.fm-accordion-label {
			margin-bottom: 0;
		}

		&.active {
			.fm-ico-text {
				display: none;
			}

			.ico-point-d {
				top: 24px;
			}
		}

		.ico-point-d {
			top: 22px;
		}

		.title-selected {
			display: inline-block;
			font-weight: normal;
		}
	}
}

/***********************************************MEDIS QUERY***************************************************/
@media screen and (max-width: 1023px) {
	.meals-selection-bah {
		.fm-accordion-label .meal-menu li:nth-child(3) {
			padding-right: 40px;
		}

		.bah-meals-list .promotion-item.promotion-item--1.no-image {
			.premium-meals {
				.price-range-block {
					top: 40px;
				}

				.ico-point-r {
					font-size: 19px;
					top: 50px;
				}
			}
		}

		.meal-of-bah .confirmation-prompt .meal-sub-title-blue {
			width: 55%;
		}
	}

	.meals-payment {
		&.payments-topup {
			.booking-details .col-2 {
				top: 40%;
			}
		}

		.accordion-component {
			.pax-meals-details .flight-details-block .meals-details-block .booking-details.booking-details--2 .col-3 .has-cols {
				padding-left: 30%;
			}
		}
	}

	.meal-confirmation {
		&.confirmation-topup {
			.booking-details .col-2 {
				position: absolute;
				top: 50%;
				left: 65px;
				width: 80px;
				font-size: 16px;
				margin-top: -10px;
			}

			.booking-details .col-1 {
				margin-top: -18px;
				top: 50%;
			}
		}

		.booking-details .col-2 {
			position: absolute;
			top: 32%;
		}

		.pax-meals-details {
			.flight-details-block {
				.flight-details {
					margin: 0;
				}

				.meals-details-block {
					.booking-details.booking-details--2 {
						.col-3 {
							margin: 0px 0px 0 140px;

							.has-cols {
								padding-left: 25%;
							}
						}
					}
				}
			}
		}
	}

	.meals-selection {
		.remove-prompt .meal-sub-title-black {
			width: 54%;
		}

		.confirmation-prompt.confirmation-remove--blue {
			.meal-sub-title-black {
				width: 44%;
			}
		}

		.meal-sub-menu-wrap {
			min-height: 540px;
		}

		.promotion-item.view-only .meal-label .view-only-btn {
			top: 58%;
		}

		.promotion-item.promotion-item--1.no-image .meal-label {
			height: 112px;
		}

		.promotion-item.meal-not-ready.no-image .meal-label .not-available-text {
			font-size: 13px;
			padding: 8px 8px;
		}

		.pax-list .pax-slider ul .pax-nav a span {
			left: 25px;
		}

		.promotion-item .meal-label {
			padding: 12px 15px;

			span {
				font-size: 18px;
			}

			.ico-point-r {
				font-size: 16px;
			}
		}

		.meals-selection .meal-sub-menu-wrap.book-the-cook {
			min-height: 330px;
		}

		.fm-footnote-txt .fm-dish-text {
			width: 42%;
		}

		.seatmap {
			min-height: auto;
		}

		.confirmation-prompt {
			padding: 2px 20px;

			.meal-sub-title-blue {
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				color: #00266b;
				width: 52%;
			}

			.button-group-1 {
				width: 52%;
				position: absolute;
				right: 25px;
				top: 28%;
			}

			.button-group-1>* {
				width: 25%;
			}
		}

		.pax-list .pax-slider {
			ul {
				li {
					width: calc(50% - 1px);
				}
			}
		}

		.book-the-cook,
		.special-meal {
			.static-content {
				.static-details {
					.clear-search {
						right: 10px;
					}

					.btc-search {
						span {
							width: 56%;
						}

						.btn-1 {
							right: 135px;
						}
					}
				}
			}

			.form-seatmap {

				// min-height: 440px;
				.seatmap {
					margin-left: 0px;
				}

				.sidebar {
					width: 100%;
					position: relative;
					height: 45px;
					margin-bottom: 0;

					.inner {
						left: auto;
						padding-right: 0;
						width: 100%;

						.booking-nav {
							width: 100%;
							list-style-type: none;
							display: inline-flex;
							height: 45px;

							li:nth-child(1) {
								border-left: 1px solid #ccc;

								&.active {
									border-left: none;
								}
							}

							li:nth-child(2) {
								border-left: 1px solid #ccc;
							}

							li:nth-child(3) {
								border-left: 1px solid #ccc;
								border-right: 1px solid #ccc;

								&.active {
									border-left: none;
								}
							}

							li {
								border-top: 1px solid #ccc;

								// width: 25%;
								&.booking-nav__item {
									text-align: center;
									width: 38%;
									padding: 0;

									a {
										padding: 10px 3px;
										width: 96%;
										height: auto;

										span {
											padding-left: 0;
											padding-right: 0;
											margin-top: 0;
											text-align: center;
											float: none;
											display: block;
											// text-overflow: ellipsis;
											white-space: nowrap;
											overflow: hidden;
										}
									}
								}

								&.active {
									border-left: none;
									border-top: 3px solid #ff9f00;
									padding-right: 0;
								}

								&.more-item {
									position: relative;
									border: none;
									padding-top: 15px;
									display: block;
									text-align: center;
									width: 25%;

									a {
										span {
											margin-top: 15px;
										}

										em {
											position: absolute;
											font-size: 12px;
											margin-top: 2px;
										}
									}
								}
							}
						}
					}
				}
			}

			.tabs--1>.tab .more-item {
				display: block;
				margin-bottom: -1px;
				list-style: none;
			}

			.fm-footnote-txt {
				margin-top: 25px;
				position: relative;
				margin-bottom: -8px;
				height: 45px;

				.fm-dish-text {
					display: inline-block;
					vertical-align: middle;
					padding: 2px 0;
					width: 42%;
					font-size: 12px;
					margin-left: -6px;
				}

				.fm-select-btn {
					background: none;
					border: none;
					color: #0254EC;
					font-weight: bold;
					margin-top: 15px;
				}
			}

			.search-results {
				.fm-dish-text {
					width: 30%;
				}

				.title-4--blue {
					margin-top: 22px;
					margin-bottom: 8px;
					font-size: 16px;
				}
			}

			.fm-inf-menu {
				background-color: #ffffff;
				padding: 28px 20px 10px;
				position: relative;
				cursor: pointer;

				&.with-image {
					.confirmation-prompt.confirmation-remove--blue {
						margin: 0;
					}

					img {
						width: calc(40% - 32px);
					}

					.meal-selection-info {
						width: 60%;
						margin-right: 12px;
					}

					.fm-footnote-txt {
						.fm-dish-text {
							width: 55%;
						}
					}

					.fm-select-btn {
						right: 38%;
					}
				}

				.special-badge {
					position: absolute;
					top: 0;
					left: 0;
					background: #FF9F00;
					padding: 4px 7px;
					font-size: 12px;
					font-weight: bold;
					color: #00266b;
				}
			}

			.fm-inf-menu-desc {
				width: 100%;
			}

			.fm-inf-menu-title {
				margin-bottom: -5px;
			}

			.fm-select-btn {
				background: none;
				border: none;
				color: #0254EC;
				font-weight: bold;
				margin-top: 20px;
			}
		}

		.flight-item__info-1 .info-promotions,
		.flight-item__info-2 .info-promotions {
			font-size: 20px;
		}

		.flight-item__info-2 em.ico-point-r {
			font-size: 12px;
		}

		.promotion-item.meal-not-ready .overlay-meal .not-available-text {
			background: #E5E9F0;
			padding: 10px;
			z-index: 100;
			position: absolute;
			left: 5px;
			right: 5px;
			top: 30px;
			color: #00266b;
			width: 85%;
			font-size: 11px;
		}

		.meal-menu li:nth-child(3) {
			width: 60%;
			padding-right: 30px;
		}

		.spml-confirmation-prompt {
			display: block;
			margin: 0 0 10px;
		}

		.past-meals-wrap {
			.fm-inf-menu {
				width: calc(50vw - 114px);
				min-height: 172px;
			}

			.past-meals-container.past-meals-slick {
				.fm-inf-menu {
					min-width: auto;
					max-width: unset;
				}
			}
		}
	}

	.meals-selection-economy {
		.confirmation-prompt {
			padding: 2px 10px;
		}

		.promotion-item {
			.meal-label {
				padding: 25px 20px;
			}
		}
	}
}
