.flight-destination{
	.ico-5-star{
		color: #064ef0;
	    vertical-align: middle;
	    margin-top: 5px;
	    font-size: 18px;
	    margin-right: 3px;
	}
	.ico-star{
		color: #064ef0;
	    vertical-align: middle;
	    margin-top: 5px;
	    font-size: 18px;
	    margin-right: 3px;
	}
	.add-favourites{
		vertical-align: middle;
	    position: relative;
	    top: 5px;
	}
}