.fs-economy-page {
	.promo-code-message {
		background-color: #2275D3;
		border-radius: 2px;
		// margin-bottom: 45px;
		margin-bottom: 39px;
		padding: 5px 25px;
		.inner-promo-message {
			margin: 0 auto;
		}
		.alert__icon {
			padding: 4px 2px 4px 0;
		}
		.alert__message {
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			font-size: 14px;
			color: #fff;
			font-weight: 200;
		}
		.ico-success {
			color: #fff;
			font-size: 20px;
			line-height: 1.3;
		}
	}
	.col-price-original {
		font-family: "baker-signet-web", serif;
		font-size: 12px;
		text-decoration: line-through; // margin-bottom: 10px;
		margin-bottom: 5px;
		margin-top: -4px;
		text-align: center;
		color: #666;

		&.empty {
			text-decoration: none;
			color: transparent;
			text-indent: -200vw;
		}
	}
	&.bsp-w-bbl {
		.sort-filter {
			.sort-by {
				color: #00266b;
			}
		}
		.bsp-flights__info--group .flight-date-title {
			margin-bottom: 0;
		}
		.economy-slider .slide-item .price {
			font-size: 20px;
			.large-price {
				font-size: 20px;
			}
		}
		.bsp-booking-summary {
			background-color: transparent;
		}
		.bsp-booking-summary__content {
			padding: 17px 0;
			&.all-transition {
				.station-stop-detail {
					.ico-airplane-2 {
						top: -13px;
						line-height: 1em;
					}
				}
			}
			.flights-station__info--detail {
				line-height: 1.5em;
				.country-name {
					margin-bottom: 5px;
				}
			}
			.time {
				padding-bottom: 0px;
				padding-top: 0px;
				font-size: 12px;
				margin-bottom: 9px;
				line-height: 1em;
				display: block;
			}
			.flight-date-title {
				font-size: 12px;
				line-height: 1em;
				margin-bottom: 9px;
				margin-top: 0;
			}
			.hour {
				padding-top: 0px;
				line-height: 1em;
				margin-top: 0;
				margin-bottom: 4px;
				margin-top: 11px;
			}
			.flight-station-info {
				padding-top: 0;
				margin-bottom: 14px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.bsp-booking-summary__content-wrap {
				.flight-station-info {
					padding: 0;
					.station-stop {
						top: 30px;
					}
				}
				&.none-select {
					.flight-station-info {
						margin-bottom: 0;
						padding: 0;
						.station-stop {
							top: 39px;
						}
					}
					.station-stop-detail {
						.ico-airplane-2 {
							left: 4px;
							top: -21px;
						}
					}
				}
			}
			.bsp-booking-summary__content-control {
				.bsp-total-fare .flight-date-title {
					font-size: 12px;
				}
				&.expanded-bsp {
					.bsp-total-fare .flight-date-title {
						font-size: 12px;
					}
					.bsp-flights__info--group .flight-date-title {
						font-size: 12px;
						margin-bottom: 11px;
					}
					.flight-station-info {
						margin-bottom: 15px;
						.station-stop {
							.time {
								display: block;
								margin: 15px 0;
								padding: 0;
								width: 100%;
							}
						}
					}
				}
				.flight-station-info {
					.station-stop {
						left: 105px;
						.time {
							display: none;
						}
					}
				}
			}
		}
		.popup-booking-widget-booking-summary {
			.popup__inner {
				max-width: 860px;
			}
		}
	}
	.flight-search-filter-economy {
		background-color: transparent;
	}
	.sort-filter {
		text-align: right;
		height: 30px;
		padding-top: 10px;
		margin-right: 3px;
	}
	.sort-by {
		color: #3333ff;
		font-size: 12px;
	}
	.sort-price,
	.travel-duration,
	.arrival-time,
	.departure-time {
		color: #666666;
		font-size: 12px;
	}
	.sort-by,
	.travel-duration,
	.sort-price,
	.arrival-time,
	.departure-time {
		margin: 0 0 0 15px;
		padding-top: 5px;
		font-weight: 600;
	}
	.sort-active {
		border-bottom: 3px solid #ff8c1a;
		color: #000;
		font-size: 12px;
		padding-bottom: 5px;
	}
	.fare-summary {
		.title {
			font-size: 22px;
			margin-bottom: 25px;
		}
		.des {
			font-size: 14px;
			margin: 12px 0;
		}
	}
	.table-fare-summary {
		border-right: 1px solid #e5e9f0;
		font-size: 14px;
		.row-select {
			font-size: 13px;
		}
		.economy-fs--green-1,
		.economy-fs--green-2,
		.economy-fs--green-3,
		.economy-fs--green-4 {
			background-color: #276753;
		}
		.economy-fs--pey-1,
		.economy-fs--pey-2 {
			background-color: #5e6c6d;
		}
		.business-fs--blue-1,
		.business-fs--blue-2,
		.business-fs--blue-3 {
			background-color: #2A578A;
		}
		.business-fs--red-1 {
			background-color: #93311D;
		}
		.col-select {
			.fare-icon {
				em {
					font-size: 20px;
				}
			}
		}
		.name-header {
			font-weight: 700;
		}
		.fare-condition-th {
			border: 0px;
		}
		.head-wrapper {
			box-sizing: border-box;
			min-height: 50px;
			margin: 0;
			padding: 0 20px;
			&.fare-condition {
				span {
					padding-top: 16px;
				}
			}
			span {
				padding-top: 8px;
			}
		}
		.last-row {
			.col-select {
				padding-bottom: 0px;
				border-bottom: 0px;
				background-color: #fff;
				border-left: 1px solid #e5e9f0;
			}
		}
		.first-row {
			.cancel-sgd150-sgdastirisk {
				background-color: #f7f7f7 !important;
			}
			.col-select {
				padding-top: 15px;
				background-color: #fff;
				border-left: 1px solid #e5e9f0;
			}
		}
		.row-select:last-child {
			.col-select {
				padding-bottom: 13px;
				border-bottom: 1px solid #e5e9f0;
			}
		}
		.row-select {
			.col-select {
				border-left: 1px solid #e5e9f0;
			}
		}
		.row-head-select {
			font-weight: 400;
		}
	}
	.border-fare-family {
		border-left: 1px solid #fff;
		border-top: 0;
		border-right: 0;
		border-bottom: 0;
	}
	.fare-summary {
		padding: 0;
		background-color: transparent;
		color: #000;
		width: 72%;
		.full-fare-link {
			margin-top: 0px;
			margin-bottom: 20px;
			background-color: #fff;
			padding: 10px 0px 30px 20px;
			border-bottom: 1px solid #e5e9f0;
			border-left: 1px solid #e5e9f0;
			border-right: 1px solid #e5e9f0;
			.fare-complete {
				font-size: 14px;
				font-weight: 600;
				margin-top: 0;
			}
		}
		.note-fare {
			background: #fff;
			padding: 15px 15px 0;
			margin: 0 0 0 0;
			border-top: 1px solid #e5e9f0;
			border-left: 1px solid #e5e9f0;
			border-right: 1px solid #e5e9f0;
			.note-fare-desc {
				font-size: 12px;
				margin: 0;
			}
		}
	}
	.fare-summary-group {
		.button-group-1 {
			position: relative;
			padding-bottom: 20px;
			width: 72%;
		}
	}
	.fs-economy-scoot {
		.fare-condition-th {
			border: 1px solid #e5e9f0;
			background-color: #ddd;
		}
	}
	.optim-close {
		position: absolute;
		right: 6px;
		font-size: 12px;
		color: black;
	}
}

.edit-search-bsp-toggle {
	text-align: center;
	width: 100%;
	z-index: 3;
	margin-top: -3px;
	position: relative;
	top: 0;
	@include prefix(transition, all 0.35s ease-in-out, webkit moz ms o);
	&.bsp-sticky {
		position: sticky;
		top: 118px;
		&.booking-widget--open {
			top: 256px
		}
	}
	&.booking-widget--open {
		top: 138px;
		&.bsp-no-select {
			top: 166px;
		}
	}
	.edit-search-toggle--element {
		position: relative;
		display: inline-block;
		font-size: 0;
		vertical-align: text-top;
		margin: 0 -2px;
	}
	.esbt-txt {
		font-size: 10px;
		letter-spacing: 1px;
		color: #0254ec;
		height: 30px;
		background-color: #e5e9f0;
		font-weight: 600;
	}
	.esbt-btn {
		padding: 10px;
		font-weight: 700;
		font-size: 10px;
		text-transform: uppercase;
		background: none;
		border: 0;
		letter-spacing: 1px;
	}
}

.edit-search-bsp-toggle-1 {
	text-align: center;
	width: 100%;
	z-index: 3;
	margin-top: -3px;
	position: relative;
	top: 3px;
	&.bsp-sticky {
		position: fixed;
		top: 123px; // &.booking-widget--open,
		// &.booking-widget--open.bsp-no-select {
		// 	top: 256px;
		// }
	}
	&.booking-widget--open {
		top: 155px;
		&.bsp-no-select {
			top: 172px;
		}
	}
	.edit-search-toggle--element {
		position: relative;
		display: inline-block;
		font-size: 0;
		vertical-align: text-top;
		margin: 0 -2px;
	}
	.esbt-txt {
		font-size: 10px;
		letter-spacing: 1px;
		color: #0254ec;
		height: 30px;
		background-color: #e5e9f0;
		font-weight: 600;
	}
	.esbt-btn {
		padding: 10px;
		font-weight: 700;
		font-size: 10px;
		text-transform: uppercase;
		background: none;
		border: 0;
		letter-spacing: 1px;
	}
}

.flight-search {
	.economy-flight-bgd .col-info-select[data-target-cabinclass="First"] {
		color: #87220B;

		.head-col {
			background-color: #87220B;
		}

		&.active {
			background-color: #87220B;
			color: white;
		}
	}

	.economy-fs--pey-1[data-cc-name="First"], .name-header-family[data-cc-name="First"] {
		background-color: #93311D;
	}

	.recommended-flight-block.single-result {
		margin-top: 20px;
	}

	.table-fare-summary .economy-fs--pey-1[data-class-selected*="first"], 
	.table-fare-summary .economy-fs--pey-2[data-class-selected*="first"],
	.table-fare-summary .economy-fs--pey-1[data-class-selected*="suites"], 
	.table-fare-summary .economy-fs--pey-2[data-class-selected*="suites"] {
		background-color: #93311D;
	}
	&.fs-business {
		.economy-flight-bgd {
			.select-fare-block.business-flight--red {
				border: 1px solid #87220B;
			}
		}
	}

	.layover-time-block {
		padding-top: 12px;

		&:before {
			top: 19px;
		}
	}
}
@media screen and (max-width: 987px) and (min-width: 768px) {
	.flight-search {
		.flight-station-item .airline-info .airline-detail strong {
			display: inline;
		}
	}
}

@media screen and (max-width: 1023px) {
	.fs-economy-page.bsp-w-bbl {
		&.fs-economy-page {
			.fare-summary {
				width: 100%;
			}
			.fare-summary-group .button-group-1 {
				width: 100%;
			}
		}
		.bsp-flights__info--group:first-child .flight-station-info .station-stop-detail em {
			left: 10px;
		}
	}
	.edit-search-bsp-toggle {
		&.bsp-sticky {
			position: sticky;
			top: 120px;
			&.booking-widget--open {
				top: 356px
			}
		}
		&.booking-widget--open {
			top: 234px;
			&.bsp-no-select {
				top: 166px;
			}
		}
	}
	.is-android {
		.fs-economy-page.bsp-w-bbl {
			.bsp-flights__info--group:first-child .flight-station-info .station-stop-detail em {
				left: 10px;
			}
			.bsp-booking-summary--group.multi-city .bsp-flights__info--group .station-stop-detail .ico-airplane-2 {
				left: 15px;
				top: -14px;
			}
			.bsp-booking-summary__content-wrap {
				&.none-select {
					.flight-station-info {
						.station-stop {
							top: 38px;
							left: 120px;
						}
					}
					.bsp-flights__info--group {
						&:last-child {
							.flight-station-info {
								.station-stop {
									left: 140px;
								}
							}
						}
					}
				}
				.expanded-bsp {
					.bsp-flights__info--group {
						width: 50%;
						&:first-child {
							.station-stop {
								left: 100px;
								top: 35px;
								&:before {
									left: -10px;
									width: 32px;
								}
								.ico-airplane-2 {
									top: -14px;
								}
							}
						}
						&:last-child {
							.station-stop {
								top: 35px;
								left: 112px;
								&:before {
									left: -13px;
								}
								.ico-airplane-2 {
									left: 7px;
									top: -14px;
								}
							}
							.bsp-flights__info--inner {
								padding-left: 10px;
							}
						}
						.position-even {
							width: 50%;
						}
					}
					.flight-station-info .station-stop {
						.station-stop-detail {
							.time {
								margin: 14px 0 0;
								padding: 0 0 0 6px;
							}
						}
					}
				}
				.flight-station-info {
					padding-top: 4px;
					.station-stop {
						top: 35px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.fs-economy-page.bsp-w-bbl {
		.bsp-flights__info--group:first-child .flight-station-info .station-stop-detail em {
			left: 10px;
		}
		.bsp-booking-summary--group.multi-city .bsp-flights__info--group .station-stop-detail .ico-airplane-2 {
			left: 15px;
			top: -14px;
		}
		.bsp-booking-summary__content-wrap {
			&.none-select {
				.flight-station-info {
					.station-stop {
						top: 29px;
						left: 120px;
					}
				}
				.bsp-flights__info--group {
					&:last-child {
						.flight-station-info {
							.station-stop {
								left: 105px;
							}
						}
					}
				}
			}
			.expanded-bsp {
				.bsp-flights__info--group {
					width: 50%;
					&:first-child {
						.station-stop {
							left: 109px;
							top: 30px;
							&:before {
								left: -24px;
								width: 31px;
							}
							.ico-airplane-2 {
								top: -14px;
							}
						}
					}
					&:last-child {
						.station-stop {
							top: 30px;
							left: 125px;
							&:before {
								left: -31px;
							}
							.ico-airplane-2 {
								left: 7px;
								top: -14px;
							}
						}
						.bsp-flights__info--inner {
							padding-left: 10px;
						}
					}
					.position-even {
						width: 50%;
					}
				}
				.flight-station-info .station-stop {
					.station-stop-detail {
						.time {
							margin: 14px 0 0;
							padding: 0 0 0 6px;
						}
					}
				}
			}
			.flight-station-info {
				padding-top: 4px;
				.station-stop {
					top: 24px;
				}
			}
		}
		&.flight-search {
			.one-way {
				.expanded-bsp .bsp-flights__info--group:last-child .station-stop {
					&:before {
						left: -28px;
						width: 64px;
					}
				}
			}
		}
	}
}

.no-flow-scroll-tablet {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
