.fs-economy-page.anim-2.bsp-w-bbl.fs-economy {
	.wrap-content-list {
		.wrap-content-fs {
			@include prefix(transition, opacity 0.4s ease-in-out, moz webkit ms o);

			.recommended-flight-block {
				display: block;
				position: relative;
				height: auto;
				overflow: hidden;
				@include prefix(transition, opacity 0.6s ease-in-out, moz webkit ms o);
			}

			.change-flight-item.bgd-white.has-choose {
				@include prefix(transition, opacity 0.6s ease-in-out, webkit moz ms o);
			}

			.economy-flight-bgd, .business-flight-bgd {
				.col-info-select {
					position: relative;
					transition: all 0.35s ease-in-out;
					
					.head-col {
						z-index: 10;
					}

					.flight-result-opt-row {
						&.optional {
							height:0;
							padding: 0;
							overflow: hidden;
							top: 0;
							z-index: 9;
							

							.flight-price {
								transition: unset;
								padding: 25px 10px;
								box-sizing: border-box;
								
								width: 100%;

								position: absolute;
								top: 50%;
								left: 0;
								@include prefix(transform, translateY(-50%), webkit moz ms o);
							}

							@include prefix(transform, translate(0, 0), webkit moz ms o);
							display: block;
							top: 0;
							left: auto;

							&.anim-all {
								transition: height 0.35s linear, transform 0.35s linear, padding 0.35s linear;
							}

						}

						&.primary {
							transition: unset;
							z-index: 0;
						}
					}

					&.active {
						.flight-result-opt-row {
							&.optional {
								height: calc(100% - 40px);
								margin-top: 40px;
							}
						}
						.flight-result-opt-row {
							&.primary {
								@include prefix(transform, translate(-50%, -50%), moz webkit ms o)
							}
						}
						
					}
				}
			}
			
			.col-info-select {
				&.economy-flight--pey {
					background-color: transparent;
					.flight-result-opt-row {
						&.optional {
							background-color: #435151;
						}
					}
				}

				&.economy-flight--green {
					background-color: transparent;
					.flight-result-opt-row {
						&.optional {
							background-color: #176e54;
						}
					}
				}

				&.business-flight--blue {
					background-color: transparent;

					.flight-result-opt-row {
						&.optional {
							background-color: #053A76;
						}
					}
				}

				&.business-flight--red, &[data-target-cabinclass="First"] {
					background-color: transparent;

					.flight-result-opt-row {
						&.optional {
							background-color: #87220B;
						}
					}
				}
			}
		}

		.no-transition {
			transition: unset !important;
		}

		.select-fare-block.anim-all {
			transition-timing-function: linear;
			z-index: 10;
			position: relative;
		}

		.recommended-table {
			position: relative;
			z-index: 0;
		}
	}
}

.bsp-animate {
	display: none;
}