.flight-status-notification{
	.ico-5-flight-notification{
			color: #00266b;
			font-size: 34px;
			display: inline-block;
			margin-left: 4px;
			margin-right: 15px;
			vertical-align: middle;
		}

	.fligt-notifications{
		background: #fff;
		border-left: 2px solid #f89e1c;
		padding: 10px;
		width: 50%;

		.flight-noti{
			color: #00266b;
		    font-size: 16px;
		    font-weight: 700;
		    display: inline-block;
		    margin: 0;
		    vertical-align: middle;
		    line-height: 1.5em;
		    padding-top: 2px;

			a{
				font-weight: 500;
			}
		}

		.ico-point-r{
		    font-size: 8px;
		    position: relative;
		    left: 2px;
		}
	}
}


.landing-flight-status{
		.radio-tooltips-inner{
			margin-left: 68px;
		}

	.ico-5-flight-notification{
			color: #00266b;
			font-size: 48px;
			display: inline-block;
			margin-left: 4px;
			margin-right: 15px;
			vertical-align: middle;
			float: left;
			margin-top: 14px;
			
		}

	.fligt-notifications{
		background: #fff;
		border-left: 2px solid #f89e1c;
		padding: 10px;
		width: 100%; 

		.notification-header{
			color: #00266b;
			font-size: 16px;
			font-weight: 700;
			margin: 0;
			padding: 0;
			margin-top: 20px;

			}

		.flight-noti{
			color: #000;
	    	font-size: 14px;
	   		font-weight: 500;
	   		display: inline-block;
	    	margin: 0;
	    	width: 86%;
	   		line-height: 2em;

			a{
				font-weight: 500;
			}
		}

		.ico-point-r{
		    font-size: 8px;
		    position: relative;
		    left: 2px;
		    margin-left: -1px;
		}
	}
}