/* Sigvar Regular */
@font-face {
  font-family: 'sigvar';
  src: url("../fonts/sigvar_serial-regular-webfont.eot");
  src: url("../fonts/sigvar_serial-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sigvar_serial-regular-webfont.woff2") format("woff2"), url("../fonts/sigvar_serial-regular-webfont.woff") format("woff"), url("../fonts/sigvar_serial-regular-webfont.ttf") format("truetype"), url("../fonts/sigvar_serial-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Sigvar Italic */
// @font-face {
//   font-family: 'sigvar';
//   src: url("../fonts/sigvar_serial-italic-webfont.eot");
//   src: url("../fonts/sigvar_serial-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sigvar_serial-italic-webfont.woff") format("woff"), url("../fonts/sigvar_serial-italic-webfont.woff2") format("woff2"), url("../fonts/sigvar_serial-italic-webfont.ttf") format("truetype"), url("../fonts/sigvar_serial-italic-webfont.svg") format("svg");
//   font-weight: normal;
//   font-style: italic;
// }

/* Sigvar Light */
@font-face {
  font-family: 'sigvar';
  src: url("../fonts/sigvar_serial-light-webfont.eot");
  src: url("../fonts/sigvar_serial-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sigvar_serial-light-webfont.woff2") format("woff2"), url("../fonts/sigvar_serial-light-webfont.woff") format("woff"), url("../fonts/sigvar_serial-light-webfont.ttf") format("truetype"), url("../fonts/sigvar_serial-light-webfont.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

/* Sigvar Light Italic */
@font-face {
  font-family: 'sigvar';
  src: url("../fonts/sigvar_serial-lightitalic-webfont.eot");
  src: url("../fonts/sigvar_serial-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sigvar_serial-lightitalic-webfont.woff") format("woff"), url("../fonts/sigvar_serial-lightitalic-webfont.woff2") format("woff2"), url("../fonts/sigvar_serial-lightitalic-webfont.ttf") format("truetype"), url("../fonts/sigvar_serial-lightitalic-webfont.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}

/* Sigvar Bold */
@font-face {
  font-family: 'sigvar';
  src: url("../fonts/sigvar_serial-xbold-webfont.eot");
  src: url("../fonts/sigvar_serial-xbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sigvar_serial-xbold-webfont.woff") format("woff"), url("../fonts/sigvar_serial-xbold-webfont.woff2") format("woff2"), url("../fonts/sigvar_serial-xbold-webfont.ttf") format("truetype"), url("../fonts/sigvar_serial-xbold-webfont.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}