.fs-business{
	.popup-6 .popup__inner, .popup--payment-faqs .popup__inner{
		max-width: 510px;
	}

	.popup .popup__content {
	    padding: 30px 40px 20px;
	}

	.oal-conditions{

		.sub-heading-3--dark{
			color: #00266b;
			margin: 0;
		}

		p{
			margin-bottom: 25px;
			font-size: 13px;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			color: black;
		}
	}

	.mix{
		    color: #ba5400;
		    text-transform: none;
		    display: block;
		    font-size: 12px;
	    }

	.oal-prompt{
		padding: 5px;
		background-color: #e5e9f0;
		margin: 15px 5px;
		position: relative;
		img{
			width: 50px;
		    position: absolute;
		    top: 22px;
		    left: 25px;
		}

		p{
		    display: inline-block;
		    margin-left: 75px;
		    color: #00266b;
		}
	}
}

@media screen and (max-width: 1023px) {
  .fs-business{

  		.flight-station-item .airline-info .link-4{
  			margin-top: -1px;
  		}

		.flight-station-item .airline-info .airline-detail strong{
			display: inline!important;
		}
  	}
}