.home-kf-reward {
	.home-kf-tooltips {
		height: 60px;
		background-color: #e5e9f0;

		.radio-tooltips__text {
		    color: #00266b;
		    font-weight: 600;
		    line-height: 15px;
		  	padding-top: 12px;
		    padding-left: 17px;
		    padding-bottom: 10px;
		}

		.ico-arrow-up {
			border-bottom-color:#e5e9f0;
			left: 116px;
		}

		.kf-reward-airplane-holder {
			background-color: #00266b;
		    color: #e5e9f0;
		    width: 46px;
		    display: block;
		    height: 30px;
		    text-align: center;
		    font-size: 17px;
		    margin-left: 20px;
		    position: relative;
		    top: 16px;

		    .kf-reward-bullets {
			    margin-left: -25px;
			    padding-top: 0;

			    li {
			    	font-size: 6px;
				    list-style: none;
				    line-height: 4px;

			    }

			    li:last-child {
			    	margin-top: -1px;
			    }
			}

		    .kf-reward-airplane-icon {
		    	position: absolute;
			    top: 0;
			    left: 10px;
			    right: 0;
			    bottom: 0;
			}

			 .kf-reward-airplane-icon.ico-airplane:before {
				    line-height: 1.4em;
				    font-size: 1.3em;
				    font-weight: normal;
			}
		}

		/* Landscape */
		@media only screen 
		  and (min-device-width: 768px) 
		  and (max-device-width: 1024px) 
		  and (orientation: landscape) 
		  and (-webkit-min-device-pixel-ratio: 1) {
		  	.kf-reward-airplane-holder {
		  		top: 18px;
		  	}	
		}
	}
}


