.home-page-optimized {
	.optim-close{
		position: absolute;
		right: 6px;
		font-size: 12px;
		color: black;
	}

	[data-autocomplete-od].custom-select--2 .select__text input:focus {
		outline: none;
	}

	.acquisition-item:hover {
	 	.content {
	 		.title-5--blue {
	 			text-decoration: none;
	 		}

	 		.link-4 {
		 	   color: #00266b;
		 	}
	 	}
	}
}
