.ice-checkin-page{
    [v-cloak] {
        visibility: hidden !important;
    }


    .tooltip.popover.vue-popover-theme.open {
        .close-button {
            display: block;
            position: absolute;
            top: 5px;
            right: 8px;
            color: #999;
        }
    }
    .tooltip.popover .popover-inner {
        background: #fff !important;
    }

    .error {
        .v-select {
            background-color: #fef5f4 !important;
            border: 1px solid #ff0000;
            color: #ff0000 !important;
        }
        .custom-select {
            border: none;
            &.focus {
                border: none !important;
            }
        }
    }

    .v-popover {
        display: inline-block;
        height: auto;

        .trigger {
            margin: 0px;
        }
        .ico-alert {
            margin-left: 13px;
            color: #999;
            margin-bottom: 13px;
        }
    }

    .tooltip {
        display: block !important;
        z-index: 10000;
        .wrapper {
            width: 286px;
        }
        .tooltip-arrow {
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            margin: 5px;
            border-color: black;
            z-index: 1;
        }
        &[x-placement^="top"] {
            margin-bottom: 5px;
            .tooltip-arrow {
                border-width: 5px 5px 0 5px;
                border-left-color: transparent !important;
                // border-right-color: transparent !important;
                border-bottom-color: transparent !important;
                bottom: -5px;
                left: calc(50% - 5px);
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        &[x-placement^="bottom"] {
            margin-top: 5px;
            .tooltip-arrow {
                border-width: 0 5px 5px 5px;
                border-left-color: transparent !important;
                border-right-color: transparent !important;
                border-top-color: transparent !important;
                top: -5px;
                left: calc(50% - 5px);
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        &[x-placement^="right"] {
            margin-left: 5px;
            .tooltip-arrow {
                border-width: 5px 5px 5px 0;
                border-left-color: transparent !important;
                border-top-color: transparent !important;
                border-bottom-color: transparent !important;
                left: -5px;
                top: calc(50% - 5px);
                margin-left: 0;
                margin-right: 0;
            }
        }
        &[x-placement^="left"] {
            margin-right: 5px;
            .tooltip-arrow {
                border-width: 5px 0 5px 5px;
                border-top-color: transparent !important;
                border-right-color: transparent !important;
                border-bottom-color: transparent !important;
                right: -5px;
                top: calc(50% - 5px);
                margin-left: 0;
                margin-right: 0;
            }
        }
        &.popover {
            $color: #f9f9f9;
            .popover-inner {
                background: $color;
                color: black;
                padding: 5px;
                padding: 20px 15px;
                border-radius: 5px;
                box-shadow: 0 5px 30px rgba(black, .1);
            }
            .popover-arrow {
                border-color: $color;
            }
        }
        &[aria-hidden='true'] {
            visibility: hidden;
            opacity: 0;
            transition: opacity .15s, visibility .15s;
        }
        &[aria-hidden='false'] {
            visibility: visible;
            opacity: 1;
            transition: opacity .15s;
        }
    }

    .cabin-color.economy {
        display: block;
        padding-top: 1px;
        color: #1c5d49;
        font-weight: bold;
    }

    .name-plane {
        display: block;
        margin-top: 11px;
        color: #222;
    }

    .country-name {
        color: #000;
        text-transform: uppercase;
    }

    span {
    
        &.airline-detail{
            color: #000;
        } 
    }

    .flight-date{
        color: #000;
        font-weight: bold;
    }

    .main-inner{
        position: relative;
        margin: 50px auto 100px;
    }
    .booking-reference{
        position: absolute;
        background-color: white;
        padding: 20px;
        width: 20%;
        text-align: center;
        float: right;
        box-shadow: 2px 3px 7px -4px;
        top: 0;
        right: 0;

        .booking-text{
            border-bottom: 2px solid #ffd181;
            color: #00266b;
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 1px;
            padding-bottom: 5px;
            margin-bottom: 10px;
            text-transform: uppercase;
            display: inline-block;
        }
    
        .booking-number{
            display: block;
            font-size: 30px;
            font-weight: 700;
            color: black;
            letter-spacing: 2px;
        }    
    }
    .flight-alert{
        padding: 5px 15px;
        width: 50%;
        background-color: #fff5e6;
        margin-top: 20px;
        margin-bottom: 20px;

        .ico-alert{
            color: #f99d1c;
            font-size: 30px;
        }

        .text{
            float: right;
            margin-right: 30px;
            color: black;
            margin-top: 12px;
        }
    }

    .flight-details-wrapper{
        margin-top: 40px;
    }
    .flight-header{
        background-color: white;
        border: 1px solid #eaeaea;
        padding: 5px 20px;
        position: relative;

        .flight-sector{
            color: #00266b;
            font-size: 16px;
            font-weight: 700;
        }

        .flight-type{
           position: absolute;
            right: 0;
            color: #165d47;
            font-weight: 700;
            top: 37%;
            margin-right: 20px;
        }

        em{
            color: gray;
            margin-top: -5px;
            font-size: 16px;
        }
    }

    .flight-content{
        background-color: #f0f2f6;
        padding: 20px;

        .flight-station--inner{
            background-color: white;
            padding: 25px;
            border-radius: 5px;

            .station-stop{
                left: 150px;
                right: 155px;
                width: 40%;
            }
            .custom-checkbox--1 input + label{
                position: unset;
            }

            .pax-infant-name{
                position: absolute;
            }
        }

        .flights-info-content-details {
            // border: none;
        }

    }


    .flights-station__info--detail{
        width: 139px;
    }



    .flight-info-wrap{
        position: relative;
        padding-bottom: 15px;
        .flight-station-info{
            width:60%;
        }

        .multistop-arlineinfo{
            width: 40%;

            img{
                width: 20px;
                display: inline-block;
                position: relative;
                top: -6px;
            }
        }

        .multistop-arlineinfo{
            top: 0;
            right: 0;
            left: 67%;
            position: absolute;
        }

        .hour {
            color: black;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            font-weight: 700;
        }
    }
    .heading-1{
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-size: 28px;
        color: #00266b;
        font-weight: 700;
        line-height: 1em;
    }
    .sia-breadcrumb-wrapper{
        background-color: #f2f2f2;
        min-height: 40px;
        position: relative;

        .text{
            text-transform: uppercase;
            font-size: 12px;
            margin-left: 5px;
            color: #00266b;
            font-weight: 700;
            letter-spacing: 1px;
        }

        .breadcrumb-bg-left{
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            background-color: white;
            height: 100%;
            width: calc(100% - 988px);
        }
        .breadcrumb-inner{
            position: relative;
            margin: 0 auto;
            max-width: 988px;
        }
        .breadcrumb-inner-item{
            list-style-type: none;
            display: inline-block;
            width: calc(100%/3 - 5px);
            background-color: #f2f2f2;
            padding: 20px 0;
            position: relative;
            text-align: center;
            
            &.active{
                background-color: white;

                .arrow{
                    position: absolute;
                    right: -22px;
                    background-color: #ffffff;
                    height: 42px;
                    width: 42px;
                    top: 9px;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    z-index: 1;
                }
            }
        }

        .breadcrumb-item_info{
            text-align: center;
            margin: 0 auto;
        }

        .number{
            background-color: #ffa000;
            border-radius: 50%;
            font-size: 12px;
            color: white;
            width: 20px;
            height: 20px;
            text-align: center;
            display: inline-block;
            line-height: 20px;
        }
    }

    .booking-passenger {

        margin-bottom: -24px;

        .booking-passenger__control {
            display: block;
            position: relative;
            padding: 17px 0px 21px;
            color: #00266b;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            font-weight: 700;
            font-size: 16px;
            border-bottom: 0;
        }
    }
    .booking-passenger-content {
        padding: 0px 55px 20px 0px;
        .booking-passenger-heading{
            padding-bottom: 0;
            border-bottom: none;
        }
        .booking-passenger-list {
            margin-top: 8px;

            li{
                margin-top: 20px;
                text-transform: none;

                .pax-infant-name {
                    display:block;
                }
            }
        }
        .booking-passenger-heading {
            .custom-checkbox {
                label {
                    font-weight: 700;
                    color: #666;
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
    }

    .flight-wrap-info {
        padding: 20px;
        margin-top: 20px;
    }

    .booking-passenger__control {
        color: #00266b;
        border-bottom: 1px solid #f2f2f2;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-weight: 700;
        padding: 17px 0px 21px;
    }

    .button-group-1 {
        .btn-1 {
            margin-top: 30px;

            .disabled{
                background-color: #999;
                color: #dddddd;
            }
        }
    }
}


.ice-pax-details {
    .breadcrumb-inner-item{
            list-style-type: none;
            display: inline-block;
            width: 30%;
            background-color: #2f2f2f;
            padding: 20px 0;
            position: relative;
            text-align: center;
            
        &.active{
            background-color: white;
        }
         .number{
            background-color: #ffa000;
            border-radius: 50%;
            font-size: 12px;
            color: white;
            width: 20px;
            height: 20px;
            text-align: center;
            display: inline-block;
            line-height: 20px;
        }
    }

    .arrow{
        position: absolute;
        right: -22px;
        background-color: #ffffff;
        height: 42px;
        width: 42px;
        top: 9px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: 1;
    }

    .btn-back {
        display: none
    }

    .blk-heading {
        .main-heading {
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            font-weight: 700;
            margin-bottom: 10px;
            font-size: 24px;
        }
        .heading-notification {
            font-size: 16px;
        }
    }

    .block-content-passenger-details {
        .passenger-info__personal {
            .blk-heading {
                .sub-heading-1--blue {
                    font-weight: 700;
                }
            }
          .grid-col.one-sixth {
            width: 60%;
          }
          .grid-col .one-half {
            width: 50%;
          }
          .grid-col  .width-one-two {
            width: 25%;
          }

          .grid-col .one-fourth {
            width: 46%;
          }   
        }
    }
    .passenger-info__personal {
        .block-passenger-apis {
            border-top: 0;
            padding: 0;
        }
    }

    .container-details {
        margin-top: 40px;
    }

    .infant-block {
        display: none;
    }

    .form-passenger-detail{
        .form-group-full--1 {
            display: none;
        }
        .passenger-heading__title {
            color: #00266b;
            padding-bottom: 0;
        }
    }

    .button-group-1 {
        .button-submit-passenger {
            display: none;
        }
    }

    .block-passenger-apis {   
        .passenger-heading {
            .passenger-heading__title {
                color: #000;
                padding-bottom: 5px;
                font-weight: 600;
            }
        }
      }
}


.ice-checkin-complete {
    .main-inner {
        margin: 50px auto 150px;
    }

    .tooltip.popover.vue-popover-theme {
        top: -20px !important;
        left: 13px !important;
    }

    .tooltip.popover .popover-arrow {
        background: #fff;
        height: 10px;
        border: 1px solid #ccc;
        width: 10px;
        z-index: 999999999999999999999999999999999;
        top: 101px;
        position: absolute;
        /* border-left-color: transparent !important; */
        -webkit-transform: rotate(135deg);
        transform: rotate(136deg);
    }



    .tooltip .wrapper {
        width: 255px;
    }
    .tooltip-inner.popover-inner {
        line-height: 1.4em;
    }

    .sia-breadcrumb-wrapper {
        .breadcrumb-inner {
            .breadcrumb-inner-item {
                background: #fff;
            }
        }
    }

    .multistops-airline-info {
        .airline-detail {
            strong {
                font-size: 12px;
            }
        }
    }




    .flight-info-wrap {
        .multistop-arlineinfo {
        top: 8px;
        }
        .multistop-arlineinfo {
            img {
                width: 20px;
            }
        }
    }

    .name-plane {
        margin-top: 5px;
        font-size: 12px;
    }


    .flight-header {
        .flight-type {
            right: 0;

            .ico-check-thick{
                color:#24765d;
                font-weight: bold; 
                margin-left: 10px;

                &:before {
                    font-weight: bolder;
                }
            }
        }
    }
    .check-in-complete {
       .heading-1 {
            font-size: 26px;
            width: 25%;
            display: inline-block;
            font-family: 'sigvar';
            font-weight: 500;
            
       } 
       .cancel-flight  {
        display: inline-block;
       }
       .ico-cancel-all {
        margin-right: 5px;
        font-size: 15px;
        margin-top: -6px;
       }
    }

    .booking-passenger-content {
        padding: 0px 0px 15px 0px;
        border-top: 1px solid #f2f2f2;
        border-bottom: 0px;
    }
    .booking-confirm-heading {
        margin-bottom: 0;
        border-top:1px solid #f2f2f2;
        // border-bottom:1px solid #f2f2f2;

        .flight-sector{
            color: #00266b;
            font-size: 16px;
            font-weight: 700;
        }
        .ico-change-seat {
            font-size: 18px;
            margin-top: -10px;
        }
        .ico-cancel-all {
            font-size: 18px;
            margin-top: -10px;
        }
        .ico-get-boarding-pass {
            margin-top: -5px;
        }
        .booking-confirm-list {
             li:nth-child(1) {
                width: 38.33%;
            }
            li:nth-child(2) {
                width: 28%;
            }
            li:nth-child(3) {
                width: 33%;
            }
        }
    }

    .flights-info-content {
        position: relative;
        padding-bottom: 15px;
        // border-top: 1px solid #f2f2f2;
        padding: 15px 15px 0px 0px;


        .passenger-details-wrap {
            width: 33%;
            overflow: hidden;
            position: relative;
            float: left;

            .passenger-name {
                 font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
               p {
                color: #000;
                font-weight: 700;
                display: inline-block;
                font-size: 16px;
               }
               .elite-silver {
                    padding: 7px 7px;
                    color: #666;
                    font-size: 8px;
                    font-weight: bold;
                    text-transform: uppercase;
                    background-color: #C6C6C6;
                    border-radius: 2px;
                    vertical-align: top;
                    display: inline-block;
                    line-height: 1;
                    margin-left: 10px;
                    letter-spacing: 2px;
               }
            }
        }

    .popup--check-in-email {
        .ico-close-round-fill {
            color: #666;
            color: #666;
            font-size: 18px;
            position: relative;
            margin-top: -5px;
            margin-right: -4px;
        }
        .form-group {
            .error {
                border-color: #ff1010;
                background: #fff1f0;
            }
            .error-message {
                color: #e20000;
            }
        }
    }
       
        .flight-booking-details {
            width: 67%;
            float: left;
            .ico-change-seat, .ico-food, .ico-business-1, .ico-alert {
                color: #00266b;
                font-size: 20px;
            }

            .table-passenger-details{
                  width: 100%;
                  line-height: 25px;
                  margin-bottom: 15px;
                  position: relative;

                &.meals-row{
                    .first-row{
                        .ico-food{
                            margin-top: -25px;
                        }
                        .icon-detail{
                            margin-top: -34px;
                        }
                    }
                }



               strong {
                color: #000;
                line-height: 30px;
              }
              .first-row {
                width: 30%;
                padding: 8px;
              }
              .legroom-seat {
                width: 33%;
                padding: 0;

                .leg-seat {
                    color: #222;
                }
              }
              .second-row {
                width: 20%;
                padding: 8px;
              }
              .bundle-ico{
                background-image: url(../images/svg/icon-bundle.svg);
                height: 18px;
                background-repeat: no-repeat;
                width: 15px;
                display: inline-block;
                vertical-align: middle;
                margin-left: 5px;
                position: absolute;
                top: 14px;
                cursor: pointer;
              }
              .meal-description {
                width: 20%;
                color: #222;
              }
            }

              .add-info {
                color: #000;
              }
              .icon-detail {
                display: inline-block;
                vertical-align: -webkit-baseline-middle;
              }

            .table-passenger-details-info {
                width: 100%;
                .first-row {
                    // width: 30%;
                    padding: 8px;
                }
               .add-info {
                margin-left: 2px;
               }
               .baggage-info {
                color: #222;
               }
            }
            .ico-alert {
               font-size: 18px;
                // margin-top: -6px;
                margin-top: -4px;
            }
            .table-container {
                width: 100%;
                margin-bottom: 15px;
                line-height: 25px;
                position: relative;


                &.meals-row{
                    .first-row{
                        .ico-business-1{
                            margin-top: -30px;
                        }
                        .icon-detail{
                            margin-top: -35px;
                        }
                    }
                }
                .first-row {
                    width: 30%;
                    padding: 8px;
                }
                .table-passenger-info {
                    width: 20%;
                    color: #222;
                }
                .pass-info {
                    width: 55%;
                }
                strong {
                    color: #000;
                }
                .bundle-ico {
                    background-image: url(../images/svg/icon-bundle.svg);
                    height: 18px;
                    width: 15px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 7px;
                    position: absolute;
                    top: 28px;
                    cursor: pointer;
                }
            }
        }

       

        .baggage-allowance {
            // float: right;
            font-size: 13px;
            margin-bottom: 15px;
            margin-right: 19px;
            display: grid;
            grid-template-columns: 30.5% 3% 66.5%;

            .ico-point-r {
                font-size: 8px;
                grid-column-start: 2;
                line-height: 2;
            }
            .baggage-allowance_paragraph {
                -webkit-margin-before: 0em;
                -webkit-margin-after: 0em;
            }
        }
              
    }

    .flight-content {
        margin-bottom: 40px;
    }

    .before-you-fly-container {
        background-color: #fff;
        position: relative;
        padding: 25px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .image-container {
           width: 408px;
            height: 600px;
           //  background-color: darkolivegreen;
            display: inline-block;
            position: relative;

        img {
            height: 600px;
            width:100%;
        }
        .static-item__detail {
            position: absolute;
            /* padding: 0 20px; */
            bottom: 41px;
            left: 10%;
            width: 80%;
            padding-bottom: 15px;
            border-bottom: 1px solid white;

            .static-item__name {
                padding: 0;
                margin-bottom: 14px;
                font-size: 32px;
                font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                font-weight: 700;
                line-height: 0.9em;
                color: #fff;
            }
        }
    }

    .Essential-info {
           width: 51%;
           float: right;
           // margin-right: 15px;
           position: relative;
           // right: 25px;
        .boarding-details {
            // border-top: 1px solid #f2f2f2;
            width: 100%;
            font-size: 14px;
            tr {
                td {
                    width: 50%;
                    padding-bottom: 20px;
                    padding-left: 15px

                }
            }
            strong {
                color: #000;
            }
            span {
             display: block;
             color: #222;
             font-size: 14px;
             line-height: 1.6em;
             font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            }
            .baggage {
                display: inline-block;
                padding-top: 20px;
             }
            .duty-free-item {
                padding-bottom: 0;
            }
        }
        .boarding-details-info {
            width: 40%;
            font-size: 14px;
            margin-top: -25px;

            strong {
                color: #000;
            }
            span {
             display: block;
             color: #222;
             font-size: 14px;
             line-height: 1.6em;
             font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            }
            .lounges {
                padding-left: 15px;
            }
        }
        .heading-1 {
            font-size: 16px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f2f2f2;
            margin-top: 20px;
        }
        .weather-details {
            background-color: white;
            width: 458px;

            .heading-1 {
                border-bottom: 2px solid #f2f2f2;
                margin-top: 30px;
                padding-bottom: 15px;
            }
            .weather-condition{
                margin-top: 30px;
                width: 100%;
                margin-left: 30px;
                    li {
                        list-style: none;
                        display: inline-block;
                        width: 24%;
                         strong {
                        color: #000;
                        display:block;
                        }
                        span {
                         display: block;
                        }
                    }
            .sun {
                background-image: url(../images/sun.png);
                display: block;
                width: 50px;
                height: 50px;
                background-size: 50px;
                margin-bottom: 7px;
                }
            .cloud {
                background-image: url(../images/cloud.png);
                display: block;
                width: 50px;
                height: 32px;
                background-size: 50px;
                margin-bottom: 7px;
                }
            .rain {
                background-image: url(../images/rainy.png);
                display: block;
                width: 50px;
                height: 52px;
                background-size: 50px;
                }
            .wind {
                background-image: url(../images/wind.png);
                display: block;    
                width: 50px;
                height: 36px;
                background-size: 50px;
                margin-bottom: 5px;
                }
            }
            span {
                color: #222;
            }
        }
    }

    .footer-btn-group {
        .btn-4 {
            float: right;
            margin-right: 10px;
            background: #e5e9f0;
            color: #00266b;
        }
        .btn-1 {
            float: right;
        }

         .btn-itinerary {
            color: #00266b;
            background: #e5e9f0;
            border-radius: 4px;
            text-transform: uppercase;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            font-weight: 700;
            width: 20%;
            display: block;
            padding: 13px 1px 11px;
            text-align: center;
            float: right;
            margin-right: 10px;

            .ico-mail {
                 font-size: 19px;
            margin-top: -5px;
            margin-left: 0px;

            } 
        }
    }
    .popup--check-in-email {
        .popup__inner {
            max-width: 600px;
            .form-group {
              .input-1 {
                float: left;
                width: 50%;
                margin-bottom: 15px;
              } 
              .add-email-wrapper{
                display: inline-block;
                width: 100%;
              }
            }
        }
        .popup__heading {
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            color: #000;
            font-size: 20px;
            font-weight: 700;
        }
        .ico-close-round-fill {
            color: #666;
            font-size: 18px;
        }
        .remove-btn {
            float: left;
            display: inline-block;
            margin-top: 12px;
            margin-left: 10px;
           span {
             font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            }
            .ico-delete{
                margin-top: -6px;
            }
        }
        .email-check-in {
            p {
                color: #000;
            }
        }
    }

    .benefits {
        position: relative;
        margin-bottom: 25px;
        width: 100%;
        .assistance {
            width: 25%;
            background: #fff;
            margin-right: 10px;
            display: inline-block;
            .icon-assistance {
                width: 25%;
                display: inline-block;
                color: #000;
                background: #2275d3;
                margin: 0;
                clear: both;

                // .ico-assistance {
                //     display: inline-block;
                //     /* padding: 20px; */
                //     font-size: 28px;
                //     color: #fff;
                //     padding: 11px 10px 12px 13px;
                // }

                // .ico-lounges-1 {
                //       display: inline-block;
                //     /* padding: 20px; */
                //     font-size: 28px;
                //     color: #fff;
                //     padding: 11px 10px 12px 13px;
                // }

                //  .ico-tax {
                //       display: inline-block;
                //     /* padding: 20px; */
                //     font-size: 28px;
                //     color: #fff;
                //     padding: 11px 10px 12px 13px;
                // }

            }
            .ico-assistance {
                display: inline-block;
                /* padding: 20px; */
                font-size: 28px;
                color: #fff;
                padding: 11px 10px 12px 13px;
            }

            .ico-lounges-1 {
                  display: inline-block;
                /* padding: 20px; */
                font-size: 28px;
                color: #fff;
                padding: 11px 10px 12px 13px;
            }

             .ico-tax {
                  display: inline-block;
                /* padding: 20px; */
                font-size: 28px;
                color: #fff;
                padding: 11px 10px 12px 13px;
            }
            .category {
                display: inline-block;
                color: #000;
                background: #fff;
                padding: 20px;
                margin: 0;
                text-transform: uppercase;
                font-size: 11px;
            }

            .lounges-category {
                display: inline-block;
                color: #000;
                background: #fff;
                padding: 20px 30px 20px 50px;
                margin: 0;
                text-transform: uppercase;
                font-size: 11px;
            }
            .tax-category {
                display: inline-block;
                color: #000;
                background: #fff;
                padding: 20px 30px 20px 50px;
                margin: 0;
                text-transform: uppercase;
                font-size: 11px;
            }
        }

        a{
          color: #000;
        }
    }

    .send-check-in-email{
        .form-group {
            .input-1 {
                width: 50%;
                display: inline-block;
                float: right;
                margin-bottom: 14px;
            }
            .passenger-name {
                display: inline-block;
                margin-bottom: 40px;
                width: 40%;
            }
        }
        .flight-alert {
            width: 100%;
            margin: 0;
        }

        .link-print {
            color: #0254ec;
        }
        .btn-1 {
            float: right;
        }
          .popup__heading {
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            color: #000;
            font-size: 20px;
            font-weight: 700;
        }
         .ico-close-round-fill {
            color: #666;
            color: #666;
            font-size: 18px;
            position: relative;
            margin-top: -5px;
            margin-right: -4px;
        }
        // .popup__inner {
        //     top: 100px;
        // }
    }
}

@media screen and (max-width: 769px) {
    .ice-checkin-complete {
        .flight-booking-details {
            .allowance-baggage {
                .baggage-allowance {
                    display: grid;
                    grid-template-columns: 31.5% 4% 64.5%;;
                }
                .ico-point-r {
                    grid-column-start: 2;
                    line-height: 2;
                }
                .baggage-allowance_paragraph {
                    -webkit-margin-before: 0em;
                    -webkit-margin-after: 0em;
                }
            }
            .table-passenger-info_content {
                display: grid;
                grid-template-columns: 28.5% 71%;

                strong.table-passenger-info_content_meals-info {
                    line-height: 1.9;
                }
            }
            .table-passenger-details {
                .table-passenger-details_meals {
                    position: absolute;
                    top: 13px;
                }
                .seats-table-row-content-inner {
                    display: grid;
                    grid-template-columns: 30% 70%;

                    .first-row {
                        width: auto;
                    }
                    td.legroom-seat {
                        width: auto;
                        line-height: 3.6;
                    }
                }
            }
            .table-passenger-details-info {
                position: relative;

                .additional-info-table-row-content-inner {
                    display: grid;
                    -ms-grid-columns: 30% 70%;
                    grid-template-columns: 30% 70%;
                }
                .first-row {
                    width: auto;
                }
                .baggage-info {
                    
                }
                .ico-alert {
                    margin-top: -4px;
                }
                .baggage-info {
                    margin-top: 9px;
                }
            }
            .table-passenger-details-info_additional-info {
                // position: absolute;
                // top: 0;
                display: grid;
                // grid-template-columns: 21% 50%;
                grid-template-columns: 26% 50%;
                .add-info {
                    line-height: 1.4;
                }
            }
        }
        .benefits {
            .assistance {
                .icon-assistance {
                    em {
                        padding: 11px 10px 12px 9px;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 1023px) {
    .ice-checkin-page {
        .booking-reference{
            right: 20px;

        }
        .flight-alert {
            position: relative;
            padding: 15px 15px;
            .text {
                position: absolute;
                top: 0;
                 left: 65px;
            }
            .ico-alert {
                &:before {
                   margin-top: -15px; 
                }
            }
        }
    }

    .ice-pax-details {
        .sia-breadcrumb-wrapper{
             .breadcrumb-inner-item {
                width: calc(100%/3 - 13px)
             }
        } 
    }

    .ice-checkin-complete {
        .benefits {
             .assistance {
                width: 31%;

                .category {
                    padding: 12px;
                }
            }
        }
        
        .check-in-complete {
            .heading-1 {
                width: 36%;
            }
        }

        .flights-info-content {
            .baggage-allowance  {
                // margin-left: 30%;
            }
            .passenger-details-wrap {
                width: 36%;
              .passenger-name {
                  .elite-silver {
                    margin-left: 0;
                }
              }
            }

            .flight-booking-details {
                width: 64%;
            }
        }

        .flight-content {
            .flight-station--inner {
                .station-stop {
                    left: 134px;
                    right: 155px; 
                    width: 25%;
                }
            }
        }
        .flights-info-content {
            .flight-booking-details {
                .table-passenger-details {
                    .legroom-seat {
                        width: 50%;
                    }
                }
            }
        }
        .Essential-info {
            .weather-details {
                .weather-condition {
                    li {
                        width: 25%;
                    }
                }
            }
        }

        .Essential-info {
            .weather-details {
                width: auto;
            }
        }

        .image-container {
            width: 48%;
            height: auto;
        }
        .Essential-info {
            width: 50%;
        }
        .footer-btn-group {
            .btn-itinerary {
                width: 26%;
            }
        }

        .booking-confirm-heading {
                .booking-confirm-list {
                 li:nth-child(1) {
                    width: 25%;
                }
                li:nth-child(2) {
                    width: 25%;
                }
                li:nth-child(3) {
                    width: 30%;
                }
            }
        }
        .flights-info-content {
            .flight-booking-details {
                .table-passenger-details {
                    .bundle-ico {
                        height: 20px;
                        width: 16px;
                    }
                }
            }
            .table-container {
                .bundle-ico {
                    height: 18px;
                    width: 15px;
                    top: 27px;
                }
            }
        }
        .flight-booking-details {
            .table-passenger-details-info {
                .first-row {
                    // width: 37% !important;
                    width: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .ice-checkin-complete {

        .flight-booking-details {
            .table-passenger-info_content {
                display: grid;
                grid-template-columns: 28.5% 71.5%;
            }
            .table-passenger-info_content_meals {
                -webkit-margin-before: 0.18em;
                -webkit-margin-after: 0em;
            }
            .table-passenger-details-info {
                position: relative;

                .additional-info-table-row-content-inner {
                    display: grid;
                    -ms-grid-columns: 30% 70%;
                    grid-template-columns: 30% 70%;
                }
                .first-row {
                    width: auto;
                }
                .baggage-info {
                    
                }
                .ico-alert {
                    margin-top: -4px;
                }
                .baggage-info {
                    margin-top: 9px;
                }
            }
            .table-passenger-details-info_additional-info {
                // position: absolute;
                // top: 0;
                display: grid;
                // grid-template-columns: 21% 50%;
                grid-template-columns: 19% 50%;
                .add-info {
                    line-height: 1.4;
                }
            }
            .table-passenger-details {
                .seats-table-row-content-inner {
                    display: grid;
                    grid-template-columns: 30% 70%;

                    .first-row {
                        width: auto;
                    }
                    td.legroom-seat {
                        width: auto;
                        line-height: 3.6;
                    }
                }
            }
        }
    }
}


.v-select {
    background-color: #fff;
    input.form-control {
        position: "absolute";
        top: 0;
        left: 0;
        color: "transparent";
        width: 100%;
        padding-left: 13px !important;
    }
    .dropdown-menu {
        min-width: 10px !important;
        width: 100%;
        overflow: auto;
        padding: 0px !important;
        li {
            margin: 0px;
            a {
                font-weight: 400;
                font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                min-height: 46px !important;
                padding: 12px 13px;
                word-wrap: break-all !important;
                white-space: normal !important;
                color: #000;
                font-size: 14px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: pointer;
                transition: all 400ms ease 0s;
                &:hover{
                    background-color: #00266b !important;
                    color: #fff !important;
                }
            }
            &.active {
                a {
                    background-color: #00266b !important;
                    color: #fff !important;
                }
            }
            &.highlight {
                a {
                    background-color: #00266b !important;
                    color: #fff !important;
                }
            }
        }

        li:first-child {
            a {
                border-top: 1px solid #cecece;
            }
        }

        li:not(:last-child) {
            a {
                border-bottom: 1px solid #cecece;
            }
        }

        div {
            display: block;
            width: 100%;
        }
    }

    &.open {
        .select__text {
            opacity: 0 !important;
        }

        .form-control {
            opacity: 1 !important;
            color: #000 !important;
        }
    }

    .dropdown-toggle {
        border-radius: 0px !important;
        height: 40px;

        &.focus {
            border: 1px solid #2e77fd !important;
        }

        &.disabled {
            background-color: #efefef !important;
        }

        .select__text {
            opacity: 1;
            pointer-events: none;
        }

        .form-control {
            width: 100% !important;
            &:focus {
                width: calc(80% - 30px) !important;
            }
        }

        .ico-dropdown {
            pointer-events: none;
        }

        .ico-cancel-thin {
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 26px;
            font-size: 12px;
            margin-top: -6px;
            line-height: 1;
            color: #000;
        }
    }
}


