.how-to-earn-page-1 {

	.block--earn-in-the-air {
		.title-des {
		    margin-bottom: 20px;
		    font-weight: 600;
		    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		    font-size: 16px;
		    color: #00266b;
		}

		.earn-in-the-air--content {
			display: table;
			margin-top: 34px;

			figure {
				display: table-cell;
			}

			.description-1 {
				display: table-cell;
				padding-left: 40px;
			    vertical-align: top;
			}
		}
	}
}