.landing-flight-notifications{
	.flight-border{
		background: #cccccc;
	    margin-bottom: 35px;
	    margin-top: 18px;
	    text-align: center;
	    height: 1px;
	    position: relative;

	    span.border-flight{
			display: block;
		    background-color: #f7f7f7;
		    color: #666666;
		    width: 30px;
		    position: absolute;
		    top: -7px;
		    left: 50%;
		    transform: translateX(-50%);
		    font-size: 12px;
		}
	}
	
	.fligt-notifications{
		background: #fff;
		    border-left: 2px solid #f89e1c;
		    padding: 10px;
		    height: 75px;
		    padding-bottom: 22px;

	
		.flight-noti{
			color: #000;
   		  	font-size: 14px;
   		 	font-weight: 400;
   		  	display: inline-block;
  		    margin: 0;
   			width: 79%;
   			line-height: 1.2em;
		}
		.ico-5-flight-notification{
			color: #00266b;
		    font-size: 35px;
		    display: inline-block;
		    margin-right: 14px;
		    vertical-align: middle;
		    float: left;
		    margin-top: 13px;
		}

		.notification-header{
			color: #00266b;
		    font-size: 16px;
		    font-weight: 600;
		    margin: 0;
		    padding: 0;
		    margin-top: 17px;
		    margin-bottom: 2px;

			}

		.ico-point-r{
		    font-size: 5px;
		    position: relative;
		    left: 2px;
		    margin-left: -2px;
		}
	}
}

.landing-search-flights-page {

	.optim-close {
		position: absolute;
		right: 6px;
		font-size: 12px;
		color: black;
	}

	.pull-right {
		float: right;
	}

	.remove-recent {
		opacity: 0.3;
	}

	.date-format {
		margin-right: 20px;
	}

	.search-format {
		font-weight: bold;
	}

	.recent-title {
		font-size: 12px;
		text-transform: uppercase;
	}

}

@media screen and (max-width: 768px){
	.landing-flight-notifications{

		.ico-5-flight-notification{
			margin-top: 18px !important;
		}
		.notification-header{
			margin-top: 22px !important;
		}
		.fligt-notifications{
			margin-bottom: -3px !important;
		}
		.flight-border{
			margin-top: 20px;
		}
		.form-flight-status{
			.one-half{
				width: 100%;
				margin-bottom: 15px;
			}
		}
	}
}