.popup--addon-seat-mismatch{
	.popup__inner{
		max-width: 490px;
	}
	.text-info{
		font-size: 16px;
	}
}

.mp-1-add-insurance{
	.for-your-trip-block{
		padding-top: 0;
		margin-top: 0;
		border: none;
	}
}

.mp-1-add-ons-changes{
	.fixed {
        position: fixed;
		top: 0;
		left: 0;
		z-index: 99999;
		width: 100%;
		background-color: #e5e9f0;

		.total-payment-block {
			max-width: 988px;
			margin: 0 auto;
		}
    }
	.discount-table{
		margin-top: 36px;
	}
	.addons-your-flight {
	    margin-top: 0;
	}
	.your-flight-item .button-group-3 .icon-down {
	    bottom: 11px;
	}
	.tooltip.tooltip--conditions-1{
		width: 194px;
		color: #000000;
		line-height: 1.4;

		.tooltip__close {
		    font-size: 8px;
		    font-weight: 700;
		    padding: 8px;
		}
	}
	.accordion-item .mp-payments-total {
	    padding: 1px 40px 15px;
	}
	.flights-cost + .flights-cost .flights-cost-title {
	    margin-top: 0px;
	}
	.from-price-flight{
		.note{
			margin-bottom: -2px;
		}
	}
	.accordion-item .booking-info-group .booking-info-content {
	    padding: 15px 20px 0px;
	}
	.selected-button-1 {
	    background-color: #00266b;
	}
	.from-price-flight .note, .from-price-flight .miles {
	    margin-top: -4px;
	}

	.detail-content{
		.selected-orange{
			margin-top: -10px;
		}
	}

	.bundle-flight-item{
		.title-5--blue {
		    font-weight: 700;
		}
	}
	.bundle-baggage{
		margin-top: 28px;
	}
	.passenger-detail__seat-status{
        font-style: italic;
    }
    .accordion-item{
    	.booking-details{
    		.col-3{
    			.has-cols{
    				.target-info {
    					&.black-txt{
    						color: #000000;
    					}
    				}
    			}
    		}
    	}
    }

	/**********PAYMENTS*********/
	.payment-method-content {
		.payments-group__charge {
			padding: 0 40px 40px 40px;
			.payments-inner {
				    padding: 24px 0px 15px;
				.complete-fields {
					.krisflyer-account--1 {
						.form-group-1 {
							.address_1 {
								.grid-inner-addline1 {
									    width: 160%;
									    margin-left: 0;
								}
								.grid-inner {
									.input-1 {
										width: 143%
									}
								}
							}
						}
					}
				}
			}
		}
	}




	.tc-prompt{
		color: black;

		p{
			margin-bottom: 0;
		}

		em{
			font-size: 7px;
			margin-top: -4px;
		}
	}
	.grand-total .total-title{
		margin-top: 0;
		color: #000000;
    	font-size: 14px;
    	font-weight: 600;
	}

	p.total-info {
	    margin-top: -5px;
	}

	.table-cost tfoot td{
		border-top: 1px solid  #cbcbcb;
    	border-bottom: 1px solid #cbcbcb;
	}
	.flights-target{
		margin-bottom: 30px;
	}
	.text-bold-1{
		font-weight: 600;
		font-size: 13px;
		color: #000000;
	}

	.text-bold.indent{
		font-weight: 600;
		font-size: 14px;
		color: #000000;
	}

	.table-cost{
		margin-bottom: 20px;

		&.table-addons-mp{
			margin-bottom: 0px;
			margin-top: 20px;

			&.trip-addons{
				margin-top: -10px;
			}
		}

		tr.first {
		    /* padding: 30px 40px; */
		    height: 20px;
		    /* line-height: 55px; */
		    vertical-align: baseline;
		}

		tr.row-title {
		    height: 50px;
		    vertical-align: bottom;
		}

		thead{
			th{
				padding: 2px 0 10px;
			}
		}

		.detail{
			font-weight: 500;
		}

		.row-title{
			td{
				padding: 10px 0;
			}
		}
	}


	.indent{
		padding: 2px 0px 3px 18px;
	}

	.flights-target.flights-target--2{
		display: none;
	}

	/*************END***********/

	.static-text{
		font-style: italic;
	}
	.passenger-privileges{
		display: none;
	}
	.tabs-component .tabs--1 .tab-wrapper {
	    padding: 20px 0 0;
	}
	.accordion__control.accordion__control-flight.trigger-mobile-resize{
		span.baggage-counter{
			float: right;
		    font-size: 14px;
		    font-family: 'proxima-nova';
		    margin-top: 8px;
		    color: #0254ec;
		}

		&.active{
			.baggage-counter{
				margin-top: 6px;
			}
		}
	}
	.tab-content{
		.th-width-ess{
			width: 20%;
		}
		.th-width-2 {
		    width: 25%;
		}
		.table-1 th{
			padding: 25px 15px;
		}
		.table-1 td{
			padding: 20px 15px;
		}
		em{
			font-size: 14px;
			margin-top: -1px;
		}
		&.elite-silver-table, &.krisflyer-table{
			.fare-title{
				em{
					margin-top: -3px;
					height: 32px;
				    position: relative;
				    float: left;
				    margin-right: 5px;
				}
			}
		}
	}
	.popup .popup__inner{

	}
	.fare-tabs .fare-table .th-width {
	    width: 10%;
	}
	.multi-tabs--1 .tab .tab-item a{
		letter-spacing: 1.3px;
	}
	.terms-condition-desc{
		color: #666;
		span{
			display: block;
			color: #000000;
		}
	}
	.pps-club-ribbon{
		background: #e9f1ff;
	    display: table;
	    padding-top: 5px;
	    padding-right: 8px;
	    padding-bottom: 5px;
	    margin-top: 10px;

	    .ico-bow{
	    	font-size: 30px;
		    vertical-align: middle;
		    display: table-cell;
	    }
	    .view-pps {
		    display: table-cell;
		    vertical-align: middle;
		    font-size: 13px;
		}
	}
	.add-on-flight-block{
		margin-top: 20px;
		.text{
			color: #000000;
			font-size: 16px;
		}
	}
	.preferred-flight-item .free-bagage strong{
		text-transform: lowercase;
	}
	.preferred-flight-block-changes {
		margin-bottom: 20px;
	}
	.weight-flight-item .wrap-baggage {
   		float: none;
   		margin-left: 20px;

   		.baggage-discount{
   			position: absolute;
		    right: 30px;
		    top: 30px;
		    color: #cc6600;
		    text-transform: uppercase;
		    font-size: 13px;
		    font-weight: 600;
   		}
	}
	.wrap-add-ons{
		.skip-btn{
			background-color: #6d7578;
			color: #ffffff;
			float: none;
			position: absolute;
		    top: 0;
		    left: 13.5%;
		    padding: 14px 31px;
		    font-weight: 400;
		}
	}
	.tooltip.tooltip--info{

		.tooltip__content{
			padding: 17px 15px 12px 13px;
		}
		a.tooltip__close{
			font-size: 8px;
		    padding: 6px;
		    font-weight: 700;
		}
	}

	.your-flight-item{
		.description{
			.content {
				padding: 18px 15px 19px 30px;
				.tooltip-link{
					color: #5a688d;;
					font-size: 14px;
					cursor: pointer;
				}
			}
		}
	}
	.mix-miles-wrapper{
		margin-top: 10px;
		.btn-mix-miles{
			background-color: #e7e7e7;
			color: #00266b;
		}
	}

	.discount-wrapper{
		position: absolute;
	    width: 48%;
	    top: 30px;
	    right: 125px;
	    .selected-orange{
	    	float: right;
	    	margin-right: 2px;
	    }
	}
	.discount-wrapper-xbag{
		position: relative;
	    width: 15%;
		top: 10px;
		float: right;
		right: 28px;
	    .selected-orange{
	    	float: right;
	    	margin-right: 2px;
	    }
	}

	.accordion{
		&:first-child{
			border: 1px solid #eb9600;
		}
		.accordion__control{
			padding: 15px 27px 15px 0;
		}
		.ico-point-d{
			color: #0254ec;
			right: 0;
		}

		.accordion__content{
			margin-top: -15px;
			padding-bottom: 15px;
		}
	}
	.accordion-component{
		color: #00266b;

		.bold{
			font-weight: 600;
		}
		.travel-party{
			margin-top: 20px;
			padding: 24px;
			margin-bottom: 0;

			.travel-content{
				padding-left: 80px;

				.title{
					font-size: 17px;
				}
			}

			.travel-thumb{
				position: absolute;
			    top: -15px;
			    left: 0;

			    .ico{
			    	font-size: 80px;
			    }
			}
		}

		.pax-add-on-wrapper{
			background-color: #F6F6F6;
			padding: 18px 20px;
			margin-top: 12px;

			.btn-blue{
				background-color: #00266b;
    			color: white;
			}

			.title-5--blue{
				margin-top: 7px;
				margin-bottom: 0px;
			}

			.pax-details-1{
				color: black;
				font-weight: 400;
				margin-top: 8px;
    			margin-bottom: 0;
			}

			.pax-details-2{
				color: black;
				font-weight: 700;
				margin-top: 9px;

				.btn-small{
					font-weight: 700;
					letter-spacing: 0.5px;

					&.btn-elite-gold{
						background-color: #b69852;
						color: #00266b;
					}

					&.btn-pps{
						color: #ffffff;
						background-color: #988a65;
					}
				}
				span{
					margin-left: 8px;
				}
			}

			em{
				font-size: 24px;
				margin-top: -5px;
			}

			.booking-detail-title{
				color: black;
			    font-weight: 700;
			    font-size: 12px;
			    margin-bottom: 0px;
			    margin-top: 0px;
			}

			.booking-detail-left{
				display: inline-block;
				width: 32%;
				vertical-align: top;

			}
			.booking-detail-right{
				display: inline-block;
				width: 60%;

				.details-baggage, .details-discount{
					margin-top: 10px;

					.details{
						margin-left: 35px;
    					margin-top: -20px;
					}
				}

				.details-seat-selection{
					position: relative;
					ul{
						margin-left: 50px;
					    margin-top: -22px;
					    width: 100%;

					    &.one-list{
					    	list-style-type: none;
					    	margin-left: 36px;
					    }

						li{
							margin-bottom: 5px;
						}
					}
				}
			}
		}
	}

	.list {
		padding-bottom: 0;
	}

	.cta-group {
		padding: 0 0 25px 0;
	}

	.bundle-disclaimer {
		font-size: 15px;
	}
}


.mp-1-payments-enhancement {

	.js__overlay-loading--pmw {
		left: -5px;
	}

	.sia-breadcrumb-wrapper {
		background-color: #f2f2f2;
		
		position: relative;
		
	}

	.breadcrumb-inner li {
		list-style-type: none;
	}

	.breadcrumb-item_info {
		display: block;
		background-color: white;
		padding-top: 14px;
		padding-bottom: 13px;
		position: relative;
	}

	.breadcrumb-item_info .number {
		border: none;
		background-color: #FF9F00;
		color: #FFFFFF;
		position: inherit;
		font-weight: 200;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		border: 0;
		z-index: 2;
		display: inline-block;
		width: 23px;
		height: 23px;
		margin: 0 auto 6px;
		clear: both;
		line-height: 23px;
		border-radius: 50%;
		text-align: center;
		margin-right: 10px;
	}


	.breadcrumb-item_info .text {
		font-weight: bold;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 12px;
		color: #00266B;
	}
	
	
	.sia-breadcrumb-wrapper {
		display: grid;
		grid-template-columns: 5fr 35fr 2fr;
	}

	.breadcrumb-bg-left {
		grid-column: 1;
		grid-row: 1;
		background-color: white;
	}

	
	

	.breadcrumb-inner {
		grid-column: 2;
		grid-row: 1;
		display: grid;
		grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
	}

	

	.breadcrumb-flight {
		grid-column: 1;
		grid-row: 1;
	}

	.breadcrum-passengers {
		grid-column: 2;
		grid-row: 1;
	}

	.breadcrumb-seats {
		grid-column: 3;
		grid-row: 1;
	}

	.breadcrumb-add-ons {
		grid-column: 4;
		grid-row: 1;
	}

	.breadcrumb-payments {
		grid-column: 5;
		grid-row: 1;
	}


	.breadcrumb-inner .breadcrumb-item_info .arrow {
		position: absolute;
		right: -20px;
		background-color: #ffffff;
		height: 39px;
		width: 39px;
		top: 9px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		z-index: 1;
	}

	.ice-checkin-page .sia-breadcrumb-wrapper .breadcrumb-bg-left {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		background-color: white;
		height: 100%;
		width: calc(100% - 988px);
	}
	

	.main-inner .ico-point-l {
		font-size: 9px;
		position: relative;
		top: 0px;
	}

	.main-inner .btn-back {
		font-size: 12px;
		font-weight: bold;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;	
		letter-spacing: 1px;	
	}

	.blk-heading-1 .main-heading-1 {
		font-size: 26px;
		font-weight: 500;
		font-family: 'sigvar';
		color: #00266b;
	}

	.text-info-3 {
		font-weight: 400;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16px;
		color: #000;
		line-height: 24px;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-left: 1px;
	}

	.accordion-header {
		position: relative;
		background: #fff;	
		zoom: 1;
		height: 60px;
		
	}

	
	.accordion-items {
		margin-bottom: 2px;
	}


	.accordion-trip-add-ons {
		position: relative;
		background: #fff;
		border-bottom: 1px solid #ccc;
		zoom: 1;
		height: 60px;
		
	}

	.accordion-cost {
		position: relative;
		background: #fff;
		border-bottom: 1px solid #ccc;
		zoom: 1;
		height: 60px;
		
	}	

	.accordion-header em {
		position: absolute;
		right: 20px;
		height: 14px;
	}

	.accordion-passengers-flight em {
		position: absolute;
		right: 20px;
		height: 14px;
	}

	.accordion-trip-add-ons em {
		position: absolute;
		right: 20px;
		height: 14px;
	}

	.accordion-cost em {
		position: absolute;
		right: 20px;
		height: 14px;
	}

	

	.accordion-items .main-title-1 {
		font-size: 16px;
		font-weight: bold;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		color: #00266b;
		padding-left: 20px;
		position: relative;
		top: 20px;
		bottom: 20px;

	}

	.accordion-items .sub-total-1 {
		position: absolute;
		right: 63px;
		top: 20px;   
		font-weight: normal;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16px;
		color: #222222;
	}
	

	.booking-info-group-1 {
		padding: 21px 20px 10px 20px; 
		background-color: #e5e9f0;
	}

	.booking-info-group_1 {
		padding: 10px 20px 10px 20px;
		background-color: #e5e9f0;
	}
	
	.booking-info-content-1 {
		background-color: #fff;
		border-radius: 5px;
	}

	.booking-info-content-1 .title-5-blue{
		font-weight: 600;
    	font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    	font-size: 16px;
		color: #00266b;
	
	}

	.booking-info-content-1	 .flights_type{
		float: right;
    	text-transform: uppercase;
    	color: #1c5d49;
    	font-weight: 700;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		position: relative;
		top: -18px;
		   
	}

	.for-bottom_border {
		border-bottom: 1px solid #F2F2F2;
		padding: 19px 0 7px 0;
		margin: 0 17px 16px 17px;
	}

	
	/*-------------------------------start----------------------------------------*/
	
	.country-name {
		text-transform: uppercase;
	}

	.flight-station-info_1 .date {
		font-weight: 600;
	}
	
	

	.flight-station-inner-1 .stop-time-1 {
		font-size: 12px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-weight: bold;
		color: #000;
		margin-left: 45px;
	}

	 
	.flight-station-info_1 {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 140px 1fr 1fr; 
		margin: 10px 45px 10px 45px;
		padding-bottom: 30px;
	}

	.flight-station-info_1:nth-child(2) {
		padding-bottom: 10px;
	}
	
	.flight-station_1 {
		grid-column: 1;
		grid-row: 1;
		font-size: 12px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-weight: bold;
		color: #000;
	}

	.station-stop_1 {
		grid-column: 2;
		grid-row: 1;
	}

	.return-flights_1 {
		grid-column: 3;
		grid-row: 1;
	}

	.airline-info_1 {
		grid-column: 4;
		grid-row: 1;
		margin-left: -30px;
	}
		

	.flight-station-info_1 span {
		color: #000000;
    	font-weight: normal;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 12px;
	
	}

	.flight-station_1 span {
		display: block;
	}

	.flight-station_1 .hour {
		color: #222222;
    	font-weight: bold;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 22px;
	}

	.flight-station_1 .return-flights-place {
		color: #666666;
		font-weight: normal;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 12px;
	}

	.station-stop-detail em {
		font-size: 24px;
		color: #00266B;
		z-index: 1;
		position: relative;
		left: -13px;
		top: -1px;
	}

	.station-stop_1 .time {
		color: #555555;
    	font-weight: normal;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 12px;
		position: relative;
		top: -15px;
		left: -15px;
	}

	.station-stop_1 hr {
		position: relative;
		top: -23px;
		left: -117px;
		width: 235px;
		border: 0.7px solid #D5D5D5;
	}

	

	.return-flights_1 span {
		display: block;
	}

	.return-flights_1 .hour {
		color: #222222;
    	font-weight: bold;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 22px;
	}

	.return-flights_1 .return-flights-place {
		color: #666666;
    	font-weight: normal;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 12;
	}

	.airline-info_1 img {
		width: 25px;
		height: 29px;
		position: relative;
		left: -5px;
		
	}
	
	.airline-info_1 .name-plane {
		display: block;
	}

	.airline-info_1 .economy-1 {
		display: block;
		padding-top: 3px;
		color: rgb(28, 93, 73);
		font-weight: bold;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 12px;
	}

	.airline-detail {
		display: block;
		color: #222222;
		font-weight: normal;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
	}

	.airline-detail .name {
		color: #222222;
    	font-weight: normal;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		position: relative;
		top: 7px;
		margin-left: -8px;
	}

	.flight-station-content_1 {
		color: #222222;
    	font-weight: normal;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		padding: 0 45px 30px 45px;
	}

	.flight-station-content_1 .aud-title {
		float: right;
	}
	
	.flight-station-content_1 .aud-amount {
		float: right;
	}

	.flight-station-content_1 .taxes-amount {
		float: right;
	}

	.flight-station-content_1 .subtotal-amount {
		float: right;
	}


	.flight-station-content_1 .fare-title_1,
	.fare-name-amount,
	.taxes-amount_1 {
		margin-bottom: 10px;
	}

	.fare-name-amount .fare-name {
		 margin-left: 9px;
	}

	.passenger1 {
		grid-column: 1;
		grid-row: 1;
		display: grid;
		grid-template-columns: 1fr 2fr;
		padding-bottom: 20px;			
	}

	.passenger1 .person {
		grid-column: 1;
		grid-row: 1;
	}

	.passenger1 .person span {
		display: block;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16;
		font-weight: bold;
		color: #00266B;
		margin-top: 10px;
	}

	.passenger1 .person .elite {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 8px;
		font-weight: bold;
		letter-spacing: 1px;
		color: #666666;
		background-color: #D5D5D5;
		border: 1px solid #D5D5D5;
		border-radius: 3px;
		padding: 5px 5px 5px 5px;
		margin-right: 227px;		
	}

	.passenger1 {
		border-bottom: 1px solid #F2F2F2;
		margin-bottom: 10px;
	}

	.passenger1:last-child {
		border-bottom: none;
	}

	/*
	.passenger1:nth-child(2) {
		border-bottom: 2px solid #ccc;
		margin-bottom: 10px;
	} */

	

	.flight-country {
		position: relative;
		right: 100px;
	}

	.subtotal1 {
		position: relative;
		right: 100px;
	}
	 
	.flight-title-amount {
		text-align: right;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;				
		color: #222222;
		margin-right: 35px;
		margin-top: 10px;
		
	}

	

	.flight-details--1 {
		display: block;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;		
		color: #222222;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.flight-details--1 .flight-amount {
		clear: both;
		float: right; 

	}

	.flights-subtotal {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;		
		color: #222222;
	}

	.flights-subtotal .flights-sub-amount {
		clear: both;
		float: right;
	}

	.flight-amount em {
		font-size: 12px;
		color: #555555;
		position: relative;
		top: -3px;
		padding-left: 15px;
	}

	.flights-sub-amount {
		padding-right: 35px;
	}

	
	
	
	/*--------------------------------end---------------------------------------*/
	

	.accordion-passengers-flight {
		position: relative;
		background: #fff;
		border-bottom: 1px solid #ccc;
		zoom: 1;
		height: 60px;

	}

			
	
	.booking-info-group-2 {
		padding: 20px 20px 20px 20px; 
		background-color: #f6f6f6;
	}
	
	.booking-info-content-2 {
		background-color: #fff;
		border-radius: 5px;
		margin-top: -20px;
	}

	.booking-info-content-2 .title-5-blue{
		font-weight: 600;
    	font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    	font-size: 16px;
		color: #00266b;
	
	}

	.booking-info-content-2	 .flights_type{
		float: right;
    	text-transform: uppercase;
    	color: #1c5d49;
    	font-weight: 700;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		position: relative;
		top: -18px;
		   
	}

	


	/*---- flight fair info ----*/
	.flights-info-group {
		padding: 10px 20px 20px 20px; 
		background-color: #e5e9f0;
	}
	
	.flights-info-content {
		background-color: #fff;
		border-radius: 5px;
		margin-bottom: 20px;
	
	}

	.flights-info-content:nth-child(3) {
		margin-bottom: 0px;	
	}

	.flights-info-content .title-5-blue{
		font-weight: 600;
    	font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    	font-size: 16px;
		color: #00266b;
	
	}


	





	.flights-info-content .flight-station-inner-2 {
		grid-column: 2;
		grid-row: 1;
		margin: 14px 43px 0 0;
	}

	.flight-station-inner-2 .flight-station-content-2 {
		float: right;
	}

	.flight-station-content-2 .aud {
    	font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    	font-size: 14px;
		text-align: right;
		display: block;
		font-weight: normal;
		color: #222222;	 
	}


	
	/*---- end of the flight fair info ----*/

	
	.payment-heading-1 .main-heading {
		font-size: 26px;
		font-weight: 500;
		font-family: 'sigvar';
		color: #00266b;
		margin-top: 53px;
		
	} 

	.payment-heading-1 .sub-title {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16px;
		font-weight: normal;
		color: #222222;
	}

	.payment-heading-1 {
		margin-bottom: 20px;
	}


	.mp-block {
		position: relative;
		background: #fff;
		border-bottom: 1px solid #ccc;
		zoom: 1;
	}

	.input-1 {
		/* padding: 7px 30px 7px 13px; */
		font-size: 14px;
		height: 24px;
		line-height: 24px;
		display: block;
		position: relative;
	}


	.content-1 {
		display: grid;
		grid-template-columns: 200px 290px;
		margin: 10px 0 0 0;
	}

	.content-1 .available {
		grid-column: 1;
		grid-row: 1;
		border-right: 2px solid #FF9F00;
		margin: 0 5px 0 0; 
	}

	.content-1 .available .available-title {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 10px;
		font-weight: bold;
		color: #00266B;
		
	}

	.content-1 .available span {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16px;
		color: #222222;
		margin: 3.66px 0 0 0;
		font-weight: normal;
		display: block;
	}

	.content-1 .expiring {
		grid-column: 2;
		grid-row: 1;
		margin: 0 0 0 15px;
	}

	.content-1 .expiring .expiring-title {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 10px;
		font-weight: bold;
		color: #00266B;
		
	}

	.content-1 .expiring span {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16px;
		color: #222222;
		margin: 3.66px 0 0 0;
		display: block;
		font-weight: normal;
	}

	.group-des {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		color: #222222;
		font-weight: normal;
	}

	.group-des .des-2 {
		color: #666666;
	}

	.custom-checkbox .for-bottom-border-1 {
		border-bottom: 1px solid #ccc;
		padding: 0 0 7px 0;
	}

	.total-payment-block {
		margin-bottom: 0px;
	}
	
	.total-payment-block .unit {
		font-family: "SigvarSerial", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 22px;
		color: #00266B;
		font-weight: normal;
	}

	.total-payment-block .fare-note {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 12px;
		color: #222222;
		font-weight: normal;
	}
	


	.payment-currency ul {
		margin-left: -2px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		color: #222222;
		font-weight: normal;	
	}


	.payment-method-content .payment-currency.payment-currency--1 {
		background-color: #f6f6f6;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.wrap-payment-convert {
		margin-left: -22px;
	}


	.custom-checkbox label {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		color: #222222;	
		font-weight: normal;
		
	}

	.custom-checkbox .checkbox-text {
		margin-left: 10px;
		margin-top: 10px;
		
	}


	.form-group .for-bottom-border-1 {
		border-bottom: 1px solid #ccc;
		padding: 19px 0 7px 0;
		margin: 0 17px 0 17px;
	}
	
	

	.form-group--1 {
		margin: 10px;
	}


	.form-group-1 {
		display: grid;
		grid-template-columns: 2fr 1.5fr;

	}

	.form-group-1 .address_1 {
		grid-column: 1;
		grid-row: 1;
		
	}

	

	.form-group-1 .address_2 {
		grid-column: 2;
		grid-row: 1;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
	}

	.country-1 strong,
	.postcode-1 strong,
	.city-1 strong,
	.province-1 strong {
		margin-left: 5px;
	}

	.custom-select-box {
		width: 180px;
		position: relative;
		top: -3px;
	}

	.custom-select--2 .select__text input {
		height: 38px;
		padding-left: 10px;
		padding-right: 45px;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		top: 0;
	}

	

	.form-group label {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16px;
		color: #00266B;
		
	}


	.address_1 .title-address {
		margin: 0 0 10px 10px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		color: #222222;
		font-weight: normal;
	}
	

	.address_1 .grid-inner-addline2 {
		margin: 5px 0 10px 12px;
		
	}

	.add-address .text {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
		display: block;
		
	}

	.address_1 .add-address {
		margin: 20px 0 0 10px;
	}

	.address_2 .country-1 {
		display: block;
	}


	.address_2 .city-1,
	.postcode-1,
	.province-1 {
		display: block;
	}

	

	// .grid-inner-addline1 .input-1 {
	// 	width: 162%;	
	// 	margin-left: 12px;
	// }

	

	
	.country-1 .grid-inner {
		margin-top: 10px;
	}

	.city-1 {
		position: relative;
		top: 15px;
	}

	.city-1 .grid-inner {
		
		margin-top: 10px;
	}

	.postcode-1 .grid-inner {
		margin-top: 10px;
	}

	.province-1 {
		position: relative;
		top: 15px;
	}

	.province-1 .grid-inner {
		margin-top: 10px;
	}

	

	.item-desc {
		display: grid;
		grid-template-columns: 205px 3fr;
		padding: 0;
	
	}

	.item-desc .text {
		padding: 24px 0 24px 40px;
	}

	.image-1-agoda {
		grid-column: 1;
		grid-row: 1;
		border-right: 2px solid #E5E9F0;
		
	}

	.item-desc .image-1-agoda img{
		margin: 0 auto;
		display: block;
		text-align: center;
		position: relative;
		top: 53px;
		
	}

	.item-desc .text {
		grid-column: 2;
		grid-row: 1;
	}

	.item-desc .image-1-rentalcars{
		grid-column: 1;
		grid-row: 1;
		border-right: 2px solid #E5E9F0;
		padding-top: 30px;
	}

	.item-desc .image-1-rentalcars img{
		margin: 0 auto;
		display: block;
		text-align: center;
		padding-top: 30px;
		width: 111px;
		height: 17px;
		
	}

	.terms-conditions {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.terms-conditions h4 {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16px !important; 
		color: #00266B;
		font-weight: bold;
		margin-left: 15px;
	
	}

	.custom-checkbox .terms-condition-1 {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		color: #000000;
		font-weight: normal;
	}

	.ctagroup {
		display: grid;
		grid-template-columns: 1fr 2fr;
		margin-left: 15px;
		margin-top: 25px;
		margin-bottom: 20px;
	}

	.cta-group-1 {
		grid-column: 1;
		grid-row: 1;
		list-style-type: none;		
	}

	.cta-group-1 li {
		margin-bottom: 5px;
	}

	.cta-group-2 {
		grid-column: 2;
		grid-row: 1;
		list-style-type: none;
	}

	.custom-box-1 {
		margin-left: 10px;
	}

	.cta-group-2 li {
		margin-bottom: 5px;
	}

	.booking-info-group-2 {
		padding: 21px 20px 20px 20px; 
		background-color: #e5e9f0;
		
	}

	.flights-info-content .person-flight-addons {
		padding: 10px 20px 0px 20px;
		 
	}


	.passenger1 .total span {
		display: block;
		text-align: right;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14;
		font-weight: normal;
		color: #222222;
		margin-bottom: 16px;
	}
	
	.passenger2 {
		
		grid-column: 1;
		grid-row: 2;
		display: grid;
		grid-template-columns: 250px 100px 400px 150px;
		
		
	}

	.passenger2 .person {
		grid-column: 1;
		grid-row: 1;
	}

	.passenger2 .person span {
		display: block;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16;
		font-weight: bold;
		color: #00266B;
	
	}

	.passenger2 .flights-destination {
		grid-column: 2;
		grid-row: 1;
		
	}

	.passenger2 .flights-destination span {
		display: block;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14;
		font-weight: normal;
		color: #222222;
		margin-bottom: 16px;
	}

	.passenger2 .baggage {
		grid-column: 3;
		grid-row: 1;
		
	}

	.passenger2 .baggage span {
		display: block;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14;
		font-weight: normal;
		color: #222222;
		margin-bottom: 16px;
	}

	.passenger2 .total {
		grid-column: 4;
		grid-row: 1;
	}

	.passenger2 .total span {
		display: block;
		text-align: right;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14;
		font-weight: normal;
		color: #222222;
		margin-bottom: 16px;
	}

	.passengers-flight-addons {
		padding: 20px 20px 20px 20px;
		background-color: #e5e9f0;
	}

	.info-content-1 {
		padding: 21px 20px 10px 20px;
	}

	.info-content-1 .group-title h5 {
		display: block;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16px;
		font-weight: bold;
		color: #00266B;
		margin: 0 0 13px 0;
	}

	.departure-flight {
		border: 1px solid #ccc;
		margin: 0 0 20px 0;
	}

	.departure-flight .depart-title {
		background-color: #E5E9F0;
		color: #00266B;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		padding: 10px 0 10px 22px;
		font-weight: bold;
	}

	

	.depart-content-1 {
	
		margin: 20px 22px 9px 22px;
		
	
	}

	
	.depart-content-1 .depart-seat {	
		display: grid;
		grid-template-columns: 1fr 635px;
		grid-template-rows: 1fr;
		border-bottom: 2px solid #ccc;
		padding: 0 0 10px 0;
		margin: 0 0 10px 0;
	}

	.depart-seat .seat1 {
		grid-column: 1;
		grid-row: 1;
	}

	.depart-seat .seat1 span {
		display: block;
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;

	}

	

	.seat-infos {
		grid-column: 2;
		grid-row: 1;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 0.5em;
	}

	.depart-seat .seat-info1 .seat-detail {
		display: block;
		
	}

	.seat1 span {
		position: relative;
		top: 18px;
		left: 19px;
	}

	.seat1 .ico-change-seat {
		font-size: 24px;
		color: #00266B;
		position: relative;
		top: -6px;
		right: 10px;
	}

	.seat-info1 .seat-detail {
		color: #00266B;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 12px;
		font-weight: bold;
		border-bottom: 2px solid #00266B;
		padding: 0 0 9px 0;
		margin: 0 72px 10px 0;
	}

	.seat-info1 .seat-detail1 {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
		padding: 10px 0 0 0;
	}

	.seat-info1 hr {
		border-color: #00266B;
		border-width: 1px;
	}

	

	.depart-seat .seat-info2 span {
		display: block;
	}

	.seat-info2 .seat-detail {
		color: #00266B;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 12px;
		font-weight: bold;
		border-bottom: 2px solid #00266B;
		padding: 0 0 9px 0;
		margin: 0 74px 0 0;
	}

	.seat-info2 hr {
		border-color: #00266B;
		border-width: 1px;
	}

	.seat-info2 .seat-detail1 {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
		padding: 10px 0 0 0;
		
	}

	.seat-info1 .seat-detail1 img {
		height: 19px;
		margin-left: 9px;
	}

	.seat-info2 .seat-detail1 img {
		height: 19px;
		margin-left: 9px;
	}
	
	.depart-content-1 .depart-baggage {
		
		display: grid;
		grid-template-columns: 1fr 635px;
		grid-template-rows: 1fr;
		 
	}

	.depart-baggage .baggage1 {
		grid-column: 1;
		grid-row: 1;
		
	}

	.depart-baggage .baggage1 span {
		
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
	}

	.depart-baggage .baggage-info1 {
		grid-column: 2;
		grid-row: 1;
			
	}

	.baggage1 .baggage-title {
		position: relative;
		top: 18px;
		left: 19px;
	}

	.baggage1 .ico-point-r{
		font-size: 10px;
		position: relative;
		top: -2px;
	}

	.baggage-info1 .baggage-detail {
		color: #00266B;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 12px;
		font-weight: bold;
	}

	.baggage1 .ico-business-1 {
		font-size: 24px;
		color: #00266B;
		position: relative;
		top: -6px;
		right: 10px;
	}

	.baggage-info1 div {
		padding: 0 0 9px 0;
		border-bottom: 2px solid #00266B;
		margin: 0 72px 0 0;
	}

	.baggage-info1 .baggage1 {
		display: block;
		color: #222222;	
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
		padding: 10px 0 0 0;
	}

	.baggage-info1 .baggage2 {
		display: block;
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
		padding: 10px 0 0 0;
	}

	.baggage2 img {
		height: 19px;
		margin-left: 9px;
	}

	

	.trip-related_1 {
		background-color: #fff;
		border-radius: 5px;
		margin-top: -20px 0 20px 0;
		padding: 20px 20px 20px 20px;
	}

	.trip-related_1 .trip-related-title h5 {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 20px;
		
	}

	.trip-content {
		display: grid;
		grid-template-columns: 24fr 6fr;
	}

	.trip-content .trip-details1 {
		grid-column: 1;
		grid-row: 1;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		
	}

	.trip-details--1 {
		display: block;
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
		margin-bottom: 10px;
		display: grid;
		grid-template-columns: 110px 1fr;

	}

	

	.trip-label {
		color: #666666;
		grid-column: 1;
		grid-row: 1s;
	}

	.trip-text {
		grid-column: 2;
		grid-row: 1;
	}

	.trip-header {
		display: grid;
		grid-template-columns: 12fr 1fr;
	}
	.trip-related-title {
		grid-column: 1;
		grid-row: 1;
	}
	
	
	.trip-related-title .AIG-logo {
		grid-column: 2;
		grid-row: 1;
	}	

	.AIG-logo img {
		height: 40px;
		position: relative;
		top: -40px;
		float: right;
	}

	
	.trip-label {
		color: #666666;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
	}


	.travel-text {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
	}

	

	.trip-related_2 {
		background-color: #fff;
		border-radius: 5px;
		margin-top: 20px;
		padding: 20px 20px 20px 20px;
	}

	

	.trip-related_2 .hotel-title h5 {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16px;
		font-weight: bold;
	}

	.hotel-header {
		display: grid;
		grid-template-columns: 12fr 1fr;
	}

	.hotel-title {
		grid-column: 1;
		grid-row: 1;
	}

	.agoda-logo {
		grid-column: 2;
		grid-row: 1;
	}

	.agoda-logo img {
		height: 30px;
	}
	
	.hotel-info-1 {
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
	
	.hotel-info-1 .hotel-pic-1 {
		grid-column: 1;
		grid-row: 2;
	}

	.hotel-pic-1 img {
		width: 220px;
		height: 140px;
		border: 1px solid #ccc;
	}


	

	

	

	.hotel-room-title span {
		display: block;
	}

	.hotel-room-title .title_1 {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 15px;
		font-weight: bold;
		grid-column: 1;
		grid-row: 1;
	}
	
	.title_1 span {
		display: block;
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 15px;
		font-weight: bold;
	}


	.title_1 span:nth-child(2) {
		color: #666666;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
	}

	.hotel-room-title .add_1 {
		color: #666666;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
		display: block;
		grid-column: 1;
		grid-row: 1;
	}
	

	.hotel-info-1 .hotel-room-details {	
		grid-column: 2;
		grid-row: 2;
		
				
	} 

	.hotel-room-details--1 {
		display: grid;
		grid-template-columns: 1fr;

	}

	.title_1 {
		grid-column: 1;
		grid-row: 1;
	}

	.title_1 span {
		margin-bottom: 10px;
	}

	.hotel_1 {
		grid-column: 1;
		grid-row: 2;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		
	}
		
	.hotel-details  {
		display: block;
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;		
		margin-bottom: 10px;
		display: grid;
		grid-template-columns: 110px 1fr;
	}


	.room-label {
		color: #666666;
		grid-column: 1;
		grid-row: 1;
	}

	.room-text {
		grid-column: 2;
		grid-row: 1;
	}


	.car-related_2 {
		background-color: #fff;
		border-radius: 5px;
		margin-top: 20px;
		padding: 20px 20px 20px 20px;
	}

	.car-related_2 .car-title h5 {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16px;
		font-weight: bold;
		padding-bottom: 20px;
	}

	

	.car-header {
		display: grid;
		grid-template-columns: 12fr 1fr;
	}

	.car-title {
		grid-column: 1;
		grid-row: 1;
	}

	.rental-logo {
		grid-column: 2;
		grid-row: 1;
	}

	.rental-logo img {
		
	}
	
	.car-info-1 {
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
	
	.car-info-1 .car-pic-1 {
		grid-column: 1;
		grid-row: 2;
	}

	.car-pic-1 img {
		width: 220px;
		height: 140px;
		border: 1px solid #ccc;
	}

	

	.car-info-1 .car-details {
	
		grid-column: 2;
		grid-row: 2;
		display: grid;
		grid-template-columns: 2fr ;
	} 

	.car-title span {
		display: block;
	}

	.car-title .car-title_1 {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 15px;
		font-weight: normal	;
		

	}

	

	.car-pickup {
		grid-column: 1;
		grid-row: 2;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.pick-up {
		grid-column: 1;
		grid-row: 1;
	}

	.pick-up-location {
		grid-column: 1;
		grid-row: 2;
	}

	.drop-off {
		grid-column: 2;
		grid-row: 1;
	}

	.drop-off-location {
		grid-column: 2;
		grid-row: 2;
	}


	.car-pickup .car-details--1 {
		display: block;
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
		display: grid;
		grid-template-columns: 110px 1fr;
	}

	.car-label {
		color: #666666;
		grid-column: 1;
		grid-row: 1;
	}

	.car-text {
		grid-column: 2;
		grid-row: 1;
	}

	.car-detail-location .car-text:nth-child(2) {
		width: 177px; 
	}

	
	.car-dropoff {
		grid-column: 2;
		grid-row: 2;
	}
		

	.add-ons_1 {
		background-color: #fff;
		border-radius: 5px;
		margin-top: 20px;
		padding: 20px 38px 20px 38px;
	}

	.add-ons-content {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
	}

	.add-ons-details-1 {
		display: block;
		display: grid;
		grid-template-columns: 1fr 1fr 3fr;
	}

	



	.add-ons-title,
	.addons-travel,
	.addons-hotel,
	.addons-car-rental,
	.addons-subtotal {
		display: block;
		margin-bottom: 10px;
	}

	
	.addons-travel-amount, 
	.addons-hotel-amount,
	.addons-car-amount,
	 {
		text-align: right;
	}

	.aud-title-1,
	.addons-sub-amount {
		float: right;
	}

	.addons-travel-amount em,
	.addons-hotel-amount em,
	.addons-car-amount em {
		position: relative;
		top: -3px;
		padding-left: 15px;
		color: #666666;
		font-size: 14px;
	}

	.aud-title-1,
	.addons-sub-amount {
		margin-right: 35px;

	}

	.cost-breakdown-1 {	
		padding: 20px 20px 20px 20px; 
		background-color: #e5e9f0;
		border-bottom: 1px solid #ccc;
	}

	

	.payments-total-1 {
		background-color: #fff;
		border-radius: 5px;
		margin-top: -20px 0 20px 0;
		padding: 20px 20px 20px 20px;
		
	}

	.person-total-details-1 {
		border-bottom: 2px solid #ccc;
		
	}

	.total-details {
		border: 1px solid #ccc;
	}

	

	.total-titles {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
	}

	.total-services-title {
		grid-column: 2;
		grid-row: 1;
		color: #00266B;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: bold;
	}

	.total-amount-title {
		grid-column: 3;
		grid-row: 1;
		color: #00266B;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: bold;
		text-align: right;
	}

	.person-total-details-1 {
		display: grid;
		grid-template-columns: 1fr 3fr;

	}

	.person-name-1 {
		grid-column: 1;
		grid-row: 1;
		padding: 20px 0 0 20px;

	}

	.person-name-1 span {
		display: block;
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.person-name-1 .elite {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 8px;
		font-weight: bold;
		letter-spacing: 1px;
		color: #666666;
		background-color: #D5D5D5;
		border: 1px solid #D5D5D5;
		border-radius: 3px;
		padding: 5px 5px 5px 5px;
		margin-right: 132px;
	}

	.air-fare-details {
		grid-column: 2;
		grid-row: 1;		
	}

	.air-fare-details span {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
		margin-bottom: 10px;
	}


	.air-fare-title,
	.services-tax,
	.deals,
	.deals-1,
	.sub-total {
		display: block;
	}

	

	.air-fare-amount {
		float: right;
	}

	.good-services-amount,
	.aviation-amount,
	.pass-service-amount,
	.pas-security-amount,
	.pass-sg-amount,
	.airline-insurance-amount,
	.amount,
	.sub-total-amount {
		clear: both;
		float: right;
	}

	.deals {
		padding-top: 10px;	
	}

	.deals-1 {
		margin-top: 10px;
	}

	.air-fare-list {
		padding: 20px 20px 0 0;
	}


	.deals-info {
		border-top: 2px solid #ccc;
		padding-right: 20px;
	}

	.sub-total {
		padding-top: 10px;
		margin-top: 10px;
		border-top: 2px solid #ccc;
		padding-right: 20px;	
	}

	.seats-1 {
		margin-left: 15px;
	}

	
	.deals-details-amount {
		grid-column: 3;
		grid-row: 6;
		text-align: right;
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
		padding: 10px 0 0 0;
		border-bottom: 2px solid #ccc;
		
	}
	

	.deals-details-amount span {
		display: block;
		margin-bottom: 10px;
	}

	
	.trip-addons {
		display: grid;
		grid-template-columns: 1fr 3fr;
	}

	.trip-addons-title {
		grid-column: 2;
		grid-row: 1;
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;		
		
	}

	.trip-addons-title span {
		margin-bottom: 10px;
	}

	.trip-add-title,
	.trip-add-1,
	.subtotal {
		display: block;
	}

	
	.trip-amount {
		clear: both;
		float: right;
	}
	
	.trip-addons-list {
		
		padding: 20px 20px 0 0;
	}

	.trip-subtotal {
		margin-top: 10px;
		padding-right: 20px;
	}
	

	
	

	

	.grand-total-1 {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.grand-total-contents {
		grid-column: 2;
		grid-row: 1;		
	}

	.grand-total-list {
		padding: 35px 20px 10px 0;
	}

	.grand-total-title {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 20px;
		font-weight: bold;
	}

	.grand-total-title,
	.includes,
	.payable-krisflyer1 {
		display: block;
	
	}

	.includes {
		clear: both;
		text-align: right;
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 12px;
		font-weight: normal;
		border-bottom: 1px solid #222222;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	
	.total-aud-amount,
	.payable-aud-amount {
		clear: both;
		float: right;
	}

	.payable-krisflyer1 {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16px;
		font-weight: normal;
	}

	.payable-krisflyer1 em {
		color: #666666;
		position: relative;
		top: -3px;
		left: 5px;
	}
	
	.block-selected-card-1 h3 {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-weight: normal;
		margin: 14px 0 10px 0;
	}

	.custom-select .ico-point-d {
		position: relative;
		right: -195px;
		top: -3px;
		font-size: 14px;
	}

	.custom-select-box-1 {
		width: 220px;
		height: 35px;	
	}

	

	.credit-debit-info {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		
	}

	.name-credit {
		grid-column: 1;
		grid-row: 1;
	}

	.name-credit span {
		display: block;
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-weight: normal;
		margin-bottom: 20px;
	}

	.credit-debit-info {
		margin: 38px 10px 0 10px;
		
	}

	.credit-number {
		grid-column: 2;
		grid-row: 1;
	}

	.credit-number span {
		display: block;
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-weight: normal;
		margin-bottom: 20px;
	}

	.expiry-date {
		grid-column: 3;
		grid-row: 1;
	}

	.expiry-date span {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-weight: normal;
		
	}

	.expiry-date .expiry-month {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-weight: normal;
		padding-top: 20px;
	}

	.expiry-date .expiry-year {
		margin-left: 20px;
		
	}


	.cvv-info-1 {
		grid-column: 4;
		grid-row: 1;
	}

	.cvv-info-1 span {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-weight: normal;
		
	}

	.cvv-info-1 .input-1 {
		width: 40px;
		position: relative;
		left: -5px;
	}

	.cvv-info-1 .credit-image {
		position: relative;
		right: -84px;
		top: -30px;
		
	}

	.payment-method-content .payment-currency .wrap-payment-convert .form-inline {
		width: 18%;
	}

	.select-currency-point {
	
		position: relative !important;
		left: 132px;
		top: 0px !important;
	}

	 .custom-select .ico-point-d:nth-child(2) {
		position: relative;
		right: -155px;
		top: 0px;
		font-size: 14px;
	}

	/*
	.custom-select .ico-point-d:nth-child(2) {
		position: relative;
    	right: -154px;
    	top: 0px;
    	font-size: 14px;
	} */


	.custom-select--2 .select__text {
		height: 38px;
		padding-left: 10px;
		padding-right: 30px;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.line-bottom {
		display: none;
	}

	.tooltip__text-2 {
		margin: 0;
		line-height: 18px;
		font-size: 14px;
		letter-spacing: -0.3px;
		color: #333;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-weight: normal;
	}
	
	.to-pay-info {
		display: grid;
		grid-template-columns: 1fr 2.2fr;
	}

	.to-pay-label {
		grid-column: 1;
		grid-row: 1;
	}

	.to-pay-text {
		grid-column: 2;
		grid-row: 1;
	}

	.grid-col .grid-inner {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-weight: normal;
		margin: 0;

		
	}

	.payments-group__slider .info .grid-row {
    	padding: 0;
	}

	.payments-group__slider .info {
		border-top: none;
	}


	.payments-group__slider .info .value strong {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-weight: bold;
		font-size: 18px;
	}

	.payments-group__slider .info .value .paid-amount {
		font-family: "SigvarSerial";
		font-weight: normal;
		font-size: 22px;
		color: #00266B;
		text-align: right;
		display: block;
	}


	.total-paid-amount {
		display: grid;
		grid-template-columns: 1fr 1fr;
		border-top: 1px solid #E5E9F0;
		border-bottom: 1px solid #E5E9F0;
		margin-top: 40px;
	}

	.total-paid-label {
		grid-column: 1;
		grid-row: 1;
		margin: 20px 0 20px 0;
	}

	.total-paid-text {
		grid-column: 2;
		grid-row: 1;
		margin: 20px 0 20px 0;
	}

	.total .label {
		color: #00266B;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-weight: bold;
		font-size: 16px;
		display: block;
	}

	.payments-group__slider .total .label {
		padding-left: 0;
	}

	

	.ui-slider-handle {
		
		background-color: #2275D3;
		width: 29px;
		height: 28px;
		border-radius: 50%;
				
	}

	.ui-slider-back{
		border: 1px solid #ccc;
		border-radius: 20px;
		padding: 5px;
		position: relative;
		top: -6px;
	}

	.ui-slider-icon {
		background-color: white;
   		width: 15px;
    	border-radius: 50%;
		height: 15px;
		position: relative;
		top: 7px;
    	margin: 0 auto;
     		
	}



	
	
	.slider__inner .ico-minus {
		background-color: #2275D3;
		box-shadow: none;
		color: #f1f1f1;
		border-radius: 50%;
	}

	.slider__inner .ico-plus {
		background-color: #2275D3;
		box-shadow: none;
		color: #f1f1f1;
		border-radius: 50%;
		 
	}

	#slider-range {
		border-radius: 20px;
	}
	

	.slider--2 {
		margin-top: 34px;
		width: 550px;
	}

	.slider--2 .stripe-1 {
		width: 2px;
		background-color: #2275D3;
	}

	.slider--2 .stripe-2 {
		width: 2px;
		background-color: #2275D3;
	}


	.slider--2 .stripe-2 {
		display: block;
		left: 150px;
	}

	.slider .ui-slider-range {
		border-radius: 20px;
		
	}


	.payments-group__slider .info .cta-group {
		padding: 0;
		margin-top: 22px;
	}


	.popup__content {
		padding: 36px 30px 40px 30px;
	}
	

	.remove-deal-title {
		display: grid;
		grid-template-columns: 1fr;
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		
	}

	.deal--title {
		grid-column: 1;
		grid-row: 1;
		font-weight: bold;
		font-size: 20px;
	}

	.remove-deal-title span {
		margin-bottom: 25px;
	}

	.deal--info {
		grid-column: 1;
		grid-row: 2;
		font-weight: normal;
		font-size: 16px;
	}

	 .popup--info .popup__content {
		text-align: left;
	}

	.seat-wrapper {
		background-color: #E5E9F0;
	}

	.seat-baggage-info {
		display: grid;
		grid-template-columns: repeat(2, 225px);
		padding: 40px 30px 40px 30px;
		
	}

	.seat-baggage--1 {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
		display: grid;
		grid-template-columns: 1fr 12fr;
	}

	.seat-icon-1 {
		grid-column: 1;
		grid-row: 1;
	}

	.seat-icon-1 em {
		color: #00266B;
		font-size: 23px;
		position: relative;
		top: -10px;
	}

	.seat-info-details {
		grid-column: 2;
		grid-row: 1;
	}



	.flight-info--1 {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: bold;
	}

	.seat-info,
	.flight-info--1 {
		display: block
	}

	.baggage--qty {
		color: #1C5D49;
	}


	.remove-deal-note {
		margin-top: 25px;
	}

	.remove-deal-note span {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
		display: block;
		word-spacing: 3px;
	}

	.deal-name,
	.country-depart,
	.country-destination {
		font-weight: bold;
	}

	.remove-btn {
		display: grid;
		grid-template-columns: 1fr 2fr;
		margin-top: 20px;
	}

	.remove-btn-choice {
		grid-column: 2;
		grid-row: 1;
		display: grid;
		grid-template-columns: 1fr 200px;
	}

	.btn-1 {
		width: 146px;
		font-weight: normal;
	}

	
	.remove--1 {
		grid-column: 1;
		grid-row: 1;
		text-align: right;
	}

	.do-not-remove {
		grid-column: 2;
		grid-row: 1;
		text-align: right;
	}

	.popup__close em {
		color: #999999;
		font-size: 20px;
	}

	.payments-group--1 {
		display: grid;
		grid-template-columns: 4fr 1fr;
		margin-bottom: 20px;
	}

	.cta-group--1 {
		grid-column: 1;
		grid-row: 1;
	}

	.cta-group--1 li {
		margin-bottom: 5px;
	}

	.credit-pic {
		grid-column: 2;
		grid-row: 2;
		display: block;
		position: relative;
		top: -20px;
	}

	.credit-img {
		margin-right: 5px;
	}

	.method-nav__item.active:before {
		border: none;
		border-width: 0;
	}

	.method-nav__item.active:after {		
		border:	none;
	}

	.desc-credit {
		color: #666666;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 11px;
		font-weight: normal;
	}

	.type-card-pay {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 12px;
		font-weight: bold;
	}

	.detail-method {
		color: #222222;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
	}

	.pay-another-card em {
		font-size: 14px;
		padding-right: 10px;
		margin-top: -3px;
	}

	.grid-col .pay-another-card {
		margin-top: 12px;
		float: left;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: normal;
	}

	.payments-detail__form .custom-checkbox--1 {
		display: block;
	}


	.custom-checkbox .terms-condition-1 {
		margin-left: 13px;
	}

	.payment-save-card {
		display: grid;
		grid-template-columns: 1fr 2.5fr;
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px;
		margin-left: 10px;
	}

	.block-selected-card-1 {
		grid-column: 1;
		grid-row: 1;
		
	}


	.pay-with-card {
		grid-column: 2;
		grid-row: 1;
	}

	.pay-card-text {
		display: block;
		margin-top: 50px;

	}

	.pay-with-card a em {
		font-size: 15px;
		margin-right: 10px;
	}


	.pay-with_card-text span{
		display: block;
		margin-bottom: 10px;
	}

	.pay-with_card-text p span:last-child {
		margin-bottom: 0;	
	}


	.pay-with_card-text p {
		margin-top: 20px;
		padding-left: 10px;
	}


	.block-content-credit-debit {
		margin-left: 5px;
		display: grid;
		grid-template-columns: auto;
		grid-row-gap: 1em;
	}

	.block-content-credit-debit .one-half{
		width: 100%;
	}

	.group-info-card {
		grid-column: 1;
		grid-row: 1;
		display: grid;
		grid-template-columns: repeat(2, 100%);
	}

	

	.group-select {
		grid-column: 1;
		grid-row: 2;
	}

	.complete-fields .group-select .form-group-inner {
    	width: 100%;
    	margin-left: 0;	
	}

	
	.number-cvv {
		display: grid;
		grid-template-columns: 50% 120%;
		grid-column-gap: 1em;
	}

	.number-cvv--1 {
		grid-column: 1;
		grid-row: 1;
	}

	.list-cards {
		grid-column: 2;
		grid-row: 1;
		margin-top: 10px;

	}

	.cvv-label {
		margin-top: 9px;
	}

	.number-cvv {

		ul {
			margin-top: 35px;
		}
	}
	

}



.mp-1-addons-piece-page{
	.preferred-flight-block{
		padding: 0px 20px 15px;
	}
	.baggage-piece-text{
		font-size: 14px;
		font-style: italic;
		margin: 0;
	}

	.preferred-flight--info {
	    margin: 28px 0 20px;
	    .review-baggage--item{
			.review-baggage-text{
				width: 48%;
				.ico-business-1{
					margin-right: 12px;
				}
				.ico-info-round-fill{
					margin-top: -3px;
				}
			}
		}
	}

	.from-price-flight{
		.from--label{
			.note{
				position: absolute;
		    	top: 16px;
		    	left: -22px;
			}
		}
	}

	.content-baggage-body .from-price-flight {
		max-width: none !important;
		width: 100%;
		position: relative;
    	left: 10px;
	}
	.content-baggage {
		display: inline-block;
	}
	.content-baggage-body{
		margin-top: 15px;
		div {
			display: table-cell;
			vertical-align: middle;
			padding-right: 10px;
		}
		.price--label{
			text-align: right;
		}

		.selected-orange{
			margin: 0px;
		}
	}

	.content-baggage-title {
		width: 60%;
		margin-top: 15px;
		.title-5--blue{
			display: block;
			margin-bottom: 5px;
		}
	}
	.pull-right {
		float: right;
	}
	.btn-bag-select.selected {
		background-color: #00266b;
		color: #ffffff;
	}
}

@media screen and (max-width: 1023px){
	.mp-1-add-ons-changes{
		.discount-wrapper-xbag {
    		width: 50%;
    		right: 0;
			.selected-orange {
		    	margin-right: 0;
			}
		}
		.wrap-add-ons .skip-btn{
			left: 18%;
		}
		.weight-flight-item .wrap-baggage .baggage-discount{
			top: 27px;
			right: 40px;
		}
		.your-flight-item .description p{
			min-height: 0;
		}
		.travel-party{
			display: none;
		}
		.accordion-component{
			.pax-add-on-wrapper{
				.booking-detail-left{
				width: 35%;
				}
			}
		}
		.your-flight-item .description .from-price-flight{
			margin-top: 15px;
		}
		.mix-miles-wrapper{
		}
		.bundle-flight-item .select-price{
			position: relative;
		}
		.discount-wrapper{
			position: absolute;
			top: 27px;
			width: 100%;
		    .selected-orange{
			    float: right;
			    margin-right: 22px;
		    }
		}

		.sia-breadcrumb--1 {
			.sia-breadcrumb-wrapper {
				grid-template-columns: 1fr 46fr 2fr;
			}
		}

		.payment-method-content {
			.payments-group__charge {
				padding: 0 40px 40px 40px;
				.payments-inner {
					    padding: 24px 0px 15px;
					.complete-fields {
						.krisflyer-account--1 {
							.form-group-1 {
								.address_1 {
									.grid-inner-addline1 {
										    width: 100%;
										    margin-left: 0;
									}
									.grid-inner {
										.input-1 {
											width: 88%
										}
									}
								}
								.address_2 {
									grid-column: 1;
									grid-row: 2;
									display: grid;
									grid-template-columns: repeat(2,1fr);
									grid-template-rows: auto;
									margin-left: 0;
								}
							}
						}
					}
				}
			}
		}




	}
	.mp-1-addons-piece-page{
		.preferred-flight--info{
			.review-baggage--item{
				.review-baggage-text{
					width: 57%;
					.ico-business-1{
						margin-right: 12px;
					}
					span{
						padding-left: 40px;
					}
				}
				.sgd-price{
					font-size: 20px;
					padding-left: 5px;
				}
			}
		}
		.content-baggage-title {
			width: 50%;
		}
	}
}

.bsp-flights-addons {
	.bsp-addons__details::before {
	    content: "•";
	    font-size: 7px;
	    vertical-align: middle;
	    margin-right: 5px;
    }
}

.bsp-grand-total {
	.price {
		color: #00266b;
    	font-weight: 600;
    	font-size: 16px;
	}

	.grand-total__title {
	    margin-top: 6px;
	}
}

.extra-info {
	.tooltip-krisflyer {
	    font-size: 14px;
    	vertical-align: baseline;
		color: #9e9fa0;
	}
}

.mp1-manage-booking {
	.accordion-component {
		margin-top: 15px;
	}

	.recommended-right {
		float: right;
		margin-top: 10px;
		display: block;
	}
}

.popup--terms-and-conditions {

	p {
		color: #000;
	}

	.popup__title {
		font-size: 14px;
		font-weight: 600;
	}
}

.mp-addon-notice {
	font-style: italic;
	font-size: 0.95em;
}

.mp-seatmap-d1 {
	span.passenger-detail__seat-status {
	    font-weight: 600;
	}
	.seat-char-preferred {
		color: #e47305;

		&.seat-selected {
			color: #000;
		}
	}
	.accordion-seat-selection .group-title .ico-point-d {
	    top: 0px;
	}
	.button-group-1.has-btn-4 {
    	margin-right: 3px;
	}
	.text-guide{
		display: none;
	}

	.seatmap-more-seats {
		display: none;
	}
	.popup--addon-seat-mismatch{
        .popup__heading{
            font-size: 27px;
        }
        .text-info{
            color: #000000;
        }
        .button-group-1.has-btn-4{
            margin-right: -6px;
        }
    }
    .seatmap-cabin-row.has-colgrp-nofacil.has-space-forbass.seat-inner-bassinet.green-background.first-green-bg {
	    margin-top: 10px;
	}

	.seatmap-cabin-row.has-colgrp-nofacil.has-space-forbass.green-background.last-green-bg {
	    margin-bottom: 10px;
	}

	.seat-char-bassinet:before{
		top: -53px;
	}

	.green-background:before{
		height: 55px;
    	margin-top: -4px;
	}

	.label-fwz.left, .label-fwz.right{
		top: 115px !important;
	}
}


@media screen and (max-width: 769px){

	.mp-1-payments-enhancement{ 

	.group-info-card {
		grid-column: 1;
		grid-row: 1;
		display: grid;
		grid-template-columns: repeat(2, 50%);
	}

	.block-content-credit-debit .one-half {
		width: 100%;
	}

	.baggage-info1 div {
    	padding: 0 0 9px 0;
   	 	border-bottom: 2px solid #00266B;
    	margin: 0 10px 0 0;
	}

	.seat-info1 .seat-detail {
    	color: #00266B;
    	font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
   	 	font-size: 12px;
    	font-weight: bold;
    	border-bottom: 2px solid #00266B;
    	padding: 0 0 9px 0;
    	margin: 0px 10px 10px 0;
	}

	.form-group-1 .full {
		width: 170%;
	}

	.form-group-1 {
		margin-left: 10px;
	}

	.address_1  .title-address {
		margin: 0 0 10px 0;
	}

	.custom-select-box-1 {
    	width: 250px;
   		height: 35px;
	}

	.custom-select .ico-point-d {
    	position: relative;
    	right: -225px;
    	top: -3px;
    	font-size: 14px;
	}

	

	}
}


@media screen and (max-width: 1023px) {
	.mp-1-payments-enhancement{
		.js__overlay-loading--pmw {
			left: -5px;
		}
	
		.sia-breadcrumb-wrapper {
			background-color: #f2f2f2;
			
			position: relative;
			
		}
	
		.breadcrumb-inner li {
			list-style-type: none;
		}
	
		.breadcrumb-item_info {
			display: block;
			background-color: white;
			padding-top: 14px;
			padding-bottom: 13px;
			position: relative;
		}
	
		.breadcrumb-item_info .number {
			border: none;
			background-color: #FF9F00;
			color: #FFFFFF;
			position: inherit;
			font-weight: 200;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			border: 0;
			z-index: 2;
			display: inline-block;
			width: 23px;
			height: 23px;
			margin: 0 auto 6px;
			clear: both;
			line-height: 23px;
			border-radius: 50%;
			text-align: center;
			margin-right: 10px;
		}
	
	
		.breadcrumb-item_info .text {
			font-weight: bold;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			font-size: 12px;
			color: #00266B;
		}
		
		
		.sia-breadcrumb-wrapper {
			display: grid;
			grid-template-columns: 0.5fr 13fr 3fr;
		}
	
		.breadcrumb-bg-left {
			grid-column: 1;
			grid-row: 1;
			background-color: white;
		}
	
		
		
	
		.breadcrumb-inner {
			grid-column: 2;
			grid-row: 1;
			display: grid;
			grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
		}
	
		
	
		.breadcrumb-flight {
			grid-column: 1;
			grid-row: 1;
		}
	
		.breadcrum-passengers {
			grid-column: 2;
			grid-row: 1;
		}
	
		.breadcrumb-seats {
			grid-column: 3;
			grid-row: 1;
		}
	
		.breadcrumb-add-ons {
			grid-column: 4;
			grid-row: 1;
		}
	
		.breadcrumb-payments {
			grid-column: 5;
			grid-row: 1;
		}
	
	
		.breadcrumb-inner .breadcrumb-item_info .arrow {
			position: absolute;
			right: -20px;
			background-color: #ffffff;
			height: 39px;
			width: 39px;
			top: 9px;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			z-index: 1;
		}

		.flight-station-info_1 {
			display: grid;
			grid-template-rows: auto;
			grid-template-columns: 1fr 110px 1fr 1fr;
		}

		.station-stop_1 hr {
			position: relative;
			top: -23px;
			left: -55px;
			width: 155px;
			border: 0.7px solid #D5D5D5;
		}

		.return-flights-place {
			color: #666666;
			font-weight: normal;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			font-size: 12px;
			width: 140px;
		}
		

		.station-stop-detail em {
			position: relative;
			left: 10px;
			top: -1px;
		}

		.station-stop_1 .time {
			position: relative;
			left: 10px;
			top: -15px;
		}

		
		.depart-content-1 .depart-seat {	
			display: grid;
			grid-template-columns: 1fr 2fr;
			grid-template-rows: 1fr;
			border-bottom: 2px solid #ccc;
			padding: 0 0 10px 0;
		}

		.depart-content-1 .depart-baggage {		
			display: grid;
			grid-template-columns: 1fr 2fr;
			grid-template-rows: 1fr;
			 
		}

		.hotel-info-1 {
			grid-column-gap: 0.5em;
		}

		.car-info-1 {
			grid-column-gap: 0.5em;
		}

		.grand-total-1 {
			display: grid;
			grid-template-columns: 1fr 3fr;
		}

		.to-pay-info {
			display: grid;
			grid-template-columns: 1.5fr 2fr;
		}

		.total-paid-amount {
			display: grid;
			grid-template-columns: 1.5fr 2fr;
		}

		.payments-group--1 {
			display: grid;
			grid-template-columns: 5fr 2fr;
		}

		.method-nav__item .list-cards li {
			margin-left: 5px;
		}

		.credit-debit-info {			
			display: grid;			
			grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
		}
		
		.payment-method-content .payment-currency .wrap-payment-convert .form-inline {
			width: 24%;
		}

		.form-group-1 {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-row-gap: 1em;
		}


		.form-group-1 .address_1 {
			grid-column: 1;
			grid-row: 1;
		}


		// .grid-inner-addline1 .input-1 {
		// 	width: 100%;
		// 	margin-left: 12px;
		// }

		.ctagroup {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}





	}
		
	}
