.pass-through-cug-page {
	.pax-lightbox-select {
		display: none;
	} // .input-date {
	//     display: block;
	//     // border: 1px solid #ddd;
	//     // padding: 5px;
	//     padding: 0px;
	//     font-size: 14px;
	//     width: 173px;
	//     // height: 39px;
	//     height: 30px;
	//     cursor: pointer;
	//     left: 0;
	//     right: 0;
	//     color: #000;
	//     width: 100%;
	//     /* position: absolute; */
	//     top: 0;
	//     bottom: 0;
	//     /* line-height: 18px; */
	//     padding-top: 10px;
	//     padding-bottom: 10px;
	//   }
	//   .input-date-picker {
	//     border: none;
	//     // padding-left: 10px;
	//     font-size: 16px;
	//     // width: 174px;
	//     // height: 48px;
	//     /* line-height: 4; */
	//     /* top: 10px; */
	//     font-weight: 700;
	//     padding-left: 13px;
	//     height: 41px;
	//     top: 10px;
	//     box-sizing: border-box;
	//     padding-right: 35px;
	//     position: absolute;
	//     width: 100%;
	//   }
	.date-flight-container {
		.input-3 {
			padding-right: 0px;
			.input-date {
				display: block; // border: 1px solid #ddd;
				// padding: 5px;
				padding: 0px;
				font-size: 14px;
				width: 173px; // height: 39px;
				height: 30px;
				cursor: pointer;
				left: 0;
				right: 0;
				color: #000;
				width: 100%;
				/* position: absolute; */
				top: 0;
				bottom: 0;
				/* line-height: 18px; */
				padding-top: 10px;
				padding-bottom: 10px;
			}
			.input-date-picker {
				border: none; // padding-left: 10px;
				font-size: 16px; // width: 174px;
				// height: 48px;
				/* line-height: 4; */
				/* top: 10px; */
				font-weight: 700;
				padding-left: 13px;
				height: 41px;
				top: 10px;
				box-sizing: border-box; // padding-right: 35px;
				position: absolute;
				width: 100%;
			}
		}
	}
	.depart-date-span {
		bottom: 11px;
		left: 13px;
		color: #000;
		font-weight: 700;
		position: absolute;
	}
	.input-date::after {
		// content: "▼";
		float: right;
		font-size: smaller;
	}
	.active-preset {
		border: 1px solid #0096d9;
		color: #0096d9;
		border-radius: 3px;
	}
	.months-text {
		padding-bottom: 17px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		text-align: center;
		font-weight: 600;
		font-size: 13px;
	}
	.months-text {
		.ico-point-l {
			float: left;
			cursor: pointer;
			width: 30px;
			height: 38px;
			font-size: 17px;
			position: absolute;
			background-color: #E5E9F0;
			top: 18px;
			left: 0px;
			color: #fff;
			border-bottom-right-radius: 2px;
			border-top-right-radius: 2px;
			&:before {
				margin-top: 0.65em;
			}
		}
		.return-date-flight {
			background-color: #E5E9F0;
			padding: 7px 14px;
			border-radius: 2px;
			top: 19px;
			color: #000;
			right: 412px;
			position: absolute;
		}
	}
	.months-text {
		.ico-point-r {
			float: right;
			cursor: pointer;
			width: 30px;
			height: 38px;
			font-size: 17px;
			position: absolute;
			background-color: #E5E9F0;
			top: 18px;
			right: 0px;
			color: #fff;
			border-bottom-right-radius: 2px;
			border-top-right-radius: 2px;
			&:before {
				margin-top: 0.65em;
			}
		}
	}
	.calendar-root,
	.calendar-title {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	.calendar-right-to-left {
		margin-left: -460px;
	}
	.calendar {
		display: block;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		border: 1px solid #ddd;
		width: 897px;
		font-size: 12px;
		height: 300px;
		top: 52px;
		left: 459px; // right: 5px;
		// box-shadow: -3px 4px 12px -1px #ddd;
		background: #fff;
		position: absolute;
		z-index: 9;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		padding: 0 0 15px 0;
		.calendar-wrap {
			li.dateDisable {
				color: #ccc;
			}
		}
	}
	.calendar-head h2 {
		padding: 20px 0 0 20px;
		margin: 0;
	}
	.close:hover {
		cursor: pointer;
	}
	.close {
		float: right;
		padding: 0 10px;
		margin-top: -35px;
		font-size: 32px;
		font-weight: normal;
	}
	.calendar ul {
		list-style-type: none;
	}
	.calendar-wrap {
		display: inline-block;
		float: left;
		width: 100%;
		/* padding: 10px; */
	}
	.calendar-range {
		float: left;
		padding: 0 12px;
		border-left: 1px solid #ddd;
		margin: -2px;
	}
	.calendar-left-mobile {
		width: 100% !important;
	}
	.calendar_month_left {
		float: left;
		width: 47.6%;
		/* padding: 10px; */
		padding: 24px 10px 0px;
		height: 89%;
		border-right: 2px solid #dddddd;
		/* margin: 5px; */
	}
	.calendar_month_right {
		float: left;
		width: 47.6%;
		/* padding: 10px; */
		height: 89%;
		padding: 24px 10px 0px;
		/* margin: 5px; */
	}
	.calendar_weeks {
		margin: 0;
		padding: 10px 0;
		width: auto;
	}
	.calendar_weeks li {
		display: inline-block;
		width: 13.6%;
		color: #999;
		text-align: center;
	}
	.calendar_days {
		// margin: 0;
		margin: 1px 0;
		padding: 0;
		font-size: 13px;
		/* height: 34px; */
	}
	.calendar_days li {
		display: inline-block;
		width: 13.6%;
		/* width: 9.6%; */
		// width: 8.4%;
		// margin: 0 2.6%;
		color: #333;
		text-align: center;
		cursor: pointer;
		/* line-height: 2em; */
		line-height: 2.7em;
	}
	.calendar_preset li {
		line-height: 2.6em;
		width: auto;
		display: block;
	}
	.calendar_days li:hover {
		// background: #eee;
		// color: #000;
	}
	li.calendar_days--disabled {
		pointer-events: none;

		& + .calendar_days_selected {
			&:after {
				left: auto;
				right: 50%;
			}
		 }
	}
	li.calendar_days_selected {
		// background: #00266B;
		color: #fff;
		border-radius: 20px;
		position: relative;
		&:before {
			display: block;
			content: '';
			width: 35px;
			height: 35px;
			z-index: -1;
			border-radius: 50%;
			background: #00266B;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:after {
			display: block;
			content: '';
			background-color: rgb(232, 242, 254);
			width: 50%;
			height: 35px;
			position: absolute;
			top: 0;
			left: 50%;
			z-index: -2;
		}
		&.single-date {
			&:after {
				display: none;
			}
		}

		&:first-child {
            &:after {
                left: auto;
                right: 50%;
            }
        }
	}
	li.calendar_days_in-range {
		background: #e8f2fe;
		color: #000;
		&+li.calendar_days_selected {
			&:after {
				left: auto;
				right: 50%;
			}
		}
	}
	.calendar_preset {
		padding: 0;
	}
	.calendar_preset li.calendar_preset-ranges {
		padding: 0 30px 0 10px;
		margin-bottom: 5px;
		cursor: pointer;
		margin-top: 1px;
	}
	.calendar_preset li.calendar_preset-ranges:hover {
		background: #eee;
	}
	.calendar-mobile {
		width: 260px;
		z-index: 1;
		box-shadow: none;
	}
	.calendar-range-mobile {
		width: 90%;
		padding: 2px;
		border-left: none;
		margin: -20px 0;
	}
	.calendar-btn-apply {
		width: 100%;
		background: #f7931e;
		color: #fff;
		border: none;
		padding: 5px;
		font-size: 14px;
	}
	.disable-minus-btn {
		background-color: #f2f2f2;
		color: #ccc;
		border-radius: 60%;
		height: 27px;
		width: 17px;
		vertical-align: middle; // background-color: #f2f2f2;
		border: none;
		padding: 1px 6px;
		.ico-minus {
			display: block;
			margin-left: -1px;
			margin-top: -6px;
		}
		.ico-plus {
			display: block;
			margin-left: -1px;
			margin-top: -6px;
		}
	}
	.disable-plus-btn {
		background-color: #f2f2f2;
		color: #ccc;
		border-radius: 60%;
		height: 27px;
		width: 17px;
		vertical-align: middle;
		border: none; // background-color: #2275D3;
		// color: #fff;
		padding: 1px 6px;
		.ico-minus {
			display: block;
			margin-left: -1px;
			margin-top: -6px;
		}
		.ico-plus {
			display: block;
			margin-left: -1px;
			margin-top: -6px;
		}
	}
	.passengers-booking-stepper-container {
		// background-color: #FF9F00;
		display: block;
		position: absolute;
		width: 100%;
		background-color: #fff;
		top: 51px;
		border: 1px solid #ccc;
		box-shadow: 0 2px 6px -2px #c5c4c4;
		.adult-booking-stepper,
		.children-booking-stepper {
			position: relative;
			border-bottom: 2px solid #e6e6e6;
			padding: 10px 0px;
		}
		.infants-booking-stepper {
			position: relative;
			padding: 10px 0px;
		}
		.adult-stepper-description,
		.children-stepper-description,
		.infants-stepper-description {
			color: #222;
			display: inline-block;
			vertical-align: middle;
			width: 58%;
			margin-left: 12px;
			line-height: 1;
			font-size: 14px;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			p {
				-webkit-margin-before: 0.37em;
				-webkit-margin-after: 0em;
			}
		}
		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		.stepper-button-minus {
			position: relative;
			.ico-minus {
				display: block;
				margin-left: -1px;
				margin-top: -6px;
			}
		}
		.stepper-button-plus {
			position: relative;
			.ico-plus {
				display: block;
				margin-left: -1px;
				margin-top: -6px;
			}
		}
		.adult-stepper-buttons {
			display: inline-block;
			vertical-align: middle;
			.stepper-button-minus {
				border-radius: 60%; // height: 30px;
				// width: 20px;
				height: 27px;
				width: 17px;
				vertical-align: middle;
				background-color: #2275D3;
				color: #fff;
				border: none;
				padding: 1px 6px;
			}
			.ico-plus {
				// top: 11px;
				// right: 21px;
				// display: block;
				// position: absolute;
			}
			.ico-minus {
				// top: 11px;
				// display: block;
				// position: absolute;
				// // color: #ccc;
				// right: 110px;
			}
			.passenger-stepper-input {
				width: 36px;
				height: 36px;
				margin: 0px 7px;
				text-align: center;
				border: 1px solid #ccc;
				border-radius: 2px;
				color: #222;
				font-weight: 700;
				line-height: 40px;
			}
			.stepper-button-plus {
				border-radius: 60%;
				height: 27px;
				width: 17px;
				vertical-align: middle;
				border: none;
				background-color: #2275D3;
				color: #fff;
				padding: 1px 6px;
			}
		}
		.children-stepper-buttons {
			display: inline-block;
			vertical-align: middle;
			.stepper-button-minus {
				border-radius: 60%;
				height: 27px;
				width: 17px;
				vertical-align: middle;
				background-color: #2275D3;
				color: #fff;
				border: none;
				padding: 1px 6px;
			} // .ico-minus, .ico-plus {
			//     top: 20px;
			//     display: block;
			//     position: absolute;
			// }
			.ico-plus {
				// top: 11px;
				// right: 21px;
				// display: block;
				// position: absolute;
			}
			.ico-minus {
				// top: 11px;
				// display: block;
				// position: absolute;
				// // color: #ccc;
				// right: 110px;
			}
			.passenger-stepper-input {
				width: 36px;
				height: 36px;
				margin: 0px 7px;
				text-align: center;
				border: 1px solid #ccc;
				border-radius: 2px;
				color: #222;
				font-weight: 700;
				line-height: 40px;
			}
			.stepper-button-plus {
				border-radius: 60%;
				height: 27px;
				width: 17px;
				vertical-align: middle;
				border: none;
				background-color: #2275D3;
				color: #fff;
				padding: 1px 6px;
			}
		}
		.infants-stepper-buttons {
			display: inline-block;
			vertical-align: middle;
			.stepper-button-minus {
				border-radius: 60%;
				height: 27px;
				width: 17px;
				vertical-align: middle;
				background-color: #2275D3;
				color: #fff;
				border: none;
				padding: 1px 6px;
			} // .ico-minus, .ico-plus {
			//     top: 20px;
			//     display: block;
			//     position: absolute;
			// }
			.ico-plus {
				// top: 11px;
				// right: 21px;
				// display: block;
				// position: absolute;
			}
			.ico-minus {
				// top: 11px;
				// display: block;
				// position: absolute;
				// // color: #ccc;
				// right: 110px;
			}
			.passenger-stepper-input {
				width: 36px;
				height: 36px;
				margin: 0px 7px;
				text-align: center;
				border: 1px solid #ccc;
				border-radius: 2px;
				color: #222;
				font-weight: 700;
				line-height: 40px;
			}
			.stepper-button-plus {
				border-radius: 60%;
				height: 27px;
				width: 17px;
				vertical-align: middle;
				border: none;
				background-color: #2275D3;
				color: #fff;
				padding: 1px 6px;
			}
		}
	}
	.input-3__label {
        color: #666;
        position: absolute;
        top: 17px;
        letter-spacing: 0;
        left: 13px;
        z-index: 1;
        max-width: 150px;
        text-transform: inherit;
        font-size: 16px;
        line-height: 1em;
        padding:0;
    }
    .has_selected {
        .input-3__label {
            font-weight: 700;
            font-size: 8px;
            letter-spacing: 1px;
            color: #666;
            text-transform: uppercase;

            top: 12px;
        }
    }
	.form-group.grid-row.date-flight-container {
		margin-right: 10px;
	}
	.input-3.depart-date-container {
		border-right: none;
	}
	.full-banner {
		position: relative;
	}
	.book-now-btn {
		display: none;
	}
	.passenger-class-group {
		position: relative;
	}
	.accordion--promotion {
		margin-top: 0px;
		border: 1px solid #ccc;
	}
	.airport-code-from-to-container {
		border-bottom: 1px solid #ccc; // opacity: 0.7;
		margin-top: 10px;
		width: 125px;
		padding-bottom: 12px;
		div {
			display: inline-block;
		}
		.ico-airplane-2 {
			font-size: 18px;
		}
		.ico-airplane-2:before {
			padding-bottom: 3px;
		}
		.airport-code-from,
		.airport-code-to {
			color: #000;
			background-color: #fff;
			padding: 3px 8px;
			border-radius: 2px;
			font-size: 12px;
			font-weight: 700;
		}
	}
	.pass-through-promotion-detail-main-container {
		max-width: 988px;
		margin: 0 auto;
	}
	.pass-through-promotion-detail-container {
		zoom: 1;
		box-shadow: 0 3px 5px -3px #c5c4c4;
		.promotion-item__inner {
			margin-left: 0px;
			margin-top: 40px;
		}
	}
	.promo-code-top-desc-main {
		color: #fff;
		position: absolute;
		max-width: 988px;
		margin: 0 auto;
		top: 62px;
		left: 0;
		bottom: 0;
		right: 0;
		.applied-promo-code {
			font-family: "baker-signet-web", serif;
			.ico-check-container {
				margin-right: 5px;
			}
			.promo-code {
				font-weight: 700;
			}
		}
		.applied-promo-code-inner {
			padding-top: 7px;
			text-transform: uppercase;
			.ico-check-thick {
				width: 16px;
				height: 16px;
				color: #4A90E2;
				margin-left: 11px;
				background-color: #fff;
				border-radius: 10px;
				font-size: 8px;
			}
			.ico-check-thick:before {
				margin: 5px 4px;
			}
		}
		.promo-off-fares {
			h1 {
				font-size: 34px;
				margin-top: -4px;
			}
		}
		.promo-off-fares-description {
			border-left: 2px solid #FF9F00;
			margin-top: 15px;
			text-transform: uppercase;
			padding-left: 12px;
			font-weight: 300;
			display: table;
			.fare-deals-economy-return {
				// display: table-cell;
				td:first-child {
					font-weight: 600;
					font-size: 12px;
					width: 35%;
				}
				td:last-child {
					font-weight: 600;
					font-size: 29px;
				}
			}
		}
	}
	.promotion-item__content {
		padding: 16px 45px 14px;
		h4 {
			border-bottom: 1px solid #00266B;
			color: #00266B;
			margin-bottom: 20px;
			padding-bottom: 10px;
		}
		.promotion-details-table {
			color: #000;
			width: 100%;
			tr:first-child td {
				border-top: none;
				width: 150px;
			}
			td {
				padding: 8px 0;
				vertical-align: top;
				line-height: 1.5;
			}
			td:first-child {
				font-weight: 600;
				width: 20%;
			}
			td:nth-of-type(2) {
				width: 80%;
			}
		}
		.border-bottom {
			border-bottom: 1px solid #F2F2F2;
			td {
				padding-bottom: 25px;
			}
		}
		.table-row-4,
		.table-row-6 {
			td {
				padding-top: 25px;
			}
		}
		.view-full-fare-condition {
			td {
				padding-top: 10px;
				padding-bottom: 25px;
			}
		}
	}
	.booking-widget-static {
		outline: none;
		height: 160px;
		margin-bottom: 20px;
		border-bottom: none;
		box-shadow: 0 3px 5px -3px #c5c4c4;
		.booking-widget__content {
			background-color: #fff;
			padding: 16px 34px 14px;
		}
		.sub-heading-2--blue {
			border-bottom: 1px solid #00266B;
			padding-bottom: 10px;
		}
		.booking-widget__inner {
			background-color: transparent;
		}
		.booking-widget__content {
			background-color: transparent;
		}
	}
	.form-booking-widget-destination {
		padding-top: 11px;
		.custom-select--2 {
			height: 50px;
		}
		.input-3 {
			height: 50px;
		}
		.form-group:first-child {
			margin-bottom: 8px;
		}
		.select__text {
            font-size: 16px;
        }
	}
	.input-3 {
		button {
			right: 15px;
			top: 13px;
		}
	}
	.input-3__text {
		height: 50px;
		input {
			padding-left: 13px;
			font-size: 16px;
			height: 50px;
		}
	}
	.custom-select--2 {
		.select__label {
			font-weight: 700;
			color: #666;
			letter-spacing: 1px;
			top: -2px;
			max-width: 65px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-size: 8px;
			text-transform: uppercase;
		}
		.ico-location {
			right: 20px;
			width: 9px;
			height: 8px;
			margin-top: -8px;
			position: absolute;
			top: 50%; // font-size: 0px;
		}
		.ico-point-d {
			right: 30px;
			width: 9px; // height: 8px;
			margin-top: -4px;
			position: absolute;
			top: 22%;
			font-size: 16px;
			vertical-align: top;
			color: #1C5D49;
		}
		.ico-point-u {
			transition: none;
			transform: none;
			right: 30px;
			width: 9px; // height: 8px;
			margin-top: -4px;
			position: absolute;
			top: 22%;
			font-size: 16px;
			vertical-align: top;
			color: #1C5D49;
		}
		.ico-airplane-2 {
			right: 6px;
			width: 9px;
			height: 8px;
			margin-top: -11px;
			position: absolute;
			top: 50%; // font-size: 0px;
			z-index: 10;
		}
		.select__text {
			padding-left: 13px;
			top: 13px;
			font-weight: 700;
			input {
				font-size: 16px;
				font-weight: 600;
				padding-left: 13px;
				height: 37px; // top: 13px;
			}
		}
		.ico-point-d {
			transition: none;
			transform: none;
		}
		.select__text {
			// height: 50px;
		}
	}
	.custom-select--2 {
		.ico-location:before {
			font-size: 15px;
			vertical-align: top;
			color: #ccc;
		}
		.ico-airplane-2:before {
			font-size: 21px;
			vertical-align: top;
			color: #ccc;
			border-radius: 10px;
			background-color: #fff;
		}
	}
	.booking-widget-block {
		.customer-info {
			margin-left: -10px; // width: calc(100% - 630px);
			width: 68.5%;
		}
		.flight-info {
			width: 355px;
			padding-left: 6px;
		}
		.from-select {
			.ico-location {
				right: 32px;
			}
			.ico-cancel-thin {
				right: 40px;
			}
		}
		.button-group {
			// float: left;
			// margin-right: 10px;
			margin-right: 0px;
			input {
				padding: 20px 50px;
				width: 32%;
				margin-right: -7px;
			}
		}
		.date-group {
			// .one-half:first-child {
			//     margin-right: -11px;
			// }
			.grid-inner {
				padding-left: 0px;
			}
		}
		.width-4 {
			width: 57%;
		}
		.width-10 {
			width: 43%;
		}
	}
	.bold-text {
		font-weight: 700
	}
	.accordion--fare-conditions {
		box-shadow: rgb(197, 196, 196) 0px 3px 5px -3px;
		margin-bottom: 67px;
		.block-2 {
			border-bottom: none;
		}
		.sub-heading-3--blue {
			font-size: 23px;
			color: #00266B;
		}
		ol {
			-webkit-padding-start: 0px;
			color: #222;
			line-height: 1.5em;
			ul {
				li {
					list-style-type: none;
				}
				li:before {
					content: "•";
					font-size: 15px;
					padding-right: 18px;
				}
			}
			.fare-conditions-unordered-list {
				span {
					color: #999;
				}
			}
			.list-title {
				font-weight: 600;
				display: inline;
				padding-left: 0px;
			}
		}
		.fare-condition-ordered-list-main>li {
			// padding: 20px 0 23px 0;
			padding-top: 20px;
		}
		.fare-condition-ordered-list-main>.fare-condition-list {
			list-style-type: none;
			counter-increment: item;
		}
		.fare-condition-ordered-list-main>.fare-condition-list:before {
			font-weight: 600;
			content: counter(item) ".";
			display: inline-block;
			width: 1.5em;
			padding-right: 0.8em;
		}
		.fare-condition-list {
			ol {
				-webkit-padding-start: 15px;
				padding-left: 47px;
			}
			ul,
			.other-condition-note {
				padding-left: 32px;
			}
			p {
				padding-left: 32px;
				-webkit-margin-before: 0;
				-webkit-margin-after: 0;
			}
		}
		.other-condition-note {
			font-weight: 600;
			margin-top: 25px;
		}
		.accordion__content {
			hr {
				-webkit-margin-start: -50px;
				-webkit-margin-end: -26px;
				opacity: 0.1;
			}
		}
		.accordion {
			padding: 0px 20px 0 44px;
		}
	}
	.accordion__control {
		padding: 19px 27px 15px 0;
		.ico-point-d {
			top: 49%;
			right: 5px;
			font-size: 17px;
			line-height: 1em;
			width: 22px;
			color: #00266b;
		}
	}
	.grid-inner,
	.input-3 {
		outline: none;
	}
}

@media only screen and (max-width: 769px) {
	.pass-through-cug-page {
		.main-container {
			.booking-widget-static {
				height: auto;
			}
		}
		.pass-through-promotion-detail-main-container {
			padding: 0px 45px;
		}
		.custom-select--2 {
			.select__text {
				font-size: 16px;
			}
		}
		.promo-code-top-desc-main {
			padding: 0px 45px;
			top: 36px;
			.applied-promo-code {
				width: 226px;
			}
		}
		.booking-widget-block {
			.form-booking-widget-destination {
				padding-top: 0px;
				.width-4,
				.width-10 {
					width: 100%;
				}
				.from-to-container {
					margin-right: -10px;
				}
				fieldset {
					.date-group {
						.one-half {
							width: calc(50% - 5px)
						}
						.one-half:first-child {
							padding-left: 0px;
						}
					}
					.date-flight-container {
						margin-right: -10px;
					}
				}
				.flights-group {
					margin-bottom: 15px;
				}
				.customer-info {
					width: calc(100% - 155px); // margin-left: 5px;
					margin-left: -5px; // margin-top: 6px;
					margin-top: 0px;
				}
				.button-group {
					// margin-top: 6px;
					margin-top: 0px;
					margin-right: 0px;
					input {
						width: 33%;
						padding: 20px 48px;
					}
				}
				.flight-date-group {
					width: 100%; // margin-bottom: 15px;
					margin-bottom: 10px;
					.date-group {
						margin-top: 10px;
						.grid-inner {
							padding-left: 0px;
							padding-right: 0px;
						}
					}
				}
				.passenger-class-group {
					width: 100%;
				}
			}
		}
		.promotion-item__content {
			.promotion-details-table td:first-child {
				width: 28%;
			}
		}
		.calendar-right-to-left {
			width: 586px;
			right: 10px;
			.calendar_month_left {
				padding: 24px 6px 0px;
			}
			.calendar_month_right {
				padding: 24px 6px 0px;
			}
			.return-date-flight {
				right: 260px;
			}
		}
		.passengers-booking-stepper-container {
			.adult-stepper-description,
			.children-stepper-description,
			.infants-stepper-description {
				width: 64%;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.pass-through-cug-page {
		.passengers-booking-stepper-container {
			.adult-stepper-description,
			.children-stepper-description,
			.infants-stepper-description {
				width: 50%;
			}
		}
		.date-flight-container {
			.one-half:first-child {
				margin-right: -5px;
			}
		}
	}
}

.pass-through-aam-page, .pass-through-cug-page {
    .ui-autocomplete [data-value="No results found."]:hover {
        background: #fff;
        color: #333;
    }

    .date-picker-light-box {
        display: none;
    }
}
