.fare-tabs {
    .tab {
        .tab-item {
           &.active {
                a {
                    border-top-color: #f99f00;
                }
            }
        }
    }

    .fare-table {
        .fare-title {
            color: #00266b;
        }

        .th-width {
            width: 22%;
        }

        .th-width-1 {
            width: 24%;
        }

        .th-width-2 {
            width: 29%;
        }

        .th-width-3 {
            width: 38%;
        }

        .th-width-4 {
            width: 75%;
        }

        td {
            vertical-align: top;
        }

        .fare-description, .fare-title {
            sup {
                font-size: 8px;
            }
        }

        .ico-info-round-fill {
            position: relative;
            font-size: 14px;
            color: #9e9fa0;
            margin-top: -5px;

            &:before {
                position: relative;
                z-index: 1;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0.4em;
                left: 0.4em;
                z-index: 0;
                width: 0.7em;
                height: 0.7em;
                background: #fff;
                -webkit-border-radius: 50% 50%;
                -moz-border-radius: 50% 50%;
                -o-border-radius: 50% 50%;
                border-radius: 50% 50%;
            }

            .ico-highlight {
                display: none;
            }
        }

        .fare-tooltip {
            margin-left: 0;
        }

        .table-1 {
            th {
                em {
                   margin-left:  0;
                }
            }
        }
    }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
    .tabs-fare {
        .table-responsive {
            td {
                padding: 20px 10px;
                display: table-cell;
            }
        }

        .multi-tabs > .tab .more-item {
            display: none;
        }

        .multi-tabs .multi-select {
          display: none;
        }

        .multi-tabs {
            .tab {
               .tab-item {

                    &.active {
                       width: auto;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 640px) {
    .fare-tabs {
        .show-mb-1 {
            display: none;
        }
    }
}

@media screen and (max-width: 639px) {
    .tabs-fare {
        .show-mb-1 {
            display: inline-table;
        }

        .hidden-mb-1 {
            display: none;
        }

        .multi-tabs {
            .tab {
               .tab-item {
                    max-width: 100%;
                    display: none;

                    &.active {
                       width: 200px;
                        display: block;
                    }
                }
            }

            .multi-select {
                display: block;
            }
        }

        .multi-tabs > .tab .more-item {
            display: block;
        }

        .table-1 {

            th, td {

                em {
                   margin-top: -3px;
                }
            }
        }

        .table-margin {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .fare-tabs {
            td:last-child {
                padding-top: 5px;
            }
        }
    }
}

.tabs-fare {
    input {
        &.input-overlay {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}