.kf-flows {
	.kf-create-password{
        img.pin-eye-icon {
            top: 11px;
            right: 12px !important;
        }
    }
	.dials-inner.clearfix {
		padding-top: 20px;
	}
	.kf-reset-password--heading {
		font-size: 33px;
        color: #09236e;
		padding-bottom: 24px;
		font-family: 'sigvar', serif;
		font-weight: 300;
        letter-spacing: 0.02em;
	}
	.kf-reset-password.gigya-style-modern {
		.gigya-screen .gigya-composite-control.gigya-composite-control-label.main-text {
			font-size: 16px;
			padding-bottom: 32px;
			color: #010101;
			line-height: 1em;
		}
		.gigya-screen.portrait {
			width: 75% !important;
			margin: 0px !important;
			position: relative;
		}
		.gigya-composite-control.gigya-composite-control-link {
			display: block;
			font-size: 14px;
		}
		.gigya-composite-control.gigya-composite-control-submit.submit-wrapper {
			padding-top: 30px;
			width: 111px;
			right: 0px;
			.gigya-input-submit {
				border-radius: 2px;
			}
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-textbox .gigya-label {
			line-height: 0.8em;
			padding-bottom: 10px;
		}
		.krisflyer-number-input-field{
			padding-top: 100px;
		}
		.warning-message-block {
			.ico-info-round-fill{
                left: -68px;
                font-size: 30px;
                color: #00266b;
                line-height: 0.8px;
				padding-bottom: 9px;
				padding-left: 20px;
				padding-right: 18px;
				padding-top: 11px;
				background-color: #e5eaf0;
				top: 0;
                &:before{
                    margin: 0;
                    
                  
				}
				position: absolute;
			}
			position: absolute;
            padding-top: 15px;
			padding-bottom: 18px;
			left: 69px;
			width: calc(100% - 69px);
            background-color: #e5eaf0;
            font-size: 10px;
            color: #021d6e;
            margin-bottom: 21px;
		}
		.gigya-screen .gigya-label-text {
			font-size: 15px;
			color: #333333;
		}
		.gigya-composite-control.gigya-composite-control-label {
			font-size: 14px;
			color: #001f6d;
		}
		.gigya-composite-control.gigya-composite-control-textbox.email-wrapper {
			padding-bottom: 17px;
			.gigya-input-text {
				margin-bottom: 13px;
			}
		}
		.gigya-screen .gigya-composite-control.gigya-composite-control-textbox input {
			margin-bottom: 5px;
		}
	}
	.kf-create-password.gigya-style-modern{
		.gigya-composite-control.gigya-composite-control-password {
			position: relative;
			.pin-eye-icon {
				position: absolute;
				top: 38px;
				right: 12px;
				width: auto;
				height: 15px;
				opacity: 0.6;
			}
		}
		.gigya-composite-control.gigya-composite-control-submit{
			width: 111px;
		}
		input.gigya-input-submit{
			border-radius: 2px;
		}
		.gigya-composite-control.gigya-composite-control-password.user-pin.confirmpass{
			position: relative;
			.pin-eye-icon {
			
			}
		}
        label.gigya-composite-control.gigya-composite-control-label.main-text.gigya-message.letter-spacing-s.sub-heading-1--blue{
            font-size: 33px;
            color: #09236e;
			padding-bottom: 24px;
			font-family: 'sigvar', serif;
			font-weight: 300;
			letter-spacing: 0.02em;
        }
        .gigya-screen.portrait{
            width: 75% !important;
            margin: 0px !important;
            position: relative;
        }
        .gigya-spacer{
            padding: 0px;
            height: 0;
        }
        .gigya-composite-control.gigya-composite-control-password{
            float: left;
            display: block;
			width: 50% !important;
			
        }
        .gigya-composite-control-password.user-pin.confirmpass{
            width: calc(50% - 20px) !important;
			padding-left: 20px;	
			display: inline-block !important;
        }
        .gigya-label{
            padding-bottom: 7px;
            .gigya-label-text,.gigya-required-display.gigya-reset{
                line-height: 1em;
            }
        }
        .gigya-composite-control.gigya-composite-control-submit{
            right: 0;
            position: absolute;
            width: 15%;
            display: block;
        }
        label.gigya-composite-control.gigya-composite-control-label.pin-eye-description{
            font-size: 14px;
			padding-bottom: 13px;
			line-height: 1.4em;
			font-family: "proxima-nova", sans-serif;
			margin-top: 5px;
        }
        .gigya-input-password{
            margin-bottom: 5px;
        }
    }
	.kf-change-password-confirm{
        .gigya-screen.portrait{
            width: 75% !important;
            margin: 0px !important;
            position: relative;
        }
        input.gigya-input-submit{
            background-color: #00266b;
            font-size: 12px;
            line-height: 1em;
			width: 100%;
			border-radius: 2px;
        }
        a.gigya-composite-control.gigya-composite-control-link.resetpin-success-login-button{
            width: 15%;
            position: absolute;
            right: 195px;
        }
        .gigya-layout-cell{
            width: 100%;
        }
        label.gigya-composite-control.gigya-composite-control-label.main-text.gigya-message.letter-spacing-s.sub-heading-1--blue{
            font-size: 33px;
            color: #09236e;
			padding-bottom: 24px;
			font-family: 'sigvar', serif;
			font-weight: 300;
			letter-spacing: 0.02em;
        }
        label.gigya-composite-control.gigya-composite-control-label{
            font-size: 16px;
			color: #010101;
			padding-bottom: 27px;
        }
	}
	.popup-update-password{
		z-index: 21;
		background: transparent;

		span.gigya-error-msg.gigya-error-code-400009.gigya-error-msg-active{
            text-align: inherit;
        }
        div#gigya-password-change-required-screen{
            padding-top: 0px;
            margin-top: 37px;
		}
		.gigya-input-password{
            border-radius: 2px;
        }
        label.gigya-label-text.gigya-composite-control.gigya-composite-control-label.main-text{
            font-size: 22px;
            font-family: 'sigvar', serif;
            color: #00236d;
            line-height: 1em;
            padding-bottom: 14px;
			padding-top: 30px;
			font-weight: 300;
			letter-spacing: 0.02em;
        }
		input.gigya-input-submit{
			font-weight: 700;
		}
        .gigya-layout-row:first-child{
            position: relative;
        }
		.update-pin-prompt{
            background-color: #e5e9f0;
            color: #001f6d;
            font-size: 14px;
            line-height: 1.4em;
            padding: 20px; 
            .ico-info-round-fill{
                color: #00266b;
                float: left;
                font-size: 32px;
                margin-top: 5px;
            }
            p{
                margin-left: 52px;
                font-size: 14px;
                color: #00266b;
            }
        }
        .popup__inner{
			max-width: 427px;
			top: 73px;
			-webkit-transform: none;
			transform: none;
        }
        .popup__content{
            padding-top: 70px;
            padding: 0px;
            margin: 0px;
        }
        .gigya-screen.portrait{
            width: 100%;
            padding: 40px;
            padding-top: 72px;
		}
        .gigya-composite-control.gigya-composite-control-submit{
			
            right: 0;
            width: 100%;
            padding-bottom: 4px;
            padding-top: 9px;
            input.gigya-input-submit{
                text-transform: uppercase;
                font-size: 12px;
                background-color: #00266b;
				font-weight: 700;
				border-radius: 2px;
            }
        }
        label.gigya-composite-control.gigya-composite-control-label.pin-eye-description{
            font-style: italic;
			font-size: 14px;
			line-height: 1.4em;
			font-family: "proxima-nova", sans-serif;
            color: #666666;
			

        }
        .gigya-screen .gigya-composite-control.gigya-composite-control-password{
			padding-bottom: 7px;
			width: 100%;
            .gigya-label-text{
                color: #333333;
                font-size: 15px;
            }
         
        }
        .gigya-composite-control.gigya-composite-control-password.user-pin.confirmpass{
            padding-bottom: 7px;
            .gigya-label-text{
                padding-top: 10px;
                color: #333333;
                font-size: 15px;
            }
         
        }
        .gigya-screen .gigya-required-display{
            color: #333333;
            padding: 0;
		}
		div#gigya-password-change-required-screen{
			padding-top: 0px !important;
		}
	}
	.kf-update-password {
		.gigya-composite-control.gigya-composite-control-password {
			position: relative;
			.pin-eye-icon {
				position: absolute;
				right: 12px;
				width: auto;
				height: 15px;
				opacity: 0.6;
			}
		}

		.gigya-composite-control.gigya-composite-control-password.user-pin.confirmpass{
			position: relative;
			.pin-eye-icon {
				top: 48px;
				right: 12px !important;
			}
		}
		
		.gigya-screen-caption{
			background-color:black;
			display: none;
		}
	}
	.kf-update-password-success{
		padding: 20px 20px 0px;
	}
	.kf-update-password-success{
        max-width: 988px;
		margin: 0 auto;
        overflow: hidden;
        padding-top: 30px;
        .update-password-group{
            display: grid;
            grid-template-columns: 5% 95%;
            grid-template-rows: 1fr;
            grid-template-areas: "icon-info password-update";
            padding: 20px;
            background-color: #e5eaef;
        }

        .ico-info-round-fill{
            grid-area: icon-info;
			padding-left: 8px;
			padding-right: 20px;
            font-size: 30px;
            color: #00266b;
            &:before{
                margin: 0;
                padding-bottom: 5px;
            }
        }
        .ico-point-r{
			font-size: 7px;
            margin-top: -3px;
            &:before{
                margin: 0;
            }
        }
        .update-password-details{
            grid-area: password-details;

            line-height: 1em;
            padding: 0;
            margin: 0;
        }   
        .update-password-close{
            grid-area: closed-back;

            line-height: 1em;
            padding: 0;
            margin: 0;
        }
        .update-password-detals--wrapper{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "password-details" "closed-back";
            grid-row-gap: 10px;
            grid-area: password-update;
        }
	}
	.kf-update-phone-pin{
		img.pin-eye-icon{
			top: 10px;
    		right: 12px;
		}
        button.btn.btn-1{
            top: 20px;
        }
        .form-group.confirm-pass-input{
            display: block;
            margin-left: 0;
        }
        .terms-and-conditions-prompt{
            position: relative;
            width: 65%;
            label{
                font-size: 14px;
                color: black;
                line-height: 1.1em;
                // &:after{
                //     content: '\e610';
                //     font-family: 'sia';
                //     font-weight: bold;
                //     color: #ef9a1a;
                //     position: absolute;
                //     top: -1px;
                //     left: 2px;
                //     display: none;
                //     font-size: 14px;
				// }
				// &:before{
				// 	top: 0px;
				// }
            }
        }
        .reminder-password{
            p{
                margin-bottom: 30px;
                font-style: italic;
                font-size: 12px;
                color: #666666;
            }
        }
        .submit-btn{
            margin-top: 0;
        }
        .payment-currency{
            padding: 20px;
        }
        
	}
	.kf-act-update-password{
		.gigya-composite-control.gigya-composite-control-checkbox.pwd-checkbox{
            label.gigya-label{
                width: 90% !important;

                span{       
                    line-height: 1.1em;
                }
            }
        }
        .gigya-composite-control.gigya-composite-control-password.new-pwd-field{
            position: relative;
            width: 100%;
            margin-left: 0;
        
        }
        .gigya-composite-control.gigya-composite-control-password.confirm-pws{
            position: relative;
            width: 100%;
        }
		form#gigya-profile-form{
            //extra layout row
            :nth-child(10).gigya-layout-row{
                display: none;
            }
        }
        label.gigya-required-display.gigya-reset{
            margin: -1px;
        }
        img.pin-eye-icon {
            right: 15px;
        }
        .screenset-container.update-password{
            padding-top: 0px;
        }

        .gigya-layout-ro.ui-sortablew {
            margin-bottom: 20px;
        }
        .gigya-composite-control.gigya-composite-control-password.current-pwd-field {
            width: 31%;
            margin: 0;

            span.gigya-label-text{
                color: #666;
            }
        }
        label.gigya-composite-control.gigya-composite-control-label.password-desc {
            width: 62%;
            font-style: italic;
            font-size: 12px;
            margin-bottom: 20px;
            color: #666666;
            margin-top: 10px;
        }
        .gigya-composite-control.gigya-composite-control-checkbox{
            margin: 0;
            width: 60%;
            padding: 20px;
            background-color: #e5e9f0;
            font-size:14px;

            a{
                font-size: 14px;
                color: #0254ec;
            }
        }
        .gigya-composite-control.gigya-composite-control-submit.save-button{
            padding: 0;
            position: absolute;
            bottom: 0px;
            margin: 0;
            height: unset;
            width: unset;
            right: 0;

            input.gigya-input-submit{
                padding: 13px 32px;
                margin: 0;
                width: unset;
                height: unset;
                background-color: #00266b !important;
                font-size: 12px;
                letter-spacing: 0.1em;
                font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                text-transform: uppercase;
                color: #ffffff;
                font-weight: 700;
                border: 0;
                height: 14px;

                &.disabled{
                    background-color: #999 !important;
                    color: #dddddd !important;
   
                }
            }
        }
        label.gigya-composite-control.gigya-composite-control-label.cancel-button{
            position: absolute;
            right: 108px;
            padding: 10px 22px;
            /* top: 0; */
            bottom: 0px;
            background-color: #6c7577;
            /* color: #ffffff; */
            border-radius: 2px;

            b{
                font-size: 12px;
                letter-spacing: 0.1em;
                font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                text-transform: uppercase;
                color: #ffffff;
            }
        }
    }
    .create-pwd-block{
        img.pin-eye-icon{
            right: 12px;
        }
    }
	

	.join-krisflyer-tab {
		.gigya-screen.portrait {
			padding: 0;
			width: auto;
		}
		.gigya-multi-choice-item {
			width: 70px;
			margin: 0;
			float: left;
			display: block;
		}
		.gigya-layout-cell {
			padding-right: 0;
		}
		.gigya-screen.portrait .gigya-composite-control {
			padding-right: 15px;
		}
	} // Password style and coarse positioning fix
	.gigya-composite-control.gigya-composite-control-textbox.user-pin {
		&.createpass .gigya-input-text,
		&.confirmpass .gigya-input-text {
			width: 430px;
			display: block;
			margin-left: 0;
			margin-right: 0;
		}
	} // Page divider
	.gigya-composite-control.gigya-composite-control-label.label-divider {
		background-image: url(data:image/gif;base64,R0lGODlhBQABAHAAACwAAAAABQABAIHq6uoAAAAAAAAAAAACAoRdADs=);
		span {
			background: #F7f7f7;
			border-radius: 100%;
			height: 20px;
			background-position: top;
			padding: 12px;
			font-weight: bold;
			margin-top: 19px;
		}
	}
	.gigya-composite-control.gigya-composite-control-checkbox .gigya-label {
		width: 272px;
	}
	&.gigya-registration .gigya-composite-control.gigya-composite-control-dropdown select {
		border-radius: 2px !important;
		border-color: #cccccc !important;
	}
	.gigya-screen.portrait.mobile input[type=email],
	.gigya-screen.portrait.mobile input[type=password],
	.gigya-screen.portrait.mobile input[type=text],
	.gigya-screen.portrait.mobile select {
		height: 48px;
	}
	#gigya-textbox {
		&-4578844009266327 {
			margin-bottom: 63px;
		}
		&-63076820371857790 {
			width: 90px;
			margin-left: 0;
		}
		&-55990380147675110 {
			width: 20.1vw;
		}
		&-15249043799037952 {
			width: 429px;
		}
		&-74091525809889070 {
			width: 42.1vw;
		}
	}
	.gigya-composite-control.gigya-composite-control-checkbox.first-name-checkbox {
		width: 260px;
		margin-right: 170px;
		font-size: 14px;
		color: #777777;
	}
	
	.gigya-composite-control.gigya-composite-control-dropdown.select-region {
		position: absolute;
		right: 368px;
		width: 110px;
	}
	#gigya-dropdown {
		&-8654064035575587 {
			width: 42.1vw;
		}
		&-121862640951327330 {
			width: 42.1vw;
		}
	}

	.kf-label {
		&-kf-password-instruction {
			width: 730px;
		}
		&-login-details-password-guide {
			font-style: italic;
			color: #666 !important;
			font-size: 14px;
			line-height: 20px;
		}
	}
	.gigya-label-text.gigya-checkbox-text {
		color: #000 !important;
	}
	.kf-privacy {
		&-policy-terms {
			width: 860px !important;
			padding: 15px !important;
			background-color: #E6EAF1;
		}
		&-policy-terms .gigya-label {
			width: 97% !important;
			line-height: 20px !important;
		}
	}
	.gigya-composite-control {
		&.gigya-composite-control-submit {
			width: 150px;
			float: right;
			right: -14px;
			position: relative;
			padding-top: 20px;
		}
		&.gigya-composite-control-multi-choice .gigya-multi-choice-item label {
			font-size: 14px;
			margin-bottom: 20px;
			margin-left: 0px;
			margin-right: 23px;
		}
	}
	.gigya-social-login {
		#joinKrisflyerTabKF_social_5 {
			margin: 5px 0 0;
			&_uiContainer {
				height: 50px !important;
				width: auto !important;
			}
		}
		.gigya-login-provider-row {
			float: left;
			display: block;
			clear: none;
			padding-top: 0;
		}
		.gigya-login-providers {
			height: 50px !important;
		}
		.gigya-login-provider {
			margin-right: 10px !important;
			padding: 0 !important;
		}
		.gigya-login-providers-list-container {
			width: 440px !important;
		}
		.gigya-composite-control.gigya-composite-control-social-login {
			display: block;
			width: 260px !important;
			margin: 0;
		}
		.gigya-login-providers-container {
			width: 500px !important;
		}
	}
	.gigya-layout-row.kf-referral-box {
		padding-left: 20px;
		background: #F7F7F7;
		margin-bottom: 20px;
		border-radius: 2px;
		padding-right: 0;
		padding-top: 5px;
	}
	input#gigya-textbox-66915798330570430 {
		width: 410px;
	}
	.kf-referral-box label.gigya-composite-control.gigya-composite-control-label.links-header {
		margin-top: 10px !important;
	}
	.ru-flows .pin-eye-icon {
		right: -200px;
	}
	.gigya-composite-control.gigya-composite-control-dropdown.select-region {
		top: 91px;
		position: relative;
		left: -192px;
	}
	label.gigya-composite-control.gigya-composite-control-label.kf-label-mailing-information {
		margin-top: 100px;
	}
	input#gigya-textbox-63076820371857790,
	input#gigya-textbox-55990380147675110 {
		margin-top: 9px;
		position: relative;
	}
	input#gigya-loginID-6085015311664540 {
		width: 86.3vw;
	}
	.gigya-screen.portrait.mobile input[type=email],
	.gigya-screen.portrait.mobile input[type=password],
	.gigya-screen.portrait.mobile input[type=text],
	.gigya-screen.portrait.mobile select {
		height: 42px !important;
		border-radius: 2px;
	}
	input#gigya-textbox-63076820371857790 {
		width: 155px;
	}

	input#gigya-textbox-4578844009266327 {
		margin-bottom: 63px;
	}
	div#gigya-register-screen {
		margin: 0 !important;
	}
	select#gigya-dropdown-67070594329022910 {
		width: 250px;
	}
	input#gigya-textbox-105317929061847680 {
		margin-top: 0;
	}
	.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown input,
	.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown select,
	.gigya-screen .gigya-composite-control.gigya-composite-control-password input,
	.gigya-screen .gigya-composite-control.gigya-composite-control-password select,
	.gigya-screen .gigya-composite-control.gigya-composite-control-textbox input,
	.gigya-screen .gigya-composite-control.gigya-composite-control-textbox select {
		border-radius: 2px !important;
	}
	select#gigya-dropdown-8654064035575587 {
		width: 86.1vw;
	}
	.gigya-composite-control.gigya-composite-control-checkbox.sortable-drag.kf-privacy-policy-terms {
		width: 84.1vw !important;
	}
	.gigya-composite-control.gigya-composite-control-password {
		position: absolute;
	}
	.gigya-composite-control.gigya-composite-control-password {
		position: absolute;
	}
	.ru-flows .tabs-component .tab-wrapper {
		padding: 0;
	}
	.gigya-composite-control.gigya-composite-control-textbox.user-lastname {
		margin-top: -2px !important;
	}
	label.gigya-composite-control.gigya-composite-control-label.kf-label-mailing-information {
		margin-top: 100px !important;
	}
	.gigya-layout-cell {
		position: relative;
	}
	input#gigya-textbox-131434716406360420 {
		width: 42.1vw;
	}
	select#gigya-dropdown-2155470428414336 {
		width: 42.1vw;
	}
	input#gigya-textbox-91884567860429760 {
		width: 42.1vw;
	}
	input#gigya-textbox-131690266822458620 {
		width: 42.1vw;
	}
	select#gigya-dropdown-86402534108221310 {
		width: 42.1vw;
	}

	label.gigya-composite-control.gigya-composite-control-label.kf-label-kf-com-pref {
		width: 50vw;
	}
	label.gigya-composite-control.gigya-composite-control-label.kf-label-mailing-information {
		width: 50vw;
	}
	.gigya-composite-control.gigya-composite-control-password {
		width: 42.1vw;
    }
    label.gigya-composite-control.gigya-composite-control-label.kf-label-kf-password-instruction {
        width: 86.1vw;
	}

	// Gigya notify bg block
	//   - T&C
	//   - Social media notification	
	.gigya-composite-control.gigya-composite-control-checkbox.krisflyer-terms-conditions-block,
	.gigya-composite-control.gigya-composite-control-label[data-screenset-element-id=__gig_template_element_349_1533291861748],
	.gigya-composite-control.gigya-composite-control-label[data-screenset-element-id=__gig_template_element_350_1533291433774]
	 {
		padding-top: 20px;
		padding-left: 15px;
		padding-right: 25px;
		padding-bottom: 15px;
		background-color: #e5e9f0;
		padding: 20px;
		
	}

	.gigya-composite-control.gigya-composite-control-label[data-screenset-element-id=__gig_template_element_349_1533291432303],
	.gigya-composite-control.gigya-composite-control-label[data-screenset-element-id=__gig_template_element_350_1533291433774]
	 {
		line-height: 20px;
		color: #00226b;
		font-weight: 400;
	 }

	// KF Password instruction style
	.gigya-composite-control.gigya-composite-control-label.password-block {
		font-style: italic;
		color: #666 !important;
		font-size: 14px;
		line-height: 20px;
	}

	// Apply button on promo code
	
	.apply-btn,
	.apply-promocode-btn,
	.gigya-composite-control.gigya-composite-control-label[data-screenset-element-id=__gig_template_element_566_1533291034900] {
		line-height: 12px;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 0.1em;
		cursor: pointer;
		border: none;
		padding: 15px 20px !important;
		overflow: visible;
		outline: none;
		font-weight: 700;
		transition: all 400ms ease 0s;
		border-radius: 2px !important;
		background-color: #00266b !important;
		margin: 0 !important;
		width: 110px;
		
		b {
			color: #fff;
			display: block;
			font-size: 12px !important;
			text-align: center;
		}	
	} 	
}

@media screen and (max-width: 768px) {
	.kf-create-password.gigya-style-modern .gigya-composite-control.gigya-composite-control-submit{
		width: 20% !important;
	}
	.kf-flows .kf-reset-password.gigya-style-modern .warning-message-block .ico-info-round-fill{
		padding-top: 16px;
		padding-bottom: 21px;
		padding-right: 19px;
	}
	.kf-flows .kf-update-password-success{
		.update-password-group{
            display: grid;
            grid-template-columns: 8% 92%;
            grid-template-rows: 1fr;
            grid-template-areas: "icon-info password-update";
            padding: 20px;
            background-color: #e5eaef;
        }
	}
	.kf-flows .kf-change-password-confirm a.gigya-composite-control.gigya-composite-control-link.resetpin-success-login-button{
		right: 110px;
	}
}
