.travel-agents {
  &__sort-link {
    display: inline-block !important;
  }

  &__form-search {
    padding-top: 0;
  }

  &__search {
    &-btn:focus{
      background-color: #00266b;
    }
  }

  &__header {
    font-family: 'sigvar';
    font-weight: 500;

    &.main-heading {
      font-family: 'sigvar';
      font-weight: 300;
      letter-spacing: 0.02em;
      font-size: 33px;
    }

    &.popup__heading {
      font-family: 'sigvar';
      font-weight: 400;
    }
  }
}

.agent {
  &-result {
    &__btn-done {
      width: 15%;
    }

    &--wrapper {
      .title-4--blue {
        margin-bottom: 15px;
      }
    }

    &__content {
      &-info {
        cursor: pointer;
        position: relative;
        border: 1px solid #ccc;
        padding: 20px;
        margin: 10px 0px;

        &.selected {
          border-color: #03760b;
        }

        &__button {
          position: absolute;
          right: 5%;
          top: 15%;
          background: none;
          border: none;
          color: #0254EC;
          font-weight: bold;
          margin-top: 20px;
        }

        &__badge {
          background: #cdf0cf;
          border: none;
          color: #03760B;
          position: absolute;
          top: 0;
          right: 0;
          font-weight: 700;
          padding: 3px 5px 2px 7px;
        }
      }
    }

    &__load-more {
      &--wrapper {
        height: 40px;
        background: #ffffff;
        border: 1px solid #ccc;
        padding: 0;
        margin-bottom: 10px;
        overflow: hidden;
      }

      &__btn {
        text-align: center;
        font-weight: 700;
        background: none;
        border: none;
        color: #0254EC;
        width: 100%;
        height: 100%;
        cursor: pointer;
        outline: none;
        padding: 0;
      }
    }
  }
}

.popup {
  &__heading {
    font-size: 28px;
    font-weight: 600;
  }
}
