.miles-calculation-service-tab {
			overflow: hidden;
		    position: relative;
		li {
			list-style: none;
			float: left;
			border-right:1px solid #ccc;
			width: 241.6px !important;
			background-color:#ddd;
			text-align: center;
			height: 50px;
			position: relative;	
			a {
				color: #00226b;
				text-decoration: none;
				text-transform: uppercase;
				text-align: center;

				span.miles-tab-span {
				  	line-height: 49px;
				    letter-spacing: 2px;
				    font-weight: 600;
				}
			}
		}

		.miles-active-tab  {
			background-color:#00226b;

			a {
				color: #fff;
			}
		}

	}

	.miles-cta {

		.miles-return-one-way {
			li {

				cursor: pointer;
			    list-style: none;
			    display: inline-block;
			    padding: 0px!important;
			    border: 1px solid #00226b;
			    background-color: transparent;
			    float: left;
			    width: 100px!important;
			    text-align: center;

				a {
				    color: #00226b;
				    text-decoration: none;
				    height: 3px;
				    line-height: 38px;
				}
			}

			li.miles_cta_active {
				background-color:#00226b;
				
				a {
					color:#fff;
				}
			}

			li:first-child {
				padding-right: 0px!important;
			}

			li:last-child {
				border-left: 0 solid #fff;
			}
		}
	}
	.miles-calculator-content {
	    overflow: hidden;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;

		.calcBtn {
			width: 88px!important;
			margin-top: 10px;
		}
	}

	.miles-calculator-content .miles-calculator-block-inner .miles-form-group .grid-col.mc-dropdown {
	    width: 50%;
	    margin-right: 0px;
	}
	.grid-col.mc-toggle {
			margin-top: 20px;

		li:first-child {
	   	 border-top-left-radius: 2px;
	   	 border-bottom-left-radius: 2px;
					}

	li:last-child {
		border-left: 0 solid #fff;
		border-bottom-right-radius:2px;
		border-top-right-radius:2px;
			}
		}
	.button-group-1.mc-calculate-btn {
		    position: absolute;
		    right: 42px;
		    top: 36.4em;
		}
	.heading-wrap{
		margin-bottom: 22px;
	}
}
