.video-block-grid {
    height: 350px; 
    margin-bottom: 0px; 
    margin-top: 20px;

    .wrap-video-left {
        width: 49%; 
        float: left;
        background-color: #fff;
    }
    .wrap-video-right {
        width: 49%; 
        float: right;
        background-color: #fff;
    }
    iframe {
        border:0;
        width: 100%; 
        height: 190px;
    }
    .inner-text {
        padding: 20px;
    }
    .video-title {
        font-size: 18px;
        color: #00266b;
        margin-bottom: 8px;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-weight: 600;
    }
}
