/* Fontface */
@font-face {
  font-family: 'sia';
  src: url('../fonts/sia.eot');
  src: url('../fonts/sia.eot?#iefix') format('embedded-opentype'), url('../fonts/sia.woff') format('woff'), url('../fonts/sia.ttf') format('truetype'), url('../fonts/sia.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-1';
  src: url('../fonts/sia-1.eot');
  src: url('../fonts/sia-1.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-1.woff') format('woff'), url('../fonts/sia-1.ttf') format('truetype'), url('../fonts/sia-1.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-2';
  src: url('../fonts/sia-2.eot');
  src: url('../fonts/sia-2.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-2.woff') format('woff'), url('../fonts/sia-2.ttf') format('truetype'), url('../fonts/sia-2.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-3';
  src: url('../fonts/sia-3.eot');
  src: url('../fonts/sia-3.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-3.woff') format('woff'), url('../fonts/sia-3.ttf') format('truetype'), url('../fonts/sia-3.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-amenities';
  src: url('../fonts/sia-amenities.eot');
  src: url('../fonts/sia-amenities.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-amenities.woff') format('woff'), url('../fonts/sia-amenities.ttf') format('truetype'), url('../fonts/sia-amenities.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-map';
  src: url('../fonts/sia-map.eot?cbq5t9');
  src: url('../fonts/sia-map.eot?cbq5t9#iefix') format('embedded-opentype'), url('../fonts/sia-map.ttf?cbq5t9') format('truetype'), url('../fonts/sia-map.woff?cbq5t9') format('woff'), url('../fonts/sia-map.svg?cbq5t9#sia-3') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-meals';
  src: url('../fonts/sia-meals.eot?egg8fi');
  src: url('../fonts/sia-meals.eot?egg8fi#iefix') format('embedded-opentype'), url('../fonts/sia-meals.ttf?egg8fi') format('truetype'), url('../fonts/sia-meals.woff?egg8fi') format('woff'), url('../fonts/sia-meals.svg?egg8fi#sia-meals') format('svg');
  font-weight: normal;
  font-style: normal; }

/* End fontface */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent; }

a:active {
  outline: 0;
  text-decoration: none; }

a:focus {
  outline: none; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none; }

input[type="tel"], input[type="text"], input[type="password"], input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

body {
  font-size: 14px;
  font-weight: 400;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  min-width: 1.875em;
  color: #666;
  background-color: #f7f7f7;
  width: 100%;
  -webkit-font-smoothing: antialiased; }

* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

input[type="password"] {
  font-family: Arial; }

input::-ms-clear {
  display: none; }

a {
  text-decoration: none;
  color: #0254ec;
  -webkit-transition: color 400ms ease 0s;
  -moz-transition: color 400ms ease 0s;
  transition: color 400ms ease 0s; }
  a [class^=ico-] {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none; }

/*! End normalize.css v3.0.1 | MIT License | git.io/normalize */
/* Style for heading */
h1, h2, h3, h4, h5, h6 {
  font-family: "baker-signet-web", serif;
  margin: 0;
  font-weight: 500; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 21px; }

.page-error-heading {
  font-size: 86px;
  color: #00266b; }

.main-heading {
  font-size: 36px;
  line-height: 1.3;
  color: #00266b; }

.main-heading--dark {
  font-size: 36px;
  line-height: 1.3;
  color: #000; }

.sub-heading-1--grey {
  font-family: "baker-signet-web", serif;
  font-size: 28px;
  color: #666; }

.sub-heading-1--dark {
  font-family: "baker-signet-web", serif;
  font-size: 28px;
  color: #000; }
  .sub-heading-1--dark strong {
    font-weight: 700; }
  .sub-heading-1--dark .search-link, .sub-heading-1--dark .calendar-link {
    float: left;
    margin-top: 13px; }
  .sub-heading-1--dark .calendar-link {
    margin-left: 17px; }

.sub-heading-1--blue {
  font-family: "baker-signet-web", serif;
  font-size: 28px;
  color: #00266b; }

.sub-heading-2--grey {
  font-family: "baker-signet-web", serif;
  font-size: 24px;
  color: #666; }

.sub-heading-2--dark {
  font-family: "baker-signet-web", serif;
  font-size: 24px;
  color: #000; }

.sub-heading-2--blue {
  font-family: "baker-signet-web", serif;
  font-size: 24px;
  color: #00266b; }

.sub-heading-2--white {
  font-family: "baker-signet-web", serif;
  font-size: 24px;
  color: #fff; }

.sub-heading-3--grey {
  font-family: "baker-signet-web", serif;
  font-size: 21px;
  color: #666; }

.sub-heading-3--dark {
  font-family: "baker-signet-web", serif;
  font-size: 21px;
  color: #000; }
  .sub-heading-3--dark.disabled {
    opacity: 0.5;
    color: #666; }

.sub-heading-3--blue {
  font-family: "baker-signet-web", serif;
  font-size: 21px;
  color: #00266b; }

.sub-title--grey {
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  color: #666; }

.sub-title--dark {
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  color: #000; }
  .sub-title--dark.disabled {
    opacity: 0.5;
    color: #666; }

.sub-title--blue {
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  color: #00266b; }

.title-4--grey {
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  color: #666; }

.title-4--dark {
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  color: #000; }
  .title-4--dark.disabled {
    opacity: 0.5;
    color: #666; }

.title-4--blue {
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  color: #00266b; }

.title-5--grey {
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  color: #666; }

.title-5--dark {
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  color: #000; }
  .title-5--dark.disabled {
    opacity: 0.5;
    color: #666; }

.title-5--blue {
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  color: #00266b; }

.title-6--grey {
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  color: #666;
  font-size: 14px; }

.title-6--dark {
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  color: #000;
  font-size: 14px; }
  .title-6--dark.disabled {
    opacity: 0.5;
    color: #666; }

.title-6--blue {
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  color: #00266b;
  font-size: 14px; }

.price-info {
  font-family: "baker-signet-web", serif;
  font-size: 24px;
  color: #00266b; }

/* End heading */
/* Style for forms */
input[type="text"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #666;
  opacity: 1 !important; }
input[type="text"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder, textarea:-moz-placeholder {
  color: #666;
  opacity: 1 !important; }
input[type="text"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="email"]::-moz-placeholder, textarea::-moz-placeholder {
  color: #666;
  opacity: 1 !important; }
input[type="text"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #666;
  opacity: 1 !important; }
input[type="text"].ph, input[type="tel"].ph, input[type="password"].ph, input[type="email"].ph, textarea.ph {
  color: #666; }

input[type="text"], input[type="tel"], input[type="password"], input[type="email"], .custom-select--1 .select__text, .custom-select--2 .select__text, .custom-select--sort .select_text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }


.input-1 {
  font-weight: 400;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  border: 1px solid #cecece;
  position: relative;
  color: #666;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }
  .input-1 input, .input-1 textarea {
    background: url("../images/transparent.png") no-repeat; }
  .input-1.active input::-webkit-input-placeholder {
    color: #000; }
  .input-1.active input:-moz-placeholder {
    color: #000; }
  .input-1.active input::-moz-placeholder {
    color: #000; }
  .input-1.active input:-ms-input-placeholder {
    color: #000; }
  .input-1.disabled {
    background-color: #efefef; }
    .input-1.disabled input, .input-1.disabled label {
      color: #000; }
    .touch .input-1.disabled input {
      pointer-events: none; }
  .input-1 .ico-cancel-thin {
    display: none;
    font-size: 12px;
    top: 50%;
    right: 5px;
    margin-top: -11px;
    padding: 5px;
    line-height: 1;
    position: absolute;
    cursor: pointer;
    color: #000; }

.custom-select--2 .select__text, .custom-select--2 .select__text input, .custom-select--2 .select__label {
  height: 18px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px; }

input[type="text"], input[type="tel"], input[type="password"], input[type="email"] {
  outline: none; }

input[type="checkbox"], input[type="radio"] {
  outline: none; }


.safari input[type="text"]:disabled, .safari input[type="tel"]:disabled, .safari input[type="password"]:disabled, .safari textarea:disabled {
  opacity: 0.8;
  color: #010101 !important; }

label {
  font-weight: normal;
  margin: 0;
  color: #666; }

.input-group {
  display: block; }

.input-1 {
  padding: 7px 30px 7px 13px;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  display: block;
  position: relative; }
  .input-1 input {
    color: #000;
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .input-1 input:focus {
      border: none; }
  .input-1.focus {
    border: 1px solid #2e77fd; }
    .input-1.focus input {
      color: #000; }
  .input-1.disabled {
    color: #666;
    border: 1px solid #ccc; }

.success .input-1.disabled {
  color: #666;
  border: 1px solid #ccc; }

.error input::-webkit-input-placeholder {
  color: #ff0000; }
.error input:-moz-placeholder {
  color: #ff0000; }
.error input::-moz-placeholder {
  color: #ff0000; }
.error input:-ms-input-placeholder {
  color: #ff0000; }
.error .select__text {
  color: #ff0000; }
.error .default .select__text {
  color: #ff0000; }
.error .custom-select--2 .select__text input::-webkit-input-placeholder {
  color: #ff0000; }
.error .custom-select--2 .select__text input:-moz-placeholder {
  color: #ff0000; }
.error .custom-select--2 .select__text input::-moz-placeholder {
  color: #ff0000; }
.error .custom-select--2 .select__text input:-ms-input-placeholder {
  color: #ff0000; }
.error .custom-select--2, .error .input-3, .error .input-1, .error .input-5, .error .textarea-1, .error .textarea-2 {
  background-color: #fef5f4 !important;
  border: 1px solid #ff0000;
  color: #ff0000;
  position: relative; }
.error .ignore input::-webkit-input-placeholder {
  color: #000; }
.error .ignore input:-moz-placeholder {
  color: #000; }
.error .ignore input::-moz-placeholder {
  color: #000; }
.error .ignore input:-ms-input-placeholder {
  color: #000; }
.error .ignore .select__text {
  color: #000; }
.error .ignore .default .select__text {
  color: #000; }
.error .ignore .custom-select--2, .error .ignore .input-3, .error .ignore .input-1, .error .ignore .input-5, .error .ignore .textarea-1, .error .ignore .textarea-2 {
  background-color: #fff !important;
  border: 1px solid #ccc;
  color: #000; }
.error .ignore .custom-select--2 .select__text input::-webkit-input-placeholder {
  color: #000; }
.error .ignore .custom-select--2 .select__text input:-moz-placeholder {
  color: #000; }
.error .ignore .custom-select--2 .select__text input::-moz-placeholder {
  color: #000; }
.error .ignore .custom-select--2 .select__text input:-ms-input-placeholder {
  color: #000; }

.text-error {
  position: relative;
  margin: 0;
  padding: 3px 5px 0;
  clear: both;
  color: #ff0000; }
  .text-error .ico-arrow-error {
    display: none; }

.popup--login .form-group .text-error {
  padding-left: 0;
  padding-right: 0; }

.success .custom-select--2, .success .input-3, .success .input-1 {
  position: relative; }

.custom-checkbox input {
  position: absolute;
  top: 3px;
  opacity: 0;
  cursor: pointer;
  width: 14px;
  height: 14px; }
  .custom-checkbox input + label {
    display: inline-block;
    padding-left: 23px;
    margin-right: 10px;
    line-height: 16px;
    font-size: 14px;
    cursor: pointer; }
    .custom-checkbox input + label:before {
      content: '';
      width: 12px;
      height: 12px;
      border: 1px solid #ccc;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff; }
    .custom-checkbox input + label:after {
      content: '\e610';
      font-family: 'sia';
      font-weight: bold;
      color: #ef9a1a;
      position: absolute;
      top: -1px;
      left: 2px;
      display: none;
      font-size: 14px; }
  .custom-checkbox input:checked, .custom-checkbox input.checked {
    color: #000; }
    .custom-checkbox input:checked + label, .custom-checkbox input.checked + label {
      color: #000; }
      .custom-checkbox input:checked + label:after, .custom-checkbox input.checked + label:after {
        display: block; }
  .custom-checkbox input:disabled + label {
    cursor: text; }
.custom-checkbox.disabled input + label:after {
  color: #999;
  display: none; }
.custom-checkbox.disabled label {
  color: #999; }
  .custom-checkbox.disabled label span {
    color: #999; }
.custom-checkbox input.error + label:before {
  border-color: #ff0000; }

.custom-checkbox--1 {
  position: relative; }
  .custom-checkbox--1 input {
    outline: none; }
    .custom-checkbox--1 input + label {
      position: relative; }

.custom-select {
  position: relative;
  font-weight: 400;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
  .custom-select .ico-dropdown {
    position: absolute;
    top: 50%;
    font-size: 0px; }
    .custom-select .ico-dropdown:before {
      font-size: 9px;
      vertical-align: top;
      color: #ccc; }
  .custom-select select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
  .custom-select .select__text input.ph {
    color: #666; }
    .error .custom-select .select__text input.ph {
      color: #ff0000; }
  .custom-select label, .custom-select input {
    letter-spacing: 0.025em; }
  .custom-select.disabled {
    background-color: #efefef; }
    .custom-select.disabled input, .custom-select.disabled label {
      color: #000; }
    .touch .custom-select.disabled input {
      pointer-events: none; }
    .custom-select.disabled select {
      display: none; }
  .custom-select .add-clear {
    right: 18px; }

.custom-select--1 {
  cursor: pointer;
  float: left; }
  .custom-select--1 .select__text {
    font-size: 28px;
    line-height: 1.3;
    float: left;
    max-width: 280px;
    color: #00266b;
    font-family: "baker-signet-web", serif; }
  .custom-select--1 .ico-dropdown {
    width: 9px;
    height: 8px;
    position: static;
    float: left;
    margin-top: 16px;
    margin-left: 5px; }
    .custom-select--1 .ico-dropdown:before {
      content: '\e643';
      font-size: 9px;
      color: #00266b; }

.custom-select--2 {
  height: 38px;
  line-height: 38px;
  background-color: #fff;
  border: solid 1px #ccc;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }
  .custom-select--2 .ico-dropdown {
    right: 13px;
    width: 9px;
    height: 8px;
    margin-top: -4px; }
  .custom-select--2 .custom-scroll {
    top: 38px; }
  .custom-select--2 .select__text {
    height: 38px;
    padding-left: 63px;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .custom-select--2 .select__text input {
      height: 38px;
      padding-left: 63px;
      padding-right: 45px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 0; }
      .custom-select--2 .select__text input:focus {
        outline: #2e77fd solid thin; }
    .custom-select--2 .select__text .ico-cancel-thin {
      display: none;
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 26px;
      font-size: 12px;
      margin-top: -6px;
      line-height: 1;
      color: #000; }
  .custom-select--2.custom-select--no-label .select__text {
    left: 13px; }
  .custom-select--2 .select__label {
    color: #000;
    top: 0;
    max-width: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .custom-select--2.focus {
    border: 1px solid #2e77fd; }
    .custom-select--2.focus .select__label {
      color: #000; }
  .custom-select--2.country-sl .select__text {
    padding-left: 78px; }
    .custom-select--2.country-sl .select__text input {
      padding-left: 78px; }
  .custom-select--2.country-sl .select__label {
    max-width: 60px; }

.custom-select[data-autocomplete="true"] .select__text input:focus {
  outline: none; }

.custom-select--2.auto-complete-1 {
  background: none;
  border: none;
  padding: 0;
  height: 39px; }
  .custom-select--2.auto-complete-1 .select__text {
    padding: 0 20px 0 0;
    height: 39px;
    position: relative;
    overflow: visible; }
    .custom-select--2.auto-complete-1 .select__text input {
      line-height: 36px;
      height: 36px;
      max-width: 160px;
      font-size: 28px;
      color: #00266b;
      padding: 0 0 2px;
      border-radius: 0;
      font-family: "baker-signet-web", serif;
      position: static; }
    .custom-select--2.auto-complete-1 .select__text .ico-cancel-thin {
      right: 0; }
  .custom-select--2.auto-complete-1 .ico-dropdown {
    width: 9px;
    height: 8px;
    position: absolute;
    right: -15px; }
    .custom-select--2.auto-complete-1 .ico-dropdown:before {
      content: '\e643';
      font-size: 9px;
      color: #00266b; }
  .custom-select--2.auto-complete-1.focus {
    border: none; }
  .custom-select--2.auto-complete-1:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: -8px;
    border-bottom: 1px solid #ccc; }

.select__label {
  min-width: 32px;
  position: absolute;
  top: 8px;
  left: 13px; }

.select__text {
  font-size: 14px;
  display: block;
  color: #000; }
  .select__text input {
    width: 100%;
    border: none;
    background: none;
    padding: 0; }
    .select__text input::-webkit-input-placeholder {
      color: #666; }
    .select__text input:-moz-placeholder {
      color: #666; }
    .select__text input::-moz-placeholder {
      color: #666; }
    .select__text input:-ms-input-placeholder {
      color: #666; }

.default .select__text, .default .select__label {
  color: #666; }

.select__tips {
  font: italic 12px/17px "proxima-nova";
  color: #666;
  text-align: right;
  position: absolute;
  top: 110%; }

.has-select__tips {
  padding-bottom: 20px; }

.form-group {
  zoom: 1;
  position: relative;
  margin-bottom: 10px; }
  .form-group:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

.custom-select--sort {
  width: 30%;
  height: 28px; }
  .custom-select--sort .select_text {
    font-size: 14px;
    display: inline-block;
    float: right;
    text-align: right;
    padding: 5px 15px 5px 0;
    color: #666; }
  .custom-select--sort .ico-point-d {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
    font-size: 10px;
    color: #666; }
    .custom-select--sort .ico-point-d:before {
      padding-top: 3px; }
  .custom-select--sort select {
    width: 50px;
    left: auto; }

.form-group > label {
  float: left;
  margin-left: 5px;
  zoom: 1; }
  .form-group > label:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .form-group > label + .grid-col {
    clear: left; }

input.input-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  color: transparent;
  cursor: default; }
  input.input-overlay::-webkit-input-placeholder {
    opacity: 0; }
  input.input-overlay:-moz-placeholder {
    opacity: 0; }
  input.input-overlay::-moz-placeholder {
    opacity: 0; }
  input.input-overlay:-ms-input-placeholder {
    opacity: 0; }

.custom-scroll {
  display: none;
  overflow: hidden;
  width: 150px; }
  .custom-scroll .scroll-container {
    /* height: 175px; */
    overflow: hidden;
    float: left;
    /* width: 135px; */ }
  .custom-scroll .scroll-bar {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 175px;
    width: 10px;
    border-left: 1px solid #e2e2e2;
    padding: 0 2px; }
    .custom-scroll .scroll-bar > span {
      display: block;
      position: relative;
      background: #c2c2c2;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      min-height: 20px; }
  .custom-scroll.custom-dropdown {
    position: absolute;
    top: 32px;
    left: 0;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border: solid 1px #ccc;
    z-index: 999; }
    .custom-scroll.custom-dropdown ul {
      list-style: none;
      padding-left: 0; }
      .custom-scroll.custom-dropdown ul .select__footer {
        font-size: 14px;
        text-align: center;
        color: #0254ec;
        background-color: #f0f0f0; }
    .custom-scroll.custom-dropdown li {
      font-weight: 400;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
      height: 42px;
      padding-left: 13px;
      padding-right: 13px;
      border-top: 1px solid #e2e2e2;
      color: #000;
      font-size: 14px;
      line-height: 42px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      -webkit-transition: all 400ms ease 0s;
      -moz-transition: all 400ms ease 0s;
      -o-transition: all 400ms ease 0s;
      transition: all 400ms ease 0s; }
      .custom-scroll.custom-dropdown li:first-child {
        padding-top: 1px;
        border-top: none; }

.custom-scroll.custom-dropdown li:hover, .custom-scroll.custom-dropdown li.active, .custom-scroll.custom-dropdown li.keyboardfocus {
  background-color: #00266b;
  color: #fff; }
.custom-scroll.custom-dropdown li.keyboardfocus {
  outline: none; }

.form--login-plusgrade .custom-select--2 .select__text {
  padding-left: 15px; }

/* End forms */
/* Style for buttons */
.btn-1 {
  display: inline-block;
  font-size: 12px;
  font-style: normal;
  color: #fff;
  line-height: 7px;
  min-width: 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
  padding: 17px 20px 16px;
  overflow: visible;
  outline: none;
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  -webkit-transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }
  .btn-1:focus {
    outline: none; }
  .btn-1 [class^=ico-] {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .btn-1.btn--block {
    display: block; }

.btn-1 {
  background-color: #00266b; }
  .btn-1.disabled {
    background-color: #999;
    color: #ddd;
    cursor: default; }

[class^="ico-"] {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s; }

[class^="ico-"]:before, [class*=" ico-"]:before {
  font-family: "sia";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em; }

.ico-point-r:before {
  content: "\e63d"; }

.ico-dropdown:before {
  content: "\e61c"; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.right {
  float: right; }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px; }

/* Global style for links */
.link-4 {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  -webkit-transition: color 400ms ease 0s;
  -moz-transition: color 400ms ease 0s;
  -o-transition: color 400ms ease 0s;
  transition: color 400ms ease 0s;
  color: #0254ec; }
  .link-4 .ico-point-r {
    top: 50%;
    left: -2px;
    font-size: 6px;
    line-height: 1;
    margin-top: -3px;
    position: relative;
    width: 12px;
    height: 6px; }
    .link-4 .ico-point-r:before {
      vertical-align: top; }
  .link-4 em {
    font-size: 7px;
    margin-top: -2px; }

html {
  min-height: 100%; }

body {
  background-color: #fff; }

.header {
  height: 60px;
  background-color: #00266b;
  padding: 0 10px; }
  .header .header-inner {
    max-width: 370px;
    margin: 0 auto; }

.popup__logo {
  float: left;
  line-height: 55px; }

.kf-popup-window-login-page .header {
  height: 70px; }
.kf-popup-window-login-page .popup__logo {
  line-height: 65px; }

.main-inner {
  margin: 30px auto 20px;
  padding: 0 10px;
  max-width: 100%; }

legend {
  display: none; }

input[type="text"].focus-inputmask, input[type="tel"].focus-inputmask {
  text-transform: uppercase; }

.capitalize-input input {
  text-transform: capitalize; }

.custom-checkbox--1 label span {
  text-transform: capitalize; }

.form-general {
  padding-top: 25px; }
  .form-general .form-group label {
    margin-bottom: 5px; }
  .form-general .form-group .custom-checkbox label {
    display: inline-block; }

.form--login {
  padding-top: 22px; }
  .form--login .form-group--1 {
    margin-bottom: 25px; }
  .form--login .custom-checkbox--1 {
    float: left; }
  .form--login .link-4 {
    margin-top: 9px;
    clear: both; }

a:hover {
  outline: 0;
  text-decoration: none;
  color: #00266b; }

.btn-full {
  width: 100%;
  line-height: normal;
  padding: 12px 0 11px; }

.btn-1:hover, .btn-1.hover {
  background-color: #3B6CC8;
  color: #fff;
  outline: none; }
.btn-1.disabled:hover {
  background-color: #999;
  color: #ddd; }

.popup-window-login, .popup--logout {
  max-width: 370px;
  margin: 0 auto; }

.popup-window-login .link-4 {
  margin-top: 9px;
  clear: both; }
.popup-window-login .form-group-wrapper {
  display: none; }
  .popup-window-login .form-group-wrapper.active {
    display: block; }
.popup-window-login .text-error {
  padding-left: 0; }

.text-info-2 {
  font-weight: 400;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000; }

.popup--logout .text-info-2 {
  margin-top: 16px; }

.history-access {
  padding: 13px 25px;
  background-color: #f6f6f6; }
  .history-access .colons {
    padding-right: 15px; }

.history-access__table {
  width: 100%; }
  .history-access__table td {
    padding: 5px 0;
    color: #6d6d6d; }
    .history-access__table td:first-child {
      width: 70px; }
  .history-access__table .colons {
    padding-left: 5px;
    padding-right: 5px; }

.history-access__table td {
  vertical-align: top; }

@media only screen and (max-width: 767px) {
  .main-inner {
    margin-top: 20px;
    margin-bottom: 20px; }
  .history-access {
    padding: 13px 15px; } }

@media screen and (min-width: 988px) {
  .no-touch .header .header-inner {
    max-width: 450px; }
  .no-touch .main-inner {
    margin: 60px auto 30px; }
  .no-touch .popup-window-login-page, .no-touch .popup-window-logout-page {
    min-height: 100%;
    background: url("../images/bg-popup-window.png") center top #f2efe7;
    background-size: cover; }
  .no-touch .popup-window-login, .no-touch .popup--logout {
    padding: 40px;
    background-color: #fff; }
  .no-touch .popup-window-login-page.login-left {
    background: url("../images/bg-popup-window-login-left.jpg") center 58px #000 no-repeat;
    background-size: cover; }
    .no-touch .popup-window-login-page.login-left .header .header-inner {
      max-width: 988px; }
    .no-touch .popup-window-login-page.login-left .main-inner {
      max-width: 988px;
      margin-top: 35px; }
    .no-touch .popup-window-login-page.login-left .popup-window-login {
      float: left;
      border-bottom: 2px solid #cdcdcd; } }

/*# sourceMappingURL=main_popup-window.css.map */