.kf-flows{
	&.no-flow{
		overflow: hidden !important;
	}
	&.gigya-login{
		margin: 0;
	}
	.hidden {
		padding: 0 !important;
		margin: 0 !important;
		display: none !important;
		height: 0 !important;
	}
	.third-party-login{
		.gigya-social-login.gigya-reset {
			width: 0px;
			margin-left: -27px;
		}
		.gigya-composite-control.gigya-composite-control-password.krisflyer-number-input-bar{
			width: 100%;
			position: relative;
		}
	}
	.kf-log-in {
		
		.gigya-composite-control.gigya-composite-control-password.password{
			width: 100% !important;
    		position: relative;
		}
		.gigya-composite-control.gigya-composite-control-textbox.gigya-composite-control-loginID.krsflyer-email-bar {
			padding-bottom: 10px !important;
		}
		label.gigya-composite-control.gigya-composite-control-label.label-divider {
			margin-bottom: 0 !important;

			span{
				background: #ffffff;
				border-radius: 100%;
				height: 20px;
				background-position: top;
				padding: 12px;
				font-weight: bold;
				margin-top: 6px;
			}
		}
		label.gigya-composite-control.gigya-composite-control-label {
			padding-bottom: 0px !important;
		}
		.gigya-composite-control.gigya-composite-control-textbox.krisflyer-number-input-bar {
			padding-bottom: 0 !important;
		}
		.gigya-composite-control.gigya-composite-control-social-login {
			padding-bottom: 5px !important;
		}
		.gigya-composite-control.gigya-composite-control-submit.login-btn {
			margin-top: 10px;
		}
		label.gigya-composite-control.gigya-composite-control-label.email-add-prompt{
			padding: 20px !important;
		}

		div#KfLogin_social_3 {
			width: 130px !important;
			height: 100px;
			text-align: left;
			margin: 0 -15px;
		}

		.gigya-composite-control-label.prompt-mess {
			display: block;
		}
		.gigya-composite-control-label.email-add-prompt {
			display: block;
			padding: 20px;
			background: #e5e9f0;
			color: #00266b;
			font-size: 14px;

			em{
				font-size: 30px;
				float: left;
				/* width: 50%; */
				display: block;
				height: 80px;
				color: #00266b;
			}

			.prompt-message{
				width: 90%;
				display: block;
				margin-left: 50px;

				.message{
					margin-top: 5px;
					font-size: 14px;
					color: #00266b;
					line-height: 1.5em;
					display: block;
				}
	
				b {
					line-height: 1.2em;
					color: #00266b;
					font-size: 16px;
					font-weight: 600 !important;
				}
			}
		}
		.gigya-composite-control-label.label-divider {
			margin-bottom: 10px;
			span {
				margin-top: 6px;
			}
		}
		.gigya-composite-control-textbox.gigya-composite-control-loginID.krsflyer-email-bar {
			display: block;
		}
		.gigya-composite-control-label.krisflyer-login {
			display: block;
		}
		.gigya-composite-control-textbox.krisflyer-number-input-bar {
			padding-bottom: 0;
		}
		.gigya-composite-control.gigya-composite-control-password.password {
			padding-bottom: 0;
		}
		.gigya-composite-control.gigya-composite-control-link.login-help {
			width: 135px;
			position: relative;
			left: 105px;
		}
		.gigya-composite-control.gigya-composite-control-submit.login-btn {
			width: 100%;
			padding-top: 0;
			padding-bottom: 10px !important;
			margin-right: 15px;
		}
		.gigya-composite-control.gigya-composite-control-captcha-widget.gigya-v1 {
			padding: 0!important;
		}
	}
	.kf-verification-pending {
		label.gigya-composite-control.gigya-composite-control-label.resend-btn {
			padding: 12px 0 !important;
		}
		.gigya-label-text.gigya-composite-control.gigya-composite-control-label{
			.alert-text{
				.heading{
					font-size: 16px;
				}
				.message{
					font-size: 14px;
					color: #00266b;
					margin-top: -8px;
					display: block;
					line-height: 1.2em;
					margin-bottom: -18px;
				}
				.sub-text{
					line-height: 1.2em;
				}
			}
		}

		.gigya-composite-control.gigya-spacer.first-spacer{
			padding: 0!important;
		}
		.gigya-composite-control.gigya-spacer.second-spacer {
			padding: 0!important;
		}
	}
	.log-in-error {
		.error-alert {
			margin-bottom: 20px;
			.alert-block .alert__message {
			    color: #000;
			    font-size: 12px;
			}
		}
		 .gigya-composite-control-label.label-divider {
		 	margin-bottom: 0 !important;
		 }

		.gigya-composite-control-label.email-add-prompt {
			display: none;
		}
	}
	.log-in-email {
		label.gigya-composite-control.gigya-composite-control-label {
			margin-bottom: 10px;
		}
		label.gigya-composite-control.gigya-composite-control-label {
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			font-size: 14px;
			color: #000;
		}
		.gigya-composite-control-label.email-add-prompt {
			margin-bottom: 25px;
			display: block !important;
		}
		.popup__content {
			position: relative;
		}
	}
	.kf-wrong-sm {
		h2.gigya-composite-control.gigya-composite-control-header.link-accounts-main-header {
			padding: 15px;
			background-color: #e5e9f0;
			margin-bottom: 20px;
			em{
				float: left;
				font-size: 30px;
				color: #00266b;
				margin-left: -5px;
			}
			p.link-accounts-msg {
				font-size: 14px !important;
				margin-left: 45px;
				color: #00266b;
				font-weight: 400;
			}
		}
		.gigya-composite-control.gigya-composite-control-password{
			width: 100%;
    		position: relative;
		}
		.gigya-composite-control.gigya-composite-control-header.social-login-title {
			display: none;
		}
		.gigya-composite-control.gigya-composite-control-header.account-existing {
			display:none;
		}
		label.gigya-composite-control.gigya-composite-control-label.label-divider{
			span {
				background: #ffffff;
				border-radius: 100%;
				height: 20px;
				background-position: top;
				padding: 12px;
				font-weight: bold;
				margin-top: 7px;
			}
		}

		.alert-block {
			margin-bottom: 20px;
			.alert__message {
				color: #00266b;
				display: block;
				.heading {
					display: block;
					color: #00266b;
				}
			}
		}
	}
	.kf-not-verified {
		.gigya-composite-control-label.email-add-prompt {
			display: block;
		}
	}

	// 'Partner promotions' in default state disabled style effect .
	.mute .gigya-label span {
		color: #A8A8A8!important;
	}
	.popup-window-login {
		position: relative;

		.gigya-login-form {
			width: 74% !important;
			margin: 0 !important;
		}

		.sub-heading-1--blue {
			line-height: 1em;
			margin-bottom: 20px;
		}
		.gigya-composite-control-social-login.social-media-icon {
			width: 100% !important;
			right: 0 !important;
			position: relative;
			margin: 0 !important;
		}
		.gigya-composite-control-checkbox.remember-checkbox {
			margin: 0 !important;
			width: 125px;
		}
		.gigya-composite-control-link.login-help {
			margin: 0 !important;
		    width: 150px;
		    position: relative;
		    left: 35px;
		}
		.gigya-composite-control-submit.login-btn {
			padding: 0;
			margin-bottom: 5px;
		    width: 100%;
		    position: relative;
		    right: 3px;
		}
		.gigya-composite-control-link.sign-up {
			float: left;
			width: 100%;
		    font-size: 14px;
		    color: #0254ec;
		    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;

		    .arrow-right {
		    	font-size: 8px;
    			color: #0254ec;
		    }
		}
	}


}

@media screen and (max-width: 1023px){
	.kf-flows {
		.log-in-email {
			.login-krisflyer-number {
				top: 54%;
			}
		}

		.join-krisflyer-tab.registration{
			.gigya-composite-control.gigya-composite-control-dropdown.user-ccp{
				margin-bottom: 25px;
				position: relative;
				span.gigya-error-msg.gigya-error-msg-active{
					position: absolute;
					top: 75px;
				}
			}
			.gigya-composite-control.gigya-composite-control-textbox.gigya-composite-control-loginID.field-email-address{
				position: relative;
				margin-bottom: 25px;
	
				input#gigya-loginID-6085015311664540{
					margin-bottom: 50px;
				}
	
				span.gigya-error-msg.gigya-error-msg-active{
					position: absolute;
					top: 70px;
				}
			}
	
			.gigya-composite-control.gigya-spacer.block-spacer-2.spacer-5{
				height: 189px !important;
			}
	
			.gigya-composite-control.gigya-spacer.block-spacer-3.spacer-6{
				height: 108px !important;
			}
	
			.gigya-composite-control.gigya-composite-control-dropdown.field-country{
				position: relative;
				margin-bottom: 25px;
	
				span.gigya-error-msg.gigya-error-msg-active{
					position: absolute;
					top: 75px;
				}
			}
	
			.gigya-composite-control.gigya-composite-control-dropdown.field-city{
				position: relative;
				margin-bottom: 25px;
	
				span.gigya-error-msg.gigya-error-msg-active{
					position: absolute;
					top: 75px;
				}
			}
		}
	}
}


.kf-flows {
	.registration-completion{
		select#gigya-dropdown-105361143960610200 {
			margin-top: 2px;
		}
		.gigya-composite-control.gigya-composite-control-dropdown.state-dropdown{
			width:323px !important;
			margin-top: 2px;
		}
		.gigya-composite-control.gigya-spacer.spacer-1{
			height: 185px !important;
			&.guardian-section-active{
				height: 302px !important;
			}
		}
		.gigya-composite-control.gigya-composite-control-textbox.parent-guardian-group {
			position: relative;
			margin-bottom: 20px;

			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
				top: 72px;
			}
			input#gigya-textbox-74453154635851900 {
				margin-bottom: 0;
				margin-top: -1px;
			}
			input#gigya-textbox-115713536208077090{
				margin-bottom: 0;
			}
		}
		.gigya-composite-control.gigya-composite-control-dropdown.parent-guardian-group{
			position: relative;
			margin-bottom: 20px;

			select#gigya-dropdown-13471059220514784{
				margin-bottom: 25px;
			}

			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
				top: 72px;
			}
		}
		
		.gigya-composite-control.gigya-spacer.spacer-2.parent-guardian-group{
			height: 32px !important;
		}
		.gigya-composite-control.gigya-composite-control-dropdown.kf-user-title-field{
			margin-bottom: 25px;
			position: relative;
			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
				top: 70px;
			}
		}
		.gigya-composite-control.gigya-spacer.spacer-8{
			height: 90px !important;
		}
		select#gigya-dropdown-105361143960610200{
			margin-bottom: 0;
		}
	}
	.registration{
		.gigya-composite-control.gigya-composite-control-dropdown.state-dropdown{
			width:323px !important;
		}
		.gigya-composite-control.gigya-composite-control-textbox.parent-guardian-group{
			span.gigya-error-msg{
				height: 22px;
				&.gigya-error-msg-active{
					height: 23px;
				}
			}
		}

		.gigya-composite-control.gigya-composite-control-textbox.parent-guardian-group.last-name{
			span.gigya-error-msg.gigya-error-msg-active{
				height: 14px !important;
			}
		}
		.gigya-composite-control.gigya-composite-control-checkbox.gigya-terms-valid{
			label.gigya-label{
				width: 95% !important;
			}
		}
		.gigya-composite-control.gigya-composite-control-textbox.parent-guardian-group{
			span.gigya-error-msg.gigya-error-code-400027.gigya-error-msg-active{
			
			}
		}
		.gigya-composite-control.gigya-composite-control-checkbox.first-name-checkbox{
			label.gigya-label{
				width: 100% !important;
			}
		}
		.gigya-composite-control.gigya-composite-control-checkbox.first-name-checkbox.parent-guardian-group{
			label.gigya-label{
				width: 100% !important;
			}
		}
		.gigya-composite-control.gigya-composite-control-textbox.parent-guardian-group
		.gigya-composite-control.gigya-composite-control-textbox.parent-guardian-group{
			position: relative;
			margin-bottom: 20px;

			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
				top: 72px;
			}
			input#gigya-textbox-4578844009266327 {
				margin-bottom: 0;
			}

			input#gigya-textbox-131434716406360420 {
				margin-bottom: 0;
			}
		}
		.gigya-composite-control.gigya-composite-control-dropdown.parent-guardian-group{
			// margin-bottom: 20px;
			position: relative;
			select#gigya-dropdown-2155470428414336 {
				margin-bottom: 25px;
			}
			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
				top: 72px;
			}
		}
		input#gigya-textbox-4578844009266327 {
			margin-bottom: 2px;
		}
		.gigya-composite-control.gigya-spacer.block-spacer-1.spacer-1{
			height: 155px !important;
			&.guardian-section-active{
				height: 285px !important;
			}
		}
		.gigya-composite-control.gigya-spacer.first-spacer.last-name-spacer.parent-guardian-group.spacer-2{
			height: 43px !important;
		}
		select#gigya-dropdown-4056830291128950 {
			margin-bottom: 0;
		}
		.gigya-composite-control.gigya-composite-control-dropdown.user-ccp{
			margin-bottom: 25px;
			position: relative;
			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
				top: 70px;
			}
		}
		.gigya-composite-control.gigya-composite-control-textbox.gigya-composite-control-loginID.field-email-address{
			position: relative;
			margin-bottom: 25px;

			input#gigya-loginID-6085015311664540{
				margin-bottom: 25px;
			}

			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
				top: 70px;
			}
		}

		.gigya-composite-control.gigya-spacer.block-spacer-2.spacer-5{
			height: 164px !important;
		}

		.gigya-composite-control.gigya-spacer.block-spacer-3.spacer-6{
			height: 90px !important;
		}

		.gigya-composite-control.gigya-composite-control-dropdown.field-country{
			position: relative;
			margin-bottom: 25px;

			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
				top: 75px;
			}
		}

		.gigya-composite-control.gigya-composite-control-dropdown.field-city{
			position: relative;
			margin-bottom: 25px;

			span.gigya-error-msg.gigya-error-msg-active{
				position: absolute;
				top: 75px;
			}
		}
	}

	 .mute .gigya-label span {
	 	color: #777 !important;
	 }

	.valid-promo-code {
		background-color: #f7f7f7;
		padding: 5px 20px 20px;
		.promo-message-container {
			background-color: #cdf0d0;
			padding: 5px 20px;
		}
		em.ico-success {
			color: #07b110;
			font-size: 30px;
			float: left;
		}

		.success-message{
			width: 86%;
			margin-top: 12px;
			margin-bottom: 12px;
			font-size: 14px;
			color: #000;
		}
	}

	.invalid-promo-code {
		background-color: #f7f7f7;
		padding: 5px 20px 20px;
		.promo-message-container {
			background-color: #fff1f0;
			padding: 5px 20px;
		}
		em.ico-close-round-fill{
			color: #ff0000;
			font-size: 30px;
			float: left;
		}

		.error-message{
			width: 86%;
			margin-top: 12px;
			margin-bottom: 12px;
			font-size: 14px;
			color: #000;
		}
	}

	.gigya-screen .gigya-composite-control.gigya-composite-control-checkbox .gigya-label {
		// width: 500px !important;
	}

	.kf-reset-password--heading {
		font-size: 33px;
        color: #09236e;
        padding-bottom: 24px;
	}

	.gigya-composite-control.gigya-composite-control-label.password-block {
		    font-style: italic;
		    font-size: 14px;
		    color: #666 !important;
		    line-height: 20px;
	}
	
	.join-krisflyer-tab {
		.gigya-screen.portrait {
			padding: 0;
			width: auto;
		}
		.gigya-multi-choice-item {
			width: 70px;
			margin: 0;
			float: left;
			display: block;
		}
		.gigya-layout-cell {
			padding-right: 0;
		}
		.gigya-screen.portrait .gigya-composite-control {
			padding-right: 15px;
		}
	} 

	// 'No First/Given Name' Checkbox width layout bugfix
	.gigya-composite-control-checkbox.gigya-terms-valid,
	.gigya-composite-control.gigya-composite-control-checkbox .gigya-label[for="gigya-checkbox-84647441806501540"],
	.gigya-composite-control.gigya-composite-control-checkbox .gigya-label[for="gigya-checkbox-108301622942524940"] {
		width: 260px !important;
		margin: 0;
		.gigya-checkbox-text {
			color: #666666 !important;
		}
		
	}


	
	// Password style and coarse positioning fix
	.gigya-composite-control.gigya-composite-control-textbox.user-pin {
		&.createpass .gigya-input-text,
		&.confirmpass .gigya-input-text {
			width: 430px;
			display: block;
			margin-left: 0;
			margin-right: 0;
		}
	} // Page divider
	.gigya-composite-control.gigya-composite-control-label.label-divider {
		background-image: url(data:image/gif;base64,R0lGODlhBQABAHAAACwAAAAABQABAIHq6uoAAAAAAAAAAAACAoRdADs=);
		span {
			background: #F7f7f7;
			border-radius: 100%;
			height: 20px;
			background-position: top;
			padding: 12px;
			font-weight: bold;
			margin-top: 19px;
		}
	}
	.gigya-composite-control.gigya-composite-control-checkbox .gigya-label {
		width: 272px;
	}
	&.gigya-registration .gigya-composite-control.gigya-composite-control-dropdown select {
		border-radius: 2px !important;
		border-color: #cccccc !important;
	}
	.gigya-screen.portrait.mobile input[type=email],
	.gigya-screen.portrait.mobile input[type=password],
	.gigya-screen.portrait.mobile input[type=text],
	.gigya-screen.portrait.mobile select {
		height: 48px;
	}
	#gigya-textbox {

		&-63076820371857790 {
			width: 90px;
			margin-left: 0;
		}
		&-15249043799037952 {
			width: 429px;
		}
		&-74091525809889070 {
			width: 42.1vw;
		}
	}
	.gigya-composite-control.gigya-composite-control-checkbox.first-name-checkbox {
		width: 260px;
		margin: 0;
		font-size: 14px;
		color: #777777;
	} 

	// Contact info: field layout fix
	.field-mobile-number {
		margin-left: -266px;
		
		input {
			width: 419px !important;
		}

	}

	.field-mobile-area {
		margin-left: -215px;

		input {
			width: 103px !important;
	   }
	}
		
	// Spacers for 'kf-registration.html'
	.gigya-composite-control.gigya-spacer {

		&.spacer-1 {
			height: 186px !important;
		}

		&.spacer-2 {
			height: 69px !important;
		}

		&.spacer-3,
		&.spacer-4  {
			height: 90px !important;
		}

		&.spacer-5  {
			height: 127px !important;
		}
		
		&.spacer-6 {
			height: 103px !important;
		}

		&.spacer-7 {
			height: 6px !important;
		}
	}

	// Spacers for 'kf-registration-complete'
	#gigya-complete-registration-screen {

		.gigya-composite-control-label[data-translation-key="LABEL_28132641383419776_LABEL"] {
			width: 100%;
			margin-top: 110px !important;
		}
		
		.field-email-address {
			width: 86.2vw !important;
		}
		
		
		.gigya-composite-control-dropdown.field-mobile-default {
			position: relative !important;
			right: 0;
			margin-left: -170px;
		}
		
		.field-mobile-default,
		.field-mobile-area, 
		.field-mobile-number {
			margin-top: 90px !important;
		}

		.gigya-composite-control-label[data-translation-key="LABEL_28132641383419776_LABEL"] {
			margin-top: 110px !important;
		}

		// .spacer-1 {
		// 	height: 185px !important;
		// }
		
		// .spacer-2 {
		// 	height: 117px !important;
		// }

		.spacer-3,
		.spacer-4 {height: 6px !important;}
		
		.spacer-5 {
			height: 47px !important;
		}
		
	}

	// Contact information: width fix
	.field {
		&-email-address,
		&-city,
		&-country,
		&-state, {
		width: 323px !important;
		}

		&-mobile-default {
			position: absolute;
			right: 368px;
			width: 110px;
		}

		&-mobile-area {
			// width: 90px;
			// margin-left: 121px;
		}

		&-mobile-number {
			width: 206px;
		}

	}
	.state {
		width: 308px !important;
	}

	// Communication preferences: Nudge up checkbox pref. info. 
	.tabs-component .tab-wrapper .gigya-composite-control.gigya-composite-control-checkbox a.ico-info-round-fill {
		margin-top: -4px;
	}
	
	// kf-registration-completion.html - Social media prompt
	.gigya-composite-control-label.links-header.social-prompt-profile-completion,
	.gigya-composite-control-label.links-header.social-prompt-profile-nonexistent {
		background-color: #E5EAF0;
		padding: 20px !important;
		font-size: 14px !important;
		font-weight: 400 !important;
		line-height: 21px;
		width: auto;
	}
	
	.gigya-composite-control.gigya-composite-control-dropdown.select-region {
		position: absolute;
		right: 368px;
		width: 110px;
	}
	#gigya-dropdown {
		&-8654064035575587 {
			width: 42.1vw;
		}
		&-121862640951327330 {
			width: 42.1vw;
		}
	}

	.kf-label {
		&-kf-password-instruction {
			width: 730px;
		}
		&-login-details-password-guide {
			font-style: italic;
			color: #666 !important;
			font-size: 14px;
			line-height: 20px;
		}
	}
	.gigya-label-text.gigya-checkbox-text {
		color: #000 !important;
	}

	// KF Terms and Condition checkbox
	.kf-privacy {
		&-policy-terms {
			margin: 10px 0 0 0;
			width: 858px !important;
			background-color: #E6EAF1;

			&.terms-conditions {
				width: 858px !important;
				padding: 15px !important;
			}

		}
	
		&-policy-terms .gigya-label {
			width: 93% !important;
			line-height: 20px !important;
		}
	}

	.gigya-composite-control.gigya-composite-control-checkbox.krisflyer-terms-conditions-block.gigya-terms-valid {
		width: auto !important;
		label {
			width: 74.9vw;
		}
	}


	.gigya-composite-control {
		&.gigya-composite-control-submit {
			width: 150px;
			float: right;
			right: -14px;
			position: relative;
			padding-top: 20px;
		}
		&.gigya-composite-control-multi-choice .gigya-multi-choice-item label {
			font-size: 14px;
			margin-bottom: 20px;
			margin-left: 0px;
			margin-right: 23px;
		}
	}
	.gigya-social-login {
		#joinKrisflyerTabKF_social_5 {
			margin: 5px 0 0;
			&_uiContainer {
				height: 50px !important;
				width: auto !important;
			}
		}
		.gigya-login-provider-row {
			float: left;
			display: block;
			clear: none;
			padding-top: 0;
		}
		.gigya-login-providers {
			height: 50px !important;
		}
		.gigya-login-provider {
			margin-right: 10px !important;
			padding: 0 !important;
		}
		.gigya-login-providers-list-container {
			width: 440px !important;
		}
		.gigya-composite-control.gigya-composite-control-social-login {
			display: block;
			width: 260px !important;
			margin: 0;
		}
		.gigya-login-providers-container {
			width: 500px !important;
		}
	}
	.gigya-layout-row.kf-referral-box {
		padding-left: 20px;
		background: #F7F7F7;
		margin-bottom: 20px;
		border-radius: 2px;
		padding-right: 0;
		padding-top: 5px;
	}
	input#gigya-textbox-66915798330570430 {
		width: 322px;
	}
	.kf-referral-box label.gigya-composite-control.gigya-composite-control-label.links-header {
		margin-top: 10px !important;
	}
	.ru-flows .pin-eye-icon {
		right: -200px;
	}
	.gigya-composite-control.gigya-composite-control-dropdown.select-region {
		top: 91px;
		position: relative;
		left: -192px;
	}
	label.gigya-composite-control.gigya-composite-control-label.kf-label-mailing-information {
		margin-top: 100px;
	}
	input#gigya-textbox-63076820371857790,
	input#gigya-textbox-55990380147675110 {
		margin-top: 9px;
		position: relative;
	}

	input#gigya-loginID-6085015311664540 {
		width: 86.3vw;
	}
	.gigya-screen.portrait.mobile input[type=email],
	.gigya-screen.portrait.mobile input[type=password],
	.gigya-screen.portrait.mobile input[type=text],
	.gigya-screen.portrait.mobile select {
		height: 42px !important;
		border-radius: 2px;
	}
	input#gigya-textbox-63076820371857790 {
		width: 155px;
	}

	div#gigya-register-screen {
		margin: 0 !important;
	}
	select#gigya-dropdown-67070594329022910 {
		width: 250px;
	}
	input#gigya-textbox-105317929061847680 {
		margin-top: 0;
	}
	.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown input,
	.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown select,
	.gigya-screen .gigya-composite-control.gigya-composite-control-password input,
	.gigya-screen .gigya-composite-control.gigya-composite-control-password select,
	.gigya-screen .gigya-composite-control.gigya-composite-control-textbox input,
	.gigya-screen .gigya-composite-control.gigya-composite-control-textbox select {
		border-radius: 2px !important;
	}
	select#gigya-dropdown-8654064035575587 {
		width: 86.1vw;
	}
	.gigya-composite-control.gigya-composite-control-checkbox.sortable-drag.kf-privacy-policy-terms {
		width: 84.1vw;
	}
	.gigya-composite-control.gigya-composite-control-password {
		position: absolute;
	}
	.gigya-composite-control.gigya-composite-control-password {
		position: absolute;
	}
	.ru-flows .tabs-component .tab-wrapper {
		padding: 0;
	}
	.gigya-composite-control.gigya-composite-control-textbox.user-lastname {
		margin-top: -2px !important;
	}
	label.gigya-composite-control.gigya-composite-control-label.kf-label-mailing-information {
		margin-top: 100px !important;
	}
	.gigya-layout-cell {
		position: relative;
	}
	input#gigya-textbox-131434716406360420 {
		width: 42.1vw;
	}
	select#gigya-dropdown-2155470428414336 {
		width: 42.1vw;
	}
	input#gigya-textbox-91884567860429760 {
		width: 42.1vw;
	}
	input#gigya-textbox-131690266822458620 {
		width: 42.1vw;
	}
	select#gigya-dropdown-86402534108221310 {
		width: 42.1vw;
	}

	label.gigya-composite-control.gigya-composite-control-label.kf-label-kf-com-pref {
		width: 50vw;
	}
	label.gigya-composite-control.gigya-composite-control-label.kf-label-mailing-information {
		width: 50vw;
	}
	.gigya-composite-control.gigya-composite-control-password {
		width: 42.1vw;
    }
    label.gigya-composite-control.gigya-composite-control-label.kf-label-kf-password-instruction {
        width: 86.1vw;
	}
	
	// 'Required' text style	
	.required-text,
	.links-header.required-text {
		font-size: 12px !important;
		color: #666 !important;
		line-height: 15px;
		font-weight: 500 !important;
	}

	// GDPR Copy
	.gdpr-copy {
		.gigya-label-text {
			line-height: 1.3em !important;
			a {
				color: #5a688d !important;
			}
		}

	}
	// Referral section and coupon

	.kf-referral-heading,
	.kf-referral-copy,
	.kf-referral-membership-number-field,
	.kf-coupon-heading,
	.kf-coupon-copy,
	.kf-coupon-code-field  {
		background: #f7f7f7 !important;
		margin: 0 !important;
	}
	
	.kf-referral-heading {
		margin-top: 20px !important;
	}

	.kf-referral-heading,
	.kf-coupon-heading {
		padding: 25px 20px 10px!important;
		width: auto !important;
	}
	
	.kf-referral-copy,
	.kf-coupon-copy {
		padding-left: 20px !important;
		padding-right: 20px !important;
		padding-bottom: 10px !important; 
		width: auto !important;
	}
	
	.kf-referral-membership-number-field,
	.kf-coupon-code-field  {
		padding: 0 20px 15px !important;
		width: auto;
	}

	.kf-coupon-code-field {
		padding-right: 0 !important;
		input.gigya-input-text {
			width: 100% !important;
		}
	}

	.kf-referral-membership-number-field {
		margin-bottom: 20px !important;
		input.gigya-input-text {
			width: 50% !important;
		}
	}

	// Rough fix up of the background for apply btn. Hidden technique THIS IS NOT A GOOD PRACTICE. May break when viewport resizes
	// Use :after psuedo code then create a rectangle elemen then patch background
	// TODO: Propose for a html structure reorganization
	.apply-promocode-btn {
		left: 20px !important;
		position: relative;
		z-index: 1;
	}
	.kf-coupon-code-field {
		position: relative;
	}
	.kf-coupon-code-field:after {
		content: ' ';
		display: block;
		background: #f7f7f7;
		position: absolute;
		width: 44.2vw;
		height: 99px;
		top: -1px;
		right: -339px;
		z-index: 0;
	}
	
	// KF Terms and Condition checkbox
	.krisflyer-terms-conditions-block {
		a {
			color: #0254ec !important;
		}
	}
		
	// Gigya notify bg block
	//   - T&C
	//   - Social media notification	
	.gigya-composite-control.gigya-composite-control-checkbox.krisflyer-terms-conditions-block,
	.gigya-composite-control.gigya-composite-control-label[data-screenset-element-id=__gig_template_element_349_1533291861748],
	.gigya-composite-control.gigya-composite-control-label[data-screenset-element-id=__gig_template_element_350_1533291433774]
	 {
		padding-top: 20px;
		padding-left: 15px;
		padding-right: 25px;
		padding-bottom: 15px;
		background-color: #e5e9f0;
		padding: 20px;
		
	}

	// Overlap fix
	.krisflyer-terms-conditions-block label {
		flex: unset !important;
	}

	.gigya-composite-control.gigya-composite-control-label[data-screenset-element-id=__gig_template_element_349_1533291432303],
	.gigya-composite-control.gigya-composite-control-label[data-screenset-element-id=__gig_template_element_350_1533291433774]
	 {
		line-height: 20px;
		color: #00226b;
		font-weight: 400;
	 }
	
	// Gigya Header styles
	.gigya-composite-control-label.links-header,
	.kf-label-kf-com-pref,
	.kf-label-mailing-information {
		letter-spacing: 0.4px;
		color: #00226b;
		font-size: 18px;
		margin-top: 20px;
		padding-bottom: 15px;
		font-weight: 600;
		margin-bottom: 15px;
	}

	// 'Required' text style	
	.required-text,
	.links-header.required-text {
		font-size: 12px !important;
		color: #666 !important;
		line-height: 15px;
		font-weight: 500 !important;
	}

	// KF Password instruction style
	.gigya-composite-control.gigya-composite-control-label.password-block,
	.kf-label-login-details-password-guide {
		font-style: italic;
		color: #666 !important;
		font-size: 14px !important;
		line-height: 20px;
	}

	// Apply button on promo code
	
	.apply-btn,
	.apply-promocode-btn,
	.gigya-composite-control.gigya-composite-control-label[data-screenset-element-id=__gig_template_element_566_1533291034900] {
		line-height: 12px;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 0.1em;
		cursor: pointer;
		border: none;
		padding: 15px 20px !important;
		overflow: visible;
		outline: none;
		font-weight: 700;
		transition: all 400ms ease 0s;
		border-radius: 2px !important;
		background-color: #00266b !important;
		margin: 0 !important;
		width: 110px;
		
		b {
			color: #fff;
			display: block;
			font-size: 12px !important;
			text-align: center;
		}	
	}
	
	
	@media screen and ( min-width: 1000px ) {
		.registration .gigya-composite-control.gigya-composite-control-dropdown.state-dropdown{
			width: 468px !important;
		}
		.registration-completion .gigya-composite-control.gigya-composite-control-dropdown.state-dropdown{
			width: 468px !important;
		}
		.kf-create-password.gigya-style-modern .gigya-composite-control.gigya-composite-control-password .pin-eye-icon{
			right: 12px !important;
		}
		.gigya-composite-control.gigya-composite-control-dropdown.select-region {
			left: -18em;
		}

		.field-mobile-area {
			left: -21.3em;
			margin-left: 0;
			position: relative;
		}

		.field-mobile-number {
			left: -28.4em;
			margin-left: 0;
			position: relative;
		}
		.field-mobile-number input#gigya-textbox-55990380147675110,
		.field-mobile-number input#gigya-textbox-24505830248872036
		 {
			width: 49.2em !important;
		}
		
		.gigya-composite-control.gigya-composite-control-checkbox.sortable-drag.kf-privacy-policy-terms {
			width: 56.7em !important;
		}

		.ru-flows .gigya-composite-control.gigya-composite-control-checkbox.terms-conditions label.gigya-label {
			width: 56.7em !important;
		}

		input#gigya-loginID-6085015311664540, 
		input#gigya-loginID-110779859193543060,
		select#gigya-dropdown-8654064035575587 {
			width: 67em !important;
		}

		.gigya-composite-control.gigya-spacer.spacer-6 {
			height: 85px !important;
		}
		
		input#gigya-textbox-131690266822458620, 
		#gigya-dropdown-121862640951327330,
		input#gigya-textbox-91884567860429760, 
		input#gigya-password-50139321792236740,
		select#gigya-dropdown-2155470428414336,
		input#gigya-textbox-131434716406360420,
		select#gigya-dropdown-86402534108221310,
		input#gigya-textbox-4578844009266327,
		input#gigya-textbox-71957208839904960,
		select#gigya-dropdown-121862640951327330,
		select#gigya-dropdown-148495537589439700,
		input#gigya-textbox-34971373925911572,
		select#gigya-dropdown-95978005314271330 {
			
			width: 32.2em !important;;
		}


		.kf-coupon-code-field:after {
		content: ' ';
		display: block;
		background: #f7f7f7;
		position: absolute;
		width: 29.3em;
		height: 99px;
		top: -1px;
		right: -29.3em;
		z-index: 0;
		}

		.gigya-composite-control.gigya-spacer.spacer-1 {
		height: 169px !important;
		}

		.gigya-composite-control.gigya-spacer.spacer-2 {
			height: 29px !important;
		}

		input#gigya-textbox-73139329479964080,
		input#gigya-textbox-34971373925911572,
		input#gigya-textbox-105317929061847680,
		input#gigya-textbox-74091525809889070,
		input#gigya-password-88724776704780830,
		input#gigya-textbox-74453154635851900,
		input#gigya-textbox-90856508838107150, {
			width: 33.5em;
		}

		input#gigya-textbox-4578844009266327 {
			margin-bottom: 0;
		}

		.gigya-composite-control.gigya-composite-control-textbox.field-mobile-number {
			margin: 0;
			left: -28.4em;
		}
			
		#gigya-complete-registration-screen .gigya-composite-control-dropdown.field-mobile-default {
			left: -14.7em;
			margin: 0;
		}
		
		.gigya-composite-control.gigya-composite-control-dropdown.select-region.field-mobile-default, {
			left: -18.1em;
		}
		
		.gigya-composite-control.gigya-composite-control-textbox.field-mobile-area {
			margin: 0;
			position: relative;
			left: -21.3em;
		}
		
		.gigya-composite-control.gigya-composite-control-textbox.field-mobile-number {
			margin: 0;		}
		
		.gigya-composite-control.gigya-composite-control-dropdown.select-region.field-mobile-default {
			left: -18.1em;
		}
		
		.gigya-composite-control.gigya-composite-control-textbox.field-mobile-area {
			margin: 0;
			position: relative;
			left: -21.3em;
		}

		.kf-flows .gigya-screen .gigya-composite-control.gigya-composite-control-checkbox .gigya-label {
			width: 870px !important;
		}

		.createpass .pin-eye-icon {
			right: 6px !important;
		}
		
		.confirmpass .pin-eye-icon {
			  right: -13px !important;
		}

		.gigya-composite-control.gigya-composite-control-checkbox.sortable-drag.kf-privacy-policy-terms.terms-conditions label.gigya-label {
			width: 47em !important;
		}
		
		.gigya-composite-control.gigya-composite-control-checkbox.sortable-drag.kf-privacy-policy-terms {
			width: 56.8em !important;
		}
		
	}

	&.gigya-registration {
		.gigya-composite-control.gigya-composite-control-dropdown.field-mobile-default {
			select {
				padding-right: 30px;
				overflow: hidden;
				position: relative;
			}

			&:after {
				content: '...';
				display: block;
				position: absolute;
				top: 35px;
    			right: 30px;
			}
		}
	}

	.gigya-multi-choice-item {
		position: relative;

		input {
			position: absolute;
			top: 3px;
			opacity: 0;
			z-index: 4;
			cursor: pointer;

			&:checked + label:after {
				width: 8px;
				height: 8px;
				top: 4px;
				left: 3px;
				background-color: #f99f1c;
			}
		}

		label {
			position: relative;
			padding-left: 25px;
			margin-left: 0 !important;

			&:before {
				width: 12px;
				height: 12px;
				top: 1px;
				left: 0;
				border: solid 1px #bdbdbd;
				background: #fff;

				content: '';
				border-radius: 100%;
				position: absolute;
			}

			&:after {
				content: '';
				border-radius: 100%;
				position: absolute;
			}
		}


	}
}

@media screen and (max-width: 768px) {
	.kf-flows .kf-reset-password.gigya-style-modern .warning-message-block .ico-info-round-fill{
		padding-top: 16px;
		padding-bottom: 21px;
		padding-right: 19px;
	}
}



@import "./modules/smii-kf-flows";