.booking-reference {
    position: absolute;
    // right: 0;
    // top: 50%;
    transform: translateY(-50%);
    background-color: white;
    // border-radius: 2px;
    // padding: 15px;
    text-align: center;
    // min-width: 250px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);

    // top: calc(50% - 92px);
    right: 40px;
    padding: 10px 15px 15px;
    max-width: 300px;
    max-height: 40px;
    width: 300px;
    display: inline-block;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: 2px solid #ff9f00;
}

.booking-reference--w-tab-float {
    top: calc(50% - 129px);
    // top: calc(50% - 125px);
}

.booking-reference_title {
    font-weight: 600;
    text-transform: uppercase;
    // text-align: center;
    // line-height: 1em;
    color: #00266B;
    // padding-bottom: 10px;
    // border-bottom: 1px solid #ff9f00;
    
    // margin: 0 auto 20px;
    width: auto;
    display: inline-block;
    font-size: 14px;
}

.booking-reference_number {
    font-weight: 700;
    // font-size: 30px;
    color: #222;
    // text-align: center;
    text-transform: uppercase;
    // line-height: 0.8em;
    letter-spacing: 1px;
    // margin-bottom: 17px;
    display: inline-block;
    font-size: 14px;
}

.booking-reference_print {
    display: none;
    // width: calc(100% + 30px);
    // background-color: #00266B;
    // color: white;
    // margin: 0 -15px -15px;
    // font-size: 12px;
    // font-weight: 600;
    // padding: 13px 0;
    // line-height: 14px;

    // .ico-print {
    //     margin-top: -2px;
    // }
}

.booking-reference_anchor-tag {
    color: #fff;
    cursor: pointer;
}

@media only screen and (min-width:376px) and (max-width: 415px) {
    
    .booking-reference {
        max-width: 352px;
        width: 352px;
        min-width: 300px;
        right: 31px;
        top: calc(50% - 128px);
    }
}

@media only screen and (max-width:361px) {
    .booking-reference {
        top: calc(50% - 127px);
        right: 31px;
    }
}