.manage-booking-preferences-content-wrap {
    background-color: #fff;
    padding-bottom: 1px;
    padding-top: 30px;
    box-shadow: #c5c4c4 0px 3px 5px -3px;
}

.manage-passenger-preferences-tab-content {
    margin: 0 -10px;
}

.content-block-mobile {
    // margin: 0 0 38px;
}


.masthead-color {
    width: 100%;
    height: 300px;
    border: 0;
    background: transparent;
    background-image: none !important;

    &:before {
        background-image: none !important;
        box-shadow: none !important;
    }
    .link--color {
        color: #0254ec;
        font-size: 12px;
        letter-spacing: 2px;
    }
    .masthead-heading {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding-left: 20px;
        .text-bold {
            color: #00266b;
            font-size: 26px;
        }
        .text-bold--style {
            font-family: 'sigvar';
            font-weight: 500;
        }
    
    }
}

    .tooltip-inner popover-inner{
        top: -15px;
    }     

    .popup--flight-info {
        margin-top: 0;
        height: 110%;

        .popup__close {
            padding: 15px 15px 0 0;
        }
        
    }
   .no-flow {
    overflow: scroll !important;
   }
   

    


.heading {
    // margin-bottom: 15px;
    margin-bottom: 30px;
    padding-top: 22px;


    .primary-color-black {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        display: inline-block;
        font-size: 18px;
    }
    .primary-heading {
        // font-size: 18px;
        font-size: 14px;
        display: inline-block;
    }
    .text-bold {
        text-transform: uppercase;
    }
    .elit-silver {
        padding: 5px;
        color: #666666;
        font-size: 8px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #d5d5d5;
        border-radius: 2px;
        vertical-align: top;
        display: inline-block;
        line-height: 1;
        // margin-left: 10px;
        letter-spacing: 2px;
        margin-top: 8px;
    }
    .heading-airline-code {
        font-size: 14px;
    }
}

// .heading-airline-code {
//     font-size: 14px;
// }

.booking-tab-control {
    .tabs-component_tab-item {
    padding-left: 20px;
    border-left: 1px solid #D3DBE8;
    text-align: left;
    }
    .number {
    background-color: #00266b;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    margin-right: 15px;
    opacity: 0.7;

        .active {
            opacity: 0;
        }
    }
}

.aside-container.aside-container-padding {
    padding-bottom: 35px;
}

.aside-container {
    position: relative;
    // margin-bottom: 38px;
    margin-bottom: 30px;
    // padding: 20px;

    background: #f2fbf3;
    border: 1px solid #03760b;
    border-radius: 4px;

    padding: 15px;
    .select-manage-booking-container {
        grid-template-columns: 9% 91%;
        display: grid;

        .trip-selected{
           .add-baggage-details  {
                display: block;
                color: #000;
           }
        } 
        .trip-selected--2 {
            margin: -8px 0px;
        }
    }
    

    .ico-container {
        background-image: url(../images/svg/icon-bundle.svg);
        background-repeat: no-repeat;
        // height: 26px;
        // width: 22px;
        display: inline-block;
        vertical-align: middle;
        // margin-left: 9px;
        margin-top: 6px;

        height: 19px;
        width: 14px;
        margin-top: 0px;
    }

    .trip-selected {
        // display: grid;
        // grid-template-rows: 22px;
        // padding-bottom: 5px;
        .text-bold {
            display: inline-block;
            color: #000;
        }
        .trip-details {
            display: inline;
            color: #222;
            line-height: 1.5em;
            // margin-left: 10px;
        }
        .selected-container--1 {
            // margin-bottom: 10px;
            // display: grid;
            // grid-template-columns: 9.8% 44% 46.2%;
            // padding-bottom: 5px;
        }

        .selected-container--1 + .selected-container--1 {
            padding-top: 19px;
        }

        .selected-container--2 {

        }
        .ico-success {
            background: transparent;
            color: #05B410;
            margin-top: -5px;
        }

        .trip-selected-airport-code {
            display: block;
        }

    }
}



.accordion_wrapper {
    background: #FFFFFF;
    border: 1px solid #E5E9F0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
    // padding: 20px 30px;
    padding: 13px 30px;
    display: block;
    position: relative;
    width: 100%;

    line-height: 1em;
    // height: 70px;

    // .select-manage-booking-wrapper {
    //     grid-template-columns: 80% 20%;
    //     display: grid;

    //     .btn-1 {
    //         float: right;
    //         padding: 14px 25px;
    //         border-radius: 3px;
    //     }
    //     .select-mb_btn-group {
    //         .ico-change-seat {
    //             color: #00266b;
    //             margin-top: -10px;

    //             &:before {
    //                 font-size: 23px;
    //             }
    //         }
    //         .incon-info{
    //             color: #00266b;
    //             font-weight: 700;
    //         }
    //          .ico-food {
    //             color: #00266b;
    //             margin-top: -10px;

    //             &:before {
    //                 font-size: 24px;
    //             }
    //         }
    //          .ico-business-1 {
    //             color: #00266b;
    //             // margin-top: -10px;

    //             &:before {
    //                 font-size: 23px;
    //             }
    //         }
    //     }
    // }
}
.select-manage-booking-wrapper {
    grid-template-columns: 80% 20%;
    display: grid;

    .btn-1 {
        float: right;
        font-size: 11px;
        // padding: 14px 25px;
        padding: 12px 29px;
        border-radius: 2px;
    }

    .btn-1.btn-disabled {
        color: #E5E5E5;
        background: #A8A8A8;
    }
}
.select-mb_btn-group {
    .ico-change-seat {
        color: #00266b;
        margin-top: -10px;

        &:before {
            font-size: 23px;
        }
    }
    .incon-info{
        vertical-align: text-top;
        color: #00266b;
        font-weight: 700;
    }
     .ico-food {
        color: #00266b;
        margin-top: -10px;

        &:before {
            font-size: 24px;
        }
    }
     .ico-business-1 {
        color: #00266b;
        margin-top: -10px;

        &:before {
            font-size: 23px;
        }
    }
}

.accordion_container {
    padding: 20px 20px 35px;
    background-color: #F0F2F6;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);

   .flight-info {
    color: #000;
    // margin-bottom: 20px;
        .accordion-row-container {
            // grid-template-columns: 34% 5% 34% 27%;
            grid-template-columns: 100%;
            display: grid;
        }
        .add-baggage {
         .bundle-ico {
             background-image: url(../images/svg/icon-bundle.svg);
            background-repeat: no-repeat;
            height: 19px;
            width: 15px;
            display: inline-block;
            vertical-align: middle;
            // margin-left: 10px;
            // margin-top: -4px;
            margin-left: 2px;
            margin-top: -13px;
            position: absolute
        }
    }
   }
   .accorion-first-content {
        .manage-passenger-preferences_inner-accordion-details {
            padding-bottom: 10px;
            border-bottom: solid 2px #00266b;
            // margin-right: 25px;
        }
        .flight-number {
            // margin-right: 60px;
        }
           .bundle-ico {
            background-image: url(../images/svg/icon-bundle.svg);
            background-repeat: no-repeat;
            height: 19px;
            width: 15px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 165px;
            margin-top: -34px;
        }
    }

    .accorion-first-content + .accorion-first-content {
        padding-top: 24px;
    }

         .tooltip {
           .tooltip__content {
                background: #f2fbf3;
                border: 1px solid #03760b;
            }
        }

    //  .accorion-second-content {
    //     .flight-info_from-content {
    //         padding-bottom: 10px;
    //         border-bottom: solid 2px #00266b;
    //     }
    //     .flight-number {
    //         margin-right: 60px;
    //     }
    //        .bundle-ico {
    //         background-image: url(../images/svg/icon-bundle.svg);
    //         height: 19px;
    //         width: 15px;
    //         display: inline-block;
    //         vertical-align: middle;
    //         margin-left: 9px;
    //         margin-top: -4px;
          
    //     }
    // }
    .flights-seat {
        padding-top: 17px;

     
    }
}

.meals-cont {
    .meals-heading {
        font-size: 12px;
        padding-bottom: 10px;
        border-bottom: 2px solid #00266b;
        margin-bottom: 15px;
        display: grid;
        // grid-template-columns: 20% 4% 16% 59%;
        // grid-template-columns: 7% 2% 57% 34%;

        grid-template-columns: 20% 3% 17% 60%;
        strong {
            color: #00266b;
        }
        .disc-padding {
            text-align: center;
        }
    }
    .flight-date {
        // float: right;
        text-align: right;
        color: #666;
    }

    .flight-meal {
        padding-bottom: 15px;

        .meal-description {
            display: block;
            // margin-left: 53px;
            margin-left: 57px;
            margin-top: 3px;
        }
    }
    .flight-meal_text {
        max-width: 66px;
        width: 46px;
        display: inline-block;
    }
}

.baggage-cont {
    .flight-date {
        display: none;
        // float: right;
        // color: #666;
    }
    .accordion-flight-info {
        padding-bottom: 20px;
    }

    .baggage-details {
        padding-bottom: 20px;
    }

    .baggage-cont-1 {
        padding: 14px 10px 35px;
    }

    .flight-info {
        margin-bottom: 14px;
        border-radius: 2px;

        .add-baggage {
            .bundle-ico {
                margin-left: 100px;
                margin-top: -18px;
            }
        }
    }
}

.baggage-container{
    margin-top: 20px;
    .ico-point-r {
        vertical-align: middle;
        font-size: 8px;
    }
}

.baggage-container_link {
    display: grid;
    grid-template-columns: 5% 95%;

    .ico-point-r {
        line-height: 2.2em;
        padding-right: 0px;
    }
}

.aside-container-add-baggage {
       .select-manage-booking-container {
        grid-template-columns: 7% 93%;
        display: grid;
    } 
    .text-bold {
        display: block;
        color: #000;
        margin-bottom: 5px;
    } 
    .add-baggage-details {
        display: block;
        line-height: 1.5em;
        color: #000;
    }
    .ico-container {
        height: 40px;
        width: 32px;
        margin-top: 14px;
    }
}

.manage-passenger-preferences-accordion-wrap {
    // height: 70px;
}

.manage-passenger-preferences_btn-group {
    margin-top: 14px;
    margin-bottom: 6px;

    .ico-food {
        margin-top: -10px;
    }
    .ico-business-1 {
        margin-top: -10px;
    }
}

.manage-passenger-preferences_accordion-content {
    // padding: 20px 20px 2px;
    padding: 14px 10px;
}

.manage-your-trip-flight-details_departure-time {
    text-align: right;
}

.manage-your-trip-flight-details {
    font-size: 12px;
    display: grid;

    // grid-template-columns: 23% 5% 18% 54%;
    grid-template-columns: 20% 3% 17% 60%;
    // grid-template-columns: 18% 3% 17% 62%;

    .inline-disc {
        margin-top: 5px;
    }
}

.v-popover {
    display: block;

    .trigger {
        display: block !important;
        outline: none;
    }
    .button--inline {
        // display: block;
    }
}

.button--1 {
    .button_icon {
        padding-left: 4px;
    }
}

.button--3 {
    .button_icon {
        padding-left: 2px;
    }
}

.vue-popover-theme {
    top: -15px !important;
    left: 8px !important;
    .wrapper {
        width: 240px;
        min-height: 81px;
        background: #fff;
        // background: #F2FBF3;
        border: 1px solid #ccc;
        border-radius: 2px;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    }
    .tooltip-inner {
        position: relative;
        color: black;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 5px;
        /* padding-top: 19px; */
        /* padding: 21px 15px; */
        padding: 20px;
    }
    .ico-close-round-fill {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        color: #999;
    }

    .tooltip-arrow {
        background: #fff;
        // background: #F2FBF3;
        height: 10px;
        border: 1px solid ccc;
        width: 10px;
        z-index: 999999999999999999999999999999999;
        // top: 75px;
        bottom: -4px;
        position: absolute;
        border-left-color: transparent !important;
        border-bottom-color: transparent !important;
        transform: rotate(135deg);
    }
}

.content-block-mobile {
    .v-popover {
        display: block;
    }
}

@media only screen and (min-width: 376px) and (max-width: 415px) {
    .heading-airline-code {
        width: 145px;
    }

    .meals-cont {
        .meals-heading {
            grid-template-columns: 17% 3% 17% 63%;
        }
    }
    .manage-your-trip-flight-details {
        grid-template-columns: 17% 3% 17% 63%;
    }
}