.popup__close {
  background-color: transparent;
}

.onboard-your-flights-main-content {
    // box-shadow: #c5c4c4 0px 3px 5px -3px;
    margin: 0px;
    padding: 0 0px;
}

.onboard-your-flights-carousel-content {
    // background-image: url("../../images/black-panther-img.png");
    position: absolute;
    // width: 928px;
    // height: 491px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    // margin-left: 8px;

    img {
      margin-left: -8px;
      min-width: 422px;
      max-height: 394px;
      height: 394px;
    }
    
}

.onboard-your-flights-wrapper {
    position: relative;
    color: #fff;
}

.onboard-your-flights-wrapper_center-text {
    text-transform: uppercase;
    left: 46%;
    // top: 203px;
    bottom: 130px;
    text-align: center;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    width: 260px;
}

.onboard-your-flights-tiles_img {
    cursor: pointer;
    position: relative;
    img {
      border-radius: 2px;

      &:hover {
        box-shadow: 0 5px 9px -1px #AFAFAF;
      }
    }
}

.onboard-your-flights-tiles_category-content {
    text-transform: uppercase;
    // left: 48%;
    // top: 51px;
    // width: 140px;
    text-align: center;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    pointer-events: none;
    font-weight: 600;
    
    top: 8px;
    width: auto;
    max-width: 115px;
    left: 50%;

    .onboard-your-flights-tiles_category-text {
      color: #222;
      font-weight: 700;
      font-size: 11px;
    }
}

.onboard-your-flights-tiles_category-text {
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    
}

.onboard-your-flights-tracker {
    // top: 454px;
    bottom: 20px;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 35%;
    font-size: 12px;
}

.onboard-your-flights-wrapper_center-title {
    font-size: 28px;
    line-height: 1em;
    max-height: 60px;
    overflow: hidden;
    // margin-bottom: 10px;
}
.onboard-your-flights-wrapper_banner-title-tile {
    font-size: 28px;
    line-height: 1em;
    margin-bottom: 10px;
}

.onboard-your-flights-wrapper_view-catalogue {
    font-size: 12px;
    // border-bottom: 2px solid #FF9F00;
    padding-bottom: 5px;
    font-weight: 600;

    &:after {
      // content: "";
      // display: block;
      // width: 50px;
      // height: 2px;
      // margin: 0 auto;
      // top: 5.5px;
      // position: relative;
      // background-color: #FF9F00;
      // transition: all .4s ease-in;

    }
    &:hover::after {
      width: 100px;
    }
}

.onboard-your-flights-inner {
    // margin-left: -8px;
}

.onboard-your-flights-tiles {
    // padding: 0px 100px;
    padding: 10px 2px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    // margin-bottom: 50px;
}

.onboard-your-flights-button-preview {
    text-align: left;
    border-radius: 0px 50px 50px 0px;
    position: absolute;
    left: 0;
    padding: 0;
    background-color: #AFAFAF;
    color: #222;
    top: 200px;
    height: 87px;
    width: 43px;

    .ico-point-l {
      &:before {
        font-size: 16px;
      }
    }
}

.onboard-your-flights-button-next {
    text-align: right;
    border-radius: 50px 0px 0px 50px;
    position: absolute;
    right: 0;
    padding: 0;
    background-color: #AFAFAF;
    color: #222;
    top: 200px;
    height: 87px;
    width: 43px;

    .ico-point-r {
      font-size: 16px;
    }
}

.onboard-your-flights-content-block {
  margin-bottom: 0px;
}

.add-ons-for-your-trip-content_img {
    position: relative;
    display: block;
    // grid-template-columns: 100%;
    cursor: pointer;
    // grid-column-gap: 10px;

    img{
      width: 100%
    }
}

.add-ons-for-your-trip-content_img-1 {
    position: relative;
    min-height: 258px;
    
    img {
      border-radius: 2px;
      width: 100vw;
      // height: auto;
      height: 302px;
    }
    &:hover {
      box-shadow: 0 5px 9px -1px #AFAFAF;
    }

    .border-left-style {
      border-top: none;
      border-left: 2px solid #FF9F00;
    }
}

.discover-city-content {
    // grid-template-columns: 100%;
    // display: grid;
    display: block;
    margin-bottom: 10px;
    box-shadow: #c5c4c4 0px 3px 5px -3px;
    padding-bottom: 20px; 
}

.discover-city-content_img {
    position: relative;
    // grid-template-columns: repeat(3,100%);
    // grid-template-columns: 33.33% 33.33% 33.33%;
    // display: -ms-grid;
    display: block;
    overflow-x: scroll;
    text-align: center;
    padding-bottom: 15px;
    cursor: pointer;
}

.discover-city-content_img-wrap {
    display: flex;
    position: relative;
    padding: 0 10px;
}

.discover-city-content_img-1 {
  position: relative;
  margin: auto 5px;
    min-width: 90vw;
    flex-grow: 1;

    img {
      border-radius: 2px;
      // min-width: 350px;
      width: 100%;

      &:hover {
        box-shadow: 0 5px 9px -1px #AFAFAF;
      }
    }

    &:last-child img {
      margin-right: 10px;
    }
}

.discover-city-content_img--1 {
  // text-align: left;
}

.discover-city-content_img--3 {
  text-align: right;
}

.border-line {
    display: none;
    // border-bottom: 2px solid #E5E9F0;
    // width: 97%;
    // align-self: center;
}

// .border-line-right {
//     margin-left: 10px;
// }

.border-bottom-button-content {
    // display: grid;
    // grid-template-columns: 33.33% 33.33% 33.33%;
}

.discover-city-button {
    text-align: center;
    background-color: #2275D3;
    // margin: 0px 4px;
    // height: 35px;
    height: 40px;
    line-height: 3.5em;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 2px;

    // margin-bottom: 30px;
    margin: 4px 13px 30px;
    a {
        color: #fff;
        display: block;

        &:hover {
            background-color: #0C62C3;
        }
    }
}

.add-ons-for-your-trip-content_img-1_details {
  height: 19px;
  padding-top: 3px;
  // text-transform: none;
  // left: 144px;
  // top: 142px;
  // min-width: 288px;
  text-align: left;
  padding-left: 18px;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;

  min-width: 362px;
  left: 181px;
  top: 240px;

  &.discover-city-content_img--1_block {
    transform: none;
    left: auto;
    top: auto;
    min-width: auto;
    height: auto;
  }
}

.add-ons-for-your-trip-content {
  // .add-ons-for-your-trip-content_img-1_details {
  //   top: 124px;
  // }
    margin-bottom: 0px;
    .add-ons-for-your-trip-content_img-1 {
      strong {
        font-weight: 700;
      }
    }
}

.add-ons-for-your-trip-content_img-1_description {
  font-size: 12px;
  color: #FAFAFA;
}

.discover-city-content_img--1_block {
  display: block;
  padding: 0 20px;
  position: absolute;
  bottom: 32px;
}

.discover-city-content_img--1_description {
    font-size: 18px;
    font-weight: 400;
    color: #FAFAFA;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 11px;
    
}


.left-leave-active,
.left-enter-active {
  transition: 1s;
}
.left-enter {
  transform: translate(100%, 0);
}
.left-leave-to {
  transform: translate(-100%, 0);
}

.right-leave-active,
.right-enter-active {
  transition: 1s;
}
.right-enter {
  transform: translate(-100%, 0);
}
.right-leave-to {
  transform: translate(+100%, 0);
}

.img-slider{
  overflow: hidden;
  position: relative;
  // width: 928px;
  max-width: 928px;
  height: 392px;
}

.activeTile{
    padding-bottom: 28px;
    border-bottom: 5px solid #FF9F00;
}
.activeText {
  font-weight: 700;
}

.button--inline {
  &.btn-disabled {
    #Rectangle-3 {
      fill: #A8A8A8;
    }
  }
}
// .img-slider img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right:0;
// }

@media only screen and (min-width:376px) and (max-width: 415px) {
    .onboard-your-flights-carousel-content {

      img {
        min-width: 422px;
        max-height: 394px;
        height: 394px;
      }
    }
    .onboard-your-flights-wrapper_center-text {
      left: 50%;
    }

    .add-ons-for-your-trip-content_img-1_details {
      // top: 268px;
      min-width: 340px;
      // left: 206px;
      // top: 467px;
      left: 170px;
      top: 265px;
    }

    .discover-city-content_img-1 {
      
      img {
        min-width: 384px;
      }
    }
    .discover-city-content_img-1  {
      min-width: 93vw;
    }
}

@media only screen and (max-width:361px) {
    .onboard-your-flights-wrapper_center-text {
        left: 44%;
    }

    .discover-city-content_img-1 {
      img {
        min-width: 332px;
      }
    }

    .discover-city-content_img--1_block  {
      left: 180px;
      min-width: 290px;
      top: 387px;
    }

    // left: 180px;
    // min-width: 308px;
    // top: 423px;
}