.pax-information-content {
    background-color: transparent;
}

.pax-information-link {
    display: block;
}

.pax-information {
    // padding: 23px 30px 34px;
    padding: 0 18px 23px 18px;
}

.pax-information-title {
    padding-left: 0px;
}

.passenger-view-visa-info {
    padding-right: 7px;
}

.pax-information_heading {
    display: none;
    // padding-bottom: 20px;
    // text-transform: uppercase;
    // font-size: 11px;
}

.border-bottom-sec-color-light {
    // border-bottom: 2px solid #E5E9F0;
}

.pax-information-list {
    // -ms-grid-rows: 40px 40px;
    grid-template-rows: auto;
    display: -ms-grid;
    display: grid;
    padding-top: 0px;
}

.content-title-padding {
    padding-bottom: 20px;
    padding-top: 20px;
}

.ico-point-r {
    font-size: 8px;
    vertical-align: top;
    padding-right: 3px;
}

.from-content_text-from {
    display: block;
    margin-bottom: 20px;
}

.from-content_terminal {
    display: block;
    margin-bottom: 16px;
}

.pax-information_full-detail {
    display: block;
    padding-bottom: 20px;
    border-bottom: solid 1px #e5e9f0;
    padding-top: 20px;
}

.pax-information_full-detail:last-child {
    border-bottom: none;
}

.pax-information_full-detail + .pax-information_full-detail {
    // padding-top: 25px;
}

.pax-information_flyer-info {
    display: block;
    margin-bottom: 7px;
}

.pax-information_remarks {
    display: block;
}

.pax-information-group-link {
    margin-bottom: 11px;
}