.ico-border-radius {
    border-radius: 50%;
}

.border-left-style {
  border-top: 3px solid #FF9F00 ;
  padding: 26px 15px 23px;
}

.secondary-color-lighter-bg {
    background-color: #E5E9F0;
}

.position-relative {
    position: relative;
}
.ico-width-height {
    width: 40px;
    height: 40px;
}

.select-manage-booking-content {
  // grid-template-columns: 20% 60% 20%;
  // display: grid;
    text-align: center;
}

.select-mb_btn-group {
  // display: -webkit-box;
  // -webkit-box-align: center;
  margin-bottom: 17px;

  .ico-alignment {
    margin-right: 10px;
  }
}

.select-mb_description {
    width: 95%;
    margin: 0 auto;
}

.select-mb_description_title {
  font-size: 16px;
}

.select-mb_description_paragraph {
  font-size: 14px;
}

.ico-alignment {
  position: relative;
    &:before {
      position: absolute;
      top: 50%;
      // left: 43%;
      transform: translate(-50%, -50%);
      // font-size: 18px;
      color: #00266b;
    }
}

.ico-change-seat {
  &:before {
    left: 41%;
    font-size: 18px;
  }
}

.ico-business-1 {
  &:before {
    left: 41%;
    font-size: 24px;
  }
}

.ico-food {
  &:before {
    left: 37%;
    font-size: 25px;
  }
}

.select-mb_manage-btn {
  // text-align: -webkit-right;
  // display: -webkit-box;
  // -webkit-box-pack: center;
  // -webkit-box-align: center;
    margin-top: 25px;

    .btn-primary {
      width: 100%;
      font-size: 12px;
    }
}

.select-mb_manage-btn-manage {
  height: 35px;
  width: 110px;
  // position: relative;
}

.btn-primary:hover {
  background-color: #0C62C3;
}

.btn-primary {
  // left: 50%;
  // position: absolute;
  // top: 50%;
  // font-size: 16px;
  // transform: translate(-50%, -50%);
  // display: block;
  // width: 110px;
  // height: 35px;
  // background-color: #00266b;
  // border-radius: 2px;
  background-color: #00266b;
  display: inline-block;
  font-size: 11px;
  font-style: normal;
  color: #fff;
  line-height: 6px;
  min-width: 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
  padding: 15px 20px 13px;
  overflow: visible;
  outline: none;
  // font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  transition: all 400ms ease 0s;
  border-radius: 2px
}

.grid-template-col-pax {
  grid-template-columns: 100%;
  display: -ms-grid;
  display: grid;
}


  .promotions-popup .popup__content, .popup--info .popup__content {
    text-align: left;
}

/*------ lightbox -------*/
  .popup--flight-info {
    margin-top: 70px;
    height: 130%;
  }

  .deal--title {
    display: block;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    color: #00266b;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 23px;
    margin-top: 12px;
  }

  .popup__close .ico-close-round-fill {
    color: #AAAAAA;
    font-size: 25px;
  }

  .flight-info-wrapper {
    border: 1px solid #E5E9F0;
    border-radius: 5px;
    padding: 20px 15px 20px 15px;
  }

  .flight--details {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #E5E9F0;
    color: #222222;
    padding-bottom: 18px;
  }

  .flight-seat-info,
  .flight-operate,
  .flight-name-plane {
    display: block;
    margin-bottom: 5px;
  }

  .economy {
    color: #1C5D49;
    font-weight: 700;
    margin-left: 10px;
  }

  .flight-name-plane {
    color: #666666;
  }

  .flights-destination-info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 1em;
    margin-top: 20px;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 14px;
    color: #222222;
  }

  .flights-depart {
    grid-column: 1;
    grid-row: 1;
    
  }

  .depart-info {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .flights-from {
    grid-column: 1;
    grid-row: 1;
  } 

  .flights-depart-details {
    grid-column: 2;
    grid-row: 1;
  }

  .flights-destination-1 {
    grid-column: 1;
    grid-row: 2;
    
  }

  .destination-info--1 {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .flights-to {
    grid-column: 1;
    grid-row: 1;
  }

  .flights-destination-details {
    grid-column: 2;
    grid-row: 1;
  }


  .flights-status {
    grid-column: 1;
    grid-row: 3;
  }

  .status-info {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .status-label {
    grid-column: 1;
    grid-row: 1;
  }

  .status-text {
    grid-column: 2;
    grid-row: 1;
    color: #1D760C;
    font-weight: bold;
  }

  .country-1,
  .terminal-1,
  .depart-date {
    display: block;
  }

  .singapore-airlines-img {
    position: relative;
    top: -3px;
    left: 5px;
  }

  .name-plane {
    margin-right: 5px;
  }

  .flight-hours {
    margin-left: 5px;
  }

  .time-date {
    font-weight: 600;
  }

  .layover-info {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 12px;
    color: #00266B;
    margin: 20px 0 20px 0;
      
  }

  /*------ end of the lightbox -------*/

  .pax-information_full-detail:last-child {
    border-bottom: hidden; 
  }