.tabs-component {
    position: relative;
    padding-bottom: 70px;
    border-radius: 2px;
}

.tabs-component--banner-float {
    margin-top: -70px;
}

.tabs-component_wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.tabs-component_tab-item {
    position: relative;
    z-index: 0;
    background: #FFFFFF;
    min-height: 70px;
    
    font-size: 14px;
    font-weight: 700;
    color: #222222;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;

    border-bottom: 1px solid #edebeb;
    border-top: 4px solid #D3DBE8;
    outline: none;

    &:first-child {
        border-top-left-radius: 4px;
    }
    &:last-child {
        border-top-right-radius: 4px;
    }

    &:before {
        content: '';
        position: absolute;
        top: -4px;
        right: -4px;
        width: 6px;
        height: 4px;
        background-color: #D3DBE8;
    }
    
    &.active {
        border-top: 4px solid #FF9F00;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: 1px solid transparent;
        z-index: 2;
        // outline: none;

        & + .tabs-component_tab-item {
            &:before {
                content: '';
                position: absolute;
                top: -4px;
                left: -4px;
                width: 6px;
                height: 4px;
                background-color: #D3DBE8;
            }
        }


        &:first-child {
            &:after {
                content: '';
                display: block;
                height: 63px;
                width: 8px;
                z-index: 0;
                
                filter: blur(4px);
                
                background: rgba(0,0,0,0.15);

                position: absolute;
                right: -4px;
                top: 0;
            }

            &:before {
                content: '';
                display: block;
                height: 66px;
                width: 10px;
                z-index: 1;
                
                background: white;

                position: absolute;
                right: 0;
                top: 0;
            }
        }

        &:last-child {
            &:after {
                content: '';
                display: block;
                height: 63px;
                width: 8px;
                z-index: 0;
                
                filter: blur(4px);
                
                background: rgba(0,0,0,0.15);

                position: absolute;
                left: -4px;
                top: 0;
            }

            &:before {
                content: '';
                display: block;
                height: 66px;
                width: 10px;
                z-index: 1;
                
                background: white;

                position: absolute;
                left: 0;
                top: 0;
            }
        }
        .number {
            opacity: 1;
        }
    }

}

.tabs-component_content-wrap {
    // padding: 0px 0px;
    // background-color: white;
    // padding: 30px;
    // box-shadow: #c5c4c4 0px 3px 5px -3px;

    padding: 0px 10px;
}

@media only screen and (max-width: 769px) {
    .tabs-component--banner-float {
        // padding: 0px 45px 70px;
    }
}