.add-ons-item-block {
    margin-bottom: 20px;
}

.add-ons-item-block-aside {
    margin-bottom: 0px;
    padding: 0;
    border-bottom: none;
}

.add-ons-item-block_title {
    background-color: #f7f7f7;
}

.add-ons-item-block_details {
    // grid-template-columns: 21.6% 78.4%;
    // display: grid;
}

.add-ons-item-block_img-content {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    padding: 40px 48px;
    border-bottom: 1px solid #E5E9F0;
}

.add-ons-item-block_img {
    // min-width: 102px;
    // height: 56px;
}

.add-ons-item-block_inner-content {
    // padding: 27px 26px;
    // grid-template-rows: 40px 30px;
    // display: -ms-grid;
    // display: grid;
    padding: 24px 17px 14px;
}

.add-ons-item-block_inner-row-1 {
    // grid-template-columns: 33% 71%;
    // display: grid;
}

.add-ons-item-block_inner-row-1-h4 {
    font-size: 16px;
    padding-bottom: 8px;
}

.add-ons-item-block_inner-row-1_col-2 {
    // text-align: right;
    padding-top: 2px;
    padding-bottom: 25px;
}

.add-ons-item-block_inner-row-1_text-1 {
    display: block;
    background-color: #E5E9F0;
    font-size: 14px;
    padding: 5px 24px 5px 15px;
}

.add-ons-item-block_inner-row-2 {
    // margin-top: 17px;
    // // grid-template-columns: 24% 76%;
    // grid-template-columns: 30% 70%;
    // display: grid;
}

.add-ons-item-block_inner-row-3 {
    // margin-top: 12px;
    // // grid-template-columns: 24% 76%;
    // grid-template-columns: 30% 70%;
    // display: grid;
}

.add-ons-item-block_footer-info {
    border-bottom: 1px solid #E5E9F0;
    border-right: 1px solid #E5E9F0;
    border-left: 1px solid #E5E9F0;
    padding: 20px 17px 15px;
    background-color: #FAFAFA;
    color: #222;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.hotel-checkin-checkout-content {
    margin-bottom: 0px;
    // padding: 23px 30px 0px;
    padding: 0px 19px 18px;
    border-bottom: none;
    border-top: none;
}

.hotel-add-ons_inner-content {
    grid-template-rows: 40px auto;
}

.hotel-add-ons_img-content {
    padding: 0px;
}

.hotel-add-ons_img {
    height: auto;
    width: 100%;
    display: block;
    // min-width: 353px;
    // background-size: auto 100%;
}

.hotel-add-ons-block_hotel-name {
    font-size: 16px;
    padding-bottom: 4px;
}

.hotel-add-ons-block_hotel-star {
    // padding-bottom: 15px;

    img {
        margin-right: 4px;
    }
}

.hotel-add-ons-block_hotel-name-star {
    grid-template-columns: 43% 57%;
    img {
        width: 16px;
        height: 16px;
    }
}

.hotel-add-ons-block_hotel-address {
    grid-template-columns: 100%;
    padding-top: 13px;
}

.hotel-add-ons-block_hotel-address_text {
    color: #666;
}

.hotel-checkin-checkout-row {
    // -ms-grid-columns: 33% 34% 33%;
    // grid-template-columns: 33% 34% 33%;
    // display: -ms-grid;
    // display: grid;
    // -ms-grid-rows: 40px 40px;
    // grid-template-rows: 30px;
    // display: -ms-grid;
    // display: grid;
    // padding-bottom: 20px;
}

.hotel-checkin-checkout-row_col-1 {
    grid-template-columns: 45% 55%;
    display: -ms-grid;
    display: grid;
    padding-bottom: 2px;
}

.hotel-checkin-checkout-row_col-2 {
    // padding: 0px 20px;
    // padding-right: 20px;
    grid-template-columns: 45% 55%;
    display: -ms-grid;
    display: grid;
    padding-bottom: 2px;
}

.hotel-checkin-checkout-row_col-3 {
    -ms-grid-columns: 45% 55%;
    grid-template-columns: 45% 55%;
    display: -ms-grid;
    display: grid;
    padding-bottom: 2px;
}

.hotel-agoda-row {
    display: none;
    // -ms-grid-columns: 33% 34% 33%;
    // grid-template-columns: 33% 34% 33%;
    // display: -ms-grid;
    // margin-top: 15px;
    // display: grid;
    // -ms-grid-rows: 40px 40px;
    // grid-template-rows: auto;
    // padding-bottom: 20px;
}

.hotel-agoda-row_checkin-date {
    grid-template-columns: auto;
    display: -ms-grid;
    display: grid;
}

.hotel-agoda-row_checkout-date {
    // padding: 0px 20px;
    padding-right: 20px;
    -ms-grid-columns: 45% 55%;
    grid-template-columns: 45% 55%;
    display: -ms-grid;
    display: grid;
}

.hotel-agoda-_nights-num {
    -ms-grid-columns: 45% 55%;
    grid-template-columns: 45% 55%;
    display: -ms-grid;
    display: grid;
}

.hotel-agoda_booking-status-text {

}

.hotel-agoda-row_img {
    padding-left: 40px;
}

.hotel-agoda_booking-status-content {
    // display: -webkit-box;
    // -webkit-box-align: center;
    padding-right: 20px;
    -ms-grid-columns: 45% 55%;
    grid-template-columns: 45% 55%;
    display: -ms-grid;
    display: grid;
    align-content: center;
}

.hotel-agoda-row_nights-num {
    grid-template-rows: auto;
    display: -ms-grid;
    display: grid;
}

.hotel-agoda-row_nights-num_amount-charged {
    font-size: 18px;
}

.join-krisflyer-article {
    background-color: #ECEFF4;
    border-radius: 2px;
    padding: 35px 30px;
    // height: 218px;
    height: 305px;
    position: relative;
    padding: 23px 13px 29px;

    .join-krisflyer-inner-content_description {
        margin-bottom: 20px;
        text-align: center;
    }
}

.join-krisflyer-inner-content {
    // width: 650px;
    position: absolute;
    z-index: 2;
    max-width: 320px;
    left: 18px;
}

.join-krisflyer-article_title {
    padding-left: 0px;
    padding-bottom: 7px;
    text-align: center;
}

.join-krisflyer-inner-content_input {
    width: 250px;
    height: 35px;
}

.join-krisflyer-inner-content_button {
    margin-top: 20px;
    .btn-primary {
        height: 35px;
        // width: 125px;
        min-width: 320px;
        font-weight: 600;
    }
}

.join-krisflyer-mask-cellphone {
    position: absolute;
    top: 0;
    right: 0;
}

.join-krisflyer-inner-content_input-btn {
    // display: grid;
    // grid-template-columns: 40% 60%;

    .select__text {
        padding-left: 13px;
        top: -1px;
        letter-spacing: 0.025em;
    }
    .v-select {
        // width: 250px;
        width: auto;
        height: 35px;
    }
    .dropdown-toggle {
        height: auto;
        line-height: 0px;
    }
}

.add-ons-item-block_inner-row-2_text-1 {
    display: block;
}

.add-ons-item-block_inner-row-3_text-1 {
    display: block
}

.trip-add-ons_passenger-insured-name {
    display: block;
    padding-bottom: 25px;
}

@media only screen and (min-width: 376px) and (max-width: 415px) {
    
    .join-krisflyer-inner-content {
        max-width: 359px;
    }

    .join-krisflyer-inner-content_button {
        .btn-primary {
            min-width: 359px;
        }
    }
}

@media only screen and (max-width:361px) {
    .join-krisflyer-inner-content {
        top: calc(50% - 127px);
        right: 31px;
    }
    
    .join-krisflyer-inner-content_button {
        .btn-primary {
            min-width: 304px;
        }
    }

    .hotel-add-ons_img {
        min-width: 338px;
    }

    .join-krisflyer-inner-content_input-btn {
        .v-select {
            min-width: 304px;
        }
    }
}

.slick-slider {
    margin-bottom: 0px;
}

.slick-list {
    padding-bottom: 7px;
}

.slick-dots {
    li {
        button {
            background: #ccc;
        }
    }
}

.slick-dots {
    li.slick-active {
        button {
            background: #FF9F00;
        }
    }
}