.accordion-col {
  display: inline-block;
}

.flight-info_content {
  padding: 20px;
}

.flight-info {
  background-color: white;
  border-radius: 2px;
  padding: 20px;
}

.flight-info_flight-desc {
  border-bottom: 2px solid #E5E9F0;
  padding-bottom: 10px;
}

.flight-info_flight-tracker {
  font-weight: 700;
}

.flight-info_flight-jet {
  color: #666;
}

.flight-info_flight-travel-hours {
  color: #666;
}

.ico-flight-history {
  font-style: normal;
  margin-right: 5px;

  &:before {
    font-size: 11px;
    vertical-align: baseline;
  }
}

.flight-info_flight-cabin-class {
  font-weight: 600;
  float: right;
  line-height: 1.3em;
}

.flight-info_bottom-flight-desc {
  padding-top: 25px;
}

.flight-info_from-content, .flight-info_to-content {
  padding-bottom: 22px;
}

.singapore-airlines-img {
  max-width: 18px;
  max-height: 18px;
  margin-top: -3px;
  margin-right: -5px;
}

.flight-info_layover-time {
  padding: 25px 0px 22px;
  color: #00266b;
  font-weight: 600;
  font-size: 12px;

  .ico-flight-history {
    &:before {
      font-size: 14px;
    }
  }
}

.accordion-col--modifier1 {
  width: 7%;
}

.accordion-col--modifier2 {
  width: 28%;
}

.accordion-col--modifier3 {
  width: 19%;
}

.accordion-col--modifier4 {
  width: 8%;
}