.vue-popover-theme {
    top: -15px !important;
    left: 8px !important;
    .wrapper {
        width: 240px;
        min-height: 81px;
        // background: #fff;
        background: #F2FBF3;
        border: 1px solid #ccc;
        border-radius: 2px;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    }
    .tooltip-inner {
        position: relative;
        color: black;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 5px;
        /* padding-top: 19px; */
        /* padding: 21px 15px; */
        padding: 20px;
    }
    .ico-close-round-fill {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        color: #999;
    }

    .tooltip-arrow {
        // background: #fff;
        background: #F2FBF3;
        height: 10px;
        border: 1px solid ccc;
        width: 10px;
        z-index: 999999999999999999999999999999999;
        // top: 75px;
        bottom: -4px;
        position: absolute;
        border-left-color: transparent !important;
        border-bottom-color: transparent !important;
        transform: rotate(135deg);
    }
}