.flight-info {
    
}

.flight-info--trigger-content {
    position: relative;
    width: calc(100% - 44px);
}

.flight-info--trigger-content_title {
    font-weight: 700;
    font-size: 14px;
    color: #222222;
    letter-spacing: 0;
    text-transform: uppercase;
}

.flight-info--trigger-content_schedule-wrap {
    
}

.flight-info_status {
    display: grid;
    grid-template-columns: 7% 93%;
}

.flight-info--trigger-content_schedule-item {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: #00266B;

    padding-left: 20px;

    &:before {
        content: '';
        width: 6px;
        height: 6px;
        display: block;
        border-radius: 50%;
        background-color: #FF9F00;

        position: absolute;
        top: 5px;
        left: 0;
        z-index: 1;
    }

    &:after {
        content: '';
        display: block;
        
        height: 30px;
        width: 2px;
        
        border-left: #cccccc dotted 1px;

        position: absolute;
        top: 6px;
        left: 3px;
        z-index: 0;
    }

    &:last-child {
        &:after {
            display: none;
        }
    }

    .flight-info_status-item {
        display: block;
        float: right;
    }
}

.flight-status_item--confirm {
    color: #1D760C;
}
.flight-status_item--avail-cfrm {
    color: #BA5301;
}

.flight-info_datetime {
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    margin-left: 7px;
}

.flight-info_datetime_icon {
    color: darkgray;
    font-size: 0.8em;
    line-height: 1em;
    
    position: relative;
    // top: -2px;
    margin-right: 4px;
}

.flight-info_inline-content {
    display: inline-block;
    vertical-align: middle;
    // width: 61px;
}

.flight-info_airport-code {
    width: 61px;
}

.flight-info_flight-tracker {
    width: 50px;
}

.flight-info_row {
    display: block;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    .inline-disc {
        margin: 0 9px;
    }
}

.flight-info_schedule-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.accordion-col {
    display: inline-block;
  }
  
  .flight-info_content {
    padding: 20px;
  }
  
  .flight-info {
    background-color: white;
    border-radius: 2px;
    padding: 20px;
  }
  
  .flight-info_flight-desc {
    border-bottom: 2px solid #E5E9F0;
    padding-bottom: 10px;
  }
  
  .flight-info_flight-tracker {
    font-weight: 700;
  }
  
  .flight-info_flight-jet {
    color: #666;
  }
  
  .flight-info_flight-travel-hours {
    color: #666;
  }
  
  .ico-flight-history {
    font-style: normal;
    margin-right: 5px;
    vertical-align: top;
  
    &:before {
      font-size: 11px;
      vertical-align: baseline;
    }
  }
  
  .flight-info_flight-cabin-class {
    font-weight: 600;
    float: right;
    line-height: 1.3em;
  }
  
  .flight-info_bottom-flight-desc {
    padding-top: 25px;
  }
  
  .flight-info_from-content, .flight-info_to-content {
    padding-bottom: 22px;
    display: grid;
    grid-template-columns: 7% 36% 15% 9% 33%;
  }
  
  .singapore-airlines-img {
    max-width: 18px;
    max-height: 18px;
    margin-top: -3px;
    margin-right: -5px;
  }
  
  .flight-info_layover-time {
    padding: 25px 0px 22px;
    color: #00266b;
    font-weight: 600;
    font-size: 12px;
  
    .ico-flight-history {
      &:before {
        font-size: 14px;
      }
    }
  }
  
//   .accordion-col--modifier1 {
//     width: 7%;
//   }
  
//   .accordion-col--modifier2 {
//     width: 28%;
//   }
  
//   .accordion-col--modifier3 {
//     width: 19%;
//   }
  
//   .accordion-col--modifier4 {
//     width: 8%;
//   }
