.onboard-your-flights-main-content {
    // box-shadow: #c5c4c4 0px 3px 5px -3px;
}

.onboard-your-flights-carousel-content {
    // background-image: url("../../images/black-panther-img.png");
    position: absolute;
    // width: 928px;
    // height: 491px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    // margin-left: 8px;

    img {
      margin-left: -8px;
    }
}

.onboard-your-flights-wrapper {
    position: relative;
    color: #fff;
}

.onboard-your-flights-wrapper_center-text {
    text-transform: uppercase;
    left: 50%;
    // top: 203px;
    bottom: 130px;
    text-align: center;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
}

.onboard-your-flights-tiles_img {
    cursor: pointer;
    position: relative;
    //background-image: url(../images/bitmap-hover-1.png);
    width: 174px;
    height: 100px;
    /* padding: 0 40px; */
    display: inline-block;
    margin: 0 5px;
    border-radius: 3px;
    border-bottom: 5px solid transparent;
    img {
      border-radius: 2px;

      &:hover {
        box-shadow: 0 5px 9px -1px #AFAFAF;
      }
    }
}

.onboard-your-flights-tiles_category-content {
    text-transform: uppercase;
    left: 48%;
    top: 51px;
    width: 140px;
    text-align: center;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    pointer-events: none;
    font-weight: 600;
}

.onboard-your-flights-tiles_category-text {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}

.onboard-your-flights-tracker {
    // top: 454px;
    bottom: 20px;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 16%;
    font-size: 12px;
}

.onboard-your-flights-wrapper_center-title {
    font-size: 28px;
    line-height: 1em;
    // margin-bottom: 10px;
}
.onboard-your-flights-wrapper_banner-title-tile {
    font-size: 28px;
    line-height: 1em;
    margin-bottom: 10px;
}

.onboard-your-flights-wrapper_view-catalogue {
    font-size: 12px;
    // border-bottom: 2px solid #FF9F00;
    padding-bottom: 5px;
    font-weight: 600;

    &:after {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      margin: 0 auto;
      top: 5.5px;
      position: relative;
      background-color: #FF9F00;
      transition: all .4s ease-in;

    }
    &:hover::after {
      width: 100px;
    }
}

.onboard-your-flights-inner {
    // margin-left: -8px;
}

.onboard-your-flights-tiles {
    margin-bottom: 50px;
    text-align: center;
}

.onboard-your-flights-button-preview {
    text-align: left;
    border-radius: 0px 50px 50px 0px;
    position: absolute;
    left: 0;
    padding: 0;
    background-color: #AFAFAF;
    color: #222;
    top: 200px;
    height: 87px;
    width: 43px;

    .ico-point-l {
      &:before {
        font-size: 16px;
      }
    }
}

.onboard-your-flights-button-next {
    text-align: right;
    border-radius: 50px 0px 0px 50px;
    position: absolute;
    right: 0;
    padding: 0;
    background-color: #AFAFAF;
    color: #222;
    top: 200px;
    height: 87px;
    width: 43px;

    .ico-point-r {
      font-size: 16px;
    }
}

.add-ons-for-your-trip-content_img {
    position: relative;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    cursor: pointer;
    grid-column-gap: 10px;

    img{
      width: 100%
      }
}

.add-ons-for-your-trip-content_img-1 {
    position: relative;

    img {
      border-radius: 2px;
    }
    &:hover {
      box-shadow: 0 5px 9px -1px #AFAFAF;
    }
}

.discover-city-content {
    // grid-template-columns: 100%;
    // display: grid;
    // margin-bottom: 10px;
}

.discover-city-content_img {
    position: relative;
    // grid-template-columns: 33.33% 33.33% 33.33%;
    // display: -ms-grid;
    // display: grid;
    grid-template-columns: 100%;
    display: -ms-grid;
    display: grid;
    text-align: center;
    padding-bottom: 15px;
    cursor: pointer;
}

.discover-city-content_img-wrap {
    grid-template-columns: 33.33% 33.33% 33.33%;
    display: -ms-grid;
    display: grid;
}

.discover-city-content_img-1 {
    position: relative;
    img {
      border-radius: 2px;

      &:hover {
        box-shadow: 0 5px 9px -1px #AFAFAF;
      }
    }
}

.discover-city-content_img--1 {
  text-align: left;
}

.discover-city-content_img--3 {
  text-align: right;
}

.border-line {
    border-bottom: 2px solid #E5E9F0;
    width: 97%;
    align-self: center;
}

.border-line-right {
    margin-left: 10px;
}

.border-bottom-button-content {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.discover-city-button {
    text-align: center;
    background-color: #2275D3;
    margin: 0px 4px;
    height: 35px;
    line-height: 3em;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 2px;

    a {
        color: #fff;
        display: block;

        &:hover {
            background-color: #0C62C3;
        }
    }
}

.add-ons-for-your-trip-content_img-1_details {
  height: 19px;
  padding-top: 3px;
  // text-transform: none;
  left: 144px;
  top: 142px;
  min-width: 288px;
  text-align: left;
  padding-left: 18px;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}

.add-ons-for-your-trip-content {
  .add-ons-for-your-trip-content_img-1_details {
    top: 124px;
  }
}

.add-ons-for-your-trip-content_img-1_description {
  font-size: 12px;
  color: #FAFAFA;
}

.discover-city-content_img--1_block {
  padding-left: 0px;
  height: auto;
  left: 149px;
  min-width: 265px;
  top: 329px;
  // bottom: -20px;
}

.discover-city-content_img--1_description {
    font-size: 18px;
    color: #FAFAFA;
    border-bottom: 2px solid #E5E9F0;
    padding-bottom: 11px;
}

.discover-city-content_img--2 {
  .discover-city-content_img--1_block{
      left: 154px;
  }
}

.discover-city-content_img--3 {
  .discover-city-content_img--1_block{
      left: 160px;
  }
}

.left-leave-active,
.left-enter-active {
  transition: 1s;
}
.left-enter {
  transform: translate(100%, 0);
}
.left-leave-to {
  transform: translate(-100%, 0);
}

.right-leave-active,
.right-enter-active {
  transition: 1s;
}
.right-enter {
  transform: translate(-100%, 0);
}
.right-leave-to {
  transform: translate(+100%, 0);
}

.img-slider{
  overflow: hidden;
  position: relative;
  width: 928px;
  height: 392px;
}

.activeTile{
    border-bottom: 5px solid #FF9F00;
    box-shadow: 0 5px 9px -1px #AFAFAF;

    
}
.activeText {
  font-weight: 600;
}
// .img-slider img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right:0;
// }
