.pax-information {
    padding: 23px 30px 34px;
}

.passenger-view-visa-info {
    padding-right: 7px;
}

.pax-information_heading {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 11px;
}

.border-bottom-sec-color-light {
    border-bottom: 2px solid #E5E9F0;
}

.pax-information-list {
    -ms-grid-rows: 40px 40px;
    grid-template-rows: 40px 40px;
    display: -ms-grid;
    display: grid;
    padding-top: 25px;

    .pax-information_remarks {
        display: none;
    }

    .pax-information_flyer-info-1 {
        display: none;
    }
}

.content-title-padding {
    padding-bottom: 20px;
}

.ico-point-r {
    font-size: 8px;
    vertical-align: top;
    padding-right: 3px;
}