.ico-border-radius {
    border-radius: 50%;
}

.border-left-style {
  border-left: 3px solid #FF9F00 ;
}

.secondary-color-lighter-bg {
    background-color: #E5E9F0;
}

.position-relative {
    position: relative;
}
.ico-width-height {
    width: 40px;
    height: 40px;
}

.select-manage-booking-content {
  grid-template-columns: 20% 60% 20%;
  display: grid;
}

.select-mb_btn-group {
  display: -webkit-box;
  -webkit-box-align: center;
}

.select-mb_description_title {
  font-size: 16px;
}

.select-mb_description_paragraph {
  font-size: 14px;
}

.ico-alignment {
  position: relative;
    &:before {
      position: absolute;
      top: 50%;
      // left: 43%;
      transform: translate(-50%, -50%);
      // font-size: 18px;
      color: #00266b;
    }
}

.ico-change-seat {
  &:before {
    left: 41%;
    font-size: 18px;
  }
}

.ico-business-1 {
  &:before {
    left: 41%;
    font-size: 24px;
  }
}

.ico-food {
  &:before {
    left: 37%;
    font-size: 25px;
  }
}

.select-mb_manage-btn {
  text-align: -webkit-right;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.select-mb_manage-btn-manage {
  height: 35px;
  width: 110px;
  // position: relative;
}

.btn-primary:hover {
  background-color: #0C62C3;
}

.btn-primary {
  // left: 50%;
  // position: absolute;
  // top: 50%;
  // font-size: 16px;
  // transform: translate(-50%, -50%);
  // display: block;
  // width: 110px;
  // height: 35px;
  // background-color: #00266b;
  // border-radius: 2px;
  background-color: #00266b;
  display: inline-block;
  font-size: 11px;
  font-style: normal;
  color: #fff;
  line-height: 6px;
  min-width: 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
  padding: 15px 20px 13px;
  overflow: visible;
  outline: none;
  // font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  transition: all 400ms ease 0s;
  border-radius: 2px
}

.grid-template-col-pax {
  grid-template-columns: 28% 29% 43%;
  display: -ms-grid;
  display: grid;
}
