.bsp-bubble {

	.tooltip-bsp {
		position: absolute;
	   margin-top: 10px;
    	left: 10px;
		display: block;
		z-index: 9999;
		opacity: 0;

		@include prefix(transition, opacity 0.7s ease-in-out, webkit moz ms o);

		&.fade-in {
			opacity:1;
		}
	}

	.bsp-fixed {
		position: fixed;
		top: 0;
	}

	.tooltip-3 {
	    color: #fff;
	    height: auto;
	    width: auto;
	    clear: both;
		display: inline-block;
		background-color: #00266b !important;
	    border-top-left-radius: 6px;
	    border-top-right-radius: 6px;
	    border-bottom-left-radius: 6px;
	    border-bottom-right-radius: 6px;
	    padding: 5px 10px !important;
	    z-index: 999;

	    .unit-small {
	    	font-size: 18px;
	    }

	    .tooltip__arrow {
			position: absolute;
		    top: 100%;
		    left: 50%;
		    margin: -8px 0 0 -9px;
		    font-family: "sia";
		    font-size: 18px;
		    line-height: 1;
		    color: #00266b;

		    &.type-top {
		    	margin: 0 0 0 -8px;
		    	top: -11px;
		    }

		    &:before {
				display: inline-block;
			    position: relative;
			    z-index: -1;
			    content: "\e61c";
			    font-style: normal;
			    font-weight: normal;
			    speak: none;
			    text-shadow: 2px 2px 6px rgba(99, 99, 99, 0.2);

			    -webkit-transform: rotate(180deg);
			    transform: rotate(180deg);
			    text-shadow: -2px 2px 8px rgba(99, 99, 99, 0.275);
			}
		}
	}
}

.expand-bsp {
	.less-detail.hidden-mb-small {
		display: inline-block !important;
	}
}

.bsp-w-bbl {
	.bsp-booking-summary__content {
		max-height: none !important;
	}
}
