.overlay-change-management {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	z-index: 1000;
	color: white;
	font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;

	a.close-btn {
		float: right;
		margin-top: 10px;
		margin-right: 10px;
		z-index: 9999;

		img {
			width: 25px;
		}
	}

	button {
		width: 90%;
	}

	h3 {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}

	.btn-1 {
		span {
			font-size: 12px;
			padding: 0 5px 0 8px;

			em {
				font-size: 9px;
				margin-left: 5px;
			}
		}
	}

	p {
		font-weight: 200;
		font-size: 18px;

		span {
			font-weight: 550;
		}
	}

	.slick-dots {
		.hide {
			opacity: 0 !important;
		}

		li {
			margin: 0 2px;

			button {
				width: 9px;
				height: 9px;
			}
		}
	}

	.slick-dots-0 {
		display: block;
		position: absolute;
		top: 315px;
	}

	.slick-dots-1 {
		width: 100px;
		position: absolute;
		margin: 0 auto;
		right: 0;
		left: 0;
		top: 765px;
	}

	.slick-dots-2 {
		position: absolute;
		top: 290px;
	}

	.slick-dots-3 {
		position: absolute;
		top: 580px;
	}

	.slick-dots-4 {
		position: absolute;
		bottom: 85px;
	}

	.cm-wrapper {
		position: absolute;
		margin: 0 auto;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		overflow-y: scroll;
	}

	.first-slide {
		.wrapper {
			margin-top: 140px;
			position: relative;
		}

		button {
			width: 90%;

			&.btn-1 {
				position: absolute;
				left: 0;
				right: 0;
				top: 210px;
				margin-left: auto;
				margin-right: auto;
			}

			&.btn-2 {
				margin-top: 80px;
			}
		}

		h3 {
			font-size: 26px;
		}

		p {
			font-weight: normal;
			font-size: 18px;
			width: 75%;
			margin: 25px auto;
		}
	}

	.second-slide {
		.img-2-slider {
			width: 262px;
			margin: 55px 0 0 22px;
		}

		p {
			width: 89%;
			margin: 0 auto;
		}

		button {
			margin-top: 50px;
		}
	}

	.third-slide {
		.img-3-slider {
			width: 280px;
			margin: 55px 0 0 7px;
		}

		p {
			font-weight: 200;
			font-size: 18px;
			width: 90%;
			margin: 0 auto;
		}

		button {
			margin-top: 45px;
		}
	}

	.fourth-slide {
		.wrapper {
			width: 100%;
		}

		.img-4-slider {
			width: 265px;
			margin-left: 38px;
		}

		p {
			font-weight: 200;
			font-size: 18px;
			width: 85%;
			margin: 0 auto;
		}

		button {
			margin-top: 45px;
		}
	}

	.fifth-slide {
		text-align: left;

		.img-5-slider {
			width: 250px;
			margin: 25px 0 0 15px;
		}

		.wrapper {
			margin-bottom: -15px;
		}

		.wrapper-content {
			padding-left: 12px;
			padding-right: 8px;

			p:nth-child(1) {
				width: 100%;
			}

			p:nth-child(2) {
				width: 92%;
			}
		}

		button {
			margin: 50px auto 0;
			display: block;
			width: 100%;
		}

		.last-text {
			color: #c1a474;
			font-size: 14px;
			text-align: left;

			em {
				font-size: 6px;
				margin-bottom: 4px;
			}
		}
	}
}
@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
	.overlay-change-management .slick-dots-4 {
		bottom: 80px;
	}

	.overlay-change-management .fifth-slide .wrapper-content p:nth-child(2) {
		width: 100%;
	}

	.overlay-change-management .fifth-slide .img-5-slider {
		width: 290px;
		margin: 25px 0 0 18px;
	}

	.overlay-change-management .first-slide .wrapper {
		margin-top: 170px;
		position: relative;
	}

	.overlay-change-management .first-slide h3 {
		/* margin-top: 45%; */
		font-size: 26px;
		width: 80%;
		margin: 0 auto;
	}

	.overlay-change-management .slick-dots-0 {
		top: 335px;
	}

	.overlay-change-management .slick-dots-1 {
		top: 905px;
	}

	.overlay-change-management .second-slide p {
		width: 80%;
	}

	.overlay-change-management .third-slide .img-3-slider {
		width: 320px;
	}

	.overlay-change-management .slick-dots-2 {
		top: 310px;
	}

	.overlay-change-management .fourth-slide .img-4-slider {
		width: 315px;
		margin: 25px 0 0 40px;
	}

	.overlay-change-management .slick-dots-3 {
		position: absolute;
		top: 695px;
	}

	.overlay-change-management .second-slide .img-2-slider {
		width: 320px;
		margin: 55px 0 0 25px;
	}

	.overlay-change-management .first-slide p {
		width: 70%;
	}
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation: landscape) {
	.overlay-change-management .slick-dots-4 {
		position: absolute;
		bottom: 80px;
	}

	.overlay-change-management .first-slide p {
		font-weight: normal;
		font-size: 18px;
		width: 450px;
		/* width: 75%; */
		margin: 25px auto;
	}

	.overlay-change-management .second-slide .img-2-slider {
		width: 262px;
		margin: 55px 0 0 100px;
	}

	.overlay-change-management .first-slide .wrapper {
		margin-top: 45px;
		position: relative;
	}

	.overlay-change-management .slick-dots-0 {
		display: block;
		position: absolute;
		top: 165px;
	}

	.overlay-change-management .first-slide button.btn-1 {
		position: absolute;
		left: 0;
		right: 0;
		top: 155px;
		margin-left: auto;
		margin-right: auto;
	}

	.overlay-change-management .slick-dots-1 {
		width: 100px;
		position: absolute;
		margin: 0 auto;
		right: 0;
		left: 0;
		top: 740px;
	}

	.overlay-change-management .slick-dots-3 {
		position: absolute;
		top: 615px;
	}

	.overlay-change-management .fifth-slide .wrapper a:nth-child(4) {
		margin-left: 30px;
		width: 90%;
		text-align: left;
	}

	.overlay-change-management .slick-dots-2 {
		position: absolute;
		top: 275px;
	}

	.overlay-change-management .third-slide .img-3-slider {
		width: 300px;
		margin: 55px 0 0 55px;
	}

	.overlay-change-management .fourth-slide .img-4-slider {
		width: 265px;
		margin: 25px auto;
	}

	.overlay-change-management .fifth-slide .img-5-slider {
		width: 250px;
		margin: 25px auto;
	}

	.overlay-change-management .fifth-slide button {}

	.overlay-change-management .second-slide p {
		width: 70%;
		margin: 0 auto;
	}

	.overlay-change-management button {
		width: 70%;
	}

	.overlay-change-management .first-slide button {
		width: 70%;
	}

	.overlay-change-management .third-slide p {
		font-weight: 200;
		font-size: 18px;
		width: 80%;
		margin: 0 auto;
	}

	.overlay-change-management .fourth-slide p {
		font-weight: 200;
		font-size: 18px;
		width: 75%;
		margin: 0 auto;
	}

	.overlay-change-management .fifth-slide .wrapper-content {
		padding: 0 50px;
	}

	.overlay-change-management .fifth-slide .wrapper-content :nth-child(2) {
		width: 90%;
	}
}