$gutter: 10px;

.popup {
  &__inner {
    top: 250px;
  }
}

.hidden-xs {
  display: none;
}

.visible-xs {
  display: block;
}

.explore {
  &__row {
    margin-left: -$gutter;
    margin-right: -$gutter;
    box-sizing: border-box;

    &:before,
    &:after {
      display: table;
      content: " ";
    }

    &:after {
      clear: both;
    }
  }

  &__col {
    width: 100%;
    padding-left: $gutter;
    padding-right: $gutter;
    float: left;
    box-sizing: border-box;
  }

  &__card  {
    display: block;
    border-radius: 4px;
    position: relative;
    margin-bottom: 30px;

    &-image {
      width: 100%;
      height: 178px;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 4px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

      &:after {
        content: '';
        height: 50%;
        width: 100%;
        background-image: url('../images/bg-gradient.png');
        background-size: contain;
        position: absolute;
        bottom: 0;
        left: 0;
        background-repeat: repeat-x;
        z-index: 1;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }

    &-date {
      position: absolute;
      bottom: 18px;
      left: 20px;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      text-transform: uppercase;
      z-index: 2;
    }
  }

  &__tag {
    position: absolute;
    top: 20px;
    left: -2px;
    border-radius: 4px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    padding: 6px 12px;
    letter-spacing: 1px;
    line-height: 12px;
    font-size: 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    z-index: 1;

    &--sight-attraction {
      border-left: 2px solid #68B314;
    }

    &--hotel {
      border-left: 2px solid #0254EC;
    }

    &--tour-activities {
      border-left: 2px solid #0EAC89;
    }

    &--restaurant {
      border-left: 2px solid #FF9F00;
    }

    &--music-art-culture {
      border-left: 2px solid #AA49FF;
    }

    &--event {
      border-left: 2px solid #EB5466;
    }
  }

  &__date {
    &-picker {
      width: 50%;
      float: right;
    }

    & .input-3__label {
      height: 100%;
    }
  }

  &__rating {
    z-index: 2;
    position: absolute;
    bottom: 18px;
    left: 20px;

    &-text {
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 12px;
      margin-bottom: 5px;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    &-active {
      position: absolute;
    }

    &-star {
      width: 22px;
      height: 22px;
      background-image: url(../images/svg/star-grey.svg);
      background-size: cover;
      margin: 0 3px;

      &--wrapper {
        margin-top: 5px;
        margin-left: -3px;

        & ul {
          list-style: none;

          & li {
            display: inline-block;
          }
        }
      }

      &.rated {
        background-image: url(../images/svg/star-rated.svg);
      }
    }
  }

  &__content {
    padding-top: 15px;

    &-title {
      display: block;
      font-weight: 600;
      font-size: 18px;
      color: #222222;
      padding-right: 20px;
      line-height: 24px;
      margin-bottom: 2px;
    }

    &-description {
      & li {
        display: inline-block;
      }
    }

    &-money {
      font-weight: 600;
      font-size: 16px;
      margin-right: 15px;
      color: #CCCCCC;
      position: relative;
      letter-spacing: 1px;

      &--active {
        color: #00266B;
        position: absolute;
      }

      &:after {
        position: absolute;
        content: '.';
        font-size: 32px;
        color: #000000;
        transform: translateY(-50%);
        top: 2px;
        right: -13px;
      }
    }

    &-text {
      color: #222222;
      font-size: 16px;
      font-weight: 500;

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }

  &__paginator {
    &-loadmore {
      color: #FFFFFF;
      font-size: 13px;
      font-weight: 600;
      line-height: 40px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-align: center;
      margin-top: 20px;
      display: block;
      width: 100%;
      background-color: #2275D3;
      border-radius: 4px;
    }

    &--mobile {
      text-align: center;

      & span {
        font-size: 16px;
        color: #222222;
      }
    }

    &-button {
      padding: 10px 15px;
      background-position: center center;
      background-repeat: no-repeat;
      cursor: pointer;
      visibility: visible;

      &.disabled {
        pointer-events: none;
        cursor: default;
      }

      &--prev {
        background-image: url(../images/svg/paginator-prev.svg);

        &:hover,
        &:active {
          background-image: url(../images/svg/paginator-prev-active.svg);
        }
      }

      &--next {
        background-image: url(../images/svg/paginator-next.svg);

        &:hover,
        &:active {
          background-image: url(../images/svg/paginator-next-active.svg);
        }
      }
    }
  }
}

.modal {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 100%;

  &.showing {
    position: absolute;
    top: 0;
  }

  &-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: auto;
  }

  &__banner {
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__content {
    padding: 20px;

    &-description  {
      width: 95%;
    }

    &--wrapper {
      padding: 0;
      position: relative;
    }
  }

  &__info {
    padding: 0 0 20px;
    border-bottom: 1px solid #e5e9f0;

    &-title {
      color: #222222;
      font-size: 24px;
      text-align: left;
      font-weight: 700;
      line-height: 30px;
    }

    &-address {
      line-height: 22px;
      font-size: 14px;
      color: #666666;
      margin: 5px 0;
    }
  }

  &__cuisine {
    display: inline-block;
    margin-top: 5px;

    &-icon {
      font-size: 16px;
      line-height: 19px;
      text-align: left;
      letter-spacing: 0.9999999px;
      color: #cccccc;

      & b {
       color: #00266b;
      }
    }

    &-text {
      color: #222222;
      font-size: 16px;
      line-height: 19px;
      text-align: left;

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }

  &__rating {
    padding-bottom: 15px;

    &--wrapper {
      margin-top: 8px;
      margin-left: -3px;
    }

    &-text {
      font-size: 12px;
      color: #666666;
      line-height: 13px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &-star {
      width: 22px;
      height: 22px;
      margin: 0 3px;
      background-image: url(../images/svg/star-rating-mobile.svg);
      background-size: cover;

      &--wrapper {
        margin-top: 5px;
      }

      & ul {
        list-style: none;
        & li {
          display: inline-block;
        }
      }
    }
  }

  &__button {
    &-book {
      color: #FFFFFF;
      font-size: 13px;
      font-weight: 600;
      line-height: 40px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-align: center;
      margin-top: 20px;
      display: block;
      width: 100%;
      background-color: #2275D3;
      border-radius: 4px;
    }

    &:hover {
      color: #FFFFFF;
    }
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 10;
    width: 30px;
    height: 30px;
    background-image: url(../images/svg/close-modal-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &__description {
    &-text {
      color: #222222;
      font-weight: 300;
      line-height: 26px;
      font-size: 16px;
      padding-top: 10px;
    }

    &-insider {
      color: #222222;
      font-weight: 300;
      line-height: 24px;
      font-size: 16px;
    }

    & b {
      font-weight: 500;
    }
  }

  &__map {
    width: 100%;
    height: 250px;
  }

  &-map {
    margin-top: 25px;
    overflow: hidden;

    .leaflet-left {
      right: 0;
      left: auto;
      margin-right: 10px;
    }

    .leaflet-top {
      bottom: 0;
      top: auto;
      margin-bottom: 10px;
    }

    .leaflet-control-attribution {
      display: none;
    }
    .leaflet-touch .leaflet-bar {
      border: 1px solid #D8D8D8;

      & a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-weight: 300;
      }
    }

    &__address {
      text-align: center;
      position: absolute;
      z-index: 401;
      height: auto;
      background-color: #fff;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
      padding: 10px;
      display: inline-block;
      border-radius: 4px;
      margin-top: 10px;
      margin-left: 10px;
      width: calc(100% - 80px);

      &-text {
        font-size: 14px;
        color: #222222;
        display: block;
      }
    }
  }
}

.grid-col {
  float: none !important;

  &.one-half {
    width: 100%;

    &:first-child {
      margin-bottom: 18px;
    }
  }
}