.explore {
  max-width: 988px;
  margin: 60px auto 30px auto;
  padding: 0 15px;

  & .main-inner {
    min-height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;

    & .block-2 {
      background-color: transparent;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      border: none;
      padding: 0;
      padding-top: 25px;
    }
  }

  &:after,
  &:before {
    content: '';
    display: table
  }

  &:after {
    clear: both;
  }

  &--loading {
    position: relative !important;
    height: 350px !important;
    z-index: 1;
    background-color: transparent !important;
  }

  &--wrapper {
    margin-top: 20px;
  }

  &__header {
    font-family: 'sigvar', Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #00266B;
  }

  &__tab {
    margin-top: 15px;
    overflow: hidden;

    ul {
      display: flex;
      overflow: auto;

      li {
        position: relative;

        &:after {
          content: '';
          width: 5px;
          height: 5px;
          border-radius: 50%;
          position: absolute;
          top: 11px;
          left: -10px;
        }
      }

      li:nth-child(1) {
        &:after {
          background-color: #68B314;
        }
      }

      li:nth-child(2) {
        &:after {
          background-color: #0254EC;
        }
      }

      li:nth-child(3) {
        &:after {
          background-color: #FF9F00;
        }
      }

      li:nth-child(4) {
        &:after {
          background-color: #0EAC89;
        }
      }

      li:nth-child(5) {
        &:after {
          background-color: #AA49FF;
        }
      }

      li:nth-child(6) {
        &:after {
          background-color: #EB5466;
        }
      }
    }

    &-item {
      border: none;
      display: inline-block;
      background-color: transparent;
      padding: 5px 0;
      cursor: pointer;
      color: #383535;
      font-weight: 500;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
      font-size: 15px;
      text-align: left;
      margin-right: 35px;
      outline: none;
      position: relative;
      white-space: nowrap;

      &.active {
        color: #000;
        border-bottom: 5px solid #F79E32;
        font-weight: 600;
        padding-left: 0;

        & span {
          display: none;
        }
      }

      &.slick-slide {
        width: auto !important;
      }

      &:hover {
        color: #383535;
      }
    }

    &-dot {
      font-family: 'proxima-nova', Arial, Helvetica, sans-serif;
      font-size: 62px;
      color: #000000;
      position: relative;
    }

  }

  &__search {
    &-result {
      margin-top: 18px;
      padding-top: 23px;
      padding-bottom: 23px;
      border-top: 1px solid #F0F2F5;
    }

    &-found {
      font-size: 16px;

      &--wrapper {
        align-self: center;
      }

      & span {
        font-family: 'proxima-nova', Arial, Helvetica, sans-serif;
        color: #222222;

        &:first-of-type {
          font-weight: 700;
        }
      }
    }
  }

  &__no-result {
    padding-top: 43px;
    text-align: center;
    padding-bottom: 60px;

    &-text {
      font-weight: 600;
      font-size: 20px;
      line-height: 1em;
      text-align: center;
      color: #CCCCCC;
      margin: 0px;
      padding-bottom: 11px;
    }

    &-button {
      font-size: 11px !important;
      font-weight: 600 !important;
      letter-spacing: 1.5px !important;
      margin-top: 20px;
    }
  }

  &__date-picker {
    width: 100% !important;
    margin-bottom: 25px;

    & .grid-row {
      margin: 0;
    }

    & .grid-inner {
      padding: 0;
    }

    & .input-3 {
      height: 57px;
    }

    & .calendar {
      right: 0 !important;
    }
  }

  & .static-block--item {
    margin-left: 0;
  }
}
