.pass-through-promotion-detail-main-container {
	padding: 0 !important;
	margin: 30px auto !important;
}

.pass-through-aam-page {
	& .calendar {
		height: 666px !important;
		width: 100% !important;

		& .months-text {
			margin-top: 45px;
		}

		& .return-date-flight {
			left: 50%;
			transform: translateX(-50%);
			width: 60px;
		}
	}

}


.booking-widget {
	margin-bottom: 0 !important;
	padding: 10px 15px !important;

	& .calendar {
		width: 97% !important;
	}

	&__heading {
		padding-top: 15px;

		& .sub-heading-2--blue {
			font-family: "sigvar", serif;
			font-weight: 400;
			font-size: 24px;
			color: #00266b;
			width: 50%;
			line-height: 27px;
			padding: 0 !important;
			border: none !important;
		}

	}

	&-block {
		& .button-group {
			padding: 5px 0 0 5px !important;
			height: 42px;

			input {
				height: 100%;
				padding: 0px !important;
				font-size: 13px !important;
				font-weight: 600;
				letter-spacing: 1.8px !important;
				line-height: 35px !important;
				border-radius: 2px !important;
			}
		}
	}

	&__content {
		padding-top: 0 !important;
	}

	&__link {
		display: none;
	}

	& .grid-col {
		& .one-half {
			margin-top: 18px;
		}
	}

	& .form-group.flight-date-group, & .customer-info, & .flight-info {
		margin-bottom: 18px !important;
	}

	& .custom-select--2 {
		height: 55px !important;
		margin-bottom: 8px !important;
	}

	& .input-3 {
		height: 55px !important;
	}
}
