$gutter: 10px;

.weather {
	padding-left: 15px;
	padding-right: 15px;
	margin: 30px auto;

	&__row {
		margin-left: -$gutter;
		margin-right: -$gutter;

		&:before,
		&:after {
			display: table;
			content: " ";
		}

		&:after {
			clear: both;
		}
	}

	&__col {
		width: 100%;
		padding-left: $gutter;
		padding-right: $gutter;
		box-sizing: border-box;
	}

	&__info {
		padding-bottom: 30px;
	}

	&__content {
		max-width: 988px;
		margin: 38px auto 30px auto;
		border-radius: 2px;
		padding: 0 15px;
		background-color: #fff;
		box-shadow: 2px 2px 2px #E8E8E8;
	}

	&__header {
		font-family: "Sigvar";
		font-size: 24px;
		font-weight: 400;
		color: #00266B;
		padding-top: 25px;
		margin-bottom: 5px;
	}

	&__content {
		&-airport {
			border-bottom: 1px solid #D9D9D9;
		}
	}

	&__title{
		font-family: "Proxima-Nova";
		font-size: 16px;
		font-weight: 700;
		line-height: 21px;
		color: #222222;
		padding-top: 15px;
		margin-bottom: 5px;
	}

	&__name {
		font-family: "Proxima-Nova";
		line-height: 21px;
		font-size: 16px;
		color: #222222;
	}

	&__visa {
		padding-top: 10px;
		padding-bottom: 20px;

		&-item {
			font-family: "Proxima-Nova";
			font-size: 16px;
			font-weight: 400;
			color: #0254ec;
			display: block;
			line-height: 23px;
		}
	}

	.icon-visa {
		left: -2px;
		bottom: 2px;
		font-size: 6px;
		position: relative;

		&:before {
			content: "\e63d";
			font-family: "sia";
			font-style: normal;
			display: inline-block;
			width: 1em;
		}
	}

	&__zone {
		padding-top: 10px;
	}

	&__info {
		&-title {
			font-family: "Proxima-Nova";
			font-size: 16px;
			font-weight: 700;
			line-height: 21px;
			color: #222222;
			margin-top: 10px;
		}

		&-content {
			padding-top: 5px;
			display: flex;
			justify-content: space-between;
		}

		&-item {
			list-style: none;
			display: inline-block;
		}

		&-img {
			min-height: 52px;
			position: relative;
			margin-bottom: 8px;

			img {
				max-width: 100%;
				width: 80%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&-temperature {
			font-family: "Proxima-Nova";
			text-align: center;
			line-height: 15px;
			font-size: 13px;
			color: #222222;
			font-weight: 600;
		}

		&-date {
			font-family: "Proxima-Nova";
			text-align: center;
			line-height: 20px;
			font-size: 13px;
			color: #222222;
		}
	}
}
