.destination-list-page {
	.sia-breadcrumb--3 {
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}

	.main-content-destination-categories {
		max-width: 988px;
		margin: 10px auto 0px;
         .inspire-heading {
            padding: 34px 20px 20px;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            font-size: 11px;
            color: #000;
            font-weight: 600;
            line-height: 1em;
        }
        &.block-2{
			border:none;
		
        }
	}
	.block-2{
		box-shadow: 0 2px 3px 0 rgba(0,0,0,0.05);
	}
    .sia-breadcrumb--3{
        background-color: transparent;
    }
    .dest-city-form .form-group{
        margin-bottom: 20px;
    }
	.main-inner {
        // margin: 25px 0;
        padding: 0;
        width: 100%;
        margin: 0px;

		.block-search {
			.see-more-btn {
				background-color: #4d92df;
				width: 93%;
				margin-top: 0;
				display: inline-block;
				margin-left: 15px;
				line-height: 14px;
					.text-show{
						font-weight: 700;
						text-transform: none;
						font-size: 12px;
						line-height: 1em;
						margin: 0;
						margin-bottom: 2px;
					}
					.text-load{
						font-weight: 400;
						text-transform: none;
						font-size: 12px;
						line-height: 1em;
						margin: 0;
					}
			}
			.static-block-2 {
                width: 100%;
                padding: 0 15px;
                box-sizing: border-box;
                
				.static-block--item {
                    margin: 0;
					.static-item.col-mb-3,
					.static-item.col-mb-6 {
						width: 100%;
					}
                }
                
                .static-item__name {
                    display: block;
                    position: relative;
                    line-height: 1em;
                    padding: 0;
					margin-bottom: 18px;
					font-size: 30px;
                	font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                	font-weight: 500;
                }

                .static-item__info {
                    display: block;
                    height: 330px;
                    width: 100%;
                    padding: 0;
					margin: 0 0 20px;
					border-bottom: transparent;
                    
                	.hover-overlay-container {
                        width: 100%;
                        height: 100%;
                		display: block;
                        position: relative;
                        overflow: hidden;
                        border-radius: 3px;

                		img {
                			display: block;
                			width: 105%;
                			height: auto;
                			opacity: 1;
                            backface-visibility: hidden;
                            position: absolute;
                            top: 50%;
                            left: 50%;

                            @include prefix(transform, translate(-50%, -50%), webkit moz ms o)
                		}
                		.hover-overlay-border {
                			border: 1px solid #fff;
                			height: 94%;
                			width: 94%;
                			margin: 3% 1% 1% 3%;
                			border-radius: 2px; // margin: 2%;
                			// margin-top: 2%;
                			// margin-left: 2%;
                		}
                		.hover-overlay-description {
                            display: none;
                            
                            position: absolute;
                			top: 0;
                			bottom: 0;
                			left: 0;
                			right: 0;
                			height: 100%;
                			width: 100%;
                			opacity: 0;
                            transition: .5s ease;
                            
                			.hover-overlay-region-border {
                				border-bottom: 3px solid #f79e32;
                				top: 83px;
                				position: absolute;
                				width: 7%;
                				left: 144px;
                			}
                		}
                		.hover-overlay-title {
                			color: white;
                			position: absolute;
                			top: 123px;
                			left: 160px;
                			transform: translate(-50%, -50%);
                			-ms-transform: translate(-50%, -50%);
                			text-align: center;
                			h2 {
                				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                				font-weight: 600;
                			}
                		}
                		.hover-overlay-info {
                			color: white;
                			font-size: 14px;
                			position: absolute;
                			bottom: 100px;
                			left: 160px;
                			max-width: 200px;
                			background-color: red;
                			transform: translate(-50%, -50%);
                			-ms-transform: translate(-50%, -50%);
                			text-align: center; // z-index: 100;
                			p {}
                		}
                		.hover-overlay-region {
                			color: #fff;
                			font-size: 12px;
                			font-weight: 600;
                			position: absolute;
                			top: 70px;
                			left: 158px;
                			text-transform: uppercase;
                			transform: translate(-50%, -50%);
                			-ms-transform: translate(-50%, -50%);
                			text-align: center;
                			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                			letter-spacing: 1px;
                		}
                	} 
                }

                .anchor-tag-destination-img {
                	text-align: center;
                	color: #fff;
                	font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                    letter-spacing: 1px;
                    
                    display: block;
                    position: relative;
                    margin: 0;

                	&:before {
                		box-shadow: inset -1px -68px 17px -17px rgba(0, 0, 0, 0);
                	}
                }

                .first-phase-description-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    
                    display: block;
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;

                    padding: 20px;
                }

                .container-static-item__region {
                	position: relative;
                	width: 100%;
                	font-weight: 600;
                	font-size: 12px;
                    text-transform: uppercase;
                    box-sizing: border-box;

                }

                .container-static-item__city {
                    padding: 0;
                    display: block;
                    position: relative;
                	font-size: 14px;
                	color: #fff;
                	opacity: 0.8;
					margin-bottom: 12px;
					font-size: 14px;
					padding-left: 4px;
					border-left: 3px solid #f79e32;
					line-height: 0.9em;
                }

                .static-item__region-border {
                	border-bottom: 3px solid #f79e32;
                	top: 40px;
                	position: absolute;
                	width: 20px;
                	left: 50%;
                	@include prefix(transform, translateX(-50%), webkit moz ms o)
                }

                .static-item__detail {
                    box-sizing: border-box;
                    display: block;
                    width: 100%;

                    padding: 0 20px;
                	bottom: 20px;
                    text-align: left;
                    
                	hr {
                		opacity: 0.5;
                        
                        display: block;
                        position: relative;
                        width: 100%;
                        margin: 0;
                        padding: 0;

                        border: 0;
                        border-bottom: 2px solid white;
                        box-sizing: border-box;
                	}
                }

			}
		}
    }
    a.ico-cancel-thin.add-clear-text:before{
        content: '\e613';
        color: #ccc;
        font-size: 14px;
    }
	.destination-regions-categories {
        padding: 32px 20px 0px 20px;
        h2 {
            margin-bottom: 17px;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            font-size: 11px;
            color: #000;
            line-height: 1em;
            font-weight: 600;
        }
		.unordered-list-destination-categories {
			display: inline-block;
			margin-bottom: 15px;
			//margin-left: 14px;
			li {
				display: inline-block;
				padding-right: 3px;
				margin-bottom: 10px;
				.custom--region input+label {
					display: inline-block;
					padding-left: 4px;
					padding-right: 14px;
					margin-right: 0px;
					line-height: 16px;
					font-size: 14px;
					cursor: pointer;
					padding: 8px 15px;
					color: #00266B;
                    transition: background-color 0.5s, color 0.5s;
                    background: #E5E9F0;
                    border-radius: 20px;
				}
				.custom--region input:checked+label {
					padding: 8px 12px;
                    color: white !important;
                    background-image: linear-gradient(89deg, #00266B  0%, #254A8E 100%);
                    border-radius: 20px;  
				}
				.custom--region input:checked+label:after {
					color: white;
					position: relative;
					top: auto;
					left: auto; // float: right;
					margin-left: 6px;
					display: inline-block;
					font-size: 12px;
					font-weight: 500;
				}
				.custom--region input+label:before {
					content: '';
					width: 44px;
					height: 19px;
					border: 1px solid transparent;
					position: absolute;
					top: -3px;
					left: -6px;
					background-color: transparent;
					display: none;
				}
			}
		}
		// .unordered-list-destination-categories li:first-child {
		// 	font-weight: 700;
		// 	color: #000;
		// 	font-size: 13px;
		// 	padding-right: 20px;
		// 	display: block;
		// 	margin-bottom: 12px;
		// }
	}
        .search-result {
		
        margin-top: 20px;
        margin: 0px 20px 0px 20px;
        padding-top: 23px;
        padding-bottom: 23px;
        border-top: 1px solid #F0F2F5;
        border-bottom: 1px solid #F0F2F5;
        h3 {
            padding: 23px auto 23px;
            color: #000;
            line-height: 1em;
            font-size: 12px;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            position: relative;
            width: 100%;
            .reset-filter {
                color: #0254EC;
                a{
                    font-size: 12px;
                    em {
						transform: scaleX(-1) rotate(-30deg) translateY(-2px);
                         color: #3375f0;
                    }
                }

            }
            .search-found{
                margin-bottom: 18px;
                 .no-search {
                    font-weight: 700;
                    font-size: 12px;
                }   
            }
            .show-favourites-filter {
                position: absolute;
                top: -2px;
                right: 0px;
                .custom-checkbox.custom-checkbox--1{
                    .show-fav-text{
                        margin-right: 0px;
                        color: #000;
                        font-size: 12px;
                    }
                }
            }
            
        }
	}
	.no-search-found {
		padding-top: 100px;
		text-align: center;
		p {
			font-size: 16px;
			line-height: 1em;
			text-align: center;
			font-weight: 700;
			color: #CCCCCC;
			margin: 0px;
			padding-bottom: 19px;

		}
		.btn-1 {
			font-weight: 600;
			font-size: 11px;
			letter-spacing: 1.5px;
			margin-top: 31px;
			padding-top: 15px;
			margin-bottom: 60px;

		}
	}
    .country-button{
        padding-top: 10px;
    }
    .block-search.block-2{
        padding-top: 30px;
        padding-bottom:40px;
        border: none;
        margin-bottom: 60px;

    }
    .favourite-star {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin:0;

        z-index: 10;
        width: 45px;
        height: 45px;

        border: 0;
        background: none;
        background-image: url("../images/fav-star.png");
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: right bottom;
    }
    .dest-vignette {
        position: absolute;
        top: 0;
        left: 0;
        
        // z-index: 10;
        width: 100%;
        height: 100%;

        &:before, &:after {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
        }

        &:before {
            background-image: linear-gradient(0, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.41) 100%);
            height: 70px;
            top:0;
        }

        &:after {
            background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 13%, rgba(0,0,0,0.75) 60%);
            height: 150px;
            bottom: 0;
        }
    }

	.destination-inspireme-category {
		// margin-left: -9px;
        padding: 0px 20px 0px 20px;
       
		background-color: #fff;
		overflow-x: scroll;
		height: auto;
		.sort-filter {
			width: 100%;
			.inspireme-radio-filter {
				padding: 0px;
				ul {
					position: relative;
					display: flex;
					flex-direction: row;
					li {
						display: block;
						flex-shrink: 0;
						margin-right: 20px;
						width: auto;
						position: relative;
						padding: 0 2px;
						&:last-child {
							padding-right: 30px;
						}
					}
				}
				input[type=radio] {
					position: absolute;
					visibility: hidden;
					display: none;
				}
				label {
					display: inline-block;
					cursor: pointer;
					color: #383535;
					font-weight: 500;
					font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
					font-size: 14px;
					padding: 0 4px 2px;
				}
				input[type=radio]:checked+label {
					color: #000; // background: $fg;
					border-bottom: 4px solid #f79e32;
					font-size: 14px;
					font-weight: 600; // padding-bottom: 5px;
				}
			}
		}
	}

	.dest-city-form {
		.search-city-custom {
			float: none;
		}
		.custom-select {
			.select__text {
				input {
					&::placeholder {
						font-weight: 400;
						color: black;
					}
				}
			}
		}
    }
    
    .destination-main-container {
    	max-width: 988px;
    	margin: 30px auto -10px;
    	.destination-description {
    		.destination-inner-description {
    			max-width: 650px;
    			margin-bottom: 20px;
    			p {
    				font-size: 16px;
    				font-weight: 600;
    				color: #000;
    			}
    		}
    		.dest-city-form {
    			margin-top: 0px;
    			fieldset {
    				.grid-col {
    					.grid-inner {
    						.custom-select {
    							border: none;
    							border-bottom: 2px solid #ccc;
                                background-color: transparent;
    							.select__text {
    								input {
    									padding-left: 0px;
    									font-size: 16px;
    									font-weight: 600;
    									height: 34px;
    								}
    							}
    							.btn-search {
									width: 20px;
    								.ico-search {
    									margin-top: -22px;
    									font-size: 15px;
    									color: #000;
										right: -3px;
										width: 30px;
    								}
    							}
    						}
    					}
    				}
    			}
    		}
    	}

        .search-city-custom .custom-select .select__text .ico-cancel-thin {
            right: 30px;
            top: 16px;
    }


    	.blk-heading {
    		.main-heading {
    			font-weight: 700;
                line-height: 1em;
                margin-bottom: 20px;
                font-family: "proxima-nova";
                font-size: 24px;
    		}
    	}
    }
}
