$gutter: 10px;

.more-destination {
	padding-left: 15px;
	padding-right: 15px;
	margin: 38px auto 30px auto;

	&__content {
		max-width: 988px;
		margin: auto;
	}

	&__header {
		display: flex;
		margin-bottom: 20px;
		line-height: 27px;

		&-title {
			font-family: 'sigvar' ;
			font-size: 24px;
			font-weight: 400;
			width: 100%;
			color: #00266B;
		}
	}

	&__link-all {
		width: 50%;
		font-size: 15px;
		text-align: right;

		&:active {
			border: none;
		}
	}

	&__row {
		&:before,
		&:after {
			display: table;
			content: " ";
		}

		&:after {
			clear: both;
		}
	}

	&__col {
		width: 100%;
		float: left;
	}

	&__item {
		display: block;
		box-sizing: border-box;
		overflow: hidden;
		height: 342px;
		width: 100%;
		background-size: cover;
		background-position: center center;
		margin-bottom: 20px;
		border-radius: 4px;
		padding: 20px 20px 25px 20px;
		position: relative;
		box-shadow: 2px 4px 4px rgba($color: #000000, $alpha: 0.1);

		&-image {
			height: 30px;
		}

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 50%;
			background-image: url('../images/bg-gradient.png');
			background-size: cover;
		}
	}

	&__description {
		&--wrapper {
			position: absolute;
			bottom: 28px;
			left: 20px;
			right: 20px;
			color: #FFFFFF;
			border-bottom: 1px solid rgba($color: #D8D8D8, $alpha: 0.5);
			letter-spacing: 1.2px;
			padding-bottom: 15px;
			z-index: 1;
		}

		&-country {
			text-transform: uppercase;
			font-size: 12px;
			border-left: 2px solid #FF9F00;
			padding-left: 5px;
			line-height: 12px;
			letter-spacing: 1px;
		}

		&-city {
			font-size: 32px;
			line-height: 38px;
			font-weight: 600;
			padding-top: 3px;
		}
	}

	& .slick-slide {
		img {
			width: auto !important;
		}
	}

	& .slick-dots {
		li {
			position: relative;

			button {
				width: 10px;
				height: 10px;
				background-color :#d4d1cb;
				position: absolute;
			}

			&.slick-active {
				button {
					width: 12px;
					height: 12px;
					position: absolute;
					top: -1px;
				}
			}
		}
	}

}
