.elite-rewards {
  &.elite-rewards--mobile {
    display: block !important;
    visibility: visible !important;
  }

  &-inner {
    padding-bottom: 100px !important;
  }

  &__tab {
    & .tab {
      border: 1px solid rgba(#00266b, 0.1);

      &-item {
        width: calc(100%/3);
        outline: none;

        &.active {
          pointer-events: none;

          & .elite-rewards__tab__link {
            background-color: rgba(#00266b, 0.08);
            border-right: 0;
            box-shadow: none;
            color: #00266b;
          }
        }
      }
    }

    &__link {
      border-right: 1px solid rgba(#00266b, 0.1);
      padding: 5px;
      height: 35px !important;
      line-height: 18px !important;

      & span {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block;
      }

      & .text {
        font-weight: 600;
        font-size: 14px;
      }

      &.active {
        background-color: rgba(#00266b, 0.08);
        border-right: 0;
      }
    }
  }

  &__vouchers {
    &__heading {
      font-size: 22px;
      font-weight: 700;
      color: #00266b;
    }
  }

  &__notice {
    margin-bottom: 40px;
    text-align: center;
  }
}

.elite-circle {
  width: 170px;
  height: 170px;
  position: relative;
  margin: 140px auto 210px;

  &:before {
    content: '';
    position: absolute;
    left: 51%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    width: 18px;
    height: 32px;
    z-index: 2;
  }

  &-wrapper {
    position: relative;
    top: 110px;
  }

  &__mask {
    clip: rect(0, 85px, 171px, 0);
    transition: transform 1s ease-out, -webkit-transform 1s ease-out;
    width: 170px;
    height: 171px;
    position: absolute;

    &--second {
      transform: rotate(-85deg);
    }

    &--third {
      clip: rect(0, 65px, 170px, 0);
      transform: rotate(-190deg);
    }
  }

  &__fill {
    clip: rect(0, 85px, 170px, 0);
    border-radius: 100%;
    transition: transform 1s ease-out, -webkit-transform 1s ease-out;
    width: 170px;
    height: 171px;
    position: absolute;

    &--grey {
      background-color: rgb(201, 201, 201);
      transition-duration: 600ms;
    }

    &--blue {
      background-color: #00266b;
      transition-duration: 600ms;
    }

    &--first {
      transform: rotate(-5deg);
    }

    &--second {
      transform: rotate(30deg);
    }

    &--third {
      transform: rotate(0deg);
    }
  }

  &--first-path {
    clip: rect(0, 85px, 85px, 0);
    transform: rotate(85deg);
  }

  &--second-path {
    clip: rect(0, 85px, 125px, 0);
    transform: rotate(120deg);
  }

  &--third-path {
    clip: rect(0, 63px, 170px, 0);
    transform: rotate(160deg);
  }

  &__desc {
    position: absolute;
    top: 118px;
    left: 8px;
    width: 155px;
    height: 155px;
    background-color: #f9f9f9;
    border-radius: 50%;
    display: table;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &::after {
      content: "";
      width: 13px;
      height: 10px;
      position: absolute;
      top: -9px;
      left: 71px;
      background-color: #f9f9f9;
    }
  }

  &__info {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    color: #000;

    & span {
      display: block;
    }

    &__heading {
      font-family: "baker-signet-web", serif;
      font-size: 26px;
      color: #00266b;
      line-height: 40px;
      width: 155px;
      margin: 0 auto;
    }

    &__current-statistic {
      margin: auto;
      width: 75px;
      padding: 4px 9px;
      font-size: 12px;
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 2px;
      line-height: 1.1;
      text-align: center;
    }
  }

  &__dot {
    position: relative;
    font-size: 12px;

    &.dot-1 {
      position: absolute;
      top: 74px;
      left: -3px;
      z-index: 1;

      & .checkmark {
        position: absolute;
        top: -1px;
        left: -3px;
      }

      & .desc {
        position: absolute;
        right: 11px;
        top: 3px;
      }
    }

    &.dot-2 {
      position: absolute;
      top: 151px;
      left: 115px;
      z-index: 1;

      & .checkmark {
        position: absolute;
        top: -4px;
        left: -3px;
      }

      & .desc {
        position: absolute;
        right: -39px;
        top: 25px;
      }
    }

    &.dot-3 {
      position: absolute;
      top: 1px;
      right: 50px;
      z-index: 1;

      & .checkmark {
        position: absolute;
        top: -3px;
        left: -3px;
      }

      & .desc {
        position: absolute;
        left: 6px;
        top: -85px;
        text-align: left;
        width: 120px;
      }
    }

    & .checkmark {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid #f9f9f9;
      display: block;
      stroke-width: 3;
      stroke: #fff;
      stroke-miterlimit: 10;
      margin: 10% auto;
      box-shadow: inset 0px 0px 0px #00266b;
      animation: fill .3s ease-in-out .3s forwards, scale .2s ease-in-out .5s both;

      &--circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: #00266b;
        fill: none;
        animation: stroke .5s linear forwards;
      }

      &--checked {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke .2s linear .5s forwards;
      }
    }

    & .icon-dot {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgb(201, 201, 201);
      border: 2px solid #fff;
    }

    & .desc {
      text-align: center;
      display: inline-block;
      width: 75px;
    }
  }

  &__time-start {
    position: absolute;
    top: -27px;
    left: -30px;
    text-align: right;
    border-right: 1px solid rgb(201, 201, 201);
    padding-right: 5px;
    z-index: 3;
    height: 145px;
    font-size: 12px;
  }

  &__time-end {
    position: absolute;
    top: -27px;
    right: -29px;
    border-left: 1px solid rgb(201, 201, 201);
    padding-left: 5px;
    z-index: 3;
    height: 145px;
    font-size: 12px;
  }
}

  /* -------------------------------------------------------- */

  .icon-elite-rewards {
    display: block;
    width: 0;
    height: 0;
    border: 8px solid #00266b;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin: auto;
  }

  .text-color-primary {
    color: #00266b;
  }

  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }

  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #00266b;
    }
  }
