.fare-deal {
	position: relative;
	margin-top: -85px;

	&__container {
		padding-right: 10px;
		padding-left: 10px;
		margin-right: auto;
		margin-left: auto;
	}

	&__intro {
		background-color: #FFF;
		padding: 25px 20px 20px 20px;
		border-radius: 4px;
		box-shadow: 0px 2px 6px 0px rgba($color: #000000, $alpha: 0.05);

		&-title {
			color: #000000;
			font-size: 18px;
			line-height: 28px;
			text-align: center;
			font-weight: 300;
		}

		&-descrition {
			color: #222222;
			font-size: 16px;
			line-height: 28px;
			text-align: left;
			margin-top: 35px;
			display: none;
		}
	}

	&__read-more {
		display: table;
		margin: 23px auto 0;
		position: relative;
		padding-top: 8px;
		padding-bottom: 5px;
		border-top: 1px solid #E5E9F0;
		font-size: 16px;

		&:focus {
			outline: none;
		}

		&:before {
			content: url('../images/svg/icon-down.svg');
			width: 7px;
			height: 4px;
			position: absolute;
			top: 7px;
			right: -15px;
		}

		&.active:before {
			top: 23px;
			right: -14px;
			transform: rotate(180deg);
		}
	}

	&__header {
		display: block;

		&-text {
			font-family: 'sigvar', Helvetica, Arial, sans-serif;
			font-size: 24px;
			color: #00266B;
			font-weight: 400;
			line-height: 32px;
			margin: 30px 5px 20px;
		}
	}

	&__view-all {
		display: block;
		margin: 10px 5px 0;
		font-size: 14px;
	}

	&__content-item {
		margin-top: 10px;
		margin-left: -10px;
		margin-right: -10px;

		&.slick-slider {
			margin-bottom: 50px;
		}
	}

	&__item {
		line-height: 19px;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
		background-color: #FFF;
		border-radius: 4px;
		padding: 25px 20px;
		margin: 12px 15px;

		&-title {
			font-weight: 600;
			font-size: 18px;
			color: #222222;
			line-height: 22px;
			position: relative;

			&:before {
				content: '';
				width: 3px;
				height: 15px;
				position: absolute;
				top: 2px;
				left: -20px;
				background-color: #FF9F00;
			}
		}

		&-time {
			font-size: 16px;
			color: #222222;
			line-height: 19px;
			margin: 10px 0 20px 0;
		}

		&-link {
			font-size: 16px;
		}
	}

	.slick-dots {
		margin-top: 8px;

		li {
			button {
				background-color: #DDDDDD;
				width: 9px;
				height: 9px;
			}

			&.slick-active {
				button {
					background-color: #FF9F00;
					font-size: 35px;
					width: 12px;
					height: 12px;
					margin-top: -1px;
				}
			}
		}
	}
}
