.promotion-student-page {
    
    .hidden-banner {
        display: none;
    }
    .promotion-desktop {
         display: none;
    }
    .sticky-wedgit-title {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-size: 18px;
        font-weight: 600;
    }
    .student-promo-text {
        margin-top: 0px;
        font-size: 14px;
        .student-par-promotion {
            margin-top: 10px;
        }
    }
    .promotion-item__content-promotion-detail {
        padding: 16px 13px 14px;
        border-bottom: 2px solid #ddd;
        .promotion-detail-title {
            margin: 10px 0 15px 0;
            color: #00266b;
            font-size: 22px;
        }
    }
    
    .promotion-detail {
        margin-left: 0;
        margin-right: 0;
    }

    .promotion-student-sub-con {
        padding: 0;
    }

    .student-promotion{
        td {
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 15px;
            line-height: 1.5;
            padding: 15px 0px 15px 0px;
            font-size: 14px;
        }
        td[data-th]:before { 
            color: #00266b;
            font-weight: 700;
            font-size: 16px;
        }
    }
    .promotion-student {
        padding: 20px 10px;
    }
    .add-baggage-allowance{
        .baggage-allow-title {
            color: #00266b;
            font-size: 22px;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        }
        margin-bottom: 35px;
        .tr-bg-color {
            background-color: #fff;
            border-bottom: 1px solid #ddd;
        }
        .economy {
            font-weight: 600;
        }
        .component-baggage-table {
            margin-top: 25px;
            .baggage-table {
                .baggage-td {
                    margin-top: 15px;
                }
                td {
                    padding: 10px 20px 0;
                }
                td:last-child {
                    padding-bottom: 25px;
                }
            }
        }
    }
    .div-table-col-header {
        background-color: #E5E9F0;
        padding: 15px 10px;
        font-size: 16px;
        font-weight: 700;
        color: #00266b;
    }
    .accordion {
        margin-bottom: 60px;
        .accordion__control-terms-con {
            padding: 15px 27px 15px 10px;
            .terms-and-condition {
                color: #00266b;
            }
        }
    }
}
