.booking-col.col-3.select-meal {
	margin-top: -45px;
}

/**END OF STATIC UPDATED **/
.meals-payment {
	.payment-method-content .list-desc-extra .image-1 img {
		width: 80px;
	}

	.sub-total {
		.price-2 {
			font-weight: 600;
		}
	}

	.flights-cost__details>li.sub-total>span:first-child {
		font-weight: 600;
	}

	.btn-back {
		.ico-point-r {
			font-size: 6px;
			margin-top: -4px;
			margin-right: 2px;
		}
	}

	.list-desc-extra.list-desc-extra--1 .image-1 {
		position: absolute;
		top: 0;
		right: 20px;
		width: 75px;
	}

	.sia-breadcrumb.sia-breadcrumb-2 {
		background-color: #fff;

		.last .breadcrumb-item__info:after {
			background-color: #fff;
		}
	}

	.accordion-component {
		margin-top: 40px;
		margin-bottom: 40px;

		.accordion-item {
			padding: 10px 0 15px;
			border-bottom: none;

			&.active {
				.ico-point-d {
					top: 20px;
				}
			}

			.ico-point-d {
				top: 15px;
				right: 2px;
				color: #0254ec;
				font-size: 16px;
				bottom: 0;
			}
		}

		.pax-meals-details {
			padding: 20px;
			background-color: #f6f6f6;
			margin-top: 0;
			margin-bottom: 20px;

			p {
				margin: 0;
			}

			.pax-name {
				color: #00266b;
				font-size: 16px;
				font-weight: 600;
			}

			.flight-details-block {
				padding: 20px;
				background-color: white;
				margin-top: 10px;

				.flight-details {
					font-weight: 600;
					font-size: 16px;
					color: #00266b;
				}

				.meals-details-block {
					.booking-details.booking-details--2 {
						margin-top: 0;

						p {
							color: black;
						}

						.target-info {
							color: #666666;
						}

						.col-3 {
							padding: 10px 0 0;
						}
					}
				}
			}
		}

		.mp-payments-total {
			padding: 10px;
			background-color: #f7f7f7;
			margin-top: 20px;

			.flights-cost {
				padding: 0 10px;
			}

			.flights-cost-title {
				font-size: 16px;
				margin-bottom: 0;
				margin-top: 0;
			}

			.flights-cost__details {
				margin-top: 5px;

				li {
					font-size: 16px;
					color: #000;
					margin-bottom: 0;
					line-height: 2;

					&:first-child span {
						text-transform: uppercase;
					}

					&.sub-total {
						margin-top: 15px;

						span {
							font-size: 16px;
						}

						.price {
							font-size: 28px;
							color: #00266b;
							font-family: "baker-signet-web", serif;
						}
					}

					.tax-label {
						margin-top: 5px;
						font-size: 12px;
					}
				}
			}
		}
	}

	.mp-payments-section {
		margin-top: 20px;

		.total-payment-block .title-5--blue {
			margin-top: 0;
		}

		.payment-method-content .list-desc-extra .desc {
			color: black;
		}
	}
}

.meal-confirmation {
	.popup--flights-details.cost-breakdown-static {
		.text-bold-1 {
			color: #00266b;
			font-weight: 600;
			text-transform: capitalize;
			font-size: 16px;
		}

		.table-cost {
			margin-top: 20px;

			thead th {
				padding: 2px 0 10px;
			}

			.detail {
				font-weight: 700;
			}

			span {
				line-height: 1.5;
			}

			tbody tr:last-child td {
				padding-bottom: 15px;
			}

			tfoot td {
				border-top: 1px solid #dadada;
				border-bottom: 1px solid #dadada;
			}
		}

		.grand-total {
			.total-info {
				margin-bottom: 0px;
			}

			.total-title {
				margin-top: 20px
			}
		}

		.flights-target {
			margin-bottom: 0;
		}
	}

	.sub-heading-1--dark {
		margin-top: 50px;
	}

	.sub-heading-2--dark {
		margin-top: 25px;

		&.pax-label {
			margin-top: 35px;
			margin-bottom: 13px;
		}
	}

	.text-info-3 {
		margin-top: 30px;
	}

	.paid-with-block {
		padding: 17px 20px 18px;
		background-color: white;
		border-bottom: 2px solid #ccc;
		margin-bottom: 20px;
		margin-top: 20px;

		.price {
			font-family: "baker-signet-web", serif;
			font-size: 28px;
			color: #00266b;
			margin-top: 5px;
		}

		.label {
			color: #000000;
		}

		p {
			margin: 0;
		}
	}

	.pax-meals-details {
		background-color: white;
		padding: 20px;
		margin-top: 10px;
		border-bottom: 2px solid #ccc;
		margin-bottom: 20px;

		p {
			margin: 0;
		}

		.pax-name {
			color: #00266b;
			font-size: 16px;
			font-weight: 600;
		}

		.flight-details-block {
			background-color: #f7f7f7;
			padding: 20px;
			margin-top: 10px;

			.flight-details {
				font-weight: 600;
				font-size: 16px;
				color: #00266b;
			}

			.meals-details-block {
				.booking-details.booking-details--2 {
					margin-top: 10px;

					p {
						color: black;
					}

					.target-info {
						color: #666666;
					}
				}
			}
		}
	}

	.button-group-1 {
		margin-top: 40px;
	}
}

.meals-selection {
	.confirmation-prompt.confirmation-remove--blue {
		.meal-sub-title-black {
			margin-bottom: 10px;
		}

		&.remove-prompt {
			margin: 0;
			padding: 20px 10px;

			.meal-sub-title {
				margin-top: 0;
				font-size: 14px;
				width: 80%;
				margin-left: 46px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				color: #222222;
			}

			.button-group-1 {
				padding: 0 10px;
			}
		}

		.menu-label {
			font-weight: 700;
		}

		.ico-alert {
			margin-top: -6px;
		}
	}

	.pax-list .pax-slider {
		ul {
			select {
				padding: 10px 0;
				width: calc(100% - 2px);
				position: relative;
				margin-left: 0;
				border-color: #cccccc;
			}
		}
	}

	.btn-back {
		margin-bottom: 15px;
	}

	.main-inner {
		margin-top: 20px;
	}

	.popup__content {
		padding: 60px 20px 40px;
		overflow-y: scroll;
		-webkit-overflow-scrolling: unset;
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		z-index: 6;
	}

	[class*="menu-list-"],
	[class*="popup--bah-"] {
		z-index: 25 !important;

		.popup__content {
			background-color: white;
			padding: 77px 20px 40px;
		}
	}

	.sticky-confirm-bar {
		background-color: white;
		width: calc(100% - 30px);
		padding: 15px;
		box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.30);
		position: sticky;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
		opacity: 1;
		@include prefix(transition, all 0.3s ease-out, webkit moz ms o);

		.btn-1 {
			width: 100%;
		}

		&.no-selection {
			@include prefix(transform, translateY(105%), webkit moz ms o);
			opacity: 0;
			position: fixed;
		}
	}

	.sticky-flight-meal {
		background-color: #dfe4ed;
		padding: 20px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
		@include prefix(transition, all 0.3s ease-out, webkit moz ms o);

		&.hide {
			@include prefix(transform, translateY(-105%), webkit moz ms o);
			opacity: 0;
		}

		.popup-meal-type {
			text-transform: uppercase;
			font-size: 14px;
			color: #00266b;
			font-weight: 700;
			letter-spacing: 0.8px;
			margin-right: 15px;
		}
	}

	.popup__close {
		position: absolute;
		top: 18px;
		border-radius: 50%;
		right: 20px;
		z-index: 10;
		font-family: "sia";
		line-height: 1;
		padding: 6px;
		color: #000;
		-webkit-transform: translate3d(0, 0, 0);
		font-size: 8px;
		font-weight: 700;
		color: white;
		background-color: #9a9a9a;
		border: 0;
	}

	.accordion__control {
		padding: 0;
	}

	bold {
		font-weight: 700;
	}

	// .bah-label-block ~ .ico-delete{
	// 	top: 50%;
	// }
	.selected-meal-cont {
		padding: 15px 10px;
		position: relative;
		background-color: #fff;

		.meal-sub-title-black {
			width: 90%;
			margin-right: 15px;
		}

		.ico-delete-2 {
			font-size: 16px;
			color: #0254ec;
			position: absolute;
			right: 15px;
			top: 30%;
			display: block;
			width: 14px;
			height: 17px;
			background: url(../images/svg/bin.svg) no-repeat transparent;
		}

		.bah-label-block {
			margin-top: -10px;
			margin-left: -3px;
			margin-bottom: 8px;

			.bah-logo {
				width: 28px;
			}

			.bah-text {
				font-size: 12px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				color: #666666;
				font-weight: 500;
				letter-spacing: 0.3px;
			}

			&~em.ico-delete-2 {
				top: 55%;
			}
		}
	}

	.title-4--black {
		color: #4a4a4a;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 18px;
		margin-bottom: 15px;
		font-weight: 700;
	}

	.spml-confirmation-prompt.confirmation-prompt {
		float: left;
		margin: 0 0 10px;
		background-color: #fff5e6;
	}

	.book-the-cook {
		.spml-confirmation-prompt.confirmation-prompt {
			float: none;
		}
	}

	.meal-label {
		background-color: #f5f5f5;
		padding: 20px;
		position: relative;
		z-index: 50;

		.view-only-btn {
			position: absolute;
			top: -44px;
			padding: 8px 14px;
			font-size: 13px;
			background-color: #c2c2c2;
			border-radius: 4px;
		}

		span {
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			font-size: 21px;
			color: #00266b;
			font-weight: 600;

			&.inflight-badge {
				background: #cdf0cf;
				border: none;
				color: #03760B;
				position: absolute;
				top: 0;
				right: 0;
				font-weight: 700;
				padding: 3px 5px 2px 7px;
				display: none;
				z-index: 10;
				font-size: 0.8rem;

				&.badge-active {
					display: block;
				}
			}
		}

		em {
			position: absolute;
			right: 10px;
			font-size: 18px;
		}

		&.meal-inf-ecopey {
			.select-label {
				position: absolute;
				color: #0254ec;
				font-weight: bold;
				left: auto;
				right: 10px;
				bottom: 10px;
				top: auto;
				display: block;
				padding: 0;
				font-size: 0.8rem
			}
		}

		&.epe-meal-container {
			.meal-category-desc {
				width: 85%
			}
		}
	}

	.input-1 .ico-cancel-thin,
	.input-2 .ico-cancel-thin,
	.input-3 .ico-cancel-thin,
	.input-5 .ico-cancel-thin,
	.textarea-1 .ico-cancel-thin,
	.textarea-2 .ico-cancel-thin {
		display: none !important;
	}

	.infant-meals {
		.fm-title-blue {
			margin-bottom: 10px;
		}

		.confirmation-prompt {
			background-color: #E2EBF1;
			margin-left: -22px;
			margin-right: -22px;
			margin-bottom: -19px;
			position: relative;
			padding: 5px 20px 15px;

			.meal-sub-title-blue {
				font-size: 14px;
				width: 90%;

				span {
					font-weight: 700;
				}
			}

			// margin-left: -22px;
			// margin-right: -22px;
			// margin-bottom: -19px;
		}

		.not-eating-supper {
			margin-top: 10px;
		}

		hr {
			margin-top: 5px;
		}
	}

	.a-la-carte {
		.accordion__content {
			padding-bottom: 10px;
		}

		.popup__content .light-box-text {
			margin-bottom: 20px;
		}

		.fm-footnote-txt {
			position: relative;
			min-height: 22px;
			padding-bottom: 0;

			.fm-dish-text {
				width: 58%;
				margin-right: 22px;
			}

			.fm-select-btn {
				position: absolute;
				right: -10px;
				bottom: 0;
			}
		}

		.fm-accordion-label {
			.ico-point-d {
				top: 36%;
				right: -8px;
			}

			.meal-menu {
				margin-top: 6px;
				position: relative;
				background-color: #f7f7f7;

				li {
					margin-bottom: 0;
				}

				.selected-meal {
					font-size: 14px;
					font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
					color: #03760b;
					font-weight: 700;
					position: absolute;
					right: 0;
					top: 8px;
					min-width: 70px;
				}
			}
		}

		.accordion__control {
			padding: 10px 0;

			&.active {
				.selected-meal {
					display: none;
				}
			}
		}

		.accordion-box {
			background-color: #f7f7f7;
			border: none;
			padding: 0 20px;
		}
	}

	.fm-inf-menu {
		background: white;
	}

	.book-the-cook,
	.special-meal {
		.fm-inf-menu {
			&.selected {
				border: solid 1px #03760b;

				.fm-inf-menu-select-badge {
					display: block;
				}
			}

			&.with-image {
				img {
					margin-top: -28px;
					margin-left: -20px;
					margin-bottom: 15px;
					width: calc(100% + 40px);
				}
			}

			.fm-inf-menu-select-badge {
				background: #cdf0cf;
				border: none;
				color: #03760B;
				position: absolute;
				top: 0;
				right: 0;
				font-weight: 700;
				padding: 3px 5px 2px 7px;
				display: none;
				z-index: 10;
			}
		}

		.load-more {
			background: #ffffff;
			border: 1px solid #ccc;
			padding: 15px 20px;
			margin-bottom: 0;
			text-align: center;

			input {
				font-weight: 700;
				background: none;
				border: none;
				color: #0254EC;
				padding: 0;
			}
		}

		.form-search-result {
			margin-bottom: 5px;
		}

		.static-content {
			padding-bottom: 0;
		}

		.search-result-msg {
			font-size: 16px;
			font-weight: 600;
			color: #000000;
			padding-top: 10px;
		}

		.search-results {
			.title-4--blue {
				font-size: 16px;
				margin: 25px 0 5px;
			}

			.fm-inf-menu {
				padding: 28px 22px 19px;
			}

			.fm-footnote-txt {
				padding-bottom: 0;
				margin-top: 0;
				position: relative;
				padding-top: 15px;
				min-height: 15px;
			}

			.fm-select-btn {
				position: absolute;
				right: -10px;
				bottom: 0;
			}

			.ico-4-cook.fm-footnote-logo {
				margin-top: -8px;
			}

			.ico-4-fork.fm-footnote-logo {
				margin-top: -6px;
			}
		}

		.clear-search {
			font-size: 13px;

			em {
				font-size: 7px;
				margin-top: -4px;
			}
		}

		.search-heading {
			font-size: 16px;
			color: #00266b;
			margin: 25px 0 10px;
		}

		.btc-search {
			margin-bottom: 5px;

			em {
				position: absolute;
				right: 0;
				z-index: 10;
				padding: 8px;
				color: #00266b;
				font-size: 16px;
			}
		}

		.tabs-component {
			margin-top: 20px;

			.multi-tabs>.tab .tab-item.active {
				width: 63%;
				display: block;

				a {
					color: #00266b;
					font-size: 15px;
					border-left: none;
					border-right: none;
					background-color: #f7f7f7;
					padding-right: 0;
					padding-left: 0;
				}
			}

			.multi-tabs>.tab .tab-item {
				width: 170px;
				display: block;

				a {
					color: #00266b;
					font-size: 16px;
					border-left: none;
					border-right: none;
					background-color: #f7f7f7;
				}
			}

			.tabs--1>.tab {
				border-bottom: none;
			}

			.tabs--1 .tab-wrapper {
				padding: 20px;
				background-color: #f7f7f7;
			}

			ul {
				li {
					&.more-item {
						a {
							font-size: 14px;
						}
					}

					a {
						text-transform: capitalize;
					}
				}
			}

			.fm-inf-menu {
				position: relative;
				background: #ffffff;
				padding: 28px 20px 10px;

				&.int-prompt {
					border: 1px solid #053885;
				}

				.fm-inf-menu-desc {
					font-size: 14px;
					width: 100%;
				}
			}

			.fm-footnote-txt {
				position: relative;
				min-height: 30px;
				margin-top: 0;

				.fm-select-btn {
					position: absolute;
					color: #0254ec;
					font-weight: bold;
					left: auto;
					right: 0;
					bottom: 6px;
					top: auto;
					display: block;
					padding: 0;
				}
			}
		}
	}

	.confirmation-prompt {
		background-color: #fff5e5;
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: -10px;
		margin-top: 15px;
		position: relative;
		padding: 10px 20px 20px;

		.ico-alert {
			font-size: 30px;
			color: #ffa000;
			float: left;
			margin-top: 10px;
		}

		.meal-sub-title-black {
			font-size: 14px;
			width: 80%;
			margin-left: 46px;

			span {
				font-weight: 700;
			}
		}

		.meal-sub-title-blue {
			font-size: 14px;

			span {
				font-weight: 700;
			}
		}

		&.confirmation-prompt--blue {
			background-color: #E2EBF1;
		}
	}

	.special-badge {
		position: absolute;
		z-index: 9;
		color: #00266b;
		font-size: 12px;
		background: #FF9F00;
		padding: 4px 8px;
		font-weight: 700;
		top: 0;
		left: 0;
	}

	.meal-not-ready .flight-item {
		cursor: default;
	}

	.pax-list {
		ul {
			.active a {
				cursor: default;
			}
		}
	}

	.flightmeal-control {
		a {
			.ico-point-d {
				display: none;
			}
		}

		&.disable-accordion {
			.fm-ico-text {
				color: #808080;
			}
		}
	}

	.select-change-btn {
		position: absolute;
		line-height: 1em;
		top: 17px;
		right: 10px;
	}

	.meal-menu {
		background-color: #dee3ec;
		list-style-type: none;
		margin: 0;
		padding: 10px;
		overflow: hidden;

		.meal-sub-title-blue {
			width: 230px;
		}

		li {
			display: block;
			margin-right: 20px;
			line-height: 1em;

			&:nth-child(3) {
				.title-selected {
					display: inline-block;
					font-weight: normal;
				}
			}

			&.meal-service-name {
				margin-bottom: 15px;
			}
		}
	}

	.meal-sub-title-black {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		color: #222222;
		font-size: 14px;
		margin: 0;
	}

	.meal-sub-title-blue {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		color: #00266b;
		font-size: 14px;
		line-height: 18px;
	}

	.meal-service-name {
		color: #00266b;
		font-size: 14px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.6px;
		line-height: 14px;
	}

	.flight-ind {
		color: #00266b;
		font-weight: 400;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		line-height: 14px;

		.ico-airplane-2 {
			margin-top: -3px;
		}
	}

	.m-accordion-wrapper {
		margin-top: 10px;
	}

	.fm-title-4--blue {
		font-weight: 700;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 18px;
		color: #00266b;
		margin-top: 20px;
		margin-bottom: 15px;
	}

	.margin-tp {
		margin-top: 50px;
	}

	.fm-accordion-label {
		// margin-bottom: 7px;
	}

	.fm-wrap {
		width: 300px;
	}

	.slide-item.active-pass p {
		font-size: 18px;
		padding-left: 20px;
		color: white;
	}

	.slide-item p {
		font-size: 18px;
		padding-left: 20px;
		color: #000;
		font-weight: 700;
		padding-top: 3px;
	}

	.active-pass {
		background-color: #00266b;
	}

	.meal-info {
		margin-bottom: 25px;
	}

	.flightmeal-control {
		margin-bottom: 30px;
	}

	.fm-promotion-item__inner {
		display: block;
		background-color: #fff;
		margin-right: 10px;
		margin-bottom: 20px;
	}

	.fm-item-container {
		margin-left: 0;
		margin-bottom: 10px;
	}

	.not-eating-supper {
		margin-top: 30px;
		border: 1px solid #ccc;
		color: #000;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;

		.custom-checkbox {
			padding-top: 0;
			padding-bottom: 6px;

			input+label {
				line-height: 16px;
				padding-bottom: 10px;
			}
		}
	}

	.not-eating-msg {
		margin-left: 22px;
		margin-top: 5px;

		span {
			text-transform: lowercase;
		}
	}

	.flight-item__info-1 .info-promotions,
	.flight-item__info-2 .info-promotions {
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}

	.flight-item__info-2 {
		right: 10px;
		bottom: 12px;
	}

	/**-----------------------------------------**/
	.fm-cbox {
		color: #000;

		span {
			text-transform: lowercase;
		}
	}

	.accordion-box {
		padding: 0;
		border: 1px solid #e5e9f0;
		border-radius: 4px;
		box-shadow: 1px 3px 10px -5px;
	}

	.fm-backtomeals-btn {
		margin-top: 40px;
	}

	.fm-title-blue {
		font-size: 28px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		color: #00266b;
		font-weight: 700;
	}

	.fm-title2-black {
		font-size: 16px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		color: #000;
		font-weight: 700;
		margin: 15px 0 10px;
		padding-top: 10px;
	}

	.fm-inf-menu {
		border: 1px solid #ccc;
		padding: 28px 20px 18px;
		margin-bottom: 10px;
		position: relative;
	}

	.fm-inf-menu-title {
		font-size: 18px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		color: #00266b;
	}

	.fm-inf-menu-desc {
		color: #000;
		font-size: 13px;
		width: 96%;
	}

	.fm-footnote-txt {
		margin-top: 22px;
		margin-left: -13px;
		padding-bottom: 10px;
	}

	.fm-dish-text {
		font-size: 12px;
		width: 122px;
		margin-top: 0;
		display: inline-block;
		vertical-align: middle;
		margin: 0 auto;
		color: #666;
	}

	.fm-footnote-logo {
		position: static;
		color: #00226B;
		font-size: 30px;
		left: 0;
		display: inline-block;
		vertical-align: middle;
	}

	.fm-select-btn {
		background: none;
		border: none;
		color: #0254ec;
		font-weight: bold;
		margin-top: 10px;
		display: table-cell;
		vertical-align: middle;
	}

	.badged-wrapper {
		position: relative;
	}

	.fm-ysh-choice {
		font-weight: 700;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 12px;
		color: #00226B;
		background-color: #FF9F00;
		padding: 5px;
		position: absolute;
		top: 0;
		left: 1px;
		margin-bottom: 10px;
		z-index: 1;
	}

	.fm-table-wrapper {
		padding-top: 15px;
	}

	.fm-table-inner td {
		padding: 2px;
	}

	.fm-table-inner td:first-child {
		padding-right: 25px;
		font-weight: 700;
		font-size: 12px;
		color: #666666;
	}

	.fm-table-inner td:first-child span {
		margin-top: -16px;
	}

	.fm-table-inner td:nth-child(2) {
		font-weight: 700;
		color: #00226B;
		font-size: 14px;
	}

	.fm-table-inner td:nth-child(2) span {
		display: block;
	}

	.fm-accordion-label em.ico-point-d {
		color: #0254ec;
		margin-top: 0;
	}

	.fm-ico-text {
		font-size: 14px;
		color: #0254ec;
		font-weight: 600;
		margin-top: -18px;
		right: 22px;
		line-height: 14px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	}

	.meal-not-available-text {
		color: #02266b;
		position: absolute;
		top: 5em;
		background: #E5E9F0;
		z-index: 7;
		width: 85%;
		left: 20px;
		text-align: center;
	}

	.overlay-not-available {
		position: absolute;
		background: black;
		width: 100%;
		height: 100%;
		opacity: 0.5;
	}

	.not-available-text {
		background: #E5E9F0;
		padding: 12px 14px;
		z-index: 100;
		position: absolute;
		left: 0;
		top: 25%;
		color: #00266b;
		width: 82%;
		margin: 0 auto;
		right: 0;
	}

	.not-available {
		background: black;
		width: 100%;
		height: 100%;
	}

	.flight-item img {
		max-width: 100%;
	}

	.flight-meal.css,
	.meal-not-available-img {
		opacity: 0.4;
	}

	.item-wrapper {
		.promotion-item__inner {
			margin-left: 0;
		}
	}

	.light-box-title {
		margin: 0;
		font-weight: 500;
		font-size: 14px;
		color: #00266b;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;

		strong {
			text-transform: capitalize;
			padding-left: 10px;
		}

		.ico-airplane-2 {
			margin-top: -4px;
		}
	}

	.light-box-text {
		color: #222;
	}

	.btn-confirm {
		padding-top: 30px;
	}

	.custom-checkbox input.checked+label,
	.custom-checkbox input:checked+label {
		color: #00266b !important;
	}

	.check-box-label {
		font-weight: 600;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 16px;
		color: #000;
	}

	.light-box-btn-mb {
		margin-top: 0;
		margin-bottom: 20px;
	}

	.lightbox-btn-back {
		.ico-point-l {
			font-size: 8px;
			margin-right: 2px;
		}
	}

	.fm-cbox {
		color: #000;
	}

	.promotion-item {
		position: relative;

		.overlay-meal,
		.not-available-text {
			display: none;
		}

		&.meal-not-ready {

			.meal-label,
			span {
				color: #666666;
			}

			.overlay-meal,
			.not-available-text {
				display: block;
			}

			&.no-image {
				.meal-label {
					min-height: 95px;

					&.epe-meal-container {
						min-height: 80px;
						height: auto;
						line-height: 20.5px;
						padding-top: 28px;

						span {
							font-size: 24px;
						}
					}

					.meal-category-desc {
						display: none;
					}
				}

				.not-available-text {
					top: 40%;
					display: block;
				}

				.view-only-btn {
					display: block;
				}
			}
		}

		.meal-label {
			.view-only-btn {
				display: none;
			}

			.meal-category-desc {
				color: #000000;
			}
		}

		&.view-only {
			.meal-label {
				.view-only-btn {
					display: block;
				}
			}

			&.no-image {
				.meal-label {
					min-height: 115px;

					.view-only-btn {
						position: absolute;
						top: 63%;
						padding: 8px 12px;
						font-size: 13px;
						background-color: #c2c2c2;
						border-radius: 3px;
					}
				}
			}
		}
	}

	.passenger-selection-menu {
		margin-bottom: 0;
	}

	.custom-checkbox {
		input:checked+label {
			color: #00266b !important;
			font-weight: 700;
		}

		&.custom-checkbox input.checked+label {
			color: #00266b !important;
			font-weight: 700;
		}
	}

	.pax-list .pax-slider {
		position: relative;
		overflow: hidden;

		&.pax-start {
			border-left: 1px solid #ccc;

			button {
				&.slider-btn-left {
					display: none !important;
				}
			}

			ul {
				padding-left: 0;

				li {
					a>span {
						left: 20px;
					}
				}
			}
		}

		&.pax-end {
			button {
				&.slider-btn-right {
					display: none;
				}
			}

			ul {
				li {
					a>span {
						left: 70px;
					}
				}
			}
		}

		&.single-pax {
			display: none;

			ul {
				padding-left: 0;
			}
		}

		button {
			height: 100%;
			position: absolute;
			z-index: 1;
			background: #99a8c4;
			border: none;
			width: 36px;
			padding: 0;
			margin: 0;
			padding: 0;
			margin: 0;
			outline-color: transparent;
			border: solid 1px #99a8c4;

			em {
				color: white;
				font-size: 13px;
				font-weight: bold;
				margin-top: -5px;
			}

			&.slider-btn-right {
				right: 0;
				position: absolute;
				top: 0;
			}
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			//height: 70px;
			// padding-left: 28px;
			overflow: hidden; // -webkit-transition: padding 0.6s ease-in-out;
			// -moz-transition: padding 0.6s ease-in-out;
			// -ms-transition: padding 0.6s ease-in-out;
			// -o-transition: padding 0.6s ease-in-out;
			// transition: padding 0.6s ease-in-out;
			z-index: 0;

			.pax-list-heading {
				font-weight: 700;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				font-size: 16px;
				color: #4a4a4a;
				margin-bottom: 6px;
			}

			select {
				background-color: #fff;
				padding: 12px 0 12px 15px;
				width: calc(100% - 17px);
				position: relative;
				margin-left: 0;
				border-color: #cccccc;
				-webkit-appearance: none;
				/*Removes default chrome and safari style*/
				-moz-appearance: none;
				/*Removes default style Firefox*/
				background-image: url("../images/down-arrow.png");
				background-repeat: no-repeat;
				font-size: 14px;
				background-size: 13px;
				background-position: calc(100% - 15px) center;
				line-height: 1em;
				border-radius: 2px;
				color: #4A4A4A;
				font-weight: 600;
			}

			.pax-nav {
				float: left;
				width: calc(100% - 1px);
				background: #e5e9f0;
				height: 68px;
				position: relative;
				border-right: 1px solid #ccc;
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;

				a {
					color: #000;
					width: 100%;
					height: 100%;
					position: absolute;

					span {
						top: 22px;
						position: absolute;
						font-size: 18px;
						font-weight: 700;
						width: 90%;
						left: 20px;
					}
				}

				&.active {
					background-color: #00266b;
					border-top: 1px solid #00266b;
					border-bottom: 1px solid #00266b;

					a {
						color: white;
					}
				}
			}
		}
	}

	.es-wrap {
		clear: both;
	}

	.popup--confirmation-error {
		.button-group-1 {
			margin-top: 15px;
		}
	}

	.popup-meals {
		position: fixed;

		.popup-meal-type {
			text-transform: uppercase;
			font-size: 14px;
			color: #00266b;
			font-weight: 700;
			letter-spacing: 0.8px;
			margin-right: 15px;
		}
	}

	.popup__content {
		.custom-checkbox--1 input {
			z-index: 9;
		}

		.alert-text-color-blue {
			color: #00266b;
		}

		.fm-dish-full-text {
			width: 80%;
		}

		.fm-table-inner td span {
			font-weight: 600;
		}

		.light-box-text {
			line-height: 20px;
		}

		.fm-inf-menu-desc {
			line-height: 20px;
		}

		.promotion-item {
			.fm-inf-menu {
				padding: 28px 22px 19px;
			}

			.fm-footnote-txt {
				padding-bottom: 0;
				margin-top: 0;
				position: relative;
				padding-top: 15px;
				min-height: 15px;
			}

			.fm-select-btn {
				position: absolute;
				right: -10px;
				bottom: 0;
			}

			.ico-4-cook.fm-footnote-logo {
				margin-top: -8px;
			}

			.ico-4-fork.fm-footnote-logo {
				margin-top: -6px;
			}
		}

		.fm-table-inner tr {
			margin-bottom: 14px;
			display: block;
		}

		.btn-wrap-view-only {
			padding: 20px;
			width: 100px;
		}

		.btn-view-only {
			display: block;
			margin: 0 auto;
			text-align: center;
		}

		.onboard {
			display: block;
			margin-top: 3px;
		}

		.view-only-bg {
			background-color: #e5e9f0;
			color: #00266b;
		}
	}

	.block-2 {
		background: none;
		border: 0;

		.block-inner {
			position: relative;
			padding: 20px 3px 10px;
		}
	}

	.menu-item {
		&.selected {
			.fm-inf-menu {
				border: solid 1px #03760b;
			}

			.fm-inf-menu-select-badge {
				display: block;
			}
		}

		.fm-inf-menu-select-badge {
			background: #cdf0cf;
			border: none;
			color: #03760B;
			position: absolute;
			top: 1px;
			right: 1px;
			font-weight: 700;
			padding: 3px 5px 2px 7px;
			display: none;
			z-index: 10;
		}
	}

	/* animations */
	.meals-accordion-wrapper {
		display: block;
		position: relative;
		@include prefix(transition, all 0.6s ease-in-out, webkit moz ms o);

		&.pre-slide-out {
			position: absolute;
			top: 30px;
			left: 20px;
			width: calc(100% - 40px);
		}

		&.slide-out-left {
			@include prefix(transform, translateX(-108%), webkit moz ms o);
		}

		&.pre-slide-in-right {
			@include prefix(transform, translateX(108%), webkit moz ms o);
		}
	}

	.temp-hidden {
		display: none !important;
	}

	.spml-confirmation-prompt {
		display: block;
		margin: 0 0 10px;
	}

	.past-meals-wrap {
		display: block;
		position: relative;
		width: 100%;
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: solid 1px #D8D8D8;

		// margin-left: -10px;
		// margin-right: -10px;
		.past-meals-slider {
			display: block;
			position: relative;
			width: 100%;
			overflow-x: hidden;
		}

		.past-meals-container {
			display: flex;
			flex-wrap: nowrap;
			justify-items: flex-start;
			align-content: flex-start;
			position: relative;

			&.past-meals-slick {
				display: block;

				.fm-inf-menu {
					display: inline-block;
					vertical-align: top;
					width: calc(100vw - 86px);
					min-height: 180px;

					float: none;
					margin-bottom: 10px;
				}
			}
		}

		.remove-prompt.past-meal-prompt {
			display: block;
			position: relative;
			margin-top: 10px;
		}

		.slick-dots {
			position: absolute;
			bottom: -20px;

			li {
				margin: 0 5px;

				button {
					background-color: #D8D8D8;
				}

				&.slick-active {
					button {
						background-color: #FF9F00;
					}
				}
			}
		}

		.fm-inf-menu {
			width: calc(100vw - 40px);
			min-height: 156px;
			border-color: #D8D8D8;
			padding: 15px 22px;
			margin: 0 5px;

			&:last-child {
				margin-right: 0;
			}

			&:first-child {
				margin-left: 0;
			}

			&.selected {
				border-color: #03760b;

				.fm-inf-menu-select-badge {
					display: block;
				}
			}
		}

		.fm-inf-menu-select-badge {
			background: #cdf0cf;
			border: none;
			color: #03760B;
			position: absolute;
			top: 1px;
			right: 1px;
			font-weight: 700;
			padding: 3px 5px 2px 7px;
			display: none;
			z-index: 10;
		}

		.fm-inf-menu-title {
			line-height: 1.16em;
			margin-bottom: 3px;
		}

		.fm-inf-menu-sub-title {
			font-size: 12px;
			color: #666666;
			font-weight: 400;
			line-height: 1.16em;
			margin-bottom: 12px;
		}

		.fm-inf-menu-desc {
			font-size: 14px;
			font-weight: 400;
			color: black;
			line-height: 1.14em;
			margin-bottom: 22px;
		}

		.fm-footnote-txt {
			margin: 0;
			min-height: 20px;
			text-align: right;

			input {
				display: inline-block;
				float: none;
				margin: 0;
			}
		}

		.past-meal__btn {
			border: 0;
			background: none;
			position: absolute;
			// top: calc(50% - 20px);
			// transform: translateY(-50%);
			top: 75px;
			display: block;
			width: 30px;
			height: 60px;
			margin: 0;
			padding: 0;
			background-color: #2275D3;
			z-index: 11;
			transition: 0.3s opacity ease-in-out;
			color: white;

			&:hover {
				opacity: 0.6;
			}

			&.slider-btn-left {
				left: -19px;
				border-top-right-radius: 60px;
				border-bottom-right-radius: 60px;
			}

			&.slider-btn-right {
				right: -19px;
				border-top-left-radius: 60px;
				border-bottom-left-radius: 60px;
			}
		}

		.ico-point-l {
			transform: translate(-5px, -2px)
		}

		.ico-point-r {
			transform: translate(5px, -2px)
		}
	}
}

.meals-selection-bah {
	.remove-prompt {
		background-color: #f2f2f2;
		padding: 15px;
		position: relative;

		a.accordion__control {
			padding: 0;
		}

		p {
			margin: 0;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			color: #000;
			font-size: 12px;
			font-weight: 600;
		}

		.button-group-1 {
			margin-top: 10px;
		}
	}

	.load-more {

		// padding: 15px 20px;
		.load-more-btn {
			font-weight: 700;
			background: none;
			color: #0254EC;
			position: relative;
			border: 1px solid #ccc;
			padding: 15px 0;
			width: 100%;
			// margin-bottom: 20px;
		}
	}

	.menu-list-spm {
		.fm-dish-text {
			font-size: 12px;
			width: 122px;
			margin-top: 0;
			display: inline-block;
			vertical-align: middle;
			margin: 0 auto;
			color: #666;
		}

		.btc-meal-list .confirmation-prompt {
			background-color: #fff5e5;
		}
	}

	.popup__content .promotion-item .fm-footnote-txt {
		padding-left: 8px;
	}

	.bsp-flights-cost__details .sub-total {
		.grand-total__title {
			font-size: 14px;
		}

		:first-child {
			width: 55%;
		}
	}

	span.bsp-addons__flightinfo {
		font-weight: 700;
		margin: 3px 0;
	}

	.meal-of-bah {
		.fm-footnote-txt .fm-dish-text {
			width: auto;
			margin-right: 10px;
			margin-top: 8px;
		}

		.fm-footnote-logo.ico-5-Spicy {
			font-size: 22px;
		}

		.confirmation-prompt {
			background-color: #e5e9f0;
			margin-left: -22px;
			margin-right: -22px;
			margin-bottom: -19px;
		}
	}

	.pre-order-badge {
		color: #00266b;
		background-color: #ff9f00;
		position: absolute;
		padding: 3px 8px;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 700;
		top: 1px;
		left: 1px;
		z-index: 99;
	}

	.promotion-item__inner.premium-meals.meals-menu-item {
		.flight-item .meal-label em {
			margin: 48px 7px 0 0;
		}
	}

	.promotion-item .meal-label .meal-category-desc {
		width: 88%;
	}

	.price-range-block {
		.meal-price-label {
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			font-size: 12px;
			color: #00266b;
			font-weight: 700;
			display: block;
		}

		.meal-price {
			font-weight: 700;
		}
	}

	.fm-dish-text {
		font-size: 12px;
		width: 40px;
		margin-top: 0;
		display: inline-block;
		vertical-align: middle;
		margin: 0 auto;
		color: #666;
	}

	.fm-inf-menu {
		.meal-price {
			position: absolute;
			right: 16px;
			bottom: 38px;
			color: #00266b;
			font-weight: 700;
			font-size: 16px;
		}

		.fm-inf-menu-desc {
			font-size: 14px;
		}
	}
}

.meals-selection-bah-long {
	.fm-inf-menu-desc {
		margin-bottom: 0;

		p {
			margin: 3px 0;
		}
	}

	&.meals-selection {
		.fm-inf-menu {
			padding: 25px 20px 10px;

			&.no-dish-icon {
				.fm-footnote-txt {
					margin-top: 0;
					min-height: 26px;

					input {
						margin-top: -5px;
					}
				}
			}
		}

		.fm-footnote-txt {
			margin-top: 0;
			min-height: 38px;

			.fm-footnote-logo {
				font-size: 24px;
				margin-top: 5px;
				margin-bottom: 4px;
			}

			.fm-dish-text {
				margin-top: 5px;
			}
		}
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
	.pax-list .pax-slider.pax-end {
		ul {
			li:last-child a>span:last-child {
				left: 58px;
			}
		}
	}
}

.meals-selection-economy {
	.book-the-cook-menu {
		figure {

			// margin-bottom: -9px;
			.flight-item {
				margin-bottom: -9px;
			}
		}
	}

	.accordion__content {

		.horizontal-line,
		hr {
			border: 1px solid;
			opacity: 0.15;
		}
	}

	.promotion-item {
		width: 100%;

		.inflight-confirmation-prompt {
			margin: 0 0 29px 21px;

			.meal-sub-title-black {
				margin-top: 5px;
			}

			.inflight-ico-alert {
				margin-top: 1px;
			}
		}
	}

	.flight-item {
		.meal-label {
			background-color: #fff;
			border: solid 1px #ccc;

			em {
				margin: 30px 7px 0 0;
			}
		}
	}

	.flight-item {
		.ml-inflight-container {
			.inflight-inner-container {
				font-size: 16px;

				.select-label-container {
					margin-top: 17px;

					span {
						position: absolute;
						color: #0254ec;
						font-weight: bold;
						left: auto;
						right: 21px;
						bottom: 17px;
						top: auto;
						display: block;
						padding: 0;
						font-size: 0.8rem;
					}
				}
			}

			&.selected-border {
				border: 1px solid #03760b;

				.select-label-container {
					margin-top: 0;
				}
			}
		}
	}

	.inflight-link-undo {
		font-weight: 700;

		em {
			font-size: 6px;
			margin-bottom: 4px;
		}
	}

	.button-group-1 {
		// margin: 40px 0 0 0;
	}

	.block-2-forCss {
		border-bottom: 0px !important;
		margin: 0 0 20px 0;
	}

	.meal-label-inner-container {
		height: 50px;
	}

	.inflight-economy-hr {
		margin-bottom: 29px;
	}

	.horizontal-line {
		display: block;
		unicode-bidi: isolate;
		-webkit-margin-before: 0.5em;
		-webkit-margin-after: 0.5em;
		-webkit-margin-start: auto;
		-webkit-margin-end: auto;
		overflow: hidden;
		border-style: inset;
		border-width: 1px; // margin-bottom: 29px;
		width: 98%; // margin-right: 0px;
		margin: 90px 0px 29px 20px;
	}

	// .accordion-box {
	// 	margin: 0 0 10px 0;
	// }
	.meals-selection-content {
		padding-bottom: 1px;
		padding-top: 16px;
	}

	.meal-category-desc {
		margin-top: 3px;
	}

	.accordion__content {
		padding-bottom: 42px;
	}

	.select-change-container {
		font-size: 15px !important;
	}
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
	.meals-selection {
		.popup__content {
			.view-only-bg {
				font-size: 11px;
				display: inline-block;
			}

			.btn-wrap-view-only {
				font-size: 11px;
				margin-right: -24px;
			}

			.btn-wrap-view-only {
				display: inline-block;
				margin: 0 auto;
				text-align: center;
				font-size: 11px;
				margin-right: -12px;
			}
		}
	}
}

@media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: Portrait) {
	.meals-selection {
		.popup__content {
			.btn-wrap-view-only {
				position: absolute;
				right: -10px;
				bottom: 0;
				padding: 0;
			}
		}
	}
}

@media only screen and (min-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.pax-list {
		&.pax-end {
			ul {
				li {
					a>span {
						left: 70px;
					}
				}

				li:last-child {
					a>span:last-child {
						left: 20px !important;
					}
				}
			}

			button {
				display: none;
			}
		}

		&.pax-slider.pax-start {
			button {
				display: none;
			}
		}
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	.meals-selection {
		.popup__content {
			.btn-wrap-view-only {
				position: absolute;
				right: 0;
				bottom: 0;
				padding: 0;
			}
		}
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.meals-selection {
		.popup__content {
			.btn-wrap-view-only {
				position: absolute;
				right: 0;
				bottom: 0;
				padding: 0;
			}
		}

		.not-available-text {
			background: #E5E9F0;
			padding: 12px 15px;
			z-index: 100;
			position: absolute;
			left: 0;
			top: 40%;
			color: #00266b;
			width: 75%;
			margin: 0 auto;
			right: 0;
		}

		.meal-menu {
			.meal-sub-title-blue {
				width: 300px;
			}
		}
	}

	#mealSelection .disable-accordion {
		.fm-accordion-label {
			em {
				display: none;
			}

			span {
				color: gray;
			}
		}
	}
}
