.fs-economy-page {
	.promo-code-message {
		background-color: #2275D3;
		border-radius: 2px;
		// margin-bottom: 22px;
		margin-bottom: 20px;
		padding: 11px 69px 11px 8px;
		.inner-promo-message {
			margin: 0 auto;
		}
		.alert__icon {
			// padding: 4px 2px 4px 0;
			padding: 4px 0px 4px 0;
		}
		.alert__message {
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			font-size: 14px;
			color: #fff;
			font-weight: 200;
		}
		.ico-success {
			color: #fff;
			font-size: 16px; // top: -1px;
			top: -5px;
			position: relative;
			width: 27px;
			height: 27px;
		}
	}
	.col-price-original {
		font-family: "baker-signet-web", serif;
		font-size: 12px;
		text-decoration: line-through; // margin-bottom: 10px;
		// margin-bottom: 8px;
		margin-bottom: 10px;
		margin-top: 0px;
		text-align: center;
		color: #666;

		&.empty {
			display: none;
			color: transparent;
			text-indent: -200vw;
		}
	}
	&.bsp-w-bbl {
		&.android {
			.popup.popup-booking-widget-booking-summary.animated {
				height: 110% !important;
			}
		}
		.bsp-booking-summary__content {
			&.all-transition {
				border-bottom: 2px solid #d4d4d4;
			}
		}
		.bsp-booking-summary {
			background-color: transparent;
			border-bottom: none;
		}
		.edit-search-trigger {
			text-align: center;
			.edit-txt {
				text-transform: uppercase;
				font-size: 10px;
				letter-spacing: 1px;
				color: #0254ec;
				position: relative;
				display: inline-block;
				vertical-align: text-top;
				span {
					padding: 10px;
					background-color: #e5e9f0;
					padding-top: 5px;
					padding-bottom: 4px;
					font-weight: 600;
				}
			}
			img {
				margin-left: -4px;
				margin-right: -4px;
				width: 35px;
			}
		}
		.bsp-booking-summary__content-control {
			.flight-station-info {
				.station-stop {
					.time {
						display: none;
					}
				}
			}
			&.expanded-bsp {
				.flight-station-info {
					.station-stop {
						.time {
							display: block;
						}
					}
				}
			}
		}
	}
	.table-fare-summary {
		border: 1px solid #e5e9f0;
		font-size: 13px;
		.row-select:nth-child(8n) {
			padding-bottom: 10px;
		}
		.economy-fs--green-1,
		.economy-fs--green-2,
		.economy-fs--green-3,
		.economy-fs--green-4 {
			background-color: #276753;
		}
		.economy-fs--pey-1,
		.economy-fs--pey-2 {
			background-color: #5e6c6d;
		}
		.business-fs--blue-1,
		.business-fs--blue-2,
		.business-fs--blue-3 {
			background-color: #2A578A;
		}
		.business-fs--red-1 {
			background-color: #93311D;
		} // 	.fare-condition-th {
		// 		border: 0px;
		// 	}
		// 	.head-wrapper {
		// 		box-sizing: border-box;
		// 		min-height: 60px;
		// 		margin: 0 0px;
		// 	}
		// 	.last-row {
		// 		.col-select {
		// 			padding-bottom: 11px;
		// 			border-bottom: 0px;
		// 			background-color: #fff;
		// 			border-left: 1px solid #e5e9f0;
		// 		}
	} // 	.first-row {
	//         .cancel-sgd150-sgdastirisk {
	// 			background-color: #f7f7f7 !important;
	// 		}
	// 		.col-select {
	// 			padding-top: 15px;
	// 			background-color: #fff;
	// 			border-left: 1px solid #e5e9f0;
	// 		}	
	// 	}
	.row-select {
		background-color: #fff;
		padding-top: 18px; // .col-select {
		// 	border-left: 1px solid #e5e9f0;
		// }
	} // 	.row-head-select {
	// 		font-weight: 400;
	// 	}
	// }
	// .border-fare-family {
	// 	border-left: 1px solid #fff;
	// 	border-top: 0;
	// 	border-right: 0;
	// 	border-bottom: 0;
	// }
	.fare-summary {
		padding: 15px 2px 15px 2px;
		background-color: transparent;
		.note-fare {
			background: transparent;
			padding: 0 1px 0 1px;
			margin: 20px 0 0 0;
		}
		.des {
			margin: 12px 0;
		}
		.fare-complete {
			margin-top: 0;
		}
		.title {
			margin-bottom: 25px;
		}
	}
	.sort-dropdown-container {
		position: relative;
		display: block;
		z-index: 0;
		width: 100%;
		background-color: #fff;
		border: 1px solid #ddd;
		padding-top: 0px;
		padding-bottom: 0px;
		.ico-point-r {
			font-size: 12px;
		}
		a {
			text-decoration: none;
			font-size: 13px;
			padding: 3px 0 3px 0;
			color: #000;
		} // @import "compass/css3";
		// $blue: #5181d0;
		@mixin rotate($degrees) {
			-webkit-transform: rotate($degrees);
			-moz-transform: rotate($degrees);
			-ms-transform: rotate($degrees);
			-o-transform: rotate($degrees);
			transform: rotate($degrees);
		}
		.sort-nav {
			position: relative;
			;
			list-style-type: none;
			text-align: center;
		}
		.sortby {
			color: blue;
			font-size: 14px;
		}
		.sort-selected {
			color: #ccc;
			font-size: 14px;
			border-bottom: 3px solid orange;
		}
		.sort-dropdown-list {
			display: none;
			list-style-type: none;
			li {
				margin-top: 5px;
				color: #000;
				margin-left: -19px;
				font-size: 13px;
			}
		}
		.sort-list {
			text-align: center;
		}
		.rotate-down {
			@include rotate(90deg);
			margin-top: 10px;
			float: right;
			color: #0254ec;
		}
		.sub-menu-icon {
			position: relative;
			z-index: 99;
			top: 6px;
			right: 10px;
		}
		.sort-by {
			height: 50px;
			border: none;
			.select__text {
				text-align: center;
				padding: 8px 0px 0px 0px;
				height: 50px;
				.select__title {
					font-size: 10px;
					font-weight: 700;
					color: #00266b;
					letter-spacing: 0.5px;
				}
				.select__body {
					font-size: 12px;
					font-weight: 700;
					margin-top: -2px;
					letter-spacing: 0.5px;
				}
			}
		}
	}
	.optim-close {
		position: absolute;
		right: 6px;
		font-size: 12px;
		color: black;
	}
}

.edit-search-bsp-toggle {
	text-align: center;
	width: 100%;
	z-index: 3;
	margin-top: -2px;
	position: relative;
	@include prefix(transition, top 0.35s linear, webkit moz ms o);
	&.bsp-sticky {
		position: sticky;
	}
	.edit-search-toggle--element {
		position: relative;
		display: inline-block;
		font-size: 0;
		vertical-align: text-top;
		margin: 0 -8px;
		img {
			width: 46px;
		}
	}
	.esbt-txt {
		font-size: 10px;
		letter-spacing: 1px;
		color: #0254ec;
		height: 28px;
		background-color: #e5e9f0;
		font-weight: 600;
		z-index: 9;
	}
	.esbt-btn {
		padding: 8px;
		font-weight: 700;
		font-size: 10px;
		text-transform: uppercase;
		background: none;
		border: 0;
		letter-spacing: 1px;
	}
}

.edit-search-bsp-toggle-1 {
	text-align: center;
	width: 100%;
	z-index: 3;
	margin-top: -3px;
	position: relative;
	top: 3px;
	&.bsp-sticky {
		position: fixed;
		top: 123px; // &.booking-widget--open,
		// &.booking-widget--open.bsp-no-select {
		// 	top: 256px;
		// }
	}
	&.booking-widget--open {
		top: 155px;
		&.bsp-no-select {
			top: 172px;
		}
	}
	.edit-search-toggle--element {
		position: relative;
		display: inline-block;
		font-size: 0;
		vertical-align: text-top;
		margin: 0 -2px;
	}
	.esbt-txt {
		font-size: 10px;
		letter-spacing: 1px;
		color: #0254ec;
		height: 30px;
		background-color: #e5e9f0;
		font-weight: 600;
	}
	.esbt-btn {
		padding: 10px;
		font-weight: 700;
		font-size: 10px;
		text-transform: uppercase;
		background: none;
		border: 0;
		letter-spacing: 1px;
	}
}

.flight-search {
	.economy-flight-bgd .col-info-select[data-target-cabinclass="First"] {
		color: #87220B;
		border-left-color: #87220B;
	}

	.economy-fs--pey-1[data-cc-name="First"], .name-header-family[data-cc-name="First"] {
		background-color: #93311D;
	}

	.right-flight {
		position: relative;
		z-index: 10;
	}

	.recommended-flight-block.single-result {
		margin-top: 20px;
	}

	.table-fare-summary .economy-fs--pey-1[data-class-selected*="first"], 
	.table-fare-summary .economy-fs--pey-2[data-class-selected*="first"],
	.table-fare-summary .economy-fs--pey-1[data-class-selected*="suites"], 
	.table-fare-summary .economy-fs--pey-2[data-class-selected*="suites"] {
		background-color: #93311D;
	}

	.layover-time-block {
		padding-top: 8px;

		&:before {
			top: 15px;
		}
	}
}
