	.flight-status-notification{
		.fligt-notifications{
		background: #fff;
		border-left: 2px solid #f89e1c;
		padding: 10px;
		margin-top: 20px;

	
		.flight-noti{
			color: #000;
		    font-size: 14px;
		    font-weight: 600;
		    display: inline-block;
		    margin: 0;
		    width: 60%;
		    line-height: 1.2em;
		    margin-top: 4px;
		    margin-bottom: 3px;
		}
		.ico-5-flight-notification{
			color: #00266b;
		    font-size: 30px;
		    display: inline-block;
		    margin-right: 7px;
		    vertical-align: middle;
		    float: left;
		    margin-top: -2px;
		}
		.notification-header{
			color: #00266b;
			font-size: 16px;
			font-weight: 700;
			margin: 0;
			padding: 0;
			margin-top: 10px;
			margin-bottom: 2px;

			}

			.ico-point-r{
			    font-size: 5px;
			    position: relative;
			    left: 2px;
			    margin-left: -2px;
			}
		}
	}

@media only screen and (min-width: 667px){
	.flight-status-notification{
		.fligt-notifications{
			 .ico-5-flight-notification{
			 	vertical-align: middle;
			 	margin-top: -9px;
			 }
			 .flight-noti{
			 	vertical-align: middle;
			 }
		 }
		 .ico-point-r{
		 	margin-top: 2px;
		 }
	}
}

@media only screen and (max-width: 375px){
	.flight-status-notification{
		.fligt-notifications{
			 .ico-5-flight-notification{
			 	margin-top: 0;
			 }
		 }
	}
}

@media only screen and (max-width: 414px){
	.flight-status-notification{
		.fligt-notifications{
			 .flight-noti{
			 	width: 54%;
			}
		}
	}
}