.fs-business{
	/**added by Biancz**/
	.recommended-table .col-info-select.business-flight--blue {
	    min-height: 32px;
	}
	.recommended-table .col-info-select.business-flight--red {
		min-height: 32px;
	}

	.recommended-table .col-info-select.economy-flight--green {
	    min-height: 32px;
	}

	.oal-conditions {
			z-index: 9999 !important;

		.sub-heading-3--dark {
			color: #00266b;
			margin: 0;
		}

		p {
			margin-bottom: 25px;
			font-size: 13px;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			color: black;
		}
	}

	.mix {
		    color: #ba5400;
		    text-transform: none;
		    display: block;
		    font-size: 12px;
	    }

	.oal-prompt {
	    padding: 5px 10px;
	    background-color: #e5e9f0;
	    margin: 0 0 15px;
	    position: relative;

		img {
			width: 50px;
		    position: absolute;
		    top: 22px;
		    left: 15px;
		}

		p {
		    margin-left: 72px;
		    color: #00266b;
		}
	}

	.flight-station-item .airline-info .airline-detail {
		width: 74%;
	}

	.selected-fare-type .label-pey {
	    width: 126px;
	    display: inline-block;
	    font-size: 12px;
	}
	.wrap-content-fs + .wrap-content-fs{
    margin-top: 40px;
   }
}
