.fs-economy-scoot{

    .scoot {
       // margin-right: 56px;

        p{
            color: #000;
        }
    }


    .scoot-info{

        padding-top: 3px;
        border: none;
        background: #fff;

        .group-title{
            padding: 0px;
        }
        .scoot-content{
            .content {
                border-top: none;
                padding-left: 47px;
                font-size: 14px;
            }

            .item {
                ul {
                    margin-left: 22px;
                }
            }

        }
        .scoot-thumb{
            top: 8px;
            left: -3px;
            width: 47px;
        }
    }

    em.ico-point-d.hidden-tb-dt{
        display: none;
    }

    span.scoot-title.hidden-tb-dt{
        display: none;
    }

    .mix {
	    color: #ba5400;
	    text-transform: none;
	    display: block;
	    font-size: 13px;
    }

    p.fare-font {
        color: #000;
    }

    .link-4 {
        display: inline;
        font-size: 12.5px;
    }

    .flight-station-item .airline-info .airline-detail{
        width: 75%;
    }

    .selected-fare-type .label-pey {
      width: 126px;
      display: inline-block;
      font-size: 12px;
  	}
   .wrap-content-fs + .wrap-content-fs{
    margin-top: 40px;
   }
}

.selected-fare-type {
    width: 100%;
    margin-top: -20px;
    margin-bottom: 5px;
    display: inline-block;
    text-align: center;

    span {
    	font-size: 13px;
		text-transform: uppercase;
	    font-weight: bold;
    }

	.label-economy{
        color: #176e54;
    }

    .label-pey{
        color: #435151;
    }

    .label-first{
        color: #87220B;
    }

    .label-bus{
        color: #053A76;
    }
}

.oal-wrapper {
    padding: 5px;
    background-color: #e5e9f0;
    margin-bottom: 15px;
    position: relative;

    img {
        width: 50px;
        position: absolute;
        top: 22px;
        left: 15px;
    }

    p {
        display: inline-block;
        margin-left: 72px;
        color: #00266b;
    }
}

.fs-economy {
    .recommended-table .col-info-select.economy-flight--green {
        min-height: 32px;
    }

    .recommended-table .col-info-select.economy-flight--pey {
        min-height: 32px;

    }
    .note-fare-desc{
        margin-left: 10px
    }

    .popup .popup__content {
        overflow-y: inherit;
    }

    .mixed-cabin-txt {
       text-transform: none;
        display: block;
        font-size: 12px;
    }

    .flight-list-item .link-4 em {
        position: absolute;
        top: 11px;
    }


    .mix{
        color: #ba5400;

        @extend .mixed-cabin-txt;
    }

    .active .mix {
        color: #ff9f00;

        @extend .mixed-cabin-txt;
    }
     .wrap-content-fs + .wrap-content-fs{
    margin-top: 40px;
   }
}

.button-group {
    clear: both;
    zoom: 1;
    overflow: hidden;
}

.btn-sticky {
    position: sticky;
    bottom: 0;
    right: 0;
    background: white;
    overflow: hidden;
    padding-top: 10px;
    padding: 30px 10px 20px;
    margin-bottom: 0px;
    margin-right: -10px;
    margin-left: -10px;
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.35);
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,.35);
    box-shadow: 0px 0px 4px rgba(0,0,0,.35);
    transform: translateY(10px);
}

.fs-business, .fs-economy, .fs-economy-scoot {
    .select-fare-block .button-group-1.btn-sticky {
        padding-bottom: 30px;
    }

    .note-fare {
        background: #f5f8fc;
        padding: 15px;
        margin: 30px 0;

        .has-note-fare-1, .has-note-fare {
            line-height: 1.4;

            .note-fare-desc {
                margin-left: 10px;
            }
        }
    }

    .carret-symbol {
        float: left;
        margin-top: 2px;
        padding-right: 5px;
    }

    .mix {
        font-weight: 600;
    }

    .description-fare-mb {
        margin: 15px 0;
    }

    .title-popup-mb {
        .link-view-benefit {
            margin-bottom: 0;
        }
    }

    .title-slider {
      margin-bottom: 10px;
    }

    .flight-list-item {
        .link-4 {
            .ico-point-r {
                top: 10px;
            }
        }
    }

    .has-note-fare {
        margin-top:0;
    }

    .notification-panel {
        .alert__icon {
            .ico-info-round-fill {
                font-size: 25px;
            }
        }

        .ico-info-round-fill, .alert__message {
            color: #00266B;
        }
    }

    .link-4-1 {
        &.link-view-benefit-1 {
            background: #e9f1ff;
            display: table;
            padding-top: 5px;
            padding-right: 8px;
            padding-bottom: 5px;

            .ico-bow {
                font-size: 30px;
                vertical-align: middle;
                display: table-cell;
            }

            .view-pps {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    .oal-prompt:only-child {
        margin-bottom: 0;
    }

    .col-select {
        &.fare-condition-th {
            border: 5px solid #e5e9f0;
            background-color: #ddd;
        }
    }

    .flight-station-item {
      .airline-info {
        .inner-info {
            padding-left: 30px;
        }
        .multistops-airline-info {
            .airline-detail {
                width: 70%;
            }
        }
        .airline-detail {
          position: relative;
          line-height: 25px;

          img {
            top: 0;
            left: -30px;
          }
        }
      }
    }

    .recommended-table .not-available {
      opacity: 1;
    }

    .flights-station__info--detail {
        .hour {
            font-size: 23px;
        }
    }

    .business-fs--red-0 .row-head-select .col-select {
      background-color: #93311D;
    }

    &.android {
        .flight-list-item {
            .flight-station-info {
                .station-stop {
                    .time {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .table-fare-summary {
        .col-select {
            .fare-icon {
                .summary-label {
                    width: 75%;
                }
            }
        }
    }
    .wrap-content-fs + .wrap-content-fs{
      margin-top: 40px;
    }

   .btn-price {
     position: relative;
     font-size: 12px;
     font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
     font-weight: 700;

     &:before {
       content: attr(data-default);
       position: relative;
     }

     &:hover {
       background-color: #3B6CC8;
       color: white;
     }

     &.active {
       background-color: #00266b;

       &:before {
         content: attr(data-selected);
         position: relative;
       }
     }

     .ie-copy {
       position: relative;
       display: none;
     }
   }

   .col-select-price {
     background-color: #f7f8fa;
   }

   .bef-price {
     .col-select {
       padding-bottom: 18px;
     }
   }

   .one-column {
     .col-select-price {
       background-color: white;
     }
   }

   .col-price {
     font-family: "baker-signet-web", serif;
     font-size: 22px;
     color: #00226b;
     line-height: 0.8em;
     letter-spacing: 0;
     text-align: center;

     margin-bottom: 10px;

   }

   .recommended-table {
     .not-available {
       opacity: 1;
     }

     .flight-price {
       .from {
         font-weight: 400;
         text-transform: capitalize;

         &:before {
           content: '• ';
         }
       }
     }
   }

   .select-fare-table {
     &.one-fare .col-item--3 {
   	   padding-top: 50px;
   	 }

     .btn-price {
       &.active {
         .ico-check-thick {
           display: none;
         }
       }

     }

     .row-select-before-foot{
       padding-bottom: 10px;
     }
   }

   .row-footer-select {
     background-color: #f7f8fa;
     padding: 15px 20px;
   }

   .flight-price .price small {
     font-size: 24px;
   }
}

.fs-economy-page {
  .recommended-flight-item {
    &.active {
      .control-flight-station {
        opacity: 0;
        z-index: 0;
      }

      .wrap-flight-station {
        .flight-result-leg {
          opacity: 1;
        }
      }
    }

    .wrap-flight-station {
      z-index: 0;
      .flight-result-leg {
        opacity: 0;
      }
    }

    .control-flight-station {
      z-index: 1;
      opacity: 1;
    }

    .control-flight-station, .wrap-flight-station, .flight-result-leg {
      -webkit-backface-visibility: initial;
      -moz-backface-visibility: initial;
      -o-backface-visibility: initial;
      backface-visibility: initial;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
    }

    .flight-station-info .station-stop .time {
      margin-top: 14px;
    }
  }


}
