
.rail-fly, .bsp-booking-summary__content-1 {
	.rail-fly-station {
		position: relative;
	}

	.active {
		.rail-fly-station {
			.rail-fly-control-last {
				margin-bottom: 85px;
			}

			.control-flight-station {
				margin-bottom: 65px;
			}
		}
	}

	.rail-fly-station .control-flight-station {
 		margin-bottom: 5px;
	}

	.wrap-rail-fly-station {
		position: absolute;
	   top: 40px;
	   width: 100%;
	}

	.wrap-rail-fly-station .date {
		display: inline-block;
    	width: 140px;
	}

	.rails-flights-table {

	 	.flight-station--inner {
			padding-bottom: 12px;

			.flight-station-info {
				.station-stop-detail {
					em.ico-rail {
				    	top: -12px;
		    			left: 15px;
					}
				}
			}
		}

		.airline-info {

			.airline-detail {
				line-height: 21px;
			}
		}
	}

	.rail-layover {
		background-color: #eee;
		padding: 10px 5px;

		&::before {
		    top: 18px;
	    	left: 190px;
		}
	}

	.layover-time--2 {
	    display: block;
	    position: relative;
	    clear: both;

	    em {
	    	color: #666;
    	    margin-top: -5px;
	    }
	}

	.ico-rail {
		background-image: url("../images/svg/train.svg");
		background-repeat: no-repeat;
		height: 22px;
		width: 22px;
		display: inline-block;
		vertical-align: middle;
	}

	.rail-middle {
		margin-left: 0.3em;
		margin-top: 5px;
	}

	.rail-time, .flight-time {
		display: block;
		clear: both;
		position: relative;

		.title {
			font-weight: bold;
		    color: #00266b;
		    font-size: 12px;
		    letter-spacing: 0.02em;
		}

		.time-stop {
		    font-weight: bold;
		    margin-left: 5px;
		}

		&::before {
	    	content: "";
		    position: absolute;
		    right: 0;
		    height: 1px;
	        background-color: #cacdd4;
		}
	}

	.active .flight-time {
	    padding-top: 20px;

	    &::before {
	    	top: 31px;
	    }
	}

	.rail-time {
		padding-top: 12px;

		&::before {
		    top: 22px;
	        left: 145px;
	    }
	}

	.flight-time {
		.ico-airplane-2 {
			font-size: 26px;
			color: #00266b;
			margin: -5px -4px 0px -4px;
		}

		&::before {
	        top: 11px;
	    	left: 220px
	    }
	}

	.ico-5-rail{
		font-size: 22px;
		color: #00266b;
	}
}

.bsp-booking-summary__content-1 {
	.layover-time--2 {
		font-size: 12px;
	}
}

.recommended-table .col-info .flight-price .price{
	width: 35%;
    text-align: right;
}

.fs-multistop {
	.btn-price,
	.btn-price-cheapest {
		font-family: "baker-signet-web", serif;
		font-size: 22px;
		font-weight: 400;
		.unit-small {
			font-size: 16px;
			font-family: "baker-signet-web", serif;
			font-weight: 400;

		}
	}
}