.gdpr-cookie {
	.popup--cookie {
		width: 290px;
	}
	.popup--cookie--allow {
		width: 290px;
		position: fixed;
		right: 15px;
		bottom: 20px;
		height: auto; // background-color: red;
		.popup__inner {
			.popup__heading {
				padding-right: 25px;
			}
			.popup__desc {
				color: #fff;
				margin-top: -5px;
				p {
					a {
						color: #c2a570;
						-webkit-transition: color 400ms ease 0s;
						-moz-transition: color 400ms ease 0s;
						-o-transition: color 400ms ease 0s;
						transition: color 400ms ease 0s; // background-color: red;
					}
				}
				.popup-cookie-allow-dont-allow-button {
					display: inline-block;
					input {
						width: 120px;
						background-color: #00266b;
						padding: 5px;
						font-size: 12px;
						border-radius: 2px;
					}
					.allow-btn {
						margin-right: 10px;
						border-radius: 2px;
						border-width: 1px;
					}
					.do-not-allow-btn {
						margin-left: 10px;
						margin: auto;
						border-radius: 2px;
						border-width: 1px;
					}
					.popup-paragraph-bottom {
						font-size: 12px;
					}
				}
			}
		}
	}
	.popup--cookie--undo {
		width: 290px;
		position: fixed;
		right: 15px;
		bottom: 20px;
		z-index: 2000;
		height: auto;
		pointer-events: visible;
		.popup__inner {
			.popup__heading {
				padding-right: 25px;
			}
			.popup__desc {
				color: #fff;
				margin-top: -5px;
				.popup-cookie-undo-button {
					display: inline-block;
					.undo-btn {
						width: 80px;
						background-color: #00266b;
						padding: 5px;
						display: block;
						margin: auto;
						font-size: 12px;
						border-radius: 2px;
						border-width: 1px;
					}
				}
			}
		}
	}
	.popup--cookie--non-eu {
		width: 290px;
		position: fixed;
		right: 15px;
		bottom: 20px;
		z-index: 13;
		height: auto;
		.popup__inner {
			.popup__desc {
				color: #fff;
				margin-top: -5px;
				p {
					a {
						color: #c2a570;
						-webkit-transition: color 400ms ease 0s;
						-moz-transition: color 400ms ease 0s;
						-o-transition: color 400ms ease 0s;
						transition: color 400ms ease 0s;
					}
				}
				.popup-cookie-change-button {
					display: inline-block;
					.change-btn {
						width: 170px;
						background-color: #00266b;
						padding: 5px;
						display: block;
						margin: auto;
						font-size: 12px;
						border-radius: 2px;
						border-width: 1px;
					}
				}
			}
		}
		.popup__heading {
			padding-right: 25px;
		}
	}
	.popup--cookie--gdpr {
		width: 255px;
		height: auto;
		position: fixed;
		right: 15px;
		bottom: 20px;
		z-index: 13;
		padding: 0px;
		.popup__inner {
			margin: 20px;
			.popup__heading {
                font-size: 25px;
                line-height: 1em;
			}
			.popup__desc {
				color: #fff;
				font-weight: 300;
				p {
					a {
						color: #c2a570;
						-webkit-transition: color 400ms ease 0s;
						-moz-transition: color 400ms ease 0s;
						-o-transition: color 400ms ease 0s;
						transition: color 400ms ease 0s;
					}
				}
			}
			.popup-cookie-change-settings-continue {
				margin-top: 20px;
				display: flex;
				flex-direction: column-reverse;
				.change-settings {
					display: block;
					input {
						width: -webkit-fill-available;
						// height: 30px;
						height: 25px;
						color: #ffffff;
						background: #00226B;
						font-family: 'proxima-nova', sans-serif;
						font-size: 12px;
						font-style: normal;
						font-stretch: normal;
						font-weight: 700;
						text-align: center;
						outline: 0;
						border: solid #fff 1px;
						border-radius: 2px;
					}
				}
				.continue {
					display: block;
					margin-bottom: 10px;
					input {
						width: -webkit-fill-available;
						// height: 30px;
						height: 25px;
						color: #00226B;
						background: #ffffff;
						font-family: 'proxima-nova', sans-serif;
						font-size: 12px;
						font-style: normal;
						font-stretch: normal;
						font-weight: 700;
						text-align: center;
						outline: 0;
						border: solid #fff 1px;
						border-radius: 2px;
					}
				}
			}
		}
	}
	.overlay-cookies {
		position: fixed;
		top: 0px;
		left: 0px;
		opacity: 0.7;
		background: rgba(0, 0, 0, 0.95);
		width: 100%;
		height: 100%;
		z-index: 1000;
	}
	.popup--gdpr-lightbox {
		.popup__heading-paragraph {
      line-height: 1.4;
      -webkit-margin-after: 1.7em;
      -webkit-margin-before: 0.4em;
		}
		.popup__gdpr__settings__heading-paragraph {
			line-height: 1.4;
			-webkit-margin-before: 0.5em;
			-webkit-margin-after: 0em;
			font-family: 'proxima-nova', sans-serif;
			font-size: 14px;
			color: #222222;
		  }
		.popup__content {
			padding: 33px 20px 16px;
		}
		.popup__heading {
			font-size: 28px;
			font-weight: 400;
			color: #103474;
		}
		.popup__gdpr__settings {
      border: 1px solid #cecece;
      padding: 14px 13px;
      // padding: 20px;
      
			margin: 10px 0px;
			p {
				font-family: 'proxima-nova', sans-serif;
				font-size: 14px;
			}
			.popup__gdpr__settings__heading {
				font-size: 18px;
				color: #00266B;
				font-weight: bold;
				font-family: 'proxima-nova', sans-serif;
			}
			.popup__gdpr__settings__desc {
				display: flex;
				p {
					width: 90%;
				}
				.popup__gdpr__settings__checkbox {
					width: 10%;
					label {
						cursor: pointer;
						width: 20px;
						height: 20px;
						display: inline-block;
						border: 1px solid #cccccc;
						margin-top: -20px;
						// margin-left: 20px;
						margin-left: 10px;
						margin-bottom: 10px;
						position: relative;
					}
					input {
						opacity: 0;
						position: absolute;
						top: 0;
						left: 0;
						cursor: pointer;
					}
					label span:before {
						content: '';
						display: block;
						width: 9px;
						height: 21px;
						border: solid #ff9f00;
						border-width: 0 2px 2px 0;
						-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
						margin-left: 8px;
						margin-top: -5px;
					}
					label input+span:before {
						border-width: 0 0px 0px 0;
					}
					label input:checked+span:before {
						border-width: 0 2px 2px 0;
					}
				}
			}
		}
		.popup__gdpr__save {
			margin-top: 20px;
			margin-bottom: 50px;
			.popup__gdpr__save__settings {
				border-radius: 2px;
				display: block;
				width: -webkit-fill-available;
				height: 40px;
				font-family: 'proxima-nova', sans-serif;
				font-size: 12px;
				color: #ffffff;
				background: #00226B;
				outline: none;
				font-weight: 700;
				letter-spacing: 0.1em;
				border: 0px;
			}
		}
	}
}
