.popup--group-booking{
   
    &.after-login{
        
        .custom-select--2 .select__text {
            input {
                padding-right: 45px;
                padding-left: 10px;
                width: 100%;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .ico-cancel-thin{
                right: 22px;
            }

            &.error {
                overflow: initial;
                padding-left: 0;
                input{
                    padding-right: 14px;
                }

                input::placeholder {
                    color: #ff0000;
                }
            }
            .error{
                margin-top: 1px;
            }
        }
        .custom-select--2 .select__text input{
            // padding-right: 40px;

        }
        .form-group{
            margin-top: 25px;
            .input-1{
                margin-top: 0;
                margin-bottom: 0;
            }
            .error .input-1{
                background: black;
            }
        }
        .grid-col {
            margin-bottom: 5px;

            .grid-inner{
                margin-right: 0;
            }

            &.width-1 {
                width: 40%;
            }
            &.width-2 {
                width: 60%;
                margin-bottom: 30px;
            }

            &.width-4 {
                width: 100%;

                span.input-1.groups.error{
                    label.error{
                        line-height: 15px;
                        margin-top: 4px;
                    }
                }
            }
        }
        .button-group-1{
            margin-right: 0;
            margin-bottom: 10px;
            margin-top: 28px;
        }
    }
    .description{
        color: #000;
        font-size: 16px;
        line-height: 25px;
    }
    .popup__heading{
        font-size: 28px;
    }
    .form-group{
        .input-1{
            margin-top: 25px;
            margin-bottom: 25px;
            width: inherit;
        }

        .error {
            background-color: #fef5f4 !important;
            border: 1px solid #ff0000;
            color: #ff0000;
            position: relative;
            // margin-bottom: 25px !important;
        }

        label.error {
            position: absolute;
            left: 0px;
            top: 42px;
            border: none;
            color: #ff0000;
            background-color: transparent !important;
            display: inline-block;
            margin-bottom: 10px !important;
        }
    }
    .btn-full {
        margin-bottom: 10px;
        margin-top: 6px;
    
    }

    .popup__content {
        outline: none;
    }

    .popup__inner {
        outline: none;
    }


    .popup__close {
        font-size: 12px;
        padding: 10px;
        font-weight: 500;
    }

      .form-contact-detail--1 { 
        .form-group {
            label {
                margin-bottom: 5px;
               
            }
        }
     }


}