.app-excl-fares {
	.custom-select--2.focus .select__text input{
		padding-right: 0;
	}
	.form-general{
		.custom-radio--1 + .custom-radio--1{
			margin-left: 0;
		}
		.text.text-1{
			float: right;
		}
		.btn-2.btn-full.cancel-btn {
		    margin-top: 8px;
		}
		.link-4 {
		    margin-top: 6px;
		}
	}
	&.fares-list-page{
		.full-banner{
			margin-bottom: 0;
		}
	}

	.popup{
		.popup__inner_container{
			max-width: 481px;	
		}
		.popup__content{
			.favourites-badge{
				position: relative;
			    width: 100%;
			    margin-bottom: 10px;
			}
		}
		.new-badge{
		    background-color: #ff9f00;
		    color: #00266b;
		    font-size: 12px;
		    margin-left: 9px;
		    padding: 2px;
		    border-radius: 4px;
		}
	}

	.ribbon-wrapper {
	    margin-bottom: -13px;
	    margin-top: 16px;
	    margin-left: 15px;
	    font-weight: 700;

		.app-title {
			color: #ba5400;
			display: inline;
			vertical-align: middle;
			text-transform: uppercase;
			font-size: 10px;
			letter-spacing: 0.05em;
			font-weight: 700;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		}

		.ico-phone {
			display: inline;
			color: #ba5400;
			vertical-align: top;
			font-size: 13px;
			margin-left: 2px;

			&:before {
				margin-right: 0;
			}
		}
		.ico-5-exclusive {
			display: inline;
			color: #ba5400;
			vertical-align: top;
			font-size: 13px;
			margin-left: 2px;
		 
			&:before {
			 margin-right: 2px;
			 margin-left: 5px;
			}
		}
		.ico-5-student {
			display: inline;
			color: #ba5400;
			vertical-align: top;
			font-size: 13px;
			margin-left: 2px;
		 
			&:before {
			 margin-right: 6px;
			}
		}
		.ico-5-sq {
			display: inline;
			color: #ba5400;
			vertical-align: top;
			font-size: 15px;
			margin-left: 2px;
		 
			&:before {
			 margin-right: 0;
			}
		}
	}
	.promotion-item__detail{
		.ribbon-wrapper{
			margin-bottom: -6px;
		    margin-top: 0;
		    margin-left: -6px;
		    font-weight: 700;
		    width: 135px;

		    .ico-phone{
		    	position: relative;
		    	top: -3.4px;
		    }
		    .app-title{
		    	margin-left: -3px;
			}
			.ico-5-exclusive{
				position: relative;
				top: -3.4px;
			}
			.ico-5-student{
				position: relative;
			 	top: -3.4px;    
			}
			.ico-5-sq{
				position: relative;
				top: -3.4px;
			}
		}
		.info-trip-type {
		    margin-left: -1px;
		}
	}
	.wrapper {
		&.first{
			.ribbon-wrapper{
				margin-left: 0;
				margin-bottom: -8px;
			}
		}
	}
	 .promotion-result--enhance {
	 	.editor table {
	 		.btn-1{
	 			min-width: 90px;
	 		}
	 	}
	 	.ico-5-star{
	 		font-size: 30px;
		    position: absolute;
		    bottom: -10px;
		    right: 1px;
	 	}
	}
	.promotion-result--enhance .editor table .btn-1{
		padding: 15px 20px 13px;
		margin-bottom: 15px;
   		margin-top: 15px;
	}

	.promotion-item__inner {
		min-height: 284px;
	}

	.flight-border{
		background: #cccccc;
	    margin-bottom: 18px;
	    margin-top: 15px;
	    text-align: center;
	    height: 1px;
	    position: relative;

	    span.border-flight{
			display: block;
		    background-color: #f1f1f0;
		    color: #666666;
		    width: 30px;
		    position: absolute;
		    top: -7px;
		    left: 50%;
		    transform: translateX(-50%);
		    font-size: 12px;
		}
	}
	

	.fligt-notifications{
		background: #fff;
		border-left: 2px solid #f89e1c;
		padding: 10px;
		width: 95%; 

		.notification-header{
			color: #00266b;
			font-size: 14px;
			font-weight: 600;
			margin: 0;
			padding: 0;
			margin-top: 10px;
			margin-bottom: 0px;
		}


		.ico-5-flight-notification{
			color: #00266b;
			font-size: 45px;
			display: inline-block;
			margin-right: 14px;
			vertical-align: middle;
			float: left;
			margin-top: 4px;
		}


	
		
		.flight-noti{
			color: #000;
   		  	font-size: 12px;
   		 	font-weight: 400;
   		  	display: inline-block;
  		    margin: 0;
   			width: 76%;
   			line-height: 1.4em;
   			margin-bottom: 10px;

			a{
				font-weight: 500;
			}
		}

		.ico-point-r{
		    font-size: 6px;
		    position: relative;
		    left: 2px;
		    margin-left: -2px;
		    margin-top: -2px;
		    
		}
	}
	    .popup-log{
    		color: #000000;
    		font-size: 16px;
    		
    }

	.remove-recent {
		opacity: 0.3;
		display: table-cell;
		width: 25%;
	}

	.date-format {
		display: table-cell;
		font-size: 12px;
		width: 32%;
	}
	.select__label {
		font-size: 15px;
	}
	.search-format {
		font-weight: bold;
		display: table-cell;
		font-size: 12px;
		width: 65%;
	}

	.recent-title {
		font-size: 10px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.recent-title-main-container {
		padding: 2px 0 7px 0;
		font-weight: bold;
	}

	   .popup__inner{
	  	.popup__content{
	  		.pupop-text{
	  			font-size: 16px;
	  			margin-bottom: 0;
	  		}
		 .text-1{
		 	font-size: 12px;
		 	color: #0254ec;
		 	position: relative;
		 	top: 12px;
		 	font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		 }
		 .fav-custom-checkbox{
		 	top: -13px;
			 }
			 .favourite-form-group{
			 	margin-bottom: 0;
			 }
		 }
	}
}

.sticky-group-booking-widget {
	.sticky-component {
		background-color: #f6f9ff;
		padding: 20px;
		position: relative;
	
		p {
			color: #00266b;
			font-size: 16px;
			font-weight: 600;
			margin: 0 0 20px;
		}
	
		.btn-1 {
			width: 100%;
		}
	}
	
	.sticky-bar {
		position: fixed;
		top: -155px;
		width: 100%;
		box-shadow: 2px 0 12px #999;
		padding: 20px 0;
		z-index: 12;
		-webkit-transition: transform 0.6s ease-out;
		-moz-transition: transform 0.6s ease-out;
		-o-transition: transform 0.6s ease-out;
		transition: transform 0.6s ease-out;
		min-height: 40px;
	
		// .search-flight-sticky {
		// 	padding: 0 20px;
		// }
		.search-flight-sticky {
			// padding-top: 15px;
			// padding-bottom: 10px;
			// padding: 20px 20px 30px;
			padding: 47px 20px 0px;
			margin-bottom: -10px;
			.sticky__open {
				color: #00266b;
				width: 100%;
				display: block;
				text-align: left;
				padding: 0;
				background-color: transparent;
				border: none;
				text-transform: uppercase;
				font-weight: 700;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				.arrow-up {
					border-top: 6px solid #00266b;
					display: inline-block;
					margin-left: 8px;
					margin-bottom: 2px;
					width: 0;
					height: 0;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
				}
			}
		}
		&.sticky-component--btm {
			top: -155px;
			-webkit-transform: translateY(110%);
			-moz-transform: translateY(110%);
			-o-transform: translateY(110%);
			transform: translateY(110%);
		}
	
		&.sticky-component--show {
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0);
		}
	}
}

.promotion-enhancement-ribbon {

	 .ico-5-star{
      position: absolute;
      right: 15px;
      z-index: 99999999999999;
      font-size: 28px;
      color: #fff;
      bottom: 10px;
    }
	.promotion-item--2 {
		.promotion-item__content {
			height: 64px;
			padding-top: 17px;
			padding-bottom: 35px;
		}
	}

	.ribbon-wrapper {
		margin-bottom: 7px;
		margin-top: -1px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		margin-left: -6px;

		.app-title {
			font-size: 10px;
			vertical-align: inherit;
		}
	}

	.btn-1.btn-learnmore {
		min-width: 88px !important;
	}

	.price-wrapper {
		width: 130px;
	}
}

.pass-through-app-fares {
	.main-heading {
		width: 70%;
		margin: 0;
	}

	.full-banner--img {
		min-height: 340px;
	}
	.promotion-inner {
		min-height: 340px;

		.ribbon-wrapper{
			.ico-phone{
				color: #fff;
				left: -3px;
			}
			.app-title{
				color: #fff;
				position: relative;
				left: 4px;
			}
		}
	}
	.promotion-desc {
		top: auto;
		bottom: 30px;
	}

	.btn-back {
		color: #fff;
		position: absolute;
		top: 20px;
		left: 5px;
	}

	.promotion-right {
		position: absolute;
		right:0;
		bottom: 30px;
		text-align: right;

		.ribbon-wrapper {
			text-transform: uppercase;
			background: #ba5400;
			color: #fff;
			border-radius: 3px;

			display: block;
			width: 120px;

			position: absolute;
			right:0;
			top: -25px;

			padding: 1px 8px 2px 6px;
			margin:0;
		}

		.ico-phone {
			position: absolute;
			left: 5px;
			top: 3px;
			font-size: 12px;
			width: 18px;
		}

		.app-title {
			font-size: 10px;
			font-weight: 700;
			text-align: center;
			line-height: 1em;
		}

		.trip-info {
			text-align: right;
			h2{
				font-size: 33px;
				float: right;
			}
		}

		.trip-type {
			margin:0;
			font-size: 12px;
			text-transform: uppercase;
		}
	}

	.alert--blue {
		background-color: #e5e9f0;
		margin-top: -15px;
		margin-bottom: 40px;

		.alert__message{
			margin-left: 13px;
		}

		.inner {
		}

		.ribbon-wrapper {
			margin-bottom: 5px;
		}

		.ico-phone {
			color: #0d206c;
			font-size: 17px;
			width: 20px;
			text-align: left;
			margin-left: -4px;

			&:before {
				text-align: left;
				font-size: 1em;
			}
		}

		.app-title {
			color: #00226b;
			font-size: 18px;
			font-weight: 700;
		}

		.alert__message {
			display: block;
			font-weight: 600;
			font-size: 16px;
		}
	}

	.button-group {
		display: none;
	}

	.button-group-1 {
		display: none;
	}
}

.saa-handling{
		.header {
			height: 81px;
			.logo {
				.img-1 {
					height: 50px;
					width: 137px;
				}
			}
		}
		.country-selector{
			float:left;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding: 10px 10px 10px 10px;
		    background-color: rgba(255, 255, 255, 0.1);
		   	border-top-left-radius: 2px;
		    border-top-right-radius: 2px;
		    border-bottom-left-radius: 2px;
		    border-bottom-right-radius: 2px; 
			margin-top: 20px;
			cursor:pointer;

			.country{
				color: #fff;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				font-size: 12px;
			}
			.language{
				color: #fff;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				font-size: 12px;
			}

			.ico-point-d{
				color: #fff;
				font-size: 8px;
					&:before{
						margin-left: 55px;
					}
			}
		}
		.menu {
			.menu-bar {
				  ul {
					padding-top: 0;
					float: left;
					li {
						display: inline-block ;
					}
				}
			}
		}

		.krisfyler-sign-up {
			display: inline-block;
			color: #b19661;
		}
	.country-selection-mobile{
				display: block;

			.sub-heading-3--dark {
				color: #00266b;
				margin-left: -10px;
				font-weight: 600;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				font-size: 16px;
			}

			li {
			 	list-style: none;
			 	margin-bottom: 10px;
			 }

			 .block-2 {
			 	border: none;
			 	background-color: #f6f6f6;
			 	margin-bottom: 10px;
			 }
		}

	.country-selection{
				display: none!important;
			.popup__heading{
				margin-bottom: 10px;
			}
				.country-heading {
					font-size: 16px;
					color: #00266b;
				}
				
					ul{
						float: left;
						width: 100%;

					li {
					 	list-style: none;
					 	margin-bottom: 10px;
					 }
			}
		}
	}	

.ui-menu .ui-menu-item.autocomplete-railcoach-label {
	font-weight: 700;
	line-height: 20px;
	background-color: #f5f4f1;
	cursor: default;

	&:hover {
		background-color: #f5f4f1;
		color: black;
	}
}

.ui-menu .ui-menu-item .autocomplete-railcoach-link {
	padding-left: 26px;
	position: relative;
	width: calc(100% - 26px);
	.ico-railcoach {
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
}


@media screen and (max-width: 1023px) {


	.pass-through-app-fares {

		.promotion-right {
			right: 20px;
		}

		.btn-back {
			left: 20px;
		}

		.promotion-inner {
			min-height: 250px;
		}
		.full-banner--img {
			min-height: 250px;
		}
	}

}
