.ice-checkin-page{
    [v-cloak] {
        visibility: hidden !important;
    }


    .tooltip.popover.vue-popover-theme.open {
        .close-button {
            display: block;
            position: absolute;
            top: 8px;
            right: 8px;
            color: #999;
        }
    }
    .tooltip.popover .popover-inner {
        background: #fff !important;
    }

    .error {
        .v-select {
            background-color: #fef5f4 !important;
            border: 1px solid #ff0000;
            color: #ff0000 !important;
        }
        .custom-select {
            border: none;
            &.focus {
                border: none !important;
            }
        }
    }

    .v-popover {
        display: inline-block;
        height: auto;

        .trigger {
            margin: 0px;
            outline: none;
        }
         .ico-alert {
            margin-left: 15px;
            color: #999;
            margin-bottom: 10px;
        }
    }

    .tooltip {
        display: block !important;
        z-index: 10000;
        .wrapper {
            width: 288px;
            margin-left: 13px;
        }
        .tooltip-arrow {
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            margin: 5px;
            border-color: black;
            z-index: 1;
        }
        &[x-placement^="top"] {
            margin-bottom: 5px;
            .tooltip-arrow {
                border-width: 5px 5px 0 5px;
                border-left-color: transparent !important;
                border-right-color: transparent !important;
                border-bottom-color: transparent !important;
                bottom: -5px;
                left: calc(50% - 5px);
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        &[x-placement^="bottom"] {
            margin-top: 5px;
            .tooltip-arrow {
                border-width: 0 5px 5px 5px;
                border-left-color: transparent !important;
                border-right-color: transparent !important;
                border-top-color: transparent !important;
                top: -5px;
                left: calc(50% - 5px);
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        &[x-placement^="right"] {
            margin-left: 5px;
            .tooltip-arrow {
                border-width: 5px 5px 5px 0;
                border-left-color: transparent !important;
                border-top-color: transparent !important;
                border-bottom-color: transparent !important;
                left: -5px;
                top: calc(50% - 5px);
                margin-left: 0;
                margin-right: 0;
            }
        }
        &[x-placement^="left"] {
            margin-right: 5px;
            .tooltip-arrow {
                border-width: 5px 0 5px 5px;
                border-top-color: transparent !important;
                border-right-color: transparent !important;
                border-bottom-color: transparent !important;
                right: -5px;
                top: calc(50% - 5px);
                margin-left: 0;
                margin-right: 0;
            }
        }
        &.popover {
            $color: #f9f9f9;
            .popover-inner {
                background: $color;
                color: black;
                padding: 10px;
                padding-left: 17px;
                padding-right: 17px;
                border-radius: 5px;
                box-shadow: 0 5px 30px rgba(black, .1);
            }
            .popover-arrow {
                border-color: $color;
            }
        }
        &[aria-hidden='true'] {
            visibility: hidden;
            opacity: 0;
            transition: opacity .15s, visibility .15s;
        }
        &[aria-hidden='false'] {
            visibility: visible;
            opacity: 1;
            transition: opacity .15s;
        }
    }

    .cabin-color.economy {
        display: block;
        padding-top: 3px;
        color: #000;
        font-weight: bold;
    }

    .name-plane {
        display: block;
        margin-top: 10px;
    }
    .country-name {
        color: #000;
        text-transform: uppercase;
    }

    .airline-detail {
        color: #000;
    }

    .flight-date{
        color: #000;
        font-weight: bold;
    }

    .main-inner{
        position: relative;
        margin-top: 120px;
        padding: 0;
        
    }

    .flights-station__info--detail {
        font-size: 12px;
    }
    span {
        &.time{
            font-size: 11px;
        }
    }



    .booking-passenger__control .ico-point-d { 
        position: absolute;
        top: 50%;
        right: 7px;
        font-size: 13px;
        margin-top: -6px;
        width: 12px;
        height: 12px;
        transition: all 400ms ease 0s;

    }



    .booking-reference{
        border-top: 4px solid #ffd181;
        position: absolute;
        background-color: white;
        padding: 9px 13px 10px 13px;
        width: 88%;
        text-align: left;
        float: left;
        box-shadow: 2px 3px 7px -4px;
        top: -95px;
        right: 9px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
      
        .booking-text{
          
            color: #000;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 1px;
            text-align: center;
            display: inline-block;
            margin-left: 40px;
            text-transform: uppercase;
        }
    
        .booking-number{
            display: inline-block;
            font-size: 14px;
            font-weight: 700;
            color: black;
            letter-spacing: 2px;
        }    
    }
        .flight-alert{
            width: 80%;
            background-color: #fff5e6;
            margin-bottom: 30px;
            position: relative;
            padding: 6px 24px 30px 20px;
            margin-left: 10px;
            margin-right: 10px;


            .ico-alert{
                color: #f99d1c;
                font-size: 30px;

                &:before {
                    margin-top: -2px;
                }
            }

         .text{
           display: block;
            color: black;
            position: absolute;
            top: 0;
            left: 74px;
            width: 72%;
            font-size: 14px;
            line-height:1.4em;
        }
    }

    .flight-details-wrapper{
        margin-top: 10px;
    }
    .flight-header{
        background-color: white;
        border: 1px solid #eaeaea;
        padding: 5px 10px;
        position: relative;

        .flight-sector{
            color: #00266b;
            font-size: 16px;
            font-weight: 700;
        }

        .flight-type{
           position: absolute;
            right: 0;
            color: #165d47;
            font-weight: 700;
            top: 37%;
            margin-right: 10px;
        }

        em{
            color: gray;
            margin-top: -5px;
            font-size: 16px;
        }
    }

    .flight-content{
        background-color: #f0f2f6;
        padding: 20px 10px;

        .flight-station--inner{
            background-color: white;
            padding: 20px 10px;
            border-radius: 5px;

            .custom-checkbox--1 input + label{
                position: unset;
            }
        }
    }


    .flight-info-wrap{
        position: relative;
        padding-bottom: 15px;
        .flight-station-info{
            width:100%;

            .station-stop{
                left: 37%;
                top: 11px;
                width: 27%;
            }
            .return-flight {
                width: 99px;
               } 
            
        }

        .multistop-arlineinfo{
            width: 100%;
            display: block;

            img{
                 width: 20px;
                display: inline-block;
                position: relative;
                top: -6px;
            }
        }

        .multistop-arlineinfo{
            top: 0;
            right: 0;
            position: relative;
            border-top: 1px solid #f2f2f2;
            margin-top: 20px;
            padding-top: 12px;
        }
         .hour {
            color: black;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            font-weight: 700;
            font-size: 20px; 
        }
    }
    
    .heading-1{
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-size: 28px;
        color: #00266b;
        font-weight: 700;
        margin-bottom: 20px;
        margin-left: 15px;
    }
    .sia-breadcrumb-wrapper{
        background-color: #f2f2f2;
        min-height: 40px;
        position: relative;

        .breadcrumb-bg-left{
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            background-color: white;
            height: 100%;
            width: calc(100% - 988px);
        }
        .breadcrumb-inner{
            position: relative;
            margin: 0 auto;
            max-width: 988px;
        }
        .breadcrumb-inner-item{
            list-style-type: none;
            display: inline-block;
            width: calc(100%/3 - 13px);
            background-color: #f2f2f2;
            padding: 20px 0;
            position: relative;
            text-align: center;
            
            &.active{
                background-color: white;

                .arrow{
                    position: absolute;
                    right: -22px;
                    background-color: #ffffff;
                    height: 42px;
                    width: 42px;
                    top: 9px;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    z-index: 1;
                }
            }
        }

        .breadcrumb-item_info{
            text-align: center;
            margin: 0 auto;
        }

        .number{
            background-color: #ffa000;
            border-radius: 50%;
            font-size: 12px;
            color: white;
            width: 20px;
            height: 20px;
            text-align: center;
            display: inline-block;
            line-height: 20px;
        }
    }

    .booking-passenger {

        margin-bottom: -20px;

        .booking-passenger__control {
            display: block;
            position: relative;
            padding: 17px 0px 21px;
            color: #00266b;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            font-weight: 700;
            font-size: 14px;
            border-bottom: 0;
        }
    }
    .booking-passenger-content {
        padding: 20px 55px 15px 0px;
        .booking-passenger-heading{
            padding-bottom: 0;
            border-bottom: none;
            margin-left: 10px;

            .custom-checkbox {
                // &.custom-checkbox--1{

                    label{
                        font-weight: bold;
                        color: #666;
                    }

                // }
            }

        }
        .booking-passenger-list {
            margin-top: 8px;
            margin-left: 10px;

            li{
                margin-top: 20px;
                text-transform: none;

                .pax-infant-name {
                    display:block;
                }
            }
        }
        .custom-checkbox--1 {
            label {
                span {
                    display: block;
                    position: relative;
                }

                &:before {
                    top: 2px;
                }
            }
        }
    }

    .flight-wrap-info {
        padding: 20px;
        border-radius: 8px;
        margin-top: 20px;
    }

    .booking-passenger__control {
        color: #00266b;
         border-bottom: 1px solid #f2f2f2;
         font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
         font-weight: 700;
         padding: 17px 0px 21px;
   }

    .button-group-1 {
        .btn-1 {
            margin-top: 30px;
            width: 94%;
            margin-left: 11px;

             .disabled{
                background-color: #999;
                color: #dddddd;
            }
        }
    }
}

.ice-pax-details {
    .breadcrumb-inner-item{
            list-style-type: none;
            display: inline-block;
            width: 30%;
            background-color: #2f2f2f;
            padding: 10px 0;
            position: relative;
            text-align: center;
            
        &.active{
            background-color: white;
        }
         .number{
            background-color: #ffa000;
            border-radius: 50%;
            font-size: 12px;
            color: white;
            width: 20px;
            height: 20px;
            text-align: center;
            display: inline-block;
            line-height: 20px;
        }
        .text {
            display: none;
        }
    }

    .arrow{
        position: absolute;
        right: -14px;
        background-color: #ffffff;
        height: 26px;
        width: 26px;
        top: 6px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: 1;
    }

    .btn-back {
        display: none
    }

    .blk-heading {
        .main-heading {
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            font-weight: 700;
            margin-bottom: 10px;
            font-size: 24px;
        }
        .heading-notification {
            font-size: 16px;
        }
        .scan-passenger {
            .btn-8 {
                width: 100%;
            }
        }
    }

    .block-content-passenger-details {
        .passenger-info__personal {
            .blk-heading {
                .sub-heading-1--blue {
                    font-weight: 700;
                }
            }

          .grid-col.one-sixth {
            width:100%;
          }
          .grid-col .one-half {
            width: 100%;
          }

          .grid-col  .width-one-two {
            width: 25%;
          }

          .grid-col .one-fourth {
            width: 100%;
          }   
        }
    }

   .block-passenger-info {
        .passport-form {
            margin-bottom: 30px;
        }
    }
    .form-group--mobile-1 {
        .passport-details {
            margin-bottom: 20px;
        }
        .contact-details{
            margin-bottom: 20px;
        }
        .area-form{
            margin-bottom: 20px;
        }
    }

    .passenger-info__personal {
        .block-passenger-apis {
            border-top: 0;
            padding: 0;
        }
    }

    .container-details {
        margin-top: 40px;
    }

    .infant-block {
        display: none;
    }

    .form-passenger-detail{
        outline: none;
        .form-group-full--1 {
            display: none;
        }
    }

    .button-group-1 {
        .button-submit-passenger {
            display: none;
        }
    }

    .one-half {
        width: 100%;
    }
   .one-fourth {
    width: 100%;
    }

   .infant-block {
    display: none;
    }

    .block-passenger-apis {   
        .passenger-heading {
            .passenger-heading__title {
                color: #000;
                padding-bottom: 5px;
                font-weight: 600;
            }
        }
    }
    .wrap-passenger {
        position: relative;
        padding: 19px;
        }
    .blk-heading.block--shadow {
        padding-bottom: 26px;
        margin-bottom: 41px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-inner {
        margin-top: 48px;
    }
}


.ice-checkin-complete {
    .check-in-wrapper {
        position: relative;
    }
    .send-check-in-email {
        outline: none;
        .form-group {
            .passengers-group {
                margin-bottom: 35px;
            }
            .passenger-name {
                color: #000;
            }
            .input-1{
                margin-top: 14px;
            }
        }
        .ico-close-round-fill {
            color: #666;
        }
        .focus-outline {
            outline: none;
        }
        .link-print {
            display: block;
            color: #0254ec;
            font-size: 14px;
            margin-bottom: 30px;
        }

        .btn-1 {
            display: block;
            width: 100%;
        }
    }


    .flight-header {
        .flight-type {
            right: 5px;

            .ico-check-thick{
                color:#24765d;
                font-weight: bold; 
                margin-left: 15px;

                &:before {
                    font-weight: bolder;
                }
            }
        }
    }

    .multistops-airline-info {
        .name-plane {
            color: #222;
            margin-top: 5px;
        }
        .cabin-color {
            color:#1c5d49;
        }
    }
    .booking-confirm {
        border-top: 1px solid #f2f2f2;
    }
  

    .booking-passenger-content {
        padding: 0px 0px 25px 0px;
        .booking-confirm-heading {
            margin-bottom: 0;
            border-bottom: 1px solid #f2f2f2;
            padding-bottom: 20px;

            .flight-sector{
                color: #00266b;
                font-size: 16px;
                font-weight: 700;
            }
            .booking-confirm-list {
                margin-top: 0; 
                 li {
                    margin-top: 0;
                    width: 50%;
                &:last-child {
                    width: 100%;
                    }
                }          
            }
        }
    }

    

    .flights-info-content {
        position: relative;
        // border-top: 1px solid #f2f2f2;
        padding: 15px 15px 0px 0px;


        .passenger-details-wrap {
            width: 100%;
            overflow: hidden;
            position: relative;
            float: left;
            padding: 0 10px;

            .passenger-name {
                 font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
               p {
                 color: #000;
                font-weight: 700;
                display: inline-block;
                font-size: 16px;
               }
               .elite-silver {
                    padding: 7px 7px;
                    color: #666;
                    font-size: 8px;
                    font-weight: bold;
                    text-transform: uppercase;
                    background-color: #C6C6C6;
                    border-radius: 2px;
                    vertical-align: top;
                    display: inline-block;
                    line-height: 1;
                    margin-left: 10px;
                    letter-spacing: 2px;
               }
            }
        }

        .flight-booking-details {
            width: 100%;
            float: left;
            padding: 0 10px;

            .ico-change-seat, .ico-food, .ico-business-1, .ico-alert {
                color: #00266b;
                font-size: 20px;
                margin-right: 14px;

                &:before {
                    margin-top: -7px;
                }
            }

            .table-passenger-details{
                  width: 100%;
                  line-height: 25px;
                  margin-bottom: 20px;
                  position: relative;

                tr {
                    td{
                      width: 98%;
                      display: block;
                        strong {
                           color: #000;
                        }
                    }
                }
                .legroom-seat {
                    margin-left: 45px;
                    color: #222;

                   
                }
                .table-passenger-info {
                    width: auto;
                    margin-left: 45px;

                    .table-passenger-info_content_meals {
                        display: block;
                    }

                }
                 .bundle-ico {
                    background-image: url(../images/svg/icon-bundle.svg);
                    height: 17px;
                    width: 14px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 10px;
                    position: absolute;
                    bottom: 2px;
                }
            }

            .table-passenger-details-info {
                width: 100%;
                .add-info {
                    display: none;
                }
              tr {
                display: grid;
                grid-template-columns: 15% 84%;

                .baggage-info {
                    margin-top: 0px;
                }
               .first-row {
                    padding: 0;
                    display: inline-block;
                    vertical-align: top;
                    line-height: 1em;

                    .ico-alert {

                        &:before {
                            margin-top: -2px;
                        }
                    }
                }
                td {
                    color: #000;
                }
                 .add-info {
                    display: none;
                  }
              }
              .baggage-info {
                color: #222;
              }
            }
            .table-container {
                width: 100%;
                margin-bottom: 20px;
                position: relative;
                .first-row {
                    display: block;
                    .icon-detail {
                        color: #000;
                    }
                }
               .table-passenger-info {
                display:  inline-block;
                margin-left: 46px;

                    strong {
                        color: #000;
                    }
                }

                .bundle-ico {
                  background-image: url(../images/svg/icon-bundle.svg);
                    height: 17px;
                    width: 14px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 10px;
                    position: absolute;
                    bottom: -2px;
                }
            }
        }

       

        .baggage-allowance {
            float: right;
            font-size: 13px;
            margin-bottom: 15px;
            padding: 0 45px;
            display: grid;
            grid-template-columns: 6% 94%;

            .ico-point-r {
                font-size: 8px;
                line-height: 2;
            }
            .baggage-allowance_paragraph {
                -webkit-margin-before: 0em;
                -webkit-margin-after: 0em;
            }
        }
              
    }

    .flight-content {
        margin-bottom: 40px;
    }

    .before-you-fly-container {
        background-color: #fff;
        position: relative;
        margin-bottom: 20px;
    }

    .image-container {
        width: 100%;
        height: 170px;
        display: inline-block;
        border-radius: 5px;
        position: relative;

        img{
            width: 100%;
            height: 170px;
            border-radius: 13px;
        }
         .static-item__detail {
            position: absolute;
            bottom: 20px;
            left: 5%;
            width: 90%;
            padding-bottom: 10px;
            border-bottom: 1px solid white;

            .static-item__name {
                padding: 0;
                margin-bottom: 14px;
                font-size: 32px;
                font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                font-weight: 500;
                line-height: 0.9em;
                color: #fff;
            }
        }
    }

    .Essential-info {
        display: block;
        padding: 0 15px 15px;

        .boarding-details {
            width: 100%;
            font-size: 14px;
            color: #000;
            
            tr {
                td {
                    width: 100%;
                    padding-bottom: 10px;
                    display: block;
                    line-height: 21px;
                }
            }

            strong {
                color: #000;
            }
            span {
             display: block;
            }
        }

        .boarding-details-info {
            .lounges {
                display: none
            }
        }

        .extra-table {
            display: none;
        }

        .heading-1 {
            font-size: 16px;
            margin-bottom: 0;
            margin-top: 20px;
            margin-left: 0; 
        }
        .weather-details {
            background-color: white;
            padding: 0;

            .weather-condition{
                margin-top: 10px;
                width: 100%;
                list-style: none;
                padding: 0 0 0 15px;
                    li{
                        width: 32%;
                        margin-bottom: 15px;
                        display: inline-block;

                    }
            
                 strong {
                color: #000;
                }
                span {
                 display: block;
                }
                .windy {
                    display: none;
                }
                .sun {
                background-image: url(../images/sun.png);
                display: block;
                width: 50px;
                height: 50px;
                background-size: 50px;
                margin-bottom: 7px;
                }
            .cloud {
                background-image: url(../images/cloud.png);
                display: block;
                width: 50px;
                height: 32px;
                background-size: 50px;
                margin-bottom: 7px;
                }
            .rain {
                background-image: url(../images/rainy.png);
                display: block;
                width: 50px;
                height: 52px;
                background-size: 50px;
                }
            }
            .heading-1 {
                margin-top: 15px;
                margin-bottom: 20px;
            }
        }
    }

     .benefits {
        position: absolute;
        bottom: 0;
        // padding:0 20px;
        width: 95%;
        text-align: center;
        padding: 0 10px;

        .assistance {
                background: #2275d3;
                display: -ms-inline-grid;
                display: inline-grid;
                width: calc(100% / 3 - 13px);
                color: #fff;
                height: 90px;
                border-radius: 6px;

            .icon-assistance {
                    display: inline-block;
                    color: #000;
                    background: #2275d3;
                    margin: 0;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;

                .ico-assistance {
                    display: inline-block;
                    // padding: 10px 15px 3px 25px;
                    padding: 10px 15px 3px 18px;
                    font-size: 30px;
                    color: #fff;
                    background: #2275d3;
                    border-radius: 5px;
                }

                .ico-lounges-1 {
                    display: inline-block;
                    padding: 10px 15px 3px 18px;
                    font-size: 28px;
                    color: #fff;
                    background: #2275d3;
                    border-radius: 5px;
                }

                 .ico-tax {
                    display: inline-block;
                    padding: 10px 15px 3px 18px;
                    font-size: 28px;
                    color: #fff;
                    background: #2275d3;
                    border-radius: 5px;
                }

            }
            .category {
                text-align: center;
                display: block;
                font-size: 9px;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-top: 3px;
            }

            .lounges-category {
                text-align: center;
                display: block;
                font-size: 9px;
                margin-top: 6px;
                 text-transform: uppercase;

            }
            .tax-category {
               text-align: center;
                display: block;
                padding: 0 20px; 
                font-size: 9px;
                margin-top: 6px;
                text-transform: uppercase;

            }
        }

            a{
             color: #fff;
        }
        .assistance:nth-child(2) {
            margin: 0 10px;
        }
    }


    .check-in-complete {
        margin-bottom: 20px;

        .cancel-flight  {
            margin-left: 15px;
        }
        .heading-1 {
            font-size: 26px;
            font-family: 'sigvar';
            font-weight: 500;
            
        }
        .cancel-flight {
            .ico-cancel-all {
                 &:before {
                    margin-right: 9px;
                    // margin-top: -10px;
                }
            }
        }
    }

    .popup--check-in-email {
        .ico-close-round-fill {
            color: #666;
            color: #666;
            font-size: 18px;
            position: relative;
            margin-top: -5px;
            margin-right: -4px;
        }
        .remove-btn {
            display: block;
            margin: 10px 0;
            .ico-delete {
                margin-top: -7px;
            }
        }
    }



    .footer-btn-group {
        position: relative;
        padding: 0 10px;
        height: 230px;
        .btn-4 {
            display: block;
            width: 100%;
        }
        .btn-1 {
            display: block;
            width: 95%;
            position: absolute;
            top: 70px;
        }
        .btn-itinerary {
                color: #00266b;
                background: #e5e9f0;
                border-radius: 4px;
                text-transform: uppercase;
                font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                font-weight: 700;
                width: 95%;
                display: block;
                padding: 13px 1px 11px;
                text-align: center;
                position: absolute;
                top: 0;

            .ico-mail {
                 font-size: 19px;
            margin-top: -5px;
            margin-left: 10px;

            } 
        }
    }

    .flight-info-wrap {
        .flight-station-info {
            .return-flight {
                width: 90px;
            }
        }
    }

    .sia-breadcrumb-wrapper {
        .breadcrumb-inner-item {
            list-style-type: none;
            display: inline-block;
            width: calc(100%/3 - 13px);
            padding: 20px 0;
            background-color: #f2f2f2;
            position: relative;
            text-align: center;
        }

        .breadcrumb-item_info {
            .text {
                display: none;
            }
        }
    }

    .main-inner {
        margin-bottom: 60px;
        position: relative;
    }

    .flight-content {
        background-color: #f0f2f6;
        padding: 20px 10px 0px;
    }
}

.v-select {
    background-color: #fff;
    input.form-control {
        position: "absolute";
        top: 0;
        left: 0;
        color: "transparent";
        width: 100%;
        padding-left: 13px !important;
    }
    .dropdown-menu {
        min-width: 10px !important;
        width: 100%;
        overflow: auto;
        padding: 0px !important;
        li {
            margin: 0px;
            a {
                font-weight: 400;
                font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                min-height: 46px !important;
                padding: 12px 13px;
                word-wrap: break-all !important;
                white-space: normal !important;
                color: #000;
                font-size: 14px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: pointer;
                transition: all 400ms ease 0s;
                &:hover{
                    background-color: #00266b !important;
                    color: #fff !important;
                }
            }
            &.active {
                a {
                    background-color: #00266b !important;
                    color: #fff !important;
                }
            }
            &.highlight {
                a {
                    background-color: #00266b !important;
                    color: #fff !important;
                }
            }
        }

        li:first-child {
            a {
                border-top: 1px solid #cecece;
            }
        }

        li:not(:last-child) {
            a {
                border-bottom: 1px solid #cecece;
            }
        }

        div {
            display: block;
            width: 100%;
        }
    }

    &.open {
        .select__text {
            opacity: 0 !important;
        }

        .form-control {
            opacity: 1 !important;
            color: #000 !important;
        }
    }

    .dropdown-toggle {
        border-radius: 0px !important;
        height: 40px;

        &.focus {
            border: 1px solid #2e77fd !important;
        }

        &.disabled {
            background-color: #efefef !important;
        }

        .select__text {
            opacity: 1;
            pointer-events: none;
        }

        .form-control {
            width: 100% !important;
            &:focus {
                width: calc(80% - 30px) !important;
            }
        }

        .ico-dropdown {
            pointer-events: none;
        }

        .ico-cancel-thin {
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 26px;
            font-size: 12px;
            margin-top: -6px;
            line-height: 1;
            color: #000;
        }
    }
}