.favourites-page {
    .promotion-item.dest-block.promotion-item--2{
        &.nofares{
            .promotion-item__content{
                padding: 20px;
                .flight-search{
                    margin-top: 3px;
                    .ico-point-r{
                        font-size: 6px;
                        right: 0;
                        left: -2px;
                        color: #0254ec;
                        top: 22%;
                    }
                    .link-8{
                        margin-left: 8px;
                    }
                }
            }
        }
    }
    .booking-widget {
        .form-group.form-group--inline {
            .link-2.right {
                float: none;
                margin: 0px 0 2px;
            }
        }

        .booking-widget-block {
            .sub-text-4 {
                color: #00226b;
            }
        }
    }

    .booking-widget .booking-widget__inner,
    .booking-widget:before {
        background-image: url("../images/search-flight-bg.png");
        background-color: #f6f9ff;
    }

    .static-item-1 {
        .static-item-1__info {
            .overlay-delete {
                .right-point {
                    top: 50%;
                    right: 48%;
                }
            }
        }
    }

    .add-favourites {
        background: transparent;
        border: none;
        color: #0254ec;
        top: 10px;

        .star-container {
            height: 20px;
            width: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            overflow: hidden;

            .star-guide {
                height: 20px;
                background-image: url("../images/city-guide-star-icon.png");
                background-position: 0 0;

                .active-guide {
                    background-position: 20px 0;
                }
            }
        }
    }

    .alert-block {
        .radio-tooltips__text {
            width: 100%;
            margin-bottom: 10px;
            color: #000;
        }

        .width-3 {
            width: 100%;
        }

        .btn-4 {
            width: 100%;
        }
    }

    .masthead {
        .menu-block {
            .menu__items {
                .menu__item {
                    .new-badge {
                        background-color: #ff9f00;
                        color: #00266b;
                        font-size: 11px;
                        border-radius: 2px;
                        padding-left: 5px;
                        padding-right: 5px;
                        padding-bottom: 0px;
                        padding-top: 2px;
                        margin-left: 4px;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .expiring-deals-content, .promotion-item{
        .promotion-item__inner{
            margin-bottom: 0;
        }
    }

   .promotion-item__detail{
        margin-bottom: 0;
       }

    

    .add-destination-btn {
        margin: 20px 0;
        height: 40px;
        position: relative;
    }

    .ico-container {
        height: 30px;
        width: 30px;
        position: absolute;
        bottom: 15px;
        right: 16px;

        .star-1 {
            height: 30px !important;
            background-image: url("../images/combine-star-icon.png");
            background-position: 0 0;
        }

        .active {
            background-position: 30px 0;
        }

        @include prefix(transition, unset, webkit moz ms o);
    }

    .ico-5-star {
        position: absolute;
        right: 15px;
        z-index: 99999999999999;
        font-size: 28px;
        color: #fff;
        bottom: 10px;
    }

    .ico-5-clock_1 {
        color: #00266b;
        font-size: 21px;
    }

    .right-arrow {
        font-size: 6px;
        vertical-align: middle;
        margin-right: 2px;
        position: relative;
        bottom: 2px;
    }

    .ico-5-clock_1 {
        display: inline-block;
        font-size: 21px;
        color: #00266b;
    }

    .one-half {
        width: 100%;
    }

    .static-item-1__info {
        .promotion-item__content {
            padding: 0;
            margin-bottom: 10px;
        }

        .btn-1.right {
            width: 100%;
        }
    }

    .mc-toggle {
        .miles-return-one-way {
            li {
                box-sizing: border-box;
                cursor: pointer;
                list-style: none;
                display: inline-block;
                float: left;
                padding: 0 20px;
                width: 50%;
                text-align: center;
                border-bottom-right-radius: 2px;
                border-top-right-radius: 2px;
                border: 1px solid #00226b;

                a {
                    color: #00226b;
                    text-decoration: none;
                    height: 3px;
                    line-height: 38px;
                    padding-left: 6px;
                }

                &:first-child {
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                }

                &.miles-cta-active {
                    background-color: #00226b;

                    a {
                        color: #fff;
                    }
                }
            }
        }
    }

    .promotion-item.promotion-item--2 {
        position: relative;

        .promotion-item__inner {
            text-align: left;
            border: 0;
            border-bottom: 2px solid #ccc;
            padding: 0;
        }

        &.two-third {
            width: 100%;
        }

        &.one-third {
            width: 100%;
        }

        &.active {
            .promotion-item__inner {
                border: none;
            }
        }

        img {
            height: 180px;
        }

        .ico-star {
            position: absolute;
            right: 14px;
            color: #ffffff;
            z-index: 100;
            font-size: 28px;
            bottom: 10px;
        }

        .country-name {
            position: absolute;
            bottom: 0;
            color: white;
            padding: 10px 15px;

            .main-heading {
                font-size: 28px;
            }
        }

        .overlay-delete {
            position: absolute;
            height: 96%;
            width: 95%;
            background-color: #ffffff;
            z-index: 999999999999999999;
            top: 0;
            margin: 0 auto;

            .title-5--blue {
                text-align: center;
                margin-top: 15%;
                font-size: 1.2em;
            }

            .button-group-1 {
                text-align: center;
                overflow: visible;
                display: block;
                padding: 0 20px;

                a {
                    width: 100%;
                    margin: 0 auto 20px;
                    display: inline-block;

                    &.promotion-item__content {
                        padding-top: 0;
                    }
                }
            }
        }

        .promotion-item__desc {
            height: auto;
        }
    }

    .promotion-item__content {
        padding-top: 14px;
        .promotion-item__desc {
            .price {
                color: #00266b;

                span {
                    color: #00266b;
                    font-size: 14px;
                    position: absolute;
                    top: 34%;
                }
            }

            .css-accordion-pointer {
				top: auto;
				bottom: 1px;
			}

			.expiring-deals, .avail-fare-deals, p {
				font-size: 12px;
				line-height: 1em;
				display: block;
				margin-bottom: 6px;
			}

			p {
				font-size: 14px;
			}
        }
    }

    .description {
        color: #000000;
        font-size: 16px;
        margin-bottom: 25px;
    }

    .title-5--blue {
        font-size: 18px;
    }

    .static-item-1 img {
        height: 180px;
    }

    .static-item-1__info,
    .dropdown-link {
        height: auto;
        position: relative;

        .ico-star {
            position: absolute;
            right: 18px;
            color: #ffffff;
            z-index: 99999999999999;
            font-size: 28px;
            top: 50%;
        }

        .country-name {
            position: absolute;
            bottom: 85px;
            color: white;
            padding: 10px 15px;

            .main-heading {
                font-size: 28px;
            }
        }

        .overlay-delete {
            display: block;
            position: absolute;
            height: 96%;
            width: 97%;
            background-color: #ffffff;
            z-index: 999999999999999999;
            top: 0;
            margin: 0 auto;

            .title-5--blue {
                text-align: center;
                margin-top: 15%;
            }

            &.two-thirds {
                width: 95%;

                .title-5--blue {
                    margin-top: 25%;
                }
            }

            .button-group-1 {
                margin-right: 4%;
                margin-left: 4%;

                a {
                    width: 100%;
                }
            }
        }
    }

    .block-2.static-item-1__detail {
        height: 70px;

        h3 {
            color: #00266b;
            position: relative;

            span {
                font-size: 14px;
                top: 4px;
                position: absolute;
            }
        }
    }

    .static-item-1__info .country-name {
        bottom: 110px;
    }

    .button-group-1 {
        .btn-2 {
            float: right;
            margin-top: 0;
        }
    }

    .custom-select--2 {
        .select__text {
            .dropdown-text-align {
                padding-left: 15px;
            }
        }
    }

    .add-destination-block {
        background-color: #ffffff;
        padding: 15px;
        margin-top: 20px;

        .btn-1.right {
            margin-bottom: 10px;
        }
    }

    .mc-toggle {
        width: 100%;
        float: right;
        margin-bottom: 20px;
    }

    .grid-row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .avail-fare-deals {
        text-transform: uppercase;
        color: #ba5400;
        font-size: 12px;
        letter-spacing: 0.05em;
        font-weight: 700;
        position: relative;
    }

    .no-fare {
        text-transform: uppercase;
        color: #666666;
        font-size: 12px;
        letter-spacing: 0.05em;
        font-weight: 700;
        margin-top: 20px;
        position: relative;
        top: 20px;
        margin-left: 12px;
    }

    .search-flight {
        position: relative;
        top: -22px;
        left: 19px;

        .ico-point-r {
            font-size: 5px;
        }
    }

    .blk-heading .promotion-heading {
        float: left;
    }

    .flight-search {
        margin: 0;
        position: relative;
        top: 21px;
        margin-left: 10px;
        font-size: 14px;
    }

    .static-item-1__info {
        .remove-favourites {
            display: block;
        }
    }

    .expiring-deals {
        text-transform: uppercase;
        color: #e41d1e;
        font-size: 12px;
        letter-spacing: 0.05em;
        font-weight: 700;

        .static-item-1__info a {
            width: auto;
            display: block;
            overflow: hidden;
        }

        .expiring {
            text-transform: uppercase;
            color: #e41d1e;
            font-size: 10px;
            letter-spacing: 0.05em;
            font-weight: 700;
            display: block;
        }

        .border-sign {
            border-bottom: 1px solid #e2e2e2;
        }

        .add-destination-btn {
            margin: 30px 0;
        }

        .expiring-deals-head {
            margin: 27px;
            margin-left: 18px;

            .expiring-header {
                font-size: 24px;
                display: inline-block;
                color: #00266b;
                vertical-align: middle;
            }

            .ico-flight-history {
                display: inline-block;
                font-size: 21px;
                color: #00266b;
            }
        }

        .city-guide {
            margin-top: 5px;

            .ico-star {
                display: inline-block;
                background: transparent;
                color: #00266b;
                font-size: 23px;
                vertical-align: text-top;
                margin-left: -3px;
            }

            .city-ribbon {
                color: #00266b;
                vertical-align: bottom;
            }
        }

        .tooltips--blue {
            margin-bottom: 25px;

            .radio-tooltips {
                .radio-tooltips__text {
                    color: #000;
                    line-height: 1.5em;
                }
            }

            .title-5--blue {
                margin: 0;
                margin-left: 11px;
            }

            .two-four {
                width: 100%;
            }

            .width-3 {
                width: 100%;
            }

            .button-group-1 {
                margin-top: 9px;
            }
        }

        .alert-block {
            padding: 15px 5px;

            .btn-4 {
                width: 100%;
            }
        }
    }

    .dest-block {
        .promotion-item__inner {
            &.css-accordion-trigger {
                display: block;
                width: 100%;
                margin-bottom: 20px;

                @include prefix(transition, padding 0.3s ease-in-out, webkit moz ms o);

                &.active {
                    padding-bottom: 20px;
                    margin-bottom: 0;
                    border-bottom: 0;

                    .css-accordion-pointer {
                        @include prefix(transform, rotate(90deg), webkit moz ms o);
                    }
                }

                .css-accordion-pointer {
                    @include prefix(transition, transform 0.6s ease-in-out, webkit moz ms o);
                    top: auto;
                    bottom: 1px;
                }
            }
        }

        .dest-blk-content-wrap {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .css-accordion-content {
            display: block;
            padding: 0 20px;
            overflow: hidden;
            border-bottom: 0;

            @include prefix(transition, all 0.3s ease-in-out, webkit moz ms o);

            &.active {
                padding-top: 10px;
                padding-bottom: 50px;
                border-bottom: 2px solid #ccc;
                margin-bottom: 20px;
            }

            .editor {
                table {
                    .dest-booknow {
                        width: 100%;
                        padding: 15px 0;
                    }
                }
            }
        }

        .min-pax-hide {
            display: none;
        }
    }

    .booking-widget.sticky {
        @include prefix(transition, bottom 0.6s ease-in-out, webkit moz ms o);

        bottom: -100%;

        &.active {
            bottom: 0;
        }
    }

    .fave-list {
        .fave-list-wrap {
            .css-accordion-trigger {
                width: 100%;

                .promotion-item__content {
                    .no-fare, .flight-search {
                        display: block;
                        margin: 0;
                        top: auto;
                    }
                }
            }
        }
    }

    .expiring-deals-head {
        padding-left: 20px;
        margin-bottom: 20px;

        .ico-5-clock_1, .expiring-header {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .add-to-fave-controls {
        @include prefix(transition, transform 0.4s ease-in-out, webkit moz ms o);
        @include prefix(transform, translate(110%, 0), webkit moz ms o);

        &.active {
            @include prefix(transform, translate(0, 0), webkit moz ms o);
        }
    }

    .add-destination-trigger {
        clear: both;
        margin-bottom: 20px;
        width: 100%;
    }
    .custom-select--2.focus {
        .select__text {
            input {
                padding-right: 0px;
            }
        }
    }
}

.favourites-complete {
    .add-destination-block {
        background-color: transparent;
    }
    .form-group--inline {
        .link-2 {
            padding: 0 10px 10px;
        }
    }
}

.favourites-initial-login {
    .add-destination-block {
        background-color: transparent;
    }
}

.favourites-disabled {
    .add-destination-block {
        background-color: transparent;
        .fav-disabled-info-max {
			font-size: 14px;
			color: #000;
			font-style: italic;
			font-weight: 500;
			margin-top: -8px;
		}
    }
    .form-group--inline {
        .link-2 {
            padding: 0 10px 10px;
        }
    }
    .disabled-button {
		pointer-events: none;
		// opacity: 0.4;
	}
	// .add-bottom-px {
	// 	bottom: 126px !important;
	// 	// background-color: red;
	// }
	.add-city-placeholder-disable {
		background-color: #e5e5e5;
	}
	.add-btn-disable {
		background-color: #000;
		opacity: 0.3;
	}
}
.add-tofavourites {
    &.ico-container {
        right: 30px;
    }

    position: absolute;
    bottom: 16px;
    right: 30px;
    width: 30px;
    height: 30px;
    background: none;
    background-image: url("../images/combine-star-icon.png");
    background-position: 0 0;
    border: 0;
    z-index: 10;
    overflow: hidden;
    padding: 0;

    @include prefix(transition, unset, webkit moz ms o);

    &.active {
        background-position: 30px 0;
    }

    &.inline-w-copy {
        position: relative;
        top: 10px;
        left: 0px;
        bottom: auto;
        right: auto;
        width: auto;
        height: 20px;
        padding-left: 25px;
        color: #0254ec;
        background-image: url(../images/favourites-star-blue.png);
        background-repeat: no-repeat;
        background-position: 0 0;

        &.active {
            background-position: 0 -20px;
        }
    }
}

.auto-complete-close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 26px;
    font-size: 12px;
    margin-top: -6px;
    line-height: 1;
    color: #000;
    z-index: 100;
}

.fares-details-enhancement-page {
    .sub-text-4 {
        margin-top: -100px;
        margin-bottom: 100px;
        color: #00266b;
    }
}

@media screen and (max-width: 320px) {
    .favourites-page {
        .mc-toggle {
            .miles-return-one-way {
                li {
                    font-size: 0.8em;
                }
            }
        }
        
    }
}

.promotion-enhancement.app-excl-fares {
	.promotion-item__inner {
		min-height: 270px;
	}

	.promotion-item__desc {
		margin-top: 4px;
	}

	.ribbon-wrapper {
		margin-bottom: -16px;
	}
}