.how-to-earn-page-1 {

	.block--earn-in-the-air {
	    margin-top: 34px;

	    .subheading-2 {
	    	margin-bottom: 17px;
	    }
		
		img {
			width: 100%;
		}

		.description-1 {
			margin-top: 20px;

			.title-des {
			    margin-bottom: 20px;
			    font-weight: 600;
			    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			    font-size: 16px;
			    color: #00266b;
			}
		}
	}
}