.kf-security{

	.field-group-col {
		width: 40%;
	}

	.form-general {
			padding-top: 0;
		}

		.overlay{
			display: none;
		}

	.form-group-security {
		margin-top: 0;
		margin-left: 5px;

		.custom-radio:first-child{
			display: inline-block;
		}
		.custom-radio{
			display: inline-block;
		}
	}


	.popup--confirmation-error {
				
		// 	.popup__inner{
		// 	top: 73px;
		// 	left: 0;
		// 	height: 421px;
		// }
		.popup__heading{
			margin-bottom: 20px;
			font-size: 26px;
		}

		.sms-container {
			position: relative;
			height: 93px;
			margin-bottom: 20px;

		   .verification-code {
			font-size: 16px;
			color: #000;
			display: inline;
			}
			.code-resend{
				display: block;
				font-size: 14px;
			}
			.resend-otp {
				display: block;
				font-size: 14px;
			}

				.ico-container{
				width: 24%;
				display: inline-block;
				float: left;
				height: 93px;
			.ico-phone{
				color: #00266b;
				font-size: 90px;
				transform: translateY(-15px);

				&:before{
					margin-left: -10px;
				}
			}
			.ico-5-email {
				color: #00266b;
				font-size: 90px;
				transform: translateY(-15px);

				&:before{
					margin-left: 0;
				}
			}

			.ico-sms{
				color: #e67300;
				font-size: 30px;
				position: absolute;
				top: 23px;
				left: 14px;
			}

			.ico-mail {
				color: #e67300;
			    font-size: 45px;
			    position: absolute;
			    top: 9px;
			    left: 36px;
			}
		}
			.email-container {
				width: 56%;
			    float: right;
			    display: inline-block;
			    line-height: 23px;
			    position: absolute;
			    transform: translateX(69px);
			}

			.font-container{
				width: 75%;
				float: right;
				display: inline-block;
				line-height: 25px;
			}

		}
		.security-input-form{
			margin-bottom: 10px;
			width: 69%;
			display: inline-block;

				.input-text{
					color: #666;
			}	
				.input-text-error {
					color: #e20000;
				}
		}
		.btn-full{
			margin-bottom: 15px;
			margin-top: 15px;
		}
		.left {
			float: left;
			color: #e20000;
			font-size: 14px;
			margin-right: 5px;
			
		}
	
		.text{
			color: #000;
		}

		.form-error {
			border-color: #ff1010;
			background: #fff1f0;

		}
	}
	.character-container {
		letter-spacing: 1px;
	}


	.Krisflyer-membership-text {
		color: #000;
	    line-height: 1.5em;
	    font-size: 14px;
	    margin-right: 5px;
	    display: inline-block;
	    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	    margin-top: 0;
	}

	.hide-span{
		display: none;
	  }

	  .alert-block {
	  	margin-bottom: 20px;
	  }
}

