.landing-flight-notifications{

	.flight-border{
		background: #cccccc;
	    margin-bottom: 39px;
	    margin-top: 23px;
	    text-align: center;
	    height: 1px;
	    position: relative;

	    .border-flight{
			display: block;
		    background-color: #f1f1f0;
		    color: #666666;
		    width: 30px;
		    position: absolute;
		    top: -7px;
		    left: 50%;
		    transform: translateX(-50%);
		    font-size: 12px;
		}
	}

	.fligt-notifications{
		background: #fff;
		border-left: 2px solid #f89e1c;
		padding: 10px;
		margin-top: 20px;
		padding-bottom: 12px;

	
		.flight-noti{
			color: #000;
   		  	font-size: 14px;
   		 	font-weight: 400;
   		  	display: inline-block;
  		    margin: 0;
   			width: 67%;
   			line-height: 1.2em;
   			margin-bottom: 7px;
		}
		.ico-5-flight-notification{
			color: #00266b;
			font-size: 35px;
			display: inline-block;
			margin-right: 14px;
			vertical-align: middle;
			float: left;
			margin-top: 8px;
		}
		.notification-header{
			color: #00266b;
			font-size: 16px;
			font-weight: 600;
			margin: 0;
			padding: 0;
			margin-top: 10px;
			margin-bottom: 2px;

			}

		.ico-point-r{
		    font-size: 5px;
		    position: relative;
		    left: 2px;
		    margin-left: -2px;
		    margin-top: 2px;
		}
	}
}

.landing-search-flights-page {

	.optim-close {
		position: absolute;
		right: 6px;
		font-size: 12px;
		color: black;
	}

	// .pull-right {
	// 	float: right;
	// }

	.remove-recent {
		opacity: 0.3;
		display: table-cell;
		width: 25%;
	}
	.select__label {
		font-size: 15px;
	}

	.date-format {
		display: table-cell;
		font-size: 12px;
		width: 32%;
	}

	.search-format {
		font-weight: bold;
		display: table-cell;
		font-size: 12px;
		width: 65%;
	}

	.recent-title {
		font-size: 12px;
		text-transform: uppercase;
	}

}

@media screen and (min-width:667px){
	.landing-flight-notifications .fligt-notifications .flight-noti{
		width: 72%;
	}
}