.elite-rewards {
  &__vouchers {
    &-box {
      margin-bottom: 40px;

      &.manage-booking--mobile {
        display: block !important;
        visibility: visible !important;
      }
    }

    &__heading {
      font-size: 18px;
      font-weight: 700;
      color: #00266b;
    }
  }
}

.manage-booking {
  &__heading {
    display: block;
    font-weight: 700;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 20px;
    color: #00266b;
    margin-top: 5px;
  }

  &__group {
    margin-top: 10px;
    box-shadow: 1px 1px 1px #f5eded;

    &__icon{
      &:before {
        content: '';
        width: 35px;
        height: 35px;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        margin-right: 10px;
      }

      &--double {
        &:before {
          background-image: url('../images/icon-2x.png');
        }
      }

      &--seat {
        &:before {
          background-image: url('../images/icon-seat-upgrade.png');
        }
      }
    }

    &__error {
      margin-bottom: 10px;
      background-color: #fff1f0;
      padding: 16px 10px;

      .ico-close-round-fill:before{
          color: red;
      }

      & .alert__icon {
        padding: 0px 10px 4px 0;
      }
    }

    &__detail {
      position: relative;
      background-color: #fff;
      padding: 10px;

      &__voucher {
        padding-left: 70px;
      }

      &__user-voucher {
        width: 100%;

        & .btn-1 {
          width: 100%;
          font-weight: 600;
        }

        & .btn-2 {
          width: 100%;
          font-weight: 600;
        }
      }

      &__title {
        color: #00266b;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        margin-top: 0px;
        margin-bottom: 5px;
        align-items: center;

        br {
          display: none;
        }
      }

      &__voucher-time {
        font-size: 12px;
        color: #022a67;
        display: block;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 20px;
      }

      &__voucher-code {
        text-transform: uppercase;
        background-color: #e5eaf0;
        font-size: 12px;
        font-weight: bold;
        padding: 6px 12px;
        border-radius: 3px;
        color: #00266b;
        font-weight: 600;
        margin-top: 3px;
        margin-bottom: 10px;
        display: inline-block;
        clear: both;
      }

      &__link {
        margin: 15px 0;
        display: block;

        .ico-point-r::before {
          font-size: 6px;
          margin-bottom: 3px;
        }

        &--padding {
          padding-right: 30px;
        }
      }
    }

    &-how {
      display: inline-block;
      margin: 0;
    }

    &-term {
      float: right;
      margin: 0;
    }
  }

  &__show-all {
    text-align: center;
    display: table;
    margin: 18px auto 0;
  }

  &__btn {
    &--disabled {
      background-color: #a8a8a8;
      color: #e5e5e5;
      pointer-events: none;
    }
  }
}

.popup {
  &__heading {
    &__list {
      margin-left: 20px;
      & li {
        padding: 5px 0;
        color: #000;
      }
    }
  }

  &__description {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 16px;
  }

  &__sub-heading {
    font-size: 18px;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-weight: bold;
    color: #00226b;
    margin-top: 35px;
    margin-bottom: 15px;
  }

  &__table {
    background-color: #f2f2f2;
    font-size: 14px;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    width: 100%;
    margin: 25px 0;

    tr:first-child {
      td {
        padding-top: 20px;
      }
    }

    tr:last-child {
      td {
        padding-bottom: 20px;
      }
    }

    td {
      padding: 10px 20px;
    }

    &-text {
      color: #666666;
    }

    &-value {
      color: black;
      font-weight: bold;
    }
  }
}

.no-float {
  float: none !important;
}
