
.masthead-banner {
	width: 100%;
	margin: 0 auto;

	&__wrapper {
		background-image: url('../images/masthead-london-mobile.png');
		background-position: top center;
		height: 260px;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		margin-top: -1px;
	}

	&__content {
		text-align: center;
		width: auto;
		position: absolute;
		left: 50%;
		top: 30px;
		transform: translateX(-50%);
		z-index: 1;

		&-country {
			color: #FFFFFF;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 1.5px;
			text-transform: uppercase;
		}

		&-dash {
			width: 35px;
			height: 4px;
			background-color: #FF9F00;
			display: table;
			margin: auto;
			margin-top: 5px;
		}

		&-capital {
			font-family: 'sigvar';
			font-size: 40px;
			line-height: 60px;
			color: #FFFFFF;
		}

		&-favourites {
			font-size: 12px;
			line-height: 16px;
			color: #FFFFFF;
			position: relative;
			text-transform: uppercase;
			padding-left: 25px;
			margin-left: 5px;
			letter-spacing: 1.5px;

			&::before {
				content: '';
				background-image: url('../images/svg/star-white.svg');
				background-size: 25px 25px;
				display: inline-block;
				width: 25px;
				height: 25px;
				background-repeat: no-repeat;
				position: absolute;
				top: -5px;
				left: -13px;
			}
		}
	}
}
