.cancel-redemption-booking{
	.main-inner{

		.btn-1{
			margin-top: 30px;
			margin-bottom: 40px;
			border-radius: 2px;
			width: 100%;
			font-weight: 700;
			padding-top: 17px;
			padding-bottom: 17px;
			
		}
		.block-2-warpper{
			padding-right: 15px;
			padding-left: 15px;
		}
		margin-top: 33px;
		.btn-back{
			margin-bottom: 40px;
		}
		.main-details{
			font-size: 16px;
			margin-top: 0px;
			margin-bottom: 33px;
			line-height: 1.4em;
			color: #000000;
		}
		.main-details-last{
			font-size: 16px;
			margin-top: 0px;
			margin-bottom: 36px;
			line-height: 1.4em;
			color: #000000;
		}
		.main-inner-instruction{
			margin: 0px;
			font-size: 12px;
			color: #666666;
			padding-top: 23px;
		}
	}
	.passenger-information{
		margin-top: 30px;
		.passenger-heading{
			font-size: 18px;
			color: #00266B;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			padding-bottom: 6px;
			font-weight: 600;
		}
		.text-error.passengers-box-error{
			padding-left: 0px;
		}
		.passenger-details{
			display: block;
			color: #222222;
			font-size: 16px;
			border-bottom: 1px solid #EAEAEA;
			padding: 20px 0;
			text-align: left;
			line-height: 1.4em;
			.passenger-name{
				label{
					font-weight: 600;
					font-size: 16px;
					color: #222222;
				}
				
				display:block;
				
			}
			.passenger-ticket-no{
				padding-top: 20px;
				display: block;
				width:80%;
			}
			.passenger-krisflyer-no{
				
				padding-top: 23px;
				display: block;
			}
		}
	}
	.booking-information{
		h2{
			font-weight: 600;
			font-size: 18px;
			color: #00266B;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			padding-bottom: 26px;
			padding-top: 45px;
			line-height: 1em;
		}
		
		.booking-payment-title{
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			font-size: 15px;
			color: #707070;
			padding-bottom: 8px;
			line-height: 1em;
		}
		p{
			font-size: 14px;
			color: #222222;
			line-height: 1em;
			margin: 0px;
			
		}
		.booking-information-country{
			padding-top: 23px;
			
		}
		.booking-information-payment,.booking-information-country{
			
			display: block;	
		}
	}
	.your-information{
		h2{
			font-weight: 600;
			padding-top: 45px;
			font-size: 18px;
			color: #00266B;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			padding-bottom: 29px;
			line-height: 1em;
		}
		.your-information-details--position{
			padding-top: 22px;
			padding-bottom: 22px;
		}
		.your-information-title{
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			font-size: 15px;
			color: #707070;
			padding-bottom: 8px;
			line-height: 1em;
		}
		p{
			font-size: 14px;
			color: #222222;
			line-height: 1em;
			margin: 0px;
		}
		
		
		.your-information-details,.details--margintop{
			
			display: block;
		}
	}
	.contact-information{
		
		h2{
			font-weight: 600;
			padding-top: 50px;
			font-size: 18px;
			color: #00266B;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			padding-bottom: 30px;
			line-height: 1em;
		}
		
		.contact-information-details{
			width: 100%;
			.contact-details-email{
				margin-bottom: 32px;

				span{
					margin-top: 13px;
					
				}
			}
			.contact-details-contact{
				
				display: block;
				.contact-details--width{
					display: block;
					margin-top: 12px;
					width: 100%;

					.contact-col--1{
						display: inline-block;
						width: 58%;
						padding: 0px;

						margin-bottom: 8px;

						.select__text, .select__text input {
							padding-left: 13px;
						}
					}
					.contact-col--2{
						margin: 0;
						margin-left: 8px;
						display: inline-block;
						width: calc(39% - 4px);
						vertical-align: top;
						padding: 0px;
					}
					.contact-col--3{
						margin: 0;
					}
				}
			}
			.input-1{
				
				color: #222222;
				font-size: 14px;
				line-height: 1em;
			}
			label{
				font:15px;
				color: #707070;
				line-height: 1em;
			}
			
		}
	}
	.acknowledgement{

		padding-top: 30px;
		.acknowledgement-details{
			background-color: #E5E9F0;
			border-radius: 2px;
			padding: 24px 20px;
			label{
				font-size: 14px;
				color: #000;
				padding-left: 30px;
				margin:0;	
				span{
					text-transform: none;
					font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
				}
			}
			label::before{
				top: 2px;
			}
			label::after{
				top: 1px;
			}
			.p--second{
				display: block;
				padding-top: 18px;
			}
		}
	}
	
	.block-2{
		border: none;		
	}
	.main-heading{
		line-height: 1.4em;
		font-size: 32px;
		margin-bottom: 26px;
		font-family: "baker-signet-web", serif;
	}	
	.main-info{
		width: 100%;
		margin-top: 37px;
		font-size: 16px;
		color: #000;
		margin-bottom: 36px;
		line-height: 1.4em;
		 
	}
	.passenger-ticket-no-detail{
		display: block;
	}
	.button-group-1{
		width: 100%;
	}

	.custom-checkbox input + label, .custom-radio--1 input + label {
		&:before {
			top: 2px
		}
	}
}

@media only screen and (min-width: 568px) {
    .cancel-redemption-booking {
		.contact-information .contact-information-details {
			.contact-details-contact .contact-details--width .contact-col--2 {
				width: 39%;
			}
		}
	}
}

@media only screen and (max-width: 320px) {
    .cancel-redemption-booking {
		.contact-information .contact-information-details {
			.contact-details-contact .contact-details--width .contact-col--2 {
				width: calc(39% - 6px);
			}
		}
	}
}