.miles-calculator-page {
	.mc-bold{
		font-weight: 700;
	}
	.main-container {
		background-color: #f7f7f7;
		border-top:0 solid transparent;

		.main-intro {
			padding:0;
			margin: 28px 0px 7px 0;
		}
	}

	.one-third {
	    float: none;
	    width: 100%;
	    margin-top: 10px;
	    padding-bottom: 0px;
	}

	.miles-calculator-selection {
		position:relative;

		[data-select-tab] {
			z-index: 2;
		}

		.btn-arrow-down {
		  	background-color: #99a8c4;
		    position: absolute;
		    z-index: 1;
		    height: 50px;
		    right: 0;
		    top: 0;
		    border: 0;
		    color: #fff;
		    width: 40px;
		    display: block;
		} 

		.ico-dropdown{
		    display: inline-block;
		    vertical-align: middle;
		    transition: all 400ms ease 0s;
		    position: absolute;
		    top: 16px;
		    left: 11px;
		}

		.miles-calculation-service-tab {
			overflow: hidden;
		    position: relative;

			li {
				list-style: none;
				float: left;
				border-right:1px solid #ccc;
				width: 100%;
				background-color:#ddd;
				text-align: center;
				height: 50px;
				position: relative;
				display: none;
				
				a {
					color: #00226b;
					text-decoration: none;
					text-transform: uppercase;
					text-align: center;

					span.miles-tab-span {
					  	line-height: 49px;
					    letter-spacing: 2px;
					    font-weight: 600;

					}
				}
			}

			.active  {
				background-color:#00226b;
				display: block;

				a {
					color: #fff;
					padding-right: 20px;
				}
			}

			.active {
				
			}
		}
	}

	.tabs-component .tabs--1 .tab-wrapper{
		padding: 20px 0 0px 0;

		ul.tab {
			border-bottom: 0;
		}
	}

	.wrap-head{
		margin-bottom:1em;
	}

	.miles-calculator-content {
		overflow: hidden;
		border: 1px solid #ccc;

		.block-2 {
			border:0 solid transparent;
		}

		.miles-calculator-block-inner{
			padding: 25px 10px 40px;

			.miles-calculator-component {
					.alert-block {
						background-color: #f7f7f7;
					}
					.alert-block {
						background-color: #fff1f0;
					}
					.ico-close-round-fill{
						width: 30px;
					    height: 30px;
					    color: #f90000;
					    font-size: 30px;
					    line-height: 1;
					}

					.checkin-alert {
						display: none;
					}

					.mc-toggle{
						width:100%;

						.miles-cta {
							.miles-return-one-way {
								li {
								    cursor: pointer;
								    list-style: none;
								    display: inline-block;
								    /* padding: 0 25px; */
								    border: 1px solid #00226b;
								    background-color: transparent;
								    float: left;
								    width: calc(50% - 2px);
								    /* width: 82px; */
								    text-align: center;

									a {
									    color: #00226b;
									    text-decoration: none;
									    height: 3px;
									    line-height: 38px;
									}
								}

								li.miles-cta-active {
									background-color:#00226b;
									
									a {
										color:#fff;
									}
								}

								li:first-child {
									// padding-right: 0px;
									border-top-left-radius:2px;
									border-bottom-left-radius:2px;

								}

								li:last-child {
									// border-left: 0 solid #fff;
									border-top-right-radius:2px;
									border-bottom-right-radius:2px;

								}
							}
						}
					}
			}	

			hr {
				border-top: 1px solid #ccc;
			    border-width: 1px 0 0 0;
			    margin: 30px 0;
			    height: 1px;
			}

			.miles-calculator-bottom-text {
				p {
					color:#000;
					font-size: 14px;
				}
			}

			.book-now-btn{
				margin-top: 0;
			    position: relative;
			    height: 85px;
				.start-earnings {
				   color: #000;
				   font-size: 16px;
				   font-weight: bold;
				   position: absolute;
				   left: 0;
				   top: 0;
				}

				a {
		    		margin-top: 40px;
		    	}
			}
		
			.miles-form-group {
			 	.custom-select{
				 	height: 38px;
				    line-height: 38px;
				    background-color: #fff;
				    border: solid 1px #00226b;
				    border-top-left-radius: 2px;
				    border-top-right-radius: 2px;
				    border-bottom-left-radius: 2px;
				    border-bottom-right-radius: 2px;
				   
				   .select__label{
			 		color: #000;
			 		}
			 	}
			 	 
			 	.grid-col.mc-dropdown {
				    float: left;
				    width: 100%;
				    margin-right: 11px;
				    margin-bottom: 12px
				}
			}	

		}



		.cabin-class-tab-control {
			.heading-wrap{
				margin-bottom: 20px;
			}
			.title-4--blue {
				margin-bottom:5px;
			}

			.miles-flown-text {
			    color: #666;
			    font-size: 14px;
			    margin-bottom: 30px;
			    display: block;
			}

			.fare-family-title {
			    display: block;
			    color: #000;
			    font-size: 16px;
			}

			.fare-family-codes {
				color: #666;
			    font-size: 14px;
			    letter-spacing: 2px;
			}

			.miles-num-text {
	    		color: #000;
			}
			.terms-condition-text{
				em.ico-point-r{
				right: 10px;
	   		    font-size: 7px;
	   		    margin-bottom: 4px;
	   		    }
			}

			hr{
				margin-bottom: 15px;
			}
		
		}

		.miles-calculator-table {
			.table-responsive td {
				padding: 20px;
			}

			.fare-title {
				color: #666;
				font-size: 14px;
			}

			table { 
			  width: 100%; 
			  border-collapse: collapse; 
			}
		
			tr.odd { 
			  background: #d3d3d3; 
			}

			tr.even {
				background: #e8e8e8; 
			}
		
			th { 
			  background: #002261; 
			  color: white; 
			  font-weight: bold; 
			}

			td:before{
				position: relative;
				display: block;
				color: #636363;
				content: attr(data-th);
			}

			 th { 
			  padding: 10px; 
			  text-align: left;
			  span{
			  	display: block;
			  }

			  span:first-child{

			  }

			  span:nth-child(2){
			  	color: #696969;
			  }
			}

			.fare__family__codes {
				display: block;
				color: #636363;
			}
		}

		.table-responsive .even td:first-child {
			 border:none;
		}
		
	}

	.redeem-miles{

		fieldset  div.col-expand:nth-child(2){
			.col-expand-inner{
				.miles-form-group{
					:nth-child(1){
						// margin-bottom: 6px;
					}
				}
			}
		}

		.heading-wrap{
			margin-bottom: 20px;
		}

	}

	.upgrade-flight {

		.miles-calculator-table{
			margin-top: 0px;
			table{
				th{
					.fare-family-text{
						// font-size: 14px;
						font-weight: 200;
					}
				}
			}
		}

		.custom-select--3 .select__label {
			max-width: 87px;
		}

		.custom-select--3 .select__text {
			padding-left: 95px;
		}

		.upgrade-table-intro{
			// font-size: 18px;
			color: black;
			// margin-top: 25px;
		}

		.end-note{
			// font-size: 14px;
			margin-bottom: 0px;
			color: black;
		}
		.terms-condition-text{
			// font-size: 14px;
			margin-top: 5px;
		}
	}

	.form-fees-tools {
		.last-child {
			border-bottom: 0;
			padding: 0;
			margin: 30px 0 100px 0;

			.btn-miles {
				padding: 17px 0px 17px 15px;
				background-color: #e5eaef;
				display: inline-block;
				width: 100%;
			}

			img {
				margin-right: 10px;
			}

			text {
				color: #00226b;
				font-weight: 600;
				font-size: 16px;
			}
		}
	}
}

@media only screen and (max-width: 320px) {
	.multi-tabs > .tab .tab-item.active {
		width: 175px;
	}
}