.pass-through-page {
    .ribbon-wrapper-pass {
        margin-top: 10px;
        margin-bottom: -20px;
        .ico-5-sq {
            display: inline;
            color: rgb(186, 84, 0);
            vertical-align: top;
            font-size: 18px;
            margin-left: -6px;
            margin-right: -8px;
        }
        .app-title {
            color: rgb(186, 84, 0);
            display: inline-block;
            margin-top: 4px;
            vertical-align: middle;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 0.05em;
            font-weight: 700;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        }
    }
    .flight-item {
        height: 275px;
        margin-top: 12px;
        .image-source {
            height: 100%;
        }
    }
    .info-box {
        padding: 16px 15px;
        .alert__message {
            font-weight: 700;
            color: #00266b;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        }
        .alert__icon {
            padding: 0px 15px 4px 0px;
        }
        .ico-close-info-fill {
            margin-top: 2px;
        }
    }
    .error-alert {
        margin-top: 25px;
        padding: 16px 15px;
        .alert__message {
            color: #000;
        }
        .alert__icon {
            padding: 0px 15px 4px 0px;
        }
        .ico-close-round-fill {
            margin-top: 8px;
        }
    }
    .text-pass-through {
        margin-top: 0px;
        margin-bottom: -40px;
    }
    .pass-through-error {
        margin-top: -45px;
    }
    .promotion-book-flight {
        margin-top: -30px;
    }
    .disable-widget {
        pointer-events: none;
    }
    .btn-error {
        background-color: #a6a6a6;
    }
    .input-error {
        background-color: #e6e6e680;
    }
    .popup__heading-pass-through {
        margin-bottom: 0px;    
    }
    .btn-pass-through {
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .link-pass-through {
        font-size: 14px;
    }
    .ico-container-login {
        position: absolute;
        bottom: 16px;
        right: 16px;
        width: 30px;
        height: 30px;
        background: none;
        background-image: url(../images/combine-star-icon.png);
        background-position: 0 0;
        border: 0;
        z-index: 10;
        overflow: hidden;
        padding: 0;
    }
    .text-share-through {
        margin-top: 2px;
    }
}