.pass-through-aam-page {
  .date-picker-light-box {
    transition: opacity 0.1s ease-in;
    // display: inline-block;
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .date-picker-inner {
      display: block;
      height: 0;
      max-height: 100%;
      max-width: 100%;
      min-height: 100%;
      min-width: 100%;
      width: 0;
      margin: auto;
    }
    .date-picker-modal-title {
      background-color: #00266b;
      color: white;
    }
    .title-select-date {
      line-height: 50px;
      text-align: center;
      margin: 0;
      padding: 0;
      font-size: 12px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    }
    .btn-modal {
      border-style: none;
      display: block;
      width: 50px;
      height: 50px;
      padding: 0;
      background-color: #153c83;
      border-radius: 0;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 1.5em;
      color: white;
    }
    .date-picker-modal-stepper {
      background-color: #fff;
      top: 51px;
      // border: 1px solid #ccc;
      box-shadow: 0 2px 6px -2px #c5c4c4;
      // padding: 10px 0;
      display: block;
      width: 100vw;
      min-height: 100vh;
      margin: 0;
    }
    .date-flight-container {
      .grid-col {
        margin-right: -10px;
      }
      .input-3 {
        height: 50px;
      }
      .depart-date {
          margin-right: -4px;
      }
      .return-date {
          margin-left: 4px;
          margin-right: -9px;
      }
    }
  }
    .date-flight-container {
        .input-3 {
          padding-right: 0px;
          .input-date {
            display: block;
            // border: 1px solid #ddd;
            // padding: 5px;
            padding: 0px;
            font-size: 14px;
            width: 173px;
            // height: 39px;
            height: 30px;
            cursor: pointer;
            left: 0;
            right: 0;
            color: #000;
            width: 100%;
            /* position: absolute; */
            top: 0;
            bottom: 0;
            /* line-height: 18px; */
            padding-top: 10px;
            padding-bottom: 10px;
          }
          .input-date-picker {
            border: none;
            // padding-left: 10px;
            font-size: 16px;
            // width: 174px;
            // height: 48px;
            /* line-height: 4; */
            /* top: 10px; */
            font-weight: 700;
            padding-left: 13px;
            height: 38px;
            top: 12px;
            box-sizing: border-box;
            // padding-right: 35px;
            position: absolute;
            width: 100%;
          }
        }
        // .grid-inner {
        //   margin-right: -4px;
        //   .input-3 {
        //     height: 50px;
        //   }
        // }
        // .grid-inner {
        //   margin-left: 4px;
        //   margin-right: -10px;
        // }
      }
      .depart-date-span {
          bottom: 11px;
          left: 13px;
          color: #000;
          font-weight: 700;
          position: absolute;
      }
      .input-date::after {
        // content: "▼";
        float: right;
        font-size: smaller;
      }
      .active-preset {
        border: 1px solid #0096d9;
        color: #0096d9;
        border-radius: 3px;
      }
      .months-text {
        padding-bottom: 17px;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        text-align: center;
        font-weight: 600;
        font-size: 13px;
      }
      .months-text {
        .ico-point-l {
          display: none;
          float: left;
          cursor: pointer;
          width: 30px;
          height: 38px;
          font-size: 17px;
          position: absolute;
          background-color: #E5E9F0;
          top: 18px;
          left: 0px;
          color: #fff;
          border-bottom-right-radius: 2px;
          border-top-right-radius: 2px;
          &:before {
            margin-top: 0.65em;
          }
        }
        .return-date-flight {
          background-color: #E5E9F0;
          padding: 7px 14px;
          border-radius: 2px;
          top: 19px;
          color: #000;
          right: 412px;
          position: absolute;
        }
      }
      .months-text {
        .ico-point-r {
          display: none;
          float: right;
          cursor: pointer;
          width: 30px;
          height: 38px;
          font-size: 17px;
          position: absolute;
          background-color: #E5E9F0;
          top: 18px;
          right: 0px;
          color: #fff;
          border-bottom-right-radius: 2px;
          border-top-right-radius: 2px;
          &:before {
            margin-top: 0.65em;
          }
        }
      }
      .calendar-root,
      .calendar-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .calendar-right-to-left {
        margin-left: -460px;
      }
      .calendar {
        display: block;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        border: 1px solid #ddd;
        width: calc(100% - 12px);
        font-size: 12px;
        height: 300px;
        top: 52px;
        right: 5px;
        // box-shadow: -3px 4px 12px -1px #ddd;
        background: #fff;
        position: absolute;
        z-index: 9;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 0 0 15px 0;
      }
      .calendar-wrap {
        li.dateDisable {
          color: #ccc;
        }
      }
      .calendar-head h2 {
        padding: 20px 0 0 20px;
        margin: 0;
      }
      .close:hover {
        cursor: pointer;
      }
      .close{
        float: right;
        padding: 0 10px;
        margin-top: -35px;
        font-size: 32px;
        font-weight: normal;
      }
      .calendar ul {
        list-style-type: none;
      }
      .calendar-wrap {
        display: inline-block;
        width: 100%;
        height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden;
      }
      .calendar-range {
        float: left;
        padding: 0 12px;
        border-left: 1px solid #ddd;
        margin: -2px;
      }
      .calendar-left-mobile {
        width: 100% !important;
      }
      .calendar_month_left {
        // float: left;
        width: calc(100% - 5px);
        /* padding: 10px; */
        padding: 20px 5px 0px;
        // height: 89%;
        border-right: 2px solid #dddddd;
        /* margin: 5px; */
        display: block;
      }
      .calendar_month_right {
        // float: left;
        width: calc(100% - 5px);
        /* padding: 10px; */
        // height: 89%;
        padding: 20px 5px 0px;
        /* margin: 5px; */
        display: block;
      }
      .calendar_weeks {
        margin: 0;
        padding: 10px 0;
        width: auto;
      }
      .calendar_weeks li {
        display: inline-block;
        width: 13.6%;
        color: #999;
        text-align: center;
      }
      .calendar_days {
        // margin: 0;
        margin: 1px 0;
        padding: 0;
        font-size: 13px;
        /* height: 34px; */
      }
      .calendar_days li {
        display: inline-block;
        width: 13.6%;
        /* width: 9.6%; */
        // width: 8.4%;
        // margin: 0 2.6%;
        color: #333;
        text-align: center;
        cursor: pointer;
        /* line-height: 2em; */
        line-height: 2.7em;
      }
      .calendar_preset li {
        line-height: 2.6em;
        width: auto;
        display: block;
      }
      .calendar_days li:hover {
        // background: #eee;
        // color: #000;
      }
      li.calendar_days--disabled{
         pointer-events: none;

         & + .calendar_days_selected {
            &:after {
                left: auto;
                right: 50%;
            }
            &.depart_date {
                &:after {
                    left: 50%;
                    right: auto;
                }
            }
         }
      }
      li.calendar_days_selected {
        // background: #00266B;
        color: #fff;
        border-radius: 20px;
        position: relative;

        &:before {
            display: block;
            content: '';
            width: 35px;
            height: 35px;
            z-index: -1;

            border-radius: 50%;
            background: #00266B;

            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
        }

        &:after {
            display: block;
            content:'';
            background-color: rgb(232, 242, 254);
            width: 50%;
            height: 35px;
            position: absolute;
            top: 0;
            left: 50%;
            z-index: -2;
        }

        &.single-date {
            &:after {
                display: none;
            }
        }

        &:first-child {
            &:after {
                left: 50%;
                right: left;
            }
        }
      }
      li.calendar_days_in-range {
        background: #e8f2fe;
        color: #000;

        & + li.calendar_days_selected {
          &:after {
              left: auto;
              right: 50%;
          }
        }
      }
      .calendar_preset {
        padding: 0;
      }
      .calendar_preset li.calendar_preset-ranges {
        padding: 0 30px 0 10px;
        margin-bottom: 5px;
        cursor: pointer;
        margin-top: 1px;
      }
      .calendar_preset li.calendar_preset-ranges:hover {
        background: #eee;
      }
      .calendar-mobile {
        width: 260px;
        z-index: 1;
        box-shadow: none;
      }
      .calendar-range-mobile {
        width: 90%;
        padding: 2px;
        border-left: none;
        margin: -20px 0;
      }
      .calendar-btn-apply {
        width: 100%;
        background: #f7931e;
        color: #fff;
        border: none;
        padding: 5px;
        font-size: 14px;
      }

    .drop-down-from-destination {
        display: block;
        // width: 510px !important;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        // top: 1164px;
        // left: 45px;
        .ui-menu-item {
            height: 25px;
            // padding: 15px 13px;
            // padding: 0px 0px !important;
            .origin-airport-name {
                -webkit-margin-before: 0em;
                -webkit-margin-after: 0em;
                margin-top: 2px;
                color: #666;
                font-size: 12px;
            }
        }
    }
    .drop-down-to-destination {
        display: block;
        // width: 510px !important;
        // top: 1164px;
        // left: 270px !important;
        .ui-menu-item {
            height: 25px;
            // padding: 0px 0px !important;
            .origin-airport-name {
                color: #666;
                margin-top: 2px;
                -webkit-margin-before: 0em;
                -webkit-margin-after: 0em;
                font-size: 12px;
            }
        }
    }
    .enable-minus-btn {
      background-color:#2275D3;
      color: #fff;
    }
    .disable-plus-btn {
        position: relative;
        background-color: #f2f2f2;
        color: #ccc;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        vertical-align: middle;
        border: none;
        padding: 0;
      }
      .disable-minus-btn {
        position: relative;
        background-color: #f2f2f2;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        vertical-align: middle;
        border: 0;
        padding: 0;
        .ico-minus {
          color: #ccc;
        }
      }
    .passengers-booking-stepper-container {
        // background-color: #FF9F00;
        width: 100%;
        background-color: #fff;
        top: 51px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 6px -2px #c5c4c4;
        padding: 10px 0;
        display: block;
        width: 100vw;
        min-height: 100vh;
        /* padding: 30px 20px; */
        margin: 0;
        .adult-booking-stepper, .children-booking-stepper {
            position: relative;
            border-bottom: 2px solid #e6e6e6;
            padding: 10px 0px;
        }
        .infants-booking-stepper {
            position: relative;
            padding: 10px 0px;
        }
        .adult-stepper-description , .children-stepper-description, .infants-stepper-description{
            color: #222;
            display: inline-block;
            vertical-align: middle;
            width: 58%;
            margin-left: 12px;
            line-height: 1;
            font-size: 14px;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            p {
                -webkit-margin-before: 0.37em;
                -webkit-margin-after: 0em;
            }
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
                -webkit-appearance: none; 
                margin: 0; 
        }
        .button-group {
          position: absolute;
          width: 95%;
          right: 9px;
          bottom: 20px;
        }
        .adult-stepper-buttons, .children-stepper-buttons, .infants-stepper-buttons {
            display: inline-block;
            vertical-align: middle;
            position: relative;
        }

        .stepper-button-minus {
            position: relative;
            border-radius: 50%;
            // height: 30px;
            // width: 20px;
            height: 30px;
            width: 30px;
            vertical-align: middle;
            background-color: #2275D3;
            color: #fff;
            border: 0;
            padding: 0;
            .ico-minus {
              color: #fff;
            }
        }

        .stepper-button-plus {
            position: relative;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            vertical-align: middle;
            border: 0;
            background-color: #2275D3;
            color: #fff;
            padding: 0;
        }

        .ico-plus, .ico-minus {
           margin: 0;
           padding: 0;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           line-height: 1em;
        }
        .passenger-stepper-input {
            width: 36px;
            height: 36px;
            margin: 0px 7px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 2px;
            color: #222;
            font-weight: 700;
            line-height: 40px;
        }
    }
    .ui-autocomplete {
        .autocomplete-item {
            .autocomplete-link {
                display: flex;
                line-height: 14px;
                .origin-city-list-container {
                    display: inline-block;
                    width: 80.5%;
                    .origin-country-name {
                        width: 70%;
                        white-space: nowrap; 
                        overflow: hidden;
                        text-overflow:ellipsis;
                        width: 98%;
                        display:inline-block;
                        // text-overflow: clip;
                        // text-overflow: ellipsis !important;
                    }
                }
                .origin-code-container {
                    // display: inline-block;
                    margin-top: 6px;
                    .origin-code { 
                        // display: inline-block;
                        // margin-top: 100px;
                        background-color: #222;
                        border-radius: 2px;
                        color: #fff;
                        font-weight: 700;
                        padding: 2px 9px;
                        // left: 100px;
                        // margin-left: 100px;
                    }
                }
            }
        }
        .drop-down-hover-select {
          background-color: #00266b;
          color: #fff;
          .origin-airport-name {
            color: #fff;
            -webkit-transition: all 500ms ease 0ms;
            -moz-transition: all 500ms ease 0ms;
            -o-transition: all 500ms ease 0ms;
            transition: all 500ms ease 0ms;
          }
          .autocomplete-link {
            .origin-country-name {
              color: #fff;
              -webkit-transition: all 500ms ease 0ms;
              -moz-transition: all 500ms ease 0ms;
              -o-transition: all 500ms ease 0ms;
              transition: all 500ms ease 0ms;
            }
            .origin-code-container {
              .origin-code {
                color: #00266b;
                background-color: #fff;
              }
            }
          }
        }
    }
    .input-3__label {
        color: #666;
        position: absolute;
        top: 17px;
        letter-spacing: 0;
        left: 13px;
        z-index: 1;
        max-width: 150px;
        text-transform: inherit;
        font-size: 16px;
        line-height: 1em;
        padding:0;
    }
    .has_selected {
        .input-3__label {
            font-weight: 700;
            font-size: 8px;
            letter-spacing: 1px;
            color: #666;
            text-transform: uppercase;

            top: 12px;
        }
    }
    .full-banner {
        position: relative;
        // display: none;
    }
    .fare-deal-banner-img {
        height: 385px;
        margin-bottom: 0px;
        // background-position: 50% 0;
        img {
            background-color: #000;
            opacity: .7;
            height: 385px;
        }
    }
    .pass-through-promotion-detail-main-container {
        max-width: 988px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .pass-through-promotion-detail-container {
        // max-width: 988px;
        // margin: 0 auto;
        zoom: 1;
        box-shadow: 0 3px 5px -3px #c5c4c4;
        .promotion-item__inner {
            margin-left: 0px;
            margin-top: 25px;
        }
    }
    .promo-code-top-desc-main {
        color: #fff;
        position: absolute;
        max-width: 988px;
        margin: 0 auto;
        top: 21px;
        left: 19px;
        bottom: 0;
        right: 20px;
        
        .applied-promo-code {
            background-color: #4A90E2;
            width: 226px;
            height: 30px;
            font-size: 12px;
            border-radius: 2px;
            .ico-check-container {
                // padding-top: 16px;
                margin-right: 5px;
            }
            .promo-code {
                font-weight: 700;
            }
        }
        .applied-promo-code-inner {
            padding-top: 7px;

            .ico-check-thick {
                width: 16px;
                height: 16px;
                color: #4A90E2;
                margin-left: 11px;
                background-color: #fff;
                border-radius: 10px;
                font-size: 8px;
            }
            .ico-check-thick:before {
                margin: 5px 4px;
            }
        }
        .promo-off-fares {
            margin-top: 10px;
            margin-bottom: 17px;
            h1 {
                font-size: 34px;
                line-height: 1em;
            }
        }
        .promo-off-fares-description {
            font-size: 18px;
            border-left: 3px solid #FF9F00;
            margin-left: 7px;
            font-weight: 300;
            em {
                font-style: normal;
                font-weight: 700;
            }
            p {
                -webkit-margin-before: 0.7em;
                padding-left: 20px;
            }
        }
        .book-now-btn {
            background-color: transparent;
            border: 1px solid #fff;
            margin-left: 7px;
            font-size: 13px;
            padding: 15px 28px 13px;
        }
    }
    .promotion-item__content {
        padding: 16px 10px 14px;
        h4 {
            border-bottom: 1px solid #00266B;
            color: #00266B;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
        .promotion-details-table {
            color: #000;
            tr:first-child td {
                border-top: none;
                // width: 150px;
            }
            td {
                // padding: 8px 0;
                // vertical-align: top;
                line-height: 1.5;
                display: block;
            }
            tr:nth-child(2) td:nth-child(2) {
                padding-bottom: 0px;
            }
            td:first-child {
                font-weight: 600;
                padding-top: 5px;
                padding-bottom: 2px;
            }
            td:last-child {
                padding-bottom: 8px;
            }
            // td:nth-child(2) {
            //     background-color: red;
            // }
        }
        .border-bottom {
            border-bottom: 1px solid #F2F2F2;
            td:last-child {
                padding-bottom: 11px;
            }
        }
        .table-row-4{
            td:first-child {
                padding-top: 25px;
            }
            td:last-child {
                padding-bottom: 0px;
            }
        }
        .table-row-6 {
            td:first-child {
                padding-top: 15px;
            }
        }
        .view-full-fare-condition {
            td:only-child {
                // padding-top: 10px;
                // padding-bottom: 25px;
                padding: 10px 0;
            }
        }
    }
    .booking-widget-static {
        // height: 228px;
        margin-bottom: 20px;
        border-bottom: none;
        box-shadow: 0 3px 5px -3px #c5c4c4;
        .booking-widget__content {
            background-color: #fff;
            // padding: 16px 34px 14px;
            padding: 6px 0px 14px;
        }
        .sub-heading-2--blue {
            border-bottom: 1px solid #00266B;
            padding-bottom: 10px;
        }
    }
    .form-booking-widget-destination {
        padding-top: 20px;
        .custom-select--2 {
            height: 50px;
        }
        .input-3 {
            height: 50px;
        }
        .select__text, .select__text_styled {
            font-size: 16px;
        }
    }
    .input-3 {
        button {
            right: 18px;
            top: 10px;
        }
    }
    .input-3__text {
        height: 50px;
        input {
            padding-left: 13px;
            font-size: 16px;
            height: 50px;
        }
    }
    .ico-date {
        color: #ccc;
    }
    .custom-select--2 {
        .select__label {
            font-weight: 700;
            color: #666;
            letter-spacing: 1px;
            top: -2px;
            max-width: 65px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 8px;
            text-transform: uppercase;
        }
        .ico-location {
            right: 23px;
            width: 9px;
            height: 8px;
            margin-top: -8px;
            position: absolute;
            top: 50%;
            // font-size: 0px;
        }
        .ico-point-d {
            right: 28px;
            width: 9px;
            // height: 8px;
            margin-top: -4px;
            position: absolute;
            top: 22%;
            font-size: 16px;
            vertical-align: top;
            color: #999;
        }
        
        .ico-airplane-2 {
            right: 6px;
            width: 9px;
            height: 8px;
            margin-top: -11px;
            position: absolute;
            top: 50%;
            // font-size: 0px;
            z-index: 10;
            display: none;
        }
        .select__text {
            padding-left: 13px;
            top: 13px;
            font-weight: 700;
            input {
                padding-left: 13px;
                height: 37px;

                &::placeholder {
                    color: #222;
                    font-weight: 400;
                    font-size: 14px;
                }
                // top: 13px;
            }
        }
        .ico-point-d {
            transition: none;
            transform: none;
        }
        .styled-code {
            background-color: #444444;
            font-size: 14px;
            padding: 3px 9px;
            border-radius: 2px;
            color: #ffffff;
            margin-left: 2px;
        }
    }
    .custom-select--2 {
        .ico-location:before {
            font-size: 15px;
            vertical-align: top;
            color: #ccc;
        }
        .ico-airplane-2:before {
            font-size: 21px;
            vertical-align: top;
            color: #ccc;
            background-color: #fff;
        }
        // .select__text {
        //     padding-left: 13px;
        //     top: 13px;
        //     input {
        //         padding-left: 13px;
        //         // top: 13px;
        //     }
        // }
    }
    .booking-widget-block {
        .customer-info {
            // width: calc(100% - 540px);
            margin-bottom: 10px;
        }
        .flight-info {
            // width: 355px;
            // padding-left: 6px;
        }
        .from-select {
            .ico-location {
                // right: 32px;
            }
            .ico-cancel-thin {
                right: 40px;
            }
        }
        .button-group {
            padding: 1px 0 0 5px;
            input {
                padding: 20px 55px;
                border-radius: 4px;
                font-size: 14px;
            }
        }
        .from-to-container {
            // margin-right: -15px;
            .one-half:first-child {
                // background-color: royalblue;
                // margin-right: -11px;
            }
        }
        .to-select {
            .select__label {
                // left: 22px;
            }
            input {
                // padding-left: 22px;
            }
        }
        .date-group {
            .one-half:first-child {
                // margin-right: -11px;
                // padding-left: 10px;
            }
            .one-half {
                // width: 52%;
            }
        }
        .width-4 {
            // width: 57%;
            width: 100%;
        }
        .width-10 {
            // width: 43%;
            width: 100%;
        }
    }
    .custom-dropdown {
        .scroll-container {
            li {
                // height: 50px;
            }
        }
    }
    .bold-text{ 
        font-weight:700
    }
    .accordion--fare-conditions {
        box-shadow: rgb(197, 196, 196) 0px 3px 5px -3px;
        margin-bottom: 67px;
        .block-2 {
            border-bottom: none;
        }
        .sub-heading-3--blue {
            // font-size: 20px;
            font-size: 23px;
            color: #00266B;
        }
        ol {
            -webkit-padding-start: 0px;
            color: #222;
            line-height: 1.5em;
            ul {
                li {
                    list-style-type: none;
                    // margin-left: 15px;
                }
                li:before {
                    content: "•";
                    font-size: 15px;
                    // padding-right: 18px;
                }
                .fare-conditions-unordered-list {
                    // color: #999;
                }
            }
            .fare-conditions-unordered-list {
                span {
                    color: #999;
                }
            }
            .list-title {
                font-weight: 600;
                display: inline;
                padding-left: 0px;
            }
        }
        .fare-condition-ordered-list-main > li {
            // padding: 20px 0 23px 0;
            padding-top: 20px;
        }
        .fare-condition-ordered-list-main > .fare-condition-list {
            list-style-type:none;
            counter-increment:item;
        }
        .fare-condition-ordered-list-main > .fare-condition-list:before {
            font-weight: 600;
            // -webkit-padding-start: 15px;
            // padding-right: 22px;
            // text-align: right;
            content:counter(item) ".";
            display:inline-block;
            // width:1.5em;
            padding-right:0.5em;
        }
        .fare-condition-list:first-child {
            padding-top: 0px;
        }
        .fare-condition-list {
            ol {
                -webkit-padding-start: 15px;
                padding-left: 33px;
            }
            ul, .other-condition-note {
                padding-left: 17px;
            }
            p {
                padding-left: 19px;
                -webkit-margin-before: 0;
                -webkit-margin-after: 0;
            }
        }
        .fare-condition-list:nth-last-child(2) {
            p {
                // white-space: pre-line;
            }
        }
        .other-condition-note {
            font-weight: 600;
            margin-top: 25px;
        }
        .accordion__content {
            padding-bottom: 15px;
            hr {
                -webkit-margin-start: -10px;
                -webkit-margin-end: -5px;
                opacity: 0.2;
            }
        }
        .accordion {
            // padding: 0px 20px 0 44px;
            padding: 0px 20px;
        }
        .accordion__control {
            padding: 12px 0px 12px 0px;
            margin-left: -10px;
            .ico-point-d {
                font-size: 16px;
                line-height: 1em;
                right: 0;
                color: #00266b;
                top: 45%;
                width: 22px;
            }

            &.active{
                .ico-point-d{
                    // top:58%;
                }
            }
        }
    }
    .sticky-bookingwidget--show {
        // background-color: #fff;
        border-left: 2px solid #FF9F00;
        .booking-widget__inner{
            background-color: #fff;
        }
        .booking-widget__content {
            padding: 24px 11px 21px;
            background-color: #fff;
        }
    }
    .data-sticky-bookingwdiget-main {
        .data-sticky-bookingwdiget-inner {
            display: table;
            .data-sticky-bookingwdiget-destination {
                display: table-cell;
                vertical-align: top;
                width: 55.5%;
            }
            .inbound-outbound-destination {
                font-weight: 700;
                font-size: 16px;
                color: #000;
            }
            .book-now-button {
                margin-left: 40px;
            }
            .book-now-btn-sticky {
                display: table-cell;
            }
        }
    }
    .stky-bookingwidget {
        border-left: 2px solid #FF9F00;
        .booking-widget__content {
            padding: 24px 11px 21px;
            background-color: #fff;
        }
    }
    .sticky-bookingwidget-pass-through--show {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .pax-lightbox-select {
        transition: opacity 0.1s ease-in;
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        .pax-inner-container {
          display: block;
          height: 0;
          max-height: 100%;
          max-width: 100%;
          min-height: 100%;
          min-width: 100%;
          width: 0;
          margin: auto;
        }
        .pax-modal-title {
          background-color: #00266b;
          color: white;
          width: 100%;
          height: 50px;
          position: relative;
          z-index: 1;
          font-size: 12px;
          text-transform: uppercase;

          .title-select-pax {
            line-height: 50px;
            text-align: center;
            margin: 0;
            padding: 0;
            font-size: 12px;
            font-weight: 700;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
          }
          .btn-modal {
            border-style: none;
            display: block;
            width: 50px;
            height: 50px;
            padding: 0;
            background-color: #153c83;
            border: 0;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 1.5em;
            color: white;
          }
          .ico-point-l {
            display: block;
            position: absolute;
            top: 12px;
            left: 12px;
          }
        }
        .pax-booking-stepper-container {
          padding: 10px 0;
          display: block;
          width: 100vw;
          min-height: 100vh;
          background-color: white;
          /* padding: 30px 20px; */
          margin: 0;

          .grp-stepper {
            display: -webkit-box;
            /* display: block; */
            position: relative;
            padding: 10px;
            border-bottom: 2px solid #e6e6e6;
          }
          .stepper-desc {
            font-size: 14px;
            color: #222;
            margin-right: 10px;
            width: calc(56% - 10px);
          }
          .stepper-btns {
            display: inline-block;
            vertical-align: middle;
          }
          .btn-stepper {
            margin-right: 10px;
            width: 30px;
            height: 30px;
            padding: 0;
            border-radius: 50%;
            font-weight: normal;
            position: relative;
            background-color: #2275d3;
            color: white;
          }
          .stepper-input {
            width: 40px;
            height: 40px;
            text-align: center;
            border-radius: 2px;
            margin-right: 10px;
            color: #222;
            font-weight: 700;
            line-height: 40px;
            border: 1px solid #0254ec;
          }
          .pax-button {
            padding: 1px 5px 0 5px;
            position: absolute;
            bottom: 19px;
            left: 7px;
            width: 94%;
          }
        }
    }
    
}
@media only screen and (max-width: 374px) {
    .pass-through-aam-page {
        .book-now-btn-sticky {
            padding: 15px 16px 13px;
        }
    }
}

[data-customselect-mobile-ignore="true"] {
    &.custom-select {
        select {
            opacity: 1;
            background: none;
            padding-left: 13px;
            top: 7px;
            font-weight: 700;
            border: 0;

            -moz-appearance: window;
            -webkit-appearance: none;
            color: black;

            visibility: visible !important;
        }

        input.input-overlay {
            display: none !important;
        }
    }

    .select__text {
        display: none;
    }
}