.pax-promo-page {
    .student-promo-selection, .work-promo-selection {
        color: #000;
        .info-box {
            margin: 10px 0px 15px 0px;
            .alert__message {
                font-weight: 700;
                color: #00266b;
                font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            }
        }


        .alert-block .alert__icon{
            vertical-align: top;
            padding: 0 20px 0 0;
        }

        .success-alert, .error-alert {
            clear: both;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .email-input-btn {
            margin-top: 5px;
        }
        .btn-1 {
            width: 100%;
            margin-top: 10px;
        }
        .grid-inner {
            padding: 0px;
        }
        .promotion-title {
            font-size: 16px;
            font-weight: 600;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        }
        .email-input-btn {
            label {
                color: #000;
            }
        }
        .text-error {
            padding-left: 0px;
        }
    }
}