.code-default, .code-notloggedin {
    .popup__heading {
        margin-top: -5px;
        margin-bottom: 17px;
        color: #00266b;     
        font-size: 34px;
        font-weight: 700;
    }
    .promo-code-header-info, .popup__text-intro {
        margin-top: -5px;
        margin-bottom: 20px;     
        color: #333;
    }
    .promo-code-header-info {
        font-size: 16px;
    }
    .popup__text-intro {
        font-size: 14px;
    }
    .promo-code-input-1 {
        width: 280px;
    }
    .form-general {
        padding-top: 0;
    }
    .code-btn {
        width: 80px;
    }
    .btn-code {
        padding: 0;
        line-height: 40px;
    }
    .error {
        .text-error {
            margin: -76px 0px 35px 0px;
        }
        .code-btn {
            margin-top: 30px;
        }
        #input-4 {
            color: #ff0000;
        }
    }
}
.code-default {
    .form--promo {
        padding-bottom: 35px;
        border-bottom: 2px solid #ccc;
    }
    .promotion-conditions-text {
        padding-top: 35px;
    }
    .title-condition {
        margin-bottom: 17px;
        font-size: 20px;
        font-family: "baker-signet-web", serif;
    }
    .static-details__content {
        padding: 20px 0px 15px 0px;
        overflow: hidden;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #E5E9F0;
        box-shadow: 0 2px 2px 0 rgba(46,68,109,0.05);
        border-radius: 4px;
    }
    .content-promo {
        .inner-code {
            position: relative;
            padding-top: 5px;
        }
        .bar-orange {
            display: block;
            width: 1px;
            height: 17px;
            border-left: 3px solid #FF9F00;
            position: absolute;
            top: 2px;
            left: 0;
        }
        h3, .promo-end, a {
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            font-weight: 700;
        }
        h3 {
            font-size: 20px;
            padding: 0px 15px 0px 20px;
            color: #222222;
            letter-spacing: 0.5px;
	        line-height: 0.8em;
        }
        p {
            padding: 5px 15px 0px 20px;
        }
        .promo-end, .promo-info {
            font-size: 10px;
        }
        .promo-end {
            color: #222222;
            letter-spacing: 0.5px;
        }
        .promo-info {
            font-size: 12px;
        }
        .promo-info {
            color: #666666;
            letter-spacing: 0;
            line-height: 15px;
        }
        a {
            float: right;
            padding: 0px 15px 0px 0px;
            font-size: 12px;
            color: #0254EC;
            letter-spacing: 1px;
            text-align: center;
        }
    }
    .middle-code-info {
        margin: 10px auto;
    }
    .error-promo-code {
        padding-bottom: 0px;
    }
}