.rmc-form, .rmc-form-1 {
	.ico-cancel-thin {
		cursor: pointer;
		position: absolute;
		top: 50%;
	    right: 10px !important;
		font-size: 12px;
		margin-top: -6px;
		line-height: 1;
		color: #000;
	}

	.grid-col.one-four {
		margin-top: 0;
	} 

	.from-to-container-1 {
		.ico-dropdown {
			display: none;
		}
	}

	.ui-autocomplete [data-value="No results found."] {
		&:hover, &:active {
			background: transparent;
			color: black;
		}	

		.autocomplete-link {
			color: black;
		}
	}	
}
