.staggered-seat-page{
    &.business-seatmap-page{
        .sub-text-1{
            :nth-child(2).dot{
                display: none;
            }
            .operated{
                display: block;
            }
        }
        .seat-status{
            li{
                margin-top: 10px;
                margin-bottom: 10px;
            }
            li:nth-child(6){
                margin-top: 20px;
                margin-bottom: 10px;
            }
            .seat{
                width:30px;
                border: none;
                background-color: transparent;
            }
            .seat-selected{
                margin-top: 0px;
                height: 30px;
                background: url('../images/staggered-seat-legend-selected.png') no-repeat;
            }
            .seat-free{
                &.left-console{
                    background: url('../images/staggered-seat-legend-left.png') no-repeat;
                }
                &.right-console{
                    background: url('../images/staggered-seat-legend-right.png') no-repeat;
                }
            }
            .seat-occupied{
                margin-top: 0;
                background: url('../images/staggered-seat-legend-not-available.png') no-repeat;
            }
            .l-text{
                width:75%;
                line-height: 20px;
            }
            .ico-1-bassinet{
                width: 30px;
            }
            
        }
        .tooltip{
            .tooltip__content{
                border-right: 1px solid #cccccc;
                border-left: 1px solid #cccccc;
                border-top: 1px solid #cccccc;
            }

            p{
                margin-bottom: 10px;
            }
            .staggered_tooltip_msg{
                font-size: 14px;
                color: #000;
                margin-top: 0;
            }
        }
    }
    .seatmap--business .seat{
        margin-left: unset;
        margin-right: unset;
    }
    .seatmap-facility-lift.has-staggered{
        .seatmap-rownum{
            top:30px;
        }
    }
    .seatmap-row-block.colgrp-nofacil{
        .seat{
            margin-left:0;
            margin-right:0;
        }
    }
    .seat.seat-occupied.seat-char-bassinet.seat-char-staggered{
        &:before{
            top: -95%;
        }
    }
    .seatmap-cabin-row.seatmap-row--empty.seatmap-facility-row.seat-inner-galley.has-space-forbass{
        margin-bottom: 20px;
    }
    div[data-seatchar*="L"][data-seattype*="Staggered seat"]{
        background-image: url('../images/staggered-left.png');
        &.seat-char-staggered{
            height: 50px;
            width: 65px;
            background-size: 95%;
            background-repeat: no-repeat;
            border: none;
            padding-left: 17px;
            padding-top: 3px;
            background-color: transparent;
        }
        &.seat-free{
            background-color: transparent;
        }
        &.seat-selected{
            background-image: url('../images/staggered-left-selected.png');
            background-color: transparent;
            &:hover{
                color: #00266b;
            }
        }
        &.seat-occupied{
            background-image: url('../images/staggered-left-occupied.png');
        }
    }
    div[data-seatchar*="R"][data-seattype*="Staggered seat"]{
        background-image: url('../images/staggered-right.png');
        &.seat-char-staggered{
            height: 50px;
            width: 65px;
            background-size: 95%;
            background-repeat: no-repeat;
            border: none;
            padding-right: 28px;
            padding-top: 3px;
            background-color: transparent;
        }
        &.seat-free{
            background-color: transparent;
        }
        &.seat-selected{
            background-image: url('../images/staggered-right-selected.png');
            background-color: transparent;
            &:hover{
                color: #00266b;
            }
        }
        &.seat-occupied{
            background-image: url('../images/staggered-right-occupied.png');
        }
    }
}