.seatmap-double-bed{
    .seat{
        transition-property: background-color, border-color, color;
        transition-duration: 0.4s;
        transition-timing-function: ease;

        font-weight: 700;

        box-sizing: border-box;
        border: solid 3px transparent;

        &.seat-occupied {
            background-color: #cccccc;
        }

        &.seat-preselected.seat-free {
            font-weight: 400;
        }

        &.seat-selected{
            background-color: #fff;
            border: 3px solid #2e76fc;
            color: #00266b;
    
            span{
                color: #00266b;
            }

            &:hover {
                background-color: #0254ec;
                color: #fff;
            }
        }
    }

    .seatmap-columnletter, .seat {
        width: 60px;
        height: 35px;
        line-height: 2.1em;
        font-size: 14px;
    }
    // .seat-char-bassinet:before {
    //     top: -130%;
    // }
    .tooltip.tooltip-2.tooltip--seat-1.double-bed-seat{
        .ico-preferred{
            &::before{
                content: "";
            }
            background-image: url('../images/svg/doublebed-icon.svg');
            background-size: 30px 35px;
            background-repeat: no-repeat;
            background-position: 50%;
            margin-top: -4px;
            color: transparent;
        }
    }
    .tooltip.tooltip--info{
        .tooltip__close {
            padding: 8px;
            font-size: 8px;
        }
    }
    .cabin-highlights{
        img{
            width: 100%;
        }

        .tile-heading{
            font-size: 16px;
            color: #00266b;
            font-weight: 600;
            margin-top: 12px;
        }
        .tile-text{
            // top: 20%;
            color: black;
            line-height: 19px;
        }

        .text-block{
            // width: 48%;
            background-color: transparent;
            border: none;
            // float: right;
            padding: 0;
            height: auto;
            margin: 0;
        }

        hr {
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
    .blk-heading{
        .dot {
            height: 4px;
            width: 4px;
            background-color: #403f3f;
            border-radius: 50%;
            position: relative;
            display: inline-block;
            margin: 2px 5px;
        }
    }
    
    &.business-seatmap-page{
        .seat-free-w-divider{
            background-color: #41709e;
        }
        div[data-seatchar*="P"]{
            &.seat.seat-free{
                background-color: #477aaf;
            }
        }
        .seat.seat-selected{
            background-color: white;
        }
        .seat.seat-preselected.seat-free {
            color: #053a76;
        }
    }
    &.first-seatmap-page{
        .seat-free {
            background-color: #b08f62;
            border: none;
        }
        .seat-status li .ico-1-info-round-fill {
            margin-left: 5px;
            margin-top: -3px;
        }
        .seat.seat-preselected.seat-free {
            color: #b08f62;
        }
    }

    .seat-occupied{
        background-color: #cccccc;
        border: none;
    }
    .passenger-info__seat {
        background-color: #ffffff;
        color: #00266b;
        border: 3px solid #2e76fc;
    }
    .booking-nav__item.active .passenger-info span {
        color: #00266b;
        font-size: 14px;
        font-weight: 600;
    }

    .seat-selected{
        background-color: #fff;
        border: 3px solid #2e76fc;
        color: #00266b;
    }

    .booking-nav__item .ico-point-r{
        color: #2e76fc;
    } 

    .seat-status{
        em.ico-point-r{
            width: auto;
            height: auto;
        }
        .seat.seat-selected {
            box-sizing: unset;
            width:16px;
            height:16px;
        }
        .seat-free-w-divider, .seat-free {
            border: none;
        }

        .legend{
            color: #000;
            font-size:12px;
            text-align: left;
            width: 100%;
        }
        
        .l-text{
            color: #000;
        }

        .seat, em{
            margin-left: 0;
            margin-right: 5px;
            width: 20px;
            height: 20px;
            box-sizing: unset;
            // border: 3px solid transparent;
        }
    }
    .seat-free-w-divider ~ span{
        width: 88%;
        line-height: 20px;
    }

    div[data-seatchar*="P"]{
        background-image: url('../images/svg/doublebed-icon.svg');
        background-size: 20px 28px;
        background-repeat: no-repeat;
        background-position: 50% 36%;
        color: transparent;
        font-size: 0;

        &.seat-selected {
            color: transparent;
        }
       
        span{
            display: none;
        }
    }

    .seat-free-w-divider.double-bed{
        width:20px;
        height:22px;
        vertical-align: middle;
        background-image: url('../images/svg/doublebed-icon.svg');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: 50%
    }
    .seat-status .ico-1-bassinet{
        line-height: 22px;
        margin-top: -4px;
    }
    
    .seat-status .ico-1-info-round-fill{
        margin-left: 2px;
        margin-right: 0;
    }
    .view-cabin{
        .ico-point-r{
            font-size: 6px;
            color: #0254ec;
            margin-right: 0;
        }
    }
    
    .seat-deck {
        min-width: 380px;
    }

    .seatmap--business, .seatmap--first {
        .seatmap-row-block[data-col="1"] {
            width: 80px;
        }
        .seatmap-row-block[data-col="2"] {
            width: 160px;
        }
        .seat, .seatmap-columnletter, .seatmap-columnletter-empty {
            width: 60px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .seatmap--first {
        .seat-preselected.seat-free {
            line-height: 2.5em;
        }
    }
    
    .seatmap-content {
        margin-top: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        overflow-y: hidden;
    }

    .seat-deck {
        width: 100%;
        padding-left: 35px;

        &.active {
            position: relative;
            display: inline-block;
            top: auto;
            left: auto;
        }
    }

    .seatmap-cabin {
        padding-bottom: 20px;
    }

    .seat-inner-bassinet {
        .seatmap-rownum {
            top: 45px;
        }
    }

    .seatmap-rownum {
        font-size: 14px;

        &.left {
            right: 100%;
        }

        &.right {
            padding-right: 15px;
            left: 100%;
        }
    }

    .leftWing.seatcol-hasbassinet, .has-nospace .rightWing.seatcol-hasbassinet {
        margin-top: 24px;
    }

    .seatmap-galley, .seatmap-exit {
        height: 33px;
        line-height: 33px;
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .seat-char-bassinet:before {
        font-size: 35px;
        top: -110%;
    }

    .seatmap-galley {
        .ico-1-assistance {
            font-size: 17px;
        }

        .ico-1-toilet {
            font-size: 21px;
        }
    }

    .seat-aisle {
        width: 25px;
    }

    .seatmap-facility-lift .seat-aisle, .seat-inner-bassinet .seat-aisle, .seat-row-hasexit.has-space-forbass.seatmap-facility-lift .seat-aisle, .seat-row-hasexit.seat-inner-bassinet .seat-aisle {
        height: 90px;
    }

    .seatmap-galley.icon-only em:before, .seatmap-galley.has-handicap em:before {
        vertical-align: top;
        line-height: 34px;
    }
    
}