.fare-tabs {

    br {
        display: none;
    }
    
    .table-1 th, .table-1 td {
        padding-left: 20px;
        padding-right: 20px;
    }

    .tab {
        .tab-item {
           &.active {
                a {
                    border-top-color: #f99f00;
                }
            }
        }
    }

    .hidden-mb-1 {
        display: none;
    }

    .show-mb-1 {
        display: block;
    }

    .fare-table {
        .fare-title {
            color: #00266b;
        }

        .th-width {
            width: 22%;
        }

        .th-width-1 {
            width: 24%;
        }

        .th-width-2 {
            width: 29%;
        }

        td {
            vertical-align: top;
        }

        .fare-description, .fare-title {
            sup {
                font-size: 8px;
            }
        }

        .ico-info-round-fill {
            position: relative;
            font-size: 14px;
            color: #9e9fa0;
            margin-top: -5px;

            &:before {
                position: relative;
                z-index: 1;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0.4em;
                left: 0.4em;
                z-index: 0;
                width: 0.7em;
                height: 0.7em;
                background: #fff;
                -webkit-border-radius: 50% 50%;
                -moz-border-radius: 50% 50%;
                -o-border-radius: 50% 50%;
                border-radius: 50% 50%;
            }
        }

        .fare-tooltip {
            margin-left: 0;
        }

        .table-margin {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    td:last-child {
        padding-top: 5px;
    }
}

.tabs-fare {
    input {
        &.input-overlay {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}
