.kf-flows{
    .kf-create-password{
        img.pin-eye-icon {
            top: 11px;
            right: 12px !important;
        }
    }
    .kf-reset-password--heading{
        font-size: 33px;
        color: #09236e;
        padding-bottom: 24px;
        font-family: 'sigvar', serif;
        font-weight: 300;
        letter-spacing: 0.02em;
    }
    .kf-reset-password.gigya-style-modern {
        .gigya-layout-row{
            .gigya-composite-control.gigya-composite-control-textbox{
                label.gigya-label{
                    padding-top: 110px;
                }
            }
        }
        .kf-login-email-field{
            label.gigya-label{
                padding-top: 0px !important;
            }
        }
        .gigya-screen .gigya-composite-control.gigya-composite-control-label.main-text{
            font-size: 16px;
            padding-bottom: 32px;
            color: #010101;
            line-height: 1em;
        }
        .gigya-screen.portrait{
            width: 100% !important;
            margin: 0px !important;
            position: relative;
        }
        .gigya-composite-control.gigya-composite-control-link{
            display: block;
            font-size: 14px;
        }
        .gigya-composite-control.gigya-composite-control-submit.submit-wrapper{
            padding-top: 30px;
            .gigya-input-submit{
              
                position: absolute;
                right: 0px;
                border-radius: 2px;
            }
        } 
        .gigya-screen .gigya-composite-control.gigya-composite-control-textbox .gigya-label{
            line-height: 0.8em;
            padding-bottom: 10px;
        }
        .gigya-layout-row{
            .gigya-composite-control.gigya-composite-control-label{
                padding-top: 19px;
                padding-bottom: 18px;
                padding-left: 70px;
                background-color: #e5eaf0;
                font-size: 14px;
                color: #021d6e;
                margin-bottom: 21px;
                padding-right: 20px;
                position: absolute;
                    .ico-info-round-fill{
                        left: -68px;
                        font-size: 30px;
                        color: #00266b;
                        line-height: 0.8px;
                        padding-bottom: 3px;
                        padding-left: 20px;
                        padding-right: 18px;
                        padding-top: 17px;
                        background-color: #e5eaf0;
                        top: 0;
                        left: 0;
                        &:before{
                            margin: 0;
                            
                          
                        }
                        position: absolute;
                    }
            }
        }
        .gigya-screen .gigya-label-text{
            font-size: 15px;
            color: #333333;
        }
        .gigya-composite-control.gigya-composite-control-label{
            font-size: 14px;
            color: #001f6d;
        }
        .gigya-composite-control.gigya-composite-control-textbox.email-wrapper{
            padding-bottom: 17px;
            .gigya-input-text{
                margin-bottom: 13px;
            }
        }
        .gigya-screen .gigya-composite-control.gigya-composite-control-textbox input{
            margin-bottom: 5px;
        }
        .gigya-screen.portrait{
            padding: 0px;
            
        }
    }
    .kf-create-password.gigya-style-modern{
        label.gigya-composite-control.gigya-composite-control-label.main-text.gigya-message.letter-spacing-s.sub-heading-1--blue{
            font-size: 33px;
            color: #09236e;
            padding-bottom: 24px;
            font-family: 'sigvar', serif;
            font-weight: 300;
            letter-spacing: 0.02em;
        
        }
        input.gigya-input-submit{
			border-radius: 2px;
		}
        .gigya-screen.portrait{
            width: 100% !important;
            margin: 0px !important;
            position: relative;
        }
        .gigya-spacer{
            padding: 0px;
            height: 0;
        }
        
        
        .gigya-label{
            padding-bottom: 7px;
            .gigya-label-text,.gigya-required-display.gigya-reset{
                line-height: 1em;
            }
        }
        .gigya-composite-control.gigya-composite-control-submit{
            display: block;
        }
        label.gigya-composite-control.gigya-composite-control-label.pin-eye-description{
            font-size: 14px;
            padding-bottom: 13px;
            line-height: 1.4em;
            font-family: "proxima-nova", sans-serif;
        }
        .gigya-input-password{
            margin-bottom: 5px;
        }
    }
	.kf-change-password-confirm{
        .gigya-screen.portrait{
            width: 100% !important;
            margin: 0px !important;
            position: relative;
        }
        input.gigya-input-submit{
            background-color: #00266b;
            font-size: 12px;
            line-height: 1em;
			width: 100%;
			border-radius: 2px;
        }
        a.gigya-composite-control.gigya-composite-control-link.resetpin-success-login-button{
            left: 0;
            position: absolute;
            width: 100%;
        }
        .gigya-layout-cell{
            width: 100%;
        }
        label.gigya-composite-control.gigya-composite-control-label.main-text.gigya-message.letter-spacing-s.sub-heading-1--blue{
            font-size: 33px;
            color: #09236e;
            padding-bottom: 23px !important;
            font-family: 'sigvar', serif;
            font-weight: 300;
            letter-spacing: 0.02em;
        }
        label.gigya-composite-control.gigya-composite-control-label{
            font-size: 16px;
			color: #010101;
            padding-bottom: 27px;
            font-style: normal;
        }
    }
    .kf-update-password-success{
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
        overflow: hidden;
        padding-top: 30px;
        .update-password-group{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(1fr 1fr));
            grid-template-rows: 1fr;
            grid-template-areas: "icon-info password-update";
            padding: 20px;
            background-color: #e5eaef;
        }

        .ico-info-round-fill{
            grid-area: icon-info;
            padding-left: 8px;
            padding-right: 20px;
            font-size: 30px;
            color: #00266b;
            &:before{
                margin: 0;
                padding-bottom: 5px;
                
            }
        }
        .ico-point-r{
            font-size: 7px;
            margin-top: -3px;
            &:before{
                margin: 0;
            }
        }
        .update-password-details{
            line-height: 1.4em;
            padding: 0;
            margin: 0;
            padding-bottom: 10px;
        }   
        .update-password-close{
            line-height: 1em;
            padding: 0;
            margin: 0;
        }
    }
    .popup-update-password{
        span.gigya-error-msg.gigya-error-code-400009.gigya-error-msg-active{
            text-align: inherit;
        }
        input.gigya-input-submit{
			font-weight: 700;
		}
        .gigya-input-password{
            border-radius: 2px;
        }
        div#gigya-password-change-required-screen{
            padding-top: 0px;
            margin-top: 37px;
        }
        label.gigya-label-text.gigya-composite-control.gigya-composite-control-label.main-text{
            font-size: 22px;
            font-family: 'sigvar', serif;
            color: #00236d;
            line-height: 1em;
            padding-bottom: 14px;
            font-weight: 300;
            letter-spacing: 0.02em;
        }

        .gigya-layout-row:first-child{
            position: relative;
        }
        .update-pin-prompt{
            background-color: #e5e9f0;
            color: #001f6d;
            font-size: 14px;
            line-height: 1.4em;
            padding: 20px; 
            .ico-info-round-fill{
                color: #00266b;
                float: left;
                font-size: 32px;
                margin-top: 5px;
            }
            p{
                margin-left: 52px;
                font-size: 14px;
                color: #00266b;
            }
        }
        .popup__content{
            padding-top: 70px;
            padding: 0px;
            margin: 0px;
        }
        .gigya-screen.portrait{
            width: 100%;
            padding: 40px;
            padding-top: 72px;
        }
        .kf-update-password {
            .gigya-screen-caption{
                background-color:black;
                display: none;
            }
        }
        .gigya-composite-control.gigya-composite-control-submit{
			
            right: 0;
            width: 100%;
            padding-bottom: 4px;
            padding-top: 9px;
            input.gigya-input-submit{
                text-transform: uppercase;
                font-size: 12px;
                background-color: #00266b;
                font-weight: 600;
            }
        }
        label.gigya-composite-control.gigya-composite-control-label.pin-eye-description{
            font-style: italic;
            font-size: 14px;
            line-height: 1.4em;
            font-family: "proxima-nova", sans-serif;
            color: #666666;

        }
        .gigya-screen .gigya-composite-control.gigya-composite-control-password{
			padding-bottom: 7px;
            width: 100%;
            
            .gigya-label-text{
                color: #333333;
                font-size: 15px;
            }
        }

        .gigya-composite-control.gigya-composite-control-password.user-pin.confirmpass{
            padding-bottom: 7px;
            position: relative;
            .gigya-label-text{
                padding-top: 10px;
                color: #333333;
                font-size: 15px;
            }
            .pin-eye-icon{
                top: 45px;
            }
        }
        .user-pin.confirmpass{
            label.gigya-label{
                padding-top: 0px !important;
            }
        }
        .gigya-screen .gigya-required-display{
            color: #333333;
            padding: 0;
		}
		div#gigya-password-change-required-screen{
            padding-top: 0px !important;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 45px;
        }
        
    }
    .kf-update-phone-pin{
        padding: 30px 10px 50px;
        img.pin-eye-icon{
            top: 11px;
        }
        button.btn.btn-1{
            top: 20px;
        }
        .form-group.confirm-pass-input{
            display: block;
            margin-left: 0;
        }
        .terms-and-conditions-prompt{
            position: relative;
            margin-top: 25px;
            margin-bottom: 30px;
            label{
                font-size: 14px;
                color: black;
                line-height: 1.1em;
                // &:after{
                //     content: '\e610';
                //     font-family: 'sia';
                //     font-weight: bold;
                //     color: #ef9a1a;
                //     position: absolute;
                //     top: -1px;
                //     left: 2px;
                //     display: none;
                //     font-size: 14px;
				// }
				// &:before{
				// 	top: 0px;
				// }
            }
        }
        .reminder-password{
            p{
                font-size: 14px;
                color: #666666;
            }
        }
        .submit-btn{
            position: relative;
            float: none;
            display: block;
            margin-top: 0;
            margin-bottom: 10px;
        }
        .payment-currency{
            padding: 20px;
        }
        input#submit-1{
            position: static;
            &.disabled{
                background-color: #999 !important;
                color: #dddddd !important;
            }
        }
        a.see-more-btn{
            position: static;
            margin-top: 0;
        }
        .gigya-composite-control.gigya-composite-control-submit.save-button{
            input.gigya-input-submit{
                border: 0 !important;
            }
        }
    }
    .kf-act-update-password{
        .gigya-composite-control.gigya-composite-control-submit.save-button{
            input.gigya-input-submit{
                border: 0 !important;
                margin-top: 20px;
                margin-bottom: -10px;
            }
        }
        p.smii-sub-title {
            margin-bottom: 20px !important;
        }
        label.gigya-required-display.gigya-reset{
            margin: -1px;
        }
        img.pin-eye-icon {
            right: 15px;
        }
        .screenset-container.update-password{
            padding-top: 0px;
        }

        .gigya-layout-ro.ui-sortablew {
            margin-bottom: 20px;
        }
        .gigya-composite-control.gigya-composite-control-password.current-pwd-field {
            span.gigya-label-text{
                color: #666;
            }
        }
        label.gigya-composite-control.gigya-composite-control-label.password-desc {
            font-style: italic;
            font-size: 12px;
            margin-bottom: 20px;
            color: #666666;
            margin-top: 10px;
        }
        .gigya-composite-control.gigya-composite-control-checkbox{
            margin: 0;
            padding: 20px;
            background-color: #e5e9f0;
            font-size:14px;

            a{
                font-size: 14px;
                color: #0254ec;
            }
        }
        label.gigya-composite-control.gigya-composite-control-label.cancel-button{
            padding: 14px 22px;
            background-color: #6c7577;
            border-radius: 2px;
            position: relative;
            display: block;
            text-align: center;

            b{
                font-size: 12px;
                letter-spacing: 0.1em;
                font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                text-transform: uppercase;
                color: #ffffff;
            }
        }
    }
    .create-pwd-block{
        img.pin-eye-icon{
            right: 12px;
        }
    }
}   
@media screen and (min-width: 568px) {
    .kf-flows .popup.popup--kf-flows-update-password .ico-info-round-fill{
        padding-bottom: 43px !important;
    }
    .kf-flows .popup.popup--kf-flows-update-password label.gigya-composite-control.gigya-composite-control-label:nth-child(2){
        line-height: 1.4em;
    }
}
// @media screen and (min-width: 667px){

// }
@media screen and (min-width: 375px) {
    .kf-flows .popup.popup--kf-flows-update-password .ico-info-round-fill{
        padding-bottom: 62px;
    }
}