.smii-ru-profile-page {
    .gdpr-block-label{
        a{
            color: #566a8f;
        }
        .smii-text-no {
            padding-bottom: 10px;
        }
    }
    .sub-heading-2--blue {
        font-size: 24px;
    }
    .masthead, .top-info {
        .slide__left-desc {
            padding-top: 25px;
            .smii-slide__text {
                font-size: 28px;
            }
        }
        .smii-slide__text-info {
            font-size: 14px;
        }
    }
    .masthead .menu-block .menu__select .ico-dropdown {
            top: 15px;
            right: 10px;
    }

     .tooltip__close {
        font-size: 10px;
    }
    .smii-text-no{
        padding-bottom: 20px;
    }
    .menu .menu-bar > ul .logged-in .popup__heading p {
            margin: 0 0 17px;
    }

    .smii-blk-head {
        .main-heading {
            font-size: 33px;
        }
    }
    .smii-main-inner {
        margin: 40px auto 100px;
    }
    .slick-track {
        display: inline;
    }
    .slick-dots {
        .ico-point-r {
            visibility: hidden;
        }
    }
    .slide__text.slide__text--style-2 {
        display: -webkit-inline-box;
    }
    .active {
        .smii-body-info {
            color: #02266b;
            font-weight: 600;
        }
        .smii-head-info {
            color: #fff;
            font-weight: 600;
        }
    }
    .profile-info-container {
        padding: 20px 20px 0px 20px;
        margin-bottom: 30px;
        border-bottom: 2px solid rgb(204, 204, 204);
        background-color: #fff;
    }
    .block--earn-in-the-air {
        background-color: #fff;
        height:100%;
        padding-bottom: 30px;
        margin-top: 45px;
    }
    .blk-heading {
        margin-bottom: 20px;
    }
    .smii-required {
        font-size: 12px;
    }
    .smii-head{
        th{
            padding-bottom: 15px;
        }
    }
    .battery-table{
        tbody{
            tr{
                line-height: 1em;
                td{
                    padding-bottom: 7px;
                }

            }
        }
    }
    .form-confirm-detail {
        margin-top: 30px;
    }
    .title-condition {
        margin-top: 31px; 
        margin-bottom: 15px;
        font-size: 18px;
        color: #00266b;
        font-weight: 600;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    }
    .title-condition{
        margin-top: 28px;
    }
    .title-condition.title-inner {
        margin-top: 0px !important;
        margin-bottom: 25px;
    }
    .info-details { 
        padding: 10px 0px;
    }
    .profile-menu {
        padding: 15px 0px;
        .title{
            margin-top: 15px;
            margin-bottom: 18px;
        }
    }
    .smii-image {
        height: 250px;
    }
    .description-1 {
        padding: 0px 10px;
    }
    .smii-list {
        padding-left: 15px;
        line-height: 1.5;
        font-size: 16px;
    }
    .button-group {
        margin-top: 10px;
        btn-1 {
            width: 98%;
        }
    }
    .first-smii {
        width: 35%;
    }
    .last-smii {
        width: 15%;
    }
    .smii-table-head {
        color: #000000;
        font-size: 13px;
        text-align: left;
    }
    .popup-menu {
        margin-top: 40px;
        margin-bottom: 10px;
        p {
            font-size: 14px;
        }
    }
    .ico-check-thick {
        font-family: 'sia';
        font-weight: bold;
        color: #ef9a1a;
        font-size: 14px;

          &:before {
            font-weight: bolder;
        }
    }
    .list-confirm {
        padding-bottom: 10px;
        .smii-text, .smii-table-head, .first-smii{
            font-size: 14px;
        }
        .smii-date-text {
            word-spacing: .5em;
        }
    }
    .description-1-smii {
        .smii-list, .detail {
            font-size: 14px;
            color: #000000;
        }
        .button-group {
            margin-top: 20px
        }
    }
    .inner-centered {
        span {
            font-size: 15px;
            color: #000000;
        }
    }
    .menu-sub-outer {
        .popup__heading {
            .popup__heading-top {
                margin-bottom: 45px;

                .sub-heading-3--dark {
                    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                    font-weight: 700;
                }
            }
        }
    }

    .menu .menu-bar > ul .logged-in .popup__heading p {
        margin: 0 0 20px;
    }

    .menu .menu-bar > ul .logged-in .btn-1 {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif ;
        letter-spacing: 1px;
        padding: 12px;
    }

    .masthead {
        .top-info {
            padding:2px 0 25px;
        }
    }

    .logged {
        .profile-pic {
            .status {
                .status-content {
                        position: relative;
                        top: 42px;
                        left: 0;
                        margin-left: 0;
                }
                .ico-point-r {
                    position: relative;
                    top: 64px;
                    margin-top: 0;
                    margin-right: 2px;
                    float: right;
                }
            }
        }
    }
}