.inline-component,
.sticky-component {
	background-color: #ffffff;
	padding: 20px;
	position: relative;

	p {
		color: #00266b;
		font-size: 16px;
		font-weight: 600;
		margin: 0 0 20px;
	}

	.btn-1 {
		width: 100%;
	}
}

.sticky-bar {
	position: fixed;
	bottom: 0;
	width: 100%;
	box-shadow: 2px 0 12px #999;
	padding: 20px 0;
	z-index: 12;
	-webkit-transition: transform 0.6s ease-out;
	-moz-transition: transform 0.6s ease-out;
	-o-transition: transform 0.6s ease-out;
	transition: transform 0.6s ease-out;

	.inner-aside {
		padding: 0 20px;
	}

	&.sticky-component--btm {
		bottom: 0;
		-webkit-transform: translateY(110%);
		-moz-transform: translateY(110%);
		-o-transform: translateY(110%);
		transform: translateY(110%);
	}

	&.sticky-component--show {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}
