.video-block-grid {
    width: 100%;
    margin-bottom: 0px; 
    margin-top: 20px;

    .wrap-video {
        display: block;
        width: 100%;
        height: auto;
    }

    .wrap-video-left {
        background-color: #fff;
        margin-bottom: 20px;
    }
    .wrap-video-right {
        width: 100%;
        height: auto;
        background-color: #fff;
    }
    iframe {
        width: 100%;
        height: auto;
        min-height: 200px;
        border: 0;
    }
    .inner-text {
        padding: 20px;
    }
    .video-title {
        font-size: 18px;
        color: #00266b;
        margin-bottom: 8px;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-weight: 600;
    }
}
