.voucher {
  &__heading {
    display: block;
    font-weight: 700;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 18px;
    color: #00266b;
    margin-top: 30px;
  }

  &__icon{
    &:before {
      content: '';
      width: 35px;
      height: 35px;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      margin-right: 10px;
    }

    &--double {
      &:before {
        background-image: url('../images/icon-2x.png');
      }
    }

    &--seat {
      &:before {
        background-image: url('../images/icon-seat-upgrade.png');
      }
    }
  }

  &__group {
    margin-top: 10px;
    box-shadow: 1px 1px 1px #f5eded;

    &__error {
      margin-bottom: 10px;
      background-color: #fff1f0;
      padding: 16px 10px;

      .ico-close-round-fill:before{
          color: red;
      }

      & .alert__icon {
        padding: 0px 10px 4px 0;
      }
    }

    &__detail {
      position: relative;
      background-color: #fff;
      padding: 10px;

      &__use-voucher {
        width: 100%;

        & .btn-1 {
          width: 100%;
          font-weight: 600;
          margin-top: 20px;
        }

        & .btn-2 {
          width: 100%;
          font-weight: 600;
          margin-top: 20px;
        }
      }

      &__voucher-disable {
        margin-top: 10px;

        & .btn-2 {
          width: 100%;
          font-weight: 600;
        }
      }

      &__title {
        color: #00266b;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        margin-top: 0px;
        margin-bottom: 5px;
        align-items: center;

        br {
          display: none;
        }
      }

      &__voucher-time {
        font-size: 12px;
        color: #022a67;
        display: block;
        margin: 0;
      }

      &__voucher-code {
        text-transform: uppercase;
        background-color: #e5eaf0;
        font-size: 12px;
        font-weight: bold;
        padding: 6px 12px;
        border-radius: 3px;
        color: #00266b;
        font-weight: 600;
        margin-top: 3px;
        margin-bottom: 10px;
        display: inline-block;
        clear: both;
      }

      &__link {
        margin: 30px 0 10px 0;
        display: block;

        .ico-point-r::before {
          font-size: 6px;
          margin-bottom: 3px;
        }

        &--padding {
          padding-right: 30px;
        }
      }
    }

    &-how {
      display: inline-block;
      margin: 0;
    }

    &-term {
      float: right;
      margin: 0;
    }
  }

  &__show-all {
    text-align: center;
    display: table;
    margin: 18px auto 0;
  }

  &__btn {
    &--disabled {
      background-color: #a8a8a8;
      color: #e5e5e5;
      pointer-events: none;

      & .ico-info-round-fill::before {
        color: #fff;
        pointer-events: auto;
        margin-top: -3px;
        font-size: 13px;
      }
    }
  }
}
