.where-we-fly{
    .accordion .accordion__control .ico-point-d {
        top: 47%;
        right: 0;
    }
    .accordion {
        padding: 0 20px;
    }
    .main-heading{
        font-size: 33px;
    }
    .tooltip .tooltip__content {
        background-color: #fff;
        padding: 25px 20px 20px;
        width: 142px;
    } 
    .tooltip__close {
        font-family: "sia";
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 1;
        z-index: 10;
        padding: 8px;
        font-size: 9px;
        color: #000;
        font-weight: 500;
        -webkit-transform: translate3d(0, 0, 0);
    }
    .task-main-container{
        .main-text{
            color: black;
            font-size: 16px;
        }

        .map {
            background-color: #fff;
            border-bottom: 2px solid #ccc;
            margin-top: 37px;
            margin-bottom: 37px;
            .top-text {
                display: none;
            }
            .map-display {
                height: 187px;
            }
        }
        .legend-list{
            margin-top: 10px;
            // float: right;
            // margin-top: -22px;
            li{
                list-style-type: none;
                display: inline-block;
                // padding-left: 15px;
                font-size: 14px;
                position: relative; 
                // margin-bottom: 5px;
                margin-right: 10px;


                span{
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin-right: 3px;
                }
            }
        }

        .view-by-list{
            .main-heading{
                font-size: 22px;
            }
        }

        .scoot-legend{
            background-color: #ffdd30;
        }

        .silkair-legend{
            background-color:#037673;
        }

        .sq-legend{
            background-color: #05216b;
        }

        .codeshare-legend{
            background-color: #c27e33
        }

        .accordion-list{
            ul{
                
                margin: 0;
    
                li{
                    list-style-type: none;
                    margin-bottom: 8px;

                    a{
                        margin-right: 5px;
                    }
                }
    
                span{
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin-right: 3px;
                }
            }
        }

    }
    .accordion-component {
        margin-top: 24px;

        .sub-heading-3--dark{
            color: #00226b;
        }

        em{
            color: #0254ec;
            top: 42%;
        }
    }

    .accordion__control {
        padding: 15px 27px 15px 0;
    }
    .custom-tooltip {
        text-align: center;
        padding: 20px;
        .content , .tooltip-header {
            display: none;
        }
        .view-pdf-map-network {
            font-size: 14px;
            font-weight: 700;
        }
    }
}
@media only screen and (max-width: 374px) {
    .where-we-fly {
        .task-main-container {
            .map {
                .map-display {
                    height: 179px;
                }
            }
        }
    }
}
@media only screen and (min-width: 376px) {
    .where-we-fly {
        .task-main-container {
            .map {
                .map-display {
                    height: 208px;
                }
            }
        }
    }
}
@media only screen and (max-width: 320px) {
    .where-we-fly {
        .task-main-container {
            .map {
                .map-display {
                    height: 158px;
                }
            }
        }
    }
}