* {
    box-sizing: border-box;
}

section {
    position: relative;
    display: block
}

.wrap-control {
    width: 988px;
    position: relative;
    margin: 0 auto;
}

.content-block {
    position: relative;
    background-color: white;
    margin-bottom: 38px;
}

.content-block_title {
    font-size: 20px;
    color: #00266B;
    letter-spacing: 0;
}

.aside-block {
    position: relative;
    margin-bottom: 38px;
    padding: 30px;

    background: #FFFFFF;
    border: 1px solid #E5E9F0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.03);
    border-radius: 2px;
}

.content-block_title--w-btn-grp {
    line-height: 30px;
    display: inline-block;
}

.inline-buttons-wrap {
    position: relative;
    display: inline-block;
}

.inline-buttons-wrap--right {
    float: right;
    line-height: 30px;

    .button--inline {
        margin-left: 10px;
    }

    .ico-point-r {
        padding-left: 7px;
    }
}

.inline-disc {
    background-color: #00266B;
    display: inline-block;
    vertical-align: middle;   

    width: 5px;
    height: 5px;

    border-radius: 50%;
}
