.button, button {
    border: 0;
    background: none;
}

.button--inline {
    background: #2275D3;
    border-radius: 2px;

    min-height: 30px;

    padding: 7px 12px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1em;
    color: #FFFFFF;
}

.button_icon {
    position: relative;
    display: inline;

    margin-right: 7px;

    &.ico-close {
        font-size: 0.7em;
        top: -1px;
    }

    &.ico-edit {
        font-size: 0.9em;
        top: -2px;
    }

    &.ico-upgrade {
        font-size: 1em;
        top: -1px;
        margin-right: 4px;
    }
}