/* Fontface */
@font-face {
  font-family: 'sia';
  src: url('../fonts/sia.eot');
  src: url('../fonts/sia.eot?#iefix') format('embedded-opentype'), url('../fonts/sia.woff') format('woff'), url('../fonts/sia.ttf') format('truetype'), url('../fonts/sia.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-1';
  src: url('../fonts/sia-1.eot');
  src: url('../fonts/sia-1.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-1.woff') format('woff'), url('../fonts/sia-1.ttf') format('truetype'), url('../fonts/sia-1.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-2';
  src: url('../fonts/sia-2.eot');
  src: url('../fonts/sia-2.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-2.woff') format('woff'), url('../fonts/sia-2.ttf') format('truetype'), url('../fonts/sia-2.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-3';
  src: url('../fonts/sia-3.eot');
  src: url('../fonts/sia-3.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-3.woff') format('woff'), url('../fonts/sia-3.ttf') format('truetype'), url('../fonts/sia-3.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-amenities';
  src: url('../fonts/sia-amenities.eot');
  src: url('../fonts/sia-amenities.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-amenities.woff') format('woff'), url('../fonts/sia-amenities.ttf') format('truetype'), url('../fonts/sia-amenities.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-map';
  src: url('../fonts/sia-map.eot?cbq5t9');
  src: url('../fonts/sia-map.eot?cbq5t9#iefix') format('embedded-opentype'), url('../fonts/sia-map.ttf?cbq5t9') format('truetype'), url('../fonts/sia-map.woff?cbq5t9') format('woff'), url('../fonts/sia-map.svg?cbq5t9#sia-3') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-meals';
  src: url('../fonts/sia-meals.eot?egg8fi');
  src: url('../fonts/sia-meals.eot?egg8fi#iefix') format('embedded-opentype'), url('../fonts/sia-meals.ttf?egg8fi') format('truetype'), url('../fonts/sia-meals.woff?egg8fi') format('woff'), url('../fonts/sia-meals.svg?egg8fi#sia-meals') format('svg');
  font-weight: normal;
  font-style: normal; }

/* End fontface */
.block--full-page.has-background {
  background-color: #fff; }
.block--full-page .block--full-page__inner {
  margin: 0 auto;
  zoom: 1; }
  .block--full-page .block--full-page__inner:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

.static-content {
  zoom: 1;
  position: relative; }
  .static-content:before {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .static-content:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .static-content .static-details {
    overflow: hidden;
    color: #000; }

.wrap-widget .widget .sub-text-2 {
  margin-bottom: 15px; }
.wrap-widget .widget + .widget {
  margin-top: 30px; }
.wrap-widget .full-flight-schedules {
  margin-bottom: 30px; }

.overview .overview__text {
  line-height: 1.7;
  margin: 28px 0; }
.overview .sub-text-3 {
  margin-bottom: 10px;
  margin-top: 7px;
  display: block; }
.overview .static-details__content {
  font-size: 16px; }

.what-to-do {
  overflow: hidden; }
  .what-to-do .what-to-do__content {
    margin-left: -10px;
    margin-right: -10px;
    overflow: hidden; }
    .what-to-do .what-to-do__content [class*="sub-heading-2--"] {
      margin: 0;
      line-height: normal; }
  .what-to-do .text-block, .what-to-do .image-block {
    cursor: pointer; }
  .what-to-do .text-block__text {
    margin: 1em 0; }
  .what-to-do .image-block {
    overflow: hidden; }

.text-block {
  color: #000;
  padding: 23px 20px 17px;
  margin: 10px;
  background-color: #f7f7f7;
  border-bottom: 2px solid #ccc; }

.image-block {
  margin: 10px;
  display: block;
  overflow: hidden; }
  .image-block .full-banner--img {
    height: 230px;
    background-repeat: no-repeat;
    background-position: center center; }
  .image-block .info-link-3 {
    position: absolute;
    bottom: 12px;
    left: 20px; }
  .image-block .sub-heading-2--white {
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px; }

.text-block, .image-block {
  position: relative; }

.info-link-3 {
  color: #fff;
  font-weight: bold; }
  .info-link-3 [class*="ico-"] {
    font-size: 20px; }

.city-guide-heading {
  zoom: 1;
  overflow: hidden; }
  .city-guide-heading .sub-heading-1--blue {
    float: left;
    margin-right: 10px; }
  .city-guide-heading .link-2 {
    margin-top: 14px; }

.where-to-eat, .more-destinations {
  padding-top: 40px;
  clear: both; }
  .where-to-eat .slick-dots, .more-destinations .slick-dots {
    bottom: -25px; }

.more-destinations .block-2 {
  padding: 20px; }

.where-to-eat-wrapper {
  margin-top: 13px; }
  .where-to-eat-wrapper .slide-item {
    float: left;
    width: 25%; }
    .where-to-eat-wrapper .slide-item .sub-heading-2--blue {
      margin: 0;
      max-height: 61px;
      overflow: hidden; }

.place-2 {
  background-color: #f7f7f7;
  display: block;
  margin-right: 20px;
  margin-bottom: 10px; }
  .place-2 .place-2__thumb img {
    width: 100%; }
  .place-2 .place-2__inner {
    padding: 20px;
    height: 200px; }
  .place-2 .place-2__text {
    margin: 0 0 12px;
    color: #000;
    line-height: 1.4;
    max-height: 110px;
    overflow: hidden; }

.more-destinations-wrapper {
  margin-top: 13px;
  clear: both; }
  .more-destinations-wrapper .slides {
    margin-right: -20px; }
  .more-destinations-wrapper .slide-item {
    float: left; }
  .more-destinations-wrapper .static-item .static-item__info {
    margin-left: 0;
    margin-right: 20px; }
  .more-destinations-wrapper .static-item .static-item__detail {
    bottom: 5px; }

.shadow-inset-1, .static-item__vignette-light, .shadow-inset-2, .destination-list-page .static-item__info > a:before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }

.shadow-inset-1, .static-item__vignette-light, .destination-list-page .static-item__info > a:before {
  -webkit-box-shadow: inset -1px -68px 17px -17px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset -1px -68px 17px -17px rgba(0, 0, 0, 0.3);
  box-shadow: inset -1px -68px 17px -17px rgba(0, 0, 0, 0.3); }

.shadow-inset-2 {
  -webkit-box-shadow: inset -1px 68px 47px -17px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset -1px 68px 47px -17px rgba(0, 0, 0, 0.3);
  box-shadow: inset -1px 68px 47px -17px rgba(0, 0, 0, 0.3); }

.where-destination {
  margin-top: 44px;
  overflow: hidden; }
  .where-destination + .more-destinations {
    padding-top: 20px; }

.where-destination__inner {
  overflow: hidden; }

.where-destination__item {
  float: left;
  margin-bottom: 24px; }
  .where-destination__item .title {
    font-size: 23px;
    color: #00266b;
    line-height: 1.2;
    overflow: hidden;
    padding-bottom: 7px; }
  .where-destination__item .rating-block {
    margin: 12px 0 0 -3px; }
    .where-destination__item .rating-block .ico-star {
      font-size: 14px; }

.place-3__thumb {
  overflow: hidden;
  display: block; }
  .place-3__thumb img {
    width: 100%; }

.place-3 {
  margin-right: 20px; }

.place-3__inner {
  padding: 23px 20px 26px; }
  .place-3__inner .sub-heading-2--blue {
    margin-bottom: 18px; }
  .place-3__inner section > p {
    line-height: 1.4; }

.place-3__detail [class*="ico-"], .text-block [class*="ico-"], .image-block [class*="ico-"] {
  margin-left: -3px; }

.place-3__detail {
  margin-top: 35px;
  list-style: none; }
  .place-3__detail li {
    clear: both;
    overflow: hidden; }
    .place-3__detail li + li {
      margin-top: 3px; }
    .place-3__detail li .info-link-1, .place-3__detail li .info-link-2 {
      word-break: break-all;
      line-height: 23px; }
      .place-3__detail li .info-link-1 em, .place-3__detail li .info-link-2 em {
        float: left; }
    .place-3__detail li em {
      margin-right: 5px; }
  .place-3__detail .ico-location {
    margin-left: -6px; }
  .place-3__detail [class*="ico-"].ico-external-link, .place-3__detail [class*="ico-"].ico-desk-phone {
    font-size: 16px;
    min-width: 25px; }

.where-destination .place-3__detail em {
  margin-right: 4px; }
  .where-destination .place-3__detail em.ico-location {
    margin-right: 6px; }
  .where-destination .place-3__detail em:before {
    margin-right: 0; }

.place-2__inner .ico-food, .place-3__detail .ico-food {
  margin-left: -6px; }

.where-to-eat-wrapper, .more-destinations-wrapper {
  overflow: hidden; }
  .where-to-eat-wrapper .slides, .more-destinations-wrapper .slides {
    margin-right: -20px; }
    .where-to-eat-wrapper .slides .slick-dots, .more-destinations-wrapper .slides .slick-dots {
      margin-left: -10px; }

.where-to-stay {
  padding-bottom: 30px; }
  .where-to-stay .where-to-stay-wrapper {
    overflow: hidden; }
  .where-to-stay .slick-prev, .where-to-stay .slick-next {
    margin-top: 0; }
    .where-to-stay .slick-prev:before, .where-to-stay .slick-next:before {
      margin-top: -6px; }
  .where-to-stay .slick-next {
    right: 20px; }
  .where-to-stay .where-to-stay-wrapper {
    margin-top: 13px; }

.place-1 {
  margin-right: 20px;
  overflow: hidden;
  background-color: #fff;
  position: relative; }
  .place-1 .place-1__thumb {
    background-position: center center;
    background-size: cover; }
    .place-1 .place-1__thumb img {
      width: 100%; }
  .place-1 .place-1__inner {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .place-1 .place-1__inner p {
      margin: 0;
      line-height: 1.5; }
  .place-1 .place-1__title {
    font-size: 15px;
    font-weight: bold;
    color: #02266b;
    margin: 0; }
  .place-1 .place-1__text {
    margin: 12px 0 0;
    color: #000;
    line-height: 1.4;
    height: 95px;
    overflow: hidden; }
  .place-1 .rating-block .ico-star {
    margin-left: 0; }
    .place-1 .rating-block .ico-star:before {
      margin-left: 0; }

.block-eat-guide {
  margin: 20px 0 0; }

.block-city-info ul {
  list-style: none; }
.block-city-info p {
  margin: 0; }
.block-city-info .sub-heading-1--blue + .city-info__content {
  border-top: 1px solid #e1e1e1;
  margin-top: 12px; }
.block-city-info .city-info__content > li {
  border-bottom: 1px solid #e1e1e1;
  font-size: 16px;
  color: #000; }
  .block-city-info .city-info__content > li strong {
    display: block;
    margin-bottom: 5px; }
.block-city-info .city-info__content .link-4 {
  margin-top: 6px; }

.weatherImages {
  overflow: hidden;
  margin-top: 20px; }
  .weatherImages li {
    float: left;
    text-align: left; }
    .weatherImages li > div {
      display: inline-block;
      text-align: left; }
  .weatherImages .jQweatherDate, .weatherImages .jQweatherHigh {
    font-size: 13px;
    margin-top: 9px; }
  .weatherImages .jQweatherHigh {
    font-weight: bold;
    color: #000;
    margin-top: 6px; }
  .weatherImages .jQweatherImg {
    max-width: 100%;
    text-align: center; }

.text-info-2 {
  font-weight: 400;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000; }
  .text-info-2.text-gray-1 {
    color: #010101; }

.info-link-1, .info-link-2 {
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px; }
  .info-link-1 [class*="ico-"], .info-link-2 [class*="ico-"] {
    font-size: 20px; }

.info-link-1 {
  color: #02266b; }

.info-link-2 {
  color: #0254ec; }

.list-2 {
  overflow: hidden; }
  .list-2 li {
    list-style: none;
    float: left; }
    .list-2 li + li {
      margin-left: 30px; }

.popup--info-beach .list-2, .popup--info-park .list-2 {
  margin-left: -5px; }

.info-beach img, .popup--full-content img {
  display: block;
  max-width: 100%; }
.info-beach figcaption, .popup--full-content figcaption {
  padding: 40px; }

.popup--full-content img {
  display: block;
  max-width: 100%; }
.popup--full-content .content {
  padding: 40px; }

.sub-text-4 {
  display: block;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  color: #000; }
  .sub-text-4.top-buffer {
    margin: 8px 0 20px; }
    .sub-text-4.top-buffer + .editor hr:first-child {
      margin-top: 20px; }

.editor {
  overflow: hidden;
  color: #000; }
  .editor .intro {
    font-size: 16px; }
  .editor .intro, .editor .content {
    margin-top: 20px; }
  .editor .content + p {
    margin-top: 20px; }
  .editor .sub-text-4 {
    margin-top: 10px; }
  .editor hr {
    border-top: 1px solid #ccc;
    border-width: 1px 0 0 0;
    margin: 40px 0; }
    .editor hr.hr--margin-2 {
      margin-bottom: 10px; }
  .editor h2 {
    font-size: 32px; }
  .editor h3 {
    font-family: "baker-signet-web", serif;
    margin-bottom: 15px;
    color: #00266b; }
    .editor h3 + img, .editor h3 + .wrap-video {
      padding-top: 5px; }
  .editor .wrap-video {
    margin-bottom: 20px; }
    .editor .wrap-video iframe, .editor .wrap-video object, .editor .wrap-video embed, .editor .wrap-video img {
      width: 100%;
      margin-bottom: 0; }
  .editor img {
    max-width: 100%;
    margin-bottom: 30px; }
  .editor p {
    margin: 0;
    line-height: 1.7; }
  .editor a .ico-point-r {
    font-size: 7px; }
  .editor .link-list {
    list-style: none;
    margin: 14px -2% 0 0;
    padding: 0;
    zoom: 1; }
    .editor .link-list:before {
      content: "";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both; }
    .editor .link-list:after {
      content: "";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both; }
    .editor .link-list > li {
      float: left;
      width: 48%;
      margin: -1px 2% 0 0; }
    .editor .link-list li ul {
      list-style: none;
      margin: 0;
      padding: 0;
      border-top: 1px solid #e1e1e1; }
      .editor .link-list li ul li {
        border-bottom: 1px solid #e1e1e1;
        padding: 12px 0 11px;
        margin-top: 0; }
        .editor .link-list li ul li .ico-point-r {
          margin-left: 0; }
          .editor .link-list li ul li .ico-point-r:before {
            margin-left: 0; }
  .editor ul, .editor ol {
    list-style-position: outside;
    margin: 20px 0 0 -19px; }
    .editor ul li, .editor ol li {
      margin-top: 9px; }
  .editor ul {
    padding-left: 36px; }
    .editor ul.slick-dots {
      padding-left: 0;
      margin-left: 0; }
  .editor ol {
    padding-left: 40px; }
  .editor .no-margintop-list {
    margin-top: 0; }
  .editor a .ico-pdf {
    font-size: 18px;
    margin-left: 0; }
    .editor a .ico-pdf:before {
      margin-left: 0; }
  .editor .list-unstyled {
    margin-left: 0;
    padding-left: 0; }
  .editor .social {
    margin: 0;
    padding: 0; }
    .editor .social .text-share {
      font-size: 12px;
      margin-top: 3px;
      color: #666;
      margin-left: 0; }
    .editor .social li {
      margin-top: 0; }

.widget-note {
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  color: #02266b;
  text-transform: uppercase;
  letter-spacing: 1px; }

.widget-1 {
  padding: 30px 20px; }

.sqc-coporate .widget-note {
  text-transform: none;
  font-family: "baker-signet-web", serif;
  font-size: 21px;
  font-weight: normal; }

.static-details--sqc .sub-heading-1--blue {
  margin-top: 40px; }
  .static-details--sqc .sub-heading-1--blue + p {
    margin-top: 20px;
    margin-bottom: 20px; }
.static-details--sqc .static-details__content {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: white;
  overflow: hidden; }
  .static-details--sqc .static-details__content h3 {
    color: #02266b;
    font-size: 21px; }
  .static-details--sqc .static-details__content .content {
    padding: 30px;
    overflow: hidden; }
    .static-details--sqc .static-details__content .content a {
      font-size: 14px; }
      .static-details--sqc .static-details__content .content a em {
        font-size: 7px;
        margin-right: 2px; }
  .static-details--sqc .static-details__content + hr {
    border-top: 1px solid #ccc;
    border-width: 1px 0px 0px; }

.static-sqc__list-1 {
  margin-top: 20px;
  overflow: hidden; }
  .static-sqc__list-1 .static-sqc__item-1 .inner {
    background-color: white;
    padding: 20px; }
  .static-sqc__list-1 .static-sqc__item-1 h3 {
    color: #02266b;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
  .static-sqc__list-1 .static-sqc__item-1 p {
    font-size: 14px; }

.static-sqc__list .static-sqc__item .inner {
  background-color: white;
  padding: 20px; }
.static-sqc__list .static-sqc__item h3 {
  color: #02266b;
  font-size: 21px;
  margin-bottom: 20px; }
.static-sqc__list .static-sqc__item p {
  font-size: 14px; }
.static-sqc__list .static-sqc__item .list {
  list-style-type: disc;
  margin-top: 30px;
  margin-left: 17px; }
  .static-sqc__list .static-sqc__item .list li {
    color: #02266b;
    font-weight: 600;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 14px;
    margin-top: 15px; }
    .static-sqc__list .static-sqc__item .list li:first-child {
      margin-top: 0; }
.static-sqc__list .static-sqc__item .btn-1 {
  margin-top: 30px; }
.static-sqc__list .static-sqc__item .footer-detail {
  padding-top: 20px;
  margin-top: 30px;
  border-top: 1px solid #e5e5e5; }
.static-sqc__list .static-sqc__item .link-detail {
  font-size: 14px; }
  .static-sqc__list .static-sqc__item .link-detail em {
    font-size: 7px;
    margin-right: 2px; }

/*# sourceMappingURL=destination.css.map */