p {
  margin: 1em 0; }

input.input-overlay {
  height: 98%;
  background-color: transparent;
  border: none;
  outline: 0; }

.ie7 .btn-1, .ie7 .input-2, .ie8 .btn-1, .ie8 .input-2 {
  outline: none; }
.ie7 .custom-radio input, .ie7 .custom-checkbox input, .ie8 .custom-radio input, .ie8 .custom-checkbox input {
  filter: none;
  top: 1px; }
.ie7 .custom-radio label:before, .ie7 .custom-radio label:after, .ie7 .custom-checkbox label:before, .ie7 .custom-checkbox label:after, .ie8 .custom-radio label:before, .ie8 .custom-radio label:after, .ie8 .custom-checkbox label:before, .ie8 .custom-checkbox label:after {
  display: none; }
.ie7 .custom-select--2[data-autocomplete] .select__text, .ie8 .custom-select--2[data-autocomplete] .select__text {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 48px; }
  .ie7 .custom-select--2[data-autocomplete] .select__text input, .ie8 .custom-select--2[data-autocomplete] .select__text input {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%; }

.ie7 .link-4 .ico-point-r {
  position: static;
  margin-top: -2px; }
.ie7 .popup__logo {
  margin-top: 14px; }
.ie7 .custom-checkbox input {
  position: static;
  float: left; }
  .ie7 .custom-checkbox input + label {
    padding-left: 5px; }
.ie7 .custom-checkbox.custom-checkbox-all input {
  margin-top: 15px; }
.ie7 .custom-select--2 .select__text {
  right: 30px;
  max-height: 38px;
  height: auto; }
.ie7 .custom-select--2 .ico-dropdown {
  width: 9px;
  height: 8px;
  background: url("../images/ico-sprite-ie.png") no-repeat -80px 0 transparent;
  font-size: 0; }
.ie7 .form--login-plusgrade .form-select-custom, .ie7 .form--login-plusgrade .btn-1 {
  width: 370px; }

/*# sourceMappingURL=ie_popup-window.css.map */