@import url("modules-none-en-char.css");
@import url("modules__1-none-en-char.css");
@import url("modules__2-none-en-char.css");
@import url("popups-none-en-char.css");
@import url("ico.css");
@import url("tooltips-none-en-char.css");
@import url("table-flight-none-en-char.css");
@import url("manage-booking-none-en-char.css");
@import url("sqc-none-en-char.css");
@import url("destination-none-en-char.css");
@import url("static-content-none-en-char.css");
@import url("ssh-none-en-char.css");
@import url("style-large-none-en-char.css");
.menu-main .menu-item > a {
  font-size: 15px; }

.select__tips {
  font-size: 11px; }

.checkin-complete .booking-confirm-list li {
  text-align: right;
  list-style: none;
  float: right;
  width: auto;
  padding-left: 35px; }
  .checkin-complete .booking-confirm-list li:last-child {
    padding-left: 0; }

.seat-equipped {
  min-height: 48px; }

.seat-equipped-item:first-child {
  width: 202px;
  text-align: left;
  line-height: 1.4em;
  top: 26px; }

@media screen and (min-width: 988px) {
  .menu-main {
    float: left; }
    .menu-main > ul {
      display: table; }
      .menu-main > ul > li {
        display: table-cell;
        float: none;
        vertical-align: middle;
        line-height: 1; }
      .menu-main > ul .menu-item {
        text-align: center; }
        .menu-main > ul .menu-item + .menu-item {
          padding-left: 15px; }
  .travel-widget .tab-item {
    width: 20%; } }

@media screen and (max-width: 987px) {
  .menu-main > ul > li a {
    padding-right: 5px; }
  .menu-main > ul > li br {
    content: "";
    padding-left: 4px; }
  .travel-widget .tab-item a br {
    content: "";
    padding-left: 4px; }
  .travel-widget .main-heading br {
    content: "";
    padding-left: 4px; }
  .seat-equipped .seat-legend {
    padding-top: 30px; } }

@media screen and (max-width: 767px) {
  .travel-widget .tab-item a {
    font-size: 16px; } }

.menu-bar .flag.korean img {
  background-position: 0 -540px; }

.checkin-complete .booking-passenger__control, .booking-sumary-page .booking-passenger__control {
  font-size: 18px; }

.highlight .highlight__heading {
  max-height: 53px; }

.hero figcaption .hero__text strong {
  font-size: 34px; }

.menu-main {
  float: left; }
  .menu-main > ul {
    display: table; }
    .menu-main > ul > li {
      display: table-cell;
      float: none;
      vertical-align: middle;
      line-height: 1; }
    .menu-main > ul .menu-item {
      text-align: center; }

.travel-widget .tab-item {
  padding: 5px;
  width: 20%; }

.fare-deals-list .link {
  font-size: 14px; }
.fare-deals-list .fare-deal-num {
  font-size: 22px; }

.flight-item__info-1 .info-promotions, .flight-item__info-2 .info-promotions {
  font-size: 18px; }

.promotion-item--2 .flight-item__wrapper .flight-item__info-1 h3, .promotion-item--2 .flight-item__wrapper .flight-item__info-1 .info-promotions, .promotion-item--2 .flight-item__wrapper .flight-item__info-2 h3, .promotion-item--2 .flight-item__wrapper .flight-item__info-2 .info-promotions {
  margin: 0; }

/*# sourceMappingURL=main_ko_KR.css.map */