@import url("modules-none-en-char.css");
@import url("modules__1-none-en-char.css");
@import url("modules__2-none-en-char.css");
@import url("popups-none-en-char.css");
@import url("ico.css");
@import url("tooltips-none-en-char.css");
@import url("table-flight-none-en-char.css");
@import url("manage-booking-none-en-char.css");
@import url("sqc-none-en-char.css");
@import url("destination-none-en-char.css");
@import url("static-content-none-en-char.css");
@import url("ssh-none-en-char.css");
@import url("style-large-none-en-char.css");
.menu-main {
  float: left; }
  .menu-main > ul {
    display: table; }
    .menu-main > ul > li {
      display: table-cell;
      float: none;
      vertical-align: middle;
      line-height: 1.5; }
  .menu-main .menu-item {
    text-align: center;
    padding-left: 22px; }
    .menu-main .menu-item + .menu-item {
      padding-left: 16px; }
    .menu-main .menu-item > a {
      font-size: 14px; }

.travel-widget-inner {
  font-size: 13px; }

.form-book-travel .form-group--row-btn .btn-2, .form-book-travel .form-group--row-btn .btn-1 {
  font-size: 10px;
  white-space: nowrap; }

.select__tips {
  font-size: 11px;
  font-family: san-serif; }

.tabs .tab-item:nth-child(2) a, .tabs .tab-item:nth-child(3) a {
  width: 105px; }
.tabs .tab-item:first-child a {
  width: 117px; }

.radio-tooltips--1 .ico-arrow-up {
  left: 255px; }

.checkin-complete .booking-confirm-list li {
  text-align: right;
  list-style: none;
  float: right;
  width: auto;
  padding-right: 35px; }
  .checkin-complete .booking-confirm-list li:first-child {
    padding-right: 0; }

.travel-widget .tab-item {
  width: 20%; }

@media screen and (max-width: 767px) {
  .travel-widget .tab-item a {
    font-size: 16px; } }

.menu-bar .flag.russian img {
  background-position: 0 -468px; }

.form-book-travel .input-3 .input-3__label {
  display: none; }
.form-book-travel .input-3 .input-3__text input {
  padding-left: 13px; }
.form-book-travel .custom-select--2 .select__label {
  max-width: 60px; }
.form-book-travel .custom-select--2 .select__text {
  padding-left: 83px; }
  .form-book-travel .custom-select--2 .select__text input {
    padding-left: 73px; }
.form-book-travel .one-third .custom-select--2 .select__label {
  max-width: 70px;
  font-size: 13px; }

.checkin-complete .booking-passenger__control, .booking-sumary-page .booking-passenger__control {
  font-size: 18px; }

.highlight figcaption {
  height: 220px; }

.hero figcaption .hero__text {
  font-size: 16px;
  line-height: 26px; }
  .hero figcaption .hero__text strong {
    font-size: 20px; }
.hero figcaption .link-1 {
  line-height: 32px; }

.highlight .highlight__heading {
  max-height: 53px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

.tabs .tab-wrapper {
  min-height: 520px; }

.promotion-item--2 .flight-item__wrapper .flight-item__info-1 h3, .promotion-item--2 .flight-item__wrapper .flight-item__info-1 .info-promotions, .promotion-item--2 .flight-item__wrapper .flight-item__info-2 h3, .promotion-item--2 .flight-item__wrapper .flight-item__info-2 .info-promotions {
  margin: 1px 0 -3px; }

.flight-item__info-1 .info-promotions, .flight-item__info-2 .info-promotions {
  font-size: 22px; }

/*# sourceMappingURL=main_ru_RU.css.map */