@import url("modules.css");
@import url("modules__1.css");
@import url("modules__2.css");
@import url("popups.css");
@import url("ico.css");
@import url("tooltips.css");
@import url("table-flight.css");
@import url("manage-booking.css");
@import url("sqc.css");
@import url("destination.css");
@import url("static-content.css");
@import url("ssh.css");
@import url("style-large.css");
/* Fontface */
@font-face {
  font-family: 'sia';
  src: url('../fonts/sia.eot');
  src: url('../fonts/sia.eot?#iefix') format('embedded-opentype'), url('../fonts/sia.woff') format('woff'), url('../fonts/sia.ttf') format('truetype'), url('../fonts/sia.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-1';
  src: url('../fonts/sia-1.eot');
  src: url('../fonts/sia-1.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-1.woff') format('woff'), url('../fonts/sia-1.ttf') format('truetype'), url('../fonts/sia-1.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-2';
  src: url('../fonts/sia-2.eot');
  src: url('../fonts/sia-2.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-2.woff') format('woff'), url('../fonts/sia-2.ttf') format('truetype'), url('../fonts/sia-2.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-3';
  src: url('../fonts/sia-3.eot');
  src: url('../fonts/sia-3.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-3.woff') format('woff'), url('../fonts/sia-3.ttf') format('truetype'), url('../fonts/sia-3.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-amenities';
  src: url('../fonts/sia-amenities.eot');
  src: url('../fonts/sia-amenities.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-amenities.woff') format('woff'), url('../fonts/sia-amenities.ttf') format('truetype'), url('../fonts/sia-amenities.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-map';
  src: url('../fonts/sia-map.eot?cbq5t9');
  src: url('../fonts/sia-map.eot?cbq5t9#iefix') format('embedded-opentype'), url('../fonts/sia-map.ttf?cbq5t9') format('truetype'), url('../fonts/sia-map.woff?cbq5t9') format('woff'), url('../fonts/sia-map.svg?cbq5t9#sia-3') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-meals';
  src: url('../fonts/sia-meals.eot?egg8fi');
  src: url('../fonts/sia-meals.eot?egg8fi#iefix') format('embedded-opentype'), url('../fonts/sia-meals.ttf?egg8fi') format('truetype'), url('../fonts/sia-meals.woff?egg8fi') format('woff'), url('../fonts/sia-meals.svg?egg8fi#sia-meals') format('svg');
  font-weight: normal;
  font-style: normal; }

/* End fontface */
[class^="btn-"].type-beta {
  padding: 11.5px 0;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px; }

.beta-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -3px;
  z-index: 111; }
  .beta-bottom .beta-bottom__inner {
    overflow: hidden;
    margin: 0 auto; }

.intro-beta {
  bottom: -6px; }
  .intro-beta p {
    float: left;
    font-weight: 700;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    color: #4a4a4a; }
  .intro-beta .btn-1 {
    float: right; }
  .intro-beta .beta-bottom__inner {
    max-width: 546px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 2px solid #fda102;
    background-color: #ffcf7f; }

.mini-beta-link {
  display: block;
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  color: #fff;
  text-transform: uppercase; }
  .mini-beta-link [class^="arrow-"] {
    float: left;
    width: 0px;
    height: 0px;
    margin-top: 1px;
    border-color: transparent;
    border-style: solid;
    margin-right: 15px; }
  .mini-beta-link .arrow-right {
    border-left-color: #fff;
    border-right: 0; }
  .mini-beta-link .arrow-up {
    border-bottom-color: #fff;
    border-top: 0; }

.betabar-block .mini-beta-link {
  float: left;
  margin-top: 5px; }
.betabar-block .beta-bottom__outer {
  opacity: 0.9;
  padding: 10px 0;
  background-color: #fda102; }
.betabar-block .button-groups {
  float: right; }
.betabar-block .arrow-up {
  margin-top: 4px; }

.minibar .button-groups {
  display: none; }
.minibar.betabar-block .beta-bottom__outer {
  padding: 0 0 8px; }
.minibar .mini-beta-link {
  float: none;
  display: block; }

.button-groups {
  overflow: hidden; }
  .button-groups li {
    list-style: none;
    display: inline-block; }
    .button-groups li + li {
      margin-left: 10px; }

.dots-list li {
  display: inline-block;
  margin-right: 2px;
  width: 8px;
  height: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #7c7c7c; }
  .dots-list li.active {
    background-color: #f5f5f4; }

.coach-popup, .overlay-beta {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out; }
  .coach-popup.active, .overlay-beta.active {
    opacity: 1; }

.coach-popup {
  position: absolute;
  z-index: 110;
  padding: 10px; }
  .coach-popup strong, .coach-popup p {
    margin: 0;
    line-height: 22px; }
  .coach-popup strong {
    font-weight: 700;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    color: #fff; }
  .coach-popup p {
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    color: #fff; }
  .coach-popup .button-groups {
    margin-top: 10px; }
  .coach-popup .close-btn {
    float: right;
    margin-top: 7px;
    font-weight: 600;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 14px;
    color: #c1a474; }
    .coach-popup .close-btn .ico-close {
      margin-right: 3px;
      font-size: 12px; }
      .coach-popup .close-btn .ico-close:before {
        font-weight: bold; }

.coach-1, .coach-5 {
  text-align: center;
  max-width: 400px;
  left: 50%;
  margin-left: -210px;
  top: 50%;
  margin-top: -72.5px; }

.service-list li {
  margin-bottom: 5px;
  font-weight: 400;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  color: #fff; }
  .service-list li span {
    display: block;
    margin-top: 3px;
    margin-left: -15px; }

.arrow-long {
  width: 46px;
  height: 50px; }

.coach-2 .service-list {
  margin-left: 15px;
  margin-bottom: 5px; }

.info-glass {
  position: relative; }
  .info-glass .arrow-long {
    display: block;
    position: absolute;
    background-repeat: no-repeat; }
  .info-glass .glass {
    display: block;
    position: absolute;
    background-repeat: no-repeat; }
  .info-glass .dots-list {
    position: absolute; }

.coach-5 .btn-1 {
  margin-top: 10px; }

.overlay-beta {
  position: fixed;
  z-index: 109;
  left: 0;
  top: 0;
  background-color: #000;
  width: 100%;
  height: 100%; }
  .overlay-beta .overlay-beta__inner {
    position: relative;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto; }
    .overlay-beta .overlay-beta__inner .dimmer-overlay {
      background: url("../images/checker-tile.png") 0 0 repeat transparent;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px; }

.simple-sticky {
  padding: 5px 0; }
  .simple-sticky p {
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin: 0; }
  .simple-sticky.beta-bottom {
    bottom: 0; }

[class^="btn-"].type-beta {
  min-width: 100px; }
  .coach-1 [class^="btn-"].type-beta {
    min-width: 138px; }

.betabar-block {
  -webkit-box-shadow: 0 -2px 5px -2px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0 -2px 5px -2px rgba(0, 0, 0, 0.55);
  box-shadow: 0 -2px 5px -2px rgba(0, 0, 0, 0.55); }
  .betabar-block .beta-bottom__inner {
    max-width: 988px; }

.intro-beta p {
  margin: 6px 0;
  font-size: 15px; }
.intro-beta .beta-bottom__inner {
  padding: 10px 15px; }

.popup.popup--enhance .popup__content {
  padding: 68px 36px; }

.mini-beta-link {
  font-size: 15px; }
  .mini-beta-link [class^="arrow-"] {
    border-width: 10px; }
  .mini-beta-link .arrow-right {
    border-top-width: 8px;
    border-bottom-width: 8px; }
  .mini-beta-link .arrow-up {
    border-left-width: 8px;
    border-right-width: 8px; }

.simple-sticky p {
  font-size: 15px; }

.overlay-beta .overlay-beta__inner {
  width: 1280px;
  height: 768px;
  background-size: 100%; }

.coach-2 {
  right: 40px;
  top: -20px; }

.coach-3 {
  left: 149px;
  top: 149px; }

.coach-4 {
  top: 145px;
  left: 269px; }

.overlay-beta .overlay-beta__inner {
  background-image: url("../images/bg-coach-desktop.jpg"); }

.coach-2 {
  max-width: 287px; }
  .coach-2 .glass {
    right: 0;
    top: 10px;
    width: 140px;
    height: 106px; }
  .coach-2 .arrow-long {
    left: 16px;
    bottom: 25px; }
  .coach-2 .info-glass {
    width: 209px;
    height: 124px;
    margin-bottom: 5px; }
  .coach-2 .dots-list {
    left: 0;
    bottom: 0; }

.coach-3 {
  max-width: 385px; }
  .coach-3 .glass {
    left: 0;
    top: 0;
    width: 125px;
    height: 125px; }
  .coach-3 .arrow-long {
    left: 145px;
    bottom: 20px; }
  .coach-3 .info-glass {
    height: 124px;
    margin-bottom: 5px; }
  .coach-3 .dots-list {
    left: 158px;
    bottom: 0; }
  .coach-3 .coach-popup__content {
    padding-left: 159px; }

.coach-4 {
  max-width: 422px; }
  .coach-4 .glass {
    left: 0;
    top: 0;
    width: 133px;
    height: 133px; }
  .coach-4 .arrow-long {
    left: 158px;
    bottom: 20px; }
  .coach-4 .info-glass {
    height: 135px;
    margin-bottom: 5px; }
  .coach-4 .dots-list {
    left: 158px;
    bottom: 0; }
  .coach-4 .coach-popup__content {
    padding-left: 159px; }

.coach-popup p {
  font-size: 14px; }
.coach-popup.coach-1 p, .coach-popup.coach-1 strong, .coach-popup.coach-5 p, .coach-popup.coach-5 strong {
  font-size: 16px; }

.service-list li {
  font-size: 14px; }

/*# sourceMappingURL=main_beta-site.css.map */