@import url("modules-none-en-char.css");
@import url("modules__1-none-en-char.css");
@import url("modules__2-none-en-char.css");
@import url("popups-none-en-char.css");
@import url("ico.css");
@import url("tooltips-none-en-char.css");
@import url("table-flight-none-en-char.css");
@import url("manage-booking-none-en-char.css");
@import url("sqc-none-en-char.css");
@import url("destination-none-en-char.css");
@import url("static-content-none-en-char.css");
@import url("ssh-none-en-char.css");
@import url("style-large-none-en-char.css");
.menu .menu-main .menu-item a {
  font-size: 15px; }

.menu-main {
  float: left; }
  .menu-main > ul {
    display: table; }
    .menu-main > ul > li {
      display: table-cell;
      float: none;
      vertical-align: middle;
      line-height: 1; }
    .menu-main > ul .menu-item {
      text-align: center; }
      .menu-main > ul .menu-item + .menu-item {
        padding-left: 12px; }

.form-book-travel .link-2 {
  margin-top: 10px; }
  .form-book-travel .link-2.right {
    margin-top: 0; }
.form-book-travel .select__tips {
  font-size: 11px; }

.checkin-complete .booking-passenger__control, .booking-sumary-page .booking-passenger__control {
  font-size: 18px; }

.hero figcaption .hero__text {
  font-size: 29px; }
  .hero figcaption .hero__text strong {
    font-size: 29px; }

.highlight .highlight__heading {
  max-height: 53px; }

.fare-deals-list .link {
  font-size: 14px; }
.fare-deals-list .fare-deal-num {
  font-size: 22px; }

.promotion-item--2 .flight-item__wrapper .flight-item__info-1 h3, .promotion-item--2 .flight-item__wrapper .flight-item__info-1 .info-promotions, .promotion-item--2 .flight-item__wrapper .flight-item__info-2 h3, .promotion-item--2 .flight-item__wrapper .flight-item__info-2 .info-promotions {
  margin: 0; }

.flight-item__info-1 .info-promotions, .flight-item__info-2 .info-promotions {
  font-size: 18px; }

/*# sourceMappingURL=main_ja_JP.css.map */