@import url("modules.css");
@import url("modules__1.css");
@import url("modules__2.css");
@import url("popups.css");
@import url("ico.css");
@import url("tooltips.css");
@import url("table-flight.css");
@import url("manage-booking.css");
@import url("sqc.css");
@import url("destination.css");
@import url("static-content.css");
@import url("ssh.css");
@import url("style-large.css");
.fare-deals-list .link {
  padding-bottom: 0;
  word-wrap: normal; }

.fare-deals-list .info--2 {
  padding: 0 13px 0 0; }

.promotion-item--2 .flight-item__wrapper .flight-item__info-1, .promotion-item--2 .flight-item__wrapper .flight-item__info-2 {
  display: block;
  text-align: left;
  padding-left: 20px; }

.fare-deals-list .link {
  font-size: 18px; }
.fare-deals-list .fare-deal-num {
  font-size: 18px; }

/*# sourceMappingURL=main_idr_IDR.css.map */