@import url("modules.css");
@import url("modules__1.css");
@import url("modules__2.css");
@import url("popups.css");
@import url("ico.css");
@import url("tooltips.css");
@import url("table-flight.css");
@import url("manage-booking.css");
@import url("sqc.css");
@import url("destination.css");
@import url("static-content.css");
@import url("ssh.css");
@import url("style-large.css");
.form-book-travel .select__tips {
  font-size: 12px;
  margin-top: 2px; }
.form-book-travel .form-group #city-promo-code {
  margin-top: 10px; }

.seat-equipped {
  min-height: 48px; }

.seat-equipped-item:first-child {
  width: 208px;
  text-align: left;
  line-height: 1.4em;
  top: 27px; }

.menu-main {
  float: left; }
  .menu-main > ul {
    display: table; }
    .menu-main > ul > li {
      display: table-cell;
      float: none;
      vertical-align: middle;
      line-height: 1; }
    .menu-main > ul .menu-item {
      text-align: center; }
      .menu-main > ul .menu-item + .menu-item {
        padding-left: 15px; }

.travel-widget .tab-item {
  padding: 7px 5px 3px; }

.form-search-flight-1 .radio-group {
  width: 195px; }
.form-search-flight-1 .one-four {
  width: 203px; }
.form-search-flight-1 .depart-group, .form-search-flight-1 .date-group {
  width: 237px; }

.seat-equipped {
  min-height: 48px; }

.seat-equipped-item:first-child {
  width: 208px;
  text-align: left;
  line-height: 1.4em;
  top: 27px; }

/*# sourceMappingURL=main_pt_BR.css.map */