@import url("modules-none-en-char.css");
@import url("modules__1-none-en-char.css");
@import url("modules__2-none-en-char.css");
@import url("popups-none-en-char.css");
@import url("ico.css");
@import url("tooltips-none-en-char.css");
@import url("table-flight-none-en-char.css");
@import url("manage-booking-none-en-char.css");
@import url("sqc-none-en-char.css");
@import url("destination-none-en-char.css");
@import url("static-content-none-en-char.css");
@import url("ssh-none-en-char.css");
@import url("style-large-none-en-char.css");
.menu-main .menu-item > a {
  font-size: 15px; }

.select__tips {
  font-size: 11px;
  font-style: normal; }

.travel-widget .custom-select--2 .select__label {
  max-width: 62px; }
.travel-widget .custom-select--2 .select__text {
  padding-left: 82px; }
.travel-widget .input-3 .input-3__text input {
  padding-left: 73px; }
.travel-widget .input-3 .input-3__label {
  max-width: 60px; }
.travel-widget .radio-tooltips--1 .ico-arrow-up, .travel-widget .radio-tooltips--1 .ico-arrow-up-1 {
  left: 145px; }

.checkin-complete .booking-passenger__control, .booking-sumary-page .booking-passenger__control {
  font-size: 18px; }

.highlight .highlight__heading {
  max-height: 53px; }

.menu-main {
  float: left; }
  .menu-main > ul {
    display: table; }
    .menu-main > ul > li {
      display: table-cell;
      float: none;
      vertical-align: middle;
      line-height: 1; }
    .menu-main > ul .menu-item {
      text-align: center;
      padding-left: 25px; }
      .menu-main > ul .menu-item + .menu-item {
        padding-left: 28px; }

.checkin-complete .booking-confirm-list li {
  text-align: right;
  list-style: none;
  float: right;
  width: auto;
  padding-right: 35px; }
  .checkin-complete .booking-confirm-list li:first-child {
    padding-right: 0; }

@media screen and (max-width: 767px) {
  .travel-widget .tab-item a {
    font-size: 16px; } }

.fare-deals-list .link {
  font-size: 14px; }
.fare-deals-list .fare-deal-num {
  font-size: 22px; }

.flight-item__info-1 .info-promotions, .flight-item__info-2 .info-promotions {
  font-size: 18px; }

.promotion-item--2 .flight-item__wrapper .flight-item__info-1 h3, .promotion-item--2 .flight-item__wrapper .flight-item__info-1 .info-promotions, .promotion-item--2 .flight-item__wrapper .flight-item__info-2 h3, .promotion-item--2 .flight-item__wrapper .flight-item__info-2 .info-promotions {
  margin: 0; }

/*# sourceMappingURL=main_zh_TW.css.map */