/* Fontface */
@font-face {
  font-family: 'sia';
  src: url('../fonts/sia.eot');
  src: url('../fonts/sia.eot?#iefix') format('embedded-opentype'), url('../fonts/sia.woff') format('woff'), url('../fonts/sia.ttf') format('truetype'), url('../fonts/sia.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-1';
  src: url('../fonts/sia-1.eot');
  src: url('../fonts/sia-1.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-1.woff') format('woff'), url('../fonts/sia-1.ttf') format('truetype'), url('../fonts/sia-1.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-2';
  src: url('../fonts/sia-2.eot');
  src: url('../fonts/sia-2.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-2.woff') format('woff'), url('../fonts/sia-2.ttf') format('truetype'), url('../fonts/sia-2.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-3';
  src: url('../fonts/sia-3.eot');
  src: url('../fonts/sia-3.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-3.woff') format('woff'), url('../fonts/sia-3.ttf') format('truetype'), url('../fonts/sia-3.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-amenities';
  src: url('../fonts/sia-amenities.eot');
  src: url('../fonts/sia-amenities.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-amenities.woff') format('woff'), url('../fonts/sia-amenities.ttf') format('truetype'), url('../fonts/sia-amenities.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-map';
  src: url('../fonts/sia-map.eot?cbq5t9');
  src: url('../fonts/sia-map.eot?cbq5t9#iefix') format('embedded-opentype'), url('../fonts/sia-map.ttf?cbq5t9') format('truetype'), url('../fonts/sia-map.woff?cbq5t9') format('woff'), url('../fonts/sia-map.svg?cbq5t9#sia-3') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-meals';
  src: url('../fonts/sia-meals.eot?egg8fi');
  src: url('../fonts/sia-meals.eot?egg8fi#iefix') format('embedded-opentype'), url('../fonts/sia-meals.ttf?egg8fi') format('truetype'), url('../fonts/sia-meals.woff?egg8fi') format('woff'), url('../fonts/sia-meals.svg?egg8fi#sia-meals') format('svg');
  font-weight: normal;
  font-style: normal; }

/* End fontface */
/* Style for mb page */
.booking--style-3 .text-emphasis {
  margin-bottom: 0; }
.booking--style-3 + .booking--style-3 {
  margin-top: 20px; }
.booking--style-3 > [class^="sub-heading-"] {
  margin: 0;
  padding-top: 17px; }
.booking--style-3 .booking--style-3__header {
  overflow: hidden;
  padding-top: 17px; }
  .booking--style-3 .booking--style-3__header .icon-group-1 {
    margin-top: 6px;
    position: relative; }
  .booking--style-3 .booking--style-3__header > [class^="sub-heading-"] {
    margin: 0;
    float: left; }
  .booking--style-3 .booking--style-3__header [class^="ico-"] {
    margin-right: 5px;
    font-size: 16px; }
    .booking--style-3 .booking--style-3__header [class^="ico-"].ico-close {
      font-size: 12px; }
    .booking--style-3 .booking--style-3__header [class^="ico-"].ico-point-r {
      font-size: 8px; }
  .booking--style-3 .booking--style-3__header .icon-group-inline [class^="ico-"] {
    line-height: 1;
    vertical-align: top; }
    .booking--style-3 .booking--style-3__header .icon-group-inline [class^="ico-"].ico-close {
      line-height: 20px; }
  .booking--style-3 .booking--style-3__header .booking--style-3__btn {
    float: right; }
.booking--style-3 .booking--style-3__main {
  margin-top: 17px; }
  .booking--style-3 .booking--style-3__main + .button-group-1 {
    margin-top: 40px; }
  .booking--style-3 .booking--style-3__main .booking-info--1:first-child {
    margin-top: 0; }
.booking--style-3 .booking--style-3__section {
  margin-top: 40px; }
  .booking--style-3 .booking--style-3__section:first-child {
    margin-top: 0; }
  .booking--style-3 .booking--style-3__section .checkin-alert {
    margin-bottom: 0;
    margin-top: 20px; }
.booking--style-3 .accordion__control {
  padding: 0;
  cursor: pointer; }
  .booking--style-3 .accordion__control .ico-point-d {
    padding: 10px;
    position: absolute;
    top: 0px;
    right: -10px; }
.booking--style-3 .accordion__content {
  padding: 0; }

.booking-info__header {
  overflow: hidden; }

.sub-intro {
  margin: 10px 0; }

.booking-info--1 {
  margin-top: 20px;
  padding: 20px;
  background: #f5f5f5; }
  .booking-info--1 .sub-heading {
    margin-top: 20px; }
  .booking-info--1 .booking-details--1 .col-custom {
    border-left: 1px solid #e5e5e5;
    width: 130px;
    height: 100%;
    padding: 0; }

.booking-info--2 + .booking-info--2, .booking-info--2 + .link-2 {
  margin-top: 20px; }
.booking-info--2 .booking-info--2__item {
  margin-top: 20px;
  background: #f5f5f5; }

.booking-info--1, .booking-info--2 {
  color: #000; }
  .booking-info--1 .sub-heading-3--dark, .booking-info--2 .sub-heading-3--dark {
    text-transform: uppercase; }
  .booking-info--1 .sub-heading, .booking-info--2 .sub-heading {
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
    .booking-info--1 .sub-heading p, .booking-info--2 .sub-heading p {
      margin: 0; }
      .booking-info--1 .sub-heading p + p, .booking-info--2 .sub-heading p + p {
        margin-top: 4px; }
    .booking-info--1 .sub-heading span + span, .booking-info--2 .sub-heading span + span {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid; }

.booking-info__group .booking-info__header .icon-group-1 {
  margin-top: 4px; }
.booking-info__group .sub-heading-3--dark {
  text-transform: uppercase; }

.booking-info__sub-title {
  color: #000;
  margin-bottom: 8px; }

.booking-details {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  background: #fff; }
  .booking-details + .booking-details {
    border-top: 1px solid #e5e5e5; }
  .booking-details .booking-col p {
    margin: 0; }
  .booking-details .col-custom, .booking-details .col-4 {
    font-size: 13px; }
    .booking-details .col-custom .status, .booking-details .col-4 .status {
      padding: 20px;
      text-align: center; }
    .booking-details .col-custom a .ico-point-r, .booking-details .col-4 a .ico-point-r {
      position: relative;
      top: -2px;
      font-size: 8px; }
  .booking-details .col-custom {
    padding: 20px 0;
    width: 130px; }
  .booking-details .col-1 {
    position: absolute;
    left: 0px;
    width: 65px;
    text-align: center; }
    .booking-details .col-1 em {
      font-size: 26px;
      color: #363636; }
  .booking-details .col-2 {
    font-weight: 600; }
  .booking-details .col-3 > * {
    line-height: 20px; }
  .booking-details .col-3 .has-cols {
    position: relative;
    padding-left: 90px; }
    .booking-details .col-3 .has-cols .target-info {
      position: absolute;
      top: 0px;
      left: 0px;
      color: #666;
      text-transform: uppercase; }
  .booking-details .col-4 > * {
    line-height: 20px; }

.booking-details--1 .col-3 {
  margin-right: 0; }

.sub-heading + .booking-details__group {
  margin-top: 20px; }
.booking-details__group .booking-details--1, .booking-details__group .booking-details--2, .booking-details__group .booking-detail--1, .booking-details__group .booking-detail--2 {
  margin-top: 0; }

.booking-review--2 .booking-info-group {
  margin-left: 0;
  margin-right: 0; }

.hotel-info {
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 15px; }
  .hotel-info figure {
    float: left;
    margin-right: 20px; }
  .hotel-info .hotel-info__heading {
    overflow: hidden; }
    .hotel-info .hotel-info__heading .sub-heading-2--blue {
      float: left; }
    .hotel-info .hotel-info__heading .rating-block {
      float: left;
      margin: 0; }
      .hotel-info .hotel-info__heading .rating-block .ico-star:before {
        line-height: 28px; }
  .hotel-info .hotel-info__desc {
    color: #000;
    font-size: 16px;
    margin-top: 5px; }
  .hotel-info .hotel-info__booking {
    max-width: 300px;
    min-width: 220px;
    padding-top: 20px;
    overflow: hidden; }
    .hotel-info .hotel-info__booking .item {
      float: left;
      width: 50%; }
      .hotel-info .hotel-info__booking .item strong {
        color: #000;
        display: block;
        margin-bottom: 5px; }

.hotel-info--1 .hotel-info__booking {
  clear: both;
  max-width: none; }
  .hotel-info--1 .hotel-info__booking .item {
    width: 24%; }
  .hotel-info--1 .hotel-info__booking .item-3 {
    width: 28%; }

.booking-review--1 .search-link {
  margin-left: 20px; }
.booking-review--1 .sub-text-2 {
  margin-top: 15px; }
.booking-review--1 .heading-wrap .btn-1 {
  margin-bottom: 15px; }
.booking-review--1 .sub-heading-3--dark {
  margin-top: 15px; }
.booking-review--1 .booking--style-3__main > .sub-heading-3--dark:first-child {
  margin-top: 0; }
.booking-review--1 .booking-info-group {
  margin: 15px 0 0; }
.booking-review--1 .booking--style-3__main .sub-heading-1--dark {
  font-size: 21px; }

.refund-summary {
  margin-bottom: 20px; }
  .refund-summary .booking--style-3__main .sub-heading-3--dark {
    margin-top: 36px;
    margin-bottom: 10px; }
  .refund-summary .booking--style-3__main .booking__list {
    background-color: #f5f5f5;
    padding: 20px; }

.add-on {
  color: #333;
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px; }
  .add-on .price-info {
    display: block; }
  .add-on .item {
    display: block;
    margin-top: 10px; }
    .add-on .item:first-child {
      margin-top: 0; }

.flight-confirmation {
  margin-bottom: 20px;
  clear: both;
  overflow: hidden; }
  .flight-confirmation .sub-heading-3--dark {
    float: left; }
  .flight-confirmation .print-btn {
    float: right; }

.paid-summary {
  clear: both;
  overflow: hidden; }
  .paid-summary .sub-heading-3--dark {
    margin-top: 0; }
  .paid-summary .link-4 {
    float: left;
    margin-top: 10px; }
  .paid-summary .message-summary .sub-heading-3--dark {
    margin: 15px 0 10px; }
  .paid-summary .message-summary .editor-style-1 ul {
    max-width: 92%;
    padding-left: 25px;
    margin-left: -5px; }
  .paid-summary .paid-item .paid-text {
    margin-bottom: 10px; }
  .paid-summary .paid-item .carat, .paid-summary .paid-item .plus {
    margin-top: 2px;
    margin-bottom: 0; }
  .paid-summary .paid-item span > span {
    display: block; }
  .paid-summary .paid-item + .paid-item {
    margin-top: 20px; }
    .global-manage-booking .paid-summary .paid-item + .paid-item {
      margin-top: 20px; }

.editor-style-1 p {
  margin: 0 0 0 20px; }

.booking-addons .before-fly__group {
  margin: -20px; }

.cancel-waitlist-booking-page .terms-conditions {
  margin-top: 40px; }

.inline {
  display: inline; }

.icon-group-1 li {
  float: left;
  list-style: none;
  margin-left: 40px; }
  .icon-group-1 li a {
    line-height: 25px; }
  .icon-group-1 li:first-child {
    margin-left: 0; }

.cancel-baggage {
  margin-top: 20px;
  margin-bottom: 20px; }
  .cancel-baggage + .button-group-1 {
    margin-top: 40px; }

.popup--cancel-baggage .checkbox-heading input + label {
  padding-bottom: 3px;
  font-family: "baker-signet-web", serif;
  font-size: 21px;
  color: #000; }

.blk-heading .icon-group-1 {
  margin-top: 7px; }

.redirect-group {
  margin-top: 40px; }

.bk-table {
  position: relative;
  width: 100%; }
  .bk-table + .bk-table {
    margin-top: 10px; }
  .bk-table td, .bk-table th {
    padding: 2px 0;
    text-align: right; }
    .bk-table td:first-child, .bk-table th:first-child {
      text-align: left; }
  .bk-table th {
    padding: 17px 0;
    width: 20%; }
  .bk-table .row-title td {
    padding-top: 17px; }
  .bk-table .last td {
    padding-bottom: 27px; }
  .bk-table tfoot td {
    padding: 17px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }
  .bk-table .bk-table--1 th:first-child {
    width: 80%; }
  .bk-table .bk-table--2 th:first-child {
    width: 60%; }

.popup--refund-breakdown .check-confirm {
  margin-top: 30px; }
.popup--refund-breakdown .grand-total .total-title {
  color: #999; }

.booking-info-addon--1 {
  overflow: hidden;
  margin-top: 20px;
  padding: 20px;
  background: #f5f5f5;
  color: #000; }
  .booking-info-addon--1 .booking-info-addon__item span {
    font-weight: 600; }

.booking--style-3--add-ons .grid-row {
  margin-left: -10px;
  margin-right: -10px; }
.booking--style-3--add-ons .grid-inner {
  padding: 0 10px; }

.add-ons__list {
  position: relative; }

.booking-status__group + .booking-status__group {
  margin-top: 30px; }

.review-cancellation-page .terms-conditions {
  margin-top: 20px; }

.booking--style-3 .flight-checkin-alert {
  margin-top: 20px; }

.paid-summary .link-4.link-refund {
  display: inline-block;
  float: none;
  margin-bottom: 35px; }
  .global-manage-booking .paid-summary .link-4.link-refund {
    margin-bottom: 35px; }

.paid-block-sales {
  padding: 25px 0; }
  .paid-block-sales .paid-block {
    margin-top: 0;
    padding: 0 25px; }

.paid-block--1 .paid-text {
  font-weight: 600;
  font-size: 16px;
  margin-top: 0;
  color: #333; }
.paid-block--1 .paid-item + .paid-item {
  margin-top: 0; }
.paid-block--1 .link-4.link-sales, .paid-block--1 .link-4.link-cost-sales {
  display: block;
  float: none;
  clear: both;
  padding-top: 15px; }
.paid-block--1 .link-4 .link-sales {
  margin: 0 0 30px; }
.paid-block--1 .link-4 .link-cost-sale {
  margin: 0; }

.booking-summary--1 .flights-cost__details > li.sub-total > span {
  font-weight: normal;
  line-height: normal; }
.booking-summary--1 .booking-summary__info .total-cost {
  font-size: 21px; }
.booking-summary--1 .total-title {
  margin-top: 3px; }
.booking-summary--1 .grand-total .total-title {
  margin-top: 7px; }
.booking-summary--1 .grand-total .total-info {
  font-size: 21px; }
.booking-summary--1 .sub-total .values span {
  display: block;
  text-align: right; }
.booking-summary--1 .sub-total > span:first-child {
  text-transform: uppercase; }
.booking-summary--1 .sub-total.first > span:first-child {
  text-transform: none; }
.booking-summary--1 .pre-paid span {
  font-weight: bold;
  color: #000; }
.booking-summary--1 .pre-paid > span:first-child {
  width: 56%; }
.booking-summary--1 .pre-paid .values span {
  text-align: right;
  display: block; }

.terms-conditions.terms-conditions--1 {
  margin-bottom: 20px; }
  .terms-conditions.terms-conditions--1 .cta-group {
    padding-bottom: 0; }
.terms-conditions .sub-heading-2--dark {
  display: inline; }

.popup-mb-cost-breakdown .cost-breakdown.last, .popup-mb-cost-breakdown-1 .cost-breakdown.last {
  margin-bottom: 0; }

.popup-mb-cost-breakdown .flights-target {
  margin-bottom: 30px; }

.table-cost.table-cost--1 {
  margin-top: 20px; }
  .table-cost.table-cost--1 thead th {
    padding-bottom: 20px;
    font-weight: normal; }
.table-cost.table-cost--2 {
  margin-top: 20px; }
  .table-cost.table-cost--2 thead th {
    padding-bottom: 10px;
    font-weight: normal; }
.table-cost .type-1 td {
  padding-bottom: 25px; }

.payment-not-cards .payment-currency {
  margin-top: 0; }

.paid-summary.type-1 .middle-item {
  margin: 0 50px; }

.mb-review-child-page .insurance-block {
  display: none; }

.mb-codeshare-page .booking--style-3__btn {
  margin-left: 20px; }
.mb-codeshare-page .checkin-alert {
  margin: 20px 0; }
.mb-codeshare-page .booking-info .booking-info-item {
  padding-bottom: 10px; }
.mb-codeshare-page .find-your-booking .sub-intro > p {
  padding-top: 12px; }
.mb-codeshare-page .booking-info--2 p {
  margin-bottom: 0; }

.visa-link {
  font-size: 14px; }
  .visa-link .ico-point-r {
    font-size: 8px; }

.booking--style-3 .operated {
  margin-bottom: 15px;
  clear: both; }

.check-visa {
  margin-top: 20px; }

.add-ons-booking-mp .add-ons-item .item-row {
  padding: 27px 20px; }
.add-ons-booking-mp .add-ons-item .item-full-img .item-col-2 {
  padding-right: 20px; }

.add-ons-item {
  margin-top: 20px;
  padding: 20px;
  overflow: hidden; }
  .add-ons-item .sub-heading-3--dark {
    display: inline-block; }
  .add-ons-item li {
    list-style: none; }
  .add-ons-item .add-ons-item__header .sub-heading-3--dark {
    float: left; }
  .add-ons-item .add-ons-item__header > a, .add-ons-item .add-ons-item__header ul {
    float: right;
    margin-top: 8px; }
  .add-ons-item .add-ons-item__header, .add-ons-item .item-actions {
    overflow: hidden; }
    .add-ons-item .add-ons-item__header a, .add-ons-item .item-actions a {
      font-size: 13px; }
      .add-ons-item .add-ons-item__header a .ico-point-r, .add-ons-item .item-actions a .ico-point-r {
        font-size: 8px;
        display: inline-block;
        margin-top: -2px; }
    .add-ons-item .add-ons-item__header li, .add-ons-item .item-actions li {
      float: left; }
      .add-ons-item .add-ons-item__header li + li, .add-ons-item .item-actions li + li {
        margin-left: 10px; }
  .add-ons-item .item-list-content > li + li {
    margin-top: 30px; }
  .add-ons-item .item-row {
    padding: 20px; }
  .add-ons-item .item-caption {
    margin-top: 10px; }
    .add-ons-item .item-caption p {
      margin-bottom: 0; }
  .add-ons-item .add-ons-item__content {
    color: #000;
    background-color: #f5f5f5;
    margin-top: 17px; }
    .add-ons-item .add-ons-item__content .item-content__inner {
      overflow: hidden; }
    .add-ons-item .add-ons-item__content .item-content__info {
      padding: 20px; }
    .add-ons-item .add-ons-item__content .add-ons-item__img img {
      width: 100%; }
    .add-ons-item .add-ons-item__content .item-info__head {
      overflow: hidden;
      margin-bottom: 15px; }
    .add-ons-item .add-ons-item__content .item-actions {
      float: right; }
    .add-ons-item .add-ons-item__content .info-details {
      position: relative; }
      .add-ons-item .add-ons-item__content .info-details > li {
        position: relative;
        padding-left: 100px;
        line-height: 1.4;
        min-height: 1.4em; }
        .add-ons-item .add-ons-item__content .info-details > li + li {
          margin-top: 2px; }
      .add-ons-item .add-ons-item__content .info-details span {
        color: #666;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100px; }
  .add-ons-item .item-sub-heading {
    color: #000;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
  .add-ons-item .item-inner--1 .item-left-col {
    padding: 20px 0 0 20px;
    width: 40%; }
  .add-ons-item .note-info p {
    margin-bottom: 0; }
  .add-ons-item .note-info span {
    color: #000; }
  .add-ons-item .item-right-col--1 .text-bolder {
    padding-left: 80px; }
    .add-ons-item .item-right-col--1 .text-bolder span {
      width: 80px; }
  .add-ons-item .badge-mix {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    padding: 3px 10px;
    top: -3px;
    background-color: #FFA024;
    color: #00226B;
    font-size: 12px;
    border-radius: 2px;
    font-weight: 600; }

.manage-booking-wrapper {
  position: relative; }
  .manage-booking-wrapper .booking-flight-item {
    margin-top: 20px; }
  .manage-booking-wrapper > .blk-heading {
    margin-top: 40px; }
    .manage-booking-wrapper > .blk-heading + .booking--style-3 {
      margin-top: 22px; }
  .review-cancel-baggage-page .manage-booking-wrapper {
    margin-top: 30px; }
  .manage-booking-wrapper .mb-sf-alert {
    margin-top: 30px; }
  .manage-booking-wrapper .button-group-1 .btn-mb-sf {
    margin-top: 40px; }

.booking--style-3__main.booking-status-group {
  padding-bottom: 0; }

.booking--style-3.block--shadow {
  padding-bottom: 40px; }
.booking--style-3 .passenger-names {
  margin: 0;
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 25px;
  color: #000; }

.booking-info-group--inline-style {
  margin: 0; }
  .booking-info-group--inline-style .booking-info .booking-desc {
    zoom: 1; }
    .booking-info-group--inline-style .booking-info .booking-desc:after {
      content: "";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both; }
  .booking-info-group--inline-style .booking-info .booking-info-item {
    width: 50%; }
    .booking-info-group--inline-style .booking-info .booking-info-item .hour {
      float: left;
      margin-right: 10px; }
    .booking-info-group--inline-style .booking-info .booking-info-item .booking-content {
      float: left;
      margin-top: 7px; }
  .booking-info-group--inline-style .booking-info .ico-airplane-lift {
    top: -4px;
    margin-top: 0; }

.booking-status {
  zoom: 1;
  position: relative;
  background-color: #f2f2f2;
  margin-top: 15px; }
  .booking-status:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .booking-status .booking-info-group {
    margin: 0; }
  .booking-status .booking-status-info {
    margin: 0; }
    .booking-status .booking-status-info span {
      color: #666; }
    .booking-status .booking-status-info .confirmed-state {
      color: #23bd2d; }
    .booking-status .booking-status-info .unconfirmed-state {
      color: #000; }
  .booking-status + .booking-status {
    margin-top: 20px; }

.booking-flight-status {
  zoom: 1;
  position: relative;
  background-color: #f7f7f7; }
  .booking-flight-status:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .booking-flight-status .booking-status-info {
    margin: 0; }
    .booking-flight-status .booking-status-info span {
      font-weight: bold;
      color: #666; }
    .booking-flight-status .booking-status-info .confirmed-state {
      color: #03760b; }
    .booking-flight-status .booking-status-info .unconfirmed-state {
      color: #ba5400; }

.waitlist-flight-item .booking-reference__item__content + .booking-reference__item__content {
  margin-top: 10px; }

.booking-info-addon--1 + .link-2 {
  margin-top: 20px; }

.review-cancel {
  margin-bottom: 20px; }
  .review-cancel > .sub-heading-2--dark {
    text-transform: uppercase;
    margin-top: 25px; }

.review-cancel__group {
  padding: 15px;
  margin-top: 15px; }

.review-cancel__list {
  margin-top: 17px; }
  .review-cancel__list + .sub-heading-3--dark {
    margin-top: 13px; }

.review-cancel--1__item {
  background: #f7f7f7;
  margin-top: 2px; }
  .review-cancel--1__item:first-child {
    margin-top: 0; }
  .review-cancel--1__item .custom-checkbox.custom-checkbox--1 {
    margin: 0;
    padding: 0; }
  .review-cancel--1__item .custom-checkbox input, .review-cancel--1__item .custom-checkbox label:before, .review-cancel--1__item .custom-checkbox label:after {
    top: 50%;
    margin-top: -7px; }
  .review-cancel--1__item .review-cancel-text {
    margin: 0; }
    .review-cancel--1__item .review-cancel-text [class^="ico-"] {
      font-size: 30px;
      color: #363636; }
    .review-cancel--1__item .review-cancel-text span {
      margin-left: 0;
      padding-left: 10px;
      color: #333;
      vertical-align: middle; }
  .review-cancel--1__item > .review-cancel-text {
    margin-left: 10px; }

.review-cancel--1 {
  margin-bottom: 40px; }
  .review-cancel--1 .review-cancel__group {
    background: #f7f7f7; }
  .review-cancel--1 .review-cancel--1__item {
    background-color: #fff; }

.travel-guard--1 {
  margin-top: 0;
  padding: 20px;
  background: #f5f5f5;
  color: #000; }
  .travel-guard--1 .wrap-heading {
    margin-top: 0; }
  .travel-guard--1 .desc {
    margin: 18px 0 15px; }
    .travel-guard--1 .desc p {
      margin: 0; }

.flights-target--4 .title-1 {
  margin-bottom: 15px; }
.flights-target--4 .flights__info--group {
  padding: 0 15px;
  background: #f7f7f7; }
  .flights-target--4 .flights__info--group .flights__info {
    position: relative; }
    .flights-target--4 .flights__info--group .flights__info .flights-type {
      position: absolute;
      right: 0;
      top: 12px; }
    .flights-target--4 .flights__info--group .flights__info + .flights__info {
      padding-top: 5px; }
  .flights-target--4 .flights__info--group .flights__info--detail .country-name {
    margin-bottom: 3px; }
.flights-target--4 .flights-target__content {
  margin-top: 15px; }
.flights-target--4 .custom-checkbox--1 input + label {
  font-family: "baker-signet-web", serif;
  font-size: 21px;
  color: #000;
  padding-left: 28px; }
  .flights-target--4 .custom-checkbox--1 input + label:before {
    top: 1px; }
.flights-target--4 .flight-upgrade-text {
  padding-top: 17px;
  margin: 0 0 40px;
  color: #000; }

.flights-upgrade-miles {
  margin-bottom: 30px; }
  .flights-upgrade-miles .booking-flight-item {
    margin-top: 15px; }
    .flights-upgrade-miles .booking-flight-item .flights__info--group {
      padding: 10px 15px 0;
      background-color: #f7f7f7; }
    .flights-upgrade-miles .booking-flight-item .flight-station .stop-time {
      margin-bottom: -10px; }
  .flights-upgrade-miles .custom-checkbox input:checked + label, .flights-upgrade-miles .custom-checkbox input:focus + label {
    color: #363636 !important; }
  .flights-upgrade-miles .custom-checkbox label {
    font-weight: 600;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 16px;
    color: #363636; }

.select-meals-page .wrap-passenger {
  min-height: 1000px; }

.wrap-select-meals {
  position: relative; }

.select-meal-item {
  overflow: hidden;
  margin-top: 30px;
  /* .form-group{
    position: static;
  } */ }
  .select-meal-item:first-child {
    margin-top: 2px; }
  .select-meal-item label {
    font-size: 15px;
    margin-bottom: 5px;
    display: inline-block; }
  .select-meal-item .item-label {
    font-size: 15px;
    margin-bottom: 5px;
    display: inline-block;
    color: #333; }
  .select-meal-item .custom-select--2 .select__text {
    left: 0;
    padding-left: 10px; }
  .select-meal-item .flight-schedule {
    display: block;
    text-transform: uppercase;
    line-height: 28px;
    height: 34px;
    padding: 0;
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 12px;
    color: #999;
    font-weight: 600; }
  .select-meal-item .text-dark {
    font-size: 16px; }
    .select-meal-item .text-dark span {
      font-weight: 600; }

.accordion__heading-redemp .redemp-title {
  display: none; }

.accordion--2 .accordion__control {
  padding-top: 18px;
  cursor: pointer; }
.accordion--2 .accordion__content {
  padding-bottom: 20px; }
.accordion--2 .accordion__heading-redemp {
  width: 90%; }
.accordion--2 .accordion__control .ico-point-d {
  top: 50%;
  margin-top: -10px; }

.form--select-meals {
  margin-left: 315px;
  position: relative; }
  .form--select-meals .checkin-alert {
    margin-top: 20px; }
  .form--select-meals .button-group-2 .one-half:first-child {
    float: right; }
  .form--select-meals .text-error {
    padding: 0 0 20px;
    margin-top: -10px; }

.button-group-2, .form--select-meals .button-group-1 {
  margin-top: 30px;
  overflow: hidden; }

.alert-selectbox {
  background: #fffdcc;
  -webkit-animation: alertBackground 2s ease forwards;
  -moz-animation: alertBackground 2s ease forwards;
  animation: alertBackground 2s ease forwards; }

.change-flight-page .blk-heading {
  padding-bottom: 21px; }

.form-change-flight .change-flight-item {
  margin-top: 40px; }
.form-change-flight .blk-control .ico-plus {
  margin-right: 7px; }
.form-change-flight .sub-heading-3--dark {
  margin-bottom: 20px; }
.form-change-flight .button-group-1 {
  margin: 60px 0 0; }
.form-change-flight .form-group--1 {
  margin-bottom: 30px; }

.multi-flight--change {
  padding: 20px;
  clear: both; }
  .multi-flight--change .form-wrapper {
    border-bottom: none;
    margin-top: 0; }
    .multi-flight--change .form-wrapper + .form-wrapper {
      border-top: 1px solid #e5e5e5; }

.mb-add-travel-insurance .booking--style-3 .booking--style-3__main {
  margin-top: 38px; }

.add-ons__list--sales .item:first-child {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  margin-bottom: 20px; }
.add-ons__list--sales .item .info-details {
  overflow: hidden; }

.info-details-1, .info-details-2, .info-details-3 {
  position: relative;
  overflow: hidden; }
  .info-details-1 > li, .info-details-2 > li, .info-details-3 > li {
    position: relative;
    line-height: 1.4;
    min-height: 1.4em;
    margin-top: 20px;
    font-size: 14px;
    box-sizing: border-box;
    font-weight: 600;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
  .info-details-1 span, .info-details-2 span, .info-details-3 span {
    color: black;
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    position: absolute;
    top: 0px;
    left: 0px; }

.info-details-1 {
  margin-top: -20px; }
  .info-details-1 > li {
    padding-left: 70px; }
    .info-details-1 > li span {
      width: 70px; }

.info-details-2 > li {
  padding-left: 135px;
  margin-top: 0; }
  .info-details-2 > li + li {
    margin-top: 20px; }
  .info-details-2 > li span {
    width: 135px; }

.info-details-3 {
  margin-top: -20px; }
  .info-details-3 > li {
    padding-left: 110px;
    box-sizing: border-box; }
    .info-details-3 > li span {
      width: 105px; }
    .info-details-3 > li p {
      display: initial; }

.price-room .total-title {
  font-size: 15px;
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  color: black; }
.price-room .total-cost {
  font-family: "baker-signet-web", serif; }

.item-content-head {
  margin-top: 17px; }
  .item-content-head .sub-head {
    font-size: 16px;
    font-weight: 700;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    padding-top: 15px;
    color: black; }
  .item-content-head .desc {
    font-size: 14px;
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }

.add-ons-item-added .item-content-head {
  margin-top: 0; }
.add-ons-item-added .add-ons-item__content {
  overflow: hidden; }
.add-ons-item-added .head {
  font-size: 24px;
  font-weight: normal;
  color: #363636;
  font-family: "baker-signet-web", serif; }
.add-ons-item-added .add-ons-footer {
  margin-top: 20px; }

.list-link {
  float: right; }
  .list-link li {
    float: left;
    margin-left: 30px; }
    .list-link li a {
      font-size: 13px;
      font-weight: 400;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
    .list-link li:first-child {
      margin-left: 0; }
  .list-link .ico-point-r, .list-link .ico-point-r--addon {
    font-size: 8px; }
  .list-link .ico-point-r--addon:before {
    content: "\e63d";
    display: inline-block; }

.car-infor, .hotel-infor {
  clear: both; }
  .car-infor .desc, .hotel-infor .desc {
    color: black;
    font-weight: 600;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }

.list-furnished {
  padding-top: 5px;
  overflow: hidden; }
  .list-furnished li {
    float: left;
    color: black;
    font-size: 14px;
    font-weight: 600;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
    .list-furnished li:before {
      content: '|';
      padding: 0 5px; }
    .list-furnished li:first-child:before {
      content: '';
      padding: 0; }

.add-ons-footer p {
  float: left;
  color: black;
  font-size: 14px;
  font-weight: 400;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
.add-ons-footer .link {
  float: right;
  margin-top: 15px;
  font-size: 13px;
  font-weight: 400;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
  .add-ons-footer .link .ico-point-r {
    display: inline-block;
    margin-top: -2px;
    font-size: 8px; }

.item-content-head.style .item-col-1, .item-content-head.style .item-col-2 {
  display: table-cell;
  vertical-align: middle; }
.item-content-head.style .item-col-2 {
  padding-left: 20px; }

.add-on-cantact {
  margin-top: 20px;
  display: table; }
  .add-on-cantact .img-block, .add-on-cantact .add-on__content {
    display: table-cell;
    vertical-align: middle; }
  .add-on-cantact .img-block {
    width: 140px;
    height: 90px;
    border: 1px solid #ccc; }
    .add-on-cantact .img-block img {
      display: block;
      margin: 0 auto; }
  .add-on-cantact .add-on__content {
    padding-left: 20px; }
    .add-on-cantact .add-on__content p {
      margin: 0; }
  .add-on-cantact .desc {
    color: black;
    font-size: 14px;
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
    .add-on-cantact .desc p, .add-on-cantact .desc a {
      margin-top: 5px; }

.add-on-confirm {
  position: relative;
  padding-bottom: 30px; }
  .add-on-confirm .add-on-cantact .desc p {
    display: inline-block;
    margin-right: 5px; }
  .add-on-confirm .add-on-cantact .desc span {
    display: block; }
  .add-on-confirm .item-content-head .desc p {
    padding-top: 13px; }

.add-ons__list--sales .item-content-head--top0 {
  margin-top: 0; }

.booking-flight-item .booking-reference__item-wrap {
  margin-top: 18px;
  padding: 18px 20px 20px;
  background: #f7f7f7; }
  .booking-flight-item .booking-reference__item-wrap .flights__info--group {
    background: #fff; }
    .booking-flight-item .booking-reference__item-wrap .flights__info--group + .heading-wrap {
      margin-top: 20px; }
.booking-flight-item .booking-reference__item__content .heading-flight:first-child {
  margin-top: 0; }
.booking-flight-item .search-link > .ico-edit {
  margin-top: -8px; }
.booking-flight-item.booking-reference__item--1 {
  margin-top: 14px; }

/*# sourceMappingURL=manage-booking-dark-site.css.map */