/* Fontface */
@font-face {
  font-family: 'sia';
  src: url('../fonts/sia.eot');
  src: url('../fonts/sia.eot?#iefix') format('embedded-opentype'), url('../fonts/sia.woff') format('woff'), url('../fonts/sia.ttf') format('truetype'), url('../fonts/sia.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-1';
  src: url('../fonts/sia-1.eot');
  src: url('../fonts/sia-1.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-1.woff') format('woff'), url('../fonts/sia-1.ttf') format('truetype'), url('../fonts/sia-1.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-2';
  src: url('../fonts/sia-2.eot');
  src: url('../fonts/sia-2.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-2.woff') format('woff'), url('../fonts/sia-2.ttf') format('truetype'), url('../fonts/sia-2.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-3';
  src: url('../fonts/sia-3.eot');
  src: url('../fonts/sia-3.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-3.woff') format('woff'), url('../fonts/sia-3.ttf') format('truetype'), url('../fonts/sia-3.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-amenities';
  src: url('../fonts/sia-amenities.eot');
  src: url('../fonts/sia-amenities.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-amenities.woff') format('woff'), url('../fonts/sia-amenities.ttf') format('truetype'), url('../fonts/sia-amenities.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-map';
  src: url('../fonts/sia-map.eot?cbq5t9');
  src: url('../fonts/sia-map.eot?cbq5t9#iefix') format('embedded-opentype'), url('../fonts/sia-map.ttf?cbq5t9') format('truetype'), url('../fonts/sia-map.woff?cbq5t9') format('woff'), url('../fonts/sia-map.svg?cbq5t9#sia-3') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-meals';
  src: url('../fonts/sia-meals.eot?egg8fi');
  src: url('../fonts/sia-meals.eot?egg8fi#iefix') format('embedded-opentype'), url('../fonts/sia-meals.ttf?egg8fi') format('truetype'), url('../fonts/sia-meals.woff?egg8fi') format('woff'), url('../fonts/sia-meals.svg?egg8fi#sia-meals') format('svg');
  font-weight: normal;
  font-style: normal; }

/* End fontface */
/* Style for popup */
.popup {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  position: absolute;
  clear: both;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .windows-phone .popup {
    -ms-overflow-style: -ms-autohiding-scrollbar; }
  .popup .popup__inner {
    background-color: #fff;
    margin: 0 auto;
    position: relative; }
  .popup .btn-full {
    padding: 0;
    line-height: 40px; }
  .popup .popup__arrow {
    position: absolute;
    top: -9px;
    left: 45%; }
  .popup .popup__content {
    position: relative;
    -webkit-overflow-scrolling: touch; }
  .popup .popup__heading {
    margin-top: -5px;
    margin-bottom: 17px;
    color: #00266b; }
  .popup .popup__text-intro {
    margin-top: 0;
    margin-bottom: 30px;
    color: #333;
    font-size: 16px; }
    .popup .popup__text-intro span {
      color: #0254ec; }
    .popup .popup__text-intro .link-4 {
      display: block; }
    .popup .popup__text-intro span[class*="text-intro__"] {
      color: #333; }
  .popup .popup__text-intro--1 {
    color: #000;
    margin-bottom: 25px; }
  .popup .popup__text-intro--2 {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: sans-serif; }
  .popup .popup__desc {
    font-size: 14px; }
    .popup .popup__desc p {
      color: #fff; }
    .popup .popup__desc a {
      color: #b9986d; }
  .popup .table-default {
    margin-bottom: 40px;
    padding-top: 0; }
  .popup .table-row--heading {
    margin-bottom: 0; }
    .popup .table-row--heading .table-col {
      padding-top: 5px; }
  .popup .tabs--1 > .tab .tab-item.active a {
    background: #fff; }
  .popup.popup--learn-more-voucher .popup__inner {
    max-width: 600px; }
  .popup.popup-view-partner-airlines .popup__inner {
    max-width: 600px; }
  .popup.popup-view-partner-airlines .popup__heading {
    font-size: 29px; }
  .popup.popup-view-partner-airlines .popup__content {
    padding: 34px 40px; }
  .popup.popup-view-partner-airlines p {
    font-size: 16px;
    color: #000;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 28px; }
    .popup.popup-view-partner-airlines p:last-child {
      margin-bottom: 0; }
  .popup.popup-view-our-partner-airlines .popup__inner {
    max-width: 600px; }
  .popup.popup-view-our-partner-airlines .popup__heading {
    font-size: 29px; }
  .popup.popup-view-our-partner-airlines .popup__content {
    padding: 34px 40px; }
  .popup.popup-view-our-partner-airlines p {
    font-size: 16px;
    color: #000;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 28px; }

.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  font-family: "sia";
  line-height: 1;
  padding: 15px;
  color: #000;
  -webkit-transform: translate3d(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.89); }
  .tabs .popup__close, .form-promo-filter .popup__close, .search-flight .popup__close {
    background-color: rgba(247, 247, 247, 0.89); }

.form--boarding-3 .input-1 {
  padding-left: 15px; }

.popup-1, .tooltip-1 {
  background-color: #00266b;
  position: relative;
  width: 261px;
  height: 108px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 15px;
  z-index: 6; }
  .popup-1 .popup__close, .popup-1 .tooltip-1 {
    color: #fff;
    background-color: rgba(0, 38, 107, 0.89); }
  .popup-1 .popup__heading, .popup-1 .tooltip-1 {
    font-size: 23px;
    color: #fff;
    margin-bottom: 10px; }

.tooltip-1 {
  color: #fff;
  height: auto;
  width: 190px;
  clear: both;
  display: none; }
  .tooltip-1 .tooltip__content p {
    margin: 0; }
  .tooltip-1 .tooltip__arrow {
    position: absolute;
    right: -5px;
    top: 15px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-right: none;
    border-left-color: #00266b; }
  .tooltip-1.add-ons-booking-tooltip .text-1 {
    display: block; }

.popup--language, .popup--search, .popup--logged-profile {
  overflow-y: initial; }
  .popup--language .popup__arrow, .popup--search .popup__arrow, .popup--logged-profile .popup__arrow {
    top: 0; }
    .popup--language .popup__arrow:before, .popup--search .popup__arrow:before, .popup--logged-profile .popup__arrow:before {
      content: '';
      bottom: 0;
      width: 0px;
      height: 0px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
      position: absolute;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

.popup--language .popup__heading {
  margin-bottom: 25px; }
.popup--language .form--language {
  padding-top: 0;
  clear: both; }
.popup--language .custom-checkbox--1 label {
  display: inline-block; }

.popup--search {
  top: 0;
  left: 0;
  display: block; }
  .popup--search .popup__arrow {
    left: 55%; }
  .popup--search .popup__content {
    overflow: hidden; }
  .popup--search .popup__close {
    background-color: transparent; }

.popup--logged-profile .popup__heading .sub-heading-3--dark, .logged-in .popup__heading .sub-heading-3--dark {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis; }

.popup--promo {
  z-index: 16; }
  .popup--promo .popup__text-intro {
    font-size: 14px;
    margin-top: -5px;
    margin-bottom: 26px; }
  .popup--promo .form-general {
    padding-top: 0; }

.popup--cookie {
  position: fixed;
  right: 15px;
  bottom: 20px;
  z-index: 13;
  height: auto; }
  .popup--cookie .popup__heading {
    padding-right: 25px; }
  .popup--cookie .popup__desc {
    color: #fff; }
    .popup--cookie .popup__desc a {
      color: #c2a570;
      -webkit-transition: color 400ms ease 0s;
      -moz-transition: color 400ms ease 0s;
      -o-transition: color 400ms ease 0s;
      transition: color 400ms ease 0s; }


.popup--account-alert .popup__text-intro {
  margin-bottom: 40px; }

.boarding-1, .boarding-2 {
  display: none; }

.popup--search-compare .popup__heading {
  margin-bottom: 25px; }

.popup--boarding-3 .popup__heading {
  margin-bottom: 25px; }
.popup--boarding-3 .tab-item em.ico-phone, .popup--boarding-3 .tab-item em.ico-mail {
  padding-right: 5px; }
.popup--boarding-3 .tab .tab-item a {
  padding: 0 25px; }
.popup--boarding-3 .boarding-1, .popup--boarding-3 .boarding-2 {
  padding: 40px;
  right: 0; }
  .popup--boarding-3 .boarding-1 .popup__text-intro a, .popup--boarding-3 .boarding-2 .popup__text-intro a {
    font-size: 14px;
    padding-top: 2px;
    float: right; }
    .popup--boarding-3 .boarding-1 .popup__text-intro a em, .popup--boarding-3 .boarding-2 .popup__text-intro a em {
      padding-right: 5px; }
.popup--boarding-3 .form--boarding-3 {
  margin-top: 30px; }
.popup--boarding-3 .custom-select--2 .select__text {
  left: 0;
  padding-left: 13px; }
  .popup--boarding-3 .custom-select--2 .select__text input {
    padding-left: 13px; }
.popup--boarding-3 .link-print {
  color: #0254ec; }

.popup .form--email-address .table-row, .popup .form--email-confirm .table-row {
  padding-top: 0; }
.popup .form--email-address .table-col, .popup .form--email-confirm .table-col {
  float: left; }
.popup .form--email-address .table-col-2, .popup .form--email-confirm .table-col-2 {
  width: 93%; }
.popup .form--email-address .table-default {
  padding: 0; }
.popup .form--email-confirm .table-default {
  padding-top: 0; }

.popup--email-address .table-default {
  background-color: transparent; }
  .popup--email-address .table-default .table-col {
    padding-bottom: 20px;
    padding-top: 0; }
  .popup--email-address .table-default > .table-row {
    background: #fff;
    margin: 0;
    padding-top: 20px; }
  .popup--email-address .table-default .table-content--1 {
    padding: 20px 20px 0;
    margin-right: 0;
    background-color: #f2f2f2; }

.form--email-confirm .table-default .table-col {
  padding-bottom: 0;
  padding-top: 20px; }

.popup--checkin-cancel .popup__content, .popup--checkin-cancel-confirm .popup__content, .popup--checkin-cancel-all-confirm .popup__content {
  display: block; }
.popup--checkin-cancel .success-text, .popup--checkin-cancel-confirm .success-text, .popup--checkin-cancel-all-confirm .success-text {
  font-weight: 600;
  font-family: sans-serif; }
  .popup--checkin-cancel .success-text > span, .popup--checkin-cancel-confirm .success-text > span, .popup--checkin-cancel-all-confirm .success-text > span {
    float: left; }

.popup--confirm-seat .button-group-1 {
  margin-top: 15px; }

.popup--checkin-error-message .popup__text-intro--2, .promotions-popup .popup__text-intro--2, .popup--info .popup__text-intro--2 {
  margin-top: -5px;
  font-size: 21px;
  margin-bottom: 40px;
  color: #333; }

.promotions-popup .popup__content, .popup--info .popup__content {
  text-align: center; }

.popup--check-available .form-book-travel {
  display: block; }
  .popup--check-available .form-book-travel .button-group-1 {
    margin-top: 20px; }

.popup--checkin-cancel-all .table-default .custom-checkbox-all {
  cursor: default; }

.widget .grid-col-2 {
  margin-bottom: 25px; }

.popup--seat-prefer .popup__content {
  padding-top: 35px; }
.popup--seat-prefer .popup__heading {
  margin-bottom: 20px; }
.popup--seat-prefer .popup__text-intro {
  margin-bottom: 23px;
  color: #000; }
  .popup--seat-prefer .popup__text-intro strong + p {
    margin-top: 0; }
.popup--seat-prefer .text-dark {
  display: inline-block;
  font-weight: normal;
  line-height: 17px;
  vertical-align: middle; }

.form--seat-prefer .table-default {
  background-color: transparent;
  margin-bottom: 28px; }
.form--seat-prefer .table-row--heading {
  background: #00266b;
  text-align: left;
  padding-left: 20px; }
  .form--seat-prefer .table-row--heading .table-col {
    color: #fff;
    font-weight: bold;
    font-size: 14px; }
.form--seat-prefer .table-row--heading {
  border-bottom: none; }
  .form--seat-prefer .table-row--heading .table-col {
    padding-top: 13px;
    padding-bottom: 13px; }
.form--seat-prefer .custom-checkbox--1 {
  margin-top: 12px; }
.form--seat-prefer .passenger-info__seat {
  margin-right: 0;
  margin-left: 12px; }
.form--seat-prefer .table-col {
  line-height: 34px;
  min-height: 34px; }
.form--seat-prefer .terms-conditions .terms-detail {
  list-style: decimal outside;
  padding: 0;
  margin: 0 0 0 20px; }
  .form--seat-prefer .terms-conditions .terms-detail li {
    margin: 15px 0 0;
    color: #000; }

.form--seat-prefer--baggage p {
  margin: 0; }
.form--seat-prefer--baggage .table-col {
  color: #000; }
.form--seat-prefer--baggage .prefer_staus, .form--seat-prefer--baggage .name-customer {
  text-transform: uppercase;
  color: #000; }
.form--seat-prefer--baggage .prefer_staus {
  padding-top: 6px;
  padding-bottom: 5px; }
.form--seat-prefer--baggage .table-content {
  padding-top: 0; }
  .form--seat-prefer--baggage .table-content .table-col {
    line-height: 20px; }
  .form--seat-prefer--baggage .table-content .table-row + .table-row {
    margin-top: 12px;
    border-top: 1px solid #e2e2e2; }
.form--seat-prefer--baggage .prefer-result {
  line-height: 1;
  margin-bottom: 0;
  margin-top: 20px; }
  .form--seat-prefer--baggage .prefer-result .sub {
    font-size: 14px;
    margin-bottom: 5px; }

.table-content {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  padding-top: 5px;
  padding-bottom: 13px; }

.prefer_staus {
  color: #333;
  line-height: 40px; }
  .prefer_staus .ico-1-plane {
    vertical-align: -8px; }

.prefer_staus-1 {
  margin-bottom: -32px; }

.prefer-result {
  display: block;
  text-align: right;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: sans-serif; }
  .prefer-result .sub {
    color: #c2a570;
    display: block;
    font-size: 11px;
    font-weight: 700;
    font-family: sans-serif; }
  .prefer-result span {
    font-size: 28px;
    color: #333; }

.prefer-attention {
  background-color: #efefef;
  color: #333;
  padding: 27px 20px 10px;
  margin-bottom: 40px;
  letter-spacing: -0.8px; }
  .prefer-attention strong {
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    margin-bottom: 7px; }
  .prefer-attention p {
    margin-bottom: 7px; }

.form-flight-status .btn-full {
  padding: 0;
  line-height: 40px; }
.form-flight-status .input-3__text {
  left: 100px; }

.form-packages .btn-full, .form-manage-booking .btn-full, .form-check-in .btn-full, .form-book-travel-1 .btn-full {
  padding: 0;
  line-height: 40px; }

.form-book-travel .btn-4.btn-full {
  padding: 0;
  line-height: 40px; }

.popup--seat-popout .popup__text-intro {
  margin-bottom: 0;
  letter-spacing: -0.3px;
  font-size: 13px; }

.form-promo-filter .popup__close {
  display: none; }

.popup--edit-search .form-group--tooltips .custom-radio {
  margin-left: 15px; }
  .popup--edit-search .form-group--tooltips .custom-radio:first-child {
    margin-left: 0; }
.popup--edit-search .radio-tooltips {
  background-color: #f0f0f0; }

.popup--stopover .desc {
  font-size: 16px;
  color: #000; }

.tooltip--fare-conditions .popup__content {
  padding: 10px; }
  .tooltip--fare-conditions .popup__content .summary-fare__conditions {
    margin-top: 15px;
    margin-bottom: 0; }

.question-tooltips {
  margin-top: 10px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25); }
  .question-tooltips .tooltip-cont {
    float: left;
    color: #666; }
  .question-tooltips .ico-question-tooltips {
    background: none;
    width: 0;
    border: 6px solid transparent;
    border-bottom-color: #fff;
    top: -32px; }

.popout--confirm-passenger .popup__heading {
  margin-bottom: 5px; }

.popout--mismatch .popup__heading {
  margin-bottom: 0; }

.popup-2 .table__default {
  background-color: #f7f7f7; }
.popup-2 dl {
  padding: 17px 20px;
  margin: 0;
  clear: both;
  overflow: hidden; }
  .popup-2 dl + dl {
    border-top: 1px solid #dfdfdd; }
  .popup-2 dl dt, .popup-2 dl dd {
    color: #333; }
  .popup-2 dl dt {
    font-weight: 700; }
  .popup-2 dl dd {
    margin-left: 0; }

.popup--add-ons-baggage .table--allowance {
  background-color: #fff;
  margin-bottom: 25px; }
.popup--add-ons-baggage .popup__text, .popup--add-ons-baggage .rule-baggage {
  color: #333; }
  .popup--add-ons-baggage .popup__text h3, .popup--add-ons-baggage .rule-baggage h3 {
    font-weight: 600;
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 20px; }
  .popup--add-ons-baggage .popup__text p, .popup--add-ons-baggage .rule-baggage p {
    margin-bottom: 25px; }
.popup--add-ons-baggage .rule-baggage p {
  margin-top: 20px; }
.popup--add-ons-baggage .rule-baggage ol {
  padding-left: 20px; }
  .popup--add-ons-baggage .rule-baggage ol li {
    line-height: 30px; }
.popup--add-ons-baggage .rule-allowance {
  font-size: 14px;
  color: #000;
  margin: 0 0 25px; }

.popup--allocation .popup__content {
  padding: 40px; }
  .popup--allocation .popup__content .desc {
    font-size: 14px;
    color: #000;
    line-height: 20px; }
.popup--allocation .grand-total .total-info {
  margin-top: 5px;
  text-transform: none;
  font-size: 28px; }
.popup--allocation .grand-total .btn-1 {
  margin-top: 20px; }

.popup--flights-details .popup__content, .popup--flights-details-sf .popup__content {
  padding: 40px; }
.popup--flights-details .grand-total .total-info, .popup--flights-details-sf .grand-total .total-info {
  margin-top: 5px;
  font-size: 28px;
  margin-bottom: 30px; }
.popup--flights-details .flights-target .flights__info--group .flights__info, .popup--flights-details .flights-target .flights__info--group .travel-time, .popup--flights-details-sf .flights-target .flights__info--group .flights__info, .popup--flights-details-sf .flights-target .flights__info--group .travel-time {
  padding-left: 0; }

.popup--flights-details-sf .sub-heading-3--dark {
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  font-family: sans-serif; }
.popup--flights-details-sf .terms-conditions-sf .sub-heading-2--dark {
  display: block;
  color: #00266b;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  font-family: sans-serif; }
.popup--flights-details-sf .list-tsc li {
  color: black; }
.popup--flights-details-sf .list-tsc + p {
  color: black; }
.popup--flights-details-sf .grand-total .total-title {
  margin-top: 0;
  font-size: 14px; }
.popup--flights-details-sf .grand-total .total-info span {
  display: inline;
  clear: none;
  color: black; }

.flights-target.flights-target--1 {
  margin-bottom: 0; }
.flights-target .flights__info--group .flights__info--detail {
  width: 45%; }
  .flights-target .flights__info--group .flights__info--detail:first-child {
    width: 55%; }
  .flights-target .flights__info--group .flights__info--detail .hour {
    font-size: 21px; }
  .flights-target .flights__info--group .flights__info--detail .ico-airplane-lift {
    left: 42%;
    top: 9px; }
  .flights-target .flights__info--group .flights__info--detail .aircraft-type {
    float: left;
    width: 100%;
    margin: 0;
    font-size: 13px;
    color: #000; }
.flights-target .flights__info--group .flights__info > .class-flight {
  font-size: 13px;
  top: 13px; }

.flights-target--2 .title-1 {
  padding: 30px 0 3px; }
  .flights-target--2 .title-1:first-child {
    padding-top: 0; }

.flights-target--3 .title-1 {
  padding-top: 8px; }
  .flights-target--3 .title-1:first-child {
    padding-top: 0; }
.flights-target--3 .info-passengers__flight .title, .flights-target--3 .info-passengers__flight span {
  padding-left: 10px; }

.info-passengers {
  overflow: hidden;
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5; }
  .info-passengers .info-passengers__flight {
    float: left;
    width: 31%;
    margin-top: -7px; }
    .info-passengers .info-passengers__flight .title {
      font-size: 21px;
      color: #000;
      font-family: sans-serif;
      margin: 0; }
    .info-passengers .info-passengers__flight span {
      display: block;
      font-size: 13px;
      text-transform: uppercase; }
  .info-passengers .info-passengers__detail {
    float: left;
    width: 69%;
    color: #333; }
  .info-passengers .pref-bag {
    margin-top: 15px; }
  .info-passengers.no-border {
    border: none; }

.pref-seat {
  display: table;
  padding-left: 6px; }
  .pref-seat .number-seat {
    display: table-cell;
    vertical-align: middle;
    min-width: 25px;
    padding: 12px 5px;
    background-color: #0254ec;
    color: #fff;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .pref-seat .text-seat {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px; }

.pref-bag {
  display: table; }
  .pref-bag .ico-business, .pref-bag .ico-baggage, .pref-bag .ico-business-1 {
    margin: 0;
    float: left;
    font-size: 36px;
    line-height: 0.8;
    color: #00266b; }
  .pref-bag .ico-business {
    margin-left: -2px; }
  .pref-bag .ico-business-1:before {
    margin-left: 5px; }
  .pref-bag .number-pref {
    display: table-cell;
    vertical-align: middle; }
  .pref-bag .weight {
    color: #333;
    display: table-cell;
    vertical-align: middle;
    padding-left: 13px; }
    .pref-bag .weight > span {
      display: block;
      line-height: 1.5; }

.popup--cost-breakdown .popup__content {
  padding: 40px; }

.popup--refund-break .checkin-alert {
  margin-top: 30px; }

@-moz-document url-prefix() {
  .popup .popup__content.popup__scrolling > *:last-child {
    margin-bottom: 40px; } }

.popup--delete-kf .txt-uppercase, .popup--delete-pps .txt-uppercase {
  display: block;
  margin-bottom: 25px; }

.popup__sub-heading {
  font-size: 16px;
  color: #666; }

.popup__text-highlight {
  font-size: 18px;
  color: #999; }

.list-tsc {
  padding-left: 20px; }
  .list-tsc li {
    color: #999; }
    .list-tsc li + li {
      margin-top: 20px; }

.button-group {
  font-size: 0; }
  .button-group > :first-child ~ * {
    margin-left: 10px; }

.button-group-1 {
  overflow: hidden;
  clear: both;
  zoom: 1; }
  .button-group-1:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

.popup--delete-pps p {
  font-size: 16px;
  color: #333; }

.popup--service-fees .popup__heading {
  margin-bottom: 22px; }
.popup--service-fees .popup__sub-heading {
  font-weight: 700;
  margin-bottom: 20px; }

.popup--link .popup__content p {
  margin-bottom: 25px;
  color: #333;
  font-size: 15px; }
.popup--link .popup__content .popup__text-highlight {
  font-family: sans-serif; }
.popup--link .passenger-confirm {
  margin-bottom: 30px; }
  .popup--link .passenger-confirm label {
    color: #333; }

.popup--tcs .list-tsc {
  padding-top: 2px; }

.popup--delete-kf, .popup--delete-pps, .popup--service-fees {
  min-width: 0; }

.popup--reserve-value .align-right {
  text-align: right; }

.convert-confirm-content {
  zoom: 1; }
  .convert-confirm-content:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .convert-confirm-content .convert-focus {
    background: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px; }
  .convert-confirm-content .terms-conditions {
    margin-bottom: 20px;
    padding-top: 20px; }
  .convert-confirm-content dl {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    clear: both; }
    .convert-confirm-content dl:first-child {
      margin-top: 0; }
  .convert-confirm-content dt {
    font-size: 14px;
    color: #666; }
  .convert-confirm-content dd {
    font-size: 16px;
    color: #000;
    margin: 5px 0 0;
    overflow: hidden; }

.popup--convert .popup__heading {
  margin-bottom: 15px; }
.popup--convert .text {
  font-size: 12px;
  font-weight: 600;
  font-family: sans-serif;
  color: #999;
  display: block;
  margin-bottom: 5px; }
.popup--convert .form-general {
  padding-top: 0; }
  .popup--convert .form-general .form-group label {
    font-size: 15px;
    margin-bottom: 8px; }
  .popup--convert .form-general .link-4 {
    margin-top: 10px; }
.popup--convert .form-group {
  margin-bottom: 25px; }
  .popup--convert .form-group.button-group {
    margin-bottom: 10px; }
.popup--convert .equal {
  position: absolute;
  top: 50%;
  left: -3px; }
.popup--convert .tip {
  font-size: 12px;
  font-weight: 600;
  font-family: sans-serif;
  color: #999;
  text-align: right;
  padding: 5px;
  float: right; }
.popup--convert .custom-select--2 .select__text {
  padding-left: 0;
  left: 13px; }
.popup--convert .popup__text-intro {
  margin-bottom: 24px;
  line-height: 1.5em; }
.popup--convert .convert-confirm-content .convert-complete {
  padding: 20px 0; }
.popup--convert .form-group--sym .one-half .grid-inner {
  padding-left: 5px;
  padding-right: 15px; }
.popup--convert .form-group--sym .one-half + .one-half {
  position: relative; }
  .popup--convert .form-group--sym .one-half + .one-half .grid-inner {
    padding-left: 15px;
    padding-right: 5px; }

.popup--convert .popup__text-intro, .popup--delete-confirmation .popup__text-intro {
  color: #000; }

.popup--redeem-voucher .popup__heading {
  margin-bottom: 26px; }
.popup--redeem-voucher .redeem-voucher {
  margin-bottom: 30px; }
  .popup--redeem-voucher .redeem-voucher .item {
    padding: 7px 0;
    overflow: hidden;
    clear: both; }
    .popup--redeem-voucher .redeem-voucher .item > div {
      float: left;
      width: 66%; }
    .popup--redeem-voucher .redeem-voucher .item .item__first {
      width: 34%;
      padding: 10px 0;
      float: left; }
  .popup--redeem-voucher .redeem-voucher .item--heading {
    color: #333;
    font-size: 15px;
    text-align: left;
    font-weight: normal;
    padding: 0 0 10px 0; }
    .popup--redeem-voucher .redeem-voucher .item--heading .item__first {
      padding: 0; }
.popup--redeem-voucher .custom-select--2 .select__text {
  padding-left: 0;
  left: 13px; }

.popup--extend-miles .popup__heading {
  margin-bottom: 18px; }
.popup--extend-miles .form-general {
  padding-top: 5px; }
.popup--extend-miles .form-group .one-half:first-child .grid-inner {
  padding-right: 12px; }
.popup--extend-miles .or {
  font-size: 12px;
  color: #999;
  text-align: right;
  margin-right: -6px;
  position: absolute;
  top: 50%;
  right: 50%; }
.popup--extend-miles .button-group-1 {
  margin-top: 20px; }
.popup--extend-miles .popup__text-intro {
  font-weight: 600; }
.popup--extend-miles label {
  font-size: 15px; }

.popup--add-cities .popup__text-intro {
  margin-bottom: 25px; }
.popup--add-cities .table-col-1 {
  width: 5%;
  line-height: 40px; }

.popup--customise-link .popup__text-intro--1, .popup--sqc-customise-link .popup__text-intro--1 {
  padding-top: 2px; }

.popup--confirmation-error .popup__content {
  overflow: hidden; }
.popup--confirmation-error .button-group-1 {
  margin-top: 15px; }

.form-1 .col {
  width: 50%; }
.form-1 .custom-checkbox--1 {
  padding-right: 10px;
  margin-bottom: 19px; }

.popup--economy-promo .popup__content {
  overflow: hidden; }

.popup--economy-pwm .popup__content {
  overflow: hidden; }

.popup--economy-topup .popup__content {
  overflow: hidden; }

.group-input {
  background-color: #f0f0f0; }
  .group-input .grid-col--half {
    width: 50%; }

.group-input-1 {
  background-color: #fff;
  padding: 20px;
  margin-top: 10px; }
  .group-input-1 .sub-wrap-capital {
    margin-bottom: 15px;
    font-size: 18px;
    color: #000; }

.popup--economy-stopover .popup__heading {
  margin-top: 10px; }
.popup--economy-stopover .popup__content {
  overflow: hidden; }
.popup--economy-stopover .text-info {
  margin-top: 20px;
  color: #333;
  font-size: 16px; }
.popup--economy-stopover .count-day {
  display: block;
  text-align: right;
  font-size: 13px;
  font-style: italic;
  margin-top: 5px;
  color: #999; }

.popup--unload .button-group-1 {
  margin-top: 25px; }

.popup--promo .form--promo .text-error {
  padding-left: 0; }

.popup--promo-code-kf-member .popup__text-intro--1 {
  margin-bottom: 22px; }
.popup--promo-code-kf-member .list-code-kf-member {
  background-color: #f7f7f7;
  list-style: none;
  color: #000; }
  .popup--promo-code-kf-member .list-code-kf-member > li {
    padding: 20px 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    overflow: hidden; }
.popup--promo-code-kf-member .form--promo-kf-member {
  margin-top: 30px;
  padding-top: 25px;
  border-top: 1px solid #ccc; }
.popup--promo-code-kf-member .fom-control-basic {
  margin-top: 0; }

.popup--view-meal .popup__content {
  padding: 40px; }
.popup--view-meal .table--3 {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 15px; }
  .popup--view-meal .table--3 .table-row:first-child {
    margin-bottom: 10px; }
  .popup--view-meal .table--3 .table-inner p {
    color: #000;
    line-height: 1.5;
    margin: 0; }
    .popup--view-meal .table--3 .table-inner p.first {
      text-transform: uppercase;
      font-weight: 700; }

.popup--cvv .popup__content {
  overflow: hidden;
  padding-bottom: 41px; }
  .popup--cvv .popup__content p {
    color: #000;
    font-weight: 600; }

.popup--select-alternative-flights .checkin-alert {
  margin-bottom: 20px; }

.list-receipt {
  margin-bottom: 30px; }
  .list-receipt .list-receipt__title {
    font-size: 21px;
    color: #000;
    margin-bottom: 14px; }
  .list-receipt .no-border {
    border: none; }

.list-receipt__info-group {
  background-color: #f7f7f7;
  border-bottom: 2px solid #fff; }
  .list-receipt__info-group .list-receipt-info {
    padding-left: 20px; }
    .list-receipt__info-group .list-receipt-info .list-receipt-info__text {
      font-size: 16px;
      color: #000;
      font-weight: 600;
      font-family: sans-serif; }
    .list-receipt__info-group .list-receipt-info p {
      font-size: 14px;
      color: #666; }
      .list-receipt__info-group .list-receipt-info p span {
        color: #000; }
    .list-receipt__info-group .list-receipt-info em {
      line-height: 1;
      font-size: 23px;
      color: #00266b; }
    .list-receipt__info-group .list-receipt-info .title {
      color: #000; }
  .list-receipt__info-group .list-receipt-info--1 p {
    position: relative;
    padding-left: 35px; }
    .list-receipt__info-group .list-receipt-info--1 p em {
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -13px; }
  .list-receipt__info-group.list-receipt__info-group--1 {
    padding-top: 10px;
    padding-bottom: 10px; }
  .list-receipt__info-group.list-receipt__info-group--2 {
    padding-top: 7px; }
  .list-receipt__info-group.list-receipt__info-group--3 {
    padding-bottom: 7px; }

.popup--cancel-flight-orc .cost-breakdown--1 {
  padding-top: 19px;
  border-top: 1px solid #ccc; }

.popup--manage-user-delete .user-list, .popup--saved-trips-delete .user-list {
  margin: 12px 0 35px; }
  .popup--manage-user-delete .user-list li, .popup--saved-trips-delete .user-list li {
    list-style: none;
    color: #000;
    font-size: 21px;
    font-family: sans-serif;
    margin-bottom: 25px; }

.popup--add-point-sale .table-custom-1 {
  width: 100%;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden; }
  .popup--add-point-sale .table-custom-1 .table-row {
    overflow: hidden;
    width: 100%; }
.popup--add-point-sale .custom-select--2 .select__text {
  padding-left: 13px; }
.popup--add-point-sale .popup__inner .table-custom-1 {
  margin-right: -20px;
  padding-right: 20px; }
.popup--add-point-sale .popup__inner .table-col-1 {
  width: 7%;
  padding-top: 30px; }
.popup--add-point-sale .popup__inner .table-col-2 {
  width: 93%; }

.popup--assign-access .button-group-1 {
  margin-top: 30px; }

.popup--confirm-email-address .popup__heading {
  margin-bottom: 20px; }
.popup--confirm-email-address .button-group-1 {
  margin-top: 20px; }

.popup--file-preference .file-preference-content img, .popup--bag-tag-number .file-preference-content img {
  max-width: 100%; }

.popup--redeem-completed .main-intro {
  padding-right: 0; }

.popup--intro-lightbox .popup__heading span {
  padding-bottom: 12px;
  display: inline-block;
  border-bottom: 1px solid #b2b2b2; }
.popup--intro-lightbox .img-wrapper {
  text-align: center; }
  .popup--intro-lightbox .img-wrapper img {
    max-width: 100%; }
.popup--intro-lightbox .intro-block {
  text-align: center; }
.popup--intro-lightbox .intro-list {
  margin: 0 auto;
  list-style-position: inside;
  font-size: 15px;
  color: #000; }
  .popup--intro-lightbox .intro-list li {
    white-space: nowrap; }
.popup--intro-lightbox .sub-text-4 {
  margin: 15px 0 0; }
.popup--intro-lightbox .sub-text-1--dark {
  margin: 33px 0 7px; }

.popup--video-lightbox .popup__close {
  background-color: transparent; }
.popup--video-lightbox .watch-list {
  margin-top: 20px; }
.popup--video-lightbox .wrap-video img {
  width: 100%; }
.popup--video-lightbox .wrap-video iframe, .popup--video-lightbox .wrap-video object, .popup--video-lightbox .wrap-video embed {
  max-width: 100%; }
.popup--video-lightbox .popup__content {
  padding-bottom: 20px; }

.popup--dark-site-lightbox .popup__content {
  color: #000; }
.popup--dark-site-lightbox .popup__heading, .popup--dark-site-lightbox p {
  margin-bottom: 20px; }
.popup--dark-site-lightbox p {
  line-height: 1.7em; }
.popup--dark-site-lightbox .underline-list {
  overflow: hidden; }
  .popup--dark-site-lightbox .underline-list li {
    border-bottom: 1px solid #808080;
    float: left;
    clear: both;
    margin-top: 6px;
    line-height: 1; }
    .popup--dark-site-lightbox .underline-list li .link-4, .popup--dark-site-lightbox .underline-list li .ico-point-r {
      color: #000; }

.popup--enhance .btn-1, .popup--enhance .btn-2 {
  min-width: 136px; }
.popup--enhance .btn-1 {
  margin-left: 20px; }
.popup--enhance p {
  font-family: sans-serif;
  margin-top: 10px;
  font-size: 24px;
  color: #00266b; }

.popup--add-baggage.popup .popup__heading {
  margin-bottom: 30px; }

.popup--send-checkin-confirmation .popup__heading {
  margin-bottom: 32px; }
.popup--send-checkin-confirmation .popup__text-intro {
  margin: 27px 0 20px; }
.popup--send-checkin-confirmation .tabs--1 .tab-wrapper .tab-content .table-default {
  background-color: #f2f2f2; }
.popup--send-checkin-confirmation .tabs--1 .tab-wrapper .form--email-address .table-default {
  padding: 20px; }
.popup--send-checkin-confirmation .tabs--1 .tab-wrapper .form--phone-number .table-default {
  padding: 7px 20px 20px; }
.popup--send-checkin-confirmation .form--email-address .table-default {
  padding-top: 12px; }
.popup--send-checkin-confirmation .form--email-address .table-col {
  padding-top: 8px; }
  .popup--send-checkin-confirmation .form--email-address .table-col.table-col-1 {
    width: 5%; }
  .popup--send-checkin-confirmation .form--email-address .table-col.table-col-2 {
    width: 95%; }
.popup--send-checkin-confirmation .form--phone-number .table-default {
  padding-top: 8px; }
.popup--send-checkin-confirmation .form--phone-number .table-col {
  padding-top: 12px; }

.popup--earnshop-loggedin .popup__text-intro, .popup--earnshop-not-loggedin .popup__text-intro, .popup--krisshop-not-loggedin .popup__text-intro {
  color: #000;
  font-size: 14px;
  line-height: 1.5; }

.popup--search-leaving .button-group-1 {
  margin-top: 34px; }

.popup--choose-flight-upgrade .flight-upgrade-text {
  padding-top: 17px;
  margin: 0 0 40px;
  color: #000;
  line-height: 1.5; }
.popup--choose-flight-upgrade .popup__text-intro {
  line-height: 1.5; }

.popup--insurance-leave .button-group-1 {
  margin-top: 30px; }

.popup--intro-lightbox-comingsoon .popup__close {
  font-size: 12px;
  font-weight: bold;
  background-color: transparent; }
.popup--intro-lightbox-comingsoon .img-wrapper img {
  width: 100%; }
.popup--intro-lightbox-comingsoon .intro-block {
  color: #000;
  padding: 34px 40px 42px; }
  .popup--intro-lightbox-comingsoon .intro-block .popup__heading {
    font-size: 36px;
    margin-bottom: 14px; }
  .popup--intro-lightbox-comingsoon .intro-block p {
    line-height: 1.4;
    margin-bottom: 20px; }
  .popup--intro-lightbox-comingsoon .intro-block .button-group {
    margin-top: 28px;
    margin-bottom: 30px; }

.popup--ent .popup__inner .content {
  padding-top: 25px; }
  .popup--ent .popup__inner .content .popup__heading {
    margin-bottom: 8px; }
.popup--ent .popup__inner img {
  width: 100%; }
.popup--ent .editor strong {
  font-weight: 600;
  font-family: sans-serif;
  padding-right: 20px; }
.popup--ent .static-details__content {
  margin-bottom: 20px; }
.popup--ent .info-link-1 .ico-music {
  font-size: 14px; }
  .popup--ent .info-link-1 .ico-music:before {
    margin-left: 0; }

.popup--voucher-details .popup__text-intro {
  line-height: 1.5;
  margin-bottom: 16px; }
.popup--voucher-details .prefer-result {
  margin: 0 20px 0 0; }
  .popup--voucher-details .prefer-result .sub {
    font-size: 14px; }
.popup--voucher-details .icon-group-1 {
  margin-bottom: 12px; }
  .popup--voucher-details .icon-group-1 li {
    margin-left: 15px; }
.popup--voucher-details .popup__content .voucher-detail-table {
  background: none;
  margin-bottom: 18px; }
.popup--voucher-details .voucher-detail-table tbody td {
  border-bottom: 1px solid #ccc; }
  .popup--voucher-details .voucher-detail-table tbody td:first-child {
    width: 80px; }
.popup--voucher-details .terms-conditions {
  margin: 26px 0 0;
  padding-top: 20px; }
  .popup--voucher-details .terms-conditions .terms-detail {
    line-height: 1.5;
    margin-top: 12px;
    padding: 0 0 0 15px; }
    .popup--voucher-details .terms-conditions .terms-detail li {
      margin-top: 10px; }

.popup--meal-maincourse .title-1 {
  text-transform: inherit; }
.popup--meal-maincourse .popup__text-intro {
  margin-top: 13px;
  font-size: 14px;
  color: #000; }
.popup--meal-maincourse .main--tabs {
  margin-top: 30px; }
.popup--meal-maincourse .tab-wrapper-1 {
  margin-top: 20px; }
  .popup--meal-maincourse .tab-wrapper-1 .tab-content-1 {
    display: none; }
  .popup--meal-maincourse .tab-wrapper-1 .tab-content-1.active {
    display: block; }
.popup--meal-maincourse .title-main {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  font-family: sans-serif;
  margin-bottom: 10px; }
.popup--meal-maincourse .name-customer {
  color: #00266b;
  font-size: 21px;
  margin-top: 0;
  font-family: sans-serif; }
.popup--meal-maincourse .main-note {
  padding-top: 40px; }
  .popup--meal-maincourse .main-note p {
    margin-top: 10px; }
    .popup--meal-maincourse .main-note p:first-child {
      margin-top: 0; }
.popup--meal-maincourse .time-meal {
  margin-top: 30px; }
  .popup--meal-maincourse .time-meal .select__text {
    padding-left: 13px; }
.popup--meal-maincourse .multi-tabs--1 .tab .limit-item .custom-select .ico-dropdown {
  position: static;
  display: inline-block;
  float: none;
  height: 45px;
  margin-left: 0;
  padding-right: 15px; }
  .popup--meal-maincourse .multi-tabs--1 .tab .limit-item .custom-select .ico-dropdown:before {
    color: #0254ec; }
.popup--meal-maincourse .multi-tabs--1 .tab .limit-item .custom-select .select__text {
  display: inline-block;
  color: #0254ec;
  text-transform: uppercase;
  padding-right: 5px; }
.popup--meal-maincourse .multi-tabs--1 .tab .limit-item.active .custom-select {
  background-color: #fff; }

.col-main {
  padding-left: 30px; }
  .col-main > .title-main:first-child {
    margin-top: 0; }
  .col-main .list-meals {
    list-style: none; }
    .col-main .list-meals li {
      position: relative; }
    .col-main .list-meals .none-info + .none-info {
      margin-top: 20px; }
    .col-main .list-meals span {
      color: #00266b;
      font-size: 16px;
      font-weight: 600;
      font-family: sans-serif; }
    .col-main .list-meals [class^="ico-"] {
      position: absolute;
      top: -5px;
      left: -35px;
      font-size: 23px;
      line-height: 1; }
    .col-main .list-meals .desc {
      color: #000; }
      .col-main .list-meals .desc [class^="ico-"] {
        color: #00266b;
        position: static; }
  .col-main .title-main {
    margin-top: 24px; }
  .col-main .list-meals + .title-main {
    margin-top: 45px; }
  .col-main.no-legend .list-meals a {
    font-size: 14px; }

.col-legend {
  padding: 20px;
  border: 1px solid #ccc; }
  .col-legend .list-main-legend {
    list-style: none; }
    .col-legend .list-main-legend li {
      position: relative;
      padding-left: 30px;
      margin-top: 15px;
      color: #000; }
      .col-legend .list-main-legend li:first-child {
        margin-top: 0; }
      .col-legend .list-main-legend li [class^="ico-"] {
        position: absolute;
        top: 0;
        left: -5px;
        color: #00266b;
        font-size: 20px;
        line-height: 1; }

.main--tabs {
  overflow: hidden; }
  .main--tabs .tab-item {
    background-color: white;
    border: 1px solid #00266b;
    height: 36px;
    position: relative;
    display: inline-block; }
    .main--tabs .tab-item a {
      color: #00266b;
      font-size: 14px;
      line-height: 37px;
      padding: 0 35px;
      display: block; }
    .main--tabs .tab-item.active {
      background-color: #00266b; }
      .main--tabs .tab-item.active a {
        color: white;
        font-weight: 600;
        font-family: sans-serif; }

.popup--term-conditions .list-conditions, .popup--term-conditions .miles-redemption-vouchers, .popup--term-conditions .airport-upgrade-voucher, .popup--term-conditions .bookable-upgrade-voucher {
  margin-left: 20px; }
  .popup--term-conditions .list-conditions li, .popup--term-conditions .miles-redemption-vouchers li, .popup--term-conditions .airport-upgrade-voucher li, .popup--term-conditions .bookable-upgrade-voucher li {
    color: #000; }
    .popup--term-conditions .list-conditions li + li, .popup--term-conditions .miles-redemption-vouchers li + li, .popup--term-conditions .airport-upgrade-voucher li + li, .popup--term-conditions .bookable-upgrade-voucher li + li {
      margin-top: 10px; }

.popup--miles-calculated dl {
  margin: 27px 0 30px;
  padding: 10px 20px 20px;
  overflow: hidden;
  background-color: #f2f2f2; }
.popup--miles-calculated dd, .popup--miles-calculated dt {
  float: left;
  width: 50%;
  margin: 10px 0 0; }
.popup--miles-calculated dd {
  margin-left: 0;
  color: #000; }
  .popup--miles-calculated dd span {
    font-weight: bold;
    padding-left: 5px; }
.popup--miles-calculated .popup__text-intro {
  margin-bottom: 0; }

.popup--learn-more-voucher p {
  margin: 23px 0 0;
  color: #000; }
  .popup--learn-more-voucher p:first-child {
    margin-top: 0; }

.popup-krisflyer .des {
  margin-bottom: 25px;
  color: #000; }
.popup-krisflyer .tabs--1 > .tab .tab-item a {
  letter-spacing: 1px; }
.popup-krisflyer .tab-heading {
  margin: 25px 0 5px;
  color: #000;
  font-size: 16px;
  font-weight: 600; }
.popup-krisflyer .table-1 th {
  font-weight: 600; }
.popup-krisflyer .table-1 tr td:first-child em, .popup-krisflyer .table-1 tr td:first-child span {
  display: table-cell;
  vertical-align: middle; }
.popup-krisflyer .table-1 tr td:first-child em {
  padding-right: 3px;
  font-size: 22px; }
  .popup-krisflyer .table-1 tr td:first-child em:before {
    margin-top: -7px;
    margin-left: 0; }
.popup-krisflyer .table-1 tr td:first-child .ico-preferred {
  font-size: 26px; }
  .popup-krisflyer .table-1 tr td:first-child .ico-preferred:before {
    margin-right: 2px; }

.popup--confirmation-sk--cost-breakdown .table-cost .first + .row-title td {
  padding: 24px 0 4px; }
.popup--confirmation-sk--cost-breakdown .table-cost .row-title td {
  padding: 15px 0 6px; }
.popup--confirmation-sk--cost-breakdown .table-cost .row-title.row-title--1 td {
  padding-top: 25px; }
.popup--confirmation-sk--cost-breakdown .table-cost .row-title.row-title--2 td {
  padding-top: 10px; }

.popup--confirmation-sk--cost-breakdown .text-flight, .breakdown-content-passenger .text-flight {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  color: #666;
  padding-bottom: 5px; }
.popup--confirmation-sk--cost-breakdown .table-cost.table-cost--1 thead th, .breakdown-content-passenger .table-cost.table-cost--1 thead th {
  padding-bottom: 10px; }
.popup--confirmation-sk--cost-breakdown .table-cost thead th, .breakdown-content-passenger .table-cost thead th {
  padding-bottom: 10px; }
.popup--confirmation-sk--cost-breakdown .table-cost thead .text-title, .breakdown-content-passenger .table-cost thead .text-title {
  color: #00266b;
  font-weight: 600; }
.popup--confirmation-sk--cost-breakdown .table-cost .row-head-title td, .breakdown-content-passenger .table-cost .row-head-title td {
  padding-top: 12px; }
.popup--confirmation-sk--cost-breakdown .table-cost .row-content .detail-1, .breakdown-content-passenger .table-cost .row-content .detail-1 {
  display: block; }
.popup--confirmation-sk--cost-breakdown .grand-total .total-info .grand-sub-title, .breakdown-content-passenger .grand-total .total-info .grand-sub-title {
  display: block;
  font-size: 14px; }

.breakdown-content-passenger .grand-total .total-title {
  color: #000; }
.breakdown-content-passenger .table-cost .row-title td {
  padding: 5px 0; }
.breakdown-content-passenger .table-cost td {
  color: #000; }
.breakdown-content-passenger .table-cost tfoot td {
  padding: 17px 0;
  border-color: #ccc; }

.popup--upgrade-with-miles .text-info-1 .text-economy {
  color: #00266b;
  font-weight: 600; }

.table-cost .name-passenger th {
  padding-bottom: 10px; }
.table-cost .name-passenger .text-name-passenger {
  font-size: 16px;
  color: #00266b;
  font-weight: 600; }
.table-cost .flights th {
  font-size: 13px;
  padding-bottom: 10px;
  color: #666; }

.popup.popup--login-business .popup__heading {
  margin-bottom: 0; }

.popup-view-benefit--krisflyer .text-content .title {
  color: #000;
  font-weight: bold;
  margin-bottom: 20px; }
.popup-view-benefit--krisflyer .text-content .text-heading {
  color: #000;
  font-size: 13px; }
.popup-view-benefit--krisflyer .text-content .desc-1 {
  margin-bottom: 22px; }

/* End popup */
.popup--logged-profile {
  overflow-y: visible;
  position: absolute;
  top: 57px;
  left: 0;
  z-index: 20;
  height: auto;
  width: auto;
  max-width: 260px;
  min-width: 170px;
  color: #000; }
  .popup--logged-profile .popup__heading {
    margin: 0;
    padding: 18px 20px 18px;
    background-color: #fff;
    color: #000; }
    .popup--logged-profile .popup__heading .sub-heading-3--dark {
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 700;
      font-family: sans-serif;
      color: #02266b; }
    .popup--logged-profile .popup__heading h3 {
      font-size: 13px;
      font-weight: 700;
      font-family: sans-serif; }
    .popup--logged-profile .popup__heading p {
      margin: 0 0 2px;
      line-height: 25px;
      font-size: 13px; }
  .popup--logged-profile .popup__content {
    background-color: #f5f5f5;
    padding: 16px 20px 20px;
    position: static; }
    .popup--logged-profile .popup__content .profile-list {
      margin-bottom: 20px; }
      .popup--logged-profile .popup__content .profile-list li {
        margin-bottom: 7px; }
      .popup--logged-profile .popup__content .profile-list .link-2 {
        color: #000; }
    .popup--logged-profile .popup__content .status__number {
      color: #fff;
      text-align: center;
      position: absolute;
      right: 0;
      top: 50%;
      font-size: 12px;
      line-height: 17px;
      margin-top: -8px;
      width: 18px;
      height: 17px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      font-weight: 700;
      font-family: sans-serif; }
    .popup--logged-profile .popup__content .form-group {
      margin-bottom: 20px; }
      .popup--logged-profile .popup__content .form-group .link-2 {
        font-weight: 400;
        font-family: sans-serif; }
  .popup--logged-profile .popup__arrow {
    width: 21px;
    height: 9px;
    top: -9px;
    left: 70%; }

.select-flights-page .wrapper, .select-flights-schedule-page .wrapper {
  max-width: 988px; }

.popup--convert-confirmation .convert-focus {
  background: #f4f4f4;
  padding: 20px; }

.popup--meal-maincourse .col-main {
  float: left;
  width: 59%;
  margin-right: 45px; }
  .popup--meal-maincourse .col-main.no-legend {
    float: none;
    width: auto;
    padding-left: 0;
    margin-right: 0; }
.popup--meal-maincourse .col-legend {
  overflow: hidden;
  width: 23%; }
  .popup--meal-maincourse .col-legend .list-main-legend {
    list-style: none; }
.popup--meal-maincourse .main-note {
  clear: both; }

/*# sourceMappingURL=popups-none-en-char.css.map */