.ru-flows{

	.popup.popup--logged-profile{
		&.prof-pic{
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			// letter-spacing: 0.3px;
			min-width: 178px;
			// top: 73px !important;
			// left: 980px !important;
			font-size: 14px;
			.popup__heading {
				padding: 18px 20px 28px;
				.sub-heading-3--dark{
					font-size: 16px;
				}

				.pax-type{
					line-height: 1.5;
					font-size: 14px;
				}

				.btn-full {
				    margin-top: 10px;
				    letter-spacing: 0.3px;
				}
			}

			.popup__arrow {
			    top: -6px;
			    // left: 150px !important;
			}
		}
	}

	.logged-in.profile-pic{
		margin-top: -6px;
		.img-prof-pic{
			width: 40px;
			border-radius: 50%;
		}
	}
}