/* Fontface */
@font-face {
  font-family: 'sia';
  src: url('../fonts/sia.eot');
  src: url('../fonts/sia.eot?#iefix') format('embedded-opentype'), url('../fonts/sia.woff') format('woff'), url('../fonts/sia.ttf') format('truetype'), url('../fonts/sia.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-1';
  src: url('../fonts/sia-1.eot');
  src: url('../fonts/sia-1.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-1.woff') format('woff'), url('../fonts/sia-1.ttf') format('truetype'), url('../fonts/sia-1.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-2';
  src: url('../fonts/sia-2.eot');
  src: url('../fonts/sia-2.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-2.woff') format('woff'), url('../fonts/sia-2.ttf') format('truetype'), url('../fonts/sia-2.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-3';
  src: url('../fonts/sia-3.eot');
  src: url('../fonts/sia-3.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-3.woff') format('woff'), url('../fonts/sia-3.ttf') format('truetype'), url('../fonts/sia-3.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-amenities';
  src: url('../fonts/sia-amenities.eot');
  src: url('../fonts/sia-amenities.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-amenities.woff') format('woff'), url('../fonts/sia-amenities.ttf') format('truetype'), url('../fonts/sia-amenities.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-map';
  src: url('../fonts/sia-map.eot?cbq5t9');
  src: url('../fonts/sia-map.eot?cbq5t9#iefix') format('embedded-opentype'), url('../fonts/sia-map.ttf?cbq5t9') format('truetype'), url('../fonts/sia-map.woff?cbq5t9') format('woff'), url('../fonts/sia-map.svg?cbq5t9#sia-3') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-meals';
  src: url('../fonts/sia-meals.eot?egg8fi');
  src: url('../fonts/sia-meals.eot?egg8fi#iefix') format('embedded-opentype'), url('../fonts/sia-meals.ttf?egg8fi') format('truetype'), url('../fonts/sia-meals.woff?egg8fi') format('woff'), url('../fonts/sia-meals.svg?egg8fi#sia-meals') format('svg');
  font-weight: normal;
  font-style: normal; }

/* End fontface */
/* Style for SQC */
.block--search-form {
  margin-top: 30px;
  margin-bottom: -1px;
  overflow: hidden; }

.form-search-flight-history .long-text .select__label, .form-upcoming-flight .long-text .select__label {
  max-width: 80px; }
.form-search-flight-history .long-text .select__text input, .form-upcoming-flight .long-text .select__text input {
  padding-left: 95px; }
.form-search-flight-history .long-text .select__text, .form-upcoming-flight .long-text .select__text {
  padding-left: 95px; }
.form-search-flight-history .long-text-1 .select__label, .form-upcoming-flight .long-text-1 .select__label {
  max-width: 130px; }
.form-search-flight-history .long-text-1 .select__text input, .form-upcoming-flight .long-text-1 .select__text input {
  padding-left: 150px; }
.form-search-flight-history .long-text-1 .select__text, .form-upcoming-flight .long-text-1 .select__text {
  padding-left: 145px; }
.form-search-flight-history .button-group.right, .form-upcoming-flight .button-group.right {
  margin-top: 10px; }
.form-search-flight-history .link-4.right, .form-upcoming-flight .link-4.right {
  margin-top: 25px;
  margin-right: 5px; }
.form-search-flight-history .input-5 .input-5__label, .form-upcoming-flight .input-5 .input-5__label {
  padding-left: 13px; }
.form-search-flight-history .input-5 .input-5__text, .form-upcoming-flight .input-5 .input-5__text {
  padding-left: 20px; }

.flight-history-table tbody tr.odd {
  background-color: #fff; }

.message-flight-history {
  margin-top: 75px; }

.message-flight-history--1 {
  margin-top: 25px; }

.block--bookings-list .messages .messages__sort {
  margin-top: 0;
  margin-bottom: 0; }

.accordion__control .custom-checkbox input {
  margin-top: 7px; }
  .accordion__control .custom-checkbox input + label {
    font-size: 24px;
    line-height: 1.2;
    color: #00266b;
    cursor: pointer; }
    .accordion__control .custom-checkbox input + label:before, .accordion__control .custom-checkbox input + label:after {
      margin-top: 7px; }
.accordion__control .custom-checkbox + .sub-heading-2--dark {
  margin-left: 20px; }
.accordion__control .sub-heading-2--dark + .ico-point-d.active {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s; }

@media screen and (max-width: 987px) {
  .form-upcoming-flight .one-third {
    width: 42%; }
  .form-upcoming-flight .button-group {
    width: 8%; }
  .form-search-flight-history .one-four {
    width: 33.33%; }
  .block--quick-links.full ul {
    font-size: 0; }
    .block--quick-links.full ul li {
      padding: 10px 0;
      display: inline-block;
      text-align: left;
      width: 50%;
      margin: 0;
      vertical-align: top; }
      .block--quick-links.full ul li .link-4 em {
        width: 50px;
        text-align: center; } }

.sqc-user .blk-heading {
  margin-bottom: 15px; }
  .sqc-user .blk-heading .main-heading {
    line-height: 1.2;
    margin-right: 20px; }
  .sqc-user .blk-heading .btn-add-new {
    line-height: 1.4;
    margin-top: 16px; }
    .sqc-user .blk-heading .btn-add-new .ico-plus {
      vertical-align: -1px; }
  .sqc-user .blk-heading .manage-user .checkin-alert {
    margin-top: 25px; }

.heading-action {
  margin-bottom: 15px;
  zoom: 1; }
  .heading-action:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .heading-action .blk-heading ul {
    list-style: none; }
    .heading-action .blk-heading ul li {
      float: left; }
  .heading-action .blk-heading .custom-checkbox--1 {
    margin-right: 26px; }
  .heading-action .custom-select--sort .select_text {
    color: #000; }
  .heading-action .custom-select--sort .ico-point-d {
    font-size: 8px;
    margin-top: -6px; }
  .heading-action .btn-5 {
    cursor: default; }
    .heading-action .btn-5.active {
      color: #666;
      cursor: pointer; }

.table-manage-user .custom-checkbox input + label {
  padding-left: 30px; }
.table-manage-user td {
  color: #000;
  vertical-align: top; }
.table-manage-user .summary-fare__conditions {
  margin-bottom: 0; }
  .table-manage-user .summary-fare__conditions li {
    color: #000; }
    .table-manage-user .summary-fare__conditions li:first-child {
      margin-top: 0; }
.table-manage-user tbody tr:nth-child(odd) {
  background-color: #fff; }
.table-manage-user tbody tr:nth-child(even) {
  background-color: #e8e8e8; }

.list-link {
  list-style: none; }
  .list-link li {
    display: inline; }
    .list-link li + li {
      margin-left: 40px; }

.access-list {
  list-style: none; }
  .access-list li {
    margin: 10px 0; }
    .access-list li:first-child {
      margin-top: 0; }

.manage-user .heading-action {
  margin-top: 25px; }
  .manage-user .heading-action .blk-heading {
    margin-top: 5px; }

.masthead--style-1 .menu-block .menu__items-wrapper {
  border: none; }
.masthead--style-1 .menu-block .menu__items .menu__item.active:before {
  border-bottom-color: #f7f7f7; }
.masthead--style-1 .top-info {
  padding-bottom: 46px; }
  .masthead--style-1 .top-info .slide__left-desc .slide__text--style-1 {
    font-weight: 400;
    font-family: sans-serif;
    font-size: 15px; }
  .masthead--style-1 .top-info .slide__left-desc .slide__text--style-2 {
    font-size: 32px; }
  .masthead--style-1 .top-info .slide__right-desc {
    font-size: 13px;
    padding-top: 15px; }
    .masthead--style-1 .top-info .slide__right-desc .text {
      line-height: 1.5em; }
.masthead--style-1 .menu-block .menu__sub-nav .menu__item a {
  font-size: 15px;
  text-transform: none; }
  .masthead--style-1 .menu-block .menu__sub-nav .menu__item a:first-letter {
    text-transform: uppercase; }

.block--account-summary-chart .blk-content {
  background: #f7f7f7;
  padding: 38px 20px 7px;
  color: #000;
  position: relative;
  overflow: hidden;
  min-height: 395px;
  box-sizing: border-box; }
.block--account-summary-chart .chart-year {
  font-size: 13px; }
.block--account-summary-chart .chart-content {
  margin: 9px 0 0;
  height: 209px; }
.block--account-summary-chart .chart-info {
  margin-top: 10px; }
.block--account-summary-chart .chart-info-row {
  zoom: 1; }
  .block--account-summary-chart .chart-info-row:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .block--account-summary-chart .chart-info-row .grid-col:first-child .grid-inner {
    padding-left: 0; }
  .block--account-summary-chart .chart-info-row p {
    margin: 0; }

.dashboard-wrapper {
  zoom: 1;
  position: relative; }
  .dashboard-wrapper:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .dashboard-wrapper .block--account-summary-chart {
    width: 74.5%;
    float: left;
    margin-right: 2%; }
  .dashboard-wrapper .block--quick-links {
    float: right;
    width: 23.2%; }
    .dashboard-wrapper .block--quick-links .blk-heading {
      padding-top: 14px;
      width: 100%; }
      .dashboard-wrapper .block--quick-links .blk-heading .link-4 {
        margin-top: 14px; }
    .dashboard-wrapper .block--quick-links .blk-content ul {
      padding: 25px 15px; }
      .dashboard-wrapper .block--quick-links .blk-content ul .link-4 em {
        margin-right: 1px; }
  .dashboard-wrapper .block-1 {
    position: relative; }
  .dashboard-wrapper .blk-content ul {
    padding: 25px 15px; }
    .dashboard-wrapper .blk-content ul .link-4 em {
      margin-right: 1px; }
  .dashboard-wrapper.with-dial .vertical-line {
    left: 31.98%; }
  .dashboard-wrapper.with-dial .block--account-summary-chart {
    float: right;
    margin-right: auto;
    margin-left: 1.8%;
    width: 66.19%; }
  .dashboard-wrapper.with-dial .block--your-status {
    float: left;
    width: 31.98%; }
  .dashboard-wrapper.with-dial .block--your-status .blk-content {
    padding: 20px; }
    .dashboard-wrapper.with-dial .block--your-status .blk-content ul {
      padding: 20px 21px; }
  .dashboard-wrapper.no-dial .block--account-summary-chart {
    width: 100%; }

.block--account-summary-chart .blk-content-wrap {
  padding: 20px; }

.block--your-status .dials {
  min-height: 375px; }

.main-heading + .three-four-wrapper {
  margin-top: 21px; }

.booking--style-2 {
  margin-top: 28px;
  color: #000; }
  .booking--style-2 h3.custom-checkbox--1 {
    line-height: 0; }
    .booking--style-2 h3.custom-checkbox--1 input + label {
      margin-right: 220px; }
    .booking--style-2 h3.custom-checkbox--1 + .sub-text-1 {
      margin-left: 20px; }
  .booking--style-2 .accordion__content-bottom {
    padding-top: 17px;
    border-top: 1px solid #e5e5e5;
    clear: both; }
    .booking--style-2 .accordion__content-bottom .sub-title {
      margin-right: 6px;
      line-height: 1.9em; }
    .booking--style-2 .accordion__content-bottom .link-4 .ico-point-r {
      margin-top: 0; }
    .booking--style-2 .accordion__content-bottom .link-4 .less {
      display: none; }
    .booking--style-2 .accordion__content-bottom .link-4.active .more {
      display: none; }
    .booking--style-2 .accordion__content-bottom .link-4.active .less {
      display: inline; }
  .booking--style-2 .sub-text-1 {
    margin-top: 5px; }
  .booking--style-2 .inline-list-style {
    text-transform: uppercase; }
    .booking--style-2 .inline-list-style li {
      line-height: 1.9em;
      font-size: 13px; }
  .booking--style-2 .booking-info-group .booking-info-row .booking-content {
    padding-bottom: 20px; }
  .booking--style-2 .button-group-1 {
    padding-top: 10px; }

.block--bookings-list-1 {
  padding-bottom: 13px;
  margin-top: 20px; }
  .dashboard-wrapper + .block--bookings-list-1 {
    margin-top: 30px; }
  .main-heading + .block--bookings-list-1 {
    margin-top: 45px; }
  .block--bookings-list-1 .blk-heading .link-4 {
    margin-top: 14px;
    position: static; }
  .block--bookings-list-1 .button-group-1 {
    margin-top: 28px; }
  .block--bookings-list-1 .accordion-wrapper .alert-block {
    margin-bottom: -18px; }
  .block--bookings-list-1 .accordion-wrapper .booking--style-2 + .alert-block {
    margin-top: 30px; }

.inline-list-style {
  list-style: none;
  display: inline; }
  .inline-list-style li {
    display: inline;
    margin-right: 6px; }

.account-summary-table {
  background: #fff;
  width: 100%; }
  .account-summary-table tr:first-child {
    border-bottom: 1px solid #f7f7f7; }
  .account-summary-table tr td {
    padding: 16px 20px; }
  .account-summary-table .title {
    font-weight: 400;
    font-family: sans-serif;
    font-size: 12px;
    color: #666;
    text-transform: uppercase; }
  .account-summary-table .price {
    margin: 0;
    font-family: sans-serif;
    font-size: 21px;
    color: #000; }

.summary-slider {
  margin: 17px 0 0;
  visibility: visible; }
  .summary-slider .slick-slider {
    margin-bottom: 0; }
    .summary-slider .slick-slider .slide-item .slide-item-inner {
      padding-left: 18px; }
    .summary-slider .slick-slider .slide-item:first-child .slide-item-inner {
      padding-left: 0; }
  .summary-slider .slick-prev, .summary-slider .slick-next {
    margin-top: 0;
    width: 18px;
    opacity: 1;
    filter: alpha(opacity=100);
    display: block; }
    .summary-slider .slick-prev:before, .summary-slider .slick-next:before {
      margin-top: -6px; }

.table-info {
  margin-bottom: 20px; }
  .table-info th a {
    white-space: nowrap;
    position: static; }
  .table-info tr {
    border-top: 1px solid #f2f2f2; }
    .table-info tr:first-child {
      border-top: none; }
  .table-info .infor-item {
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    font-family: sans-serif; }
    .table-info .infor-item .infor-item-content {
      margin-left: 55px; }
    .table-info .infor-item .ico-pdf {
      float: left;
      margin-top: 4px;
      line-height: 1;
      font-size: 27px;
      color: #bbb; }
    .table-info .infor-item .title {
      font-size: 14px;
      font-weight: 400;
      font-family: sans-serif; }
    .table-info .infor-item .desc {
      font-size: 14px;
      margin: 0;
      color: #333;
      font-style: normal; }

.form-expenditure {
  padding-bottom: 30px; }
  .form-expenditure .custom-select--2 .select__label {
    max-width: 156px; }
  .form-expenditure .custom-select--2 .select__text {
    padding-left: 156px; }

.kf-profile-security .show-pin-col {
  margin: 35px 0 0 5px; }
  .kf-profile-security .show-pin-col a {
    white-space: nowrap; }

.form-personal-profile .radio-group--left {
  padding-top: 10px; }
.form-personal-profile .link-add-point {
  padding-top: 15px; }
.form-personal-profile .grid-col > label, .form-personal-profile .form-group > label {
  font-size: 15px;
  margin-left: 5px;
  margin-bottom: 5px; }
.form-personal-profile .form__intro {
  overflow: hidden;
  margin-bottom: 5px; }
.form-personal-profile .form-group {
  margin-top: 25px; }
.form-personal-profile .form-content {
  margin-top: 25px; }
  .form-personal-profile .form-content .passenger-info__personal {
    padding-bottom: 30px;
    margin-bottom: 0; }
    .form-personal-profile .form-content .passenger-info__personal .form-group--4 {
      margin-top: 0; }
    .form-personal-profile .form-content .passenger-info__personal.last-field {
      padding-bottom: 10px; }
.form-personal-profile .custom-select--2.disabled a {
  cursor: default; }
.form-personal-profile.non-editable .custom-radio label {
  font-size: 15px; }
.form-personal-profile.non-editable .custom-select--2 a {
  cursor: default; }
.form-personal-profile.non-editable .one-four, .form-personal-profile.non-editable .one-half {
  width: auto; }
.form-personal-profile.non-editable .radio-group--left {
  padding-top: 0; }
.form-personal-profile.non-editable .form-group {
  margin-top: 16px; }
  .form-personal-profile.non-editable .form-group label {
    display: block; }
.form-personal-profile.non-editable .form-content {
  padding-top: 23px; }
  .form-personal-profile.non-editable .form-content .passenger-info__personal .sub-heading-1--dark {
    margin-bottom: 10px; }

.custom-inline-group .ico-tooltips {
  margin: 8px 0 0 -5px; }

.touch .ico-info-col {
  display: none; }

.non-edit-code {
  display: none; }

.add-point-col .grid-inner {
  display: inline-block; }
.add-point-col .point-item {
  font-size: 14px;
  padding: 14px 10px;
  background-color: #efefef;
  display: inline-block;
  margin: 6px 6px 0 0;
  margin-bottom: 5px; }
  .add-point-col .point-item .loading--small {
    width: 10px;
    height: 10px; }
.add-point-col .remove-point {
  color: #000;
  font-size: 10px;
  margin-left: 10px; }
.add-point-col .separate-comma {
  display: none; }

.non-editable .custom-inline-group .custom-inline-label {
  float: left; }
  .non-editable .custom-inline-group .custom-inline-label + .grid-col {
    clear: none; }
.non-editable .custom-inline-group .ico-tooltips {
  display: none; }
.non-editable .notice-text, .non-editable .hidden-col {
  display: none; }
.non-editable .non-edit-code {
  display: inline-block;
  color: #999; }
.non-editable .add-point-col .link-add-point, .non-editable .add-point-col .remove-point {
  display: none; }
.non-editable .add-point-col .point-item {
  padding: 0;
  background: #fff;
  margin: 0; }
.non-editable .add-point-col .separate-comma {
  display: inline-block; }
.non-editable .width-9 .input-1 {
  margin-top: -2px; }
.non-editable .add-point-inner {
  color: #999; }

/* End SQC */
/*# sourceMappingURL=sqc-none-en-char.css.map */