/* Fontface */
@font-face {
  font-family: 'sia';
  src: url('../fonts/sia.eot');
  src: url('../fonts/sia.eot?#iefix') format('embedded-opentype'), url('../fonts/sia.woff') format('woff'), url('../fonts/sia.ttf') format('truetype'), url('../fonts/sia.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-1';
  src: url('../fonts/sia-1.eot');
  src: url('../fonts/sia-1.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-1.woff') format('woff'), url('../fonts/sia-1.ttf') format('truetype'), url('../fonts/sia-1.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-2';
  src: url('../fonts/sia-2.eot');
  src: url('../fonts/sia-2.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-2.woff') format('woff'), url('../fonts/sia-2.ttf') format('truetype'), url('../fonts/sia-2.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-3';
  src: url('../fonts/sia-3.eot');
  src: url('../fonts/sia-3.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-3.woff') format('woff'), url('../fonts/sia-3.ttf') format('truetype'), url('../fonts/sia-3.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-amenities';
  src: url('../fonts/sia-amenities.eot');
  src: url('../fonts/sia-amenities.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-amenities.woff') format('woff'), url('../fonts/sia-amenities.ttf') format('truetype'), url('../fonts/sia-amenities.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-map';
  src: url('../fonts/sia-map.eot?cbq5t9');
  src: url('../fonts/sia-map.eot?cbq5t9#iefix') format('embedded-opentype'), url('../fonts/sia-map.ttf?cbq5t9') format('truetype'), url('../fonts/sia-map.woff?cbq5t9') format('woff'), url('../fonts/sia-map.svg?cbq5t9#sia-3') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-meals';
  src: url('../fonts/sia-meals.eot?egg8fi');
  src: url('../fonts/sia-meals.eot?egg8fi#iefix') format('embedded-opentype'), url('../fonts/sia-meals.ttf?egg8fi') format('truetype'), url('../fonts/sia-meals.woff?egg8fi') format('woff'), url('../fonts/sia-meals.svg?egg8fi#sia-meals') format('svg');
  font-weight: normal;
  font-style: normal; }

/* End fontface */
.static-block-2 .static-item-2 {
  margin-top: 20px; }

.static-item-2 {
  overflow: hidden;
  background-color: #fff; }
  .static-item-2 .static-item-2--img {
    margin-right: 20px; }
    .static-item-2 .static-item-2--img img {
      width: 100%; }
  .static-item-2 .static-item-2--desc {
    padding: 13px 13px 15px; }
    .static-item-2 .static-item-2--desc .detail {
      margin-top: 9px; }

.editor table td {
  vertical-align: top;
  line-height: 1.43; }
  .editor table td p {
    display: none; }
.editor table .even {
  background-color: #e8e8e8; }
.editor table .odd {
  background-color: #fff; }
.editor table img {
  margin: 15px 0 0; }
  .editor table img:first-child {
    margin-top: 0; }
.editor table + .bottom-table-notice {
  margin-top: 15px; }

.entertaiment-result {
  margin: 20px -10px 0; }

.logo-items-wrapper {
  margin: 32px -10px 0;
  font-size: 0;
  overflow: hidden; }

.ent-item .ent-item__inner {
  margin: 9px 10px;
  background-color: #fff;
  border-bottom: 2px solid #ccc; }
.ent-item .ent-item__content {
  padding: 16px 19px; }
.ent-item .ent-item__thumb img {
  width: 100%; }
.ent-item .ent-item__title a {
  font-size: 16px;
  font-weight: bold;
  color: #00266b; }
  .ent-item .ent-item__title a:hover {
    color: #2e77fd; }
.ent-item .ent-item__text {
  color: #02266b; }
  .ent-item .ent-item__text p {
    margin-top: 2px;
    margin-bottom: 10px; }
.ent-item .ent-item__footer {
  margin-top: 10px; }
.ent-item .info-link-1 em {
  font-size: 14px; }
  .ent-item .info-link-1 em:before {
    margin-left: 0; }

.fixed-height .ent-item .ent-item__title, .fixed-height .ent-item .ent-item__footer {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
.fixed-height .ent-item--1 .ent-item__inner {
  height: 283px; }
.fixed-height .ent-item--1 .ent-item__thumb {
  height: 182px;
  overflow: hidden; }
.fixed-height .ent-item--2 .ent-item__inner {
  height: 213px; }
.fixed-height .ent-item--2 .ent-item__thumb {
  height: 131px;
  overflow: hidden; }

.accordion .accordion__item {
  color: #000;
  background-color: #f5f5f5;
  overflow: hidden; }
  .accordion .accordion__item + .accordion__item {
    margin-top: 10px; }
  .accordion .accordion__item .sub-header {
    display: block;
    margin-bottom: 17px; }
  .accordion .accordion__item .fineprint {
    display: block;
    margin-top: 17px; }
.accordion .accordion__text {
  padding: 16px 20px;
  background-color: #fff; }
  .accordion .accordion__text + .accordion__text {
    margin-top: 10px; }

.sub-header {
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
  color: #02266b; }

.accordion-component .sub-heading-1--blue {
  margin-bottom: 25px; }

.static-item-1__detail > p, .static-item__detail > p {
  margin: 0; }

.static-item-1 img {
  width: 100%;
  border-bottom: 1px solid #ececec; }
.static-item-1 .static-item-1__name {
  font-family: sans-serif;
  font-size: 24px;
  color: #00266b; }
.static-item-1 .static-item-1__link {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px; }

.static-item-1__info {
  padding: 0 10px; }
  .static-item-1__info a {
    width: 100%;
    display: block;
    overflow: hidden; }

.static-item-1__detail {
  color: #000;
  position: relative;
  padding: 17px 30px 17px 20px; }

.static-block-1__wrapper {
  margin: 20px -10px;
  overflow: hidden; }

.popup--culinarypanel img {
  border-bottom: 1px solid #f2f2f2;
  width: 100%; }
.popup--culinarypanel .editor a {
  display: block; }
.popup--culinarypanel .editor p {
  margin-top: 5px; }
  .popup--culinarypanel .editor p:first-child {
    margin-top: 0; }

.entertaiment-tab .tab-wrapper {
  margin-top: 30px; }

.form-movies-filter .custom-select--2 .select__label, .form-music-filter .custom-select--2 .select__label {
  max-width: 68px; }
.form-movies-filter .custom-select--2 .select__text, .form-music-filter .custom-select--2 .select__text {
  padding-left: 98px; }

.heritage-intro .sub-text-4 {
  line-height: 26px; }
.heritage-intro .content {
  margin-top: 22px;
  color: #000; }
  .heritage-intro .content p {
    margin: 0; }
    .heritage-intro .content p + p {
      margin-top: 10px; }

.heritage-main {
  position: relative; }

.heritage-item {
  position: relative;
  color: #000; }
  .heritage-item + .heritage-item {
    padding-top: 20px; }
  .heritage-item .heritage-item__inner {
    position: relative; }
  .heritage-item .sub-heading-3--dark {
    padding: 16px 0 16px; }
  .heritage-item .heritage-highlight {
    position: absolute;
    top: 15px;
    left: 5px;
    width: 1px;
    height: 100%;
    background: #ccc; }
  .heritage-item:last-child .heritage-highlight {
    height: 20px; }

.heritage-highlight__circle {
  position: absolute;
  top: -5px;
  background: #ff9f00;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border: 2px solid #f7f7f7; }

.heritage-highlight__arrow {
  position: absolute;
  font-family: "sia";
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 1;
  color: #fff;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }
  .heritage-highlight__arrow:before {
    display: inline-block;
    position: relative;
    z-index: -1;
    content: "\e61c";
    font-style: normal;
    font-weight: normal;
    speak: none; }

.heritage-timeline + .heritage-timeline {
  margin-top: 10px; }
.heritage-timeline .heritage-timeline__text {
  padding: 16px 20px;
  background: #f5f5f5;
  line-height: 20px; }
.heritage-timeline .heritage-timeline__img {
  max-width: 100%; }

.flexslider--6 {
  height: 287px; }
  .flexslider--6 .krisflyer-spree {
    height: 287px; }
  .flexslider--6 .slide-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%; }

.static-item__title {
  font-weight: 600;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #02266b; }

.static-block--item-3 .static-item {
  display: block;
  margin-left: 20px; }
  .static-block--item-3 .static-item .static-item__info {
    margin: 0;
    border-bottom: none; }
  .static-block--item-3 .static-item .static-item__name {
    font-size: 36px; }
.static-block--item-3 .static-item__desc {
  padding: 25px 20px 20px; }
  .static-block--item-3 .static-item__desc p {
    color: #000;
    line-height: 20px;
    margin-top: 6px;
    margin-bottom: 0; }

.static-block-3 {
  overflow: hidden;
  margin-left: -20px; }

.highlights--krisflyer .blk-heading {
  padding-top: 0;
  padding-bottom: 5px; }
.highlights--krisflyer .img-block {
  height: auto;
  border-bottom: 2px solid #00266b; }
.highlights--krisflyer figcaption {
  background-image: none;
  background-color: #f5f5f5; }
.highlights--krisflyer .slick-dots {
  bottom: -30px; }
.highlights--krisflyer .flexslider--3 {
  margin-bottom: 0; }

.tabs-component .sub-heading-1--blue {
  margin-bottom: 30px; }
.tabs-component .tabs--1 .tab-wrapper {
  padding: 20px 0; }

.static-block-1 .sub-heading-1--blue {
  margin-bottom: 20px; }

.static-item-2 + .static-item-2 {
  margin-top: 10px; }

.ent-item--logo {
  cursor: pointer;
  overflow: hidden; }
  .ent-item--logo .ent-item__inner {
    padding: 13px;
    margin: 5px 10px;
    text-align: center; }
  .ent-item--logo .ent-item__thumb img {
    max-width: 100%;
    width: auto; }

.ent-item-partners {
  cursor: pointer; }
  .ent-item-partners .ent-item__text {
    color: #000;
    line-height: 19px; }
  .ent-item-partners .ent-item__thumb {
    text-align: center; }
    .ent-item-partners .ent-item__thumb img {
      display: inline-block;
      width: auto;
      max-width: 100%;
      text-align: center; }
  .ent-item-partners .ent-item__inner {
    min-height: 305px; }
  .ent-item-partners .ent-item__title {
    margin-bottom: 10px; }
  .ent-item-partners .ent-item__content {
    padding-left: 16px;
    padding-right: 16px; }

.financial-partners-block {
  overflow: hidden;
  margin: 20px -10px 0; }
  .financial-partners-block .ent-item__thumb {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #f0f0f0; }

.visas-requirements-content p {
  line-height: 1.5em; }
.visas-requirements-content p, .visas-requirements-content > .link-4 {
  margin-top: 25px; }
.visas-requirements-content p:first-child {
  margin-top: 0; }
.visas-requirements-content ul {
  margin-top: 0;
  margin-bottom: 30px; }
  .visas-requirements-content ul li {
    margin-top: 12px; }
  .visas-requirements-content ul + p {
    margin-top: 0; }

.static-sub-title {
  font-weight: 600;
  font-family: sans-serif;
  font-size: 18px;
  color: #000;
  margin-top: 3px;
  margin-bottom: 20px; }

.download-link {
  display: inline-block;
  vertical-align: middle; }
  .download-link [class^="ico-"] {
    font-size: 18px;
    margin: 0 3px 0 0; }
    .download-link [class^="ico-"]:before {
      margin-left: 0; }

.component-carousel {
  zoom: 1; }
  .component-carousel:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .component-carousel .slide-item {
    background: #fff; }
  .component-carousel .component-carousel__image {
    overflow: hidden; }
    .component-carousel .component-carousel__image img {
      margin-bottom: 0; }
  .component-carousel .component-carousel__detail {
    overflow: hidden;
    padding: 22px 30px 33px; }
    .component-carousel .component-carousel__detail .sub-heading-3--blue {
      overflow: hidden;
      margin-bottom: 10px; }
    .component-carousel .component-carousel__detail p {
      line-height: 1.5em; }
    .component-carousel .component-carousel__detail .button-group {
      margin-top: 25px; }
  .component-carousel .flexslider .slick-prev, .component-carousel .flexslider .slick-next {
    margin-top: -20px; }

.promotion-components .where-to-stay {
  padding-bottom: 0; }
.promotion-components .component-name {
  margin: 40px 0 0;
  color: #666;
  font-style: italic; }
  .block--full-page .promotion-components .component-name {
    margin: 15px 0; }
  .promotion-components .component-name + .download-link {
    margin-top: 25px; }
  .promotion-components .component-name + .blk-heading--promotions {
    margin-top: 14px; }
.promotion-components .block--full-page__inner .component-name {
  margin-bottom: 17px; }
.promotion-components hr {
  margin-bottom: 0; }
.promotion-components .component-carousel, .promotion-components .component-body-copy, .promotion-components .component-price-point, .promotion-components .component-fare-table, .promotion-components .component-fare-table-multiple, .promotion-components .highlights--component, .promotion-components .component-column-content, .promotion-components .component-promt, .promotion-components .component-join-kf, .promotion-components .accordion--promotion {
  margin-top: 28px; }
.promotion-components .promotion-btn {
  margin-bottom: 20px; }

.component-body-copy {
  zoom: 1; }
  .component-body-copy:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .component-body-copy .component-body-copy__text {
    overflow: hidden; }
  .component-body-copy .component-body-copy__wrapper {
    overflow: hidden;
    margin-top: 25px; }
  .component-body-copy .sub-text-4 {
    margin: 0 0 20px;
    clear: both; }
  .component-body-copy p {
    line-height: 1.5; }
  .component-body-copy img {
    margin-bottom: 0; }

.highlights--component .img-block img {
  margin-bottom: 0; }
.highlights--component .highlight__heading {
  max-height: 82px;
  font-size: 21px;
  margin-bottom: 14px; }
.highlights--component figcaption {
  background-image: none;
  background-color: #fff;
  padding: 22px 14px 16px 18px;
  height: 187px; }
  .highlights--component figcaption .link-4 {
    margin-top: 18px; }

.component-column-content .what-to-do {
  margin-top: -10px; }

.component-carousel, .component-body-copy, .highlights--component, .component-column-content, .component-promt, .component-watch-now, .component-join-kf, .accordion--promotion, .component-flight-schedule {
  margin-top: 40px; }
  hr + .component-carousel, hr + .component-body-copy, hr + .highlights--component, hr + .component-column-content, hr + .component-promt, hr + .component-watch-now, hr + .component-join-kf, hr + .accordion--promotion, hr + .component-flight-schedule {
    margin-top: 0; }
  .component-carousel .sub-heading-1--blue, .component-body-copy .sub-heading-1--blue, .highlights--component .sub-heading-1--blue, .component-column-content .sub-heading-1--blue, .component-promt .sub-heading-1--blue, .component-watch-now .sub-heading-1--blue, .component-join-kf .sub-heading-1--blue, .accordion--promotion .sub-heading-1--blue, .component-flight-schedule .sub-heading-1--blue {
    margin-bottom: 15px; }

.component-fare-table, .component-price-point, .component-fare-table-multiple {
  margin-top: 40px; }
  hr + .component-fare-table, hr + .component-price-point, hr + .component-fare-table-multiple {
    margin-top: 0; }
  .component-fare-table .sub-heading-1--blue, .component-price-point .sub-heading-1--blue, .component-fare-table-multiple .sub-heading-1--blue {
    margin-bottom: 22px; }

.destination-info {
  color: #fff; }
  .destination-info tbody td {
    padding-bottom: 15px;
    vertical-align: bottom;
    display: table-cell; }
    .destination-info tbody td:first-child {
      padding-left: 20px;
      padding-right: 0; }
    .destination-info tbody td.class-flight {
      padding-right: 20px;
      padding-left: 0; }
  .destination-info .name-city {
    color: #fff;
    font-size: 28px;
    line-height: 1;
    margin: 0;
    display: block;
    font-family: sans-serif; }
  .destination-info .class-flight {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif; }

.destination-list ul {
  margin: 0;
  padding: 0; }
  .destination-list ul li {
    list-style: none;
    padding: 16px 20px 15px;
    border-top: 1px solid #e5e5e5;
    position: relative;
    margin: 0; }
    .destination-list ul li:first-child {
      border-top: none; }
    .destination-list ul li p {
      margin: 0; }
    .destination-list ul li .destination-list__text {
      color: #000;
      font-size: 14px;
      line-height: normal; }
    .destination-list ul li .destination-list__name {
      font-size: 24px;
      color: #00266b;
      font-family: sans-serif;
      line-height: normal; }
      .destination-list ul li .destination-list__name sup {
        font-weight: 400;
        font-family: sans-serif;
        top: -5px; }
    .destination-list ul li .ico-point-r {
      color: #00266b;
      font-size: 14px;
      margin-top: -7px;
      position: absolute;
      top: 50%;
      right: 9px; }

/*# sourceMappingURL=static-content-none-en-char.css.map */