.accordion {
    position: relative;
    padding: 0;
}

.accordion-wrap {
    display: block;
    border-radius: 2px;
}

.accordion_trigger {
    background: #FFFFFF;
    border: 1px solid #E5E9F0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.03);

    padding: 20px 30px;

    display: block;
    position: relative;
    width: 100%;
    min-height: 105px;
}

.accordion_trigger_chevron {
    position: absolute;
    right: 30px;
    top: 48%;

    transform: translateY(-50%);

    line-height: 0.9em;
    color: #00266B;

    transition: transform 0.3s linear;

    &.chevron--up {
        transform: translateY(-50%) rotate(0deg);
    }
    &.chevron--down {
        transform: translateY(-50%) rotate(180deg);
    }
}

.accordion_content {
    padding: 20px 20px 35px;
    background-color: #F0F2F6;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.05);
    
    .inline-disc {
        margin: 0px 9px;
    }
    .disc-padding {
        padding: 0px 5px;
        // text-align: center;
    }
}

.accordion-col {
    display: inline-block;
  }
  
  .flight-info_content {
    padding: 20px;
  }
  
  .flight-info {
    background-color: white;
    border-radius: 2px;
    padding: 20px;
  }
  
  .flight-info_flight-desc {
    border-bottom: 2px solid #E5E9F0;
    padding-bottom: 10px;
  }
  
  .flight-info_flight-tracker {
    font-weight: 700;
  }
  
  .flight-info_flight-jet {
    color: #666;
  }
  
  .flight-info_flight-travel-hours {
    color: #666;
  }
  
  .ico-flight-history {
    font-style: normal;
    margin-right: 5px;
  
    &:before {
      font-size: 11px;
      vertical-align: baseline;
    }
  }
  
  // .flight-info_flight-cabin-class {
  //   font-weight: 600;
  //   float: right;
  //   line-height: 1.3em;
  // }
  
  .flight-info_bottom-flight-desc {
    // padding-top: 25px;
  }
  
  .flight-info_from-content, .flight-info_to-content {
    // padding-bottom: 22px;
  }
  
  .singapore-airlines-img {
    max-width: 18px;
    max-height: 18px;
    margin-top: -3px;
    margin-right: -5px;
  }
  
  .flight-info_layover-time {
    padding: 25px 0px 22px;
    color: #00266b;
    font-weight: 600;
    font-size: 12px;
  
    .ico-flight-history {
      &:before {
        font-size: 14px;
      }
    }
  }
  
//   .accordion-col--modifier1 {
//     width: 7%;
//   }
  
//   .accordion-col--modifier2 {
//     width: 28%;
//   }
  
//   .accordion-col--modifier3 {
//     width: 19%;
//   }
  
//   .accordion-col--modifier4 {
//     width: 8%;
//   }