.booking-reference {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 2px;
    padding: 15px;
    text-align: center;
    min-width: 250px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);
}

.booking-reference--w-tab-float {
    top: calc(50% - 35px);
}

.booking-reference_title {
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    line-height: 1em;
    color: #00266B;
    padding-bottom: 10px;
    border-bottom: 1px solid #ff9f00;
    
    margin: 0 auto 20px;
    width: auto;
    display: inline-block;
}

.booking-reference_number {
    font-weight: 700;
    font-size: 30px;
    color: #222;
    text-align: center;
    text-transform: uppercase;
    line-height: 0.8em;
    letter-spacing: 3px;
    margin-bottom: 17px;
}

.booking-reference_print {
    width: calc(100% + 30px);
    background-color: #00266B;
    color: white;
    margin: 0 -15px -15px;
    font-size: 12px;
    font-weight: 600;
    padding: 13px 0;
    line-height: 14px;

    .ico-print {
        margin-top: -2px;
    }
}

.booking-reference_anchor-tag {
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 769px) {
    .booking-reference--w-tab-float {
        right: 45px;
    }  
}