.add-ons-item-block {
    margin-bottom: 20px;
}

.add-ons-item-block-aside {
    margin-bottom: 0px;
    padding: 0;
}

.add-ons-item-block_details {
    grid-template-columns: 21.6% 78.4%;
    display: grid;
}

.add-ons-item-block_img-content {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    padding: 40px 48px;
    border-right: 1px solid #E5E9F0;
}

.add-ons-item-block_img {
    width: 102px;
    height: 56px;
}

.add-ons-item-block_inner-content {
    padding: 27px 26px;
    // grid-template-rows: 40px 30px;
    display: -ms-grid;
    display: grid;
}

.add-ons-item-block_inner-row-1 {
    grid-template-columns: 33% 71%;
    display: grid;
}

.add-ons-item-block_inner-row-1-h4 {
    font-size: 16px;
}

.add-ons-item-block_inner-row-1_col-2 {
    text-align: right;
    padding-top: 2px;
}

.add-ons-item-block_inner-row-1_text-1 {
    background-color: #E5E9F0;
    font-size: 14px;
    padding: 5px 24px 5px 15px;
}

.add-ons-item-block_inner-row-2 {
    margin-top: 17px;
    // grid-template-columns: 24% 76%;
    grid-template-columns: 30% 70%;
    display: grid;
}

.add-ons-item-block_inner-row-3 {
    margin-top: 12px;
    // grid-template-columns: 24% 76%;
    grid-template-columns: 30% 70%;
    display: grid;
}

.add-ons-item-block_footer-info {
    border-bottom: 1px solid #E5E9F0;
    border-right: 1px solid #E5E9F0;
    border-left: 1px solid #E5E9F0;
    padding: 22px 20px;
    background-color: #FAFAFA;
    color: #222;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.hotel-checkin-checkout-content {
    margin-bottom: 0px;
    padding: 23px 30px 0px;
}

.hotel-add-ons_inner-content {
    grid-template-rows: 40px auto;
}

.hotel-add-ons_img-content {
    padding: 0px;
}

.hotel-add-ons_img {
    height: auto;
    width: auto;
    background-size: auto 100%;
}

.hotel-add-ons-block_hotel-name {
    font-size: 16px;
}

.hotel-add-ons-block_hotel-name-star {
    grid-template-columns: 43% 57%;
    img {
        width: 16px;
        height: 16px;
    }
}

.hotel-add-ons-block_hotel-address {
    grid-template-columns: 100%;
}

.hotel-add-ons-block_hotel-address_text {
    color: #666;
}

.hotel-checkin-checkout-row {
    -ms-grid-columns: 33% 34% 33%;
    grid-template-columns: 33% 34% 33%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 40px 40px;
    grid-template-rows: 30px;
    display: -ms-grid;
    display: grid;
    padding-bottom: 20px;
}

.hotel-checkin-checkout-row_col-1 {
    grid-template-columns: 45% 55%;
    display: -ms-grid;
    display: grid;
}

.hotel-checkin-checkout-row_col-2 {
    // padding: 0px 20px;
    padding-right: 20px;
    -ms-grid-columns: 45% 55%;
    grid-template-columns: 45% 55%;
    display: -ms-grid;
    display: grid;
}

.hotel-checkin-checkout-row_col-3 {
    -ms-grid-columns: 45% 55%;
    grid-template-columns: 45% 55%;
    display: -ms-grid;
    display: grid;
}

.hotel-agoda-row {
    -ms-grid-columns: 33% 34% 33%;
    grid-template-columns: 33% 34% 33%;
    display: -ms-grid;
    margin-top: 15px;
    display: grid;
    -ms-grid-rows: 40px 40px;
    grid-template-rows: auto;
    padding-bottom: 20px;
}

.hotel-agoda-row_checkin-date {
    grid-template-columns: auto;
    display: -ms-grid;
    display: grid;
}

.hotel-agoda-row_checkout-date {
    // padding: 0px 20px;
    padding-right: 20px;
    -ms-grid-columns: 45% 55%;
    grid-template-columns: 45% 55%;
    display: -ms-grid;
    display: grid;
}

.hotel-agoda-_nights-num {
    -ms-grid-columns: 45% 55%;
    grid-template-columns: 45% 55%;
    display: -ms-grid;
    display: grid;
}

.hotel-agoda_booking-status-text {

}

.hotel-agoda-row_img {
    padding-left: 40px;
}

.hotel-agoda_booking-status-content {
    // display: -webkit-box;
    // -webkit-box-align: center;
    padding-right: 20px;
    -ms-grid-columns: 45% 55%;
    grid-template-columns: 45% 55%;
    display: -ms-grid;
    display: grid;
    align-content: center;
}

.hotel-agoda-row_nights-num {
    grid-template-rows: auto;
    display: -ms-grid;
    display: grid;
}

.hotel-agoda-row_nights-num_amount-charged {
    font-size: 18px;
}

.join-krisflyer-article {
    background-color: #ECEFF4;
    border-radius: 2px;
    padding: 35px 30px;
    height: 218px;
    position: relative;

    .join-krisflyer-inner-content_description {
        margin-bottom: 20px;
    }
}

.join-krisflyer-inner-content {
    width: 650px;
    position: absolute;
    z-index: 2;
}

.join-krisflyer-inner-content_input {
    width: 250px;
    height: 35px;
}

.join-krisflyer-inner-content_button {
    .btn-primary {
        height: 35px;
        width: 125px;
    }
}

.join-krisflyer-mask-cellphone {
    position: absolute;
    top: 0;
    right: 0;
}

.join-krisflyer-inner-content_input-btn {
    display: grid;
    grid-template-columns: 40% 60%;

    .select__text {
        padding-left: 13px;
        top: -1px;
        letter-spacing: 0.025em;
    }
    .v-select {
        width: 250px;
        height: 35px;
    }
    .dropdown-toggle {
        height: auto;
        line-height: 0px;
    }
}

@media only screen and (max-width: 769px) {
    .add-ons-item-block_img-content {
        padding: 0;
    }

    .hotel-add-ons_img {
        // height: 160px;
        height: auto;
        width: 160px;
    }
    .add-ons-item-block_details {
        grid-template-columns: 26% 75%;
    }
    .add-ons-item-block_inner-row-1 {
        grid-template-columns: 35% 70%;
    }
    .hotel-checkin-checkout-row {
        grid-template-rows: auto;
    }
    .hotel-checkin-checkout-row_col-2 {
        grid-template-columns: 53% 47%;
    }
    .hotel-checkin-checkout-row_col-3 {
        grid-template-columns: 53% 47%;
    }
    .hotel-agoda_booking-status-content {
        grid-template-columns: 55% 45%;
    }
    .select-manage-booking-content {
        grid-template-columns: 26% 52% 22%;
    }
    .join-krisflyer-article {
        padding: 15px 30px 9px;
    }
    .join-krisflyer-inner-content {
        max-width: 320px;

        .content-title-padding {
            padding-bottom: 10px;
        }
    }
    .join-krisflyer-article {
        .join-krisflyer-inner-content_description {
            margin-bottom: 17px;
        }
    }
    .join-krisflyer-inner-content_input-btn {
        grid-template-columns: 70% 42%;
        
        .v-select {
            width: auto;
        }
    }
    .join-krisflyer-inner-content_button {
        text-align: right;
    }
    .hotel-add-ons-block_hotel-name-star {
        grid-template-columns: 55% 45%;
    }
}