.backto-link {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 12px;
    
    .backto-link_icon {
        width: 6px;
        height: 8px;
    }

    .icon {
        margin-right: 8px;
        g {
            fill: #0254ec;
        }
        
    }
}

.backto-link_icon {
    g {
        fill: white;
    }
}