//Use BEM pattern with Atomic
.masthead {
    position: relative;
}
.masthead--fullwidth {
    width: 100%;
    height: 300px;
    
    background-image: url(../images/banner-london.png);
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(-179deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.40) 100%);
        box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
        z-index: -1;
    }

    .wrap-control {
        min-height: 100%;
    }

    .backto-link {
        top: 53px;
    }

    &.no-img {
        background-color: white;
        background-image: none;
        &:before {
            display: none;
        }

        .title {
            text-shadow: 0 0 0 rgba(0,0,0,0);
            color: #00266B;
        }

        .sub-title {
            text-shadow: 0 0 0 rgba(0,0,0,0);
            color: #222;
        }
    }
}

.ico-point-l {
    letter-spacing: 1px;
    &:before {
      font-size: 8px;
      padding-right: 8px;
    }
}

.masthead_details {
    position: absolute;
    top: 50%;
    @include prefix(transform, translateY(-50%), webkit moz ms o);

    border-left: solid 3px #FF9F00;
    padding-left: 20px;

    .title {
        text-shadow: 0 2px 2px rgba(0,0,0,0.30);
        color: white;
        margin-bottom: 15px;
        line-height: 0.9em;
        font-family: 'sigvar';
        font-weight: 500;
        font-size: 26px;
    }

    .sub-title {
        color: white;
        text-shadow: 0 2px 2px rgba(0,0,0,0.30);
        line-height: 0.9em;
    }
}

@media only screen and (max-width: 769px) {
    .masthead--fullwidth {
        .wrap-control {
            padding: 0px 45px;
        }
        .backto-link {
            left: 42px;
        }
    }
    
}