.bsp-bubble {
	position: relative;

	.tooltip-bsp {
		position: fixed;
		right: 23%;
		margin-top: 11px;
		opacity: 0;
	}

	.fade-in {
	    opacity:1;
	}

	.tooltip-3 {
	    color: #fff;
	    height: auto;
	    width: auto;
	    clear: both;
		display: inline-block;
		background-color: #00266b !important;
	    border-top-left-radius: 6px;
	    border-top-right-radius: 6px;
	    border-bottom-left-radius: 6px;
	    border-bottom-right-radius: 6px;
	    padding: 5px 10px !important;
	    z-index: 999;

	    .unit-small {
	    	font-size: 18px;
	    }

	    .tooltip__arrow {
			position: absolute;
		    top: 100%;
		    left: 50%;
		    margin: -8px 0 0 -9px;
		    font-family: "sia";
		    font-size: 18px;
		    line-height: 1;
		    color: #00266b;

		    &.type-top {
		    	margin: 0 0 0 -8px;
		    	top: -11px;
		    }

		    &:before {
				display: inline-block;
			    position: relative;
			    z-index: -1;
			    content: "\e61c";
			    font-style: normal;
			    font-weight: normal;
			    speak: none;
			    text-shadow: 2px 2px 6px rgba(99, 99, 99, 0.2);
			    -webkit-transform: rotate(180deg);
			    transform: rotate(180deg);
			    -o-transform: rotate(180deg);
			    -ms-transform: rotate(180deg);
			    -moz-transform: rotate(180deg);
			}
		}
	}
}

.bsp-w-bbl {
	.bsp-booking-summary {
		border-bottom: 0;
	}

	.bsp-booking-summary__content {
		border-bottom: 2px solid #d4d4d4;
	}

	.bsp-total-fare {
		.total-cost {
			.unit-small {
				font-size: 16px;
				display: inline;
			}
		}
	}

	.bsp-booking-summary__content-control.expanded-bsp {
		.station-stop:before {
			background-color: #cacdd4;
		}
	}

	.bsp-booking-summary__content-control {
		.station-stop:before {
			background-color: transparent;
		}
	}
}

.ie8 {
	.bsp-bubble {
		.tooltip-3 {
			.tooltip__arrow {
				width: 16px;
				height: 10px;
				margin-top: 0;
				border-radius: 6px;
				top: -7px;
				background: url(../images/ico-sprite-ie.png) no-repeat -323px -718px transparent;

				&:before {
					display: none;
				}
			}
		}
	}
}
