.overlay-change-management{
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.85);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6000000,endColorstr=#E6000000);
    width: 100%;
    height: 100%;
    z-index: 1000;
    color:white;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    .close-btn{
        img{
            width:25px;
        }
    }

    .btn-1{
        span{
            font-size: 12px;
            padding: 0px 5px 0px 8px;
            em{
                font-size: 9px;
                margin-left: 5px;
                margin-top: -2px;
            }
        }
    }

    p {
        font-weight: 200;
        font-size: 18px;
        span{
            font-weight: 700;
        }
    }  

    .slick-dots{
        li{
            margin: 0px 2px;

            button{
                width: 8px;
                height: 8px;
            }
        }
    }

    .slick-dots-0{
        display: block;
        position: absolute;
        top: 295px;
        cursor: pointer;
    }

    .slick-dots-1{
        position: absolute;
        top: 270px;
        right: 354px;
        width: 100px;
         cursor: pointer;
    }

    .slick-dots-2{
        position: absolute;
        bottom: 290px;
        left: 340px;
        width: 100px;
         cursor: pointer;
    }
    .slick-dots-3{
        position: absolute;
        width: 100px;
        left: 650px;
        bottom: 495px;
        cursor: pointer;
    }

    .slick-dots-4{
        position: absolute;
        right: -168px;
        bottom: 410px;
    }

    .first-slide{
        margin-top: 130px;

        .btn-2{
            background-color:#666;
        }

        .btn-2:hover{
            background-color:#a0afb3;
        }

        .wrapper{
            width: 680px;
            margin: 0 auto;
            height: 240px;
        }

        h3{
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            margin-top: 20px;
            font-weight: 700;
            margin-top: 30px;
        }
        p{
            font-size: 18px;
            width: 65%;
            margin: 20px auto 30px auto;
        }

        a.close-btn{
            position: relative;
            left: 839px;
            top: 30px;
            z-index: 9999;
        }
      

        button.skip-btn{
            position: relative;
            left: 0;
            top: 20px;

            span{
                padding: 0 8px;
            }
        }

        .next-btn-style-0{
            display: inline-block;
            position: relative;
            z-index: 9999999;
            padding: 15px 24px 13px 24px;
            right: -5px;
            top: 20px;
            
            span{
                padding: 0 5px;
            }
        }
        
    }

    .second-slide{
        margin-top: 50px;
        position:relative;
        img.img-2-slider{
            width: 620px;
            height: 405px;
        }

        .close-btn{
            position: absolute;
            right: 90px;
            top: 100px;
            z-index: 9999;
        }


        .right-content{
            width: 42%;
            height: 200px;
            position: relative;
            top: -296px;
            right: -615px;

            .arrow{
                width:40px;
                margin-top: 22px;
            }

            p{
                position: absolute;
                width: 70%;
                text-align: left;
                top: 0;
                left: 5px;
                font-size: 18px;
                font-weight: 200;

                span{
                    font-weight: 700;
                }
            }
        }

        .next-btn-style-1{
            position: absolute;
            right: 138px;
            bottom: 45px;
            z-index: 9999999;
        }
    }

    .third-slide{

        .wrapper{
            width:650px;
            margin: 0 auto;
        }

        .wrapper-content {
            width: 560px;
            position: relative;
            top: 0;
            left: 200px;
        }

        img.img-3-slider{
            width: 620px;
            height: 405px;
            
        }

        img.arrow-up{
            width: 25px;
            margin-left: 123px;
            margin-top: -22px;
        }

        p{
            text-align: left;
            margin-left: 150px;
            margin-top: -12px;
            font-size: 18px;
        }

        .close-btn{
            position: relative;
            left: 800px;
            top: 395px;
            z-index: 9999;
        }
        .next-btn-style-2{
            z-index: 999;
            margin-top: 10px;
            float: right;
        }
    }

    .fourth-slide{
        margin-top: 35px;
        .wrapper{
            width: 95%;
            margin-top: 75px;

        }

        .wrapper-content {
            position: relative;
            top: -243px;
            left: -40px;
        }

        img.img-4-slider{
            width: 660px;
            height: 240px;
        }

        p{
            width: 31%;
            text-align: left;
            position: absolute;
            right: 32px;
            top: 37px;
            font-size: 18px;
        }

        .close-btn{
            position: relative;
            left: 1000px;
            top: 120px;
            z-index: 9999;
        }

        .next-btn-style-3{
            position: absolute;
            right: 37px;
            z-index: 9999;
            top: 150px;
        }
    }

    .fifth-slide{
        margin-top: 25px;

        .wrapper-content {
            text-align: left;
            width: 370px;
            position: relative;
            top: -445px;
            left: 660px;

            p:first-child{
                width: 90%;
            }

            p:first-child + p {
                font-weight: 200;
                font-size: 18px;
                width: 90%;
            }
        }

        img.img-5-slider{
            width: 655px;
            height: 480px;
        }

        .close-btn{
            position: relative;
            left: 1000px;
            top: 45px;
            z-index: 9999;
        }

        .last-text{
            color: #c1a474;
            font-size: 14px;

            em{
                font-size: 6px;
                margin-bottom: 4px;
            }
        }

        .next-btn-style-4{
            position: absolute;
            right: 15px;
            top: 260px;
        }

    }

    .slick-next{
        display: none !important;
    }
    .cm-wrapper{
        position: absolute;
         margin: auto;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
        width: 1060px;
        height: 525px;
         text-align: center;
    }
}