.destination-list-page {

     .ui-autocomplete [data-value="No results found."]:hover {
        overflow: hidden;
        height: 100%;
    }

    
    .custom-select--2 .select__text{
        padding-left: 0;
    }
    
    .btn-search .ico-search{
        background: none !important;
    }
    .main-heading {
        font-weight: 400;
        line-height: 1em;
        margin-bottom: 18px;
    }

    .destination-main-container {
    	max-width: 988px;
    	margin: 55px auto 40px;
        background-color: white;
        position: relative;
        
    	.destination-inner-description {
    		max-width: 650px;
            font-size: 16px;
            margin: 0;
            line-height: 1.3em;
    	}

    	.dest-city-form {
            position: absolute;
            top:0;
            right:0;
            width: 252px;

            .form-group {
                margin: 0;
            }

    		.custom-select {
    			border: 0;
    			.select__text {
    				.ui-autocomplete-input {
                        padding: 0px;
                        line-height: 20px;
    					font-size: 16px;
                        font-weight: 400;

                        padding-bottom: 12px;
                        border-bottom: 2px solid #ccc;

                        &::-webkit-input-placeholder {
                            color: black;
                        }
    				}
    			}
    			.btn-search {
                    bottom: auto;
    				.ico-search {
                        font-size: 15px;
                        line-height: 1em;
                        color: #000;
                        
                        display: block;
                        width: 20px;
                        height: 20px;

                        top: 2px;
                        margin: 0;
                    }
                    
                    input {
                        width: 15px;
                        height: 20px;
                        position: absolute;
                        right:0;
                        top:0;
                    }
    			}
            }
            
            .search-city-custom {
                float: none;
            }

            .grid-inner {
                padding: 0;
            }

    	}

    }


    .search-city-custom .custom-select .select__text .ico-cancel-thin {
            right: 20px;
             top: 10px;
    }

    .main-content-destination-categories {
    	max-width: 988px;
    	margin: 45px auto 20px;
    	padding: 0 20px;
    }

    .static-block-2 {
    	.static-block--item {
    		.static-item.col-mb-3,
    		.static-item.col-mb-6 {
    			width: 33.3%;
            }
        } 
        
        .static-item__info {
        	height: 340px;
        	border-bottom: none;
        	
            .first-phase-description-container {
                position: relative;
                display: block;
                height: 100%;
            }
            
            .hover-overlay-container {
                background: no-repeat;
            	background-position: center center;
                height: 100%;
                width: 100%;
            	display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                
            	img {
            		display: block;
            		width: 100%; // height: auto;
            		height: 100%;
                    opacity: 0;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
            		backface-visibility: hidden;
                }
                
                .hover-overlay-border {
                    box-sizing: border-box;
            		border: 1px solid grey;
            		height: 100%;
            		width: 100%;
                    border-radius: 2px;
                    
                    display: block;
                    position: relative;

                    color: #fff;
                    font-family: "proxima-nova",
                    "Open Sans",
                    "Arial",
                    "Helvetica",
                    sans-serif;
                }
                .hover-overlay-region {
                	font-size: 12px;
                	font-weight: 600;
                	position: relative;
                	text-transform: uppercase;
                    width: 100%;
                    padding-top: 60px;
                    padding-bottom: 38px;
                	text-align: center;
                	letter-spacing: 1px;
                }

            	.hover-overlay-description {
                    box-sizing: border-box;
            		position: absolute;
            		top: 0;
            		bottom: 0;
            		left: 0;
            		right: 0;
            		height: 100%;
            		width: 100%;
                    opacity: 0;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
                    transition: .5s ease; 
                    
                    padding: 10px;
                }
                
                .hover-overlay-region-border {
                	border-bottom: 3px solid #f79e32;
                	top: 80px;
                	position: absolute;
                	left: 47%;
                	// @include prefix(transform, translateX(-50%), wbkit moz ms o);
                	width: 20px;
                }

                .hover-overlay-read-more {
                	font-size: 11px;
                	font-weight: 600;
                	position: absolute;
                	bottom: 25px;
                	text-transform: uppercase;
                	/* background-color: red; */
                	width: 100%;
                	text-align: center;
                }

            	.hover-overlay-title {
                    position: relative;
                    width: 100%;
                    text-align: center;
                    margin-bottom: 16px;
            		h2 {
            			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                        font-weight: 600;
                        line-height: 1em;
            		}
            	}
            	.hover-overlay-info {
            		font-size: 14px;
            		position: relative;
                    max-width: 250px;
                    margin: 0 auto;
            		
                    text-align: center;
                    
                    p {
                        margin:0;
                    }
            	}
            }

        	.container-static-item__region {
        		padding-top: 26px;
        		text-align: center;
        		position: relative;
        		width: 100%;
        		color: #fff;
        		font-weight: 600;
        		font-size: 12px;
                letter-spacing: 1px;

                .static-item__region {
                    padding: 0 4px;
                    position: relative;
                    text-transform: uppercase;
                }

                &:after {
                	content: '';
                	display: block;
                    position: absolute;
                    top: 45px;
                	left: 47%;
                	width: 20px;
                	height: 3px;
                	background-color: #f79e32;
                	// @include prefix(transform, translateX(-50%), moz webkit ms o);
                }
                
            }

            .static-item__detail {
                padding: 0 20px;
            	bottom: 24px;
            	hr {
                    opacity: 0.5;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
                    width: 100%;
                    border-bottom: 2px solid rgba(255,255,255,0.8);
                    margin:0;
            	}
            }

            .static-item__name {
                padding: 0;
                margin-bottom: 14px;

                font-size: 32px;
            	font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            	font-weight: 500;
                line-height: 0.9em;
            }

        	.container-static-item__city {
        		font-size: 14px;
        		color: #fff;
        		margin-bottom: 14px;
            }
            
            .static-item__region-border {}
            
            .anchor-tag-destination-img:before {
            	// box-shadow: inset -1px -68px 17px -17px rgba(0, 0, 0, 0);
            }

        	.anchor-tag-destination-img {
        		border-radius: 6px;
                overflow: hidden;

                .hover-overlay-container{
                   .hover-overlay-description{
                       visibility: hidden;
                   }
                }
                
                &:hover {
                    .hover-overlay-container {
                        img {
                                opacity: 0.6;
                                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
                                filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
                                background-color: #000; 
                                
                        }

                        .hover-overlay-description {
                            opacity: 1;
                            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
                            visibility: visible;
                        }

                    }

                    .first-phase-description-container{
                        opacity: 0;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
                        visibility: hidden;
                    }
                }
        	}
        }
    }

    .main-inner {
        .block-search {
            .country-button {
                // display: inline;
                margin-top: 20px;
                .country-button-border {
                    border: 1px solid #ccc;
                    width: 32%;
                    margin-top: 18px;
                    opacity: 0.5;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
                }
                .border-left {
                    // float: left;
                    display: inline-block;
                }
                .country-button-middle {
                    display: inline;
                    margin-left: 13px;
                    margin-right: 13px;
                }
                .border-right {
                    // float: right;
                    display: inline-block;
                }
            }
            .see-more-btn {
                background-color: #4d92df;
                width: 28%;
                margin-top: 0;
                display: inline-block;
                // margin-left: 18px;
                line-height: 8px;

            }
            
        }
    }
    .destination-inspireme-categories {
    	.unordered-list-destination-categories {
    		margin-bottom: 15px;
    		margin-left: 6px;
    		li {
    			display: inline-block;
    			padding-right: 9px;
    			.btn-1 {}
    			.btn-1:hover {
    				background-color: #00266b;
    				color: #fff;
    			}
    			.custom--inspire {
    				display: inline-block;
    				padding-left: 4px;
    				padding-right: 14px;
    				margin-right: 0px;
    				line-height: 16px;
    				font-size: 14px;
    				cursor: pointer;
    				border: 1px solid #00266b;
    				padding: 8px 15px;
    				border-radius: 25px;
    				color: black;
                    transition: background-color 0.5s, color 0.5s;
                    
                    
    			}
                .custom--inspire{
                    input{
                        right: 10px;
                        top: 8px;
                    }
                    label{
                        padding-left: 0;
                        padding-right: 5px;
                        &:before {
                            content: '';
                            /* width: 12px; */
                            height: 12px;
                            border: 1px solid black;
                            position: absolute;
                            top: 0;
                            left: auto;
                            right: 0;
                            /* margin-left: 10px; */
                            background-color: #000000;
                        }
                    }
                    &.cbox-checked{
                        background-color: #00266b;
                        padding: 8px 12px;
                        label{
                            padding-right: 10px;
                            color: white !important;
                            &:before{
                                content: '';
                                width: 44px;
                                height: 19px;
                                border: 1px solid transparent;
                                position: absolute;
                                top: -3px;
                                left: -6px;
                                background-color: transparent;
                                display: none;
                            }
                            &:after{
                                // color: white;
                                // position: relative;
                                // top: auto;
                                // left: auto; // float: right;
                                // margin-left: 6px;
                                // display: inline-block;
                                // font-size: 12px;
                                // font-weight: 500;
                            }
                        }
                      
                    }
                }
    		}
    	}
    	.unordered-list-destination-categories li:first-child {
    		font-weight: 700;
    		color: #000;
    		font-size: 14px;
    		padding-right: 20px;
    	}
    }

    .destination-regions-category {
    	margin-left: -9px;
    	.sort-filter {
    		margin-bottom: -30px;
    		.region-radio-filter {
    			margin: 0 0 0 20px;
    			overflow: hidden;
    			input {
    				// margin: 0 0 0 20px;
    			}
    			input[type=radio] {
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
                    opacity: 0;
                    
                    
    				// position: absolute;
    				// visibility: hidden;
    				// display: none;
    			}
    			label {
    				display: inline-block;
    				cursor: pointer;
    				padding: 5px 4px 2px;
    				color: #383535;
    				font-weight: 500;
    				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    				font-size: 14px;
                }
            
    			ul {
    				li {
                        display: inline-block;
                        padding: 0 2px;
                        margin-right: 10px;
                        
                        &.rd-active{
                            input:focus{
                                outline-style: unset;
                                outline-color: transparent !important;
                                outline-width: unset;
                                -webkit-tap-highlight-color: unset;
                            }
                            label{
                                border-bottom: 4px solid #f79e32;
                            }
                        }
    				}
    			}
    		}
    	}
    }

}