.promotion-student-page {
    .promotion-student {
        padding-top: 30px;
    }
    .promotion-mobile {
        display: none;
    }
    .sticky-wedgit-title {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-size: 18px;
        font-weight: 600;
    }
    .static-details {
        width: 100%;
        .table-title-st {
            font-size: 33px;
        }
        .student-promo-text {
            line-height: 1.7;
            margin: 15px 0 28px 0;
            font-size: 14px;
        }
    }
    .promotion-item__inner {
        margin-left: 0;
        margin-bottom: 40px;
        border-bottom: 2px solid #ddd;
        .promotion-item__content {
            padding: 20px 25px 14px;
            h4 {
                color: #00266b;
                font-size: 22px;
            }
        }
        .div-table-col-header {
            background-color: #E5E9F0;
            padding: 15px 15px;
            font-size: 16px;
            font-weight: 700;
            color: #00266b;
            margin: 15px 0;
        }
            .student-promotion-desktop {
                td {
                    line-height: 1.5;
                    font-size: 14px;
                    width: 48%;
                    vertical-align: top;
                }
                .separator {
                    width: 4%;
                    border-top: 0;
                }
                td[data-th]:before {
                    content: attr(data-th) " ";
                    color: #00266b;
                    display: block;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
    }
  
    .table-promotion-baggage-allowance {
        margin-top: 30px;
        h4 {
            color: #00266b;
            margin-bottom: 15px;
            font-size: 22px;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        }
        .fare-table-baggage-allowance {
            .table-1 {
                width: 100%;
                background-color: #fff;
                border: none;
                font-size: 14px;
                font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            }
            thead {
                display: table-header-group;
                vertical-align: middle;
                border-color: inherit;
            }
            tr {
                background-color: #fff;
            }
            .th-width-1{
                width: 25%;
            }
            .th-width-2{
                width: 27%;
            }
            .th-width-3{
                width: 23%;
            }
            .th-width-4{
                width: 25%;
            }
            .table-1 th {
                color: #fff;
                text-align: left;
                font-weight: 500;
                padding: 18px 20px;
                background: #00266b;
                font-size: 14px;
            }
            .bottom-border {
                border-bottom: 1px solid #ddd;
            }
            td {
                vertical-align: top;
                line-height: 1.4;
            }
            .economy-class {
                font-weight: 600;
            }
        }
    }
    .block-2 {
        margin-bottom: 30px;
        .accordion__control {
            padding: 10px 27px 10px 0;
            .ico-point-d {
                margin-top: -8px;
            }
            .sub-heading-3--dark{
                color:#00266b;
                font-size: 19px;
            }
        }
    }
}


