.meals-booking{
  .alc-list{
    margin-left: 68px;
      margin-top: -19px;
      width: 68%;
  }
}
.meals-booking-1 {
    width: 68%;
}

.booking-col.col-3.select-meal{
  margin-top: -32px
}

.booking-col.col-4.select-meal-btn{
  top: 0;
}

/**END OF STATIC UPDATES ***/
.meals-payment{
  &.payments-topup{
    .booking-details .col-2 {
        top: 60%;
    }
  }
  .sub-total{
    .price-2{
        font-weight: 600;
    }
  }
  .flights-cost__details > li.sub-total > span:first-child{
      font-weight: 600;
  }
  .booking-details .col-2 {
      position: absolute;
      top: 38%;
      left: 65px;
      width: 80px;
      font-size: 16px;
      margin-top: -10px;
  }

  .booking-details .col-1 {
      margin-top: 0;
      top: 12%;

      em{
          font-size: 24px;
      }
  }
  .btn-back{
      .ico-point-r{
          font-size: 6px;
          margin-top: -4px;
          margin-right: 2px;
      }
  }
  .list-desc-extra.list-desc-extra--1 .image-1 {
      position: absolute;
      width: 75px;
      height: 60px;
      display: block;
      top: 5px;
      background: url('/images/tr-bigger.png') no-repeat center ;
      
      img[src='images/svg/tr.svg']{
        display: none;
        
      }
  }
  .sia-breadcrumb.sia-breadcrumb-2{
      background-color: #fff;
      .last .breadcrumb-item__info:after{
          background-color: #fff;
      }
  }

  .accordion-component{
      margin-top: 40px;
      margin-bottom: 40px;

      .accordion-item {
          padding: 10px 0 15px;
          border-bottom: none;

          &.active{
              .ico-point-d{
                  top: 20px;
              }
          }

          .ico-point-d {
              top: 15px;
              right: 2px;
              color: #0254ec;
              font-size: 16px;
              bottom: 0;
          }

          .group-title .sub-total {
              position: absolute;
              right: 50px;
              top: 12px;
          }
      }

      .pax-meals-details{
          padding: 20px;
          background-color: #f6f6f6;
          margin-top: 0;
          margin-bottom: 20px;
  
          p{
              margin: 0;
          }
  
          .pax-name {
              color: #00266b;
              font-size: 16px;
              font-weight: 600;
          }
  
          .flight-details-block {
              padding: 20px;
              background-color: white;
              margin-top: 10px;
  
              .flight-details{
                  font-weight: 600;
                  font-size: 16px;
                  color: #00266b;
              }
  
              .meals-details-block{
                  .booking-details.booking-details--2{
                      margin-top: 0;
  
                      p{ color: black; }
  
                      .col-3 .has-cols{
                          padding-left: 20%;
                      }
  
                      .target-info{
                          color: #666666;
                      }

                      .col-3 {
                          margin: 0 130px 0 145px;
                          padding: 10px 0 0;
                      }
                  }
              }
          }
      }

      .mp-payments-total{
          padding: 20px;
          background-color: #f7f7f7;
          margin-top: 20px;

          .flights-cost{
              padding: 0 20px;
          }
          .flights-cost-title{
              font-size: 16px;
              margin-bottom: 0;
              margin-top: 0;
          }
          .flights-cost__details{
              margin-top: 5px;
              li{
                  font-size: 16px;
                  color: #000;
                  margin-bottom: 0;
                  line-height: 2;

                  &:first-child span{
                      text-transform: uppercase;
                  }

                  &.sub-total{
                      margin-top: 15px;

                      span{
                          font-size: 16px;
                      }

                      .price{
                          font-size: 28px;
                          color: #00266b;
                          font-family: "baker-signet-web", serif;
                      }
                  }

                  .tax-label{
                      margin-top: 5px;
                      font-size: 12px;
                  }
              }
          }
      }
  }

  .mp-payments-section{
      margin-top: 20px;

      
      .total-payment-block .title-5--blue {
          margin-top: 0;
      }
      .payment-method-content .list-desc-extra .desc {
          color: black;
      }
  }
}
.meals-selection-bah{
  a.accordion__control.bah-accordion-block.active + div{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .remove-prompt{
    background-color: #e5e9f0;
    background-color: #e5e9f0;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    position: relative;

    a.accordion__control{
        padding: 0;
    }

    p{
        width:70%;
        margin: 0;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        color: #00266b;
        font-size: 14px;
    }

    .button-group-1{
        width: 45%;
        position: absolute;
        right: 25px;
        top: 28%;

        a.btn-2.btn-cancel{
            width:22%;
        }

        input.btn-1.btn-proceed {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
  .bsp-booking-summary__content .bsp-booking-summary__content-wrap .flight-station-info .station-stop {
    top: 32px;
  }
  .bsp-booking-summary__content.all-transition .station-stop-detail .ico-airplane-2 {
    top: -17px;
    line-height: 1em;
  }
  .bsp-booking-summary__content{
		overflow-y: hidden;
	}
  .bsp-booking-summary__content .bsp-booking-summary__content-control.expanded-bsp .flight-station-info {
    padding-top: 5px;
  }
  .load-more {
    height: 50px;
    background: #ffffff;
    border: 1px solid #ccc;
    padding: 0;
    margin-bottom: 0;
    text-align: center;

    .load-more-btn {
        font-weight: 700;
        background: none;
        border: none;
        color: #0254EC;
        width: 100%;
        height: 100%;
    }
  }
  .fm-footnote-txt {
    padding-left: 5px;
  }
  &.meals-selection .confirmation-prompt {
      padding: 10px 20px;
  }
  .bsp-flights-cost__details .sub-total{
		.grand-total__title{
			font-size: 14px;
		}
		:first-child{
			width: 55%;
		}
    }
    
	span.bsp-addons__flightinfo {
		font-weight: 700;
		margin: 3px 0;
	}
  .premium-meal-modal{
    .sub-heading-1--blue{
        font-weight: 500;
    }
    .popup__inner{
        max-width: 520px;
    }

    .button-group-1{
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .btn-2{
        background-color: #566a8f;
        padding: 15px 30px 13px;
        font-size: 13px;
        font-weight: 500;
    }

    .btn-1{
        padding: 15px 30px 13px;
        font-size: 13px;
        font-weight: 500;
    }
  }
  &.meals-selection-economy{
    .meal-sub-menu-wrap{
      hr{
        margin-bottom: 70px;
      }
      .fm-backtomeals-btn{
        height: auto;
        margin-top: auto;
        position: absolute;
        top: 30px;
  
        .btn-back{
          top: auto;
          position: relative;
        }
      }
    }
    
  }

  .meal-of-bah{
    .fm-footnote-txt .fm-dish-text{
        width: auto;
        margin-right: 10px;
        margin-top: 8px;
    }
    .fm-footnote-logo.ico-5-Spicy{
        font-size: 22px;
    }
    .confirmation-prompt{
      background-color: #e5e9f0;
        .button-group-1 > *{
            width: 25%;
            font-size: 13px;
        }

        .meal-sub-title-blue{
            width: 65%;
            max-width: auto;
            font-size: 14px;
        }
    }
}
  .meal-price{
      color: #00266b;
      font-size: 16px;
      font-weight: 700;        
      position: absolute;
      right: 20px;
      top: 30px;
  }
  .bah-label-block{
      margin-top: -15px;
      margin-left: -5px;
      .bah-logo{
          width: 28px;
      }
      .bah-text{
          font-size: 12px;
          font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
          color: #666666;
      }
  }
  .bah-meals-list{
      .promotion-item--1{
          width: 100%;
      }
      .promotion-item.promotion-item--1.no-image{
          .meal-label{
              height: auto;
              .meal-category-desc{
                  margin-top: 0px;
                  width: 76%;
              }
              .ico-point-r{
                  font-size: 19px;
                  top: 37px;
              }
              .meal-category-title{
                  font-size: 24px;
              }
          }
          .pre-order-badge{
              color: #00266b;
              background-color: #ff9f00;
              position: absolute;
              padding: 3px 8px;
              font-size: 12px;
              text-transform: uppercase;
              font-weight: 700;
              top: 1px;
              left: 1px;
          }

          .price-range-block{
              position: absolute;
              right: 52px;
              top: 32px;

              .meal-price-label{
                  display: block;
                  font-size: 12px;
                  font-weight: 700;
                  margin-bottom: -2px;
              }
              .meal-price{
                  font-weight: 700;
                  position: relative;
                  right: auto;
                  top: auto;
              }
          }
      }
  }
  .bah-accordion-block{
      .fm-accordion-label .fm-ico-text.select-change-container{
          top: 35px;
      }
      .fm-accordion-label .ico-point-d{
          top: 36px;
      }

      &.active{
          .fm-ico-text.select-change-container{
              display: none;
          }

          .fm-accordion-label .ico-point-d{
              top: 38px;
          }
      }
  }
}
.meals-selection-bah-long{
  .fm-inf-menu-desc{
      margin-bottom: 0;
      p{
          margin: 3px 0;
      }
  }

  &.meals-selection{
      .fm-inf-menu{
          padding: 25px 20px 10px;

          &.no-dish-icon{
              .fm-footnote-txt{
                  margin-top: 0;
                  min-height: 26px;
                  input {
                      margin-top: -5px;
                  }
              }
          }
      }
      .fm-footnote-txt{
          margin-top: 0;
          min-height: 38px;

          .fm-footnote-logo{
              font-size: 24px;
              margin-top: 5px;
              margin-bottom: 4px;
          }

          .fm-dish-text{
              margin-top: 5px;
          }
      }
  }
}
.meal-confirmation{
  &.confirmation-topup{
    .booking-details .col-2 {
        position: absolute;
        top: 50%;
        left: 65px;
        width: 80px;
        font-size: 16px;
        margin-top: -10px;
    }
    .booking-details .col-1 {
        margin-top: -18px;
        top: 50%;
    }
}
  .link-4 .ico-point-r {
    width: 8px;
  }

  .booking-details .col-2 {
    position: absolute;
    top: 38%;
    left: 65px;
    width: 80px;
    font-size: 16px;
    margin-top: -10px;
  }

  .booking-details .col-1 {
      margin-top: 0;
      top: 12%;

      em{
          font-size: 24px;
      }
  }
    .popup--flights-details.cost-breakdown-static{
        .text-bold-1 {
            color: #00266b;
            font-weight: 600;
            text-transform: capitalize;
            font-size: 16px;
        }

        .table-cost{
            margin-top: 20px;
            thead th {
                padding: 2px 0 10px;
            }

            .detail{
                font-weight: 700;
            }

            span{
                    line-height: 1.5;
            }

            tbody tr:last-child td {
                padding-bottom: 15px;
            }

            tfoot td{
                border-top: 1px solid #dadada;
                border-bottom: 1px solid #dadada;
            }
        }

        .grand-total{
            .total-info{
                margin-bottom: 0px;
            }
            .total-title{
                margin-top: 20px
            }
        }

        .flights-target{
            margin-bottom: 0;
        }
    }
    .sub-heading-1--dark {
        margin-top: 50px;
    }
    .sub-heading-2--dark {
        margin-top: 25px;

        &.pax-label{
            margin-top: 35px;
            margin-bottom: 13px;
        }
    }

    .text-info-3 {
        margin-top: 30px;
    }

    .paid-with-block{
        padding: 17px 20px 18px;
        background-color: white;
        border-bottom: 2px solid #ccc;
        margin-bottom: 20px;
        margin-top: 20px;

        .price{
            font-family: "baker-signet-web", serif;
            font-size: 28px;
            color: #00266b;
            margin-top: 5px;
        }

        .label{
            color:#000000;
        }

        p{
            margin: 0;
        }
    }
    .pax-meals-details{
        background-color: white;
        padding: 20px;
        margin-top: 10px;
        border-bottom: 2px solid #ccc;
        margin-bottom: 20px;

        p{
            margin: 0;
        }

        .pax-name {
            color: #00266b;
            font-size: 16px;
            font-weight: 600;
        }

        .flight-details-block {
            background-color: #f7f7f7;
            padding: 20px;
            margin-top: 10px;

            .flight-details{
                font-weight: 600;
                font-size: 16px;
                color: #00266b;
            }

            .meals-details-block{
                .booking-details.booking-details--2{
                    margin-top: 10px;

                    p{ color: black; }

                    .col-3 .has-cols{
                        padding-left: 20%;
                    }

                    .target-info{
                        color: #666666;
                    }
                }
            }
        }
    }

    .button-group-1{
        margin-top: 40px;
    }
}
.meals-selection {

  .inflight-menu-wrap{
    .fm-backtomeals-btn{
      margin-top: auto;
      &.floater{
        position: absolute;
        top: 20px;
      }
    }

    hr{
      margin-bottom: 70px;
    }
  }

  .title-4--blue{
      font-weight: 700;
  }

  .promotion-result, .item-container {
    padding: 0 1px;
  }

  .promotion-conditions-text dt {
    font-size: 12px;
    font-weight: 700;
  }

  .promotion-conditions-text dd{
    span{
      font-size: 14px;
    }
  }

  .meal-label{
    background-color: #f5f5f5;
    padding: 20px;

    span{
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
      font-size: 21px;
      color: #00266b;
      font-weight: 600;
    }

    em{
      position: absolute;
      right: 10px;
      font-size: 18px;
    }
  }

  .meal-sub-menu-wrap.book-the-cook{
    min-height: 530px;
  }

  .infant-meal-wrap{
    .fm-backtomeals-btn{
      display: none;
    }
    .infant-meals{
      .fm-title-blue{
        margin-top: 20px;
        margin-bottom: 10px;
      }

      .confirmation-prompt{
        background-color: #E2EBF1;
        .meal-sub-title-blue{
          width: 70%;
        }
        .button-group-1 > *{
          width: 20%;
        }
      }
    }
  }

  .a-la-carte {
    .accordion-box {
      background-color: #f7f7f7;
      border: none;
    }

    .accordion-component {
      .fm-inf-menu {
        background: white;
        cursor: pointer;
      }
    }

    .accordion__control .fm-accordion-label {
      margin-bottom: 15px;
    }

    .accordion__control .ico-point-d {
      color: #0254EC;
    }
  }

  .book-the-cook, .special-meal {
    .search-result-msg {
      font-size: 15px;
      font-weight: 600;
      color: #000000;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .search-heading {
      font-size: 18px;
      color: #00266b;
      margin: 30px 0 10px;
    }
    .static-content{
      margin-bottom: 20px;
    }

    .tab-select {
      left: auto;
      width: 150px;
      right: 0;
    }

    .more-item{
      display: none;
    }

    .no-result{
      // height: 30px;
    }

    .fm-footnote-txt {
        margin-top: 25px;
        position: relative;
        margin-bottom: -8px;
        min-height: 45px;

      .fm-dish-text {
        display: inline-block;
        vertical-align: middle;
        padding: 2px 0;
        width: 42%;
        font-size: 12px;
        margin-left: -6px;
      }

      .fm-select-btn {
        background: none;
        border: none;
        color: #0254EC;
        font-weight: bold;
        margin-top: 15px;
      }
    }

    .search-results .fm-dish-text {
      width: 30%;
    }

    .search-results .title-4--blue {
      margin-top: 22px;
      margin-bottom: 8px;
      font-size: 16px;
    }

    .fm-backtomeals-btn {
      margin-top: 30px;

      .btn-back {
        font-weight: 700;
        margin-bottom: 30px;
      }
    }

    .load-more {
      height: 50px;
      background: #ffffff;
      border: 1px solid #ccc;
      padding: 0;
      margin-bottom: 0;
      text-align: center;

      input {
        font-weight: 700;
        background: none;
        border: none;
        color: #0254EC;
        width: 100%;
        height: 100%;
      }
    }

    .fm-inf-menu {
      background-color: #ffffff;
      padding: 28px 20px 10px;
      position: relative;
      cursor: pointer;

      &.with-image {
        padding: 0;

        img {
              width: 226px;
        }

        .meal-selection-info {
          float: left;
              width: 62%;
             margin-top: 25px;
              margin-top: 25px;
              margin-left: 20px;
              margin-right: 10px;
        }

        .fm-footnote-txt {
          position: absolute;
          bottom: 5px;
          margin-top: 0;
          margin-bottom: 0;

          .fm-dish-text {
            width: 65%;
          }
        }

        .fm-select-btn {
          position: absolute;
          right: 35%;
          bottom: 18px;
        }
      }

      .special-badge {
        position: absolute;
        top: 0;
        left: 0;
        background: #FF9F00;
        padding: 4px 7px;
        font-size: 12px;
        font-weight: bold;
        color: #00266b;
      }
    }

    .fm-inf-menu-desc {
      width: 100%;
    }

    .fm-inf-menu-title {
      margin-bottom: -5px;
    }

    .fm-select-btn {
      background: none;
      border: none;
      color: #0254EC;
      font-weight: bold;
      margin-top: 20px;
    }

    .booking-nav__item {
      display: block;
      background-color: #ffffff;
      position: relative;
      width: 90%;
      height: auto;
      border-top: transparent;
      border-bottom: transparent;
      a{
        display: block;
        width: 100%;
        height: 100%;
        padding: 20px;
      }
      &.active {
        background-color: #F6F6F6;
        padding-right: 10px;
        border-bottom-color: transparent !important;
        border-left: #ff9f00 3px solid;
        .passenger-info__text {
          font-weight: 700;
          color: #00266b;
        }
      }
    }

    .booking-nav__shadow {
      display: none;
    }
  } //end of btc,spm


  .confirmation-prompt {
    background-color: #FFF5E5;
    margin: 15px -20px -10px;
    position: relative;
    padding: 10px 12px;

    .ico-alert {
      font-size: 30px;
      color: #ffa000;
      float: left;
      margin-top: 10px;
    }

    .meal-sub-title-black {
      font-size: 14px;
      width: 84%;
      margin-left: 55px;

      span {
        font-weight: 700;
      }
    }

    .button-group-1 {
      width: 40%;
      position: absolute;
      right: 25px;
      top: 25%;
    }

    .button-group-1 > * {
      width: 30%;
    }

    .meal-sub-title-blue{
      font-size: 14px;
      span{
          font-weight: 700;
      }
    }

    &.confirmation-prompt--blue {
      background-color: #E5E9F0;
      border-top: #3A6CC7;
    }
  }

  .meal-not-ready .flight-item {
    cursor: default;
  }

  .tab-wrapper{
    margin-top: 35px;
  }

  .not-eating-msg {
    margin-left: 22px;
  }

  .seatmap {
    background: #F6F6F6;
    margin-left: 190px;
    min-height: 491px;
    padding: 20px;
    text-align: left;
  }

  .tab-content .blk-heading {
    padding-top: 20px;
  }
  
  .sidebar {
    width: 180px;
    bottom: unset !important;
  }

  .passenger-info__text {
    text-transform: none;
    color: #000000;
    font-weight: normal;
    font-size: 16px;
  }

  .meal-not-ready .flight-item {
    cursor: default;
  }

  .pax-list {
    ul {
      .active a {
        cursor: default;
      }
    }
  }

  .static-content {
    .static-details {
      .btc-search {
        position: relative;

        em.ico-search {
          padding: 10px;
          position: absolute;
          top: 0;
          z-index: 1;
          font-size: 15px;
          color: #00266b;
        }

        button {
          top: 0;
          position: absolute;
          right: 0;
        }

        span {
          width: 76%;

          input {
            padding-left: 25px;
          }
        }
      }

      a.clear-search {
        position: absolute;
        top: 10px;
        right: 135px;
        font-size: 13px;

        em {
          font-size: 7px;
          margin-top: -4px;
          margin-right: 2px;
        }
      }
    }
  }

  .order-on-board-text {
      position: relative; 
      float: right; 
      font-size: 12px; 
      top: 2em; 
      left: 6em; 
  }

  .meal-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 88%;
    // text-align: inherit;

    li {
      min-width: 82px;
      padding-right: 10px;
      text-align: left;
      float: left;

      span {
        display: block;
      }
    }

    li.meal-service-name{ //2nd-child
      min-width: 155px;
    }

    li.meal-sub-title-black{ //3rd-child
      width: 65%;
    }
  }
  .meal-sub-title-blue{
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    color: #00266b;
    font-size: 16px;
    width: 58%;
  }

  .meal-sub-title-black{
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    color: #000000;
    font-size: 16px;
  }

  .meal-service-name{
    color: #000;
    font-size: 16px;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-weight: bold;
  }

  .flight-ind{
    color: #666;
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 16px;
  }

  .m-accordion-wrapper{
    margin-top: 10px;
  }

  .fm-title-4--blue{
    font-weight: 700;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 20px;
    color: #00266b;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .margin-tp{
    margin-top: 50px;
  }

  .fm-wrap{
      width: 300px;
  }

  .slide-item.active-pass p{
      font-size: 18px;
      padding-left: 20px;
      color: white;
  }

  .slide-item p{
      font-size: 18px;
      padding-left: 20px;
      color:black;
      font-weight: 700;
      padding-top: 3px;
  }

  .active-pass{
    background-color: #00266b;
  }

  .meal-info{
    margin-bottom: 50px;
  }

  .flightmeal-control{
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .not-eating-supper{
    margin-top: 25px;
    border: 1px solid #ccc;
    padding:20px;
    color:black;
  }

  .flight-item__info-1 .info-promotions, .flight-item__info-2 .info-promotions {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  }

  .flight-item__info-2 {
    right: 10px;
    bottom: 17px;
  }

  .accordion-box{
    border-bottom: 0;
    border: 1px solid #ccc;
  }

  .fm-backtomeals-btn{
    margin-top: 40px;
    font-weight: 700;
  }

  .fm-title-blue{
         font-size: 18px;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        color: #00266b;
        font-weight: 700;
        margin-bottom: 15px;
        margin-top: 20px;
    }
  .fm-title2-black{
    font-size: 18px;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    color: #000;
    font-weight: 700;
    margin: 5px 0 10px 0; /**top, right, bottom,left**/
  }

  .fm-inf-menu{
      border: 1px solid #ccc;
      padding: 28px 20px 10px 20px;
      margin-bottom: 10px;
      position:relative;
      cursor: pointer;

      &.view-only-meal{
        cursor: default;
      }

      .special-badge {
          position: absolute;
          top: 0;
          left: 0;
          background: #FF9F00;
          padding: 4px 7px;
          font-size: 12px;
          font-weight: bold;
          color: #00266b;
      }

       &.selected {
        border-color: #03760b;

        .fm-inf-menu-select-badge {
          display: block;
        }
      }

      &.int-prompt{
        border: 1px solid #053885;
    }
  }

  .fm-inf-menu-select-badge {
    background: #b0f5b0;
    border: none;
    color: #007300;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    padding: 3px 5px 2px 7px;
    display: none;
  }

  .fm-inf-menu-title{
    font-size: 18px;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    color: #00266b;
  }

  .fm-inf-menu-desc {
    color: #000;
    font-size: 13px;
    width: 96%;
    line-height: 19px;
  }

  .fm-footnote-txt {
    margin-top: 25px;
    position: relative;
    margin-bottom: -8px;
    min-height: 45px;
    .fm-footnote-logo {
      display: inline-block;
      vertical-align: middle;
      padding: 3px 0;
      line-height: 0;
      margin-left: -10px;
      color: #00266b;
      font-size: 27px;
      margin-top: 0;
    }
    .fm-dish-text {
      display: inline-block;
      vertical-align: middle;
      padding: 2px 0;
      width: 30%;
      font-size: 12px;
      margin-left: -6px;
    }

    input {
      margin-top: 10px;
    }

    .btn-wrap-view-only {
      span.btn-small {
        background-color: #d8d9e4;
        font-size: 12px;
        bottom: 16px;
        right: 0;
        position: absolute;
        color: #00266b;
        padding: 4px 8px;
      }

      span.onboard {
        right: 0;
        position: absolute;
        bottom: 2px;
        font-size: 12px;
      }
    }
  }

  .flightmeal-control .title-4--blue {
    margin-top: 30px;
  }

  .fm-footnote-logo {
    color: #00226B;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -14px;
  }

  .fm-select-btn {
    background: none;
    border: none;
    color: blue;
    font-weight: bold;
    margin-top: 0;
    display: table-cell;
    vertical-align: middle;
  }

  .fm-ysh-choice{
      font-weight: 700;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
      font-size: 12px;
      color: #00226B;
      background-color: #FF9F00;
      padding: 5px;
      position: absolute;
      top: 0;
      left:0;
      margin-bottom: 10px;
  }

  .fm-table-wrapper{
      position: relative;
      height: 165px;
  }

  .fm-table-left{
      float: left;
      width: 50%;
  }

  .fm-table-right{
      position: absolute;
      right: 75px;
  }

  .fm-table-inner td{
      padding: 8px 0;
  }

  .fm-table-inner td:first-child{
      padding-right: 25px;
      font-weight: 700;
      font-size: 12px;
      color:#666666;
  }

  .fm-table-inner td:first-child span{
      position: absolute;
      margin-top: -16px;
  }

  .fm-table-inner td:nth-child(2){
      font-weight: 700;
      color: #00226B;
      font-size: 14px;
  }

  .fm-table-inner td:nth-child(2) span{
      display:block;
  }

  .fm-ico-text{
    font-size: 14px;
    color: blue;
    font-weight: bold;
    position: absolute;
    margin-top: -18px;
    right: 22px;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  }

  .not-eating-msg{
    margin-left: 22px;
  }

  .meal-not-available-font{
    color: #7f8082;
  }

  .not-available{
    background: black;
    width: 100%;
    height: 100%;
  }
  .promotion-item {

    &.promotion-item--1.no-image{
      .meal-label{
        height: 80px;

        &.epe-meal-container {
          min-height: 52px;
          height: auto;
          line-height: 1em;
          padding-top: 30px;

          .meal-category-desc {
              margin-top:10px;
          }

          span {
              font-size: 24px;
          }
        }
      }
    }

    .overlay-meal {
        display: none;
    }

    &.meal-not-ready {

      &.no-image{
        .overlay-meal{
          display: none;
        }

        .overlay-not-available{
          display: none;
        }

        .meal-label{
          height: 95px;
          .meal-category-desc{
            display: none;
          }

          .not-available-text{
            display: block;
            background: #E5E9F0;
            padding: 10px;
            position: 0;
            color: #00266b;
            width: 91%;
            border: 1px solid #c9ced8;
            margin-bottom: 0;
            margin-top: 9px;
          }
        }
      }
      .meal-label, span{
        color: #666666;
      }
      .overlay-meal {
        display: block;
        .not-available-text{
          background: #E5E9F0;
          padding: 12px;
          z-index: 100;
          position: absolute;
          left: 16px;
          top: 53px;
          color: #00266b;
          width: 80%;
        }

        .overlay-not-available {
            position: absolute;
            background: black;
            width: 100%;
            z-index: 25;
            height: 75%;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        }
      }
    }

    .meal-label {
      .meal-category-desc{
        color: #000000;
        margin-bottom: 0;
      }

      .view-only-btn{
        display: none;
      }

      .not-available-text{
        display: none;
      }
    }

    &.view-only {
      .meal-label {
        .view-only-btn{
          display: block;
          position: absolute;
          top: 63%;
          left: 2%;
          padding: 5px 12px;
          border-radius: 4px;
          color: #00266b;
          font-size: 13px;
          font-weight: 600;
          /* text-transform: capitalize; */
          background-color: #c2c2c2;
        }
      }

      &.no-image{
        .view-only-btn{
          display: block;
          position: absolute;
          top: 74%;
          left: 4%;
        }
      }
    }
  }

  .passenger-selection-menu {
      margin-bottom: 0;
  }

  .block-inner .flightmeal-control {
    &.disable-accordion {
      .accordion__control .fm-accordion-label {
        em {
          display: none;
        }

        span {
          color: gray;
        }
      }
    }
  }

  .fm-inf-menu-selected {
    background: #b0f5b0; 
    border: none;color: #007300; 
    width: 4em; 
    height: 1.5em; 
    position: relative; 
    float: right; 
    top: -2em; 
    right: -1.4em;
  }

  .border-green{
    border-color: green;
  }

  .fm-cbox{
      color:black;
  }

  .custom-checkbox {
       input:checked + label {
              color: #00266b;
              font-weight: 700;
       }

       &.checked + label{
              color: #00266b;
              font-weight: 700;
       }


        .checkbox_color {
              color: #00266b;
              font-weight: 700;
        }  
  }

  .pax-list .pax-slider{
     position:relative;
     overflow:hidden;

      button {
        outline-color: transparent;
      }

     &.pax-start{
          button {
              &.slider-btn-left{
                  display: none !important;
              }
          }

          ul{
              padding-left: 0px;
          }
     }

     &.pax-end{
          button {
              &.slider-btn-right{
                  display: none;
              }
          }

          ul{
              
          }

     }

     &.three-pax{
          button{
              display: none;
          }
          ul{
              padding-left: 0px;

              li{
                 width:33.13%;
              }
          }

     }

     &.double-pax{
          button{
              display: none;
          }

          ul{
              padding-left: 0px;
              li{
                  width: 49.8%;
              }

              li:first-child {
                  border-right-width: 0;
              }
          }
     }

     &.single-pax{
          display: none;

          ul{
              padding-left: 0px;
          }
     }

     button{
          height: 68px;
          position: absolute;
          z-index: 1;
          width: 20px;
          background: #99a8c4;
          border: none;

          em{
              color: white;
              font-size: 13px;
              font-weight: bold;
              margin-top: -5px;
          }

          &.slider-btn-right {
              right: 0;
              position: absolute;
              top: 0;
          }
     }

     ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      height:70px;
      padding-left: 28px;
      overflow: hidden;
      position: relative;

          li {
          float: left;
          width: 319px;
          background: #e5e9f0;
          height: 68px;
          position: relative;
          border-right: 1px solid #ccc;
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          border-left: 1px solid #ccc;

              a {
                  color: #000;
                  width: 100%;
                  height:100%;
                  position: absolute;

                  span {
                      top: 22px;
                      position: absolute;
                      left: 20px;
                      font-size: 18px;
                      font-weight: 700;
                      width:90%;
                  }
              }

              &.active{
                  background-color: #00266b;
                  border-top: 1px solid #00266b;
                  border-bottom: 1px solid #00266b;

                  a{
                      color:white;
                  }
              }
          }
     }
  }


  .accordion__control {

    .fm-accordion-label {
      margin-bottom: 7px;
    }

    span.fm-ico-text {
      font-size: 14px;
      color: #0254EC;
      font-weight: bold;
      position: absolute;
      top: 25px;
      right: 25px;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
      margin-top: auto;

      &.selected {
        color: #007300;
        width: 80%;
        top: 23px;
      }
    }

    em {
      color: #0254EC;
      top: 25px;
      margin-top: 0;
    }

    &.active {
      .fm-ico-text{
        display: none;
      }
      em {
        top: 26px;
      }
    }
    .title-selected {
            display: inline-block;
            font-weight: normal;
        }
  }


    .alert-block {
    &.checkin-alert {
      margin-top: 15px;
      margin-bottom: 12px;
      padding: 5px 18px;

      .alert__icon{
        padding: 4px 12px 4px 0;
      }
    }

    &.info-box{
      margin-top: 0;
      margin-bottom: 12px;
      padding: 8px 0px 8px 10px;

      .alert__icon{
        padding: 0px 12px 0px 0px;
      }

      .alert__message{
        color: #00266b;
      }
    }
  }

.meals-accordion-wrapper {
    display: block;
    position: relative;

    &.pre-slide-out {
      position: absolute;
      top: 30px;
      left: 20px;
      width: calc(100% - 40px);
    }
  }

  .meals-main-menu-wrap {
    position: relative;
    z-index: 0;

    &.sub-menu-on {
      position: absolute;
    }
  }

  .meals-accordion-wrapper {
        .accordion-wrapper-content {
            .meals-main-menu-wrap {
                width: 906px;
            }

           .sub-menu-wrap {
                width: 906px;
           }
        }
  }

  .meal-sub-menu-wrap {
    position: relative;
    background-color: white;
    z-index: 1;
    display: block;

    &.pre-slide-in-left {
      display: none;
    }
  }

  .slide-out-left {
    display: block;
  }

  .pre-slide-in-right {
    display: block;
  }

  .spml-confirmation-prompt {
    display: block;
    margin: 0 0 10px;
  }
}

.meals-selection-economy {
	.promotion-item {
		width: 100%;
  }
  
  .accordion__control {
    .fm-accordion-label {
      .meal-menu {
        display: table;
        li {
          float: none;
          display: table-cell;
        }
      }
    }
  }
  
  .meal-sub-menu-wrap {
    .fm-backtomeals-btn {
      height: 50px;
      .btn-back {
        position: absolute;
        top: 25px;
        font-weight: 700;
      }
    }
  }
  
  .accordion__control.active {
    .fm-accordion-label {
      .select-change-container {
        display: none;
      }
    }
  }


   .flight-item{
     .meal-label {
        padding: 25px 20px;
        background-color: #fff;
        border: solid 1px #ccc;

         &.selected-border{
             border: 1px solid #03760b;
         }

         &.ml-inflight-container{
             .inflight-inner-container{
                 font-size: 16px;
                 .pull-right.select-label{
                     float: right;
                     background: none;
                     border: none;
                     color: #0254EC;
                     font-weight: bold;
                     font-size: 14px;
                 }
             }
         }

         .inflight-badge{
             background: #cdf0cf;
             border: none;
             color: #03760B;
             position: absolute;
             top: 1px;
             right: 1px;
             font-size: 12px;
             font-weight: 700;
             padding: 3px 5px 2px 7px;
         }

         .ico-point-r {
             display: block;
             margin-right: 10px;
             font-size: 14px;
             vertical-align: middle;
             top: 40px;
         }
     }
   }

  .inflight-menu {
    .flight-item {
      .selected-border {
        .badge-active {
          background: #cdf0cf;
          color: #03760B;
          position: absolute;
          top: 1px;
          right: 1px;
          font-size: 12px;
          padding: 3px 5px 2px 7px;
        }
      }
    }
  }

  .item-container {
    .promotion-item {
      .inflight-confirmation-prompt {
        margin: -18px 0px 29px 20px;
        padding: 8px 14px;

        .inflight-ico-alert {
          margin-top: 2px;
        }
        .meal-sub-title-black {
          .inflight-link-undo {
            font-weight: 700;

            .ico-point-r {
              font-size: 6px;
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }

	.block-2-forCss {
		border-bottom: 0px !important;
		margin: 0 0 40px 0;
	}
	.inflight-economy-hr {
		margin-bottom: 29px;
	}
	.horizontal-line {
		display: block;
		unicode-bidi: isolate;
		-webkit-margin-before: 0.5em;
		-webkit-margin-after: 0.5em;
		-webkit-margin-start: auto;
		-webkit-margin-end: auto;
		overflow: hidden;
		border-style: inset;
		border-width: 1px;
    margin-bottom: 29px;
    margin-right: 2px;
    margin-left: 20px;
  }

	.accordion-box {
		margin: 0 0 10px 0;
	}
	.meals-selection-content {
		padding-bottom: 8px;
		padding-top: 1px;
	}
	.inflight-inner-container {
		font-size: 15px !important;
	}
	.accordion__content {
		padding-bottom: 42px;
	}
	.meal-menu{
    .meal-sub-title-black{
      font-weight: 700;
      .title-selected{
        font-weight: 400;
      }
    }
    .meal-menu-remove-button{
      margin-left: 4px;
    }
	}
   .accordion__control {
      padding-top: 20px;
        padding-bottom: 20px;

        .fm-accordion-label{
            margin-bottom: 0;
        }
        
        &.active {
            .fm-ico-text {
                display: none;
            }
        }
        .title-selected {
            display: inline-block;
            font-weight: normal;
        }
   }
	.select-change-container {
		font-size: 15px;
  }
  .meal-menu-ul {
    display: table;

    .flight-ind-list {
      float: none;
      display: table-cell;
    }
    .meal-service-list {
      display: table-cell;
      float: none;
    }
    .meal-sub-list {
      display: table-cell;
      float: none;
    }
  }

}


 