.fs-economy-scoot {
	.scoot {
		margin-right: 56px;

		p {
			color: #000;
		}
	}

	.scoot-info {
		background: #fff;

		.group-title {
			position: relative;
		}

		.scoot-thumb {
			top: 0;
			left: 0;
		}

		.scoot-content {
			.content {
				padding-top: 10px;
			}
		}
	}

	.mixed-cabin-txt {
		text-transform: none;
		display: block;
		font-size: 12px;
	}

	.mix {
		color: #ba5400;
		@extend .mixed-cabin-txt;
	}

	.active .mix {
		color: #ff9f00;
		@extend .mixed-cabin-txt;
	}

	p.fare-font {
		color: #000;
		width: 98%;
	}

	.fare-summary {
		.has-note-fare {
			margin-top: 0;
		}
	}

	.title-slider {
		margin-bottom: 10px;
	}
}

.fs-economy {
	.mixed-cabin-txt {
		text-transform: none;
		display: block;
		font-size: 12px;
	}

	.mix {
		color: #ba5400;
		@extend .mixed-cabin-txt;
	}

	.active .mix {
		color: #ff9f00;
		@extend .mixed-cabin-txt;
	}
}

.selected-fare-type {
	width: 100%;
	margin-top: -20px;
	margin-bottom: 5px;
	display: block;
	text-align: center;

	span {
		font-size: 13px;
		text-transform: uppercase;
		font-weight: bold;
	}

	.label-economy {
		color: #176e54;
	}

	.label-pey {
		color: #435151;
	}

	.label-first {
		color: #87220B;
	}

	.label-bus {
		color: #053A76;
	}
}

.button-group-5 {
	margin-right: 15px;
}

.oal-wrapper {
	padding: 5px;
	background-color: #e5e9f0;
	margin-bottom: 15px;
	position: relative;

	img {
		width: 50px;
		position: absolute;
		top: 30px;
		left: 25px;
	}

	p {
		width: 89%;
		display: inline-block;
		margin-left: 84px;
		color: #00266b;
	}
}

.fs-business,
.fs-economy,
.fs-economy-scoot {
	.table-fare-summary {
		.column-left,
		.column-right {
			text-align: center;
		}
	}

	.mix {
		font-size: 12px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-weight: 600;
		margin-bottom: 0;
	}

	.wrap-content-fs + .wrap-content-fs {
		margin-top: 0;
	}

	.carret-symbol {
		float: left;
		margin-top: 2px;
		padding-right: 5px;
	}

	.note-fare {
		background: #f5f8fc;
		padding: 15px;
		margin: 30px 0;

		.has-note-fare,
		.has-note-fare-1 {
			line-height: 1.4;

			.note-fare-desc {
				margin-left: 10px;
			}
		}
	}

	.selected-fare-type .label-pey {
		width: 126px;
		display: inline-block;
		font-size: 12px;
	}

	.title-slider {
		margin-bottom: 10px;
	}

	.position-even .flight-station-info span.station-stop-detail {
		left: 50%;
	}

	.flight-list-item {
		.link-view-benefit {
			padding: 13px 13px 13px 45px;
		}
	}

	.multy-column,
	.one-fare {
		.col-select {
			.link-4 {
				.ico-bow {
					top: 3px;
					left: -4px;
				}
			}
		}
	}

	.bsp-flights__info--inner {
		.flight-station-info {
			.station-stop-detail {
				em {
					left: 3px;
				}
			}
		}
	}

	.has-note-fare {
		margin-top: 0;
	}

	.notification-panel {
		.alert__icon {
			.ico-info-round-fill {
				font-size: 25px;
			}
		}

		.alert__message,
		.ico-info-round-fill {
			color: #00266B;
		}
	}

	.link-4-1 {
		&.link-view-benefit-1 {
			background: #e9f1ff;
			display: table;
			padding-top: 5px;
			padding-right: 8px;
			padding-bottom: 5px;

			.ico-bow {
				font-size: 30px;
				vertical-align: middle;
				display: table-cell;
			}

			.view-pps {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}

	.oal-prompt:only-child {
		margin-bottom: 0;
	}

	.col-select {
		&.fare-condition-th {
			border: 5px solid #e5e9f0;
			background-color: #ddd;
		}
	}

	.flight-station-item {
		.airline-info {
			.airline-detail {
				position: relative;
				line-height: 28px;

				img {
					top: 0;
					left: -30px;
				}
			}
		}
	}


	.recommended-table .not-available {
		opacity: 1;
	}

	.bsp-booking-summary__content-wrap {
		.flight-station-info {
			min-height: 70px;
		}
	}

	.recommended-flight-block {
		.flight-list-item {
			margin-bottom: 10px;
		}
		&.collapsed {
			.flight-list-item {
				margin-bottom: 0;
			}
		}
	}

  .wrap-content-fs {
		display: block;
    margin-bottom: 20px;
  }

  &.fs-economy-page {
    .has-disabled {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    }
  }

	.btn-price {
		position: relative;
		font-size: 12px;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-weight: 700;

		&:hover {
			background-color: #3B6CC8;
			color: white;
		}

		&.active {
			background-color: #00266b;
		}

		.ie-copy {
			position: relative;
			display: block;
		}
	}

	.col-select-price {
		background-color: #f7f8fa;
		border-right: 1px solid #cacdd4;
	}

	.bef-price {
		.col-select {
			padding-bottom: 18px;
		}
	}

	.one-column {
		.col-select-price {
			background-color: white;
		}
	}

	.col-price {
		font-family: "baker-signet-web", serif;
		font-size: 22px;
		color: #00226b;
		line-height: 0.8em;
		letter-spacing: 0;
		text-align: center;

		margin-bottom: 10px;

	}

	.recommended-table {
		.not-available {
			opacity: 1;
		}

		.flight-price {
			.from {
				font-size: 10px;
				font-weight: 600;
				line-height: 1.5em;
				margin:0;
				display: block;
			}
		}
	}

	.select-fare-table {
		&.one-fare {
			.col-item--3 {
				padding-top: 50px;
				padding-right: 20px;
				float: right;
			}
		}

		.row-select.row-footer-select {
			.col-select {
					padding-bottom: 20px;
			}
		}
	}

	.flight-price .price small {
		font-size: 24px;
	}
}

.ie8 {
	.fs-business,
	.fs-economy,
	.fs-economy-scoot {
		.recommended-flight-item {
			.flight-station-item {
				.inner-info {
					.airline-detail {
						position: relative;

						img {
							top: -7px;
							left: -30px !important;
							width: 25px;
							height: 25px;
						}
					}
				}
			}
		}

		.flight-list-item {
			margin-bottom: 10px;
		}
	}
}
@media screen and (max-width: 1023px) {
	.fs-economy {
		.price {
			font-size: 23px;
		}

		.mix {
			transform: translateY(5px);
			font-size: 12px;
		}
	}
}
