.bsp-booking-summary__content-1,
.rail-fly {
	.rail-fly-station {
		position: relative;
	}

	.has-choose .railsfly-return-station {
		border-bottom: 42px solid transparent;
	}

	.active {
		.wrap-flight-station {
			margin-bottom: 35px;
		}

		.railsfly-return-station {
			border-bottom: 21px solid transparent;
		}

		.rail-fly-station {
			.rail-fly-control-last {
				margin-bottom: 85px;
			}

			.control-flight-station {
				margin-bottom: 65px;
			}
		}
	}

	.rail-fly-station .control-flight-station {
		margin-bottom: 5px;
	}

	.wrap-rail-fly-station {
		position: absolute;
		top: 40px;
		width: 100%;

		.date {
			display: inline-block;
			width: 140px;
		}
	}

	.rails-flights-table {
		.flight-station-item {
			.airline-info {
				.airline-detail {
					img {
						top: 0;
					}

					.si-img {
						top: 25px;
					}

					.sq-img {
						top: -3px;
					}
				}
			}
		}

		.flight-station--inner {
			padding-bottom: 12px;

			.flight-station-info {
				.station-stop-detail {
					em {
						// background-image: url("../images/svg/train.png");

					}

					em.ico-5-rail.rail-middle {
					    display: none;
					}
				}
			}
		}

		.airline-info {
			.airline-detail {
				line-height: 21px;
			}
		}

		.recommended-flight-item {
			.control-flight-station {
				visibility: visible;
			}

			.flight-result-leg {
				visibility: hidden;
			}

			&.active {
				.control-flight-station {
					visibility: hidden;
				}

				.flight-result-leg {
					visibility: visible;
				}

				.wrap-rail-fly-station {
					height: auto;
					position: relative;
					top: 12px;
				}
			}
		}
	}

	.change-flight-item {
		.recommended-flight-item {
			.control-flight-station {
				visibility: visible;
			}

			.flight-result-leg {
				visibility: hidden;
			}

			&.active {
				.control-flight-station {
					visibility: hidden;
				}

				.flight-result-leg {
					visibility: visible;
				}

				.wrap-rail-fly-station {
					height: auto;
					position: relative;
					top: 12px;
				}

				.flight-time {
					margin-top: 15px;
				}
			}
		}
	}

	.rail-layover {
		background-color: #eee;
		padding: 10px 5px;

		&::before {
			top: 18px;
			left: 190px;
		}
	}

	.layover-time--2 {
		display: block;
		position: relative;
		clear: both;

		em {
			color: #666;
			margin-top: -3px;
		}
	}

	.ico-5-rail,
	.ico-rail, .ico-airplane-2 {
		height: 23px;
		width: 23px;
		display: inline-block;
		vertical-align: middle;
		font-size: 1em;
		left: 5px;
	}

	.rail-middle {
		margin-left: 0.3em;
		margin-top: 5px;
	}

	.flight-time,
	.rail-time {
		display: block;
		clear: both;
		position: relative;

		.title {
			font-weight: bold;
			color: #00266b;
			font-size: 12px;
			letter-spacing: 0.02em;
		}

		.time-stop {
			font-weight: bold;
		}

		&::before {
			content: "";
			position: absolute;
			right: 0;
			height: 1px;
			background-color: #cacdd4;
		}
	}

	.rail-time {
		padding-top: 12px;

		.ico-5-rail {
			font-size: 1.8em;
			color: #00266b;
		}
	}

	.flight-time {
		.ico-airplane-2 {
			font-size: 26px;
			color: #00266b;
			margin: -5px 0px;
		}

		&::before {
			top: 11px;
			left: 220px;
		}
	}

	.recommended-table {
		.flight-price {
			width: 150px;
			overflow: hidden;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.recommended-table {
		margin-top: 10px;
	}
}

.fs-railway {
	.flight-station-info .station-stop-detail .ico-airplane-2{
		top: -10px;
	}
	.ico-5-rail{
		background-image: url("../images/train.png");
		background-repeat: no-repeat;
	}

	.ico-5-rail:before{
		display: none;
	}

	.ico-airplane-2{
		background-image: url("../images/air-plane1.png");
		background-repeat: no-repeat;
	}

	.ico-airplane-2:before{
		display: none;
	}

	.fare-summary {
		margin-top: 40px;
	}

	.flight-station-info {
		overflow: visible;
	}

	.bsp-flights__info--group .flying-details {
		display: block;
		clear: both;
		padding-top: 10px;
	}

	.bsp-flights__info--group .flights-station__info--detail .hour {
		font-size: 19px;
	}
	.bsp-flights__info--group .flight-station-info .station-stop .station-stop-detail .ico-airplane-2 {
		top: -10px;
	}

	.table-fare-summary .col-select .complimentary,
	.table-fare-summary .col-select .fare-price,
	.table-fare-summary .row-head-select .code-flight,
	.table-fare-summary .row-head-select .name-header {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}

.bsp-booking-summary__content-1 {
	.layover-time--2 {
		font-size: 12px;
	}
}

.fs-multistop {
	.btn-price,
	.btn-price-cheapest {
		font-family: "baker-signet-web", serif;
		font-size: 22px;
		font-weight: 400;
		.unit-small {
			font-size: 16px;
		}
	}
}
