.home-page-optimized {
	.optim-close{
		position: absolute;
		right: 6px;
		top: 13px;
		font-size: 12px;
		color: black;
	}

	.ui-autocomplete [data-value="No results found."]:hover, .ui-autocomplete [data-value="No results found."].active {
		background: transparent;
		color: black;
	}

	.custom-select--2 .select__text input:focus {
		outline: none;
	}

	.acquisition-item:hover {
	 	.content {
	 		.title-5--blue {
	 			text-decoration: none;
	 		}

	 		.link-4 {
		 	   color: #00266b;
		 	}
	 	}
	}
}
