.ice-checkin-page{
  
    [v-cloak] {
        visibility: hidden !important;
    }

    .cabin-color.economy {
        display: block;
        padding-top: 3px;
        color: #1c5d49;
        font-weight: bold;
    }

    .name-plane {
        display: block;
        margin-top: 10px;
    }

    .country-name {
        color: #000;
        text-transform: uppercase;
    }

    .span.airline-detail {
        color: #000;
    }


    .inner-info.multistops-airline-info {
        color: #000;
    }

    .flight-date{
        color: #000;
        font-weight: bold;
    }

    .main-inner{
        position: relative;
    }
    .booking-reference{
        position: absolute;
        background-color: white;
        padding: 20px;
        width: 20%;
        text-align: center;
        float: right;
        box-shadow: 2px 3px 7px -4px;
        top: 0;
        right: 0;

        .booking-text{
            border-bottom: 2px solid #ffd181;
            color: #00266b;
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 1px;
            padding-bottom: 5px;
            margin-bottom: 10px;
            text-transform: uppercase;
            display: inline-block;
        }
    
        .booking-number{
            display: block;
            font-size: 30px;
            font-weight: 700;
            color: black;
            letter-spacing: 2px;
        }    
    }
    .flight-alert{
        padding: 5px 15px;
        width: 50%;
        background-color: #fff5e6;
        margin-top: 20px;
        margin-bottom: 20px;

        .ico-alert{
            color: #f99d1c;
            font-size: 30px;
        }

        .text{
            float: right;
            margin-right: 30px;
            color: black;
            margin-top: 12px;
        }
    }

    .flight-details-wrapper{
        margin-top: 40px;
    }
    .flight-header{
        background-color: white;
        border: 1px solid #eaeaea;
        padding: 5px 20px;
        position: relative;

        .flight-sector{
            color: #00266b;
            font-size: 16px;
            font-weight: 700;
        }

        .flight-type{
            position: absolute;
            right: 0;
            color: #165d47;
            font-weight: 700;
            top: 37%;
            margin-right: 20px;
        }

        em{
            color: gray;
            margin-top: -5px;
            font-size: 16px;
        }
    }

    .flight-content{
        background-color: #f0f2f6;
        padding: 20px;

        .flight-station--inner{
            background-color: white;
            padding: 25px;
            border-radius: 5px;
        }

        .flights-info-content-details {
            border: none;

            .station-stop{
                left: 130px;
                right: 157px;
            }

            .custom-checkbox--1 input + label{
                position: unset;
            }

            .pax-infant-name{
                position: absolute;
            }
        }
    }

    .flight-info-wrap{
        position: relative;
        padding-bottom: 15px;
        .flight-station-info{
            width:60%;
        }

        .multistop-arlineinfo{
            width: 40%;

            img{
                width:20px;
            }
        }

        .multistop-arlineinfo{
            top: 0;
            right: 0;
            position: absolute;
        }

        .hour {
            color: black;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            font-weight: 700;
        }
    }
    .heading-1{
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-size: 28px;
        color: #00266b;
        font-weight: 700;
    }
    .sia-breadcrumb-wrapper{
        background-color: #f2f2f2;
        min-height: 40px;
        position: relative;

        .text{
            text-transform: uppercase;
            font-size: 12px;
            margin-left: 5px;
            color: #00266b;
            font-weight: 700;
            letter-spacing: 1px;
        }

        .breadcrumb-bg-left{
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            background-color: white;
            height: 100%;
            width: 30%;
        }
        .breadcrumb-inner{
            position: relative;
            margin: 0 auto;
            max-width: 988px;
        }
        .breadcrumb-inner-item{
            list-style-type: none;
            display: inline-block;
            width: 33%;
            background-color: #f2f2f2;
            padding: 20px 0;
            position: relative;
            text-align: center;
            
            // &-old{
            //   width: 33%;  
            // } 

            &.active{
                background-color: white;

                .arrow{
                    position: absolute;
                    right: -12px;
                    background-color: #ffffff;
                    height: 42px;
                    width: 42px;        
                    top: 0px;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')";
                    z-index: 1;

                    // &.old{
                    //     -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')";
                    //     right: -12px;           
                    //     top: 0px;
                    // }
                }
            }
        }

        .breadcrumb-item_info{
            text-align: center;
            margin: 0 auto;
        }

        .number{
            background-color: #ffa000;
            border-radius: 50%;
            font-size: 12px;
            color: white;
            width: 20px;
            height: 20px;
            text-align: center;
            display: inline-block;
            line-height: 20px;
        }
    }

    .booking-passenger {
        .booking-passenger__control {
            margin-bottom: -24px;

          .booking-passenger__control {
                display: block;
                position: relative;
                padding: 17px 0px 21px;
                color: #00266b;
                font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                font-weight: 700;
                font-size: 16px;
                border-bottom: 0;
            }
        }
    }
    
    .booking-passenger-content {
        padding: 20px 55px 15px 0px;
        .booking-passenger-heading{
            padding-bottom: 0;
            border-bottom: none;
        }
        .booking-passenger-list {
            margin-top: 8px;

            li{
                margin-top: 20px;
                text-transform: none;

                .pax-infant-name {
                    display:block;
                }
            }
        }
        .booking-passenger-heading {
            .custom-checkbox {
                label {
                    font-weight: 700;
                    color: black;
                }
            }
        }
    }

    .flight-wrap-info {
        padding: 20px;
        margin-top: 20px;
       .booking-passenger__control {
            color: #00266b;
             border-bottom: 1px solid #f2f2f2;
             font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
             font-weight: 700;
             padding: 17px 0px 21px;
       }
    }

    .booking-passenger__control {
        color: #00266b;
         border-bottom: 1px solid #f2f2f2;
         font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
         font-weight: 700;
         padding: 17px 0px 21px;
   }

    .button-group-1 {
        .btn-1 {
            margin-top: 30px;
        }
    }
}


.ice-pax-details {
    .breadcrumb-inner-item{
            list-style-type: none;
            display: inline-block;
            width: 30%;
            background-color: #2f2f2f;
            padding: 20px 0;
            position: relative;
            text-align: center;
            
        &.active{
            background-color: white;
        }
        .number{
            background-color: #ffa000;
            border-radius: 50%;
            font-size: 12px;
            color: white;
            width: 20px;
            height: 20px;
            text-align: center;
            display: inline-block;
            line-height: 20px;
        }
    }

    .arrow{
        position: absolute;
        right: -22px;
        background-color: #ffffff;
        height: 42px;
        width: 42px;
        top: 9px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: 1;
    }

    .btn-back {
        display: none
    }

    .blk-heading {
        .main-heading {
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            font-weight: 700;
            margin-bottom: 10px;
            font-size: 24px;
        }
        .heading-notification {
            font-size: 16px;
        }
    }

    .block-content-passenger-details {
        .passenger-info__personal {
            .blk-heading {
                .sub-heading-1--blue {
                    font-weight: 700;
                }
            }
        .grid-col.one-sixth {
            width: 60%;
        }
        .grid-col .one-half {
            width: 50%;
        }
        .grid-col  .width-one-two {
            width: 25%;
        }

        .grid-col .one-fourth {
            width: 46%;
        }   
        }
    }
    .passenger-info__personal {
        .block-passenger-apis {
            border-top: 0;
            padding: 0;
        }
    }

    .container-details {
        margin-top: 40px;
    }

    .infant-block {
        display: none;
    }

    .form-passenger-detail{
        .form-group-full--1 {
            display: none;
        }
    }

    .button-group-1 {
        .button-submit-passenger {
            display: none;
        }
    }

    .block-passenger-apis {   
        .passenger-heading {
            .passenger-heading__title {
                color: #000;
                padding-bottom: 5px;
                font-weight: 600;
            }
        }
    }

}


.ice-checkin-complete {
    .flight-header {
        .flight-type {
            right: 15px;

            .ico-check-thick{
                color:#24765d;
                font-weight: bold; 
                margin-left: 15px;

                &:before {
                    font-weight: bolder;
                }
            }
        }
    }

    .booking-passenger-content {
        padding: 15px 0px 15px 0px;
        .booking-confirm-heading {
            margin-bottom: 0;

            .flight-sector{
                color: #00266b;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }

    .flights-info-content {
        position: relative;
        padding-bottom: 15px;
        border-top: 1px solid #f2f2f2;
        padding: 15px 15px 0px 0px;


        .passenger-details-wrap {
            width: 33%;
            overflow: hidden;
            position: relative;
            float: left;

            .passenger-name {
                font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            p {
                color: #000;
                font-weight: 700;
                display: inline-block;
                font-size: 16px;
            }
            .elite-silver {
                    padding: 7px 7px;
                    color: #afafaf;
                    font-size: 8px;
                    font-weight: bold;
                    text-transform: uppercase;
                    background-color: #e5e9f0;
                    border-radius: 2px;
                    vertical-align: top;
                    display: inline-block;
                    line-height: 1;
                    margin-left: 10px;
                    letter-spacing: 2px;
            }
            }
        }

        .flight-booking-details {
            width: 67%;
            float: left;

            .ico-change-seat, .ico-food, .ico-business-1, .ico-alert {
                color: #00266b;
                font-size: 20px;
            }

            .table-passenger-details{
                width: 100%;
                line-height: 25px;

            strong {
                color: #000;
            }
            .first-row {
                width: 30%;
                padding: 8px;
            }
            .legroom-seat {
                width: 30%;
                padding: 8px;
            }
            .second-row {
                width: 20%;
                padding: 8px;
            }
            }

            .table-passenger-details-info {
                width: 100%;
                .first-row {
                    width: 30%;
                    padding: 8px;

                }
                .second-row {
                    width: 70%;
                    padding: 8px;
                }
            }
        }

    

        .baggage-allowance {
            float: right;
            font-size: 13px;
            margin-bottom: 15px;
            margin-right: 10px;

            .ico-point-r {
                font-size: 8px;
            }
        }
            
    }

    .flight-content {
        margin-bottom: 40px;
    }

    .before-you-fly-container {
        background-color: #fff;
        position: relative;
        padding: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .image-container {
        width: 40%;
    height: 500px;
    background-color: darkolivegreen;
    display: inline-block;

    }

    .Essential-info {
        width: 53%;
        float: right;
        margin-right: 15px;
        .boarding-details {
            border-top: 1px solid #f2f2f2;
            width: 100%;
            font-size: 14px;
            tr {
                td {
                    width: 50%;
                    padding-bottom: 15px;

                }
            }

            strong {
                color: #000;
            }
            span {
            display: block;
            }
        }
        .heading-1 {
            font-size: 16px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f2f2f2;
        }
        .weather-details {
            background-color: white;
            padding: 10px;

            .weather-condition{
                margin-top: 10px;
                width: 100%;

                tr {
                    td {
                        width: 25%;
                        margin-bottom: 15px;
                    }
                }
                strong {
                color: #000;
                }
                span {
                display: block;
                }
            }
        }
    }

    .footer-btn-group {
        .btn-4 {
            float: right;
            margin-right: 10px;
        }
        .btn-1 {
            float: right;
        }
    }
}


@media screen and (max-width: 1023px) {
    .ice-checkin-page {
        .booking-reference{
            right: 20px;

        }
        .flight-alert {
            position: relative;
            padding: 15px 15px;
            .text {
                position: absolute;
                top: 0;
                 left: 65px;
            }
            .ico-alert {
                &:before {
                   margin-top: -15px; 
                }
            }
        }
    }
}
