.favourites-page {
	.promotion-item.dest-block.nofares.promotion-item--2.fadeIn.animated.one-third{
		.ico-point-r{
			background: none;
			font-size: 8px;
		    color: #0254ec;
		    position: relative;
		    margin-top: 2px;
		    margin-left: -2px;
		}
		.ico-point-r:before{
			content: "\e63d";
		    display: inline-block;
		}
		.link-8{
			margin-left: -8px;
		}
	}
	.booking-widget-block {
		.sub-text-4 {
			color: #00226b;
		}
	}
	.booking-widget.sticky {
		width: 100%;
		box-shadow: 2px 0 12px #999;
		zoom: 1;
		filter: progid:DXImageTransform.Microsoft.Shadow(Color=#999999, Strength=4, Direction=0);
		bottom: -100%;
		&.active {
			bottom: 0;
		}
	}
	.booking-widget-block {
		.sub-text-4 {
			color: #00226b;
		}
	}
	.booking-widget .booking-widget__inner,
	.booking-widget:before {
		background-image: url('../images/search-flight-bg.png');
		background-color: #f6f9ff;
	}
	.static-item-1 {
		.static-item-1__info {
			.overlay-delete {
				.right-point {
					position: absolute;
					top: 50%;
					right: 48%;
				}
				.button-group-1 {
					position: absolute;
					top: 52%;
				}
			}
		}
	}
	.masthead {
		.menu-block {
			.menu__items {
				.menu__item {
					.new-badge {
						background-color: #ff9f00;
						color: #00266b;
						font-size: 11px;
						border-radius: 2px;
						padding-left: 5px;
						padding-right: 5px;
						padding-bottom: 2px;
						padding-top: 2px;
						margin-left: 2px;
						font-weight: 700;
					}
				}
			}
		}
	}

	.add-favourites {
		background: transparent;
		border: none;
		color: #0254ec;
		.star-container {
			height: 20px;
			width: 20px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
			overflow: hidden;
			.star-guide {
				height: 20px;
				background-image: url("../images/city-guide-star-icon.png");
				background-position: 0 0;
				.active-guide {
					background-position: 20px 0;
				}
			}
		}
	}
	.add-destination-btn {
		margin: 20px 0;
		height: 40px;
		position: relative;
	}
	.ico-5-star {
		position: absolute;
		right: 15px;
		z-index: 99999999999999;
		font-size: 28px;
		color: #fff;
		bottom: 10px;
	}
	.ico-5-clock_1 {
		color: #00266b;
		font-size: 21px;
	}
	.right-arrow {
		font-size: 6px;
		vertical-align: middle;
		margin-right: 2px;
		position: relative;
		bottom: 2px;
	}
	.mc-toggle {
		width: 263px;
		.miles-return-one-way {
			li {
				box-sizing: border-box;
				cursor: pointer;
				list-style: none;
				display: inline-block;
				float: left;
				padding: 0 20px;
				width: 50%;
				text-align: center;
				border-bottom-right-radius: 2px;
				border-top-right-radius: 2px;
				border: 1px solid #00226b;
				a {
					color: #00226b;
					text-decoration: none;
					height: 3px;
					line-height: 38px;
					padding-left: 6px;
				}
				&:first-child {
					border-top-left-radius: 2px;
					border-bottom-left-radius: 2px;
					border-bottom-right-radius: 0;
					border-top-right-radius: 0;
				}
				&.miles-cta-active {
					background-color: #00226b;
					a {
						color: #fff;
					}
				}
			}
		}
	}
	.promotion-item.promotion-item--2 {
		position: relative;
		.promotion-item__inner {
			text-align: left;
			border: 0;
		}
		&.two-third {
			width: 66.66666%;
		}
		&.one-third {
			width: 33.3333%;
		}
		&.active {
			.promotion-item__inner {
				border: none;
			}
		}
		img {
			height: 180px;
		}
		.ico-container {
			position: absolute;
			bottom: 15px;
			right: 16px;
			.star-1 {
				height: 30px;
				background-image: url("../images/combine-star-icon.png");
				background-position: 0 0;
			}
			.active {
				background-position: 30px 0;
			}
		}
		.country-name {
			position: absolute;
			bottom: 0;
			color: white;
			padding: 10px 15px;
			.main-heading {
				font-size: 28px;
			}
		}
		.promotion-item__desc {
			min-height: 65px;
		}
	}
	.promotion-item__content {
		.promotion-item__desc {
			.price {
				color: #00266b;
				span {
					color: #00266b;
					font-size: 14px;
					position: absolute;
					top: 34%;
				}
			}
		}
	}
	.description {
		color: #000000;
		font-size: 16px;
		margin-bottom: 25px;
	}
	.static-item-1 img {
		height: 180px;
	}
	.static-item-1__info,
	.dropdown-link {
		height: auto;
		position: relative;
		.ico-star {
			position: absolute;
			right: 18px;
			color: #ffffff;
			z-index: 100;
			font-size: 28px;
			top: 50%;
		}
		.country-name {
			position: absolute;
			bottom: 85px;
			color: white;
			padding: 10px 15px;
			.main-heading {
				font-size: 28px;
			}
		}
		.overlay-delete {
			display: none;
			position: absolute;
			height: 96%;
			width: 97%;
			background-color: #ffffff;
			z-index: 999999999999999999;
			top: 0;
			margin: 0 auto;
			.title-5--blue {
				text-align: center;
				margin-top: 15%;
			}
			&.two-thirds {
				width: 95%;
				.title-5--blue {
					margin-top: 25%;
				}
			}
			.button-group-1 {
				margin-right: 16%;
				a {
					width: auto;
				}
			}
		}
	}
	.block-2.static-item-1__detail {
		height: 70px;
		h3 {
			color: #00266b;
			position: relative;
			span {
				font-size: 14px;
				top: 4px;
				position: absolute;
			}
		}
	}
	.expiring-deals-content,
	.promotion-list {
		.two-third {
			.dest-blk-content-wrap {
				.overlay-delete {
					.title-5--blue {
						text-align: left;
						margin-top: 15%;
					}
					.button-group-1 {
						position: relative;
						top: 0;
						float: left;
						margin-left: 24px;
					}
				}
			}
		}
	}
	.fave-list-wrap {
		.two-third {
			.dest-blk-content-wrap {
				.overlay-delete {
					.title-5--blue {
						text-align: left;
						margin-top: 15%;
					}
					.button-group-1 {
						position: relative;
						top: 0;
						float: left;
						margin-left: 24px;
					}
				}
			}
		}
	}
	.static-item-1__detail {
		padding: 10px 30px 17px 20px;
	}
	.static-item-1__info .country-name {
		bottom: 100px;
		left: 17px;
	}
	.button-group-1 {
		.btn-2 {
			float: right;
			margin-top: 0;
		}
	}
	.custom-select--2 {
		.select__text {
			.dropdown-text-align {
				padding-left: 15px;
			}
		}
	}
	.add-destination-block {
		background-color: #ffffff;
		padding: 15px;
		margin-top: 20px;
	}
	.mc-toggle {
		width: 360px;
		float: right;
	}
	.avail-fare-deals {
		text-transform: uppercase;
		color: #ba5400;
		font-size: 12px;
		letter-spacing: 0.05em;
		font-weight: 700;
		position: relative;
		top: -5px;
	}
	.static-item-1__info {
		.ico-star {
			color: #ff9f00;
			right: 15px;
			margin-top: -10px;
		}
	}
	.no-fare {
		text-transform: uppercase;
		color: #666666;
		font-size: 12px;
		letter-spacing: 0.05em;
		font-weight: 700;
		position: relative;
	}
/*	.search-flight {
		position: relative;
		top: -22px;
		left: 19px;
		.ico-point-r {
			font-size: 5px;
		}
	}*/
	.blk-heading .promotion-heading {
		float: left;
	}
	.flight-search {
		margin: 0;
		position: relative;
		top: 10px;
		font-size: 14px;
	}
	.static-item-1__info {
		.remove-favourites {
			display: block;
		}
	}
	.expiring-deals {
		text-transform: uppercase;
		color: #e41d1e;
		font-size: 12px;
		letter-spacing: 0.05em;
		font-weight: 700;
	}
	.expiring {
		text-transform: uppercase;
		color: #e41d1e;
		font-size: 10px;
		letter-spacing: 0.05em;
		font-weight: 700;
		display: block;
	}
	.border-sign {
		border-bottom: 1px solid #e2e2e2;
	}
	.add-destination-btn {
		margin: 30px 0;
	}
	.expiring-deals-head {
		margin: 27px;
		margin-left: 18px;
		.expiring-header {
			font-size: 24px;
			display: inline-block;
			color: #00266b;
			vertical-align: middle;
		}
		.ico-flight-history {
			display: inline-block;
			font-size: 21px;
			color: #00266b;
		}
	}
	.btm-border {
		border-bottom: 1px solid #e2e2e2;
		padding-bottom: 20px;
		margin-bottom: 40px;
	}
	.city-guide {
		margin-top: 5px;
		.ico-star {
			display: inline-block;
			background: transparent;
			color: #00266b;
			font-size: 23px;
			vertical-align: text-top;
			margin-left: -3px;
		}
		.city-ribbon {
			color: #00266b;
			vertical-align: bottom;
		}
	}
	.tooltips--blue {
		margin-bottom: 25px;
		.radio-tooltips {
			.radio-tooltips__text {
				color: #000;
				line-height: 1.5em;
			}
		}
		.title-5--blue {
			margin: 0;
			margin-left: 11px;
		}
		.two-four {
			width: 53%;
		}
		.width-3 {
			width: 44%;
		}
		.button-group-1 {
			position: relative;
			top: 8px;
		}
	}
	.alert-block {
		padding: 15px 5px;
	}
	.button-group-1 {
		overflow: hidden;
		clear: both;
		zoom: 1;
		position: absolute;
		bottom: 66px;
		right: 15px;
	}
	.overlay-delete {
		position: absolute;
		height: 96%;
		width: 100%;
		background-color: #ffffff;
		z-index: 10;
		top: 0;
		margin: 0 auto;
		.title-5--blue {
			text-align: center;
			margin-top: 25%;
			line-height: 1.4em;
		}
		&.two-thirds {
			width: 95%;
			.title-5--blue {
				margin-top: 25%;
				line-height: 1.5em;
			}
		}
		.button-group-1 {
			margin-right: 16%;
			a {
				width: auto;
				&.promotion-item__content {
					padding-top: 0;
				}
			}
		}
	}
	.add-to-fave-controls {
		right: 110%;
		&.active {
			right: auto;
		}
	}
	.title-5--blue {
		font-size: 18px;
		clear: both;
	}
	.promotion-item--2 .promotion-item__content {
		min-height: 65px;
	}
	.add-destination-trigger {
		clear: both;
		margin-bottom: 20px;
	}

	.dest-block {
		.dest-blk-content-wrap {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			overflow: hidden;
			cursor: pointer;
		}

		.css-accordion-trigger {
			&.promotion-item__inner {
				display: block;
				border-bottom: 2px solid #ccc;

				&.active {
					padding-bottom: 22px;
					margin-bottom: 0;
					border-bottom: 0;
					.ico-point-r {
						-ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
						-ms-transform: rotate(90deg);
						transform: rotate(90deg);
					}
				}
	
				.ico-point-r {
					-ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
					-ms-transform: rotate(0deg);
					transform: rotate(0deg);
				}
			}
		}
	}

	.css-accordion-grp-wrapper {
		display: block;
		clear: both;
		width: 100%;

		.promotion-item__detail {
			display: block;
		}

		.css-accordion-content {
			display: block;
			min-width: 944px;
			padding: 0 20px;
			overflow: hidden;
			border-bottom: 0;
			&.active {
				padding-top: 20px;
				padding-bottom: 20px;
				border-bottom: 2px solid #ccc;
			}
			.editor {
				table {
					.dest-booknow {
						width: 100%;
						padding: 15px 0;
					}
				}
			}
		}

		.min-pax-hide {
			display: none;
		}
	}
}

.favourites-disabled {
	.add-destination-block{
		padding: 0 0 15px;
		margin-top: 20px;
		background-color: transparent;
        .button-group-1{
            bottom: 99px;
            right: 570px;
            input {
                padding: 15px 28px 13px;
            }
		}
		.fav-disabled-info-max {
			font-size: 14px;
			color: #000;
			font-style: italic;
			font-weight: 500;
			margin-top: -8px;
		}
		.favourites-add-destination {
			.ui-autocomplete-input {
				// left: -10px;
			}
		}
		.add-dest-to-favourites {
			.select__text {
				padding-left: 13px;
			}
		}
	}
	.add-dest-to-favourites {
		.destination-city {
			padding-left: 0px;
		}
	}
	.disabled-button {
		pointer-events: none;
		// opacity: 0.4;
	}
	.add-bottom-px {
		bottom: 126px !important;
		// background-color: red;
	}
	.add-city-placeholder-disable {
		background-color: #e5e5e5;
	}
	.add-btn-disable {
		background-color: #000;
		-moz-opacity: 0.3;
		opacity:.3;
		filter: alpha(opacity=30);
	}
}

.favourites-initial-login {
	.add-destination-block{
		padding: 0 0 10px;
		margin-top: 20px;
		background-color: transparent;
        .button-group-1{
			bottom: 78px;
			// bottom: 60px;
            right: 570px;
            input {
                padding: 15px 28px 13px;
			}
		}
		.add-dest-to-favourites {
			.select__text {
				padding-left: 13px;
			}
		}
		// .fav-disabled-info-max {
		// 	font-size: 14px;
		// 	color: #000;
		// 	font-style: italic;
		// 	font-weight: 500;
		// 	margin-top: -8px;
		// }
	}
	// .disabled-button {
	// 	pointer-events: none;
	// 	// opacity: 0.4;
	// }
	// .add-bottom-px {
	// 	bottom: 126px !important;
	// 	// background-color: red;
	// }
	// .add-city-placeholder-disable {
	// 	background-color: #e5e5e5;
	// }
	// .add-btn-disable {
	// 	background-color: #000;
	// 	-moz-opacity: 0.3;
	// 	opacity:.3;
	// 	filter: alpha(opacity=30);
	// }
}

.favourites-complete {
	.add-destination-block{
		padding: 0 0 15px;
		margin-top: 20px;
		background-color: transparent;
        .button-group-1{
            bottom: 99px;
            right: 565px;
            input {
                padding: 15px 28px 13px;
            }
		}
		.add-dest-to-favourites {
			.select__text {
				padding-left: 13px;
			}
		}
    }
}

.add-tofavourites {
	position: absolute;
	bottom: 16px;
	right: 16px;
	width: 30px;
	height: 30px;
	background: none;
	background-image: url("../images/combine-star-icon.png");
	background-position: 0 0;
	border: 0;
	z-index: 10;
	overflow: hidden;
	padding: 0;
	&.active {
		background-position: 30px 0;
	}
	&.inline-w-copy {
		position: relative;
		top: 10px;
		left: 0px;
		bottom: auto;
		right: auto;
		width: auto;
		height: 20px;
		padding-left: 25px;
		color: #0254ec;
		background-image: url(../images/favourites-star-blue.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		&.active {
			background-position: 0 -20px;
		}
	}
}

.fares-details-enhancement-page {
	.blk-heading {
		margin-bottom: 60px;
	}
	.sub-text-4 {
		position: absolute;
		top: 10%;
		color: #00266b;
	}
}

.app-excl-fares .popup .cancel-btn {
    margin-top: 10px;
}

.auto-complete-close {
	cursor: pointer;
    position: absolute;
    top: 50%;
    right: 26px;
    font-size: 12px;
    margin-top: -6px;
    line-height: 1;
	color: #000;
	z-index: 100;
}

.ie7 {
	.favourites-page {
		.btn-1, .btn-2 {
			height: 12px;
			padding: 14px 20px;
		}
	}
}
