.kf-flight-history{
    .blk-heading-txt{
        color: #000;
        font-size: 16px;
    }

    .view-tickets{
        .ico-point-r{
            font-size: 6px;
            margin-top: -3px;
        }
    }

    .popup--view-tickets{
        .receipts-block{
            margin-bottom: 30px;
            h5{
                color: #000;
                margin-bottom: 15px;
            }

            .r-t-number{
                float: right;
                width: 45%;
            }
        }
        .flight-detail{
            padding: 15px 20px;
            background-color: #f7f7f7;
            margin-top: 2px;
            .pax-name{
                font-weight: 700;
                color: #000;
            }
            .number{
                color: #000;
            }

            a{
                margin-left: 5px;
            }
            em{
                color: #00266b;
                margin-right: 3px;
                &.ico-change-seat{
                    font-size: 20px;
                    margin-top: -3px;
                }
                &.ico-business-1{
                    font-size: 20px;
                    margin-top: -5px;
                }
            }
        }
    }

    .grp-loader {
        position: relative;
        min-height: 150px;
        width: 100%;
        margin-bottom: 0;

        .loading--full {
            top: 80%;
        }
    }
}