.landing-flight-notifications{
	.flight-border{
		background: #cccccc;
	    margin-bottom: 39px;
	    margin-top: 23px;
	    text-align: center;
	    height: 1px;
	    position: relative;

	    span.border-flight{
			display: block;
		    background-color: #f1f1f0;
		    color: #666666;
		    width: 30px;
		    position: absolute;
		    top: -7px;
		    left: 50%;
		    transform: translateX(-50%);
		    font-size: 12px;
		}
	}
	
	.fligt-notifications{
			background: #fff;
		    border-left: 2px solid #f89e1c;
		    padding: 10px;
		    height: 75px;
		    padding-bottom: 25px;
	
		.flight-noti{
			color: #000;
   		  	font-size: 14px;
   		 	font-weight: 400;
   		  	display: inline-block;
  		    margin: 0;
   			width: 79%;
   			line-height: 1.5em;
		}
		.ico-5-flight-notification{
			 color: #00266b;
			    font-size: 44px;
			    display: inline-block;
			    margin-right: 19px;
			    vertical-align: middle;
			    float: left;
			    margin-top: 8px;
		}
		.notification-header{
			color: #00266b;
			color: #00266b;
			font-size: 16px;
			font-weight: 600;
			margin: 0;
			padding: 0;
			margin-top: 13px;
			margin-bottom: 2px;

			}

		.ico-point-r{
		    font-size: 7px;
		    position: relative;
		    left: 2px;
		    margin-left: -3px;
		    margin-top: -3px;
		}
	}
}

.landing-search-flights-page {

	.optim-close {
		position: absolute;
		top: 11px;
		right: 6px;
		font-size: 12px;
		color: black;
	}

	.remove-recent {
		opacity: 0.3;
		-moz-opacity: 0.3;
		filter: alpha(opacity=30);
		display: table-cell;
		width: 25%;
	}
	.ico-delete-container {
		display: table-cell;
		margin-left: 10%;
	}
	.date-format {
		display: table-cell;
		width: 40%;
		font-size: 14px;
	}
	.autocomplete-link {
		display: table;
		width: 100%;
	}
	
	.search-format {
		font-weight: bold;
		display: table-cell;
		font-size: 14px;
		width: 60%;
	}
	.select__label {
		font-size: 15px;
	}
	.recent-title {
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	.recent-title-main-container {
		padding: 3px 0 7px 0;
	}

}