.miles-calculator-page {
	.odd { 
	 	background: #E8E8E8; 
	}

	.even {
		background: #ffffff; 
	}
	.mc-bold {
		font-weight: 700;
	}
	.mc-calculate-btn {
		input{
			margin-right: 0;
		}
	}

	.heading-wrap {
		margin-bottom: 20px;
	}

	.main-container {
		background-color: #f7f7f7;
		border-top:0 solid transparent;

		.main-intro {
			padding: 0px;
			margin: 28px 0px 7px 0;
		}
	}

	.krisflyer-earn-rates{
		.table-1 td{
			vertical-align: text-top;
		}
	}

	.miles-calculator-form{
        position: relative;
        height: 100px;
        .mc-calculate-btn{
            position: absolute;
            right: 0;
            top: 62px;
            input{
                width: 105px;
                margin-right: 2px;
            }
        }
    }


	.miles-calculator-selection {
		position:relative;

			.tab-select{
				display: none;
			}

		.btn-arrow-down {
		  	background-color: #99a8c4;
		    position: absolute;
		    z-index: 1;
		    height: 49px;
		    right: 0;
		    top: 0;
		    border: 0;
		    color: #fff;
		    width: 30px;
		    display: none;
		}

		.miles-calculation-service-tab {
			overflow: hidden;
		    position: relative;

			li {
				list-style: none;
				float: left;
				border-right:1px solid #ddd;
				width: 33.13%;
				background-color:#ddd;
				text-align: center;
				height: 50px;
				position: relative;
				border-left:solid 1px #ccc;
				border-bottom:solid 1px #ddd;
				
				a {
					color: #00226b;
					text-decoration: none;
					text-transform: uppercase;
					text-align: center;

					span.miles-tab-span {
					  	line-height: 49px;
					    font-weight: 600;

					}
				}
			}
			li:first-child {
				border-left: 1px solid  #ddd;

				&.active {
					border-left:1px solid #00226b;
				}
			}

			.active  {
				background-color:#00226b;
				border-right: 1px solid #00226b;
				border-bottom:1px solid #00226b;
				border-left:1px solid #00226b;

				a {
					color: #fff;
				}
			}
		}
	}


	.miles-calculator-content {
		overflow: hidden;
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-left: 1px solid #ccc;

		.button-group-1{
			input#calcBtn{
				width: 128px;
				margin-top: 10px;
			}
		}

		// .mc-calculate-btn {
		//     width: 20%;
		//     position: absolute;
		//     right: 41px;
		//     top: 36.3em;
		// }

		.block-2 {
			border:0 solid transparent;
		}

		.miles-calculator-block-inner{
			padding: 30px 20px 40px;

			.miles-calculator-component {
					.alert-block {
						background-color: #fff1f0;
					}
					.ico-close-round-fill{
						width: 30px;
					    height: 30px;
					    color: #f90000;
					    font-size: 30px;
					    line-height: 1;
					}
					.checkin-alert {
						display: none;
					}

				.miles-cta {
					.miles-return-one-way {
						li {

							cursor: pointer;
						    list-style: none;
						    display: inline-block;
						    padding: 0 20px;
						    border: 1px solid #00226b;
						    background-color: transparent;
						    float: left;
						    width: 77px;
						    text-align: center;			    

							a {
							    color: #00226b;
							    text-decoration: none;
							    height: 3px;
							    line-height: 38px;
							    padding-left: 6px;

							}
						}

						li.miles-cta-active {
							background-color:#00226b;
							
							a {
								color:#fff;
							}
						}

						li:first-child {
							padding-right: 36px;
							 border-top-left-radius: 2px;
	    					border-bottom-left-radius: 2px

						}

						li:last-child {
							border-left: 0 solid #fff;
							border-bottom-right-radius:2px;
							border-top-right-radius:2px;
						}
					}
				}

				.custom-width-calculate {
					width: 63.2%;
				}
				
				.btn-calculate-custom {
					width: 97px;
				}
			}	

			hr {
				border-top: 1px solid #ccc;
			    border-width: 1px 0 0 0;
			    margin: 30px 0;
			    height: 1px;
			}

			.miles-calculator-bottom-text {
				p {
					color:#000;
					font-size: 14px;
				}
			}

			.book-now {
				.start-earnings {
				    margin-top: 10px;
				    margin-right: 15px;
				    color: #000;
				    font-size: 16px;
				    font-weight: bold;
				}
			}

			.miles-form-group {
				
			 	.custom-select{
				 	height: 38px;
				    line-height: 38px;
				    background-color: #fff;
				    border: solid 1px #00226b;
				    border-top-left-radius: 2px;
				    border-top-right-radius: 2px;
				    border-bottom-left-radius: 2px;
				    border-bottom-right-radius: 2px;
				   
				   .select__label{
			 			color: #000;
			 			
			 		}

			 		input:placeholder-shown {
	 			 	color:#000;
					}

					::placeholder {
						color:#000;
					}		    
			 	}

			 	.custom-select--3 {
		 		    border: solid 1px #ccc;
		 		    // margin-top: 10px;
			 	}
			 	 
			 	.grid-col.mc-dropdown {
				    float: left;
				    width: 35%;
				    margin-right: 11px;
				}
			}	
		}

		.cabin-class-tab-control {
			.title-4--blue {
				margin-bottom:5px;
				font-size: 20px;
			}
			.miles-flown-text {
			    color: #666;
			    font-size: 16px;
			    margin-bottom: 30px;
			    display: block;
			}
			.fare-family-title {
			    display: block;
			    color: #000;
			    font-size: 16px;
			}

			.fare-family-codes {
				display: block;
				color: #666;
			    font-size: 14px;
			    // letter-spacing: 2px;
			}

			.miles-num-text {
	    		color: #000;
			}


			.terms-condition-text{
				em.ico-point-r{
					right: 10px;
		   		    font-size: 7px;
		   		    margin-bottom: 4px;
	   		    }
			}
		}

		.miles-calculator-table {
			margin-top: 30px; 

			.fare-family-text {
				font-size: 16px;
			}

			.strong-text {
				color: #000;
			}

			table { 
			  width: 100%; 
			  border-collapse: collapse; 
			}

			.th-width {
	    		width: 29%;
			}
			
		
			th { 
			  background: #002261; 
			  color: white; 
			  font-weight: bold; 
			}

			td, th { 
			  padding: 20px; 
			  text-align: left; 
			  span{
			  	display: block;
			  }

			  span:nth-child(2){
			  	// letter-spacing: 2px;
			  }
			}

			.ico-tooltips-custom {
				color: #989898;
				font-size: 14px;

				&:before {
					vertical-align: top;
				}
			}
		}
	}

	.redeem-miles, .upgrade-flight{

        .ru-cabin-class, .uf-trip-type{
            position: absolute;
            width: 100%;
            top: 62px;
            right: 0;
        }

		form.r-miles{
			position:relative;
		}
		.mc-calculate-btn{
			position: absolute;
		    color: black;
		    right: 0;
		    top: 62px;
            z-index: 12;
            margin-top: auto;

		}
	}

	.upgrade-flight{

		.miles-form-group {
			.custom-select--2 {
				.select__label {
					top: 0;
				    max-width: 60%;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				}
				.select__text {

					.origin-city, .destination-city  {
						padding-left: 0px;
					}
				}
			}

			.custom-select--3 {
				.select__text {
					padding-left: 90px;
				}
			}
		}

		.miles-calculator-table{
			margin-top: 0px;
			table{
				th{
					.fare-family-text{
						font-size: 14px;
						font-weight: 200;
					}
				}
			}
		}

		.miles-calculator-result {
			th {
				&:first-child {
					width: 282px;
				}
			}
		}

		.upgrade-table-intro{
			font-size: 18px;
			color: black;
			margin-top: 25px;
		}

		.end-note{
			font-size: 14px;
			margin-bottom: 0px;
			color: black;
		}
		.terms-condition-text{
			font-size: 14px;
			margin-top: 5px;
		}
	}

	.form-fees-tools {
		.last-child {
			border-bottom: 0;
			padding: 0;
			margin-top: 20px;

			.btn-miles {
				padding: 17px 0px 17px 15px;
				background-color: #e5eaef;
				display: inline-block;
				width: 100%;
				color: #00226b !important;
				font-weight: 600;
				font-size: 16px;
			}

			img {
				margin-right: 10px;
			}
		}
	}
}
