.mp-1-add-insurance{
	.for-your-trip-block{
		padding-top: 0;
		margin-top: 0;
		border: none;
	}
}

.mp-1-add-ons-changes{
	.discount-table{
		margin-top: 36px;
	}
	.addons-your-flight {
	    margin-top: 0;
	}
	.icon-down.chevron-ico{
		background-image: url('../images/chevron-down.png');
		display: block;
		.ico-point-d{
			visibility: hidden;
		}
	}
	.tooltip.tooltip--conditions-1{
		width: 194px;
		color: #000000;
		line-height: 1.4;

		.tooltip__close {
		    font-size: 8px;
		    font-weight: 700;
		    padding: 8px;
		}
	}
	.tooltip-link{
		color: #5a688d;;
		font-size: 14px;
		cursor: pointer;
	}
	.table-cost.table-addons-mp{
		fot{
			margin-bottom: 10px;
		}
	}
	.accordion-item .mp-payments-total {
	    padding: 1px 40px 15px;
	}
	.flights-cost + .flights-cost .flights-cost-title {
	    margin-top: 0px;
	}
	.from-price-flight{
		.note{
			margin-bottom: -2px;
		}
	}
	.accordion-item .booking-info-group .booking-info-content {
	    padding: 15px 20px 0px;
	}
		/**********PAYMENTS*********/
	.tc-prompt{
		color: black;

		p{
			margin-bottom: 0;
		}

		em{
			font-size: 7px;
			margin-top: -4px;
		}
	}
	.grand-total .total-title{
		margin-top: 0;
		color: #000000;
    	font-size: 14px;
    	font-weight: 600;
	}

	p.total-info {
	    margin-top: -5px;
	}

	.table-cost tfoot td{
		border-top: 1px solid  #cbcbcb;
    	border-bottom: 1px solid #cbcbcb;
	}
	.flights-target{
		margin-bottom: 30px;
	}
	.text-bold-1{
		font-weight: 600;
		font-size: 13px;
		color: #000000;
	}

	.text-bold.indent{
		font-weight: 600;
		font-size: 14px;
		color: #000000;
	}

	.table-cost{
		margin-bottom: 20px;

		&.table-addons-mp{
			margin-bottom: 0px;
			margin-top: 20px;

			&.trip-addons{
				margin-top: -10px;
			}
		}

		tr.first {
		    /* padding: 30px 40px; */
		    height: 20px;
		    /* line-height: 55px; */
		    vertical-align: baseline;
		}

		tr.row-title {
		    height: 50px;
		    vertical-align: bottom;
		}

		thead{
			th{
				padding: 2px 0 10px;
			}
		}

		.detail{
			font-weight: 500;
		}

		.row-title{
			td{
				padding: 10px 0;
			}
		}
	}


	.indent{
		padding: 2px 0px 3px 18px;
	}

	.flights-target.flights-target--2{
		display: none;
	}

	/*************END***********/

	.table-cost .detail {
		font-weight: 400;
	}

	.selected-button-1 {
	    background-color: #00266b;
	}
	.from-price-flight .note, .from-price-flight .miles {
	    margin-top: -4px;
	}
	.detail-content{
		.selected-orange{
			margin-top: -10px;
		}
	}

	.bundle-flight-item{
		.title-5--blue {
		    font-weight: 700;
		}
	}
	.bundle-baggage{
		margin-top: 28px;
	}

	.discount-wrapper {
	  position: absolute;
	  width: 48%;
	  top: 30px;
	  right: 125px;

	  .selected-orange{
	  	float: right;
	  	margin-right: 2px;
	  }
	}

	.bundle-flight-item{
		 width: 50%;
  		float: left;

		.bundle-flight-item--inner{
			padding: 20px;
			border: 1px solid #cacdd4;
			margin-left: 20px;
			position: relative;
			margin-top: 8px;
		}

		.title-5--blue {
		  	text-transform: uppercase;
		  	display: inline-block;
		  	padding-top: 9px;
		}

		.select-price {
			position: absolute;
		  	top: 20px;
		  	right: 20px;

		  .sgd-price{
		  	padding-right: 12px;
	  		margin-top: 10px;
		  }
		}
	}


	.weight-flight-item {
	    display: table;
	    width: 100%;
	    position: relative;
	}
	.add-on-flight-block {
	    margin-top: 20px;
	    .text{
			color: #000000;
			font-size: 16px;
		}
	}
	.preferred-flight-item .free-bagage strong{
		text-transform: lowercase;
	}
	.preferred-flight-block-changes {
		margin-bottom: 20px;
	}
	.weight-flight-item .wrap-baggage {
   		float: none;

   		.baggage-discount{
   			position: absolute;
		    right: 30px;
		    top: 30px;
		    color: #cc6600;
		    text-transform: uppercase;
		    font-size: 13px;
		    font-weight: 600;
   		}
	}
	.popup--terms-and-conditions .popup__inner {
	     max-width: 810px;
	}
	.tab-content{
		.th-width-ess{
			width: 20%;
		}
		.th-width-2 {
		    width: 25%;
		}
		.table-1 th{
			padding: 25px 15px;
		}
		.table-1 td{
			padding: 20px 15px;
		}
		em{
			font-size: 22px;
			margin-top: -10px;
		}
		&.elite-silver-table, &.krisflyer-table{
			.fare-title{
				em{
					margin-top: -3px;
					height: 32px;
				    position: relative;
				    float: left;
				    margin-right: 5px;
				}
			}
		}
	}

	.note, .miles {
		color: #000000 !important;
	}
	.tooltip.tooltip--info{
		.tooltip__content{
			padding: 17px 15px 12px 13px;
		}
		a.tooltip__close{
			font-size: 8px;
		    padding: 6px;
		    font-weight: 700;
		}
	}
	.mix-miles-wrapper{
		margin-top: 10px;
		.btn-mix-miles{
			background-color: #e7e7e7;
			color: #00266b;
		}
	}

	.discount-wrapper-xbag{
		position: relative;
	    width: 15%;
		top: 5px;
		float: right;
		right: 36px;
	    .selected-orange{
	    	float: right;
	    	margin-right: 2px;
	    }
	}

	.preferred-flight-block-changes {
		margin-bottom: 20px;
	}

	.accordion{
		&:first-child{
			border: 1px solid #eb9600;
		}
		.accordion__control{
			padding: 15px 27px 15px 0;
		}
		.ico-point-d{
			color: #0254ec;
			right: 0;
		}
	}
	.accordion-component{
		color: #00266b;
		.tc-prompt{
			color: black;
			p{
				margin: 0;
			}
		}

		.bold{
			font-weight: 600;
		}
		.travel-party{
			margin-top: 20px;
			padding: 24px;
			margin-bottom: 0;

			.travel-content{
				padding-left: 80px;

				.title{
					font-size: 17px;
				}
			}

			.travel-thumb{
				position: absolute;
			    top: -15px;
			    left: 0;

			    .ico{
			    	font-size: 80px;
			    }
			}
		}

		.pax-add-on-wrapper{
			background-color: #F6F6F6;
			padding: 18px 20px;
			margin-top: 12px;

			.btn-blue{
				background-color: #00266b;
    			color: white;
			}

			.title-5--blue{
				margin-top: 7px;
				margin-bottom: 0px;
			}

			.pax-details-1{
				color: black;
				font-weight: 600;
				margin-top: 8px;
    			margin-bottom: 0;
			}

			.pax-details-2{
				color: black;
				font-weight: 700;
				margin-top: 9px;
				.btn-violet{
					color: #00266b;
				}

				span{
					margin-left: 8px;
				}
			}

			em{
				font-size: 24px;
				margin-top: -5px;
			}

			.booking-detail-title{
				color: black;
			    font-weight: 700;
			    font-size: 13px;
			    margin-bottom: 0px;
			    margin-top: 0px;
			}

			.booking-detail-left{
				display: inline-block;
				width: 32%;
				vertical-align: top;

			}
			.booking-detail-right{
				display: inline-block;
				width: 60%;

				.details-baggage, .details-discount{
					margin-top: 10px;

					.details{
						margin-left: 38px;
    					margin-top: -20px;
					}
				}

				.details-seat-selection{
					position: relative;
					ul{
						margin-left: 54px;
					    margin-top: -22px;
					    width: 100%;

					    &.one-list{
					    	list-style-type: none;
					    	margin-left: 38px;
					    }

						li{
							margin-bottom: 5px;
						}
					}
				}
			}
		}
	}

	.detail-content, .block-flight-details {
		p,span.miles {
			color: #000;
		}
	}

	.wrap-add-ons{
		.skip-btn{
			background-color: #6d7578;
			color: #ffffff;
			float: none;
			position: absolute;
		    top: 0;
		    left: 16%;
		    padding: 14px 31px;
		    font-weight: 400;
		}
	}

	.pps-club-ribbon{
		background: #e9f1ff;
	    display: table;
	    padding-top: 5px;
	    padding-right: 8px;
	    padding-bottom: 5px;
	    margin-top: 10px;

	    .ico-bow{
	    	font-size: 30px;
		    vertical-align: middle;
		    display: table-cell;
	    }
	    .view-pps {
		    display: table-cell;
		    vertical-align: middle;
		    font-size: 13px;
		}
	}
}

.mp-1-addons-piece-page{
	.preferred-flight-block{
		padding: 0px 20px 15px;
	}
	.baggage-piece-text{
		font-size: 14px;
		font-style: italic;
		margin: 0;
	}
	.review-baggage--item{
		.review-baggage-text{
			width: 48%;
			.ico-business-1{
				margin-right: 12px;
			}
			.ico-info-round-fill{
				margin-top: -3px;
			}
		}
	}

	.preferred-flight--info {
	    margin: 28px 0 20px;
	}

	.from-price-flight{
		.from--label{
			.note{
				position: absolute;
		    	top: 15px;
		    	left: -22px;
			}
		}
	}

	.content-baggage-body .from-price-flight {
		max-width: none !important;
		width: 100%;
		position: relative;
    	left: 10px;
	}
	.content-baggage {
		display: inline-block;
	}
	.content-baggage-body {
		margin-top: 15px;

		div{
			display: table-cell;
			vertical-align: middle;
			padding-right: 10px;
		}

		.price--label{
			text-align: right;
		}

		.selected-orange{
			margin: 0px;
		}
	}

	.content-baggage-title {
		width: 60%;
		margin-top: 15px;
		.title-5--blue{
			display: block;
			margin-bottom: 5px;
		}
	}
	.pull-right {
		float: right;
	}
	.btn-bag-select.selected {
		background-color: #00266b;
		color: #ffffff;
	}
}

.bsp-flights-addons {
	.bsp-addons__details::before {
	    content: "•";
	    font-size: 7px;
	    vertical-align: middle;
	    margin-right: 5px;
    }
}

.bsp-grand-total {
	.price {
		color: #00266b;
    	font-weight: 600;
    	font-size: 16px;
	}

	.grand-total__title {
	    margin-top: 6px;
	}
}

.extra-info {
	.tooltip-krisflyer {
	    font-size: 14px;
    	vertical-align: baseline;
		color: #9e9fa0;
	}
}

.mp1-manage-booking {
	.accordion-component {
		margin-top: 15px;
	}

	.recommended-right {
		float: right;
		margin-top: 10px;
		display: block;
	}
}

.popup--terms-and-conditions {
	.popup__inner {
		max-width: 500px;
	}

	p {
		color: #000;
	}

	.popup__title {
		font-size: 16px;
		font-weight: 600;
	}
}

.mp-addon-notice {
	font-style: italic;
	font-size: 0.95em;
}

.mp-seatmap-d1 {
	span.passenger-detail__seat-status {
	    font-weight: 600;
	}
	.seat-char-preferred {
		color: #e47305;

		&.seat-selected {
			color: #000;
		}
	}

	.seatmap-content .seat {
		&:hover {
			color: #0254ec;
		}

		&.seat-selected {
			&:hover {
				color: white;
			}
		}
	}

	&.seatsmap-sk-page-d2{
		.label-fwz.left, .label-fwz.right{
			top: 68px !important;
		}
	}

	.accordion-seat-selection .group-title .ico-point-d {
	    top: 0px;
	}

	.button-group-1.has-btn-4 {
    	margin-right: 3px;
	}
	.text-guide{
		display: none;
	}

	.seatmap-more-seats {
		display: none;
	}
	.popup__inner {
	    width: 520px;
	}

	.popup--addon-seat-mismatch{
        .popup__heading{
            font-size: 27px;
        }
        .text-info{
            color: #000000;
        }
        .button-group-1.has-btn-4{
            margin-right: -6px;
        }
    }

    .seatmap-cabin-row.has-colgrp-nofacil.has-space-forbass.seat-inner-bassinet.green-background.first-green-bg {
	    margin-top: 10px;
	}

	.seatmap-cabin-row.has-colgrp-nofacil.has-space-forbass.green-background.last-green-bg {
	    margin-bottom: 10px;
	}

	.seat-char-bassinet:before{
		top: -53px;
	}

	.green-background:before{
		height: 55px;
    	margin-top: -4px;
	}

}
