.pass-through-cug-page {
    .grid-inner .input-3 button .ico-date{
        margin-top: 6px;
    }
    .full-banner {
        position: relative;
    }
    .book-now-btn {
        display: none;
    }
    .passenger-class-group {
        position: relative;
    }
    .accordion--promotion {
        margin-top: 0px;
        border: 1px solid #ccc;
    }
    .airport-code-from-to-container {
        border-bottom: 1px solid #ccc;
        // opacity: 0.7;
        margin-top: 10px;
        width: 125px;
        padding-bottom: 10px;
        div {
            display: inline-block;
        }
        .ico-airplane-2 {
            font-size: 18px;
        }
        .ico-airplane-2:before {
            padding-bottom: 3px;
        }
        .airport-code-from, .airport-code-to {
            color: #000;
            background-color: #fff;
            padding: 3px 8px;
            border-radius: 2px;
            font-size: 12px;
            font-weight: 700;
        }
    }

    .pass-through-promotion-detail-main-container {
        max-width: 988px;
        margin: 0 auto;
    }
    .pass-through-promotion-detail-container {
        zoom: 1;
        box-shadow: 0 3px 5px -3px #c5c4c4;
        .promotion-item__inner {
            margin-left: 0px;
            margin-top: 40px;
        }
    }
    .promo-code-top-desc-main {
        color: #fff;
        position: absolute;
        max-width: 988px;
        margin: 0 auto;
        top: 62px;
        left: 0;
        bottom: 0;
        right: 0;
        
        .applied-promo-code {
            font-family: "baker-signet-web", serif;
            .ico-check-container {
                margin-right: 5px;
            }
            .promo-code {
                font-weight: 700;
            }
        }
        .applied-promo-code-inner {
            padding-top: 7px;
            text-transform: uppercase;

            .ico-check-thick {
                width: 16px;
                height: 16px;
                color: #4A90E2;
                margin-left: 11px;
                background-color: #fff;
                border-radius: 10px;
                font-size: 8px;
            }
            .ico-check-thick:before {
                margin: 5px 4px;
            }
        }
        .promo-off-fares {
            h1 {
                font-size: 34px;
                margin-top: -4px;
            }
        }
        .promo-off-fares-description {
            border-left: 2px solid #FF9F00;
            margin-top: 15px;
            text-transform: uppercase;
            padding-left: 12px;
            font-weight: 300;
            display: table;

            .fare-deals-economy-return {
                // display: table-cell;
                td:first-child {
                    font-weight: 600;
                    font-size: 12px;
                    width: 35%;
                }
                td:first-child + td {
                    font-weight: 600;
                    font-size: 29px;
                }
            }
        }
    }
    .promotion-item__content {
        padding: 16px 45px 14px;
        h4 {
            border-bottom: 1px solid #00266B;
            color: #00266B;
            margin-bottom: 20px;
            padding-bottom: 10px;
        }
        .promotion-details-table {
            color: #000;
            width: 100%;
            tr:first-child td {
                border-top: none;
                width: 150px;
            }
            td {
                padding: 8px 0;
                vertical-align: top;
                line-height: 1.5;
            }
            td:first-child {
                font-weight: 600;
                width: 20%;
            }
            td:nth-of-type(2) {
                width: 80%;
            }
        }
        .border-bottom {
            border-bottom: 1px solid #F2F2F2;
            td {
                padding-bottom: 25px;
            }
        }
        .table-row-4,.table-row-6 {
            td {
                padding-top: 25px;
            }
        }
        .view-full-fare-condition {
            td {
                padding-top: 10px;
                padding-bottom: 25px;
            }
        }
    }
    .booking-widget-static {
        height: 160px;
        margin-bottom: 20px;
        border-bottom: none;
        box-shadow: 0 3px 5px -3px #c5c4c4;
        .booking-widget__content {
            background-color: #fff;
            padding: 16px 34px 14px;
        }
        .sub-heading-2--blue {
            border-bottom: 1px solid #00266B;
            padding-bottom: 10px;
        }
        .booking-widget__inner {
            background-color: transparent;
        }
        .booking-widget__content {
            background-color: transparent;
        }
    }
    .form-booking-widget-destination {
        padding-top: 20px;
        .custom-select--2 {
            height: 50px;
        }
        .input-3 {
            height: 50px;
        }
        .form-group:first-child {
            margin-bottom: 8px;
        }
    }
    .input-3 {
        button {
            right: 24px;
            top: 10px;
        }
    }
    .input-3__text {
        height: 50px;
        input {
            padding-left: 13px;
            font-size: 16px;
            height: 50px;
        }
    }
    .custom-select--2 {
        .select__label {
            font-weight: 700;
            color: #666;
            letter-spacing: 1px;
            top: -2px;
            max-width: 65px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 8px;
            text-transform: uppercase;
        }
        .ico-location {
            right: 20px;
            width: 9px;
            height: 8px;
            margin-top: -8px;
            position: absolute;
            top: 50%;
            // font-size: 0px;
        }
        .ico-point-d {
            right: 24px;
            width: 9px;
            // height: 8px;
            margin-top: -4px;
            position: absolute;
            top: 41%;
            font-size: 16px;
            vertical-align: top;
            color: #1C5D49;
        }
        .ico-airplane-2 {
            right: 6px;
            width: 9px;
            height: 8px;
            margin-top: -11px;
            position: absolute;
            top: 50%;
            // font-size: 0px;
            z-index: 10;
        }
        .select__text {
            padding-left: 13px;
            top: 13px;
            font-weight: 700;
            input {
                font-size: 16px;
                font-weight: 600;
                padding-left: 13px;
                height: 37px;
                // top: 13px;
            }
        }
        .ico-point-d {
            transition: none;
            transform: none;
        }
        .select__text {
            // height: 50px;
        }
    }
    .custom-select--2 {
        .ico-location:before {
            font-size: 15px;
            vertical-align: top;
            color: #ccc;
        }
        .ico-airplane-2:before {
            font-size: 21px;
            vertical-align: top;
            color: #ccc;
            border-radius: 10px;
            background-color: #fff;
        }
    }
    .booking-widget-block {
        .customer-info {
            margin-left: -10px;
            // width: calc(100% - 630px);
            width: 293px;
        }
        .button-group {
            // float: left;
            margin-right: 6px;
            input {
                padding: 20px 51px;
                width: 39%;
            }
        }
        .date-group {
            .one-half:first-child {
                margin-right: -11px;
            }
            .grid-inner {
                padding-left: 0px;
            }
        }
        .width-4 {
            width: 57%;
        }
        .width-10 {
            width: 43%;
        }
    }
    .bold-text{ 
        font-weight:700
    }
    .accordion--fare-conditions {
        box-shadow: rgb(197, 196, 196) 0px 3px 5px -3px;
        margin-bottom: 67px;
        .block-2 {
            border-bottom: none;
        }
        .sub-heading-3--blue {
            font-size: 23px;
            color: #00266B;
        }
        ol {
            -webkit-padding-start: 0px;
            color: #222;
            line-height: 1.5em;
            ul {
                li {
                    list-style-type: none;
                }
                li:before {
                    content: "•";
                    font-size: 15px;
                    padding-right: 18px;
                }
            }
            .fare-conditions-unordered-list {
                span {
                    color: #999;
                }
            }
            .list-title {
                font-weight: 600;
                display: inline;
                padding-left: 0px;
            }
        }
        .fare-condition-ordered-list-main > li {
            // padding: 20px 0 23px 0;
            padding-top: 20px;
        }
        .fare-condition-ordered-list-main > .fare-condition-list {
            list-style-type:none;
            counter-increment:item;
        }
        .fare-condition-ordered-list-main > .fare-condition-list:before {
            font-weight: 600;
            content:counter(item) ".";
            display:inline-block;
            width:1.5em;
            padding-right:0.8em;
        }
        .fare-condition-list {
            margin-left: -40px;
            ol {
                -webkit-padding-start: 15px;
                padding-left: 47px;
            }
            ul, .other-condition-note {
                padding-left: 32px;
            }
            p {
                padding-left: 32px;
                -webkit-margin-before: 0;
                -webkit-margin-after: 0;
                margin-top: 2px;
            }
        }
        .other-condition-note {
            font-weight: 600;
            margin-top: 25px;
        }
        .accordion__content {
            hr {
                -webkit-margin-start: -50px;
                -webkit-margin-end: -26px;
                opacity: 0.1;
            }
        }
        .accordion {
            padding: 0px 20px 0 44px;
        }
    }
    .accordion__control {
            padding: 12px 27px 12px 0;
        .ico-point-d {
            font-size: 13px;
             top: 49%;
        }
    }
    .grid-inner .input-3 button .ico-date{
        margin-top: 6px;
    }

    .grid-inner .input-3__text input[name="select-date-2"]{
        margin-top: 5px;
        margin-left: -60px;
        color: black;
    }

    .grid-inner .input-3__text input[name="select-date-1"]{
        margin-top: 5px;
        margin-left: -60px;
        color: black;
    }
    .date-flight-container {
        [name="btn-search-fl-depart"] {
            right: 30px;
        }
    }
}