.pass-through-aam-page {
      .pax-lightbox-select {
    display: none;
  }
    // .input-date {
    //     display: block;
    //     // border: 1px solid #ddd;
    //     // padding: 5px;
    //     padding: 0px;
    //     font-size: 14px;
    //     width: 173px;
    //     // height: 39px;
    //     height: 30px;
    //     cursor: pointer;
    //     left: 0;
    //     right: 0;
    //     color: #000;
    //     width: 100%;
    //     /* position: absolute; */
    //     top: 0;
    //     bottom: 0;
    //     /* line-height: 18px; */
    //     padding-top: 10px;
    //     padding-bottom: 10px;
    //   }
    //   .input-date-picker {
    //     border: none;
    //     // padding-left: 10px;
    //     font-size: 16px;
    //     // width: 174px;
    //     // height: 48px;
    //     /* line-height: 4; */
    //     /* top: 10px; */
    //     font-weight: 700;
    //     padding-left: 13px;
    //     height: 41px;
    //     top: 10px;
    //     box-sizing: border-box;
    //     padding-right: 35px;
    //     position: absolute;
    //     width: 100%;
    //   }
      .date-flight-container {
        .input-3 {
          padding-right: 0px;
          .input-date {
            display: block;
            // border: 1px solid #ddd;
            // padding: 5px;
            padding: 0px;
            font-size: 14px;
            width: 173px;
            // height: 39px;
            height: 30px;
            cursor: pointer;
            left: 0;
            right: 0;
            color: #000;
            width: 100%;
            /* position: absolute; */
            top: 0;
            bottom: 0;
            /* line-height: 18px; */
            padding-top: 10px;
            padding-bottom: 10px;
          }
          .input-date-picker {
            border: none;
            // padding-left: 10px;
            font-size: 16px;
            // width: 174px;
            // height: 48px;
            /* line-height: 4; */
            /* top: 10px; */
            font-weight: 700;
            padding-left: 13px;
            height: 41px;
            top: 10px;
            box-sizing: border-box;
            // padding-right: 35px;
            position: absolute;
            width: 100%;
          }
        }
      }
      .depart-date-span {
          bottom: 11px;
          left: 13px;
          color: #000;
          font-weight: 700;
          position: absolute;
      }
      .input-date::after {
        // content: "▼";
        float: right;
        font-size: smaller;
      }
      .active-preset {
        border: 1px solid #0096d9;
        color: #0096d9;
        border-radius: 3px;
      }
      .months-text {
        padding-bottom: 17px;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        text-align: center;
        font-weight: 600;
        font-size: 13px;
      }
      .months-text {
        .ico-point-l {
          float: left;
          cursor: pointer;
          width: 30px;
          height: 38px;
          font-size: 17px;
          position: absolute;
          background-color: #E5E9F0;
          top: 18px;
          left: 0px;
          color: #fff;
          border-bottom-right-radius: 2px;
          border-top-right-radius: 2px;
          &:before {
            margin-top: 0.65em;
          }
        }
        .return-date-flight {
          background-color: #E5E9F0;
          padding: 7px 14px;
          border-radius: 2px;
          top: 19px;
          color: #000;
          right: 412px;
          position: absolute;
        }
      }
      .months-text {
        .ico-point-r {
          float: right;
          cursor: pointer;
          width: 30px;
          height: 38px;
          font-size: 17px;
          position: absolute;
          background-color: #E5E9F0;
          top: 18px;
          right: 0px;
          color: #fff;
          border-bottom-right-radius: 2px;
          border-top-right-radius: 2px;
          &:before {
            margin-top: 0.65em;
          }
        }
      }
      .calendar-root,
      .calendar-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .calendar-right-to-left {
        margin-left: -460px;
      }
      .calendar {
        display: block;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        border: 1px solid #ddd;
        width: 897px;
        font-size: 12px;
        height: 300px;
        top: 52px;
        right: 5px;
        // box-shadow: -3px 4px 12px -1px #ddd;
        background: #fff;
        position: absolute;
        z-index: 9;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        .calendar-wrap {
          li.dateDisable {
            color: #ccc;
          }
        }
      }
      .calendar-head h2 {
        padding: 20px 0 0 20px;
        margin: 0;
      }
      .close:hover {
        cursor: pointer;
      }
      .close{
        float: right;
        padding: 0 10px;
        margin-top: -35px;
        font-size: 32px;
        font-weight: normal;
      }
      .calendar ul {
        list-style-type: none;
      }
      .calendar-wrap {
        display: inline-block;
        float: left;
        width: 100%;
        /* padding: 10px; */
      }
      .calendar-range {
        float: left;
        padding: 0 12px;
        border-left: 1px solid #ddd;
        margin: -2px;
      }
      .calendar-left-mobile {
        width: 100% !important;
      }
      .calendar_month_left {
        float: left;
        width: 47.6%;
        /* padding: 10px; */
        padding: 24px 10px 0px;
        height: 89%;
        border-right: 2px solid #dddddd;
        /* margin: 5px; */
      }
      .calendar_month_right {
        float: left;
        width: 47.6%;
        /* padding: 10px; */
        height: 89%;
        padding: 24px 10px 0px;
        /* margin: 5px; */
      }
      .calendar_weeks {
        margin: 0;
        padding: 10px 0;
        width: auto;
      }
      .calendar_weeks li {
        display: inline-block;
        width: 13.6%;
        color: #999;
        text-align: center;
      }
      .calendar_days {
        margin: 0;
        padding: 0;
        font-size: 13px;
        /* height: 34px; */
      }
      .calendar_days li {
        display: inline-block;
        width: 13.6%;
        /* width: 9.6%; */
        // width: 8.4%;
        // margin: 0 2.6%;
        color: #333;
        text-align: center;
        cursor: pointer;
        /* line-height: 2em; */
        line-height: 2.7em;
      }
      .calendar_preset li {
        line-height: 2.6em;
        width: auto;
        display: block;
      }
      .calendar_days li:hover {
        // background: #eee;
        // color: #000;
      }
      li.calendar_days--disabled{
         pointer-events: none;
      }
      li.calendar_days_selected {
        background: #00266B;
        color: #fff;
        border-radius: 20px;
      }
      li.calendar_days_in-range {
        background: #e8f2fe;
        color: #000;
      }
      .calendar_preset {
        padding: 0;
      }
      .calendar_preset li.calendar_preset-ranges {
        padding: 0 30px 0 10px;
        margin-bottom: 5px;
        cursor: pointer;
        margin-top: 1px;
      }
      .calendar_preset li.calendar_preset-ranges:hover {
        background: #eee;
      }
      .calendar-mobile {
        width: 260px;
        z-index: 1;
        box-shadow: none;
      }
      .calendar-range-mobile {
        width: 90%;
        padding: 2px;
        border-left: none;
        margin: -20px 0;
      }
      .calendar-btn-apply {
        width: 100%;
        background: #f7931e;
        color: #fff;
        border: none;
        padding: 5px;
        font-size: 14px;
      }

    .drop-down-from-destination {
        display: block;
        width: 510px !important;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        // top: 1164px;
        // left: 45px;
        .ui-menu-item {
            height: 25px;
            // padding: 15px 13px;
            // padding: 0px 0px !important;
            .origin-airport-name {
                -webkit-margin-before: 0em;
                -webkit-margin-after: 0em;
                margin-top: 2px;
                color: #666;
                font-size: 12px;
            }
        }
    }
    .drop-down-to-destination {
        display: block;
        width: 510px !important;
        // right: 0 !important;
        // left: 0 !important;
        // top: 1164px;
        left: 271px !important;
        .ui-menu-item {
            height: 25px;
            // padding: 0px 0px !important;
            .origin-airport-name {
                color: #666;
                margin-top: 2px;
                -webkit-margin-before: 0em;
                -webkit-margin-after: 0em;
                font-size: 12px;
            }
        }
    }
    .disable-minus-btn {
      background-color: #f2f2f2;
      color: #ccc;
      border-radius: 60%;
      height: 27px;
      width: 17px;
      vertical-align: middle;
      // background-color: #f2f2f2;
      border: none;
      padding: 1px 6px;
    }
    .disable-plus-btn {
      background-color: #f2f2f2;
      color: #ccc;
      border-radius: 60%;
      height: 27px;
      width: 17px;
      vertical-align: middle;
      border: none;
      // background-color: #2275D3;
      // color: #fff;
      padding: 1px 6px;
    }
    .passengers-booking-stepper-container {
        // background-color: #FF9F00;
        display: block;
        position: absolute;
        width: 100%;
        background-color: #fff;
        top: 51px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 6px -2px #c5c4c4;
        .adult-booking-stepper, .children-booking-stepper {
            position: relative;
            border-bottom: 2px solid #e6e6e6;
            padding: 10px 0px;
        }
        .infants-booking-stepper {
            position: relative;
            padding: 10px 0px;
        }
        .adult-stepper-description , .children-stepper-description, .infants-stepper-description{
            color: #222;
            display: inline-block;
            vertical-align: middle;
            width: 58%;
            margin-left: 12px;
            line-height: 1;
            font-size: 14px;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            p {
                -webkit-margin-before: 0.37em;
                -webkit-margin-after: 0em;
            }
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
                -webkit-appearance: none; 
                margin: 0; 
        }
        .adult-stepper-buttons {
            display: inline-block;
            vertical-align: middle;
            .stepper-button-minus {
                border-radius: 60%;
                // height: 30px;
                // width: 20px;
                height: 27px;
                width: 17px;
                vertical-align: middle;
                background-color: #2275D3;
                color: #fff;
                border: none;
                padding: 1px 6px;
            }
            .ico-plus {
                // top: 11px;
                // right: 21px;
                // display: block;
                // position: absolute;
                top: 21px;
                display: block;
                position: absolute;
                right: 15px;
            }
            .ico-minus {
                // top: 11px;
                // display: block;
                // position: absolute;
                // // color: #ccc;
                // right: 110px;
                top: 21px;
                display: block;
                position: absolute;
                right: 105px;
            }
            .passenger-stepper-input {
                width: 36px;
                height: 36px;
                margin: 0px 7px;
                text-align: center;
                border: 1px solid #ccc;
                border-radius: 2px;
                color: #222;
                font-weight: 700;
                line-height: 40px;
            }
            .stepper-button-plus {
                border-radius: 60%;
                height: 27px;
                width: 17px;
                vertical-align: middle;
                border: none;
                background-color: #2275D3;
                color: #fff;
                padding: 1px 6px;
            }
        }
        .children-stepper-buttons {
            display: inline-block;
            vertical-align: middle;
            .stepper-button-minus {
                border-radius: 60%;
                height: 27px;
                width: 17px;
                vertical-align: middle;
                background-color: #2275D3;
                color: #fff;
                border: none;
                padding: 1px 6px;
            }
            // .ico-minus, .ico-plus {
            //     top: 20px;
            //     display: block;
            //     position: absolute;
            // }
            .ico-plus {
                // top: 11px;
                // right: 21px;
                // display: block;
                // position: absolute;
                top: 21px;
                display: block;
                position: absolute;
                right: 15px;
            }
            .ico-minus {
                // top: 11px;
                // display: block;
                // position: absolute;
                // // color: #ccc;
                // right: 110px;
                top: 21px;
                display: block;
                position: absolute;
                right: 105px;
            }
            .passenger-stepper-input {
                width: 36px;
                height: 36px;
                margin: 0px 7px;
                text-align: center;
                border: 1px solid #ccc;
                border-radius: 2px;
                color: #222;
                font-weight: 700;
                line-height: 40px;
            }
            .stepper-button-plus {
                border-radius: 60%;
                height: 27px;
                width: 17px;
                vertical-align: middle;
                border: none;
                background-color: #2275D3;
                color: #fff;
                padding: 1px 6px;
            }
        }
        .infants-stepper-buttons {
            display: inline-block;
            vertical-align: middle;
            .stepper-button-minus {
                border-radius: 60%;
                height: 27px;
                width: 17px;
                vertical-align: middle;
                background-color: #2275D3;
                color: #fff;
                border: none;
                padding: 1px 6px;
            }
            // .ico-minus, .ico-plus {
            //     top: 20px;
            //     display: block;
            //     position: absolute;
            // }
            .ico-plus {
                // top: 11px;
                // right: 21px;
                // display: block;
                // position: absolute;
                top: 21px;
                display: block;
                position: absolute;
                right: 15px;
            }
            .ico-minus {
                // top: 11px;
                // display: block;
                // position: absolute;
                // // color: #ccc;
                // right: 110px;
                top: 21px;
                display: block;
                position: absolute;
                right: 105px;
            }
            .passenger-stepper-input {
                width: 36px;
                height: 36px;
                margin: 0px 7px;
                text-align: center;
                border: 1px solid #ccc;
                border-radius: 2px;
                color: #222;
                font-weight: 700;
                line-height: 40px;
            }
            .stepper-button-plus {
                border-radius: 60%;
                height: 27px;
                width: 17px;
                vertical-align: middle;
                border: none;
                background-color: #2275D3;
                color: #fff;
                padding: 1px 6px;
            }
        }
    }
    .ui-autocomplete {
        .autocomplete-item {
            .autocomplete-link {
                display: flex;
                line-height: 14px;
                .origin-city-list-container {
                    display: inline-block;
                    width: 88.5%;
                    .origin-country-name {
                        // width: 70%;
                    }
                }
                .origin-code-container {
                    // display: inline-block;
                    margin-top: 6px;
                    .origin-code { 
                        // display: inline-block;
                        // margin-top: 100px;
                        background-color: #222;
                        border-radius: 2px;
                        color: #fff;
                        font-weight: 700;
                        padding: 2px 9px;
                        // left: 100px;
                        // margin-left: 100px;
                    }
                }
            }
        }
        li:hover {
          background-color: #00266b;
          color: #fff;
          .origin-airport-name {
            color: #fff;
            -webkit-transition: all 500ms ease 0ms;
            -moz-transition: all 500ms ease 0ms;
            -o-transition: all 500ms ease 0ms;
            transition: all 500ms ease 0ms;
          }
          .autocomplete-link {
            .origin-country-name {
              color: #fff;
              -webkit-transition: all 500ms ease 0ms;
              -moz-transition: all 500ms ease 0ms;
              -o-transition: all 500ms ease 0ms;
              transition: all 500ms ease 0ms;
            }
            .origin-code-container {
              .origin-code {
                color: #00266b;
                background-color: #fff;
              }
            }
          }
        }
        .drop-down-hover-select {
          background-color: #00266b;
          color: #fff;
          .origin-airport-name {
            color: #fff;
            -webkit-transition: all 500ms ease 0ms;
            -moz-transition: all 500ms ease 0ms;
            -o-transition: all 500ms ease 0ms;
            transition: all 500ms ease 0ms;
          }
          .autocomplete-link {
            .origin-country-name {
              color: #fff;
              -webkit-transition: all 500ms ease 0ms;
              -moz-transition: all 500ms ease 0ms;
              -o-transition: all 500ms ease 0ms;
              transition: all 500ms ease 0ms;
            }
            .origin-code-container {
              .origin-code {
                color: #00266b;
                background-color: #fff;
              }
            }
          }
        }
    }
    .input-3__label {
        color: #666;
        position: absolute;
        top: -1px;
        letter-spacing: 1px;
        left: 13px;
        z-index: 1;
        max-width: 50px;
        text-transform: uppercase;
        font-size: 8px;
        font-weight: 700;
        height: 18px;
        line-height: 18px;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .full-banner {
        position: relative;
    }
    .fare-deal-banner-img {
        img {
            background-color: #000;
            -moz-opacity: 0.7;
            opacity:.7;
            filter: alpha(opacity=70);
        }
    }
    .pass-through-promotion-detail-main-container {
        max-width: 988px;
        margin: 0 auto;
    }
    .pass-through-promotion-detail-container {
        // max-width: 988px;
        // margin: 0 auto;
        zoom: 1;
        box-shadow: 0 3px 5px -3px #c5c4c4;
        .promotion-item__inner {
            margin-left: 0px;
            margin-top: 40px;
        }
    }
    .promo-code-top-desc-main {
        color: #fff;
        position: absolute;
        max-width: 988px;
        margin: 0 auto;
        top: 62px;
        left: 0;
        bottom: 0;
        right: 0;
        
        .applied-promo-code {
            background-color: #4A90E2;
            width: 230px;
            height: 30px;
            font-size: 12px;
            border-radius: 2px;
            .ico-check-container {
                // padding-top: 16px;
                margin-right: 5px;
            }
            .promo-code {
                font-weight: 700;
            }
        }
        .applied-promo-code-inner {
            padding-top: 7px;

            .ico-check-thick {
                width: 16px;
                height: 16px;
                color: #4A90E2;
                margin-left: 11px;
                background-color: #fff;
                border-radius: 10px;
                font-size: 8px;
            }
            .ico-check-thick:before {
                margin: 5px 4px;
            }
        }
        .promo-off-fares {
            margin-top: 10px;
            h1 {
                font-size: 34px;
            }
        }
        .promo-off-fares-description {
            font-size: 18px;
            border-left: 3px solid #FF9F00;
            margin-left: 7px;
            em {
                font-style: normal;
                font-weight: 700;
            }
            p {
                -webkit-margin-before: 0.7em;
                padding-left: 27px;
            }
        }
    }
    .promotion-item__content {
        padding: 16px 45px 14px;
        h4 {
            border-bottom: 1px solid #00266B;
            color: #00266B;
            margin-bottom: 20px;
            padding-bottom: 10px;
        }
        .promotion-details-table {
            color: #000;
            tr:first-child td {
                border-top: none;
                // width: 185px;
            }
            td {
                padding: 8px 0;
                vertical-align: top;
                line-height: 1.5;
            }
            td:first-child {
                font-weight: 600;
                width: 20%;
            }
            td:nth-of-type(2) {
                width: 80%;
            }
        }
        .border-bottom {
            border-bottom: 1px solid #F2F2F2;
            td {
                padding-bottom: 25px;
            }
        }
        .table-row-4,.table-row-6 {
            td {
                padding-top: 25px;
            }
        }
        .view-full-fare-condition {
            td {
                padding-top: 10px;
                padding-bottom: 25px;
            }
        }
    }
    .booking-widget-static {
        height: 228px;
        margin-bottom: 20px;
        border-bottom: none;
        box-shadow: 0 3px 5px -3px #c5c4c4;
        .booking-widget__content {
            background-color: #fff;
            padding: 16px 34px 14px;
        }
        .sub-heading-2--blue {
            border-bottom: 1px solid #00266B;
            padding-bottom: 10px;
        }
    }
    .form-booking-widget-destination {
        padding-top: 20px;
        .custom-select--2 {
            height: 50px;
        }
        .input-3 {
            height: 50px;
        }
        .flight-date-group {
            margin-bottom: 15px;
        }
    }
    .input-3 {
        button {
            right: 24px;
            top: 10px;
        }
    }
    .input-3__text {
        height: 50px;
        input {
            padding-left: 13px;
            font-size: 16px;
            height: 50px;
        }
    }
    .custom-select--2 {
        .select__label {
            font-weight: 700;
            color: #666;
            letter-spacing: 1px;
            top: -2px;
            max-width: 65px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 8px;
            text-transform: uppercase;
        }
        .ico-location {
            right: 20px;
            width: 9px;
            height: 8px;
            margin-top: -8px;
            position: absolute;
            top: 50%;
            // font-size: 0px;
        }
        .ico-point-d {
            right: 30px;
            width: 9px;
            // height: 8px;
            margin-top: -4px;
            position: absolute;
            top: 40%;
            font-size: 16px;
            vertical-align: top;
            color: #1C5D49;
        }
        .ico-point-u {
            transition: none;
            transform: none;
            right: 30px;
            width: 9px;
            // height: 8px;
            margin-top: -4px;
            position: absolute;
            top: 42%;
            font-size: 16px;
            vertical-align: top;
            color: #1C5D49;
        }
        .ico-airplane-2 {
            right: 6px;
            width: 9px;
            height: 8px;
            margin-top: -11px;
            position: absolute;
            top: 50%;
            // font-size: 0px;
            z-index: 10;
        }
        .select__text {
            padding-left: 13px;
            top: 13px;
            font-weight: 700;
            input {
                padding-left: 13px;
                height: 37px;
                // top: 13px;
            }
        }
        .ico-point-d {
            transition: none;
            transform: none;
        }
        .select__text {
            // height: 50px;
        }
    }
    .custom-select--2 {
        .ico-location:before {
            font-size: 15px;
            vertical-align: top;
            color: #ccc;
        }
        .ico-airplane-2:before {
            font-size: 21px;
            vertical-align: top;
            color: #ccc;
            background-color: #fff;
        }
        // .select__text {
        //     padding-left: 13px;
        //     top: 13px;
        //     input {
        //         padding-left: 13px;
        //         // top: 13px;
        //     }
        // }
    }
    .booking-widget-block {
        .customer-info {
            // width: calc(100% - 547px);
            width: 363px;
        }
        .flight-info {
            width: 363px;
            // width: calc(100% - 547px);
            padding-left: 5px;
        }
        .from-select {
            .ico-location {
                right: 32px;
            }
            .ico-cancel-thin {
                right: 40px;
            }
        }
        .button-group {
            input {
                padding: 20px 55px;
            }
        }
        .from-to-container {
            margin-right: -15px;
            .one-half:first-child {
                // background-color: royalblue;
                margin-right: -11px;
            }
        }
        .to-select {
            .select__label {
                left: 22px;
            }
            input {
                padding-left: 22px;
            }
        }
        .date-group {
            .one-half:first-child {
                margin-right: -11px;
                padding-left: 10px;
            }
            .one-half {
                // width: 52%;
            }
        }
        .width-4 {
            width: 57%;
        }
        .width-10 {
            width: 43%;
        }
    }
    .custom-dropdown {
        .scroll-container {
            li {
                // height: 50px;
            }
        }
    }
    .bold-text{ 
        font-weight:700
    }
    .accordion--fare-conditions {
        box-shadow: rgb(197, 196, 196) 0px 3px 5px -3px;
        margin-bottom: 67px;
        .block-2 {
            border-bottom: none;
        }
        .sub-heading-3--blue {
            // font-size: 20px;
            font-size: 23px;
            color: #00266B;
        }
        .accordion__control {
                padding: 12px 27px 12px 0;
            .ico-point-d {
                font-size: 13px !important;
                top: 49%;
            }
        }
        ol {
            -webkit-padding-start: 0px;
            color: #222;
            line-height: 1.5em;
            ul {
                li {
                    list-style-type: none;
                    // margin-left: 15px;
                }
                li:before {
                    content: "•";
                    font-size: 15px;
                    padding-right: 18px;
                }
                .fare-conditions-unordered-list {
                    // color: #999;
                }
            }
            .fare-conditions-unordered-list {
                span {
                    color: #999;
                }
            }
            .list-title {
                font-weight: 600;
                display: inline;
                padding-left: 0px;
            }
        }
        .fare-condition-ordered-list-main > li {
            // padding: 20px 0 23px 0;
            padding-top: 20px;
        }
        .fare-condition-ordered-list-main > .fare-condition-list {
            list-style-type:none;
            counter-increment:item;
        }
        .fare-condition-ordered-list-main > .fare-condition-list:before {
            font-weight: 600;
            // -webkit-padding-start: 15px;
            // padding-right: 22px;
            // text-align: right;
            content:counter(item) ".";
            display:inline-block;
            width:1.5em;
            padding-right:0.8em;
        }
        .fare-condition-list {
            margin-left: -40px;
            ol {
                -webkit-padding-start: 15px;
                padding-left: 47px;
            }
            ul, .other-condition-note {
                padding-left: 32px;
            }
            p {
                margin: 0em 0px;
                padding-left: 32px;
                -webkit-margin-before: 0;
                -webkit-margin-after: 0;
            }
        }
        // .fare-condition-list:nth-last-child(2) {
        //     p {
        //         white-space: pre-line;
        //         background-color: red;
        //     }
        // }
        .fare-condition-ordered-list-main li:first-child + li + li + li + li + li p{
            // white-space: pre-line;
        }
        .other-condition-note {
            font-weight: 600;
            margin-top: 25px;
        }
        .accordion__content {
            hr {
                -webkit-margin-start: -50px;
                -webkit-margin-end: -26px;
                -moz-opacity: 0.2;
                opacity:.2;
                filter: alpha(opacity=20);
            }
        }
        .accordion {
            padding: 0px 20px 0 44px;
        }
    }
     .form-group.grid-row.date-flight-container .input-3 .input-3__text input {
        height: 50px;
        // padding-left: 13px;
        // padding-right: 35px;
        padding: 15px 35px 4px 13px;
        position: absolute;
        left: 0;

    }
    &.ie8 .input-3 .input-3__text input {
        // padding-left: 0;
        // padding-right: 0;
        // position: static;
        position: absolute;
        padding-left: 10px;
        padding-top: 15px;
    }
}