.pax-promo-page {
    .student-promo-selection, .work-promo-selection {
        margin-top: 36px;
        color: #000000; 
        .info-box {
            margin: 10px 0px 15px 0px;
            .alert__message {
                font-weight: 700;
                color: #00266b;
                font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            }

            .alert__icon{
                padding: 4px 8px 4px 0;
                .ico-info-round-fill{
                    margin: 0;
                    margin-top: 2px;
                }
            }
        }

        .success-alert {
            padding: 8px 20px;
            .alert__icon {
                padding-top: 0px;
                .ico-success {
                    display: inline;
                    margin-top: 5px;
                    right: auto;
                    bottom: auto;
                    position: relative;
                }
            }
            .alert__message {
                    padding-top: 2px;
            }
        }


         .alert-block .alert__icon{
            vertical-align: top;
            padding: 0 20px 0 0;
        }

        .success-alert, .error-alert {
            clear: both;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .email-input-btn {
            margin-top: 5px;
        }
        .btn-1 {
            width: 25%;
            float: right;
            margin-top: -40px;
        }
        .input-1 {
            width: 60%;
            .ico-cancel-thin {
                visibility: hidden;
            }
        }
        .grid-inner {
            padding: 0px;
        }
        .promotion-title {
            font-size: 16px;
            font-weight: 600;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        }
        .email-input-btn {
            label {
                color: #000;
            }
        }
        .text-error {
            padding-left: 0px;
        }
    }
}