.ru-flows{

	.ru-flows-wrapper{
		.heading-1{
			color: black;
			width: 85%;
		}
	}

	.tabs-component{
		.tabs--1 > .tab .tab-item{
		    width: 50%;
		    height: 120px;
			background-color: #efefef;
		    a{
		    	text-transform: none;
		    	padding: 10px 20px;
		    	.main-label{
		    		margin: 0;
				    font-size: 16px;
				    color: #00266b;
		    	}

		    	.label{
		    		margin: 0;
				    line-height: 1.5;
				    font-weight: 500;
				    width: 80%;
		    	}
		    }

		    &.active{
		    	a{
		    		height: 100%;
					border-top: 5px solid #ff9f00;
				    border-left: none;
				    border-right: none;
				    background-color: #fff;
		    	}
		    }
		}

		.tab-wrapper{
			background-color: white;
			padding: 20px;

			.tab-content{
				.label{
					display: none;
				}
			}
		}
	}

	aside.popup.popup-3.popup--login{
		.popup__content{
			padding: 25px;
		}


		.form-group.form-group--tooltips {
			top: 15px;
			.custom-radio label {
			    padding-left: 18px;
			    cursor: pointer;
			}
		}
	}
}