.fare-tabs {
    .tab {
        .tab-item {
           &.active {
                a {
                    border-top-color: #f99f00;
                }
            }
        }
    }

    .show-mb-1 {
        display: none;
    }

    .fare-table {
        .fare-title {
            color: #00266b;
        }

        .th-width {
            width: 22%;
        }

        .th-width-1 {
            width: 24%;
        }

        .th-width-2 {
            width: 29%;
        }

        td {
            vertical-align: top;
        }

        .fare-description, .fare-title {
            sup {
                font-size: 8px;
            }
        }

        th {
            em {
                font-size: 14px;
                color: #9e9fa0;
                margin-top: -5px;
                position: relative;
                z-index: 2;
            }

            .ico-highlight {
                content: '';
                margin-top: -2px;
                margin-left: -20px;
                z-index: 1;
                width: 0.6em;
                height: 0.6em;
                background: #fff;
            }
        }

        .fare-tooltip {
            margin-left: 0;
        }
    }
}

.tabs-fare {
    input {
        &.input-overlay {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}
