.cib-passenger-1 {

	.travel-party-1 {
		padding-right: 40px;
		position: relative;
	    margin-bottom: 25px;
	    padding: 20px 23px;
	    background-color: #e5e9f0;
	    width: 91%;
	    margin-top: 13px;

		.travel-thumb {
		    position: absolute;
		    top: 24px;
		    left: 24px;

			.icon-kf-benefit {
				background-repeat: no-repeat;
    			display: inline-block;
			    height: 37px;
    			width: 50px;
				background-image: url("../images/icon-kf-benefit-1.png");
			}
		}

		.travel-content {
			line-height: 1.4;
			padding-left: 70px;

			.title {
				font-size: 14px;
				color: #00266b;
				font-weight: bold;
			}	
		}
	}

	.popup--cib-passenger {
	    &.popup-4 {
	      .popup__heading {
		        margin-bottom: 10px;
			}

			.popup__inner {
			    max-width: 603px;
			}
		}

		.title {
	        display: inline-block;
	        width: 100px;
		}	

		.text-info {
		    margin: 20px 0;
		    color: #000;
		    width: 94%;
	    } 
		    
		.alert__message {
		    color: #00266b;
	    }
	}



	.login-message .login-message__text{
		width: 65%;
	}

	.popup__inner {
		top: 156.5px;
    	left: 0px;
	}

	.main-intro {
	    width: 100%;
	    font-size: 14px;
	    padding-bottom: 5px;
	    padding-right: 0px;
	}

	.grid-col.form-group.full-1{
		float: left;
		margin-top: -2px;
	    margin-left: -6px;
	}


	.passenger-info__personal {
		padding-top: 20px;
	}

	.label{
		line-height: 20px;
	}

	.booking-nav__item.active .passenger-info span {
	   	 color: #00226b;
	   	 line-height: 18px;
	   	 margin-bottom: -3px;

	}

	.booking-nav__item.active .ico-point-r{
		color: #2e77fd;
	}

	.grid-inner{
		margin-right: 15px;
	}


	.login-message .login-message__text {
	    width: 89%;
	    font-size: 16px;
	}
	.ico-user{
		font-size: 73px;
	    float: left;
	    margin-top: -35px;
	    color: #00216b;
	}

	.login-message .btn-1 {
		float: right
		/*width: 6%;*/
    	/*border-radius: 3px;*/
	}

	.title-5--blue.main-title-1 {
		padding-left: 136px;
		font-size: 18px;

	}

	.custom-checkbox.custom-checkbox--1.passenger-1 {
    	margin-top: -30px;
	}

	.form-group.form-group-1.grid-row.gender-1 {
	    margin: -2px;
	    margin-top: 14px;
	    font-size: 15px;
	}

	.form__note {
		width: 89%;
	    margin-top: 38px;

		&.note-1 {
	    	line-height: 29px;
		}

		&.note-2 {
	    	color:#000;
		}
	}

	.blk-heading {
	    zoom: 1;
	    position: relative;
	    margin-bottom: 39px;
	}

	.text-info-1{
		display: block;
	}

	.text-info2 {
		display: inline-block;
	}

	.form-passenger-detail {
		.form-group-radio {
			.custom-radio {
				margin-top: 9px;
			}
		}

		.button-group-1,.form-group {
			padding-right: 0px;
		}

		.form-group-4 {
			position: relative;
    		margin-bottom: 10px;
		}

		.blk-heading {
			.sub-heading-1--blue {
			    text-transform: uppercase;
				font-size: 18px;
				font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    			font-weight: 600;

    			&.sub-heading-2 {
    				text-transform: none;
    			}
			}
		}
	}

	.passenger-info__text{
		margin-left: -3px;
		margin-bottom: 3px;
		font-size: 14px;

		&.text-3 {
			margin-left: -3px;
			font-size: 12px;
			font-weight: 500;
		}
	}

	.first{
		color:#000;
	}

	.passenger-info__personal .block-passenger-apis{
		border: none;
	}

	.passenger-info__personal .block-passenger-apis{
		padding-top: 0px;
	}

    .gigya-error-msg {
        &.gigya-error-msg-active {
            margin-left: -14px;
            color: #ff0000;
            line-height: 1.2;
        }
    }

    .input-1 {
        &.capitalize-input {
            &.input-error {
                background-color: #fef5f4;
                border-color: #ff0000;
            }
        }
    }

    .button-group-1 {
        margin-right: 15px;
    }

    [data-datepicker] {
    	top: 8px !important;
    }

    .last-name-wrap {

		.error-last-name {
			display: inline-block !important;
		}

		.gigya-error-msg {
			&.gigya-error-msg-active {
				float: left;
				margin-left: 0px;
				margin-top: 5px;
				display: none;
			}
		}
	}


    .ui-autocomplete [data-value="No results found."]:hover, 
    .ui-autocomplete [data-value="No results found."].active {
        background: transparent;
        color: black;
    }   
}