.seatsmap-sk-page-d2 {
    .label-fwz {
        text-transform: uppercase;
        position: absolute;
        top: auto;

        &.left {
            left: -48px;
        }
        &.right {
            right: -48px;
        }
    }

    .green-background {
        &:before {
            left: -60px;
            right: -60px;
            background-color: #cde5d7;
        }

    }

    .seatmap-cabin-wrapper {
        position: relative;
    }

    .forward-zone, .standard-seat {
        background-color: #1c5d49;
        color: #1c5d49;
    }

    .seat-char-preferred, .preferred-seat {
        background-color: #e47305;
    }

    .seat-status {
        .seat, .icon-annotation {
            display: inline-block;
            vertical-align: middle;
            color: #333;

            font-weight: 400;
            line-height: 1.2em;
        }

        .seat {
            margin-right: 16px;
        }

        .ico-1-bassinet {
            margin-right: 14px;
        }

        .icon-amount {
            display: block;
            line-height: 1.2em;
        }

        .forward-zone-bg {
            background-color: #cde5d7;
            width: 32px;
            height: 33px;
            margin-right: 10px;
            padding-left: 1px;
            padding-bottom: 1px;
        }
        .em.seat.forward-zone{
            width: 19px;
            height: 19px;
        }
    }

    .seat-selected {
        background-color: white;
    }

    .booking-nav__item .passenger-info {
        position: static;
        display: table-cell;
        vertical-align: middle;
        padding-right: 63px;
        font-weight: 600;
    }
}
