.smii-ru-profile-page {
    .smii-main-inner {
        margin: 65px auto 100px;
    }
    .smii-blk-head {
        margin-bottom: 40px;
    }
    .masthead, .top-info {
        .slide__left-desc {
            padding-top: 25px;
            .smii-slide__text {
                font-size: 32px;
            }
        }
        .smii-slide__text-info {
            font-size: 14px;
        }
    }
    .sub-heading-2--blue {
        font-size: 28px;
    }
    .info-details, .profile-menu, .list-confirm {
        .title {
            font-size: 15px;
        }
    }
    .active {
        .smii-body-info {
            color: #02266b;
            font-weight: 600;
        }
        .smii-head-info {
            color: #fff;
            font-weight: 600;
        }
    }
    .profile-info-container {
        padding: 20px 20px 0px 20px;
        margin-bottom: 30px;
        border-bottom: 2px solid rgb(204, 204, 204);
        background-color: #fff;
    }
    .block--earn-in-the-air {
        background-color: #fff;
    }
    .blk-heading {
        margin-bottom: 20px;
    }
    .title-condition {
        margin-top: 25px; 
        margin-bottom: 25px;
        font-size: 18px;
        color: #00266b;
        font-weight: 600;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    }
    .smii-required {
        font-size: 12px;
    }
    .form-confirm-detail {
        margin-top: 30px;
    }
    .title-inner {
        padding-top: 140px;
    }
    .title-condition {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .info-details {
        float: left; 
        width: 50%; 
        padding: 15px 0px;
    }
    .profile-menu {
        padding: 15px 0px;
    }
    .smii-head {
        line-height: 2;
    }
    .smii-image {
        height: 250px;
    }
    .inner-centered {
        text-align: center;
    }
    .description-1 {
        padding-right: 30px;
        padding-top: 30px;
    }
    .smii-list {
        padding-left: 15px;
        line-height: 1.5;
        font-size: 16px;
    }
    .button-group {
        float: right;
    }
    .first-smii {
        width: 44%;
    }
    .last-smii {
        width: 25%;
    }
    .smii-table-head {
        color: #000000;
        font-size: 13px;
    }
    .smii-popup {
        left: 930.173px;
        .smii-ico-point {
            left: 140px;
        }
        .popup-menu {
            margin-top: 40px;
            margin-bottom: 10px;
            p {
                font-size: 14px;
            }
        }
    }
    .ico-check-thick {
        font-family: 'sia';
        font-weight: bold;
        color: #ef9a1a;
        font-size: 14px;
        
          &:before {
            font-weight: bolder;
        }
    }
    .list-confirm {
        .smii-text, .smii-table-head, .first-smii{
            font-size: 14px;
        }
        .smii-date-text {
            word-spacing: .5em;
        }
    }
       .description-1-smii {
        .detail {
            font-size: 16px;
            color: #000000;
            margin-top: 12px;
            margin-bottom: 5px;
        }
        .smii-list {
             font-size: 16px;
            color: #000000;
        }
        .button-group {
            margin-top: -18px;

            .btn-1 {
                padding: 15px 25px 15px 22px;
            }
        }
    }
    .inner-centered {
        span {
            font-size: 15px;
            color: #000000;
        }
    }
    .popup--logged-profile{
         .menu-sub-outer {
           .menu-sub-inner{
                .popup__heading {
                    padding: 0!important;

                    .popup__heading-top {
                        padding-top: 20px;
                        padding-left: 20px;
                        padding-right: 18px;
                        padding-bottom: 10px;
                    }

                    .popup__heading-btm {
                        background: #f4f4f4;
                        padding-top: 13px;
                        padding-left: 20px;
                        padding-right: 18px;
                        padding-bottom: 30px;
                    }
                }
            }
         }
     }
}
