.inline-component,
.sticky-component {
	background-color: #ffffff;
	padding: 20px;
	position: relative;

	p {
		color: #00266b;
		font-size: 18px;
		font-weight: 600;
		margin: 0;
		width: 74%;
		display: inline-block;
	}

	.btn-1 {
		position: absolute;
		top: 20px;
		right: 20px;
		padding: 15px 30px;
	}
}

.sticky-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 2px 0 12px #999;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Shadow(Color=#999999, Strength=4, Direction=0);
  padding: 20px 0;
  z-index: 12;

  .inner-aside {
    max-width: 988px;
    margin: 0 auto;

    .btn-1 {
      position: relative;
      top: 0;
      right: 0;
      margin-right: 0;
      margin-left: 35px;
    }

    p {
      width: auto;
    }
  }

  &.sticky-component--btm {
		bottom: -90px;
	}

	&.sticky-component--show {
		bottom: 0;
	}
}
