.stky-bookingwidget {
	position: fixed;
	right: 0px;
	top: -3px;
	left: 0px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

	&.stky-bookingwidget--top {
		display: none;

		&.sticky-bookingwidget--show {
			display: block;
		}
	}

	z-index: 13;

	&:before{
		display: none
	}

	.booking-widget__inner {
		background: none;
		background-color: #f6f9ff;
	}

	&.stky-bookingwidget--top {
		margin-top: 0;
	}

	.booking-widget__content {
		padding: 15px 20px 10px 20px;
		max-width: 928px;
		margin: 0 auto;
		background: transparent;
		background-color: #f6f9ff;
		
		.sticky__open {
			color: #00266b;
			display: block;
			padding: 0;
			background-color: transparent;
			border: none;
			outline: none;
			text-transform: uppercase;
			font-weight: 700;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;

			.arrow-up {
				display: inline-block;
				margin-left: 8px;
				margin-bottom: 2px;
				width: 0;
				height: 0;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;

				border-top: 6px solid #00266b;
			}
		}
	}

	&.booking-widget {
		&.sticky {
			bottom: auto;
		}
	}

	.booking-widget-block {
		padding-bottom: 20px;
	}

	.bookingwdiget-sticky__close {
		line-height: 1;
		color: #000;
		font-family: "sia";
		font-size: 12px;
		font-weight: bold;
		padding: 15px;
		display: block;
		outline: none;
		background-color: transparent;
		border: none;
		z-index: 10;
		position: absolute;
		top: 5px;
		right: 0;
	}
}