.where-we-fly{
    .map{
        margin-bottom: 40px;
        position: relative;
        border: 1px solid#dadada;

        .map-display{
            width:100%;
            // z-index: -10;
        }

        .btn-back{
            position: absolute;
            top: -2px;
            font-weight: 600;
            padding: 10px 12px;
            background-color: white;
            left: 0;
        }

        .top-text{
            position: absolute;
            text-align: center;
            width: 100%;
            color: #00266b;
            font-weight: 700;
        }

        .pacific-wrapper{
            position: absolute;
            width: 185px;
            height: 116px;
            right: 50px;
            bottom: 40px;
            background-color: green;
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            opacity: 0;
        }

        .sea-wrapper{
            position: absolute;
            width: 185px;
            height: 115px;
            right: 98px;
            bottom: 154px;
            background-color: red;
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            opacity: 0;
        }

        .northasia-wrapper{
            position: absolute;
            width: 185px;
            height: 115px;
            top: 155px;
            right: 143px;
            // z-index: 1;
            background-color: orange;
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            opacity: 0;
        }

        .europe-wrapper{
            position: absolute;
            width: 531px;
            height: 187px;
            top: 28px;
            right: 24px;
            transform: rotate(-2deg);
            background-color: blue;
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            opacity: 0;
        }

        .westasia-wrapper{
            position: absolute;
            width: 296px;
            height: 224px;
            top: 224px;
            right: 274px;
            background-color: #ffdd30;
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            opacity: 0;
        }

        .america-wrapper{
            position: absolute;
            width: 158px;
            height: 80px;
            top: 182px;
            left: 130px;
            background-color: white;
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            opacity: 0;
        }
        .hover-span{
            position: absolute;
            color: #122451;
            font-weight: 700;
        }
        .southeast-asia{
            color: #00266b;
            top: 60px;
            right: -12px;
            font-size: 12px;
        }
        .southwest-pacific{
            color: #00266b;
            top: 85px;
            left: -60px;
            font-size: 12px;
        }
        .north-asia{
            color: #00266b;
            top: 94px;
            right: -14px;
            font-size: 12px;
        }
        .europe{
            color: #00266b;
            top: 95px;
            left: -12px;
            transform: rotate(2deg);
            font-size: 12px;
            letter-spacing: 1px;
        }
        .america{
            color: #00266b;
            top: 41px;
            right: -39px;
            font-size: 12px;
        }
        .africa{
            color: #00266b;
            top: 109px;
            right: -5px;
            font-size: 12px;
        }
    }

    .custom-tooltip{
        position: absolute;
        bottom: 0;
        left: 20px;
        .legend-img{
            width: 13px;
            margin-right: 3px;
            margin-bottom: 3px;
        }

        .content{
            background-color: white;
            padding: 20px;
        }

        &.active{
            em.ico-dropdown{
                margin-top: 0;
                transform: rotate(180deg);
                transition-duration: 0.2s;
            }
        }

        .tooltip-header{
            background-color: white;
            padding: 10px;
            width: 148px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            box-shadow: 2px -1px 5px -3px;
            cursor: pointer;

            p{
                margin: 0;
                color: #0254ec;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 1px;
            }

            .ico-dropdown{
                margin-top: -5px;
                transform: rotate(0deg);
                transition-duration: 0.1s;
            }
        }

        .list-of-legend{
            li{
                list-style-type: none;
                margin-bottom: 5px;
            }

            .label{
                margin-left: 10px;
                color: #00226b;
            }
            .legend-circle{
                display: inline-block;
                width: 13px;
                height: 13px;
                margin-right: 3px;
                vertical-align: middle;
                margin-bottom: 2px;
            }

            .scoot-legend{
                background: url('../images/scoot-legend.png');
                background-repeat: no-repeat;
                background-position: 50%;
            }
        
            .silkair-legend{
                background-image: url('../images/silkair-legend.png');
                background-repeat: no-repeat;
                background-position: 50%;
            }
        
            .sq-legend{
                background-image: url('../images/sq-legend.png');
                background-repeat: no-repeat;
                background-position: 50%;
            }
        }
    }

    .block-2.accordion{
        cursor: pointer;
    }
    .main-heading{
        font-size: 33px;
    }
    .tooltip .tooltip__content {
        background-color: #fff;
        padding: 20px;
        width: 142px;
    }
    .tooltip__close {
        font-family: "sia";
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 1;
        z-index: 10;
        padding: 8px;
        font-size: 9px;
        color: #000;
        font-weight: 500;
        -webkit-transform: translate3d(0, 0, 0);
    }
    .task-main-container{
        .main-text{
            color: black;
            font-size: 16px;
        }

        .scoot-legend{
            background: url('../images/scoot-legend-small.png');
            background-repeat: no-repeat;
           
        }
    
        .silkair-legend{
            background-image: url('../images/silkair-legend-small.png');
            background-repeat: no-repeat;
        }
    
        .sq-legend{
            background-image: url('../images/sq-legend-small.png');
            background-repeat: no-repeat;
        }

        .legend-list{
            float: right;
            margin-top: -20px;
            li{
                list-style-type: none;
                display: inline;
                padding-left: 30px;
                font-size: 13px;
                position: relative; 

                span{
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    margin-right: 3px;
                }
            }
        }

        .view-by-list{
            .main-heading{
                font-size: 22px;
            }
        }

        .accordion-list{
            ul{
                float: left;
                width: 25%;
                margin: 0 0 20px;
    
                li{
                    list-style-type: none;
                    margin-bottom: 8px;
                    a{
                        margin-right: 5px;
                    }
                }
    
                span{
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    margin-right: 3px;
                    background-position: 0% 100%;
                }
            }
        }

    }
    .accordion-component {
        margin-top: 24px;

        .sub-heading-3--dark{
            color: #00226b;
        }

        em{
            color: #0254ec;
            top: 42%;
        }
    }

    .accordion__control {
        padding: 15px 27px 15px 0;
    }
}